Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

feat(search-selector): 複数選択に対応，スタイルを修正
  packages/styles/bases/search-selector.css.ts
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.vue
Labels: none

docs(search-selector): 複数選択時のstorybookを追加
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.stories.ts
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.stories.ts
Labels: 🎨 story

feat(icon): add-circle-iconを追加
  packages/constants/component/name.ts
  packages/wiz-ui-next/src/components/icons/add-circle.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui/src/components/icons/add-circle.vue
  packages/wiz-ui/src/components/icons/index.ts
Labels: none

fix(popup): 回り込みがうまく動作しないバグの修正
  packages/styles/bases/popup.css.ts
  packages/wiz-ui-next/src/components/base/popup/popup.vue
  packages/wiz-ui/src/components/base/popup/popup.vue
Labels: none

fix(popup): stories.tsにてディレクティブにdirectionとgapの付け忘れを修正
  packages/wiz-ui-next/src/components/base/popup/popup.stories.ts
  packages/wiz-ui/src/components/base/popup/popup.stories.ts
Labels: 🎨 story

fix(popup): 回り込みがうまく動作しない問題の修正
  packages/styles/bases/popup.css.ts
  packages/wiz-ui-next/src/components/base/popup/popup.vue
  packages/wiz-ui/src/components/base/popup/popup.vue
Labels: none

feat(snackbar): snackbarの実装 (vue3)
  packages/constants/component/name.ts
  packages/styles/bases/snackbar.css.ts
  packages/wiz-ui-next/src/components/base/index.ts
  packages/wiz-ui-next/src/components/base/snackbar/index.ts
  packages/wiz-ui-next/src/components/base/snackbar/snackbar-controller.vue
  packages/wiz-ui-next/src/components/base/snackbar/snackbar.stories.ts
  packages/wiz-ui-next/src/components/base/snackbar/snackbar.vue
  packages/wiz-ui-next/src/components/base/snackbar/types.ts
  packages/wiz-ui-next/src/hooks/use-snackbar.ts
Labels: 🎨 story

feat(snackbar): アニメーションがぬるぬる動くよう修正
  packages/styles/bases/snackbar.css.ts
  packages/wiz-ui-next/src/components/base/snackbar/snackbar-controller.vue
  packages/wiz-ui-next/src/components/base/snackbar/snackbar.vue
Labels: none

fix(snackbar): storybookでsnackbarがfixedで表示されてしまう問題の解消
  packages/styles/bases/snackbar.css.ts
  packages/wiz-ui-next/src/components/base/snackbar/snackbar.stories.ts
  packages/wiz-ui-next/src/components/base/snackbar/snackbar.vue
Labels: 🎨 story

fix(snackbar): snackbarを実際に削除するまでにかかる時間を修正
  packages/wiz-ui-next/src/components/base/snackbar/snackbar.vue
Labels: none

feat(snackbar): snackbarのvue2対応
  packages/wiz-ui/src/components/base/index.ts
  packages/wiz-ui/src/components/base/snackbar/index.ts
  packages/wiz-ui/src/components/base/snackbar/snackbar-controller.vue
  packages/wiz-ui/src/components/base/snackbar/snackbar.stories.ts
  packages/wiz-ui/src/components/base/snackbar/snackbar.vue
  packages/wiz-ui/src/components/base/snackbar/types.ts
  packages/wiz-ui/src/hooks/use-snackbar.ts
Labels: 🎨 story

fix(snackbar): defaultValueからargsの書き方へ変更
  packages/wiz-ui-next/src/components/base/snackbar/snackbar.stories.ts
Labels: 🎨 story

feat(snackbar): useSnackbarをライブラリからimportできるよう更新
  packages/wiz-ui-next/src/hooks/index.ts
  packages/wiz-ui-next/src/index.ts
  packages/wiz-ui/src/hooks/index.ts
  packages/wiz-ui/src/index.ts
Labels: none

refactor(snackbar): 不要になったスタイルの削除
  packages/styles/bases/snackbar.css.ts
Labels: none

refactor(snackbar): 不要になったexportの削除
  packages/wiz-ui-next/src/hooks/index.ts
  packages/wiz-ui/src/hooks/index.ts
Labels: none

refactor(snackbar): 不要になったスタイルの削除
  packages/styles/bases/snackbar.css.ts
Labels: none

release: v0.7.2
  packages/wiz-ui-next/package.json
  packages/wiz-ui-next/src/index.ts
  packages/wiz-ui/package.json
  packages/wiz-ui/src/index.ts
Labels: ⬆️ dependencies

fix(snackbar): buttonのpaddingを0に設定
  packages/styles/bases/snackbar.css.ts
Labels: none

feat(icon): add-circle-buttonの修正
  packages/wiz-ui-next/src/components/icons/add-circle.vue
  packages/wiz-ui/src/components/icons/add-circle.vue
Labels: none

feat(search-selector): 隙間を埋めるようにinputの幅を伸縮させる
  packages/styles/bases/search-selector.css.ts
Labels: none

feat(search-selector): v0.7.2対応
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.vue
Labels: none

fix(search-selector): 追加時のアイコンのサイズの調整
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
Labels: none

refactor(search-selector): 不要な無名関数の削除
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
Labels: none

fix(search-selector): keyの貼り方を修正
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
Labels: none

refactor(search-selector): 不要なlogの削除
  packages/wiz-ui-next/src/components/base/inputs/search-selector/levenshtein-distance.ts
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.stories.ts
  packages/wiz-ui/src/components/base/inputs/search-selector/levenshtein-distance.ts
Labels: 🎨 story

fix(search-selector): cursorのスタイル周りの調整
  packages/styles/bases/search-selector.css.ts
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
Labels: none

fix(search-selector): 無駄にあたっていてheightの削除
  packages/styles/bases/search-selector.css.ts
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
Labels: none

fix(search-selector): placeholderのcolorを修正
  packages/styles/bases/search-selector.css.ts
Labels: none

fix(search-selector): selectorのtoggleが機能しないバグの修正
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
Labels: none

refactor(search-selector): deepCopyの型修正
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
Labels: none

feat(search-selector): optionの追加機能をディレクティブで指定できるようにした
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
Labels: none

refactor(search-selector): selectNewLabelをaddに変更
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.stories.ts
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.vue
Labels: 🎨 story

refactor(search-selector): clearをunselectに変更
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.stories.ts
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.vue
Labels: 🎨 story

fix(search-selector): 日本語を追加したときにlabelやoptionの高さが変わる問題の修正
  packages/styles/bases/search-selector.css.ts
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
Labels: none

refactor(search-selector): 三項演算子 & 高階関数でなにをやっているかわかりにくい処理の明確化
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
Labels: none

fix(search-selector): これまでの修正のvue2の対応
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.vue
Labels: none

fix(search-selector): addableの初期値をfalseに変更
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.vue
Labels: none

feat(search-selector): addable機能追加につきstorybookの全体的な書き換え
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.stories.ts
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.stories.ts
Labels: 🎨 story

refactor(search-selector): 不要なディレクティブの削除
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.vue
Labels: none

refactor(search-selector): 不要なインデックスの削除
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.vue
Labels: none

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"
