Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"

feat(wiz-ui-react): setting typescript, vite, storybook
  packages/wiz-ui-react/.storybook/assets/global.css
  packages/wiz-ui-react/.storybook/assets/images/gradient.png
  packages/wiz-ui-react/.storybook/main.js
  packages/wiz-ui-react/.storybook/manager.js
  packages/wiz-ui-react/.storybook/preview-head.html
  packages/wiz-ui-react/.storybook/preview.js
  packages/wiz-ui-react/.storybook/wizTheme.js
  packages/wiz-ui-react/tsconfig.json
  packages/wiz-ui-react/vite.config.ts
Labels: none

Revert "Version Packages"
  .changeset/bright-moons-allow.md
  packages/wiz-ui-next/CHANGELOG.md
  packages/wiz-ui-next/package.json
  packages/wiz-ui/CHANGELOG.md
  packages/wiz-ui/package.json
Labels: ⬆️ dependencies

feat(wiz-ui-react): add text-button component
  packages/wiz-ui-react/.storybook/main.js
  packages/wiz-ui-react/package.json
  packages/wiz-ui-react/src/components/base/button/index.ts
  packages/wiz-ui-react/src/components/base/button/text/components/index.ts
  packages/wiz-ui-react/src/components/base/button/text/components/text-button.tsx
  packages/wiz-ui-react/src/components/base/button/text/index.ts
  packages/wiz-ui-react/src/components/base/button/text/stories/text-button.stories.tsx
  packages/wiz-ui-react/src/components/base/index.ts
  packages/wiz-ui-react/src/components/index.ts
  packages/wiz-ui-react/src/index.ts
  yarn.lock
Labels: ⬆️ dependencies

chore(dep): update storybook to latest version
  packages/wiz-ui-next/package.json
  packages/wiz-ui/package.json
Labels: ⬆️ dependencies

ci(publish): create wiz-ui publisher with changeset
  .changeset/bright-moons-allow.md
  .github/workflows/publish-check-vue3.yml
  .github/workflows/publish-library-vue2.yml
  .github/workflows/publish-library-vue3.yml
  .github/workflows/publish-library.yml
  .github/workflows/release.yml
  package.json
Labels: 🏭 ci, ⬆️ dependencies

release: prepare for v0.1.4
  .changeset/four-numbers-peel.md
Labels: none

fix(storybook): reactでのsbの書きかたをCSF3に変更
  packages/wiz-ui-react/src/components/base/button/text/stories/text-button.stories.tsx
Labels: none

feat(wiz-ui-react): いくらかrootにスリプト追加
  package.json
Labels: ⬆️ dependencies

ci(bundle-analyzer): add wiz-ui-react
  .github/workflows/bundle-analyze.yml
Labels: 🏭 ci

refactor(wiz-ui-react): move button to buttons
  packages/wiz-ui-react/src/components/base/buttons/index.ts
  packages/wiz-ui-react/src/components/base/buttons/text/components/index.ts
  packages/wiz-ui-react/src/components/base/buttons/text/components/text-button.tsx
  packages/wiz-ui-react/src/components/base/buttons/text/index.ts
  packages/wiz-ui-react/src/components/base/buttons/text/stories/text-button.stories.tsx
  packages/wiz-ui-react/src/components/base/index.ts
Labels: none

feat: add pnpm
  pnpm-lock.yaml
  pnpm-workspace.yaml
  yarn.lock
Labels: none

feat: configure pnpm
  package.json
Labels: ⬆️ dependencies

feat: add + configure turbopack
  .gitignore
  package.json
  pnpm-lock.yaml
  turbo.json
Labels: ⬆️ dependencies

refactor(dep): それぞれのパッケージの依存関係を整理
  docs/package.json
  examples/vue2/package.json
  examples/vue3/package.json
  packages/styles/package.json
  packages/vuepress-plugin-wiz-ui/package.json
  packages/wiz-ui-next/package.json
  packages/wiz-ui/package.json
Labels: ⬆️ dependencies

fix: pnpm化による型解決にあやかっちゃう
  packages/wiz-ui-next/src/components/base/anchor/anchor.vue
  packages/wiz-ui-next/tsconfig.json
  packages/wiz-ui/src/components/base/anchor/anchor.vue
Labels: none

fix: pnpmのmodule管理にstorybookを対応させる
  package.json
  pnpm-lock.yaml
Labels: ⬆️ dependencies

fix: pnpmのmodule管理にあやかり依存関係を整理
  examples/vue2/package.json
  examples/vue3/package.json
  package.json
  packages/styles/package.json
  packages/wiz-ui-next/package.json
  packages/wiz-ui/package.json
  pnpm-lock.yaml
Labels: ⬆️ dependencies

fix(wiz-ui): remove "storybook-vue-router"
  packages/wiz-ui-next/src/components/base/anchor/anchor.stories.ts
  packages/wiz-ui/src/components/base/anchor/anchor.stories.ts
  packages/wiz-ui/src/components/base/navigation/container.stories.ts
  packages/wiz-ui/src/components/base/navigation/item.stories.ts
  packages/wiz-ui/src/components/base/navigation/item.vue
  pnpm-lock.yaml
Labels: 🎨 story

chore(dep): @ types/reactの追加
  packages/wiz-ui-react/package.json
  yarn.lock
Labels: ⬆️ dependencies

feat: コマンドを整理
  package.json
  packages/wiz-ui-next/package.json
  packages/wiz-ui/package.json
  turbo.json
Labels: ⬆️ dependencies

style: format
  .github/ISSUE_TEMPLATE/バグレポート.md
  .github/ISSUE_TEMPLATE/機能追加.md
  .github/PULL_REQUEST_TEMPLATE.md
  MIGRATION.md
  README.md
  docs/src/component/base/dialog.md
  docs/src/component/index.md
  docs/src/guide/contributing.md
  docs/src/guide/develop.md
  docs/src/guide/index.md
  docs/src/index.md
Labels: 🏭 ci, 📝 docs

chore: nohoistにwiz-ui-reactを追加
  package.json
Labels: ⬆️ dependencies

chore(dep): resolve peer dependencies
  package.json
  packages/wiz-ui-next/package.json
  packages/wiz-ui/package.json
  pnpm-lock.yaml
Labels: ⬆️ dependencies

ci: fix prepare node with pnpm
  .github/composite/prepare_node/action.yml
  .github/workflows/build-check.yml
  .github/workflows/deploy-storybook.yml
  .github/workflows/deploy-vitest.yml
  .github/workflows/lint.yml
  .github/workflows/publish-library.yml
  .github/workflows/test.yml
  .github/workflows/visual-regression-test.yml
Labels: 🏭 ci

chore(dep): add jsdom for interaction test on vitest
  package.json
  pnpm-lock.yaml
Labels: ⬆️ dependencies

docs: update docs command, use pnpm
  README.md
  docs/src/guide/setup.md
Labels: 📝 docs

ci: update commands with pnpm
  .github/workflows/build-check.yml
  .github/workflows/deploy-storybook.yml
  .github/workflows/deploy-vitest.yml
  .github/workflows/lint.yml
  .github/workflows/publish-library.yml
  .github/workflows/test.yml
  .github/workflows/visual-regression-test.yml
  package.json
Labels: 🏭 ci, ⬆️ dependencies

fix(sb): storybook-vue-routerを消したので遷移ロジックを削除
  packages/wiz-ui/src/components/base/navigation/container.stories.ts
  packages/wiz-ui/src/components/base/navigation/item.stories.ts
Labels: 🎨 story

fix(wiz-ui-react): resolve deps, update script for pnpm
  packages/wiz-ui-react/package.json
  pnpm-lock.yaml
Labels: ⬆️ dependencies

fix(wiz-ui-next): storybook type error
  packages/wiz-ui-next/src/components/custom/form/control.stories.ts
  packages/wiz-ui/src/components/custom/form/control.stories.ts
Labels: 🎨 story

chore(turborepo): update output cache folder
  turbo.json
Labels: none

fix(sb): sb7の使用でargsにdataがあるとエラるのでTemplate時点で挿入
  packages/wiz-ui-next/src/components/base/graphs/circle/circle.stories.ts
  packages/wiz-ui-next/src/components/base/graphs/poll/poll.stories.ts
  packages/wiz-ui-next/src/components/base/graphs/transition/transition.stories.ts
Labels: 🎨 story

feat(wiz-ui-icons): merge時に消えたコマンドをpnpm対応
  packages/icons/package.json
Labels: ⬆️ dependencies

chore(changeset): v0.1.5
  .changeset/weak-wasps-reply.md
Labels: none

ci(publish): fix node-auth in publishing library action
  .github/workflows/publish-library.yml
Labels: 🏭 ci

ci(bundle-analyze): adapt to pnpm
  .github/workflows/bundle-analyze.yml
Labels: 🏭 ci

ci(bundle-analyze): update build command
  .github/workflows/bundle-analyze.yml
Labels: 🏭 ci

refactor(icons): rewrite in typescript
  packages/icons/package.json
  packages/icons/scripts/build.ts
  packages/icons/tsconfig.json
Labels: ⬆️ dependencies

refactor(icons): 不要なnpmスクリプトを削除
  packages/icons/package.json
  pnpm-lock.yaml
Labels: ⬆️ dependencies

fix(icons): ts-node単体でエイリアスが効かない
  packages/icons/tsconfig.json
Labels: none
