Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

fix(accordion): ロード直後のクリックでアイコンが回転しない問題の修正
  packages/wiz-ui-next/src/components/base/accordion/accordion.vue
  packages/wiz-ui/src/components/base/accordion/accordion.vue
Labels: none

refactor(accordion): 定数をアッパースネークケースに修正
  packages/wiz-ui-next/src/components/base/accordion/accordion.vue
  packages/wiz-ui-next/src/components/base/accordion/animation-configuration.ts
  packages/wiz-ui/src/components/base/accordion/accordion.vue
  packages/wiz-ui/src/components/base/accordion/animation-configuration.ts
Labels: none

refactor(accordion): 型指定
  packages/wiz-ui-next/src/components/base/accordion/accordion.vue
  packages/wiz-ui-next/src/components/base/accordion/animation-configuration.ts
  packages/wiz-ui/src/components/base/accordion/accordion.vue
  packages/wiz-ui/src/components/base/accordion/animation-configuration.ts
Labels: none

feat(accordion): フェード効果を設定しない
  packages/wiz-ui-next/src/components/base/accordion/animation-configuration.ts
  packages/wiz-ui/src/components/base/accordion/animation-configuration.ts
Labels: none

fix(accordion): width style
  packages/wiz-ui-next/src/components/base/accordion/accordion.vue
  packages/wiz-ui/src/components/base/accordion/accordion.vue
Labels: none

docs(accordion): 背景色が白色のパターンを追加
  packages/wiz-ui-next/src/components/base/accordion/accordion.stories.ts
  packages/wiz-ui/src/components/base/accordion/accordion.stories.ts
Labels: 🎨 story

feat(accordion): 展開方向を上向きか下向きか選択可能にする
  packages/wiz-ui-next/src/components/base/accordion/accordion.vue
  packages/wiz-ui/src/components/base/accordion/accordion.vue
Labels: none

feat(accordion): v-stackで実装（仮）
  packages/wiz-ui-next/src/components/base/accordion/accordion.vue
  packages/wiz-ui/src/components/base/accordion/accordion.vue
Labels: none

docs(accordion): 展開方向，色違い，最初から開いているパターン追加
  packages/wiz-ui-next/src/components/base/accordion/accordion.stories.ts
  packages/wiz-ui/src/components/base/accordion/accordion.stories.ts
Labels: 🎨 story

feat(accordion): paddingオプションを追加
  packages/wiz-ui-next/src/components/base/accordion/accordion.vue
  packages/wiz-ui/src/components/base/accordion/accordion.vue
Labels: none

docs(accordion): paddingを設定するパターンを追加
  packages/wiz-ui-next/src/components/base/accordion/accordion.stories.ts
  packages/wiz-ui/src/components/base/accordion/accordion.stories.ts
Labels: 🎨 story

feat(popup-button-group): disabled option
  packages/styles/bases/popup-button-group.css.ts
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.vue
Labels: none

docs(popup-button-group): disabledパターンを追加
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.stories.ts
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.stories.ts
Labels: 🎨 story

fix(search-selector): disabled時のbackgroundColorを修正
  packages/styles/bases/search-selector.css.ts
Labels: none

feat(popup-button-group): ボタンごとにDisabledを設定可能にする
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui-next/src/components/base/popup-button-group/types.ts
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui/src/components/base/popup-button-group/types.ts
Labels: none

docs(popup-button-group): 個別にDisabledにするパターンを追加
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.stories.ts
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.stories.ts
Labels: 🎨 story

feat(popup-button-group): disabledなButtonGroupを表示
  packages/wiz-ui-next/src/components/base/navigation/item.vue
  packages/wiz-ui/src/components/base/navigation/item.vue
Labels: none

refactor(accordion): lower camel caseに変更
  packages/styles/bases/accordion.css.ts
  packages/wiz-ui-next/src/components/base/accordion/accordion.vue
  packages/wiz-ui/src/components/base/accordion/accordion.vue
Labels: none

refactor(accordion): 不要なアニメーションのプロパティを削除
  packages/wiz-ui-next/src/components/base/accordion/animation-configuration.ts
  packages/wiz-ui/src/components/base/accordion/animation-configuration.ts
Labels: none

fix(accordion): アコーディオン周りの不具合を修正
  packages/styles/bases/accordion.css.ts
  packages/wiz-ui-next/src/components/base/accordion/accordion.vue
  packages/wiz-ui-next/src/components/base/accordion/animation-configuration.ts
Labels: none

docs(accordion): paddingやexpandのoption削除に伴うstoryに修正
  packages/wiz-ui-next/src/components/base/accordion/accordion.stories.ts
Labels: 🎨 story

fix(accordion): アコーディオン周りの不具合のvue2対応
  packages/wiz-ui/src/components/base/accordion/accordion.stories.ts
  packages/wiz-ui/src/components/base/accordion/accordion.vue
Labels: 🎨 story

docs(accordion): MultipleTemplate時に発生するpropsエラーの修正
  packages/wiz-ui-next/src/components/base/accordion/accordion.stories.ts
Labels: 🎨 story

release: v0.7.6
  packages/wiz-ui-next/package.json
  packages/wiz-ui-next/src/index.ts
  packages/wiz-ui/package.json
  packages/wiz-ui/src/index.ts
Labels: ⬆️ dependencies

feat(show-more-less): add WizShowMoreLess
  packages/constants/component/name.ts
  packages/styles/bases/show-more-less.css.ts
  packages/wiz-ui-next/src/components/base/show-more-less/animation-configuration.ts
  packages/wiz-ui-next/src/components/base/show-more-less/index.ts
  packages/wiz-ui-next/src/components/base/show-more-less/show-more-less.vue
  packages/wiz-ui/src/components/base/index.ts
  packages/wiz-ui/src/components/base/show-more-less/animation-configuration.ts
  packages/wiz-ui/src/components/base/show-more-less/index.ts
  packages/wiz-ui/src/components/base/show-more-less/show-more-less.vue
Labels: none

docs(show-more-less): add stories
  packages/wiz-ui-next/src/components/base/show-more-less/show-more-less.stories.ts
  packages/wiz-ui/src/components/base/show-more-less/show-more-less.stories.ts
Labels: 🎨 story

feat(show-more-less): animation
  packages/styles/bases/show-more-less.css.ts
  packages/wiz-ui-next/src/components/base/show-more-less/show-more-less.vue
  packages/wiz-ui/src/components/base/show-more-less/show-more-less.vue
Labels: none

feat(show-more-less): 背景色と文字色を選択できるように修正
  packages/styles/bases/show-more-less.css.ts
  packages/wiz-ui-next/src/components/base/show-more-less/show-more-less.stories.ts
  packages/wiz-ui-next/src/components/base/show-more-less/show-more-less.vue
  packages/wiz-ui/src/components/base/show-more-less/show-more-less.stories.ts
  packages/wiz-ui/src/components/base/show-more-less/show-more-less.vue
Labels: 🎨 story

feat(accordion): 背景色と文字色を選択できるように修正
  packages/styles/bases/accordion.css.ts
  packages/wiz-ui-next/src/components/base/accordion/accordion.stories.ts
  packages/wiz-ui-next/src/components/base/accordion/accordion.vue
  packages/wiz-ui/src/components/base/accordion/accordion.stories.ts
  packages/wiz-ui/src/components/base/accordion/accordion.vue
Labels: 🎨 story

refactor(show-more-less): styleの変数名を修正
  packages/styles/bases/show-more-less.css.ts
  packages/wiz-ui-next/src/components/base/show-more-less/show-more-less.vue
  packages/wiz-ui/src/components/base/show-more-less/show-more-less.vue
Labels: none

release: v0.7.7
  packages/wiz-ui-next/package.json
  packages/wiz-ui-next/src/index.ts
  packages/wiz-ui/package.json
  packages/wiz-ui/src/index.ts
Labels: ⬆️ dependencies

feat(skeleton): 角の丸さを調整できるようにする
  packages/styles/bases/skeleton.css.ts
  packages/wiz-ui-next/src/components/base/skeleton/skeleton.vue
  packages/wiz-ui/src/components/base/skeleton/skeleton.vue
Labels: none

docs(skeleton): 角が丸いパターンを追加
  packages/wiz-ui-next/src/components/base/skeleton/skeleton.stories.ts
  packages/wiz-ui/src/components/base/skeleton/skeleton.stories.ts
Labels: 🎨 story

fix(date-picker): valueに修正
  packages/wiz-ui/src/components/base/inputs/date-picker/date-picker.stories.ts
Labels: 🎨 story

docs(radio): storyにて打ち消し線が表示されないバグの修正
  packages/wiz-ui-next/src/components/base/inputs/radio/radio.stories.ts
  packages/wiz-ui/src/components/base/inputs/radio/radio.stories.ts
Labels: 🎨 story

[#414] fix: build error
  packages/wiz-ui/src/components/base/inputs/search/search-popup.vue
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.vue
Labels: none

feat(popup): body要素以外もscrollイベントが発火できるようにした
  packages/wiz-ui-next/src/components/base/popup/popup-container.vue
  packages/wiz-ui-next/src/components/base/popup/popup.vue
  packages/wiz-ui-next/src/hooks/use-scroll.ts
  packages/wiz-ui/src/components/base/popup/popup-container.vue
  packages/wiz-ui/src/components/base/popup/popup.vue
  packages/wiz-ui/src/hooks/use-scroll.ts
Labels: none

[#446] feat: add open tab in selectbox
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.vue
  packages/wiz-ui/src/components/base/inputs/selectbox/selectbox.stories.ts
  packages/wiz-ui/src/components/base/inputs/selectbox/selectbox.vue
Labels: 🎨 story

docs(select-box): long labelからセレクターを1つ削除
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.stories.ts
  packages/wiz-ui/src/components/base/inputs/selectbox/selectbox.stories.ts
Labels: 🎨 story

fix(chat-card): chat-cardの高さが変わった際に変数の値が更新されずに表示がバグる問題の解消
  packages/wiz-ui-next/src/components/custom/chat/card/chat-card.vue
  packages/wiz-ui/src/components/custom/chat/card/chat-card.vue
Labels: none

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"
