Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

fix(icon-gen): 余計な拡張子パターンを削除
  packages/icons/package.json
Labels: ⬆️ dependencies

feat(compare-graph): 単位を表示可能にする
  packages/wiz-ui-next/src/components/base/graphs/compare/compare.vue
  packages/wiz-ui/src/components/base/graphs/compare/compare.vue
Labels: none

docs(compare-graph): 単位を表示するパターンを追加
  packages/wiz-ui-next/src/components/base/graphs/compare/compare.stories.ts
  packages/wiz-ui/src/components/base/graphs/compare/compare.stories.ts
Labels: 🎨 story

feat(compare-graph): 縦軸ラベルの最大値を設定可能にする
  packages/wiz-ui-next/src/components/base/graphs/compare/compare.vue
  packages/wiz-ui/src/components/base/graphs/compare/compare.vue
Labels: none

docs(compare-graph): 縦軸最大値を設定するパターンを追加
  packages/wiz-ui-next/src/components/base/graphs/compare/compare.stories.ts
  packages/wiz-ui/src/components/base/graphs/compare/compare.stories.ts
Labels: 🎨 story

docs(compare-graph): CODE_TEMPLATEを修正
  packages/wiz-ui-next/src/components/base/graphs/compare/compare.stories.ts
  packages/wiz-ui/src/components/base/graphs/compare/compare.stories.ts
Labels: 🎨 story

fix(compare-graph): key指定
  packages/wiz-ui-next/src/components/base/graphs/compare/bar.vue
  packages/wiz-ui-next/src/components/base/graphs/compare/compare.vue
  packages/wiz-ui-next/src/components/base/graphs/compare/types.ts
  packages/wiz-ui/src/components/base/graphs/compare/bar.vue
  packages/wiz-ui/src/components/base/graphs/compare/compare.vue
  packages/wiz-ui/src/components/base/graphs/compare/types.ts
Labels: none

docs(compare-graph): storybookを更新
  packages/wiz-ui-next/src/components/base/graphs/compare/compare.stories.ts
  packages/wiz-ui/src/components/base/graphs/compare/compare.stories.ts
Labels: 🎨 story

feat(compare-graph): 縦軸ラベルを切り上げで設定する機能を追加
  packages/wiz-ui-next/src/components/base/graphs/compare/compare.vue
  packages/wiz-ui/src/components/base/graphs/compare/compare.vue
Labels: none

docs(compare): データの最大値を変更、パターンを追加
  packages/wiz-ui-next/src/components/base/graphs/compare/compare.stories.ts
  packages/wiz-ui/src/components/base/graphs/compare/compare.stories.ts
Labels: 🎨 story

refactor(compare-graph): unitにプロパティ名を変更
  packages/wiz-ui-next/src/components/base/graphs/compare/compare.stories.ts
  packages/wiz-ui-next/src/components/base/graphs/compare/compare.vue
  packages/wiz-ui/src/components/base/graphs/compare/compare.stories.ts
  packages/wiz-ui/src/components/base/graphs/compare/compare.vue
Labels: 🎨 story

fix(snackbar): providerからsnackbarを出力
  packages/wiz-ui-next/src/components/base/snackbar/snackbar-controller.vue
  packages/wiz-ui-next/src/components/manager/provider.vue
  packages/wiz-ui-next/src/hooks/use-global-provider.ts
  packages/wiz-ui-next/src/hooks/use-snackbar.ts
  packages/wiz-ui/src/components/base/snackbar/snackbar-controller.vue
  packages/wiz-ui/src/components/manager/provider.vue
  packages/wiz-ui/src/hooks/use-global-provider.ts
  packages/wiz-ui/src/hooks/use-snackbar.ts
Labels: none

docs(snackbar): storybookを更新
  packages/wiz-ui-next/src/components/base/snackbar/snackbar.stories.ts
  packages/wiz-ui/src/components/base/snackbar/snackbar.stories.ts
Labels: 🎨 story

chore(changeset): @wizleap-inc/wiz-ui-ui, next
  .changeset/healthy-numbers-hang.md
Labels: none

feat(text-button): icon設定機能を追加
  packages/styles/bases/text-button.css.ts
  packages/wiz-ui-react/src/components/base/buttons/text/components/text-button.tsx
Labels: none

docs(text-button): iconを設定するパターンを追加
  packages/wiz-ui-react/src/components/base/buttons/text/stories/text-button.stories.tsx
Labels: none

chore(changeset): @wizleap-inc/wiz-ui-react
  .changeset/nasty-wolves-press.md
Labels: none

feat(tiny-button): icon設定機能追加
  packages/wiz-ui-react/src/components/base/buttons/tiny/components/tiny-button.tsx
Labels: none

docs(tiny-button): iconのstoryを追加
  packages/wiz-ui-react/src/components/base/buttons/tiny/stories/tiny-button.stories.tsx
Labels: none

chore(icon): change directory
  packages/wiz-ui-react/src/components/base/icon/components/icon.tsx
  packages/wiz-ui-react/src/components/base/icon/components/index.ts
  packages/wiz-ui-react/src/components/base/icon/index.ts
  packages/wiz-ui-react/src/components/base/icon/stories/icon.stories.tsx
Labels: none

chore(icon): fix import
  packages/wiz-ui-react/src/components/base/buttons/index.ts
  packages/wiz-ui-react/src/components/base/index.ts
  packages/wiz-ui-react/src/components/index.ts
Labels: none

chore(changeset): @wizleap-inc/wiz-ui-react
  .changeset/many-eggs-smell.md
Labels: none

feat(popup): react対応
  packages/wiz-ui-react/package.json
  packages/wiz-ui-react/src/components/base/index.ts
  packages/wiz-ui-react/src/components/base/popup/components/index.ts
  packages/wiz-ui-react/src/components/base/popup/components/popup-close.tsx
  packages/wiz-ui-react/src/components/base/popup/components/popup-content.tsx
  packages/wiz-ui-react/src/components/base/popup/components/popup-context.ts
  packages/wiz-ui-react/src/components/base/popup/components/popup-trigger.tsx
  packages/wiz-ui-react/src/components/base/popup/components/popup.tsx
  packages/wiz-ui-react/src/components/base/popup/index.ts
  packages/wiz-ui-react/src/hooks/use-click-outside.ts
  pnpm-lock.yaml
Labels: ⬆️ dependencies

docs(popup): storybookを追加
  packages/wiz-ui-react/src/components/base/popup/stories/popup.stories.tsx
Labels: none

chore(dep): storybook v7(major) migration
  package.json
  packages/wiz-ui-next/package.json
  packages/wiz-ui-react/package.json
  packages/wiz-ui/package.json
  pnpm-lock.yaml
Labels: ⬆️ dependencies

chore(dep): rootのstorybookのバージョンを7.0.2にアップデート
  package.json
  pnpm-lock.yaml
Labels: ⬆️ dependencies

feat(schedule): プロトタイプ完成
  packages/constants/component/custom/schedule.ts
  packages/constants/component/name.ts
  packages/styles/customs/schedule.css.ts
  packages/utils/date.ts
  packages/wiz-ui/src/components/custom/index.ts
  packages/wiz-ui/src/components/custom/schedule/components/card.vue
  packages/wiz-ui/src/components/custom/schedule/components/grid.vue
  packages/wiz-ui/src/components/custom/schedule/components/index.ts
  packages/wiz-ui/src/components/custom/schedule/components/schedule.vue
  packages/wiz-ui/src/components/custom/schedule/components/sheet.vue
  packages/wiz-ui/src/components/custom/schedule/index.ts
  packages/wiz-ui/src/components/custom/schedule/stories/card.stories.ts
  packages/wiz-ui/src/components/custom/schedule/stories/schedule.stories.ts
  packages/wiz-ui/src/components/custom/schedule/stories/sheet.stories.ts
  packages/wiz-ui/src/components/custom/schedule/types.ts
Labels: 🎨 story

chore: remove changeset
  .changeset/many-eggs-smell.md
Labels: none

feat(popup): triggerの挙動改善
  packages/wiz-ui-react/src/components/base/popup/components/popup-content.tsx
  packages/wiz-ui-react/src/components/base/popup/components/popup-context.ts
  packages/wiz-ui-react/src/components/base/popup/components/popup-trigger.tsx
  packages/wiz-ui-react/src/components/base/popup/components/popup.tsx
Labels: none

chore(stack/h-stack/v-stack): Propsをexportしない
  packages/wiz-ui-react/src/components/base/stack/components/h-stack.tsx
  packages/wiz-ui-react/src/components/base/stack/components/stack.tsx
  packages/wiz-ui-react/src/components/base/stack/components/v-stack.tsx
Labels: none

docs(stack/h-stack/v-stack): refactor
  packages/wiz-ui-react/src/components/base/stack/stories/fixture.ts
  packages/wiz-ui-react/src/components/base/stack/stories/h-stack.stories.tsx
  packages/wiz-ui-react/src/components/base/stack/stories/stack.stories.tsx
  packages/wiz-ui-react/src/components/base/stack/stories/v-stack.stories.tsx
Labels: none

[#456] refactor styles in accordion, anchor, avatar components
  packages/wiz-ui-next/src/components/base/accordion/accordion.vue
  packages/wiz-ui-next/src/components/base/anchor/anchor.vue
  packages/wiz-ui-next/src/components/base/avatar/avatar.vue
  packages/wiz-ui/src/components/base/accordion/accordion.vue
  packages/wiz-ui/src/components/base/anchor/anchor.vue
  packages/wiz-ui/src/components/base/avatar/avatar.vue
Labels: none

[#456] refactor styles in badge,button components
  packages/wiz-ui-next/src/components/base/badge/badge.vue
  packages/wiz-ui-next/src/components/base/buttons/icon/icon.vue
  packages/wiz-ui-next/src/components/base/buttons/text/text.vue
  packages/wiz-ui-next/src/components/base/buttons/tiny/tiny.vue
  packages/wiz-ui-next/src/components/base/buttons/toggle/toggle.vue
  packages/wiz-ui/src/components/base/badge/badge.vue
  packages/wiz-ui/src/components/base/buttons/icon/icon.vue
  packages/wiz-ui/src/components/base/buttons/text/text.vue
  packages/wiz-ui/src/components/base/buttons/tiny/tiny.vue
  packages/wiz-ui/src/components/base/buttons/toggle/toggle.vue
Labels: none

feat(text-area): forwardRefで実装
  packages/wiz-ui-react/src/components/base/textarea/components/text-area.tsx
Labels: none

docs(text-area): storybookを更新
  packages/wiz-ui-react/src/components/base/textarea/stories/text-area.stories.tsx
Labels: none

feat(base-input): forwardRefで実装
  packages/wiz-ui-react/src/components/base/inputs/base/components/base.tsx
Labels: none

chore: remove changeset
  .changeset/happy-dancers-argue.md
Labels: none

chore(changeset): update summary
  .changeset/healthy-numbers-hang.md
Labels: none

refactor(snackbar): global providerからsnack関数を取得する
  packages/wiz-ui-next/src/hooks/use-global-provider.ts
  packages/wiz-ui-next/src/hooks/use-menu.ts
  packages/wiz-ui-next/src/hooks/use-snackbar.ts
  packages/wiz-ui/src/hooks/use-global-provider.ts
  packages/wiz-ui/src/hooks/use-menu.ts
  packages/wiz-ui/src/hooks/use-snackbar.ts
Labels: none

docs(snackbar): storybookを更新
  packages/wiz-ui-next/src/components/base/snackbar/snackbar.stories.ts
  packages/wiz-ui/src/components/base/snackbar/snackbar.stories.ts
Labels: 🎨 story

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"
