Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"

ci: fetch depthを設定
  .github/workflows/visual-regression-test.yml
Labels: 🏭 ci

ci: reg suit's triggerをpushに変更
  .github/workflows/deploy-storybook.yml
  .github/workflows/deploy-vitest.yml
  .github/workflows/visual-regression-test.yml
Labels: 🏭 ci

ci: fetch-depthの文法エラーを修正
  .github/workflows/visual-regression-test.yml
Labels: 🏭 ci

fix: date型の値の扱いを修正
  packages/wiz-ui/src/components/custom/notification/list/list.stories.ts
  packages/wiz-ui/src/components/custom/notification/notification.stories.ts
Labels: 🎨 story

chore: update yarn.lock for security
  yarn.lock
Labels: none

fix: WizUnstyledTableのxy順序修正
  packages/wiz-ui/src/components/base/tables/unstyled/table.vue
Labels: none

ci: 文字化け部分があったのでfontをinstallする
  .github/workflows/visual-regression-test.yml
Labels: 🏭 ci

release: v0.3.3
  packages/wiz-ui/package.json
  packages/wiz-ui/src/index.ts
Labels: ⬆️ dependencies

[#105] refactor codes
  packages/constants/date.ts
  packages/constants/index.ts
  packages/wiz-ui/src/components/base/calendar/calendar.vue
  packages/wiz-ui/src/components/base/inputs/datepicker/date-picker.vue
  packages/wiz-ui/src/components/base/inputs/datepicker/index.ts
Labels: none

[#105] setup multiple datepicker
  packages/wiz-ui/src/components/base/inputs/datepicker/index.ts
  packages/wiz-ui/src/components/base/inputs/datepicker/multiple-date-picker.stories.ts
  packages/wiz-ui/src/components/base/inputs/datepicker/multiple-date-picker.vue
Labels: 🎨 story

fix: 読み込みに依存せずfont-sizeをoverrideできるように
  packages/styles/commons/font-size.css.ts
  packages/wiz-ui/src/components/base/heading/heading.stories.ts
Labels: 🎨 story

release: v0.3.4
  packages/wiz-ui/package.json
  packages/wiz-ui/src/index.ts
Labels: ⬆️ dependencies

fix: popup containerのデザイン修正
  packages/wiz-ui/src/components/base/popup/popup-container.vue
Labels: none

fix: line heightのデフォルト値をnormalに変更
  packages/wiz-ui/src/components/base/text/text.vue
Labels: none

feat: add type name and refactor css code
  packages/wiz-ui/src/components/base/inputs/timepicker/time-picker.vue
Labels: none

[#105] add move month function
  packages/wiz-ui/src/components/base/calendar/calendar.vue
  packages/wiz-ui/src/components/base/inputs/datepicker/index.ts
  packages/wiz-ui/src/components/base/inputs/datepicker/multiple-date-picker.vue
Labels: none

Update README.md
  README.md
Labels: none

chore: 含まれてしまっていたいらないファイルを削除
  index.html
Labels: none

fix: add min-height in popup
  packages/wiz-ui/src/components/base/inputs/datepicker/multiple-date-picker.vue
Labels: none

feat: add period functions and styles
  packages/wiz-ui/src/components/base/calendar/calendar.vue
Labels: none

feat:wiz-upload
  packages/constants/component/name.ts
  packages/styles/bases/upload-display.css.ts
  packages/styles/bases/upload.css.ts
  packages/wiz-ui/src/components/base/inputs/upload/index.ts
  packages/wiz-ui/src/components/base/inputs/upload/upload-display.vue
  packages/wiz-ui/src/components/base/inputs/upload/upload.stories.ts
  packages/wiz-ui/src/components/base/inputs/upload/upload.vue
  packages/wiz-ui/src/components/icons/attach-file.vue
  packages/wiz-ui/src/components/icons/check-circle.vue
  packages/wiz-ui/src/components/icons/index.ts
Labels: 🎨 story

chore(dep): add @storybook/addon-interaction
  packages/wiz-ui/.storybook/main.js
  packages/wiz-ui/package.json
  yarn.lock
Labels: ⬆️ dependencies

feat: docsの雛形をanchorに作成
  packages/constants/styles/font-weight.ts
  packages/constants/styles/index.ts
  packages/styles/commons/font-weight.css.ts
  packages/wiz-ui/.storybook/main.js
  packages/wiz-ui/src/components/base/anchor/anchor.stories.mdx
  packages/wiz-ui/src/components/base/anchor/anchor.stories.ts
  packages/wiz-ui/src/components/base/anchor/anchor.vue
Labels: 🎨 story

refactor: いらないいimportの削除
  packages/wiz-ui/src/components/base/calendar/calendar.vue
  packages/wiz-ui/src/components/base/inputs/datepicker/date-picker.vue
  yarn.lock
Labels: none

refactor: storyから副作用要素の削除
  packages/wiz-ui/src/components/base/calendar/calendar.stories.ts
  packages/wiz-ui/src/components/base/inputs/datepicker/date-picker.stories.ts
Labels: 🎨 story

refactor: いらないimportの削除
  packages/wiz-ui/src/components/base/calendar/calendar.vue
Labels: none

feat: globalにfont-familyの追加
  packages/styles/global.css
  packages/wiz-ui/.storybook/assets/global.css
  packages/wiz-ui/.storybook/preview-head.html
  packages/wiz-ui/src/index.ts
Labels: none

feat: add multiple datepicker emit and defualtValue
  packages/wiz-ui/src/components/base/calendar/calendar.vue
  packages/wiz-ui/src/components/base/inputs/datepicker/multiple-date-picker.stories.ts
  packages/wiz-ui/src/components/base/inputs/datepicker/multiple-date-picker.vue
Labels: 🎨 story

fix: storybook examples
  packages/wiz-ui/src/components/base/calendar/calendar.stories.ts
  packages/wiz-ui/src/components/base/inputs/datepicker/multiple-date-picker.stories.ts
Labels: 🎨 story

fix: add height props in selectbox
  packages/wiz-ui/src/components/base/inputs/selectbox/selectbox.vue
Labels: none

feat: add selectbox
  packages/wiz-ui/src/components/base/inputs/datepicker/multiple-date-picker.stories.ts
  packages/wiz-ui/src/components/base/inputs/datepicker/multiple-date-picker.vue
Labels: 🎨 story

fix:wiz-upload,wiz-upload-display
  packages/styles/bases/upload-display.css.ts
  packages/wiz-ui/src/components/base/inputs/upload/upload-display.vue
  packages/wiz-ui/src/components/base/inputs/upload/upload.stories.ts
  packages/wiz-ui/src/components/base/inputs/upload/upload.vue
Labels: 🎨 story

chore: remove symbolic link
  packages/wiz-ui/.storybook/assets/global.css
Labels: none

feat: global css for storybook
  packages/wiz-ui/.storybook/assets/global.css
Labels: none

refactor: font-sizeからimportantを削除
  packages/styles/bases/heading.css.ts
  packages/styles/commons/font-size.css.ts
  packages/wiz-ui/src/components/base/heading/heading.vue
Labels: none

feat: message-boxのvanilla-extract化
  packages/styles/bases/message-box.css.ts
  packages/wiz-ui/src/components/base/message-box/message-box.vue
Labels: none

fix: 不要な色の削除
  packages/styles/bases/message-box.css.ts
Labels: none

fix: iconとtitleの色が元通りになるよう修正
  packages/styles/bases/message-box.css.ts
  packages/wiz-ui/src/components/base/message-box/message-box.vue
Labels: none

feat: navigation/containerのvanilla-extract化
  packages/styles/bases/navigation.css.ts
  packages/wiz-ui/src/components/base/navigation/container.vue
Labels: none

feat: navigation/itemのvanilla-extract化
  packages/styles/bases/navigation.css.ts
  packages/wiz-ui/src/components/base/navigation/item.vue
Labels: none
