Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

feat: WizPasswordInputのVue3対応/Passwordのa11yリファクタ
  packages/constants/component/area-label.ts
  packages/constants/component/index.ts
  packages/styles/bases/password-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/password/index.ts
  packages/wiz-ui-next/src/components/base/inputs/password/password.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/password/password.vue
Labels: 🎨 story

feat: WizRadioのVue3対応
  packages/wiz-ui-next/src/components/base/inputs/radio/index.ts
  packages/wiz-ui-next/src/components/base/inputs/radio/radio.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/radio/radio.vue
  packages/wiz-ui-next/src/components/base/inputs/radio/types.ts
Labels: 🎨 story

feat: WizSelectBoxのVue3対応
  packages/wiz-ui-next/src/components/base/inputs/selectbox/index.ts
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.vue
  packages/wiz-ui-next/src/components/base/inputs/selectbox/types.ts
Labels: 🎨 story

refactor: WizTextInputのSBのTestを共通化処理
  packages/wiz-ui-next/src/components/base/inputs/text/text.stories.ts
Labels: 🎨 story

feat: WizTimePickerのVue3対応
  packages/wiz-ui-next/src/components/base/inputs/timepicker/index.ts
  packages/wiz-ui-next/src/components/base/inputs/timepicker/time-picker.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/timepicker/time-picker.vue
Labels: 🎨 story

feat: WizToggleSwitchのVue3対応
  packages/wiz-ui-next/src/components/base/inputs/toggle-switch/index.ts
  packages/wiz-ui-next/src/components/base/inputs/toggle-switch/toggle-switch.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/toggle-switch/toggle-switch.vue
Labels: 🎨 story

feat: WizCalendarのVue3対応
  packages/wiz-ui-next/src/components/base/calendar/calendar.stories.ts
  packages/wiz-ui-next/src/components/base/calendar/calendar.vue
  packages/wiz-ui-next/src/components/base/calendar/index.ts
  packages/wiz-ui-next/src/components/base/index.ts
Labels: 🎨 story

chore: inputの他componentをバンドルに追加
  packages/wiz-ui-next/src/components/base/inputs/index.ts
Labels: none

feat: WizTabのVue3対応
  packages/wiz-ui-next/src/components/base/tab/index.ts
  packages/wiz-ui-next/src/components/base/tab/tab-pane.stories.ts
  packages/wiz-ui-next/src/components/base/tab/tab-pane.vue
  packages/wiz-ui-next/src/components/base/tab/tab.stories.ts
  packages/wiz-ui-next/src/components/base/tab/tab.vue
  packages/wiz-ui-next/src/components/base/tab/types.ts
Labels: 🎨 story

feat: WizProgressBarのVue3対応
  packages/wiz-ui-next/src/components/base/progress-bar/index.ts
  packages/wiz-ui-next/src/components/base/progress-bar/progress-bar.stories.ts
  packages/wiz-ui-next/src/components/base/progress-bar/progress-bar.vue
  packages/wiz-ui-next/src/components/base/progress-bar/progress-line.vue
  packages/wiz-ui-next/src/components/base/progress-bar/progress-point.stories.ts
  packages/wiz-ui-next/src/components/base/progress-bar/progress-point.vue
  packages/wiz-ui-next/src/components/base/progress-bar/types.ts
Labels: 🎨 story

chore: add storybook-vue3-router
  packages/wiz-ui-next/package.json
  yarn.lock
Labels: ⬆️ dependencies

fix: WizProgressBarのSBの型エラー修正
  packages/wiz-ui-next/src/components/base/progress-bar/progress-bar.stories.ts
Labels: 🎨 story

chore: storybook-vue3-routerがsb7未対応だったので削除
  packages/wiz-ui-next/package.json
  yarn.lock
Labels: ⬆️ dependencies

fix: WizNavigationのVue3対応
  packages/wiz-ui-next/src/components/base/navigation/container.stories.ts
  packages/wiz-ui-next/src/components/base/navigation/container.vue
  packages/wiz-ui-next/src/components/base/navigation/index.ts
  packages/wiz-ui-next/src/components/base/navigation/item.stories.ts
  packages/wiz-ui-next/src/components/base/navigation/item.vue
Labels: 🎨 story

fix: WizMessageBoxのVue3対応
  packages/wiz-ui-next/src/components/base/index.ts
  packages/wiz-ui-next/src/components/base/message-box/index.ts
  packages/wiz-ui-next/src/components/base/message-box/message-box.stories.ts
  packages/wiz-ui-next/src/components/base/message-box/message-box.vue
Labels: 🎨 story

fix: WizMenuのVue3対応
  packages/wiz-ui-next/src/components/base/index.ts
  packages/wiz-ui-next/src/components/base/menu/index.ts
  packages/wiz-ui-next/src/components/base/menu/menu-item.stories.ts
  packages/wiz-ui-next/src/components/base/menu/menu-item.vue
Labels: 🎨 story

fix: WizHeadingのVue3対応
  packages/wiz-ui-next/src/components/base/heading/heading.stories.ts
  packages/wiz-ui-next/src/components/base/heading/heading.vue
  packages/wiz-ui-next/src/components/base/heading/index.ts
  packages/wiz-ui-next/src/components/base/index.ts
Labels: 🎨 story

fix: WizHeaderのVue3対応
  packages/wiz-ui-next/src/components/base/header/header.stories.ts
  packages/wiz-ui-next/src/components/base/header/header.vue
  packages/wiz-ui-next/src/components/base/header/index.ts
  packages/wiz-ui-next/src/components/base/index.ts
Labels: 🎨 story

fix: WizDropdownのVue3対応
  packages/wiz-ui-next/src/components/base/dropdown/dropdown-item.stories.ts
  packages/wiz-ui-next/src/components/base/dropdown/dropdown-item.vue
  packages/wiz-ui-next/src/components/base/dropdown/dropdown.stories.ts
  packages/wiz-ui-next/src/components/base/dropdown/dropdown.vue
  packages/wiz-ui-next/src/components/base/dropdown/index.ts
  packages/wiz-ui-next/src/components/base/dropdown/types.ts
  packages/wiz-ui-next/src/components/base/index.ts
Labels: 🎨 story

fix: WizDialogのVue3対応
  packages/wiz-ui-next/src/components/base/dialog/dialog.stories.ts
  packages/wiz-ui-next/src/components/base/dialog/dialog.vue
  packages/wiz-ui-next/src/components/base/dialog/index.ts
Labels: 🎨 story

fix: WizCardのVue3対応
  packages/wiz-ui-next/src/components/base/card/card.stories.ts
  packages/wiz-ui-next/src/components/base/card/card.vue
  packages/wiz-ui-next/src/components/base/card/index.ts
Labels: 🎨 story

fix: WizAnchorのVue3対応
  packages/wiz-ui-next/src/components/base/anchor/anchor.stories.ts
  packages/wiz-ui-next/src/components/base/anchor/anchor.vue
  packages/wiz-ui-next/src/components/base/index.ts
Labels: 🎨 story

fix: WizAvatarのVue3対応
  packages/wiz-ui-next/src/components/base/anchor/index.ts
  packages/wiz-ui-next/src/components/base/avatar/avatar.stories.ts
  packages/wiz-ui-next/src/components/base/avatar/avatar.vue
Labels: 🎨 story

fix: WizBadgeのVue3対応
  packages/wiz-ui-next/src/components/base/avatar/index.ts
  packages/wiz-ui-next/src/components/base/badge/badge.stories.ts
  packages/wiz-ui-next/src/components/base/badge/badge.vue
Labels: 🎨 story

fix: WizBoxのVue3対応
  packages/wiz-ui-next/src/components/base/badge/index.ts
  packages/wiz-ui-next/src/components/base/box/box.vue
  packages/wiz-ui-next/src/components/base/box/index.ts
Labels: none

fix: WizChatのVue3対応
  packages/wiz-ui-next/src/components/custom/chat/card/chat-card.stories.ts
  packages/wiz-ui-next/src/components/custom/chat/card/chat-card.vue
  packages/wiz-ui-next/src/components/custom/chat/card/index.ts
  packages/wiz-ui-next/src/components/custom/chat/form/chat-form.stories.ts
  packages/wiz-ui-next/src/components/custom/chat/form/chat-form.vue
  packages/wiz-ui-next/src/components/custom/chat/form/index.ts
  packages/wiz-ui-next/src/components/custom/chat/index.ts
  packages/wiz-ui-next/src/components/custom/chat/item/chat-item.stories.ts
  packages/wiz-ui-next/src/components/custom/chat/item/chat-item.vue
  packages/wiz-ui-next/src/components/custom/chat/item/index.ts
  packages/wiz-ui-next/src/components/custom/chat/types.ts
  packages/wiz-ui-next/src/components/custom/index.ts
  packages/wiz-ui-next/src/components/index.ts
Labels: 🎨 story

fix: WizNotificationのVue3対応
  packages/wiz-ui-next/src/components/custom/notification/index.ts
  packages/wiz-ui-next/src/components/custom/notification/list/index.ts
  packages/wiz-ui-next/src/components/custom/notification/list/list.stories.ts
  packages/wiz-ui-next/src/components/custom/notification/list/list.vue
  packages/wiz-ui-next/src/components/custom/notification/notification.stories.ts
  packages/wiz-ui-next/src/components/custom/notification/notification.vue
  packages/wiz-ui-next/src/components/custom/notification/panel/index.ts
  packages/wiz-ui-next/src/components/custom/notification/panel/panel.stories.ts
  packages/wiz-ui-next/src/components/custom/notification/panel/panel.vue
  packages/wiz-ui-next/src/components/custom/notification/panel/types.ts
  packages/wiz-ui-next/src/components/custom/notification/types.ts
Labels: 🎨 story

fix: SBの型エラーを修正、ビルドが通るようになった
  packages/wiz-ui-next/src/components/base/dropdown/dropdown-item.stories.ts
  packages/wiz-ui-next/src/components/base/message-box/message-box.stories.ts
  packages/wiz-ui-next/src/components/custom/chat/card/chat-card.stories.ts
  packages/wiz-ui-next/src/components/custom/notification/list/list.stories.ts
  packages/wiz-ui-next/src/components/custom/notification/notification.stories.ts
  packages/wiz-ui-next/src/components/custom/notification/panel/panel.stories.ts
Labels: 🎨 story

chore: unit testの予定がないのでとりあえず放置
  packages/wiz-ui-next/package.json
Labels: ⬆️ dependencies

chore(example-vue3): テスト環境でもちゃんと動くことを確認
  examples/vue3/src/App.vue
  examples/vue3/src/components/layout/header/avatar-dropdown.vue
  examples/vue3/src/components/layout/header/index.vue
  examples/vue3/src/components/layout/header/notification-dropdown.vue
  examples/vue3/src/components/layout/header/title-logo.vue
  examples/vue3/src/components/layout/navigation/footer-info.vue
  examples/vue3/src/components/layout/navigation/index.vue
  examples/vue3/src/components/layout/navigation/nav-list.vue
Labels: none

ci: rename ci title
  .github/workflows/publish-check-vue2.yml
  .github/workflows/publish-library-vue2.yml
Labels: 🏭 ci

ci: auto taggerをリネーム、Vue2/3で区別がつくように
  .github/workflows/publish-check-vue2.yml
  .github/workflows/publish-library-vue2.yml
Labels: 🏭 ci

chore: wiz-ui-next用に複製
  .github/workflows/publish-check-vue3.yml
  .github/workflows/publish-library-vue3.yml
Labels: 🏭 ci

ci: Vue3 Wiz-UI-Next用のPublisherを作成
  .github/workflows/publish-check-vue3.yml
  .github/workflows/publish-library-vue3.yml
Labels: 🏭 ci

ci: Vue3のライブラリもCIに引っ掛かるように
  .github/workflows/build-check.yml
  .github/workflows/bundle-analyze.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  package.json
  packages/wiz-ui-next/package.json
Labels: 🏭 ci, ⬆️ dependencies

fix: リネームをVue2側で直すのを忘れていた
  packages/wiz-ui/src/components/base/text/text.vue
Labels: none

ci: port被りを回避
  packages/wiz-ui-next/package.json
Labels: ⬆️ dependencies

fix: VRTに引っかかったズレを解消
  packages/styles/bases/password-input.css.ts
Labels: none

fix: @storybook/vueを使わないように修正
  packages/wiz-ui-next/src/components/base/navigation/container.stories.ts
  packages/wiz-ui-next/src/components/base/navigation/item.stories.ts
  packages/wiz-ui-next/src/components/base/stack/stack.stories.ts
  packages/wiz-ui-next/src/components/icons/icons.stories.ts
  packages/wiz-ui-next/src/components/manager/color.stories.ts
  packages/wiz-ui-next/src/components/manager/font-size.stories.ts
Labels: 🎨 story

fix: vue関係のライブラリがバージョンの相違で衝突しエラーが発生することがあるため、noHoistしてとりあえず一旦の解決
  package.json
  packages/wiz-ui-next/package.json
  packages/wiz-ui/package.json
  yarn.lock
Labels: ⬆️ dependencies

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"
