Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

fix(nav-item): 角丸に修正
  packages/wiz-ui-next/src/components/base/navigation/item.vue
  packages/wiz-ui/src/components/base/navigation/item.vue
Labels: none

feat(popup-button-group): 任意の場所にdividerを設定可能にする
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui-next/src/components/base/popup-button-group/types.ts
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui/src/components/base/popup-button-group/types.ts
Labels: none

docs(popup-button-group): storybookを更新
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.stories.ts
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.stories.ts
Labels: 🎨 story

fix(snackbar): 同一ページで複数個所からuseSnackbarが起動した際に動作しなくなるバグの修正
  packages/wiz-ui-next/src/hooks/use-snackbar.ts
  packages/wiz-ui/src/hooks/use-snackbar.ts
Labels: none

fix(accordion): 開閉アイコンの回転時間を修正
  packages/styles/bases/accordion.css.ts
Labels: none

feat(accordion): 開閉アニメーションを追加
  packages/styles/bases/accordion.css.ts
  packages/wiz-ui-next/src/components/base/accordion/accordion.vue
  packages/wiz-ui-next/src/components/base/accordion/animation-configuration.ts
  packages/wiz-ui/src/components/base/accordion/accordion.vue
  packages/wiz-ui/src/components/base/accordion/animation-configuration.ts
Labels: none

docs(accordion): storybookを更新
  packages/wiz-ui-next/src/components/base/accordion/accordion.stories.ts
  packages/wiz-ui/src/components/base/accordion/accordion.stories.ts
Labels: 🎨 story

chore: iconのlicense追加
  packages/wiz-ui-next/src/components/icons/LICENSE
  packages/wiz-ui/src/components/icons/LICENSE
Labels: none

release: v0.7.5
  packages/wiz-ui-next/package.json
  packages/wiz-ui-next/src/index.ts
  packages/wiz-ui/package.json
  packages/wiz-ui/src/index.ts
Labels: ⬆️ dependencies

feat(popup): Popupに透明な左枠線を設定可能にする
  packages/wiz-ui-next/src/components/base/popup/popup.vue
  packages/wiz-ui/src/components/base/popup/popup.vue
Labels: none

fix(nav-item): popupを修正して，NavContainerに隣接するように見せる
  packages/wiz-ui-next/src/components/base/navigation/item.vue
  packages/wiz-ui/src/components/base/navigation/item.vue
Labels: none

[#442] fix lint
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.stories.ts
Labels: 🎨 story

docs(popup-button-group): storybookでclickイベントを検知する
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.stories.ts
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.stories.ts
Labels: 🎨 story

fix(popup-button-group): component name
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.vue
Labels: none

refactor(popup-button-group): 型名を変更
  packages/wiz-ui-next/src/components/base/popup-button-group/types.ts
  packages/wiz-ui/src/components/base/popup-button-group/types.ts
Labels: none

docs(popup-button-group): storybookを更新
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.stories.ts
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.stories.ts
Labels: 🎨 story

feat(search-selector): バックスペース押下で選択解除
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.vue
Labels: none

feat(search-selector): バックスペース2回押下でフォーカス→選択解除
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.vue
Labels: none

add: LICENSE.txt
  LICENSE.txt
Labels: none

update: package.jsonのlicenseをApache-2.0に変更
  packages/wiz-ui-next/package.json
  packages/wiz-ui/package.json
Labels: ⬆️ dependencies

update: READMEにlicenseを追記
  README.md
Labels: none

update: docsもApache-2.0に対応
  docs/package.json
Labels: ⬆️ dependencies

refactor(search-selector): 使用していない変数や関数の削除
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.vue
Labels: none

fix(reg-suit): 差分検出の緩和 https://speakerdeck.com/andpad/vrtyatutemasuka-reg-suitdesuka?slide=65
  packages/wiz-ui/regconfig.json
Labels: none

fix(reg-suit): 差分検出の緩和 https://speakerdeck.com/andpad/vrtyatutemasuka-reg-suitdesuka?slide=65
  packages/wiz-ui/regconfig.json
Labels: none

chore: third-partyのライセンスの置き場を変更
  packages/wiz-ui/src/components/icons/LICENSE
  third-parties/material-symbols-license
Labels: none

chore(dep): rollup-plugin-copyを依存関係に追加
  package.json
  yarn.lock
Labels: ⬆️ dependencies

chore: ビルド時にlicenseがバンドルされるようにする
  packages/wiz-ui-next/vite.config.ts
  packages/wiz-ui/vite.config.ts
Labels: none

chore: material iconsとmaterial symbolsの両方を明記するよう修正
  third-parties/material-icons-material-symbols-license
Labels: none

chore: ライセンスの文章を修正
  third-parties/material-icons-material-symbols-license
Labels: none

[#472] feat:add strike-through in radio
  packages/styles/bases/radio-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/radio/radio.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/radio/radio.vue
  packages/wiz-ui/src/components/base/inputs/radio/radio.stories.ts
  packages/wiz-ui/src/components/base/inputs/radio/radio.vue
Labels: 🎨 story

[#472] feat:add strike-through in checkbox
  packages/styles/bases/checkbox-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/checkbox/checkbox.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/checkbox/checkbox.vue
  packages/wiz-ui/src/components/base/inputs/checkbox/checkbox.stories.ts
  packages/wiz-ui/src/components/base/inputs/checkbox/checkbox.vue
Labels: 🎨 story

[#472] feat: add disabled example in storybook
  packages/wiz-ui-next/src/components/base/inputs/checkbox/checkbox.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/radio/radio.stories.ts
  packages/wiz-ui/src/components/base/inputs/checkbox/checkbox.stories.ts
  packages/wiz-ui/src/components/base/inputs/radio/radio.stories.ts
Labels: 🎨 story

docs(nav-container): popup表示時のパターンを追加
  packages/wiz-ui-next/src/components/base/navigation/container.stories.ts
  packages/wiz-ui/src/components/base/navigation/container.stories.ts
Labels: 🎨 story

fix(nav-item): NavItem全体にTooltipを適用する
  packages/wiz-ui-next/src/components/base/navigation/item.vue
  packages/wiz-ui/src/components/base/navigation/item.vue
Labels: none

fix(nav-item): disabledの時Popupを表示しない
  packages/wiz-ui-next/src/components/base/navigation/item.vue
  packages/wiz-ui/src/components/base/navigation/item.vue
Labels: none

fix(nav-item): エイリアスでインポート
  packages/wiz-ui-next/src/components/base/navigation/item.vue
  packages/wiz-ui/src/components/base/navigation/item.vue
Labels: none

docs(nav-container): click actionを使用する
  packages/wiz-ui-next/src/components/base/navigation/container.stories.ts
  packages/wiz-ui/src/components/base/navigation/container.stories.ts
Labels: 🎨 story

refactor(accordion): width
  packages/wiz-ui-next/src/components/base/accordion/accordion.vue
  packages/wiz-ui/src/components/base/accordion/accordion.vue
Labels: none

fix(accordion): 開閉ボタンをcursor:pointer，選択不可にする
  packages/styles/bases/accordion.css.ts
Labels: none

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"
