Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

feat(chat-card): 開閉状態を指定可能にする
  packages/wiz-ui-react/src/components/custom/chat/components/chat-card.tsx
  packages/wiz-ui-react/src/components/custom/chat/stories/chat-card.stories.tsx
Labels: none

chore(chat-card): add changeset
  .changeset/gold-weeks-enjoy.md
Labels: none

chore: add wiz-ui-react example
  examples/react/.eslintrc.json
  examples/react/.gitignore
  examples/react/README.md
  examples/react/index.html
  examples/react/package.json
  examples/react/public/vite.svg
  examples/react/src/App.css
  examples/react/src/App.tsx
  examples/react/src/assets/react.svg
  examples/react/src/index.css
  examples/react/src/main.tsx
  examples/react/src/vite-env.d.ts
  examples/react/tsconfig.json
  examples/react/tsconfig.node.json
  examples/react/vite.config.ts
  pnpm-lock.yaml
Labels: ⬆️ dependencies

[#1222] レビュー修正
  packages/styles/bases/search-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-popup-panel.tsx
Labels: none

fix(chat-card): onToggle
  packages/wiz-ui-react/src/components/custom/chat/components/chat-card.tsx
Labels: none

chore(chat-card): vrt
  packages/wiz-ui-react/src/components/custom/chat/stories/chat-card.stories.tsx
Labels: none

chore(chat-card): add changeset
  .changeset/big-rings-raise.md
Labels: none

refactor(nav-item): props
  packages/wiz-ui-next/src/components/base/navigation/item.vue
Labels: none

chore(search-input): type constraint
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-popup.vue
  packages/wiz-ui-next/src/components/base/inputs/search-input/types.ts
Labels: none

refactor(search-input): remove outdated implementation and unify CSS for React and Vue
  packages/styles/bases/search-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-popup.vue
Labels: none

refactor(search-input): types
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-input.vue
Labels: none

chore: 不要なchangesetの削除
  .changeset/big-rings-raise.md
Labels: none

fix(form-control): relativeを使用しない
  packages/wiz-ui-next/src/components/custom/form/control.vue
  packages/wiz-ui-react/src/components/custom/form/components/form-control.tsx
Labels: none

feat(nav-item): open external link in a new tab
  packages/wiz-ui-react/src/components/base/navigation/components/navigation-item.tsx
Labels: none

docs(nav-item): external link story
  packages/wiz-ui-react/src/components/base/navigation/stories/navigation-item.stories.tsx
Labels: none

chore(nav-item): add changeset
  .changeset/blue-squids-occur.md
Labels: none

fix(text-button): text nowrap
  packages/wiz-ui-react/src/components/base/buttons/text/components/text-button.tsx
Labels: none

chore(text-button): add changeset
  .changeset/clever-turtles-visit.md
Labels: none

docs(date-range-picker): set props to prevent VRT errors
  packages/wiz-ui-react/src/components/base/inputs/date-range-picker/stories/date-range-picker.stories.tsx
Labels: none

fix(deps): correct types/react-dom version to 18.2.25
  packages/wiz-ui-react/package.json
  pnpm-lock.yaml
Labels: ⬆️ dependencies

chore(example): update deps
  examples/react/package.json
  pnpm-lock.yaml
Labels: ⬆️ dependencies

chore(example): import path
  examples/react/tsconfig.json
  examples/react/vite.config.ts
Labels: none

chore(example): deps
  examples/react/package.json
  pnpm-lock.yaml
Labels: ⬆️ dependencies

chore(example): wip pages
  examples/react/src/App.tsx
  examples/react/src/components/layout/navigation/index.tsx
  examples/react/src/pages/about/index.tsx
  examples/react/src/pages/chat/index.tsx
  examples/react/src/pages/contact/index.tsx
  examples/react/src/pages/help/index.tsx
  examples/react/src/pages/home/index.tsx
  examples/react/src/routes/index.tsx
Labels: none

fix(nav-item): tooltipText prop type
  packages/wiz-ui-next/src/components/base/navigation/item.vue
Labels: none

fix(form-control): remove label padding
  packages/wiz-ui-next/src/components/custom/form/control.vue
Labels: none

feat(icons): emergency-home, feedback, hourglass-top, menu-open
  packages/constants/component/icon-name.ts
  packages/icons/assets/emergency-home.svg
  packages/icons/assets/feedback.svg
  packages/icons/assets/hourglass-top.svg
  packages/icons/assets/menu-open.svg
  packages/wiz-ui-next/src/components/icons/emergency-home.vue
  packages/wiz-ui-next/src/components/icons/feedback.vue
  packages/wiz-ui-next/src/components/icons/hourglass-top.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-next/src/components/icons/menu-open.vue
  packages/wiz-ui-react/src/components/icons/emergency-home.tsx
  packages/wiz-ui-react/src/components/icons/feedback.tsx
  packages/wiz-ui-react/src/components/icons/hourglass-top.tsx
  packages/wiz-ui-react/src/components/icons/index.ts
  packages/wiz-ui-react/src/components/icons/menu-open.tsx
Labels: none

chore(icons): add changeset
  .changeset/mighty-spiders-return.md
Labels: none

[#1222] レビュー修正
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-popup.vue
Labels: none

[#1222] Backspace 機能追加
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-input.tsx
Labels: none

[#1222] 選択したoption をタグで表示する機能追加 (React)
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-input.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-input/stories/search-input.stories.tsx
Labels: none

[#1222] 選択したoption をタグで表示する機能追加 (Vue)
  packages/styles/bases/search-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui-next/src/components/base/inputs/search-input/stories/search-input.stories.ts
Labels: 🎨 story

feat(nav-item): popup menu icon
  packages/wiz-ui-react/src/components/base/navigation/components/navigation-item.tsx
Labels: none

feat(nav-item): hoverをトリガーとしてPopupしない．
  packages/wiz-ui-react/src/components/base/navigation/components/navigation-item.tsx
Labels: none

feat(nav-item): popup itemのクリックでpopupを閉じる
  packages/wiz-ui-react/src/components/base/navigation/components/navigation-item.tsx
Labels: none

docs(nav-container): update popup stories
  packages/wiz-ui-react/src/components/base/navigation/stories/navigation-container.stories.tsx
Labels: none

chore(nav-item): add changeset
  .changeset/slimy-phones-hunt.md
Labels: none

refactor(nav-item): styles
  packages/styles/bases/navigation.css.ts
  packages/wiz-ui-react/src/components/base/navigation/components/navigation-item.tsx
Labels: none

docs(nav-item): update stories
  packages/wiz-ui-react/src/components/base/navigation/stories/navigation-container.stories.tsx
Labels: none

feat(nav-item): update popup control for vue3 version
  packages/wiz-ui-next/src/components/base/navigation/item.vue
Labels: none

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"
