Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"

ci(vrt): wiz-uiのstorycapを止める
  packages/wiz-ui/package.json
Labels: ⬆️ dependencies

ci: fix
  packages/wiz-ui/package.json
Labels: ⬆️ dependencies

chore: remove vuepress-plugin-wiz-ui src
  packages/vuepress-plugin-wiz-ui/CHANGELOG.md
  packages/vuepress-plugin-wiz-ui/src/enhanceAppFiles.js
  packages/vuepress-plugin-wiz-ui/src/index.js
  packages/vuepress-plugin-wiz-ui/src/mdPlugin.js
  packages/vuepress-plugin-wiz-ui/src/util.js
Labels: none

chore: remove docs src
  docs/src/.vuepress/components/dialog/default.vue
  docs/src/.vuepress/config.ts
  docs/src/.vuepress/config/sidebar.ts
  docs/src/.vuepress/enhanceApp.ts
  docs/src/.vuepress/styles/index.styl
  docs/src/.vuepress/styles/palette.styl
  docs/src/component/base/dialog.md
  docs/src/component/base/message-box.md
  docs/src/component/base/text-button.md
  docs/src/component/custom/a.md
  docs/src/component/index.md
  docs/src/guide/contributing.md
  docs/src/guide/develop.md
  docs/src/guide/index.md
  docs/src/guide/setup.md
  docs/src/guide/structure.md
  docs/src/index.md
  pnpm-lock.yaml
Labels: 📝 docs

Revert "chore: remove docs src"
  docs/src/.vuepress/components/dialog/default.vue
  docs/src/.vuepress/config.ts
  docs/src/.vuepress/config/sidebar.ts
  docs/src/.vuepress/enhanceApp.ts
  docs/src/.vuepress/styles/index.styl
  docs/src/.vuepress/styles/palette.styl
  docs/src/component/base/dialog.md
  docs/src/component/base/message-box.md
  docs/src/component/base/text-button.md
  docs/src/component/custom/a.md
  docs/src/component/index.md
  docs/src/guide/contributing.md
  docs/src/guide/develop.md
  docs/src/guide/index.md
  docs/src/guide/setup.md
  docs/src/guide/structure.md
  docs/src/index.md
  pnpm-lock.yaml
Labels: 📝 docs

fix(search-input): clickable space
  packages/styles/bases/search-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui-react/src/components/base/inputs/checkbox/components/checkbox.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-popup-panel.tsx
Labels: none

[#998] Timepicker の 余白再調整
  packages/wiz-ui-next/src/components/base/inputs/timepicker/time-picker.vue
  packages/wiz-ui-react/src/components/base/inputs/time-picker/components/time-picker.tsx
  packages/wiz-ui/src/components/base/inputs/timepicker/time-picker.vue
Labels: none

feat(drawer): width, placement, shadow
  packages/styles/bases/drawer.css.ts
  packages/wiz-ui-next/src/components/base/drawer/drawer.vue
  packages/wiz-ui-react/src/components/base/drawer/drawer.tsx
Labels: none

docs(drawer): update stories
  packages/wiz-ui-next/src/components/base/drawer/drawer.stories.ts
  packages/wiz-ui-react/src/components/base/drawer/drawer.stories.tsx
Labels: 🎨 story

chore(drawer): update changeset
  .changeset/ten-clocks-allow.md
Labels: none

feat(full-modal-view): react対応
  packages/styles/bases/full-modal-view.css.ts
  packages/wiz-ui-react/src/components/base/full-modal-view/components/full-modal-view.tsx
  packages/wiz-ui-react/src/components/base/full-modal-view/components/index.ts
  packages/wiz-ui-react/src/components/base/full-modal-view/index.ts
  packages/wiz-ui-react/src/components/base/full-modal-view/stories/full-modal-view.stories.tsx
Labels: none

chore(full-modal-view): react対応
  .changeset/strange-bottles-camp.md
Labels: none

fix(full-modal-view): animation
  packages/wiz-ui-react/src/components/base/full-modal-view/components/full-modal-view.tsx
Labels: none

chore: WizRadioをdeprecated
  packages/wiz-ui-next/src/components/base/inputs/radio/index.ts
Labels: none

chore(check-box): wiz-check-boxをdeprecatedにする
  packages/wiz-ui-next/src/components/base/inputs/checkbox/index.ts
Labels: none

[#1008] 検索の仕様修正
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui/src/components/base/inputs/search-input/search-input.vue
Labels: none

[#1008] 検索の仕様修正
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-input.tsx
Labels: none

[#1043] emptyMessage の型修正
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-popup-panel.tsx
Labels: none

[#1043] React 修正
  packages/wiz-ui-react/src/components/base/inputs/time-picker/components/time-picker.tsx
  packages/wiz-ui-react/src/components/base/stack/components/stack.tsx
  packages/wiz-ui-react/src/components/base/stack/components/types.ts
Labels: none

[#902] Accordion Interaction Test 追加
  packages/wiz-ui-next/src/components/base/accordion/accordion.stories.ts
  packages/wiz-ui/src/components/base/accordion/accordion.stories.ts
Labels: 🎨 story

[#902] Tooltip Interaction Test 追加
  packages/wiz-ui-next/src/components/base/tooltip/tooltip.stories.ts
  packages/wiz-ui/src/components/base/tooltip/tooltip.stories.ts
Labels: 🎨 story

[#902] changeset 追加
  .changeset/calm-crabs-kick.md
Labels: none

docs(search-selector): 全角Labelの選択肢を追加
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.stories.ts
  packages/wiz-ui-react/src/components/base/inputs/search-selector/stories/search-selector.stories.tsx
Labels: 🎨 story

chore(search-selector): fix line-height and padding
  packages/styles/bases/search-selector.css.ts
Labels: none

chore(date-picker): デフォルト表示形式を西暦のみに変更
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.vue
  packages/wiz-ui-react/src/components/base/inputs/date-picker/components/date-picker.tsx
Labels: none

feat(drawer): drawer外はクリック可, overflowY
  packages/styles/bases/drawer.css.ts
  packages/wiz-ui-next/src/components/base/drawer/drawer.vue
  packages/wiz-ui-react/src/components/base/drawer/drawer.tsx
  packages/wiz-ui/src/components/base/drawer/drawer.vue
Labels: none

docs(drawer): update
  packages/wiz-ui-react/src/components/base/drawer/drawer.stories.tsx
Labels: none

chore(checkbox): remove expand props
  packages/wiz-ui-react/src/components/base/inputs/checkbox/components/checkbox.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-popup-panel.tsx
Labels: none

feat(search-input): direction="vertical"によりclickable範囲を調整
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-popup-panel.tsx
Labels: none

feat(stack): className, styles公開
  packages/wiz-ui-react/src/components/base/stack/components/stack.tsx
  packages/wiz-ui-react/src/components/base/stack/components/types.ts
Labels: none

feat(checkbox): className, styles公開
  packages/wiz-ui-react/src/components/base/inputs/checkbox/components/checkbox.tsx
Labels: none

feat(search-input): clickable範囲をglobalStyleで調整
  packages/styles/bases/search-input.css.ts
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-popup-panel.tsx
Labels: none

chore: update changeset
  .changeset/seven-kings-greet.md
Labels: none

feat(full-modal-view): スクロール可能にする
  packages/styles/bases/full-modal-view.css.ts
  packages/wiz-ui-next/src/components/base/full-modal-view/full-modal-view.vue
  packages/wiz-ui-react/src/components/base/full-modal-view/components/full-modal-view.tsx
Labels: none

docs(full-modal-view): update
  packages/wiz-ui-next/src/components/base/full-modal-view/full-modal-view.stories.ts
  packages/wiz-ui-react/src/components/base/full-modal-view/stories/full-modal-view.stories.tsx
Labels: 🎨 story

fix: fix styles of checkbox-new and radio-new
  packages/styles/bases/checkbox-new.css.ts
  packages/styles/bases/radio-new.css.ts
Labels: none

chore(vue2): fix wiz-ui-constants version
  packages/wiz-ui/package.json
  pnpm-lock.yaml
Labels: ⬆️ dependencies

chore(vue2): wiz-ui-constants以外のlockファイルの変更を戻す
  pnpm-lock.yaml
Labels: none

chore(vue2): fix wiz-ui-utils version
  packages/wiz-ui/package.json
  pnpm-lock.yaml
Labels: ⬆️ dependencies

chore(vue2): fix wiz-ui-style version
  packages/wiz-ui/package.json
  pnpm-lock.yaml
Labels: ⬆️ dependencies
