Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"

docs: add changeset
  .changeset/early-apples-eat.md
Labels: none

feat: Calendarコンポーネントを作成
  packages/wiz-ui-react/src/components/base/calendar/components/calendar-helper.ts
  packages/wiz-ui-react/src/components/base/calendar/components/calendar.tsx
  packages/wiz-ui-react/src/components/base/calendar/components/index.ts
  packages/wiz-ui-react/src/components/base/calendar/components/types.ts
  packages/wiz-ui-react/src/components/base/calendar/index.ts
  packages/wiz-ui-react/src/components/base/calendar/stories/calendar.stories.tsx
  packages/wiz-ui-react/src/components/base/index.ts
Labels: none

tests: カレンダーのテスト追加
  packages/wiz-ui-react/package.json
  packages/wiz-ui-react/src/components/base/calendar/tests/calendar-helper.test.ts
Labels: ✅ test, ⬆️ dependencies

docs: descriptionを追加
  packages/wiz-ui-react/src/components/base/calendar/stories/calendar.stories.tsx
Labels: none

chore: add changeset
  .changeset/small-colts-wonder.md
Labels: none

chore: ComponentNameを追加
  packages/constants/component/name.ts
  packages/wiz-ui-react/src/components/base/calendar/components/calendar.tsx
Labels: none

feat: WizDialgoを追加
  packages/wiz-ui-react/package.json
  packages/wiz-ui-react/src/components/base/buttons/index.ts
  packages/wiz-ui-react/src/components/base/dialog/components/dialog.tsx
  packages/wiz-ui-react/src/components/base/dialog/components/index.ts
  packages/wiz-ui-react/src/components/base/dialog/index.ts
  packages/wiz-ui-react/src/components/base/dialog/stories/dialog.stories.tsx
  packages/wiz-ui-react/src/components/base/index.ts
  pnpm-lock.yaml
Labels: ⬆️ dependencies

chore: add changeset
  .changeset/thin-dragons-remember.md
Labels: none

[#773] add a hideClose prop in dialog
  packages/wiz-ui-next/src/components/base/dialog/dialog.stories.ts
  packages/wiz-ui-next/src/components/base/dialog/dialog.vue
  packages/wiz-ui/src/components/base/dialog/dialog.stories.ts
  packages/wiz-ui/src/components/base/dialog/dialog.vue
Labels: 🎨 story

style(button-size): adjust height
  packages/styles/bases/text-button.css.ts
Labels: none

chore: changeset
  .changeset/pink-apricots-reply.md
Labels: none

feat(show-more-less): add react component
  packages/wiz-ui-react/src/components/base/index.ts
  packages/wiz-ui-react/src/components/base/show-more-less/components/index.ts
  packages/wiz-ui-react/src/components/base/show-more-less/components/show-more-ress.tsx
  packages/wiz-ui-react/src/components/base/show-more-less/index.ts
  packages/wiz-ui-react/src/components/base/show-more-less/stories/show-more-less.stories.tsx
Labels: none

style(search-selector): adjust height to 44px
  packages/styles/bases/search-selector.css.ts
Labels: none

style(search-input): adjust height to 44px
  packages/styles/bases/search-input.css.ts
Labels: none

chore: add changeset
  .changeset/loud-ties-type.md
Labels: none

feat(show-more-less): add react component
  packages/wiz-ui-react/src/components/base/show-more-less/components/show-more-ress.tsx
Labels: none

feat(show-more-less): add storybook
  packages/wiz-ui-react/src/components/base/show-more-less/stories/show-more-less.stories.tsx
Labels: none

refactor(show-more-less): storybook
  packages/wiz-ui-react/src/components/base/show-more-less/stories/show-more-less.stories.tsx
Labels: none

feat(show-more-less): add changeset
  .changeset/two-readers-know.md
Labels: none

feat(header): add react component
  packages/wiz-ui-react/src/components/base/header/components/header.tsx
  packages/wiz-ui-react/src/components/base/header/components/index.ts
  packages/wiz-ui-react/src/components/base/header/index.ts
  packages/wiz-ui-react/src/components/base/index.ts
Labels: none

feat(header): add storybook
  packages/wiz-ui-react/src/components/base/header/stories/header.stories.tsx
Labels: none

fix(show-more-less): file name
  packages/wiz-ui-react/src/components/base/show-more-less/components/index.ts
  packages/wiz-ui-react/src/components/base/show-more-less/components/show-more-less.tsx
Labels: none

fix(show-more-less): changeset comment
  .changeset/two-readers-know.md
Labels: none

fix(show-more-less): delete argTypes in storybook
  packages/wiz-ui-react/src/components/base/show-more-less/stories/show-more-less.stories.tsx
Labels: none

feat: WizCircleGraphを追加
  packages/wiz-ui-react/src/components/base/graphs/circle/components/bar.tsx
  packages/wiz-ui-react/src/components/base/graphs/circle/components/circle-graph.tsx
  packages/wiz-ui-react/src/components/base/graphs/circle/components/index.ts
  packages/wiz-ui-react/src/components/base/graphs/circle/components/types.ts
  packages/wiz-ui-react/src/components/base/graphs/circle/index.ts
  packages/wiz-ui-react/src/components/base/graphs/circle/stories/circle-graph.stories.tsx
  packages/wiz-ui-react/src/components/base/graphs/index.ts
  packages/wiz-ui-react/src/components/base/index.ts
Labels: none

chore: add changeset
  .changeset/popular-teachers-do.md
Labels: none

fix: popup shadow bug in Safari
  .changeset/tiny-doors-warn.md
  packages/wiz-ui-next/src/components/base/popup/popup.vue
  packages/wiz-ui/src/components/base/popup/popup.vue
Labels: none

add changeset
  .changeset/smart-avocados-stare.md
Labels: none

add changeset
  .changeset/smooth-flies-perform.md
Labels: none

fix: classNameを削除
  packages/wiz-ui-react/src/components/base/inputs/checkbox/components/checkbox.tsx
Labels: none

feat(header): add header storybook
  packages/wiz-ui-react/src/components/base/header/components/header.tsx
  packages/wiz-ui-react/src/components/base/header/stories/header.stories.tsx
Labels: none

feat(header): add changeset
  .changeset/quick-carpets-bathe.md
Labels: none

fix: classNameを削除
  packages/wiz-ui-react/src/components/base/inputs/radio/components/radio.tsx
Labels: none

fix: classNameを削除
  packages/wiz-ui-react/src/components/base/badge/components/badge.tsx
Labels: none

fix: delete className
  packages/wiz-ui-react/src/components/base/step-bar/components/step-bar.tsx
  packages/wiz-ui-react/src/components/base/step-bar/components/step-line.tsx
  packages/wiz-ui-react/src/components/base/step-bar/components/step-point.tsx
Labels: none

fix: delete className
  packages/wiz-ui-react/src/components/base/accordion/components/accordion.tsx
  packages/wiz-ui-react/src/components/base/icon/components/icon.tsx
  packages/wiz-ui-react/src/components/base/stack/components/stack.tsx
  packages/wiz-ui-react/src/components/base/stack/components/types.ts
Labels: none

fix: delete className
  packages/wiz-ui-react/src/components/base/dialog/components/dialog.tsx
Labels: none

fix: delete element default props
  packages/wiz-ui-react/src/components/base/graphs/circle/components/circle-graph.tsx
Labels: none

fix: インターフェース変更
  packages/wiz-ui-react/src/components/base/accordion/components/accordion.tsx
  packages/wiz-ui-react/src/components/base/accordion/stories/accordion.stories.tsx
Labels: none

refactor: JSXから関数切り出し
  packages/wiz-ui-react/src/components/base/calendar/components/calendar.tsx
Labels: none
