Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

fix(tooltip): 回り込み時に矢印の方向が変わらないバグの修正
  packages/wiz-ui-next/src/components/base/tooltip/tooltip.vue
  packages/wiz-ui/src/components/base/tooltip/tooltip.vue
Labels: none

refactor(tooltip): logの削除
  packages/wiz-ui/src/components/base/tooltip/tooltip.vue
Labels: none

fix(tooltip): tc, bc, lc, rc以外のdirectionが入った場合でも対応できるように改修
  packages/wiz-ui-next/src/components/base/tooltip/tooltip.vue
  packages/wiz-ui/src/components/base/tooltip/tooltip.vue
Labels: none

release: v1.0.1
  packages/wiz-ui-next/package.json
  packages/wiz-ui-next/src/index.ts
  packages/wiz-ui/package.json
  packages/wiz-ui/src/index.ts
Labels: ⬆️ dependencies

fix(tooltip): 最初から画面外にあるtooltipの表示位置が回り込み済みのものとなってしまうバグの修正
  packages/wiz-ui-next/src/components/base/popup/popup.vue
  packages/wiz-ui-next/src/components/base/popup/provider.ts
  packages/wiz-ui/src/components/base/popup/popup.vue
  packages/wiz-ui/src/components/base/popup/provider.ts
Labels: none

release: v1.0.2
  packages/wiz-ui-next/package.json
  packages/wiz-ui-next/src/index.ts
  packages/wiz-ui/package.json
  packages/wiz-ui/src/index.ts
Labels: ⬆️ dependencies

chore: 許可なき商用利用についてREADMEに明記
  README.md
Labels: none

feat(icon-button): aria-labelを強制
  packages/wiz-ui-next/src/components/base/buttons/icon/icon.vue
  packages/wiz-ui/src/components/base/buttons/icon/icon.vue
Labels: none

docs(icon-button): aria-labelを付与
  packages/wiz-ui-next/src/components/base/buttons/icon/icon.stories.ts
  packages/wiz-ui/src/components/base/buttons/icon/icon.stories.ts
Labels: 🎨 story

feat(avatar): aria-labelを強制
  packages/wiz-ui-next/src/components/base/avatar/avatar.vue
  packages/wiz-ui/src/components/base/avatar/avatar.vue
Labels: none

docs(avatar): aria-labelを付与
  packages/wiz-ui-next/src/components/base/avatar/avatar.stories.ts
  packages/wiz-ui/src/components/base/avatar/avatar.stories.ts
Labels: 🎨 story

feat(dialog): 閉じるボタンにaria-labelを付与
  packages/wiz-ui-next/src/components/base/dialog/dialog.vue
  packages/wiz-ui/src/components/base/dialog/dialog.vue
Labels: none

feat(header): メニューボタンにaria-labelを付与
  packages/wiz-ui-next/src/components/base/header/header.vue
  packages/wiz-ui/src/components/base/header/header.vue
Labels: none

feat(chat-form): 送信ボタンにaria-labelを付与
  packages/wiz-ui-next/src/components/custom/chat/form/chat-form.vue
  packages/wiz-ui/src/components/custom/chat/form/chat-form.vue
Labels: none

feat(chat-card): aria-labelを付与
  packages/wiz-ui-next/src/components/custom/chat/card/chat-card.vue
  packages/wiz-ui/src/components/custom/chat/card/chat-card.vue
Labels: none

feat(search-selector): 選択解除・開閉ボタンにaria-labelを付与
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.vue
Labels: none

feat(snack-bar): 閉じるボタンにaria-labelを付与
  packages/wiz-ui-next/src/components/base/snackbar/snackbar.vue
  packages/wiz-ui/src/components/base/snackbar/snackbar.vue
Labels: none

feat(nav-item): aria-labelを付与
  packages/wiz-ui-next/src/components/base/navigation/item.vue
  packages/wiz-ui/src/components/base/navigation/item.vue
Labels: none

fix(popup): default時のwidth, heightをautoに変更
  packages/styles/bases/popup.css.ts
Labels: none

refactor(nav-item): 不要なスタイルを削除
  packages/wiz-ui-next/src/components/base/navigation/item.vue
  packages/wiz-ui/src/components/base/navigation/item.vue
Labels: none

revert(popup): 影響範囲が広いため一旦戻す
  packages/styles/bases/popup.css.ts
Labels: none

feat(tooltip): expandオプションを追加
  packages/wiz-ui-next/src/components/base/tooltip/tooltip.vue
  packages/wiz-ui/src/components/base/tooltip/tooltip.vue
Labels: none

fix(nav-item): 親要素の横幅に合わせてnav-itemを伸縮させる
  packages/wiz-ui-next/src/components/base/navigation/item.vue
  packages/wiz-ui/src/components/base/navigation/item.vue
Labels: none

fix(nav-item): 親要素に合わせて伸縮させる
  packages/wiz-ui-next/src/components/base/navigation/item.vue
  packages/wiz-ui/src/components/base/navigation/item.vue
Labels: none

feat(dialog): ダイアログ表示時にスクロールをできないようにする
  packages/styles/bases/dialog.css.ts
  packages/wiz-ui-next/src/components/base/dialog/dialog.vue
  packages/wiz-ui/src/components/base/dialog/dialog.vue
Labels: none

fix(dialog): スクロールブロック時にbodyにwidth: 100%を追加
  packages/styles/bases/dialog.css.ts
Labels: none

refactor(search-selector): eslint無効のコメントアウトを削除
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.vue
Labels: none

chore(dep): install changeset
  package.json
  yarn.lock
Labels: ⬆️ dependencies

chore(changeset): init changeset
  .changeset/README.md
  .changeset/config.json
Labels: none

ci(changeset): create release generator
  .github/workflows/release.yml
Labels: 🏭 ci

chore(dep): add changelog-github plugin
  .changeset/config.json
  package.json
  yarn.lock
Labels: ⬆️ dependencies

fix(search-selector): ComponentNameを修正
  packages/constants/component/name.ts
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.vue
Labels: none

fix(date-range-picker): 同じ月が右と左どっちも表示される謎バグを修正
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.vue
  packages/wiz-ui/src/components/base/inputs/date-range-picker/date-range-picker.vue
Labels: none

fix(date-picker): 月を一つ戻る・一つ増やす処理を修正
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.vue
  packages/wiz-ui/src/components/base/inputs/date-picker/date-picker.vue
Labels: none

release(Vue2/Vue3): v1.0.3
  packages/wiz-ui-next/package.json
  packages/wiz-ui-next/src/index.ts
  packages/wiz-ui/package.json
  packages/wiz-ui/src/index.ts
Labels: ⬆️ dependencies

chore(changelog): update changelog for v1.0.3
  .changeset/bright-moons-allow.md
Labels: none

ci(changeset): add YARN CACHE FOLDER environment variable
  .github/workflows/release.yml
Labels: 🏭 ci

ci(changeset): set repository to changelog
  .changeset/config.json
Labels: none

chore(wiz-ui-react): init wiz-ui-react
  packages/wiz-ui-react/package.json
Labels: ⬆️ dependencies

feat(wiz-ui-react): add dev dependencies, script
  packages/wiz-ui-react/package.json
  yarn.lock
Labels: ⬆️ dependencies

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"
