Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"

refactor: remove time-picker style tag
  packages/wiz-ui/src/components/base/inputs/timepicker/time-picker.vue
Labels: none

refactor: stackをvanilla extract式のスタイルに変更
  packages/styles/bases/stack.css.ts
  packages/styles/commons/gap.css.ts
  packages/styles/commons/index.ts
  packages/wiz-ui/src/components/base/stack/stack.vue
Labels: none

fix: use styleVariants
  packages/styles/bases/menu.css.ts
  packages/wiz-ui/src/components/base/menu/menu-item.stories.ts
  packages/wiz-ui/src/components/base/menu/menu-item.vue
Labels: 🎨 story

refactor: 不要なimportの削除
  packages/wiz-ui/src/components/base/menu/menu-item.vue
Labels: none

feat: wiz-ui-nextの環境追加
  packages/wiz-ui-next/package.json
  packages/wiz-ui-next/tsconfig.json
  packages/wiz-ui-next/vite.config.ts
  yarn.lock
Labels: ⬆️ dependencies

feat: hookをバンドルに追加
  packages/wiz-ui-next/src/hooks/index.ts
  packages/wiz-ui-next/src/hooks/use-click-outside.ts
  packages/wiz-ui-next/src/hooks/use-global-provider.ts
  packages/wiz-ui-next/src/hooks/use-z-index.ts
  packages/wiz-ui-next/src/index.ts
  packages/wiz-ui-next/src/shims.d.ts
Labels: none

chore: wiz-uiのstorybook v7.0.0-beta.19へのマイグレーション
  packages/wiz-ui/package.json
  yarn.lock
Labels: ⬆️ dependencies

chore(wiz-ui-next): storybook v7.0.0-beta.19を追加
  packages/wiz-ui-next/.storybook/assets/global.css
  packages/wiz-ui-next/.storybook/assets/images/avatar-1.png
  packages/wiz-ui-next/.storybook/assets/images/avatar-2.png
  packages/wiz-ui-next/.storybook/assets/images/avatar-3.png
  packages/wiz-ui-next/.storybook/assets/images/gradient.png
  packages/wiz-ui-next/.storybook/main.js
  packages/wiz-ui-next/.storybook/manager.js
  packages/wiz-ui-next/.storybook/preview-head.html
  packages/wiz-ui-next/.storybook/preview.js
  packages/wiz-ui-next/.storybook/wizTheme.js
  packages/wiz-ui-next/package.json
  yarn.lock
Labels: ⬆️ dependencies

feat: vue3にcolor/font-size componentを追加、vue3仕様にrefactor
  packages/wiz-ui-next/src/components/index.ts
  packages/wiz-ui-next/src/components/manager/color.stories.ts
  packages/wiz-ui-next/src/components/manager/font-size.stories.ts
  packages/wiz-ui-next/src/components/manager/index.ts
  packages/wiz-ui-next/src/components/manager/provider.vue
Labels: 🎨 story

feat: installerを作成
  packages/wiz-ui-next/src/index.ts
Labels: none

feat: vue3 exampleを作成
  examples/vue3/index.html
  examples/vue3/package.json
  examples/vue3/src/App.vue
  examples/vue3/src/main.ts
  examples/vue3/src/pages/about.vue
  examples/vue3/src/pages/contact.vue
  examples/vue3/src/pages/help.vue
  examples/vue3/src/pages/home.vue
  examples/vue3/src/router/index.ts
  examples/vue3/src/shims.d.ts
  examples/vue3/src/styles/global.css
  examples/vue3/tsconfig.json
  examples/vue3/vite.config.ts
  yarn.lock
Labels: ⬆️ dependencies

fix(@vitejs/plugin-vue): viteとバージョンがあってなかったのでダウングレード
  packages/wiz-ui-next/package.json
Labels: ⬆️ dependencies

fix: shims型がVue2.7のものになっていたので3に更新
  examples/vue3/src/shims.d.ts
  packages/wiz-ui-next/src/shims.d.ts
Labels: none

feat: icon componentを対応
  packages/wiz-ui-next/src/components/icons/add.vue
  packages/wiz-ui-next/src/components/icons/arrow-right.vue
  packages/wiz-ui-next/src/components/icons/assignment-add.vue
  packages/wiz-ui-next/src/components/icons/assignment.vue
  packages/wiz-ui-next/src/components/icons/business-center.vue
  packages/wiz-ui-next/src/components/icons/calendar.vue
  packages/wiz-ui-next/src/components/icons/chat.vue
  packages/wiz-ui-next/src/components/icons/chevron-left.vue
  packages/wiz-ui-next/src/components/icons/chevron-right.vue
  packages/wiz-ui-next/src/components/icons/close.vue
  packages/wiz-ui-next/src/components/icons/dashboard.vue
  packages/wiz-ui-next/src/components/icons/edit-note.vue
  packages/wiz-ui-next/src/components/icons/expand-less.vue
  packages/wiz-ui-next/src/components/icons/expand-more.vue
  packages/wiz-ui-next/src/components/icons/eye.vue
  packages/wiz-ui-next/src/components/icons/groups.vue
  packages/wiz-ui-next/src/components/icons/help.vue
  packages/wiz-ui-next/src/components/icons/hint.vue
  packages/wiz-ui-next/src/components/icons/icons.stories.ts
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-next/src/components/icons/manage-accounts.vue
  packages/wiz-ui-next/src/components/icons/menu.vue
  packages/wiz-ui-next/src/components/icons/monitoring.vue
  packages/wiz-ui-next/src/components/icons/more-vert.vue
  packages/wiz-ui-next/src/components/icons/notification.vue
  packages/wiz-ui-next/src/components/icons/open-in-new.vue
  packages/wiz-ui-next/src/components/icons/remove.vue
  packages/wiz-ui-next/src/components/icons/schedule.vue
  packages/wiz-ui-next/src/components/icons/send.vue
  packages/wiz-ui-next/src/components/icons/tab.vue
  packages/wiz-ui-next/src/components/index.ts
Labels: 🎨 story

chore(wiz-ui-next): builder-viteの入れ忘れ
  packages/wiz-ui-next/package.json
Labels: ⬆️ dependencies

feat: WizIconのVue3対応
  packages/wiz-ui-next/src/components/base/icon/icon.stories.ts
  packages/wiz-ui-next/src/components/base/icon/icon.vue
  packages/wiz-ui-next/src/components/base/icon/index.ts
  packages/wiz-ui-next/src/components/base/index.ts
  packages/wiz-ui-next/src/components/index.ts
Labels: 🎨 story

feat: WizTooltipのVue3対応
  packages/wiz-ui-next/src/components/base/tooltip/index.ts
  packages/wiz-ui-next/src/components/base/tooltip/tooltip.stories.ts
  packages/wiz-ui-next/src/components/base/tooltip/tooltip.vue
Labels: 🎨 story

feat: WizTagのVue3対応
  packages/wiz-ui-next/src/components/base/index.ts
  packages/wiz-ui-next/src/components/base/tag/index.ts
  packages/wiz-ui-next/src/components/base/tag/tag.stories.ts
  packages/wiz-ui-next/src/components/base/tag/tag.vue
Labels: 🎨 story

feat: WizTextareaのVue3対応
  packages/wiz-ui-next/src/components/base/index.ts
  packages/wiz-ui-next/src/components/base/textarea/index.ts
  packages/wiz-ui-next/src/components/base/textarea/text-area.stories.ts
  packages/wiz-ui-next/src/components/base/textarea/text-area.vue
Labels: 🎨 story

fix: userEventにawaitつけるように矯正 source: https://github.com/storybookjs/eslint-plugin-storybook/blob/main/docs/rules/await-interactions.md
  packages/wiz-ui-next/src/components/base/textarea/text-area.stories.ts
  packages/wiz-ui/src/components/base/buttons/text/text.stories.ts
  packages/wiz-ui/src/components/base/inputs/text/text.stories.ts
  packages/wiz-ui/src/components/base/textarea/text-area.stories.ts
Labels: 🎨 story

fix: textareaのv-model動かん問題を修正
  packages/wiz-ui-next/src/components/base/textarea/text-area.stories.ts
  packages/wiz-ui-next/src/components/base/textarea/text-area.vue
Labels: 🎨 story

feat: WizTextのVue3対応
  packages/styles/bases/text.css.ts
  packages/wiz-ui-next/.storybook/main.js
  packages/wiz-ui-next/src/components/base/index.ts
  packages/wiz-ui-next/src/components/base/text/index.ts
  packages/wiz-ui-next/src/components/base/text/text.stories.ts
  packages/wiz-ui-next/src/components/base/text/text.vue
Labels: 🎨 story

refactor: storybook/vue3に対応
  packages/wiz-ui-next/src/components/base/icon/icon.stories.ts
  packages/wiz-ui-next/src/components/base/tag/tag.stories.ts
  packages/wiz-ui-next/src/components/base/text/text.stories.ts
  packages/wiz-ui-next/src/components/base/textarea/text-area.stories.ts
  packages/wiz-ui-next/src/components/base/tooltip/tooltip.stories.ts
Labels: 🎨 story

feat: WizStacksのVue3対応
  packages/wiz-ui-next/src/components/base/index.ts
  packages/wiz-ui-next/src/components/base/stack/h-stack.vue
  packages/wiz-ui-next/src/components/base/stack/index.ts
  packages/wiz-ui-next/src/components/base/stack/stack.stories.ts
  packages/wiz-ui-next/src/components/base/stack/stack.vue
  packages/wiz-ui-next/src/components/base/stack/v-stack.vue
Labels: 🎨 story

feat: WizTablesのVue3対応
  packages/wiz-ui-next/src/components/base/tables/card/index.ts
  packages/wiz-ui-next/src/components/base/tables/card/table.stories.ts
  packages/wiz-ui-next/src/components/base/tables/card/table.vue
  packages/wiz-ui-next/src/components/base/tables/card/tbody.vue
  packages/wiz-ui-next/src/components/base/tables/card/td.vue
  packages/wiz-ui-next/src/components/base/tables/card/th.vue
  packages/wiz-ui-next/src/components/base/tables/card/thead.vue
  packages/wiz-ui-next/src/components/base/tables/card/tr.vue
  packages/wiz-ui-next/src/components/base/tables/flat/index.ts
  packages/wiz-ui-next/src/components/base/tables/flat/table.stories.ts
  packages/wiz-ui-next/src/components/base/tables/flat/table.vue
  packages/wiz-ui-next/src/components/base/tables/flat/tbody.vue
  packages/wiz-ui-next/src/components/base/tables/flat/td.vue
  packages/wiz-ui-next/src/components/base/tables/flat/th.vue
  packages/wiz-ui-next/src/components/base/tables/flat/thead.vue
  packages/wiz-ui-next/src/components/base/tables/flat/tr.vue
  packages/wiz-ui-next/src/components/base/tables/index.ts
  packages/wiz-ui-next/src/components/base/tables/unstyled/index.ts
  packages/wiz-ui-next/src/components/base/tables/unstyled/table.stories.ts
  packages/wiz-ui-next/src/components/base/tables/unstyled/table.vue
  packages/wiz-ui-next/src/components/base/tables/unstyled/tbody.vue
  packages/wiz-ui-next/src/components/base/tables/unstyled/td.vue
  packages/wiz-ui-next/src/components/base/tables/unstyled/th.vue
  packages/wiz-ui-next/src/components/base/tables/unstyled/thead.vue
  packages/wiz-ui-next/src/components/base/tables/unstyled/tr.vue
Labels: 🎨 story

feat: WizButtonのVue3対応
  packages/wiz-ui-next/src/components/base/buttons/icon/icon.stories.ts
  packages/wiz-ui-next/src/components/base/buttons/icon/icon.vue
  packages/wiz-ui-next/src/components/base/buttons/icon/index.ts
  packages/wiz-ui-next/src/components/base/buttons/index.ts
  packages/wiz-ui-next/src/components/base/buttons/text/index.ts
  packages/wiz-ui-next/src/components/base/buttons/text/text.stories.ts
  packages/wiz-ui-next/src/components/base/buttons/text/text.vue
  packages/wiz-ui-next/src/components/base/buttons/toggle/index.ts
  packages/wiz-ui-next/src/components/base/buttons/toggle/toggle.stories.ts
  packages/wiz-ui-next/src/components/base/buttons/toggle/toggle.vue
  packages/wiz-ui-next/src/components/base/index.ts
Labels: 🎨 story

feat: WizDividerのVue3対応
  packages/wiz-ui-next/src/components/base/divider/divider.stories.ts
  packages/wiz-ui-next/src/components/base/divider/divider.vue
  packages/wiz-ui-next/src/components/base/index.ts
Labels: 🎨 story

feat: WizPopupのVue3対応
  packages/wiz-ui-next/src/components/base/divider/index.ts
  packages/wiz-ui-next/src/components/base/popup/index.ts
  packages/wiz-ui-next/src/components/base/popup/popup-container.vue
  packages/wiz-ui-next/src/components/base/popup/popup.stories.ts
  packages/wiz-ui-next/src/components/base/popup/popup.vue
  packages/wiz-ui-next/src/components/base/popup/provider.ts
Labels: 🎨 story

fix: WizTextのSBのバグ修正
  packages/wiz-ui-next/src/components/base/text/text.stories.ts
Labels: 🎨 story

fix: WizTooltipのSBのバグ修正
  packages/wiz-ui-next/src/components/base/tooltip/tooltip.stories.ts
Labels: 🎨 story

fix: WizDividerのSBのバグ修正
  packages/wiz-ui-next/src/components/base/divider/divider.stories.ts
  packages/wiz-ui-next/src/components/base/divider/divider.vue
Labels: 🎨 story

fix: WizPopupのSBのバグ修正
  packages/wiz-ui-next/src/components/base/popup/popup-container.vue
  packages/wiz-ui-next/src/components/base/popup/popup.stories.ts
Labels: 🎨 story

fix: WizTextButtonのdisable時でもhoverが発動する問題を修正
  packages/wiz-ui-next/src/components/base/buttons/text/text.vue
  packages/wiz-ui/src/components/base/buttons/text/text.vue
Labels: none

feat: WizTextInputのVue3対応
  packages/wiz-ui-next/src/components/base/inputs/base/base.vue
  packages/wiz-ui-next/src/components/base/inputs/base/index.ts
  packages/wiz-ui-next/src/components/base/inputs/index.ts
  packages/wiz-ui-next/src/components/base/inputs/text/index.ts
  packages/wiz-ui-next/src/components/base/inputs/text/text.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/text/text.vue
Labels: 🎨 story

fix: SBのVue3対応
  packages/wiz-ui-next/src/components/base/buttons/icon/icon.stories.ts
  packages/wiz-ui-next/src/components/base/buttons/text/text.stories.ts
  packages/wiz-ui-next/src/components/base/buttons/toggle/toggle.stories.ts
  packages/wiz-ui-next/src/components/base/index.ts
Labels: 🎨 story

fix: SBのVue3対応
  packages/wiz-ui-next/src/components/base/buttons/toggle/toggle.stories.ts
  packages/wiz-ui-next/src/components/base/tables/card/table.stories.ts
Labels: 🎨 story

fix: SBのVue3対応
  packages/wiz-ui-next/src/components/base/popup/popup.stories.ts
Labels: 🎨 story

feat: WizCheckboxのVue3対応
  packages/wiz-ui-next/src/components/base/inputs/checkbox/checkbox.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/checkbox/checkbox.vue
  packages/wiz-ui-next/src/components/base/inputs/checkbox/index.ts
  packages/wiz-ui-next/src/components/base/inputs/checkbox/types.ts
Labels: 🎨 story

feat: WizDatePickerのVue3対応
  packages/wiz-ui-next/src/components/base/inputs/datepicker/date-picker.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/datepicker/date-picker.vue
  packages/wiz-ui-next/src/components/base/inputs/datepicker/index.ts
Labels: 🎨 story

feat: WizPanelSwitchのVue3対応
  packages/wiz-ui-next/src/components/base/inputs/panel-switch/index.ts
  packages/wiz-ui-next/src/components/base/inputs/panel-switch/panel-switch.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/panel-switch/panel-switch.vue
  packages/wiz-ui-next/src/components/base/inputs/panel-switch/types.ts
Labels: 🎨 story
