Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"

feat: Add 3 icons
  packages/wiz-ui-next/src/components/icons/autorenew.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-next/src/components/icons/note-add.vue
  packages/wiz-ui-next/src/components/icons/task.vue
  packages/wiz-ui/src/components/icons/autorenew.vue
  packages/wiz-ui/src/components/icons/index.ts
  packages/wiz-ui/src/components/icons/note-add.vue
  packages/wiz-ui/src/components/icons/task.vue
Labels: none

feat: Navigationがactiveの時太字に変更
  packages/styles/bases/navigation.css.ts
  packages/wiz-ui-next/src/components/base/navigation/item.vue
  packages/wiz-ui/src/components/base/navigation/item.vue
Labels: none

feat: vueのimport file名を修正う
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui/src/components/icons/index.ts
Labels: none

fix: expand timeout area
  packages/wiz-ui-next/package.json
  packages/wiz-ui/package.json
Labels: ⬆️ dependencies

release(Vue2): v0.4.1
  packages/wiz-ui/package.json
  packages/wiz-ui/src/index.ts
Labels: ⬆️ dependencies

release(Vue3): v0.4.1
  packages/wiz-ui-next/package.json
  packages/wiz-ui-next/src/index.ts
Labels: ⬆️ dependencies

fix: NotificationListのWizBoxのscroll
  packages/wiz-ui-next/src/components/custom/notification/list/list.vue
  packages/wiz-ui/src/components/custom/notification/list/list.vue
Labels: none

feat(icon): CircleCheck
  packages/constants/component/name.ts
  packages/wiz-ui-next/src/components/icons/circle-check.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui/src/components/icons/circle-check.vue
  packages/wiz-ui/src/components/icons/index.ts
Labels: none

fix: 意味が重複していてわかりづらかったのでsnap scrollの方を命名変更
  packages/wiz-ui-next/src/components/base/box/box.vue
  packages/wiz-ui/src/components/base/box/box.vue
Labels: none

fix: Badgeのpointer eventsを外して子要素のクリックがきくように
  packages/styles/bases/badge.css.ts
  packages/wiz-ui-next/src/components/base/badge/badge.stories.ts
  packages/wiz-ui/src/components/base/badge/badge.stories.ts
Labels: 🎨 story

refactor: remove option api bundle
  packages/wiz-ui-next/vite.config.ts
Labels: none

chore(dep): bundle visualizer
  .gitignore
  package.json
  packages/wiz-ui-next/vite.config.ts
  packages/wiz-ui/vite.config.ts
  yarn.lock
Labels: ⬆️ dependencies

fix:wiz-upload
  packages/wiz-ui/src/components/base/inputs/index.ts
  packages/wiz-ui/src/components/base/inputs/upload/upload.stories.ts
Labels: 🎨 story

fix:wiz-nextにwiz-uploadを追加
  packages/styles/bases/upload-display.css.ts
  packages/wiz-ui-next/src/components/base/inputs/index.ts
  packages/wiz-ui-next/src/components/base/inputs/upload/index.ts
  packages/wiz-ui-next/src/components/base/inputs/upload/upload-display.vue
  packages/wiz-ui-next/src/components/base/inputs/upload/upload.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/upload/upload.vue
  packages/wiz-ui-next/src/components/icons/attach-file.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui/src/components/icons/check-circle.vue
  packages/wiz-ui/src/components/icons/index.ts
Labels: 🎨 story

fix: apply string "to" for navigation
  packages/wiz-ui-next/src/components/base/navigation/item.vue
  packages/wiz-ui/src/components/base/navigation/item.vue
Labels: none

fix(tab): change default color gray.800 -> gray.600
  packages/styles/bases/tab.css.ts
Labels: none

fix(pagination): padding 12px
  packages/styles/bases/pagination.css.ts
Labels: none

fix(pagination): 端にきた時に<や>が来ないようにした
  packages/wiz-ui-next/src/components/base/pagination/pagination.vue
  packages/wiz-ui/src/components/base/pagination/pagination.vue
Labels: none

fix(pagination): 連打した時にtextが選択されないように修正
  packages/styles/bases/pagination.css.ts
Labels: none

fix(pagination): 要素数が5個固定になるように修正
  packages/wiz-ui-next/src/components/base/pagination/pagination.stories.ts
  packages/wiz-ui-next/src/components/base/pagination/pagination.vue
  packages/wiz-ui/src/components/base/pagination/pagination.stories.ts
  packages/wiz-ui/src/components/base/pagination/pagination.vue
Labels: 🎨 story

fix(tab): heightを40pxに固定
  packages/styles/bases/tab.css.ts
Labels: none

release(Vue2): v0.4.2
  packages/wiz-ui/package.json
  packages/wiz-ui/src/index.ts
Labels: ⬆️ dependencies

release(Vue3): v0.4.2
  packages/wiz-ui-next/package.json
  packages/wiz-ui-next/src/index.ts
Labels: ⬆️ dependencies

fix:checkboxのチェックをicon使用に変更
  packages/wiz-ui-next/src/components/base/inputs/checkbox/checkbox.vue
  packages/wiz-ui/src/components/base/inputs/checkbox/checkbox.vue
Labels: none

fix:checkboxのチェックをicon使用に変更
  packages/wiz-ui-next/src/components/icons/check.vue
  packages/wiz-ui/src/components/icons/check.vue
Labels: none

fix:checkboxのチェックをicon使用に変更
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui/src/components/icons/index.ts
Labels: none

fix:checkboxのチェックをicon使用に変更
  packages/constants/component/name.ts
  packages/styles/bases/checkbox-input.css.ts
Labels: none

fix:radioのfontsize修正
  packages/styles/bases/radio-input.css.ts
Labels: none

update: expandのpopupに対して適切なスタイルを当てる
  packages/styles/bases/popup.css.ts
  packages/wiz-ui-next/src/components/base/popup/popup.vue
  packages/wiz-ui/src/components/base/message-box/message-box.vue
  packages/wiz-ui/src/components/base/popup/popup.vue
Labels: none

fix: requiredはfalseなので元に戻す
  packages/wiz-ui/src/components/base/message-box/message-box.vue
Labels: none

update: widthとheightの順を揃える
  packages/styles/bases/popup.css.ts
Labels: none

fix:wiz-boxのpropsにmin/maxの設定を追加
  packages/wiz-ui-next/src/components/base/box/box.vue
  packages/wiz-ui/src/components/base/box/box.vue
Labels: none

fix(selectbox): fix placeholder dependencies of truthy
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.vue
  packages/wiz-ui/src/components/base/inputs/selectbox/selectbox.vue
Labels: none

fix(unstyled table): invert border-spacing x,y
  packages/styles/commons/border-spacing.css.ts
Labels: none

fix:wiz-stackでgxとgyを両方指定した際にgxが効かないバグの修正
  packages/styles/commons/gap.css.ts
Labels: none

chore(tag): TYPO tagStyle
  packages/styles/bases/tag.css.ts
  packages/wiz-ui-next/src/components/base/tag/tag.vue
  packages/wiz-ui/src/components/base/tag/tag.vue
Labels: none

fix(selectbox): position relative忘れ
  packages/styles/bases/popup.css.ts
Labels: none

feat: add badge doc
  packages/wiz-ui-next/src/components/base/badge/badge.stories.ts
  packages/wiz-ui/src/components/base/badge/badge.stories.ts
Labels: 🎨 story

feat: add avatar doc
  packages/wiz-ui-next/src/components/base/avatar/avatar.stories.ts
  packages/wiz-ui/src/components/base/avatar/avatar.stories.ts
Labels: 🎨 story

fix(tag): widthを指定できるように
  packages/styles/bases/tag.css.ts
  packages/wiz-ui-next/src/components/base/tag/tag.stories.ts
  packages/wiz-ui-next/src/components/base/tag/tag.vue
  packages/wiz-ui/src/components/base/tag/tag.stories.ts
  packages/wiz-ui/src/components/base/tag/tag.vue
Labels: 🎨 story
