Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

[#1198] Focus の色を ブラウザデフォルトのものに修正
  packages/styles/bases/base-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/base/base.vue
  packages/wiz-ui-react/src/components/base/inputs/base/components/base-input.tsx
Labels: none

[#1198] add changeset
  .changeset/seven-carrots-sparkle.md
Labels: none

[#1188] expand を適用するように実装
  packages/wiz-ui-next/src/components/base/tooltip/tooltip.stories.ts
  packages/wiz-ui-next/src/components/base/tooltip/tooltip.vue
  packages/wiz-ui-react/src/components/base/tooltip/components/tooltip.tsx
  packages/wiz-ui-react/src/components/base/tooltip/stories/tooltip.stories.tsx
Labels: 🎨 story

[#1188] add changeset
  .changeset/quiet-turtles-tap.md
Labels: none

fix(avatar): srcがundefinedの場合はimgタグを表示しない
  .changeset/tasty-ads-listen.md
  packages/wiz-ui-next/src/components/base/avatar/avatar.vue
  packages/wiz-ui-react/src/components/base/avatar/components/avatar.tsx
Labels: none

fix: ポップアップ内容が変更されたときに座標を再計算するように修正
  packages/wiz-ui-react/src/components/base/popup/components/popup.tsx
Labels: none

[#1188] react のビルドエラーの修正
  packages/wiz-ui-react/src/components/base/tooltip/components/tooltip.tsx
Labels: none

[#1220] textarea の focus を default の物に修正
  packages/styles/bases/text-area.css.ts
  packages/wiz-ui-next/src/components/base/textarea/text-area.vue
  packages/wiz-ui-react/src/components/base/text-area/components/text-area.tsx
Labels: none

[#1220] add changeset
  .changeset/lovely-chicken-wash.md
Labels: none

[#1210] line-height を削除
  packages/styles/bases/search-input.css.ts
Labels: none

[#1210] add changeset
  .changeset/yellow-weeks-march.md
Labels: none

[#1210] 選択肢の余白を調整
  packages/styles/bases/search-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-popup.vue
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-popup-panel.tsx
Labels: none

chore: add changeset
  .changeset/moody-fishes-ring.md
Labels: none

fix(form-control): エラーメッセージ表示領域を確保
  packages/wiz-ui-react/src/components/custom/form/components/form-control.tsx
Labels: none

chore(form-control): add changeset
  .changeset/kind-cars-sneeze.md
Labels: none

fix: ポップアップの座標計算タイミングを改善
  packages/wiz-ui-next/src/components/base/popup/popup.vue
Labels: none

chore: add changeset
  .changeset/new-ants-worry.md
Labels: none

fix: popupの座標計算でvisualViewportを加味するように修正
  packages/wiz-ui-next/src/components/base/popup/popup.vue
  packages/wiz-ui-next/src/components/base/popup/provider.ts
  packages/wiz-ui-react/src/components/base/popup/components/popup.tsx
  packages/wiz-ui-react/src/components/base/popup/utils/popup-position.ts
Labels: none

test: fix test
  packages/wiz-ui-react/src/components/base/popup/components/popup.tsx
  packages/wiz-ui-react/src/components/base/popup/utils/popup-position.ts
Labels: none

[#1220] test 修正
  packages/wiz-ui-next/src/components/base/textarea/text-area.stories.ts
  packages/wiz-ui-react/src/components/base/text-area/stories/text-area.stories.tsx
Labels: 🎨 story

[#1210] padding-Y の修正
  packages/styles/bases/search-input.css.ts
Labels: none

chore(popup): changeset
  .changeset/quiet-sheep-jump.md
Labels: none

chore(search-input): コメントアウトの追加
  packages/styles/bases/search-input.css.ts
Labels: none

fix(timeline): react で WizTimeline が import できるようにする (close: #1234)
  .changeset/famous-buckets-visit.md
  packages/wiz-ui-react/src/components/custom/index.ts
Labels: none

chore: node + loaderを使ったビルド方法に変更
  packages/icons/package.json
Labels: ⬆️ dependencies

feat(icon): add draft and login icons
  packages/constants/component/icon-name.ts
  packages/icons/assets/draft.svg
  packages/icons/assets/login.svg
  packages/wiz-ui-next/src/components/icons/draft.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-next/src/components/icons/login.vue
  packages/wiz-ui-react/src/components/icons/draft.tsx
  packages/wiz-ui-react/src/components/icons/index.ts
  packages/wiz-ui-react/src/components/icons/login.tsx
Labels: none

chore(icon): add changeset
  .changeset/wicked-glasses-sin.md
Labels: none

fix: disable dateの適用対象を修正
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.vue
  packages/wiz-ui-react/src/components/base/inputs/date-range-picker/components/date-range-picker.tsx
Labels: none

chore: add changeset
  .changeset/breezy-numbers-march.md
Labels: none

chore: iconにdisplayNameを追加
  packages/icons/scripts/utils.ts
Labels: none

chore: fix story
  packages/wiz-ui-react/src/components/base/icon/stories/icon.stories.tsx
Labels: none

chore: add changeset
  .changeset/purple-goats-learn.md
Labels: none

fix: SearchSelectorとSelectBoxのデザイン変更
  packages/styles/bases/popup-button-group.css.ts
  packages/styles/bases/search-selector.css.ts
  packages/styles/bases/selectbox-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.vue
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui-react/src/components/base/inputs/selectbox/components/selectbox.tsx
  packages/wiz-ui-react/src/components/base/popup-button-group/components/button-item.tsx
  packages/wiz-ui-react/src/components/base/popup-button-group/components/popup-button-group.tsx
Labels: none

chore: add changeset
  .changeset/sour-chicken-drum.md
Labels: none

Vue.js, TypeScirpt 周りのライブラリのアップデート
  examples/vue3/package.json
  examples/vue3/src/main.ts
  packages/wiz-ui-next/package.json
  packages/wiz-ui-next/src/components/custom/timeline/stories/timeline-item.stories.ts
  packages/wiz-ui-react/src/components/icons/draft.tsx
  packages/wiz-ui-react/src/components/icons/login.tsx
  pnpm-lock.yaml
Labels: 🎨 story, ⬆️ dependencies

fix(toggle-switch): 初回クリックが反映されない問題を修正
  packages/wiz-ui-react/src/components/base/inputs/toggle-switch/components/toggle-switch.tsx
Labels: none

chore(toggle-switch): add changeset
  .changeset/beige-rings-live.md
Labels: none

chore: displayName設定漏れを修正
  packages/wiz-ui-react/src/components/icons/draft.tsx
  packages/wiz-ui-react/src/components/icons/login.tsx
Labels: none

[#1222] Single Select で選択後に Popup を閉じる機能を追加
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-input.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-popup-panel.tsx
Labels: none

[#1222] single select の機能を追加
  packages/styles/bases/search-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui-next/src/components/base/inputs/search-input/stories/search-input.stories.ts
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-input.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-popup-panel.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-input/stories/search-input.stories.tsx
Labels: 🎨 story

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"
