Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

chore: update storybook
  package.json
  pnpm-lock.yaml
Labels: ⬆️ dependencies

chore: delete packages
  docs/.npmignore
  docs/package.json
  docs/src/.vuepress/components/dialog/default.vue
  docs/src/.vuepress/config.ts
  docs/src/.vuepress/config/sidebar.ts
  docs/src/.vuepress/enhanceApp.ts
  docs/src/.vuepress/styles/index.styl
  docs/src/.vuepress/styles/palette.styl
  docs/src/component/base/dialog.md
  docs/src/component/base/message-box.md
  docs/src/component/base/text-button.md
  docs/src/component/custom/a.md
  docs/src/component/index.md
  docs/src/guide/contributing.md
  docs/src/guide/develop.md
  docs/src/guide/index.md
  docs/src/guide/setup.md
  docs/src/guide/structure.md
  docs/src/index.md
  packages/vuepress-plugin-wiz-ui/CHANGELOG.md
  packages/vuepress-plugin-wiz-ui/package.json
  packages/vuepress-plugin-wiz-ui/src/enhanceAppFiles.js
  packages/vuepress-plugin-wiz-ui/src/index.js
  packages/vuepress-plugin-wiz-ui/src/mdPlugin.js
  packages/vuepress-plugin-wiz-ui/src/util.js
  pnpm-lock.yaml
Labels: 📝 docs, ⬆️ dependencies

storybookの関連パッケージをupdate
  package.json
  pnpm-lock.yaml
Labels: ⬆️ dependencies

chore: remove workspace
  pnpm-workspace.yaml
Labels: none

@storybook/jestを入れ直し
  package.json
  pnpm-lock.yaml
Labels: ⬆️ dependencies

fix build error
  packages/wiz-ui/src/components/base/inputs/date-picker/date-picker.vue
Labels: none

fix build
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.vue
Labels: none

fix timeline story
  packages/wiz-ui-react/src/components/custom/timeline/stories/timeline-item.stories.tsx
  packages/wiz-ui-react/src/components/custom/timeline/stories/timeline.stories.tsx
Labels: none

chore: delete optional
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-popup-panel.tsx
Labels: none

[#1081] showExLabel の仕様修正
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui-react/src/components/base/popup-button-group/components/button-item.tsx
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.vue
Labels: none

[#986] カレンダーの有効日の文字色を変更
  .changeset/serious-jars-serve.md
  packages/styles/bases/calendar.css.ts
Labels: none

[#986] date-picker, date-range-picker の色変更
  packages/styles/bases/date-picker-input.css.ts
  packages/styles/bases/date-range-picker.css.ts
Labels: none

[#986] date-picker, date-range-picker の icon 色変更
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.vue
  packages/wiz-ui-react/src/components/base/inputs/date-picker/components/date-picker.tsx
  packages/wiz-ui/src/components/base/inputs/date-picker/date-picker.vue
Labels: none

docs(pagination): fix stories
  packages/wiz-ui-next/src/components/base/pagination/pagination.stories.ts
Labels: 🎨 story

docs(pagination): sideLength story
  packages/wiz-ui-next/src/components/base/pagination/pagination.stories.ts
Labels: 🎨 story

fix(text): class & style
  packages/wiz-ui-react/src/components/base/text/components/text.tsx
Labels: none

chore(checkbox): use BaseProps type
  packages/wiz-ui-react/src/components/base/inputs/checkbox/components/checkbox.tsx
Labels: none

feat(search-selector): dropdown height
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/search-selector.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-selector/stories/search-selector.stories.tsx
Labels: 🎨 story

docs(date-range-picker): fix date-range
  packages/wiz-ui-react/src/components/base/inputs/date-range-picker/stories/date-range-picker.stories.tsx
Labels: none

fix(search-input): checkboxのクリック可能範囲を修正
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-popup.vue
Labels: none

fix(checkbox-new): flexShrink:0としicon縮小を抑制
  packages/styles/bases/checkbox-new.css.ts
Labels: none

fix(search-input): vue版 幅修正
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-input.vue
Labels: none

fix(search-input): クリック可能範囲修正のReact対応
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-popup-panel.tsx
Labels: none

[#1096] Base Input の Text Color 修正
  packages/styles/bases/base-input.css.ts
Labels: none

[#1096] SelectBox の Text Color 修正
  packages/styles/bases/selectbox-input.css.ts
Labels: none

[#1096] Search Selector の Text Color 修正
  packages/styles/bases/search-selector.css.ts
Labels: none

[#1096] Dropdown Item の Text Color 修正
  packages/styles/bases/dropdown.css.ts
Labels: none

[#1096] Time Picker の Text Color 修正
  packages/styles/bases/time-picker-input.css.ts
Labels: none

[#1096] Time Picker の Pointer 機能の追加
  packages/wiz-ui-next/src/components/base/inputs/timepicker/time-picker.vue
  packages/wiz-ui-react/src/components/base/inputs/time-picker/components/time-picker.tsx
  packages/wiz-ui/src/components/base/inputs/timepicker/time-picker.vue
Labels: none

[#1096] Search Input の Text Color 修正
  packages/styles/bases/search-input.css.ts
Labels: none

[#1096] add changeset
  .changeset/perfect-seals-search.md
Labels: none

fix(drawer): vue, default shadowをfalse
  packages/wiz-ui-next/src/components/base/drawer/drawer.vue
Labels: none

fix(notification, grid): classname, styleの適用先を修正
  packages/wiz-ui-react/src/components/custom/notification/components/notification.tsx
  packages/wiz-ui-react/src/components/custom/schedule/components/grid.tsx
Labels: none

docs(drawer): storyの表示をvue, reactで統一
  packages/wiz-ui-next/src/components/base/drawer/drawer.stories.ts
Labels: 🎨 story

chore(drawer): changesetからvue2版を除外
  .changeset/ten-clocks-allow.md
Labels: none

docs(drawer): add shadow-and-width story
  packages/wiz-ui-next/src/components/base/drawer/drawer.stories.ts
  packages/wiz-ui-react/src/components/base/drawer/drawer.stories.tsx
Labels: 🎨 story

docs(drawer): fix right story
  packages/wiz-ui-next/src/components/base/drawer/drawer.stories.ts
Labels: 🎨 story

docs(drawer): 不要なexportを除去
  packages/wiz-ui-react/src/components/base/drawer/drawer.stories.tsx
Labels: none

fix(text): webkitBoxOrientの先頭が大文字になっていない問題 & 型エラーの修正
  packages/wiz-ui-next/src/components/base/text/text.vue
  packages/wiz-ui-react/src/components/base/text/components/text.tsx
Labels: none

chore(text): changeset
  .changeset/mighty-moles-tease.md
Labels: none

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"
