Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

chore(deps): rimraf
  packages/icons/package.json
  pnpm-lock.yaml
Labels: ⬆️ dependencies

chore: approve-builds
  pnpm-workspace.yaml
Labels: none

chore(deps): update
  package.json
  pnpm-lock.yaml
Labels: ⬆️ dependencies

fix: css file name
  packages/wiz-ui-next/vite.config.ts
  packages/wiz-ui-react/vite.config.ts
Labels: none

feat(icon): Shineアイコンの追加
  .changeset/gorgeous-ghosts-repair.md
  packages/constants/component/icon-name.ts
  packages/icons/assets/shine.svg
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-next/src/components/icons/shine.vue
  packages/wiz-ui-react/src/components/icons/index.ts
  packages/wiz-ui-react/src/components/icons/shine.tsx
Labels: none

fix: ShineアイコンをBoldに変更
  packages/constants/component/icon-name.ts
  packages/icons/assets/shine-bold.svg
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-next/src/components/icons/shine-bold.vue
  packages/wiz-ui-react/src/components/icons/index.ts
  packages/wiz-ui-react/src/components/icons/shine-bold.tsx
Labels: none

feat(form-control): label suffix
  packages/wiz-ui-next/src/components/custom/form/control.stories.ts
  packages/wiz-ui-next/src/components/custom/form/control.vue
  packages/wiz-ui-react/src/components/custom/form/components/form-control.tsx
  packages/wiz-ui-react/src/components/custom/form/stories/form-control.stories.tsx
Labels: 🎨 story

fix(form-control): wrap
  packages/wiz-ui-next/src/components/custom/form/control.vue
  packages/wiz-ui-react/src/components/custom/form/components/form-control.tsx
Labels: none

chore: add changeset
  .changeset/tasty-emus-ring.md
Labels: none

chore(deps): update
  package.json
  pnpm-lock.yaml
Labels: ⬆️ dependencies

feat(textarea): ComponentPropsWithoutRef で data-* 属性を透過できるよう対応
  packages/wiz-ui-react/src/components/base/text-area/components/text-area.tsx
Labels: none

chore(deps): update eslint
  .eslintignore
  .eslintrc.json
  .eslintrc.react.json
  .eslintrc.vue.json
  eslint.config.mjs
  package.json
  packages/wiz-ui-next/.eslintrc.json
  packages/wiz-ui-react/.eslintrc.json
  pnpm-lock.yaml
Labels: ⬆️ dependencies

fix: eslint warning
  examples/vue3/src/pages/chat/_components/chat-log.vue
  packages/wiz-ui-next/src/components/base/dialog/dialog.stories.ts
  packages/wiz-ui-next/src/components/base/stack/stack.stories.ts
  packages/wiz-ui-next/src/components/custom/chat/card/chat-card.vue
Labels: 🎨 story

chore(eslint): `vue/require-default-prop: off`
  eslint.config.mjs
Labels: none

feat(card): border color
  packages/styles/bases/card.css.ts
  packages/wiz-ui-next/src/components/base/card/card.stories.ts
  packages/wiz-ui-next/src/components/base/card/card.vue
  packages/wiz-ui-react/src/components/base/card/components/card.tsx
  packages/wiz-ui-react/src/components/base/card/stories/card.stories.tsx
Labels: 🎨 story

chore: add changeset
  .changeset/loud-eggs-juggle.md
Labels: none

fix(eslint): `vue/attribute-hyphenation: off`
  eslint.config.mjs
  examples/vue3/src/components/layout/header/avatar-dropdown.vue
  examples/vue3/src/components/layout/header/notification-dropdown.vue
  packages/wiz-ui-next/src/components/base/dialog/dialog.vue
  packages/wiz-ui-next/src/components/base/full-modal-view/full-modal-view.vue
  packages/wiz-ui-next/src/components/base/header/header.vue
  packages/wiz-ui-next/src/components/base/information-panel/information-panel.vue
  packages/wiz-ui-next/src/components/custom/chat/form/chat-form.vue
Labels: none

feat(react-component): data-testid追加のためComponentPropsWithoutRefの追加
  packages/wiz-ui-react/src/components/base/accordion/components/accordion.tsx
  packages/wiz-ui-react/src/components/base/dropdown/components/dropdown-item.tsx
  packages/wiz-ui-react/src/components/base/inputs/toggle-switch/components/toggle-switch.tsx
  packages/wiz-ui-react/src/components/base/navigation/components/navigation-item.tsx
  packages/wiz-ui-react/src/components/base/pagination/components/pagination.tsx
  packages/wiz-ui-react/src/components/base/panel-switch/components/panel-switch.tsx
  packages/wiz-ui-react/src/components/base/show-more-less/components/show-more-less.tsx
  packages/wiz-ui-react/src/components/base/tab/components/tab.tsx
  packages/wiz-ui-react/src/components/base/text-area/components/text-area.tsx
Labels: none

chore(react-component): data-testid追加のtest
  packages/wiz-ui-react/src/components/base/anchor/stories/anchor.stories.tsx
  packages/wiz-ui-react/src/components/base/dropdown/stories/dropdown-item.stories.tsx
  packages/wiz-ui-react/src/components/base/inputs/toggle-switch/stories/toggle-switch.stories.tsx
  packages/wiz-ui-react/src/components/base/navigation/stories/navigation-item.stories.tsx
  packages/wiz-ui-react/src/components/base/pagination/stories/pagination.stories.tsx
  packages/wiz-ui-react/src/components/base/panel-switch/stories/panel-switch.stories.tsx
  packages/wiz-ui-react/src/components/base/show-more-less/stories/show-more-less.stories.tsx
  packages/wiz-ui-react/src/components/base/tab/stories/tab.stories.tsx
  packages/wiz-ui-react/src/components/base/text-area/stories/text-area.stories.tsx
Labels: none

chore: pnpm changeset
  .changeset/perfect-ghosts-scream.md
Labels: none

feat(react-chat-card): data-testid追加のためComponentPropsWithoutRefの追加
  packages/wiz-ui-react/src/components/custom/chat/components/chat-card.tsx
Labels: none

feat(react-chat-card): data-testid追加のためComponentPropsWithoutRefの追加
  packages/wiz-ui-react/src/components/custom/chat/components/chat-card.tsx
Labels: none

chore(react-chat-card): data-testid追加のtest
  packages/wiz-ui-react/src/components/custom/chat/stories/chat-card.stories.tsx
Labels: none

fix(react): 既存の型を優先させるためにOmitを追加
  packages/wiz-ui-react/src/components/base/accordion/components/accordion.tsx
  packages/wiz-ui-react/src/components/base/panel-switch/components/panel-switch.tsx
  packages/wiz-ui-react/src/components/base/tab/components/tab.tsx
  packages/wiz-ui-react/src/components/custom/chat/components/chat-card.tsx
Labels: none

fix(navigation-item): 親要素にhrefが付与させないために分割代入する
  packages/wiz-ui-react/src/components/base/navigation/components/navigation-item.tsx
Labels: none

fix(navigation-item): 親要素にhrefが付与させないために分割代入する
  packages/wiz-ui-react/src/components/base/navigation/components/navigation-item.tsx
Labels: none

fix(react): 既存の型を優先させるためにOmitを追加
  packages/wiz-ui-react/src/components/base/accordion/components/accordion.tsx
  packages/wiz-ui-react/src/components/base/panel-switch/components/panel-switch.tsx
  packages/wiz-ui-react/src/components/base/tab/components/tab.tsx
  packages/wiz-ui-react/src/components/custom/chat/components/chat-card.tsx
Labels: none

fix: snackbar
  packages/wiz-ui-react/src/components/base/snackbar/components/snackbar.tsx
Labels: none

feat(react): ComponentにComponentPropsを付与できるように変更、aria-labelの追加
  packages/wiz-ui-react/src/components/base/anchor/components/anchor.tsx
  packages/wiz-ui-react/src/components/base/header/components/header.tsx
  packages/wiz-ui-react/src/components/base/information-panel/components/information-panel.tsx
  packages/wiz-ui-react/src/components/base/inputs/checkbox-new/components/checkbox-new.tsx
  packages/wiz-ui-react/src/components/base/inputs/date-picker/components/date-picker.tsx
  packages/wiz-ui-react/src/components/base/inputs/date-range-picker/components/date-range-picker.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-input.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-popup-panel.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/popup-button-group/components/button-item.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/popup-button-group/components/popup-button-group.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/search-selector.tsx
  packages/wiz-ui-react/src/components/base/inputs/selectbox/components/selectbox.tsx
  packages/wiz-ui-react/src/components/base/inputs/time-picker/components/time-picker.tsx
  packages/wiz-ui-react/src/components/base/popup-button-group/components/button-item.tsx
  packages/wiz-ui-react/src/components/base/popup-button-group/components/popup-button-group.tsx
  packages/wiz-ui-react/src/components/custom/notification/components/notification-list.tsx
  packages/wiz-ui-react/src/components/custom/notification/components/notification-panel.tsx
  packages/wiz-ui-react/src/components/custom/notification/components/notification.tsx
Labels: none

feat(vue): aria-labelの追加
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-popup.vue
  packages/wiz-ui-next/src/components/base/inputs/search-selector/popup-button-group/popup-button-group.vue
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.vue
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.vue
Labels: none

chore: pnpm changeset
  .changeset/ninety-experts-sleep.md
Labels: none

chore: add test for pr
  packages/wiz-ui-react/src/components/base/anchor/stories/anchor.stories.tsx
  packages/wiz-ui-react/src/components/base/header/stories/header.stories.tsx
  packages/wiz-ui-react/src/components/base/information-panel/stories/information-panel.stories.tsx
  packages/wiz-ui-react/src/components/base/inputs/date-picker/stories/date-picker.stories.tsx
  packages/wiz-ui-react/src/components/base/inputs/date-range-picker/stories/date-range-picker.stories.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-input/stories/search-input.stories.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-selector/stories/search-selector.stories.tsx
  packages/wiz-ui-react/src/components/base/inputs/selectbox/stories/selectbox.stories.tsx
  packages/wiz-ui-react/src/components/base/inputs/time-picker/stories/time-picker.stories.tsx
  packages/wiz-ui-react/src/components/base/popup-button-group/stories/popup-button-group.stories.tsx
  packages/wiz-ui-react/src/components/custom/notification/stories/notification-list.stories.tsx
  packages/wiz-ui-react/src/components/custom/notification/stories/notification-panel.stories.tsx
  packages/wiz-ui-react/src/components/custom/notification/stories/notification.stories.tsx
Labels: none

fix(time-picker): onChangeをcomponentPropsから除外して、カスタムタイプを有効になるように変更する
  packages/wiz-ui-react/src/components/base/inputs/time-picker/components/time-picker.tsx
Labels: none

fix(aria-label): テンプレートリテラルに書き方を統一する
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-input.tsx
Labels: none

feat(tag): redFilled variant
  packages/styles/bases/tag.css.ts
  packages/wiz-ui-next/src/components/base/tag/tag.stories.ts
  packages/wiz-ui-next/src/components/base/tag/tag.vue
  packages/wiz-ui-react/src/components/base/tag/components/tag.tsx
  packages/wiz-ui-react/src/components/base/tag/stories/tag.stories.tsx
Labels: 🎨 story

chore(tag): add changeset
  .changeset/soft-pans-build.md
Labels: none

feat(icon): minus-filled
  .changeset/heavy-lizards-peel.md
  packages/constants/component/icon-name.ts
  packages/icons/assets/minus-filled.svg
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-next/src/components/icons/minus-filled.vue
  packages/wiz-ui-react/src/components/icons/index.ts
  packages/wiz-ui-react/src/components/icons/minus-filled.tsx
Labels: none

feat: アイコン追加 WizIEditPencilBold
  .changeset/weak-bats-train.md
  packages/constants/component/icon-name.ts
  packages/icons/assets/edit-pencil-bold.svg
  packages/wiz-ui-next/src/components/icons/edit-pencil-bold.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-react/src/components/icons/edit-pencil-bold.tsx
  packages/wiz-ui-react/src/components/icons/index.ts
Labels: none

feat(tag): yellowFill追加
  packages/styles/bases/tag.css.ts
  packages/wiz-ui-next/src/components/base/tag/tag.stories.ts
  packages/wiz-ui-next/src/components/base/tag/tag.vue
  packages/wiz-ui-react/src/components/base/tag/components/tag.tsx
  packages/wiz-ui-react/src/components/base/tag/stories/tag.stories.tsx
Labels: 🎨 story

chore: changeset
  .changeset/proud-days-hope.md
Labels: none

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"
