Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"

refactor(calendar): createCalendarData
  packages/wiz-ui-react/src/components/base/calendar/components/calendar-helper.ts
  packages/wiz-ui-react/src/components/base/calendar/components/calendar.tsx
  packages/wiz-ui-react/src/components/base/calendar/components/types.ts
  packages/wiz-ui-react/src/components/base/calendar/tests/calendar-helper.test.ts
Labels: ✅ test

chore(tag): lineHeightオプションを削除
  packages/wiz-ui-next/src/components/base/tag/tag.vue
  packages/wiz-ui-react/src/components/base/tag/components/tag.tsx
  packages/wiz-ui/src/components/base/tag/tag.vue
Labels: none

refactor(search-input): tagのあるなしで適用するスタイルを切り替える
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-popup.vue
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-popup-panel.tsx
Labels: none

chore(search-input): vue2対応
  packages/wiz-ui/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui/src/components/base/inputs/search-input/search-popup.vue
Labels: none

chore(icon-gen): 初回マッチのみ置換
  packages/icons/scripts/utils.ts
Labels: none

feat(icon): add className prop
  packages/wiz-ui-react/src/components/icons/book.tsx
  packages/wiz-ui-react/src/components/icons/circle.tsx
  packages/wiz-ui-react/src/components/icons/contract.tsx
  packages/wiz-ui-react/src/components/icons/location-city.tsx
  packages/wiz-ui-react/src/components/icons/pie-chart.tsx
  packages/wiz-ui-react/src/components/icons/settings.tsx
  packages/wiz-ui-react/src/components/icons/smartphone.tsx
Labels: none

fix(popup): safari animation
  packages/wiz-ui-react/src/components/base/popup/hooks/use-popup-animation.ts
Labels: none

chore(popup): add changeset
  .changeset/tasty-squids-pump.md
Labels: none

chore(config): update vue-eslint setting
  .eslintrc.vue.json
Labels: none

fix: button type
  packages/wiz-ui-next/src/components/base/buttons/icon/icon.vue
  packages/wiz-ui-next/src/components/base/buttons/text/text.vue
  packages/wiz-ui-next/src/components/base/buttons/tiny/tiny.vue
  packages/wiz-ui-next/src/components/base/buttons/toggle/toggle.vue
  packages/wiz-ui-next/src/components/base/calendar/calendar.vue
  packages/wiz-ui-next/src/components/base/dropdown/dropdown-item.vue
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.vue
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.vue
  packages/wiz-ui-next/src/components/base/inputs/password/password.vue
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui-next/src/components/base/snackbar/snackbar.vue
  packages/wiz-ui-next/src/components/custom/chat/card/chat-card.vue
  packages/wiz-ui/src/components/base/buttons/icon/icon.vue
  packages/wiz-ui/src/components/base/buttons/text/text.vue
  packages/wiz-ui/src/components/base/buttons/tiny/tiny.vue
  packages/wiz-ui/src/components/base/buttons/toggle/toggle.vue
  packages/wiz-ui/src/components/base/calendar/calendar.vue
  packages/wiz-ui/src/components/base/dropdown/dropdown-item.vue
  packages/wiz-ui/src/components/base/inputs/date-picker/date-picker.vue
  packages/wiz-ui/src/components/base/inputs/date-range-picker/date-range-picker.vue
  packages/wiz-ui/src/components/base/inputs/password/password.vue
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui/src/components/base/snackbar/snackbar.vue
  packages/wiz-ui/src/components/custom/chat/card/chat-card.vue
Labels: none

chore: base/buttons配下のコンポーネントはtypeを引数で受ける
  packages/wiz-ui-next/src/components/base/buttons/.eslintrc.json
  packages/wiz-ui-next/src/components/base/buttons/text/text.vue
  packages/wiz-ui-next/src/components/base/buttons/tiny/tiny.vue
  packages/wiz-ui-next/src/components/base/buttons/toggle/toggle.vue
Labels: none

chore: vue2 base/button
  packages/wiz-ui/src/components/base/buttons/.eslintrc.json
  packages/wiz-ui/src/components/base/buttons/text/text.vue
  packages/wiz-ui/src/components/base/buttons/tiny/tiny.vue
  packages/wiz-ui/src/components/base/buttons/toggle/toggle.vue
Labels: none

chore: add changeset
  .changeset/ten-jars-yell.md
Labels: none

chore: update storybook
  package.json
  packages/wiz-ui-next/.eslintrc.json
  packages/wiz-ui-next/.storybook/main.js
  packages/wiz-ui-next/package.json
  packages/wiz-ui-react/.eslintrc.json
  packages/wiz-ui-react/.storybook/main.js
  packages/wiz-ui-react/package.json
  packages/wiz-ui/.eslintrc.json
  packages/wiz-ui/.storybook/main.js
  packages/wiz-ui/package.json
  pnpm-lock.yaml
Labels: ⬆️ dependencies

fix(sb): lint
  packages/wiz-ui-next/src/components/base/text/text.stories.ts
  packages/wiz-ui-react/src/components/base/inputs/time-picker/stories/time-picker.stories.tsx
  packages/wiz-ui-react/src/components/base/text/stories/text.stories.tsx
  packages/wiz-ui/src/components/base/text/text.stories.ts
Labels: 🎨 story

chore: remove vuepress-plugin-wiz-ui
  packages/vuepress-plugin-wiz-ui/CHANGELOG.md
  packages/vuepress-plugin-wiz-ui/package.json
  packages/vuepress-plugin-wiz-ui/src/enhanceAppFiles.js
  packages/vuepress-plugin-wiz-ui/src/index.js
  packages/vuepress-plugin-wiz-ui/src/mdPlugin.js
  packages/vuepress-plugin-wiz-ui/src/util.js
Labels: ⬆️ dependencies

chore: remove docs
  docs/.npmignore
  docs/package.json
  docs/src/.vuepress/components/dialog/default.vue
  docs/src/.vuepress/config.ts
  docs/src/.vuepress/config/sidebar.ts
  docs/src/.vuepress/enhanceApp.ts
  docs/src/.vuepress/styles/index.styl
  docs/src/.vuepress/styles/palette.styl
  docs/src/component/base/dialog.md
  docs/src/component/base/message-box.md
  docs/src/component/base/text-button.md
  docs/src/component/custom/a.md
  docs/src/component/index.md
  docs/src/guide/contributing.md
  docs/src/guide/develop.md
  docs/src/guide/index.md
  docs/src/guide/setup.md
  docs/src/guide/structure.md
  docs/src/index.md
Labels: 📝 docs, ⬆️ dependencies

chore: update config
  .eslintignore
  pnpm-lock.yaml
Labels: none

fix: storybook
  packages/wiz-ui-next/src/components/base/full-modal-view/full-modal-view.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.stories.ts
Labels: 🎨 story

chore(deps): update vite
  package.json
  pnpm-lock.yaml
Labels: ⬆️ dependencies

fix: snackbarが他の要素の下側表示にならないようにDOM構造を変更
  packages/wiz-ui-react/src/components/base/snackbar/components/snackbar-provider.tsx
Labels: none

[#1017] fix: Vue の expand property を option Property に含めた
  packages/wiz-ui-next/src/components/base/snackbar/snackbar-controller.vue
  packages/wiz-ui-next/src/components/base/snackbar/snackbar.stories.ts
  packages/wiz-ui-next/src/components/base/snackbar/types.ts
  packages/wiz-ui-next/src/hooks/use-snackbar.ts
  packages/wiz-ui/src/components/base/snackbar/snackbar-controller.vue
  packages/wiz-ui/src/components/base/snackbar/snackbar.stories.ts
  packages/wiz-ui/src/components/base/snackbar/types.ts
  packages/wiz-ui/src/hooks/use-snackbar.ts
Labels: 🎨 story

[#1017] fix: React の expand property を option Property に含めた
  packages/wiz-ui-react/src/components/base/snackbar/components/snackbar-context.tsx
  packages/wiz-ui-react/src/components/base/snackbar/components/snackbar-provider.tsx
  packages/wiz-ui-react/src/components/base/snackbar/components/snackbar.tsx
  packages/wiz-ui-react/src/components/base/snackbar/stories/snackbar.stories.tsx
Labels: none

[#1017] fix lint
  .changeset/tasty-mayflies-pay.md
  packages/wiz-ui-next/src/components/base/snackbar/types.ts
  packages/wiz-ui/src/components/base/snackbar/types.ts
Labels: none

refactor: 不要なコメントアウトの削除
  packages/icons/scripts/build.ts
Labels: none

fix(icon-button): type prop
  packages/wiz-ui-next/src/components/base/buttons/icon/icon.vue
  packages/wiz-ui/src/components/base/buttons/icon/icon.vue
Labels: none

refactor(search-input): nowrap, lineHeight
  packages/styles/bases/search-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-popup.vue
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-popup-panel.tsx
Labels: none

chore: remove docs
  docs/.npmignore
  docs/package.json
  docs/src/.vuepress/components/dialog/default.vue
  docs/src/.vuepress/config.ts
  docs/src/.vuepress/config/sidebar.ts
  docs/src/.vuepress/enhanceApp.ts
  docs/src/.vuepress/styles/index.styl
  docs/src/.vuepress/styles/palette.styl
  docs/src/component/base/dialog.md
  docs/src/component/base/message-box.md
  docs/src/component/base/text-button.md
  docs/src/component/custom/a.md
  docs/src/component/index.md
  docs/src/guide/contributing.md
  docs/src/guide/develop.md
  docs/src/guide/index.md
  docs/src/guide/setup.md
  docs/src/guide/structure.md
  docs/src/index.md
  pnpm-lock.yaml
Labels: 📝 docs, ⬆️ dependencies

chore: remove vuepress
  packages/vuepress-plugin-wiz-ui/CHANGELOG.md
  packages/vuepress-plugin-wiz-ui/package.json
  packages/vuepress-plugin-wiz-ui/src/enhanceAppFiles.js
  packages/vuepress-plugin-wiz-ui/src/index.js
  packages/vuepress-plugin-wiz-ui/src/mdPlugin.js
  packages/vuepress-plugin-wiz-ui/src/util.js
  pnpm-lock.yaml
Labels: ⬆️ dependencies

chore(deps): update vite
  package.json
  pnpm-lock.yaml
Labels: ⬆️ dependencies

[#998] changeset 追加
  .changeset/thirty-ears-brush.md
Labels: none

[#998] 時、分を固定
  packages/styles/bases/time-picker-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/timepicker/time-picker.vue
  packages/wiz-ui-react/src/components/base/inputs/time-picker/components/time-picker.tsx
  packages/wiz-ui/src/components/base/inputs/timepicker/time-picker.vue
Labels: none

Revert "chore(deps): update vite"
  package.json
  pnpm-lock.yaml
Labels: ⬆️ dependencies

feat(date-picker): year formatter
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.vue
  packages/wiz-ui-react/src/components/base/inputs/date-picker/components/date-picker.tsx
  packages/wiz-ui-react/src/components/base/inputs/date-picker/stories/date-picker.stories.tsx
Labels: 🎨 story

chore(date-picker): add changeset
  .changeset/violet-penguins-grab.md
Labels: none

chore(date-picker): 年セレクタと月のgapを更新
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.vue
  packages/wiz-ui-react/src/components/base/inputs/date-picker/components/date-picker.tsx
Labels: none

chore(date-picker): セレクタ周りのスタイルを修正
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.vue
  packages/wiz-ui-react/src/components/base/inputs/date-picker/components/date-picker.tsx
Labels: none

chore(date-picker): align center
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.vue
  packages/wiz-ui-react/src/components/base/inputs/date-picker/components/date-picker.tsx
Labels: none

fix(search-selector): 選択中アイテムのlineHeightを調整
  packages/styles/bases/search-selector.css.ts
Labels: none

chore(search-selector): add changeset
  .changeset/smooth-drinks-sniff.md
Labels: none
