Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"

chore: hoistによりnpm-can-publishをrootに移動
  package.json
  packages/wiz-ui/package.json
Labels: ⬆️ dependencies

ci: tagにwhitespaceが使えなかったので修正
  .github/workflows/publish-library-vue2.yml
  .github/workflows/publish-library-vue3.yml
Labels: 🏭 ci

feat: error状態を共有する form control hookを作成
  packages/wiz-ui-next/src/hooks/use-form-control-provider.ts
Labels: none

feat: ラベルの幅を共有する form group hookを作成
  packages/wiz-ui-next/src/hooks/use-form-group-provider.ts
Labels: none

feat: base inputを拡張、errorの赤枠を表現できるように
  packages/styles/bases/base-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/base/base.vue
Labels: none

feat: text inputを拡張、errorの赤枠を表現できるように
  packages/wiz-ui-next/src/components/base/inputs/text/text.vue
Labels: none

feat: form controlを作成
  packages/wiz-ui-next/src/components/custom/form/control.stories.ts
  packages/wiz-ui-next/src/components/custom/form/control.vue
  packages/wiz-ui-next/src/components/custom/form/index.ts
Labels: 🎨 story

feat: form groupを作成
  packages/wiz-ui-next/src/components/custom/form/group.stories.ts
  packages/wiz-ui-next/src/components/custom/form/group.vue
  packages/wiz-ui-next/src/components/custom/form/index.ts
Labels: 🎨 story

fix: radio componentのexport忘れ
  packages/wiz-ui-next/src/components/base/inputs/index.ts
Labels: none

fix: SelectBoxのvalueがstringだったのでnumberに変更、またOption型をSelectBoxOption型に命名変更
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.vue
  packages/wiz-ui-next/src/components/base/inputs/selectbox/types.ts
Labels: none

fix: DatepickerをDatePickerに命名変更
  packages/wiz-ui-next/src/components/base/inputs/datepicker/index.ts
Labels: none

fix: error textが出たり消えたりしてもずれないように高さ確保
  packages/wiz-ui-next/src/components/custom/form/control.stories.ts
  packages/wiz-ui-next/src/components/custom/form/control.vue
Labels: 🎨 story

feat: password inputを拡張、errorの赤枠を表現できるように
  packages/wiz-ui-next/src/components/base/inputs/password/password.vue
Labels: none

feat: 全入力系コンポーネントのFormGroupStoryを作成
  packages/wiz-ui-next/src/components/custom/form/group.stories.ts
Labels: 🎨 story

fix(selectbox): 10remから少しはみ出してた分のズレを修正
  packages/styles/bases/selectbox-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.vue
Labels: none

feat: selectbox inputを拡張、errorの赤枠を表現できるように
  packages/styles/bases/selectbox-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.vue
Labels: none

feat: textarea inputを拡張、errorの赤枠を表現できるように
  packages/styles/bases/text-area.css.ts
  packages/wiz-ui-next/src/components/base/textarea/text-area.vue
Labels: none

feat: datepicker inputを拡張、errorの赤枠を表現できるように
  packages/styles/bases/date-picker-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/datepicker/date-picker.vue
Labels: none

feat: timepicker inputを拡張、errorの赤枠を表現できるように
  packages/styles/bases/time-picker-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/timepicker/time-picker.vue
Labels: none

refactor: input borderのスタイルを共通化
  packages/styles/bases/base-input.css.ts
  packages/styles/bases/date-picker-input.css.ts
  packages/styles/bases/selectbox-input.css.ts
  packages/styles/bases/text-area.css.ts
  packages/styles/bases/time-picker-input.css.ts
  packages/styles/commons/index.ts
  packages/styles/commons/input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/base/base.vue
  packages/wiz-ui-next/src/components/base/inputs/datepicker/date-picker.vue
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.vue
  packages/wiz-ui-next/src/components/base/inputs/timepicker/time-picker.vue
  packages/wiz-ui-next/src/components/base/textarea/text-area.vue
Labels: none

feat: Vue2にBaseInputのerror拡張をバックポート
  packages/wiz-ui/src/components/base/inputs/base/base.vue
Labels: none

chore: typo calender -> calendar
  packages/wiz-ui-next/src/components/base/inputs/datepicker/date-picker.vue
Labels: none

feat: Vue2にFormProviderをバックポート
  packages/wiz-ui/src/hooks/use-form-control-provider.ts
  packages/wiz-ui/src/hooks/use-form-group-provider.ts
Labels: none

feat: Vue2にDatePickerのerror拡張をバックポート
  packages/wiz-ui/src/components/base/inputs/datepicker/date-picker.vue
  packages/wiz-ui/src/components/base/inputs/datepicker/index.ts
Labels: none

feat: 忘れてた分のradioをバンドルに追加
  packages/wiz-ui/src/components/base/inputs/index.ts
Labels: none

feat: Vue2にPasswordInput のerror拡張をバックポート
  packages/wiz-ui/src/components/base/inputs/password/password.vue
Labels: none

feat: Vue2にSelectBoxのerror拡張をバックポート
  packages/wiz-ui/src/components/base/inputs/selectbox/selectbox.vue
  packages/wiz-ui/src/components/base/inputs/selectbox/types.ts
Labels: none

feat: Vue2にTextInputのerror拡張をバックポート
  packages/wiz-ui/src/components/base/inputs/text/text.vue
Labels: none

feat: Vue2にTimePickerのerror拡張をバックポート
  packages/wiz-ui/src/components/base/inputs/timepicker/time-picker.vue
Labels: none

feat: Vue2にTextAreaのerror拡張をバックポート
  packages/wiz-ui/src/components/base/textarea/text-area.vue
Labels: none

feat: Vue2にFromControlをバックポート
  packages/wiz-ui/src/components/custom/form/control.stories.ts
  packages/wiz-ui/src/components/custom/form/control.vue
  packages/wiz-ui/src/components/custom/form/group.stories.ts
  packages/wiz-ui/src/components/custom/form/group.vue
  packages/wiz-ui/src/components/custom/form/index.ts
Labels: 🎨 story

feat: FormControlをバンドルに追加
  packages/wiz-ui-next/src/components/custom/index.ts
  packages/wiz-ui/src/components/custom/index.ts
Labels: none

fix: selectboxのvalueの型を変更したため修正
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.stories.ts
  packages/wiz-ui/src/components/base/inputs/selectbox/selectbox.stories.ts
Labels: 🎨 story

fix: focusイベントを監視してborderColorを切り替える
  packages/wiz-ui-next/src/components/custom/form/control.stories.ts
  packages/wiz-ui-next/src/components/custom/form/group.stories.ts
  packages/wiz-ui/src/components/base/inputs/text/text.stories.ts
  packages/wiz-ui/src/components/base/textarea/text-area.vue
  packages/wiz-ui/src/components/custom/form/control.stories.ts
  packages/wiz-ui/src/components/custom/form/group.stories.ts
Labels: 🎨 story

fix: radioのgapをoptionalに修正
  packages/wiz-ui-next/src/components/base/inputs/radio/radio.vue
  packages/wiz-ui/src/components/base/inputs/radio/radio.vue
Labels: none

feat: Vue2にPasswordInputのInteraction Testをバックポート
  packages/wiz-ui/src/components/base/inputs/password/password.stories.ts
Labels: 🎨 story

fix: selectboxのvalueがnumberになったので初期値を外れ値（-1や0）に変更
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.stories.ts
  packages/wiz-ui/src/components/base/inputs/selectbox/selectbox.stories.ts
Labels: 🎨 story

fix: radioのvalueがnumberになったので初期値を外れ値（-1や0）に変更
  packages/wiz-ui-next/src/components/base/inputs/radio/radio.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/radio/radio.vue
  packages/wiz-ui-next/src/components/custom/form/group.stories.ts
  packages/wiz-ui/src/components/base/inputs/radio/radio.stories.ts
  packages/wiz-ui/src/components/base/inputs/radio/radio.vue
  packages/wiz-ui/src/components/custom/form/group.stories.ts
Labels: 🎨 story

feat: TextButtonにIcon/IconPositionを追加
  packages/wiz-ui-next/src/components/base/buttons/text/text.stories.ts
  packages/wiz-ui-next/src/components/base/buttons/text/text.vue
  packages/wiz-ui/src/components/base/buttons/text/text.stories.ts
  packages/wiz-ui/src/components/base/buttons/text/text.vue
Labels: 🎨 story

feat: TextButton - Sub のborderをshadowへ変更
  packages/styles/bases/text-button.css.ts
Labels: none
