Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

refactor: early return
  packages/wiz-ui/src/components/base/heading/heading.vue
Labels: none

feat: checkboxのvanilla-extract化
  packages/styles/bases/checkbox-input.css.ts
  packages/wiz-ui/src/components/base/inputs/checkbox/checkbox.vue
Labels: none

fix: cursorの重複をコンポーネント側へ切り出し
  packages/styles/bases/checkbox-input.css.ts
  packages/wiz-ui/src/components/base/inputs/checkbox/checkbox.vue
Labels: none

feat: date-pickerのvanilla-extract化
  packages/styles/bases/date-picker-input.css.ts
  packages/wiz-ui/src/components/base/inputs/datepicker/date-picker.vue
Labels: none

feat: panel-switchのvanilla-extract化
  packages/styles/bases/panel-switch-input.css.ts
  packages/wiz-ui/src/components/base/inputs/panel-switch/panel-switch.vue
Labels: none

feat: passwordのvanilla-extract化 (途中)
  packages/styles/bases/password-input.css.ts
  packages/wiz-ui/src/components/base/inputs/password/password.vue
Labels: none

feat: radioのvanilla-extract化
  packages/styles/bases/radio-input.css.ts
  packages/wiz-ui/src/components/base/inputs/radio/radio.vue
  packages/wiz-ui/src/components/base/inputs/radio/types.ts
Labels: none

fix: checkboxのlabelのcursorがインラインスタイルにならないよう修正
  packages/styles/bases/checkbox-input.css.ts
  packages/wiz-ui/src/components/base/inputs/checkbox/checkbox.vue
Labels: none

fix: date-pickerのboxのcolorがインラインスタイルにならないよう修正
  packages/styles/bases/date-picker-input.css.ts
  packages/wiz-ui/src/components/base/inputs/datepicker/date-picker.vue
Labels: none

fix: panel-switchのblockのcolorがインラインスタイルにならないよう修正
  packages/styles/bases/panel-switch-input.css.ts
  packages/wiz-ui/src/components/base/inputs/panel-switch/panel-switch.vue
Labels: none

feat: selectboxのvanilla-extract化
  packages/styles/bases/selectbox-input.css.ts
  packages/wiz-ui/src/components/base/inputs/selectbox/selectbox.vue
Labels: none

feat: time-pickerのvanilla-extract化
  packages/styles/bases/time-picker-input.css.ts
  packages/wiz-ui/src/components/base/inputs/timepicker/time-picker.vue
Labels: none

feat: toggle-switchのvanilla-extract化
  packages/styles/bases/toggle-switch-input.css.ts
  packages/wiz-ui/src/components/base/inputs/toggle-switch/toggle-switch.vue
Labels: none

fix: コンポーネント内のタグを指定するスタイルの修正
  packages/styles/bases/password-input.css.ts
  packages/wiz-ui/src/components/base/inputs/password/password.vue
Labels: none

fix: ラジオボタンの文字の色やサイズの修正
  packages/styles/bases/radio-input.css.ts
  packages/wiz-ui/src/components/base/inputs/radio/radio.vue
Labels: none

fix: date-pickerで用いられている単位を定数に変更
  packages/styles/bases/date-picker-input.css.ts
Labels: none

rm: 不要なコメントアウトの削除
  packages/styles/bases/toggle-switch-input.css.ts
Labels: none

fix: radiusの単位を修正
  packages/styles/bases/date-picker-input.css.ts
Labels: none

refactor: popupをvanilla extract式のスタイルに変更
  packages/styles/bases/popup.css.ts
  packages/styles/commons/index.ts
  packages/styles/commons/margin.css.ts
  packages/styles/commons/z-index.css.ts
  packages/wiz-ui/src/components/base/popup/popup.vue
Labels: none

refactor: popupContainerをvanilla extract式のスタイルに変更
  packages/styles/bases/popup.css.ts
  packages/wiz-ui/src/components/base/popup/popup-container.vue
Labels: none

refactor: progressBarをvanilla extract式のスタイルに変更
  packages/styles/bases/progress-bar.css.ts
  packages/wiz-ui/src/components/base/progress-bar/constants.ts
  packages/wiz-ui/src/components/base/progress-bar/progress-bar.vue
  packages/wiz-ui/src/components/base/progress-bar/progress-line.vue
  packages/wiz-ui/src/components/base/progress-bar/progress-point.vue
Labels: none

feature:wiz-pagination
  packages/styles/bases/pagination.css.ts
  packages/wiz-ui/src/components/base/pagination/index.ts
  packages/wiz-ui/src/components/base/pagination/pagination.stories.ts
  packages/wiz-ui/src/components/base/pagination/pagination.vue
Labels: 🎨 story

fix:wiz-upload
  packages/styles/bases/upload-display.css.ts
  packages/styles/bases/upload.css.ts
  packages/wiz-ui/src/components/base/inputs/upload/upload.vue
Labels: none

refactor: tabをvanilla extract式のスタイルに変更
  packages/styles/bases/tab.css.ts
  packages/wiz-ui/src/components/base/tab/tab-pane.vue
  packages/wiz-ui/src/components/base/tab/tab.vue
Labels: none

fix: gain timeout for storybook cap
  packages/wiz-ui/package.json
Labels: ⬆️ dependencies

refactor: card-tableをvanilla extract式のスタイルに変更
  packages/styles/bases/card-table.css.ts
  packages/wiz-ui/src/components/base/tables/card/table.vue
  packages/wiz-ui/src/components/base/tables/card/td.vue
  packages/wiz-ui/src/components/base/tables/card/th.vue
  packages/wiz-ui/src/components/base/tables/card/tr.vue
Labels: none

refactor: flat-tableをvanilla extract式のスタイルに変更
  packages/styles/bases/flat-table.css.ts
  packages/wiz-ui/src/components/base/tables/flat/table.vue
  packages/wiz-ui/src/components/base/tables/flat/td.vue
  packages/wiz-ui/src/components/base/tables/flat/th.vue
Labels: none

refactor: unstyled-tableをvanilla extract式のスタイルに変更
  packages/styles/bases/unstyled-table.css.ts
  packages/styles/commons/border-spacing.css.ts
  packages/styles/commons/index.ts
  packages/wiz-ui/src/components/base/tables/unstyled/table.vue
  packages/wiz-ui/src/components/base/tables/unstyled/td.vue
  packages/wiz-ui/src/components/base/tables/unstyled/th.vue
Labels: none

refactor: tagをvanilla extract式のスタイルに変更
  packages/styles/bases/icon.css.ts
  packages/styles/bases/tag.css.ts
  packages/wiz-ui/src/components/base/icon/icon.vue
  packages/wiz-ui/src/components/base/tag/tag.vue
Labels: none

feat: add menu item
  packages/styles/bases/menu.css.ts
  packages/wiz-ui/src/components/base/menu/index.ts
  packages/wiz-ui/src/components/base/menu/menu-item.stories.ts
  packages/wiz-ui/src/components/base/menu/menu-item.vue
Labels: 🎨 story

feat: register component in index.ts
  packages/wiz-ui/src/components/base/index.ts
Labels: none

feat: add descriptions
  packages/wiz-ui/src/components/base/menu/menu-item.stories.ts
Labels: 🎨 story

refactor: textをvanilla extract式のスタイルに変更
  packages/styles/bases/text.css.ts
  packages/styles/commons/index.ts
  packages/styles/commons/line-height.css.ts
  packages/styles/commons/white-space.css.ts
  packages/wiz-ui/src/components/base/text/text.vue
Labels: none

refactor: text-areaをvanilla extract式のスタイルに変更
  packages/styles/bases/text-area.css.ts
  packages/wiz-ui/src/components/base/textarea/text-area.vue
Labels: none

refactor: tooltipをvanilla extract式のスタイルに変更
  packages/styles/bases/tooltip.css.ts
  packages/wiz-ui/src/components/base/tooltip/tooltip.vue
Labels: none

fix: chat card overflow style
  packages/wiz-ui/src/components/custom/chat/card/chat-card.vue
Labels: none

refactor: chatをvanilla extract式のスタイルに変更
  packages/styles/customs/chat-card.css.ts
  packages/wiz-ui/src/components/custom/chat/card/chat-card.vue
Labels: none

refactor: remove selectbox style tag
  packages/wiz-ui/src/components/base/inputs/selectbox/selectbox.vue
Labels: none

fix: scroll to bottom when chat card mounted
  packages/styles/customs/chat-card.css.ts
  packages/wiz-ui/src/components/custom/chat/card/chat-card.vue
Labels: none

refactor: calendarをvanilla extract式のスタイルに変更
  packages/styles/bases/calendar.css.ts
  packages/wiz-ui/src/components/base/calendar/calendar.vue
Labels: none

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"
