Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"

feat(popup): triggerに追従
  packages/wiz-ui-react/src/components/base/popup/components/popup-content.tsx
Labels: none

chore(base-input): 不要なuseMemoを削除
  packages/wiz-ui-react/src/components/base/inputs/base/components/base.tsx
Labels: none

Revert "chore(stack/h-stack/v-stack): Propsをexportしない"
  packages/wiz-ui-react/src/components/base/stack/components/h-stack.tsx
  packages/wiz-ui-react/src/components/base/stack/components/stack.tsx
  packages/wiz-ui-react/src/components/base/stack/components/v-stack.tsx
Labels: none

chore(h-stack, v-stack): 不要なexportを削除
  packages/wiz-ui-react/src/components/base/stack/components/h-stack.tsx
  packages/wiz-ui-react/src/components/base/stack/components/v-stack.tsx
Labels: none

chore(anchor): 不要なuseMemoを削除
  packages/wiz-ui-react/src/components/base/anchor/components/anchor.tsx
Labels: none

chore(text-input): 不要なuseMemoを削除
  packages/wiz-ui-react/src/components/base/inputs/text/components/text.tsx
Labels: none

chore(tiny-button): 不要なuseMemoを削除
  packages/wiz-ui-react/src/components/base/buttons/tiny/components/tiny-button.tsx
Labels: none

refactor(stack): Propsの型定義を切り出し
  packages/wiz-ui-react/src/components/base/stack/components/h-stack.tsx
  packages/wiz-ui-react/src/components/base/stack/components/stack.tsx
  packages/wiz-ui-react/src/components/base/stack/components/types.ts
  packages/wiz-ui-react/src/components/base/stack/components/v-stack.tsx
Labels: none

refactor(text-area): 不要なuseMemoを削除
  packages/wiz-ui-react/src/components/base/textarea/components/text-area.tsx
Labels: none

feat(workspace): wiz-ui の依存関係を workspace に変更
  packages/wiz-ui-next/package.json
  packages/wiz-ui-react/package.json
  packages/wiz-ui/package.json
Labels: ⬆️ dependencies

chore(popup): lock file
  pnpm-lock.yaml
Labels: none

chore(popup): lock file
  pnpm-lock.yaml
Labels: none

feat(icon): WizIHistoryを追加
  packages/constants/component/icon-name.ts
  packages/icons/assets/history.svg
  packages/wiz-ui-next/src/components/icons/history.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-react/src/components/icons/history.tsx
  packages/wiz-ui-react/src/components/icons/index.ts
  packages/wiz-ui/src/components/icons/history.vue
  packages/wiz-ui/src/components/icons/index.ts
Labels: none

chore(icon): changeset
  .changeset/lucky-lobsters-carry.md
Labels: none

chore(icon): lockfile
  pnpm-lock.yaml
Labels: none

fix: gap difinition
  packages/wiz-ui/src/components/base/tooltip/tooltip.vue
Labels: none

[#618] remove details marker in safari
  packages/styles/bases/accordion.css.ts
Labels: none

[#618] add a changeset document
  .changeset/big-pigs-yawn.md
Labels: none

[#661] add a changeset document
  .changeset/cold-drinks-rhyme.md
Labels: none

chore(popup): genericsを正しく指定
  packages/wiz-ui-react/src/components/base/popup/components/popup.tsx
Labels: none

chore(popup): 不要な引数をアンダーバーに置き換え
  packages/wiz-ui-react/src/components/base/popup/components/popup-content.tsx
Labels: none

chore(global-provider): fix error message
  packages/wiz-ui-react/src/hooks/use-global-provider.ts
Labels: none

feat(packages): add private package builder
  packages/constants/package.json
  packages/constants/tsconfig.json
  packages/styles/package.json
  packages/styles/tsconfig.json
  packages/utils/package.json
  packages/utils/tsconfig.json
  pnpm-lock.yaml
Labels: ⬆️ dependencies

chore: changeset
  .changeset/angry-elephants-clap.md
Labels: none

build: update build configuration for wiz-ui-constants, wiz-ui-styles, and wiz-ui-utils packages
  packages/constants/package.json
  packages/constants/vite.config.ts
  packages/styles/package.json
  packages/styles/vite.config.ts
  packages/utils/package.json
  packages/utils/vite.config.ts
Labels: ⬆️ dependencies

build(styles, utils): switch from tsc to vite for build command
  packages/styles/package.json
  packages/utils/package.json
Labels: ⬆️ dependencies

feat(dep): build tools when post install
  package.json
  packages/constants/package.json
  packages/styles/package.json
  packages/utils/package.json
  turbo.json
Labels: ⬆️ dependencies

refactor(popup): resizeイベント
  packages/wiz-ui-react/src/components/base/popup/components/popup-content.tsx
  packages/wiz-ui-react/src/components/base/popup/components/popup.tsx
Labels: none

fix(portal): 再レンダリングの度にマウントされる問題を修正
  packages/wiz-ui-react/src/components/base/portal/components/portal.tsx
Labels: none

fix(popup): マウントしたまま隠して、refを参照してfadeInする
  packages/wiz-ui-react/src/components/base/popup/components/popup-content.tsx
Labels: none

refactor(portal): remove usePortal
  packages/wiz-ui-react/src/hooks/use-portal.ts
Labels: none

fix(portal): mountのuseRefを削除
  packages/wiz-ui-react/src/components/base/portal/components/portal.tsx
Labels: none

chore(useClickOutside): 不要なuseRefを削除
  packages/wiz-ui-react/src/hooks/use-click-outside.ts
Labels: none

[#661] add a changeset
  .changeset/itchy-planets-flow.md
Labels: none

fix(dep): avoid using "postinstall"
  package.json
  packages/constants/package.json
  packages/styles/package.json
  packages/utils/package.json
  turbo.json
Labels: ⬆️ dependencies

chore: changeset
  .changeset/sharp-boats-add.md
Labels: none

refactor(schedule): 予定の表示位置計算方法の変更
  packages/constants/component/custom/schedule.ts
  packages/styles/customs/schedule.css.ts
  packages/wiz-ui/src/components/custom/schedule/components/card.vue
  packages/wiz-ui/src/components/custom/schedule/components/grid.vue
  packages/wiz-ui/src/components/custom/schedule/components/schedule.vue
  packages/wiz-ui/src/components/custom/schedule/components/time.ts
  packages/wiz-ui/src/components/custom/schedule/stories/schedule.stories.ts
  packages/wiz-ui/src/components/custom/schedule/tests/time.test.ts
  packages/wiz-ui/src/components/custom/schedule/types.ts
Labels: ✅ test, 🎨 story

feat(vue3): wiz-ui-nextにscheduleを移植
  packages/wiz-ui-next/src/components/custom/index.ts
  packages/wiz-ui-next/src/components/custom/schedule/components/card.vue
  packages/wiz-ui-next/src/components/custom/schedule/components/grid.vue
  packages/wiz-ui-next/src/components/custom/schedule/components/index.ts
  packages/wiz-ui-next/src/components/custom/schedule/components/schedule.vue
  packages/wiz-ui-next/src/components/custom/schedule/components/sheet.vue
  packages/wiz-ui-next/src/components/custom/schedule/components/time.ts
  packages/wiz-ui-next/src/components/custom/schedule/index.ts
  packages/wiz-ui-next/src/components/custom/schedule/stories/card.stories.ts
  packages/wiz-ui-next/src/components/custom/schedule/stories/schedule.stories.ts
  packages/wiz-ui-next/src/components/custom/schedule/stories/sheet.stories.ts
  packages/wiz-ui-next/src/components/custom/schedule/tests/time.test.ts
  packages/wiz-ui-next/src/components/custom/schedule/types.ts
Labels: ✅ test, 🎨 story

feat(react): wiz-ui-reactにscheduleを移植
  packages/wiz-ui-react/src/components/custom/index.ts
  packages/wiz-ui-react/src/components/custom/schedule/components/card.tsx
  packages/wiz-ui-react/src/components/custom/schedule/components/grid.tsx
  packages/wiz-ui-react/src/components/custom/schedule/components/index.ts
  packages/wiz-ui-react/src/components/custom/schedule/components/schedule.tsx
  packages/wiz-ui-react/src/components/custom/schedule/components/sheet.tsx
  packages/wiz-ui-react/src/components/custom/schedule/components/time.ts
  packages/wiz-ui-react/src/components/custom/schedule/index.ts
  packages/wiz-ui-react/src/components/custom/schedule/stories/card.stories.tsx
  packages/wiz-ui-react/src/components/custom/schedule/stories/schedule.stories.tsx
  packages/wiz-ui-react/src/components/custom/schedule/stories/sheet.stories.tsx
  packages/wiz-ui-react/src/components/custom/schedule/tests/time.test.ts
  packages/wiz-ui-react/src/components/custom/schedule/types.ts
  packages/wiz-ui-react/src/components/index.ts
Labels: ✅ test

docs(story/schedule): update story fixture
  packages/wiz-ui-next/src/components/custom/schedule/stories/schedule.stories.ts
  packages/wiz-ui-react/src/components/custom/schedule/stories/schedule.stories.tsx
  packages/wiz-ui/src/components/custom/schedule/stories/schedule.stories.ts
Labels: 🎨 story
