Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

fix(date-picker): style調整、area-label貼る
  packages/styles/bases/date-picker-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/datepicker/date-picker.vue
  packages/wiz-ui/src/components/base/inputs/datepicker/date-picker.vue
Labels: none

feat: date picker用のarea-labelを追加
  packages/constants/component/area-label.ts
Labels: none

feat(popup-button-group): 任意のアイコンを指定可能にする
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui-next/src/components/base/popup-button-group/types.ts
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui/src/components/base/popup-button-group/types.ts
Labels: none

docs(popup-button-group): storybookを更新
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.stories.ts
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.stories.ts
Labels: 🎨 story

refactor: type area-label -> aria-label
  packages/constants/component/aria-label.ts
  packages/constants/component/index.ts
  packages/wiz-ui-next/src/components/base/inputs/password/password.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/password/password.vue
  packages/wiz-ui-next/src/components/base/inputs/toggle-switch/toggle-switch.vue
  packages/wiz-ui/src/components/base/inputs/password/password.stories.ts
  packages/wiz-ui/src/components/base/inputs/password/password.vue
  packages/wiz-ui/src/components/base/inputs/toggle-switch/toggle-switch.vue
Labels: 🎨 story

refactor(popup-button-group): コンポーネント呼び出しにエイリアスを使用
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.stories.ts
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.stories.ts
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.vue
Labels: 🎨 story

refactor(popup-button-group): 不要なスタイルの削除
  packages/styles/bases/popup-button-group.css.ts
Labels: none

refactor(popup-button-style): 関数の切り出し
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.vue
Labels: none

feat: test用にcalenderを拡張、aria-selected attrを設定
  packages/wiz-ui-next/src/components/base/calendar/calendar.vue
Labels: none

refactor(popup-button-group): 不要な型指定の削除，変数名をわかりやすく
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.vue
Labels: none

refactor(popup-button-group): undefinedをnullに
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.vue
Labels: none

refactor(popup-button-group): メソッドチェーンを利用
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.stories.ts
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.stories.ts
Labels: 🎨 story

fix(popup-button-group): インデント時のスタイル修正
  packages/styles/bases/popup-button-group.css.ts
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.vue
Labels: none

fix(popup-button-style): タイトルの文字選択を不可にする
  packages/styles/bases/popup-button-group.css.ts
Labels: none

fix(popup-button-group): groupの区切りにdividerを表示する
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.vue
Labels: none

refactor(popup-button-group): ButtonGroupItemに型名変更
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.stories.ts
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui-next/src/components/base/popup-button-group/types.ts
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.stories.ts
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui/src/components/base/popup-button-group/types.ts
Labels: 🎨 story

feat: date-pickerを初期値対応、a11y対応
  packages/wiz-ui-next/src/components/base/inputs/datepicker/date-picker.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/datepicker/date-picker.vue
  packages/wiz-ui/src/components/base/inputs/datepicker/date-picker.stories.ts
  packages/wiz-ui/src/components/base/inputs/datepicker/date-picker.vue
Labels: 🎨 story

fix(calender): 型情報を切り出してexport
  packages/wiz-ui-next/src/components/base/calendar/calendar.vue
  packages/wiz-ui-next/src/components/base/calendar/types.ts
  packages/wiz-ui/src/components/base/calendar/calendar.vue
  packages/wiz-ui/src/components/base/calendar/types.ts
Labels: none

feat: range datepicker
  packages/constants/component/aria-label.ts
  packages/styles/bases/range-date-picker.css.ts
  packages/utils/date.ts
  packages/wiz-ui-next/src/components/base/inputs/index.ts
  packages/wiz-ui-next/src/components/base/inputs/range-datepicker/index.ts
  packages/wiz-ui-next/src/components/base/inputs/range-datepicker/range-date-picker.vue
  packages/wiz-ui-next/src/components/base/inputs/range-datepicker/types.ts
  packages/wiz-ui/src/components/base/inputs/index.ts
  packages/wiz-ui/src/components/base/inputs/range-datepicker/index.ts
  packages/wiz-ui/src/components/base/inputs/range-datepicker/range-date-picker.vue
  packages/wiz-ui/src/components/base/inputs/range-datepicker/types.ts
Labels: none

docs(range-date-picker): add some SB
  packages/wiz-ui-next/src/components/base/inputs/range-datepicker/range-date-picker.stories.ts
  packages/wiz-ui/src/components/base/inputs/range-datepicker/range-date-picker.stories.ts
Labels: 🎨 story

fix: vue2の方のarea-selected追加忘れ、SB test codeの修正
  packages/wiz-ui-next/src/components/base/inputs/datepicker/date-picker.stories.ts
  packages/wiz-ui/src/components/base/calendar/calendar.vue
  packages/wiz-ui/src/components/base/inputs/datepicker/date-picker.stories.ts
Labels: 🎨 story

fix: 本来の用途と異なるためarea-selectedを削除、選択済みラベルで判断するように
  packages/wiz-ui-next/src/components/base/calendar/calendar.vue
  packages/wiz-ui-next/src/components/base/inputs/datepicker/date-picker.stories.ts
  packages/wiz-ui/src/components/base/calendar/calendar.vue
  packages/wiz-ui/src/components/base/inputs/datepicker/date-picker.stories.ts
Labels: 🎨 story

docs(range-date-picker): テストを追加
  packages/wiz-ui-next/src/components/base/inputs/range-datepicker/range-date-picker.stories.ts
  packages/wiz-ui/src/components/base/inputs/range-datepicker/range-date-picker.stories.ts
Labels: 🎨 story

fix(date-picker): SBテストが落ちる問題を修正
  packages/wiz-ui-next/src/components/base/inputs/datepicker/date-picker.stories.ts
  packages/wiz-ui/src/components/base/inputs/datepicker/date-picker.stories.ts
Labels: 🎨 story

feat(range-date-picker): select box機能の追加、docsの整備
  packages/constants/component/aria-label.ts
  packages/styles/bases/range-date-picker.css.ts
  packages/wiz-ui-next/src/components/base/inputs/range-datepicker/range-date-picker.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/range-datepicker/range-date-picker.vue
  packages/wiz-ui-next/src/components/base/inputs/range-datepicker/types.ts
  packages/wiz-ui/src/components/base/inputs/range-datepicker/range-date-picker.stories.ts
  packages/wiz-ui/src/components/base/inputs/range-datepicker/range-date-picker.vue
  packages/wiz-ui/src/components/base/inputs/range-datepicker/types.ts
Labels: 🎨 story

feat: form group SBにRangeDatePickerの追加
  packages/wiz-ui-next/src/components/custom/form/group.stories.ts
  packages/wiz-ui/src/components/custom/form/group.stories.ts
Labels: 🎨 story

fix(range-date-picker): ":"が入ると怪しいのでemit nameを修正
  packages/wiz-ui/src/components/base/inputs/range-datepicker/range-date-picker.stories.ts
  packages/wiz-ui/src/components/base/inputs/range-datepicker/range-date-picker.vue
  packages/wiz-ui/src/components/custom/form/group.stories.ts
Labels: 🎨 story

docs(migration): vue2とvue3で差分が出たので記述
  MIGRATION.md
Labels: none

fix: SBのスクリーンサイズを確保
  packages/wiz-ui-next/.storybook/main.js
  packages/wiz-ui-next/src/components/base/inputs/range-datepicker/range-date-picker.stories.ts
  packages/wiz-ui/.storybook/main.js
  packages/wiz-ui/src/components/base/inputs/range-datepicker/range-date-picker.stories.ts
Labels: 🎨 story

feat: storycapのdecoratorを追加してなかったので追加
  packages/wiz-ui-next/.storybook/preview.js
  packages/wiz-ui-next/src/components/base/inputs/range-datepicker/range-date-picker.stories.ts
  packages/wiz-ui/.storybook/preview.js
  packages/wiz-ui/src/components/base/inputs/range-datepicker/range-date-picker.stories.ts
Labels: 🎨 story

[#440] feat: add table-layout props
  packages/wiz-ui-next/src/components/base/tables/card/table.vue
  packages/wiz-ui-next/src/components/base/tables/flat/table.vue
  packages/wiz-ui-next/src/components/base/tables/unstyled/table.vue
  packages/wiz-ui/src/components/base/tables/card/table.vue
  packages/wiz-ui/src/components/base/tables/flat/table.vue
  packages/wiz-ui/src/components/base/tables/unstyled/table.vue
Labels: none

chore(dep): move storycap to root
  package.json
  packages/wiz-ui/package.json
  yarn.lock
Labels: ⬆️ dependencies

chore(nav-item): PopupButtonGroupの変更に対応
  packages/wiz-ui-next/src/components/base/navigation/container.stories.ts
  packages/wiz-ui-next/src/components/base/navigation/item.vue
  packages/wiz-ui/src/components/base/navigation/container.stories.ts
  packages/wiz-ui/src/components/base/navigation/item.vue
Labels: 🎨 story

fix(popup-button-group): 字下げ幅を修正
  packages/styles/bases/popup-button-group.css.ts
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.vue
Labels: none

feat(popup-button-divider): ボタン区切り線を設定可能にする
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui-next/src/components/base/popup-button-group/types.ts
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui/src/components/base/popup-button-group/types.ts
Labels: none

docs(popup-button-group): storybookを更新
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.stories.ts
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.stories.ts
Labels: 🎨 story

feat(popup-button-group): 外枠のpaddingを設定可能にする
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.vue
Labels: none

docs(popup-button-group): storybookを更新
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.stories.ts
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.stories.ts
Labels: 🎨 story

chore(nav-item): PopupButtonGroupで外枠のpaddingを設定する
  packages/styles/bases/navigation.css.ts
  packages/wiz-ui-next/src/components/base/navigation/item.vue
  packages/wiz-ui/src/components/base/navigation/item.vue
Labels: none

feat(pouup-button-group): icon-value間の幅をxs2にする
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.vue
Labels: none

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"
