Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

chore: update storybook
  .github/workflows/deploy-storybook.yml
  packages/wiz-ui/src/components/base/heading/heading.stories.ts
Labels: 🏭 ci, 🎨 story

ci: replace comment
  .github/workflows/deploy-storybook.yml
Labels: 🏭 ci

ci: vitestのciもupdate comment式に修正
  .github/workflows/deploy-vitest.yml
  packages/wiz-ui/src/hooks/use-z-index.test.ts
Labels: 🏭 ci, ✅ test

feat: 0.5remのfont-sizeを追加
  packages/constants/styles/font-size.ts
Labels: none

feat: Badgeを作成
  packages/constants/component/name.ts
  packages/styles/bases/badge.css.ts
  packages/styles/commons/index.ts
  packages/styles/commons/offset.css.ts
  packages/wiz-ui/src/components/base/badge/badge.stories.ts
  packages/wiz-ui/src/components/base/badge/badge.vue
  packages/wiz-ui/src/components/base/badge/index.ts
  packages/wiz-ui/src/components/base/index.ts
Labels: 🎨 story

feat: iconからAvatar propsを剥奪
  packages/styles/bases/header.css.ts
  packages/styles/bases/icon.css.ts
  packages/wiz-ui/src/components/base/icon/icon.stories.ts
  packages/wiz-ui/src/components/base/icon/icon.vue
Labels: 🎨 story

fix: unstyled tableの双方向spacingに対応
  packages/constants/styles/spacing.ts
  packages/wiz-ui/src/components/base/tables/unstyled/table.stories.ts
  packages/wiz-ui/src/components/base/tables/unstyled/table.vue
Labels: 🎨 story

feat: issue title template
  .github/ISSUE_TEMPLATE/バグレポート.md
  .github/ISSUE_TEMPLATE/機能追加.md
Labels: 🏭 ci

release: v0.3.0
  packages/wiz-ui/package.json
  packages/wiz-ui/src/index.ts
Labels: ⬆️ dependencies

checkboxのexport忘れ
  packages/wiz-ui/src/components/base/inputs/index.ts
Labels: none

feat: storybook update
  packages/wiz-ui/.storybook/main.js
  packages/wiz-ui/package.json
  yarn.lock
Labels: ⬆️ dependencies

feat: sample mdxを追加
  packages/wiz-ui/src/components/base/anchor/anchor.stories.mdx
Labels: none

release: v0.3.1
  packages/wiz-ui/package.json
  packages/wiz-ui/src/index.ts
Labels: ⬆️ dependencies

[#105] setup calendar components
  packages/wiz-ui/src/components/base/calendar/calendar.stories.ts
  packages/wiz-ui/src/components/base/calendar/calendar.vue
  packages/wiz-ui/src/components/base/calendar/index.ts
Labels: 🎨 story

[#105] add hover and active actions and fix props and variant names
  packages/wiz-ui/src/components/base/calendar/calendar.stories.ts
  packages/wiz-ui/src/components/base/calendar/calendar.vue
Labels: 🎨 story

[#105] add click and select actions in calendar
  packages/wiz-ui/src/components/base/calendar/calendar.stories.ts
  packages/wiz-ui/src/components/base/calendar/calendar.vue
Labels: 🎨 story

[#105] add index
  packages/wiz-ui/src/components/base/calendar/calendar.stories.ts
  packages/wiz-ui/src/components/base/index.ts
  packages/wiz-ui/src/components/base/inputs/index.ts
Labels: 🎨 story

[#105] add click and select function
  packages/wiz-ui/src/components/base/calendar/calendar.stories.ts
Labels: 🎨 story

[#105] add click and select actions in calendar
  packages/wiz-ui/src/components/base/calendar/calendar.stories.ts
Labels: 🎨 story

[#105] add calendar icon
  packages/constants/component/name.ts
  packages/wiz-ui/src/components/icons/calendar.vue
  packages/wiz-ui/src/components/icons/index.ts
Labels: none

[#105] setup date picker
  packages/wiz-ui/src/components/base/inputs/datepicker/date-picker.stories.ts
  packages/wiz-ui/src/components/base/inputs/datepicker/date-picker.vue
  packages/wiz-ui/src/components/base/inputs/datepicker/index.ts
  packages/wiz-ui/src/components/base/inputs/index.ts
Labels: 🎨 story

feat:[#105] add chevron-left icon
  packages/constants/component/name.ts
  packages/wiz-ui/src/components/icons/chevron-left.vue
  packages/wiz-ui/src/components/icons/index.ts
Labels: none

feat: [#105] add calendar header
  packages/wiz-ui/src/components/base/inputs/datepicker/date-picker.vue
Labels: none

[#105] add a function moving to other month
  packages/wiz-ui/src/components/base/calendar/calendar.stories.ts
  packages/wiz-ui/src/components/base/calendar/calendar.vue
  packages/wiz-ui/src/components/base/inputs/datepicker/date-picker.stories.ts
  packages/wiz-ui/src/components/base/inputs/datepicker/date-picker.vue
  packages/wiz-ui/src/components/icons/chevron-left.vue
Labels: 🎨 story

fix: tabのpaddingを狭めてテキスト表示エリアを拡大した
  packages/wiz-ui/src/components/base/tab/tab-pane.vue
Labels: none

feat: max-lineを設定した時word-breakをbrake-allにして長い英字列が入ってもちゃんと改行されるようにした
  packages/wiz-ui/src/components/base/text/text.stories.ts
  packages/wiz-ui/src/components/base/text/text.vue
Labels: 🎨 story

fix: couple spacingのxy逆問題を解消
  packages/constants/styles/spacing.ts
  packages/wiz-ui/src/components/base/stack/stack.vue
  packages/wiz-ui/src/components/base/tables/unstyled/table.vue
  packages/wiz-ui/src/components/custom/chat/card/chat-card.vue
  packages/wiz-ui/src/components/custom/chat/item/chat-item.vue
Labels: none

fix: px py入れ替え対応
  packages/wiz-ui/src/components/custom/notification/panel/panel.vue
Labels: none

release: v0.3.2
  packages/wiz-ui/package.json
  packages/wiz-ui/src/index.ts
Labels: ⬆️ dependencies

ci: create wiz-ui auto migrator
  .github/composite/update_wiz-ui/action.yml
  .github/workflows/publish-library.yml
Labels: 🏭 ci

ci: wiz-ui auto migratorの文言を協調修正
  .github/composite/update_wiz-ui/action.yml
Labels: 🏭 ci

ci: Auto Migration Test
  .github/workflows/publish-library.yml
  .github/workflows/test-update.yml
Labels: 🏭 ci

ci: composite actionの命名変更
  .github/composite/update_wizui/action.yml
  .github/workflows/publish-library.yml
  .github/workflows/test-update.yml
Labels: 🏭 ci

ci: checkout忘れ
  .github/workflows/test-update.yml
Labels: 🏭 ci

ci: shell加忘れ
  .github/composite/update_wizui/action.yml
Labels: 🏭 ci

ci: 時間かかりそうだったので一旦やめ（ログは残す）
  .github/composite/update_wizui/action.yml
  .github/workflows/publish-library.yml
  .github/workflows/test-update.yml
Labels: 🏭 ci

ci: npm script for ci部分を命名変更、reg-suit/storycapのscript追加
  .github/workflows/test.yml
  package.json
  packages/wiz-ui/package.json
  packages/wiz-ui/regconfig.json
  yarn.lock
Labels: 🏭 ci, ⬆️ dependencies

fix: 条件を同じにするため、new Dateを固定
  packages/wiz-ui/src/components/custom/chat/card/chat-card.stories.ts
  packages/wiz-ui/src/components/custom/chat/item/chat-item.stories.ts
  packages/wiz-ui/src/components/custom/notification/list/list.stories.ts
  packages/wiz-ui/src/components/custom/notification/notification.stories.ts
Labels: 🎨 story

ci: reg suit運用の準備
  .github/workflows/visual-regression-test.yml
  .gitignore
  packages/wiz-ui/regconfig.json
Labels: 🏭 ci

ci: 命名変更
  .github/workflows/visual-regression-test.yml
Labels: 🏭 ci

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"
