Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"

feat(style/schedule): add card as button style
  packages/styles/customs/schedule.css.ts
Labels: none

feat(component/schedule): add onScheduleClick API
  packages/wiz-ui-react/src/components/custom/schedule/components/card.tsx
  packages/wiz-ui-react/src/components/custom/schedule/components/grid.tsx
  packages/wiz-ui-react/src/components/custom/schedule/components/schedule.tsx
Labels: none

refactor(component/schedule): use computed to calculate displaying text
  packages/wiz-ui-next/src/components/custom/schedule/components/card.vue
  packages/wiz-ui/src/components/custom/schedule/components/card.vue
Labels: none

feat(component/schedule): add schedule click event
  packages/wiz-ui-next/src/components/custom/schedule/components/card.vue
  packages/wiz-ui-next/src/components/custom/schedule/components/grid.vue
  packages/wiz-ui-next/src/components/custom/schedule/components/schedule.vue
  packages/wiz-ui/src/components/custom/schedule/components/card.vue
  packages/wiz-ui/src/components/custom/schedule/components/grid.vue
  packages/wiz-ui/src/components/custom/schedule/components/schedule.vue
Labels: none

fix(sb): storybook vueのtype error回避
  packages/wiz-ui/src/components/base/inputs/date-range-picker/date-range-picker.stories.ts
Labels: 🎨 story

chore(popup): triggerをchakraの実装に寄せる
  packages/wiz-ui-react/src/components/base/popup/components/popup-context.ts
  packages/wiz-ui-react/src/components/base/popup/components/popup-trigger.tsx
Labels: none

chore(popup): close-buttonをchakraの実装に寄せる
  packages/constants/component/name.ts
  packages/wiz-ui-react/src/components/base/popup/components/index.ts
  packages/wiz-ui-react/src/components/base/popup/components/popup-close.tsx
Labels: none

docs(popup): storyを更新・ファイル分割
  packages/wiz-ui-react/src/components/base/popup/stories/common.ts
  packages/wiz-ui-react/src/components/base/popup/stories/default.tsx
  packages/wiz-ui-react/src/components/base/popup/stories/gap.tsx
  packages/wiz-ui-react/src/components/base/popup/stories/playground.tsx
  packages/wiz-ui-react/src/components/base/popup/stories/playground2.tsx
  packages/wiz-ui-react/src/components/base/popup/stories/popup.stories.tsx
Labels: none

fix(popup): component name
  packages/wiz-ui-react/src/components/base/popup/index.ts
Labels: none

refactor(wiz-ui-react): Storybookのmetaの型アノテーションの修正
  packages/wiz-ui-react/src/components/custom/schedule/stories/card.stories.tsx
  packages/wiz-ui-react/src/components/custom/schedule/stories/schedule.stories.tsx
  packages/wiz-ui-react/src/components/custom/schedule/stories/sheet.stories.tsx
Labels: none

fix(storybook): export default format
  packages/wiz-ui-next/src/components/custom/schedule/stories/card.stories.ts
  packages/wiz-ui-next/src/components/custom/schedule/stories/schedule.stories.ts
  packages/wiz-ui-next/src/components/custom/schedule/stories/sheet.stories.ts
  packages/wiz-ui/src/components/custom/schedule/stories/card.stories.ts
  packages/wiz-ui/src/components/custom/schedule/stories/schedule.stories.ts
  packages/wiz-ui/src/components/custom/schedule/stories/sheet.stories.ts
Labels: 🎨 story

chore: changeset
  .changeset/honest-grapes-push.md
Labels: none

chore(env): storybook build commandの整理・最適化
  .github/workflows/deploy-storybook.yml
  .github/workflows/visual-regression-test.yml
  packages/wiz-ui-next/package.json
  packages/wiz-ui-react/package.json
  packages/wiz-ui/package.json
  turbo.json
Labels: 🏭 ci, ⬆️ dependencies

chore(dep): private local packageの依存関係を修正
  docs/package.json
  examples/vue2/package.json
  examples/vue3/package.json
  packages/icons/package-lock.json
  packages/styles/package.json
  packages/vuepress-plugin-wiz-ui/package.json
  pnpm-lock.yaml
Labels: ⬆️ dependencies

chore: configure vercel deployment
  .gitignore
  packages/wiz-ui-next/vercel.json
  packages/wiz-ui-react/vercel.json
  packages/wiz-ui/vercel.json
Labels: none

ci: remove storybook deployer to aws
  .github/workflows/deploy-storybook.yml
Labels: 🏭 ci

ci(vrt): setup main as upstream
  .github/workflows/visual-regression-test.yml
Labels: 🏭 ci

ci(vrt): update fetch-depth to 1 in visual regression test job
  .github/workflows/visual-regression-test.yml
Labels: 🏭 ci

ci(vrt): setup main as upstream
  .github/workflows/visual-regression-test.yml
Labels: 🏭 ci

ci(vrt): unset fetch depth
  .github/workflows/visual-regression-test.yml
Labels: 🏭 ci

ci(vrt): get ref when checkout
  .github/workflows/visual-regression-test.yml
Labels: 🏭 ci

ci(vrt): update the way to get ref
  .github/workflows/visual-regression-test.yml
Labels: 🏭 ci

ci(vrt): fix storybook build command
  .github/workflows/visual-regression-test.yml
Labels: 🏭 ci

ci(vrt): separate storybook build command
  .github/workflows/visual-regression-test.yml
  package.json
  turbo.json
Labels: 🏭 ci, ⬆️ dependencies

feat(compare-graph): 単位表示位置の設定機能を追加
  packages/wiz-ui/src/components/base/graphs/compare/compare.vue
  packages/wiz-ui/src/components/base/graphs/compare/container.vue
Labels: none

docs(compare-graph): update
  packages/wiz-ui/src/components/base/graphs/compare/compare.stories.ts
Labels: 🎨 story

chore(compare-graph): 不要なオプションを削除
  packages/wiz-ui/src/components/base/graphs/compare/container.vue
Labels: none

docs(compare-graph): update
  packages/wiz-ui/src/components/base/graphs/compare/bar.vue
  packages/wiz-ui/src/components/base/graphs/compare/compare.vue
Labels: none

docs(compare-graph): update
  packages/wiz-ui/src/components/base/graphs/compare/compare.stories.ts
Labels: 🎨 story

feat(compare-graph): wiz-ui-nextに対応
  packages/wiz-ui-next/src/components/base/graphs/compare/bar.vue
  packages/wiz-ui-next/src/components/base/graphs/compare/compare.stories.ts
  packages/wiz-ui-next/src/components/base/graphs/compare/compare.vue
Labels: 🎨 story

docs(compare-graph): update
  packages/wiz-ui-next/src/components/base/graphs/compare/compare.stories.ts
  packages/wiz-ui/src/components/base/graphs/compare/compare.stories.ts
Labels: 🎨 story

feat(react): add component name
  packages/wiz-ui-react/src/components/custom/schedule/components/card.tsx
  packages/wiz-ui-react/src/components/custom/schedule/components/grid.tsx
  packages/wiz-ui-react/src/components/custom/schedule/components/schedule.tsx
  packages/wiz-ui-react/src/components/custom/schedule/components/sheet.tsx
Labels: none

chore(popup): display name
  packages/constants/component/name.ts
  packages/wiz-ui-react/src/components/base/popup/components/popup-close.tsx
  packages/wiz-ui-react/src/components/base/popup/components/popup-content.tsx
  packages/wiz-ui-react/src/components/base/popup/components/popup-trigger.tsx
  packages/wiz-ui-react/src/components/base/popup/components/popup.tsx
Labels: none

chore(error-message): wiz-ui-constantsにエラーメッセージを定義
  packages/constants/component/error-message.ts
  packages/constants/component/index.ts
  packages/wiz-ui-react/src/components/base/popup/components/popup-close.tsx
  packages/wiz-ui-react/src/components/base/popup/components/popup-content.tsx
  packages/wiz-ui-react/src/components/base/popup/components/popup-trigger.tsx
  packages/wiz-ui-react/src/hooks/use-global-provider.ts
Labels: none

fix(react): import react from external
  packages/wiz-ui-react/vite.config.ts
Labels: none

fix(vrt): thw way to detach
  .github/workflows/visual-regression-test.yml
Labels: 🏭 ci

fix(vrt): change workflow trigger to push
  .github/workflows/visual-regression-test.yml
Labels: 🏭 ci

chore(wiz-ui-react): remove package-lock.json
  packages/wiz-ui-react/package-lock.json
Labels: ⬆️ dependencies

chore(compare-graph): ラベルの傾きを自動設定
  packages/wiz-ui-next/src/components/base/graphs/compare/bar.vue
  packages/wiz-ui-next/src/components/base/graphs/compare/compare.vue
  packages/wiz-ui/src/components/base/graphs/compare/bar.vue
  packages/wiz-ui/src/components/base/graphs/compare/compare.vue
Labels: none

docs(compare-graph): update
  packages/wiz-ui-next/src/components/base/graphs/compare/compare.stories.ts
  packages/wiz-ui/src/components/base/graphs/compare/compare.stories.ts
Labels: 🎨 story
