Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"

feat(Transition Graph): configure style
  packages/styles/bases/transition-graph.css.ts
Labels: none

feat(Transition Graph): create component
  packages/wiz-ui-next/src/components/base/graphs/transition/bar.vue
  packages/wiz-ui-next/src/components/base/graphs/transition/container.vue
  packages/wiz-ui-next/src/components/base/graphs/transition/transition.stories.ts
  packages/wiz-ui-next/src/components/base/graphs/transition/transition.vue
  packages/wiz-ui-next/src/components/base/graphs/transition/types.ts
  packages/wiz-ui/src/components/base/graphs/transition/bar.vue
  packages/wiz-ui/src/components/base/graphs/transition/container.vue
  packages/wiz-ui/src/components/base/graphs/transition/transition.stories.ts
  packages/wiz-ui/src/components/base/graphs/transition/transition.vue
  packages/wiz-ui/src/components/base/graphs/transition/types.ts
Labels: 🎨 story

fix(Transition Graph): storybook $args patch
  packages/wiz-ui-next/src/components/base/graphs/poll/poll.stories.ts
Labels: 🎨 story

feat: add component name
  packages/constants/component/name.ts
  packages/wiz-ui-next/src/components/base/graphs/poll/poll.vue
  packages/wiz-ui-next/src/components/base/graphs/transition/transition.vue
  packages/wiz-ui/src/components/base/graphs/poll/poll.vue
  packages/wiz-ui/src/components/base/graphs/transition/transition.vue
Labels: none

fix: badge docs
  packages/wiz-ui/src/components/base/badge/badge.stories.ts
Labels: 🎨 story

feat: add calendar docs
  packages/wiz-ui-next/src/components/base/calendar/calendar.stories.ts
  packages/wiz-ui/src/components/base/calendar/calendar.stories.ts
Labels: 🎨 story

feat: add card docs
  packages/wiz-ui-next/src/components/base/card/card.stories.ts
  packages/wiz-ui/src/components/base/card/card.stories.ts
Labels: 🎨 story

feat: add dialog docs
  packages/wiz-ui-next/src/components/base/dialog/dialog.stories.ts
  packages/wiz-ui/src/components/base/dialog/dialog.stories.ts
Labels: 🎨 story

feat: add dropbox doc
  packages/wiz-ui-next/src/components/base/dropdown/dropdown-item.stories.ts
  packages/wiz-ui-next/src/components/base/dropdown/dropdown.stories.ts
  packages/wiz-ui/src/components/base/dropdown/dropdown-item.stories.ts
  packages/wiz-ui/src/components/base/dropdown/dropdown.stories.ts
Labels: 🎨 story

feat: add dialog docs
  packages/wiz-ui-next/src/components/base/dialog/dialog.stories.ts
Labels: 🎨 story

feat: add heading docs
  packages/wiz-ui-next/src/components/base/heading/heading.stories.ts
  packages/wiz-ui/src/components/base/heading/heading.stories.ts
Labels: 🎨 story

feat: add header docs
  packages/wiz-ui-next/src/components/base/header/header.stories.ts
  packages/wiz-ui/src/components/base/header/header.stories.ts
Labels: 🎨 story

feat: add password input docs
  packages/wiz-ui-next/src/components/base/inputs/password/password.stories.ts
  packages/wiz-ui/src/components/base/inputs/password/password.stories.ts
Labels: 🎨 story

feat: add checkbox input docs
  packages/wiz-ui-next/src/components/base/inputs/checkbox/checkbox.stories.ts
  packages/wiz-ui/src/components/base/inputs/checkbox/checkbox.stories.ts
Labels: 🎨 story

feat: add icon docs
  packages/wiz-ui-next/src/components/base/icon/icon.stories.ts
  packages/wiz-ui/src/components/base/icon/icon.stories.ts
Labels: 🎨 story

feat: add datepicker input docs
  packages/wiz-ui-next/src/components/base/inputs/datepicker/date-picker.stories.ts
  packages/wiz-ui/src/components/base/inputs/datepicker/date-picker.stories.ts
Labels: 🎨 story

feat: add selectbox input docs
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.stories.ts
  packages/wiz-ui/src/components/base/inputs/selectbox/selectbox.stories.ts
Labels: 🎨 story

feat: add text input docs
  packages/wiz-ui-next/src/components/base/inputs/text/text.stories.ts
  packages/wiz-ui/src/components/base/inputs/text/text.stories.ts
Labels: 🎨 story

feat: add radio input docs
  packages/wiz-ui-next/src/components/base/inputs/radio/radio.stories.ts
  packages/wiz-ui/src/components/base/inputs/radio/radio.stories.ts
Labels: 🎨 story

feat: add timepicker input docs
  packages/wiz-ui-next/src/components/base/inputs/timepicker/time-picker.stories.ts
  packages/wiz-ui/src/components/base/inputs/timepicker/time-picker.stories.ts
Labels: 🎨 story

feat: add toggle-switch input docs
  packages/wiz-ui-next/src/components/base/inputs/toggle-switch/toggle-switch.stories.ts
  packages/wiz-ui/src/components/base/inputs/toggle-switch/toggle-switch.stories.ts
Labels: 🎨 story

feat: add panel-switch input docs
  packages/wiz-ui-next/src/components/base/inputs/panel-switch/panel-switch.stories.ts
  packages/wiz-ui/src/components/base/inputs/panel-switch/panel-switch.stories.ts
Labels: 🎨 story

feat: upload input docs
  packages/wiz-ui-next/src/components/base/inputs/upload/upload.stories.ts
  packages/wiz-ui/src/components/base/inputs/upload/upload.stories.ts
Labels: 🎨 story

feat: meterをバンドルに追加
  packages/wiz-ui-next/src/components/base/graphs/index.ts
  packages/wiz-ui-next/src/components/base/graphs/meter/index.ts
  packages/wiz-ui/src/components/base/graphs/index.ts
  packages/wiz-ui/src/components/base/graphs/meter/index.ts
Labels: none

feat: meterのスタイルとstrokeのcolor variableを作成
  packages/styles/bases/meter-graph.css.ts
  packages/styles/commons/background.css.ts
Labels: none

feat: meter component を作成
  packages/wiz-ui-next/src/components/base/graphs/meter/meter.stories.ts
  packages/wiz-ui-next/src/components/base/graphs/meter/meter.vue
  packages/wiz-ui/src/components/base/graphs/meter/meter.stories.ts
  packages/wiz-ui/src/components/base/graphs/meter/meter.vue
Labels: 🎨 story

fix: 日本語等の全角文字が入ったときにoverflowよりも改行が優先されてしまいellipsisされない問題を修正
  packages/styles/bases/selectbox-input.css.ts
Labels: none

feat: configure icon name
  packages/constants/component/name.ts
Labels: none

feat: pin-drop icon
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-next/src/components/icons/pin-drop.vue
  packages/wiz-ui/src/components/icons/index.ts
  packages/wiz-ui/src/components/icons/pin-drop.vue
Labels: none

fix: gain capture timeout
  packages/wiz-ui-next/package.json
  packages/wiz-ui/package.json
Labels: ⬆️ dependencies

feat: configure line graph name
  packages/constants/component/name.ts
Labels: none

refactor: move upload-display style to line-graph style
  packages/styles/bases/line-graph.css.ts
  packages/styles/bases/upload-display.css.ts
Labels: none

feat: add line graph to bundle
  packages/wiz-ui-next/src/components/base/graphs/index.ts
  packages/wiz-ui-next/src/components/base/graphs/line/index.ts
  packages/wiz-ui/src/components/base/graphs/index.ts
  packages/wiz-ui/src/components/base/graphs/line/index.ts
Labels: none

feat: separate line-graph from upload
  packages/wiz-ui-next/src/components/base/graphs/line/line.stories.ts
  packages/wiz-ui-next/src/components/base/graphs/line/line.vue
  packages/wiz-ui-next/src/components/base/inputs/upload/upload-display.vue
  packages/wiz-ui/src/components/base/graphs/line/line.stories.ts
  packages/wiz-ui/src/components/base/graphs/line/line.vue
  packages/wiz-ui/src/components/base/inputs/upload/upload-display.vue
Labels: 🎨 story

release(Vue2/Vue3): v0.5.3
  packages/wiz-ui-next/package.json
  packages/wiz-ui-next/src/index.ts
  packages/wiz-ui/package.json
  packages/wiz-ui/src/index.ts
Labels: ⬆️ dependencies

wiz-ui-nextのcheckBoxのoptionにkeyを追加
  packages/wiz-ui-next/src/components/base/inputs/checkbox/checkbox.vue
  packages/wiz-ui-next/src/components/base/inputs/checkbox/types.ts
Labels: none

checkBoxのstorybookを編集
  packages/wiz-ui-next/src/components/base/inputs/checkbox/checkbox.stories.ts
Labels: 🎨 story

wiz-uiのcheckBoxのoptionにkeyを追加
  packages/wiz-ui/src/components/base/inputs/checkbox/checkbox.vue
  packages/wiz-ui/src/components/base/inputs/checkbox/types.ts
Labels: none

checkBoxのoptionにkeyを追加
  packages/wiz-ui/src/components/base/inputs/checkbox/checkbox.stories.ts
Labels: 🎨 story

ciが落ちてしまったので修正
  packages/wiz-ui-next/src/components/custom/form/group.stories.ts
  packages/wiz-ui/src/components/custom/form/group.stories.ts
Labels: 🎨 story
