Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

checkboxの仕様変更に伴う変更
  packages/wiz-ui-next/src/components/custom/form/group.stories.ts
  packages/wiz-ui/src/components/custom/form/group.stories.ts
Labels: 🎨 story

feat/wiz-search-input
  packages/constants/component/name.ts
  packages/styles/bases/search-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/index.ts
  packages/wiz-ui-next/src/components/base/inputs/search/index.ts
  packages/wiz-ui-next/src/components/base/inputs/search/search-popup.vue
  packages/wiz-ui-next/src/components/base/inputs/search/search.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/search/search.vue
  packages/wiz-ui-next/src/components/base/inputs/search/types.ts
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-next/src/components/icons/search.vue
  packages/wiz-ui/src/components/icons/index.ts
Labels: 🎨 story

feat: tooltipの位置を選択できるようにする機能の追加、リファクタリング
  packages/styles/bases/tooltip.css.ts
  packages/wiz-ui-next/src/components/base/tooltip/tooltip.stories.ts
  packages/wiz-ui-next/src/components/base/tooltip/tooltip.vue
  packages/wiz-ui/src/components/base/tooltip/tooltip.stories.ts
  packages/wiz-ui/src/components/base/tooltip/tooltip.vue
Labels: 🎨 story

chore: storybookのスタイル調整
  packages/wiz-ui-next/src/components/base/tooltip/tooltip.stories.ts
  packages/wiz-ui/src/components/base/tooltip/tooltip.stories.ts
Labels: 🎨 story

レビューいただいた点の修正
  packages/wiz-ui-next/src/components/base/inputs/checkbox/checkbox.vue
  packages/wiz-ui/src/components/base/inputs/checkbox/checkbox.vue
Labels: none

refactor: 表記揺れの解消
  packages/wiz-ui-next/src/components/base/inputs/checkbox/checkbox.vue
  packages/wiz-ui/src/components/base/inputs/checkbox/checkbox.vue
Labels: none

feat(icon): content-copy, descriptionの追加
  packages/constants/component/name.ts
  packages/wiz-ui-next/src/components/icons/content-copy.vue
  packages/wiz-ui-next/src/components/icons/description.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui/src/components/icons/content-copy.vue
  packages/wiz-ui/src/components/icons/description.vue
  packages/wiz-ui/src/components/icons/index.ts
Labels: none

fix(select box): place holderのoverflowに対応
  packages/styles/bases/selectbox-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.vue
  packages/wiz-ui/src/components/base/inputs/selectbox/selectbox.vue
Labels: none

docs(migration): Vue2とVue3で書き換えの必要な実装が出現したので記述
  MIGRATION.md
Labels: none

feat(chat-card): Status Selectorの追加
  packages/wiz-ui-next/src/components/custom/chat/card/chat-card.stories.ts
  packages/wiz-ui-next/src/components/custom/chat/card/chat-card.vue
  packages/wiz-ui/src/components/custom/chat/card/chat-card.stories.ts
  packages/wiz-ui/src/components/custom/chat/card/chat-card.vue
Labels: 🎨 story

fix(tooltip): pointer event noneを追加して、非表示Popupにhoverが当たらないようにした
  packages/wiz-ui-next/src/components/base/tooltip/tooltip.vue
  packages/wiz-ui/src/components/base/tooltip/tooltip.vue
Labels: none

fix(tooltip): contentがないときはそもそもtooltipが表示されないようにした
  packages/wiz-ui-next/src/components/base/tooltip/tooltip.vue
  packages/wiz-ui/src/components/base/tooltip/tooltip.vue
Labels: none

fix(ChatCard): 既読件数表示と既読Hover時にTooltipが表示されるように拡張
  packages/wiz-ui-next/src/components/custom/chat/card/chat-card.stories.ts
  packages/wiz-ui-next/src/components/custom/chat/item/chat-item.stories.ts
  packages/wiz-ui-next/src/components/custom/chat/item/chat-item.vue
  packages/wiz-ui-next/src/components/custom/chat/types.ts
  packages/wiz-ui/src/components/custom/chat/card/chat-card.stories.ts
  packages/wiz-ui/src/components/custom/chat/item/chat-item.stories.ts
  packages/wiz-ui/src/components/custom/chat/item/chat-item.vue
  packages/wiz-ui/src/components/custom/chat/types.ts
Labels: 🎨 story

feat(text): breakAllを外から設定できるようにした
  packages/wiz-ui-next/src/components/base/text/text.vue
  packages/wiz-ui/src/components/base/text/text.vue
Labels: none

feat(utils): textをサニタイズしたあとurlを抽出するサービスを作成
  packages/utils/index.ts
  packages/utils/linkify.ts
Labels: none

fix(anchor): たいていlinkは折り返し位置の拘りがないのでbreak-wordをデフォルトにした
  packages/styles/bases/anchor.css.ts
Labels: none

feat(chat-card): messageからurlを抽出してリンク化する処理を追加
  packages/wiz-ui-next/src/components/custom/chat/card/chat-card.stories.ts
  packages/wiz-ui-next/src/components/custom/chat/item/chat-item.stories.ts
  packages/wiz-ui-next/src/components/custom/chat/item/chat-item.vue
  packages/wiz-ui/src/components/custom/chat/card/chat-card.stories.ts
  packages/wiz-ui/src/components/custom/chat/item/chat-item.stories.ts
  packages/wiz-ui/src/components/custom/chat/item/chat-item.vue
Labels: 🎨 story

feat(base-input): Iconを右や左に置けるようにpaddingを拡張してleft/rightを設定できるようにした
  packages/styles/bases/base-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/base/base.vue
  packages/wiz-ui/src/components/base/inputs/base/base.vue
Labels: none

fix(password-input): EyeIconの位置調整、入力エリア削減
  packages/styles/bases/password-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/password/password.vue
  packages/wiz-ui/src/components/base/inputs/password/password.vue
Labels: none

feat(icons): search
  packages/constants/component/name.ts
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-next/src/components/icons/search.vue
  packages/wiz-ui/src/components/icons/index.ts
  packages/wiz-ui/src/components/icons/search.vue
Labels: none

refactor(base-input): 共通化していらなくなったcssの削除
  packages/styles/bases/base-input.css.ts
Labels: none

fix(base-input): nameを必須propsから削除、代わりにidを指定できるようにした
  packages/wiz-ui-next/src/components/base/inputs/base/base.vue
  packages/wiz-ui/src/components/base/inputs/base/base.vue
Labels: none

fix(password-input): nameの削除、idの追加
  packages/styles/bases/password-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/password/password.vue
  packages/wiz-ui/src/components/base/inputs/password/password.vue
Labels: none

fix(text-input): nameの削除、idの追加、iconを設定できるように
  packages/styles/bases/text-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/text/text.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/text/text.vue
  packages/wiz-ui/src/components/base/inputs/text/text.stories.ts
  packages/wiz-ui/src/components/base/inputs/text/text.vue
Labels: 🎨 story

chore: storybookのビルドエラー対応
  packages/wiz-ui-next/src/components/custom/chat/item/chat-item.stories.ts
Labels: 🎨 story

chore: storybookのビルドエラー対応
  packages/wiz-ui-next/src/components/base/inputs/password/password.stories.ts
  packages/wiz-ui/src/components/base/inputs/password/password.stories.ts
Labels: 🎨 story

chore: storybookのprops指定ミスの修正
  packages/wiz-ui-next/src/components/base/inputs/text/text.stories.ts
  packages/wiz-ui/src/components/base/inputs/text/text.stories.ts
Labels: 🎨 story

release(Vue2/Vue3): v0.6.0
  packages/wiz-ui-next/package.json
  packages/wiz-ui-next/src/index.ts
  packages/wiz-ui/package.json
  packages/wiz-ui/src/index.ts
Labels: ⬆️ dependencies

ci: node_modulesのキャッシュ管理方法をaction/cacheに変更
  .github/composite/prepare_node/action.yml
Labels: 🏭 ci

fix(text-area): name propsの削除、ID propsの追加
  packages/wiz-ui-next/src/components/base/textarea/text-area.vue
  packages/wiz-ui/src/components/base/textarea/text-area.stories.ts
  packages/wiz-ui/src/components/base/textarea/text-area.vue
Labels: 🎨 story

fix: fix examples in checkbox doc
  packages/wiz-ui-next/src/components/base/inputs/checkbox/checkbox.stories.ts
  packages/wiz-ui/src/components/base/inputs/checkbox/checkbox.stories.ts
Labels: 🎨 story

feat: add progress bar docs
  packages/wiz-ui-next/src/components/base/progress-bar/progress-bar.stories.ts
  packages/wiz-ui/src/components/base/progress-bar/progress-bar.stories.ts
Labels: 🎨 story

feat: add popup docs
  packages/wiz-ui-next/src/components/base/popup/popup.stories.ts
  packages/wiz-ui/src/components/base/popup/popup.stories.ts
Labels: 🎨 story

feat add message-box doc
  packages/wiz-ui-next/src/components/base/message-box/message-box.stories.ts
  packages/wiz-ui/src/components/base/message-box/message-box.stories.ts
Labels: 🎨 story

feat: add progress point docs
  packages/wiz-ui-next/src/components/base/progress-bar/progress-point.stories.ts
  packages/wiz-ui/src/components/base/progress-bar/progress-point.stories.ts
Labels: 🎨 story

feat: add navigation docs
  packages/wiz-ui-next/src/components/base/navigation/container.stories.ts
  packages/wiz-ui-next/src/components/base/navigation/item.stories.ts
  packages/wiz-ui/src/components/base/navigation/container.stories.ts
  packages/wiz-ui/src/components/base/navigation/item.stories.ts
Labels: 🎨 story

feat: add stack docs
  packages/wiz-ui-next/src/components/base/stack/stack.stories.ts
  packages/wiz-ui/src/components/base/stack/stack.stories.ts
Labels: 🎨 story

feat: add tab pane docs
  packages/wiz-ui-next/src/components/base/tab/tab-pane.stories.ts
  packages/wiz-ui/src/components/base/tab/tab-pane.stories.ts
Labels: 🎨 story

feat: add text docs
  packages/wiz-ui-next/src/components/base/text/text.stories.ts
  packages/wiz-ui/src/components/base/text/text.stories.ts
Labels: 🎨 story

feat: add textarea docs
  packages/wiz-ui-next/src/components/base/textarea/text-area.stories.ts
  packages/wiz-ui/src/components/base/textarea/text-area.stories.ts
Labels: 🎨 story

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"
