Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"

fix(tag): variant式に変更
  packages/styles/bases/tag.css.ts
  packages/wiz-ui-next/src/components/base/tag/tag.stories.ts
  packages/wiz-ui-next/src/components/base/tag/tag.vue
  packages/wiz-ui/src/components/base/tag/tag.stories.ts
  packages/wiz-ui/src/components/base/tag/tag.vue
Labels: 🎨 story

fix:navigation-itemにcursor:pointer追加
  packages/styles/bases/navigation.css.ts
Labels: none

fix:gapXStyle,gapYStyleのテンプレートリテラル削除
  packages/styles/commons/gap.css.ts
Labels: none

fix:checkboxのサイズ調整
  packages/styles/bases/checkbox-input.css.ts
Labels: none

fix(card): title/hint propsの廃止、汎用性を持たせるように
  packages/styles/bases/card.css.ts
  packages/wiz-ui-next/src/components/base/card/card.stories.ts
  packages/wiz-ui-next/src/components/base/card/card.vue
  packages/wiz-ui/src/components/base/card/card.stories.ts
  packages/wiz-ui/src/components/base/card/card.vue
Labels: 🎨 story

feat: add button docs
  packages/wiz-ui-next/src/components/base/buttons/icon/icon.stories.ts
  packages/wiz-ui-next/src/components/base/buttons/text/text.stories.ts
  packages/wiz-ui-next/src/components/base/buttons/toggle/toggle.stories.ts
  packages/wiz-ui/src/components/base/buttons/icon/icon.stories.ts
  packages/wiz-ui/src/components/base/buttons/text/text.stories.ts
  packages/wiz-ui/src/components/base/buttons/toggle/toggle.stories.ts
Labels: 🎨 story

feat(upload): custom Request Header
  packages/wiz-ui-next/src/components/base/inputs/upload/upload.vue
  packages/wiz-ui/src/components/base/inputs/upload/upload.vue
Labels: none

feat(card): custom gap
  packages/wiz-ui-next/src/components/base/card/card.stories.ts
  packages/wiz-ui-next/src/components/base/card/card.vue
  packages/wiz-ui/src/components/base/card/card.stories.ts
  packages/wiz-ui/src/components/base/card/card.vue
Labels: 🎨 story

refactor: badge storyからargs削除
  packages/wiz-ui/src/components/base/badge/badge.stories.ts
Labels: 🎨 story

refactor: args削除(Vue2のため)
  packages/wiz-ui/src/components/base/card/card.stories.ts
Labels: 🎨 story

feat(selectbox): optionの右側にvalueに含まれないlabelの追加
  packages/styles/bases/selectbox-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.vue
  packages/wiz-ui-next/src/components/base/inputs/selectbox/types.ts
  packages/wiz-ui/src/components/base/inputs/selectbox/selectbox.stories.ts
  packages/wiz-ui/src/components/base/inputs/selectbox/selectbox.vue
  packages/wiz-ui/src/components/base/inputs/selectbox/types.ts
Labels: 🎨 story

feat(selectbox): overflowした時3点ドットに
  packages/styles/bases/selectbox-input.css.ts
Labels: none

chore: update storybook
  packages/wiz-ui/src/components/base/badge/badge.stories.ts
Labels: 🎨 story

chore: remove args
  packages/wiz-ui/src/components/base/card/card.stories.ts
Labels: 🎨 story

fix: tag変更に伴うChatのデザイン崩れを修正
  packages/styles/bases/tag.css.ts
  packages/wiz-ui-next/src/components/base/tag/tag.stories.ts
  packages/wiz-ui-next/src/components/base/tag/tag.vue
  packages/wiz-ui-next/src/components/custom/chat/card/chat-card.vue
  packages/wiz-ui/src/components/base/tag/tag.stories.ts
  packages/wiz-ui/src/components/base/tag/tag.vue
  packages/wiz-ui/src/components/custom/chat/card/chat-card.vue
Labels: 🎨 story

fix: tag変更に伴うChatのデザイン崩れを修正
  packages/styles/bases/card.css.ts
  packages/wiz-ui-next/src/components/custom/chat/card/chat-card.vue
  packages/wiz-ui/src/components/base/badge/badge.stories.ts
  packages/wiz-ui/src/components/custom/chat/card/chat-card.vue
Labels: 🎨 story

release(Vue2/Vue3): v0.5.0
  packages/wiz-ui-next/package.json
  packages/wiz-ui-next/src/index.ts
  packages/wiz-ui/package.json
  packages/wiz-ui/src/index.ts
Labels: ⬆️ dependencies

fix(pagination): length5ページ以下のときに正しく表示されるように修正
  packages/wiz-ui-next/src/components/base/pagination/pagination.vue
  packages/wiz-ui/src/components/base/pagination/pagination.vue
Labels: none

fix(pagination): ページ移動でガタつかないようにmarginで補完
  packages/styles/bases/pagination.css.ts
  packages/wiz-ui-next/src/components/base/pagination/pagination.vue
  packages/wiz-ui/src/components/base/pagination/pagination.vue
Labels: none

feat(icon): DownloadとUploadを追加
  packages/constants/component/name.ts
  packages/wiz-ui-next/src/components/icons/download.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-next/src/components/icons/upload.vue
  packages/wiz-ui/src/components/icons/download.vue
  packages/wiz-ui/src/components/icons/index.ts
  packages/wiz-ui/src/components/icons/upload.vue
Labels: none

fix(header): z-indexをbaseLayerからfloating Layerに
  packages/wiz-ui-next/src/components/base/header/header.vue
  packages/wiz-ui/src/components/base/header/header.vue
Labels: none

feat(table): Tableの列を結合できるようにした
  packages/wiz-ui-next/src/components/base/tables/card/table.stories.ts
  packages/wiz-ui-next/src/components/base/tables/card/th.vue
  packages/wiz-ui/src/components/base/tables/card/table.stories.ts
  packages/wiz-ui/src/components/base/tables/card/th.vue
Labels: 🎨 story

release(Vue2/Vue3): v0.5.1
  packages/wiz-ui-next/package.json
  packages/wiz-ui-next/src/index.ts
  packages/wiz-ui/package.json
  packages/wiz-ui/src/index.ts
Labels: ⬆️ dependencies

fix:toottip用のiconを追加
  packages/constants/component/name.ts
Labels: none

fix:tooltip用のiconを追加
  packages/wiz-ui-next/src/components/icons/change-history.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui/src/components/icons/change-history.vue
  packages/wiz-ui/src/components/icons/index.ts
Labels: none

fix:wiz-tooltipの修正
  packages/wiz-ui-next/src/components/base/tooltip/tooltip.vue
  packages/wiz-ui/src/components/base/tooltip/tooltip.vue
Labels: none

fix:wiz-tooltipのstorybook修正
  packages/wiz-ui-next/src/components/base/tooltip/tooltip.stories.ts
  packages/wiz-ui/src/components/base/tooltip/tooltip.stories.ts
Labels: 🎨 story

fix:wiz-tooltipのcss修正
  packages/styles/bases/tooltip.css.ts
Labels: none

fix: WizSelectBoxのlabelとexLabelの縦位置を揃える
  packages/styles/bases/selectbox-input.css.ts
Labels: none

fix:wiz-tooltipのstorybook修正
  packages/wiz-ui-next/src/components/base/tooltip/tooltip.stories.ts
Labels: 🎨 story

release(Vue2/Vue3): v0.5.2
  packages/wiz-ui-next/package.json
  packages/wiz-ui-next/src/index.ts
  packages/wiz-ui/package.json
  packages/wiz-ui/src/index.ts
Labels: ⬆️ dependencies

feat(Graphs): add graph export
  packages/constants/component/name.ts
  packages/wiz-ui-next/src/components/base/graphs/circle/index.ts
  packages/wiz-ui-next/src/components/base/graphs/index.ts
  packages/wiz-ui-next/src/components/base/index.ts
  packages/wiz-ui/src/components/base/graphs/circle/index.ts
  packages/wiz-ui/src/components/base/graphs/index.ts
  packages/wiz-ui/src/components/base/index.ts
Labels: none

feat(Graphs): move style from crm
  packages/styles/bases/circle-graph.css.ts
Labels: none

feat(Circle Graph): create circle graph component
  packages/wiz-ui-next/src/components/base/graphs/circle/bar.vue
  packages/wiz-ui-next/src/components/base/graphs/circle/circle.stories.ts
  packages/wiz-ui-next/src/components/base/graphs/circle/circle.vue
  packages/wiz-ui-next/src/components/base/graphs/circle/types.ts
  packages/wiz-ui/src/components/base/graphs/circle/bar.vue
  packages/wiz-ui/src/components/base/graphs/circle/circle.stories.ts
  packages/wiz-ui/src/components/base/graphs/circle/circle.vue
  packages/wiz-ui/src/components/base/graphs/circle/types.ts
Labels: 🎨 story

feat(Circle Graph): split constants
  packages/styles/bases/circle-graph.css.ts
  packages/wiz-ui-next/src/components/base/graphs/circle/bar.vue
  packages/wiz-ui/src/components/base/graphs/circle/bar.vue
Labels: none

fix(Circle Graph): story type
  packages/wiz-ui-next/src/components/base/graphs/circle/circle.stories.ts
  packages/wiz-ui/src/components/base/graphs/circle/circle.stories.ts
Labels: 🎨 story

feat(Poll Graph): add poll export
  packages/wiz-ui-next/src/components/base/graphs/index.ts
  packages/wiz-ui-next/src/components/base/graphs/poll/index.ts
  packages/wiz-ui/src/components/base/graphs/index.ts
  packages/wiz-ui/src/components/base/graphs/poll/index.ts
Labels: none

feat(Poll Graph): configure style
  packages/styles/bases/poll-graph.css.ts
Labels: none

feat(Poll Graph): create component
  packages/wiz-ui-next/src/components/base/graphs/poll/bar.vue
  packages/wiz-ui-next/src/components/base/graphs/poll/poll.stories.ts
  packages/wiz-ui-next/src/components/base/graphs/poll/poll.vue
  packages/wiz-ui-next/src/components/base/graphs/poll/row.vue
  packages/wiz-ui-next/src/components/base/graphs/poll/types.ts
  packages/wiz-ui/src/components/base/graphs/poll/bar.vue
  packages/wiz-ui/src/components/base/graphs/poll/poll.stories.ts
  packages/wiz-ui/src/components/base/graphs/poll/poll.vue
  packages/wiz-ui/src/components/base/graphs/poll/row.vue
  packages/wiz-ui/src/components/base/graphs/poll/types.ts
Labels: 🎨 story

feat(Transition Graph): add export
  packages/wiz-ui-next/src/components/base/graphs/index.ts
  packages/wiz-ui-next/src/components/base/graphs/transition/index.ts
  packages/wiz-ui/src/components/base/graphs/index.ts
  packages/wiz-ui/src/components/base/graphs/transition/index.ts
Labels: none
