Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"

fix(search-input): remove search-input-tag
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-input-tag.tsx
Labels: none

test(calender): update
  packages/wiz-ui-react/src/components/base/calendar/tests/calendar-helper.test.ts
Labels: ✅ test

chore(tag): iconサイズを調整しない
  packages/wiz-ui-next/src/components/base/tag/tag.vue
  packages/wiz-ui-react/src/components/base/tag/components/tag.tsx
  packages/wiz-ui/src/components/base/tag/tag.vue
Labels: none

TextButtonのsubのアイコン色を修正
  packages/wiz-ui-react/src/components/base/buttons/text/components/text-button.tsx
Labels: none

fix(text-button): lineHeight
  packages/styles/bases/text-button.css.ts
Labels: none

feat(tab-pane): green badge
  packages/styles/bases/tab.css.ts
  packages/wiz-ui-next/src/components/base/tab/tab-pane.vue
  packages/wiz-ui-react/src/components/base/tab/components/tab-pane.tsx
  packages/wiz-ui/src/components/base/tab/tab-pane.vue
Labels: none

docs(tab-pane): badgeColor story
  packages/wiz-ui-next/src/components/base/tab/tab-pane.stories.ts
  packages/wiz-ui-react/src/components/base/tab/stories/tab-pane.stories.tsx
  packages/wiz-ui/src/components/base/tab/tab-pane.stories.ts
Labels: 🎨 story

chore(tab-pane): add changeset
  .changeset/ten-cats-tickle.md
Labels: none

feat(drawer): slide direction
  packages/wiz-ui-next/src/components/base/drawer/drawer.vue
  packages/wiz-ui-react/src/components/base/drawer/drawer.tsx
  packages/wiz-ui/src/components/base/drawer/drawer.vue
Labels: none

chore(drawer): add changeset
  .changeset/ten-clocks-allow.md
Labels: none

[#1014] hover → isOpen に変換 (Vue)
  packages/wiz-ui-next/src/components/base/tooltip/tooltip.stories.ts
  packages/wiz-ui-next/src/components/base/tooltip/tooltip.vue
  packages/wiz-ui/src/components/base/tooltip/tooltip.stories.ts
  packages/wiz-ui/src/components/base/tooltip/tooltip.vue
Labels: 🎨 story

[#1014] hover → isOpen に変換 (React)
  packages/wiz-ui-react/src/components/base/tooltip/components/tooltip.tsx
  packages/wiz-ui-react/src/components/base/tooltip/stories/tooltip.stories.tsx
Labels: none

[#1014] changesets 追加
  .changeset/perfect-cooks-shave.md
Labels: none

docs(tooltip): storyの変更漏れを修正
  packages/wiz-ui-next/src/components/base/tooltip/tooltip.stories.ts
  packages/wiz-ui-react/src/components/base/tooltip/stories/tooltip.stories.tsx
  packages/wiz-ui/src/components/base/tooltip/tooltip.stories.ts
Labels: 🎨 story

[#1017] React 対応
  packages/styles/bases/snackbar.css.ts
  packages/wiz-ui-react/src/components/base/snackbar/components/snackbar-context.tsx
  packages/wiz-ui-react/src/components/base/snackbar/components/snackbar-provider.tsx
  packages/wiz-ui-react/src/components/base/snackbar/components/snackbar.tsx
  packages/wiz-ui-react/src/components/base/snackbar/stories/snackbar.stories.tsx
Labels: none

[#1017] changeset 追加
  .changeset/tasty-mayflies-pay.md
Labels: none

[#1008] Search Input にて、children が空配列時に emptyMessage が表示されるように実装
  packages/styles/bases/search-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-popup.vue
  packages/wiz-ui-next/src/components/base/inputs/search-input/stories/options.ts
  packages/wiz-ui-next/src/components/base/inputs/search-input/stories/search-input.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/search-input/types.ts
  packages/wiz-ui/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui/src/components/base/inputs/search-input/search-popup.vue
  packages/wiz-ui/src/components/base/inputs/search-input/stories/options.ts
  packages/wiz-ui/src/components/base/inputs/search-input/stories/search-input.stories.ts
  packages/wiz-ui/src/components/base/inputs/search-input/types.ts
Labels: 🎨 story

[#1008] changeset 追加
  .changeset/slow-points-hammer.md
Labels: none

fix: ReactのSearchSelectorにonInput追加
  .changeset/thick-cycles-kneel.md
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/search-selector.tsx
Labels: none

fix: prop name
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/search-selector.tsx
Labels: none

chore(icon-gen): remove vue2 support
  packages/icons/scripts/build.ts
Labels: none

chore(icon): update icon config
  packages/constants/component/icon-name.ts
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-react/src/components/icons/index.ts
Labels: none

feat(icon): add approval-filled
  packages/icons/assets/approval-filled.svg
  packages/wiz-ui-next/src/components/icons/approval-filled.vue
  packages/wiz-ui-react/src/components/icons/approval-filled.tsx
Labels: none

feat(icon): add bright-filled
  packages/icons/assets/bright-filled.svg
  packages/wiz-ui-next/src/components/icons/bright-filled.vue
  packages/wiz-ui-react/src/components/icons/bright-filled.tsx
Labels: none

feat(icon): add chat-bubble-filled
  packages/icons/assets/chat-bubble-filled.svg
  packages/wiz-ui-next/src/components/icons/chat-bubble-filled.vue
  packages/wiz-ui-react/src/components/icons/chat-bubble-filled.tsx
Labels: none

feat(icon): add check-bold
  packages/icons/assets/check-bold.svg
  packages/wiz-ui-next/src/components/icons/check-bold.vue
  packages/wiz-ui-react/src/components/icons/check-bold.tsx
Labels: none

feat(icon): add check-circle-filled
  packages/icons/assets/check-circle-filled.svg
  packages/wiz-ui-next/src/components/icons/check-circle-filled.vue
  packages/wiz-ui-react/src/components/icons/check-circle-filled.tsx
Labels: none

feat(icon): add chevron-left-bold
  packages/icons/assets/chevron-left-bold.svg
  packages/wiz-ui-next/src/components/icons/chevron-left-bold.vue
  packages/wiz-ui-react/src/components/icons/chevron-left-bold.tsx
Labels: none

feat(icon): add close-bold
  packages/icons/assets/close-bold.svg
  packages/wiz-ui-next/src/components/icons/close-bold.vue
  packages/wiz-ui-react/src/components/icons/close-bold.tsx
Labels: none

feat(icon): add contact-page-filled
  packages/icons/assets/contact-page-filled.svg
  packages/wiz-ui-next/src/components/icons/contact-page-filled.vue
  packages/wiz-ui-react/src/components/icons/contact-page-filled.tsx
Labels: none

feat(icon): add expand-more-bold
  packages/icons/assets/expand-more-bold.svg
  packages/wiz-ui-next/src/components/icons/expand-more-bold.vue
  packages/wiz-ui-react/src/components/icons/expand-more-bold.tsx
Labels: none

feat(icon): add info-bold
  packages/icons/assets/info-bold.svg
  packages/wiz-ui-next/src/components/icons/info-bold.vue
  packages/wiz-ui-react/src/components/icons/info-bold.tsx
Labels: none

feat(icon): add person-filled
  packages/icons/assets/person-filled.svg
  packages/wiz-ui-next/src/components/icons/person-filled.vue
  packages/wiz-ui-react/src/components/icons/person-filled.tsx
Labels: none

feat(icon): add remove-bold
  packages/icons/assets/remove-bold.svg
  packages/wiz-ui-next/src/components/icons/remove-bold.vue
  packages/wiz-ui-react/src/components/icons/remove-bold.tsx
Labels: none

feat(icon): add star-filled
  packages/icons/assets/star-filled.svg
  packages/wiz-ui-next/src/components/icons/star-filled.vue
  packages/wiz-ui-react/src/components/icons/star-filled.tsx
Labels: none

feat(icon): add timer-filled
  packages/icons/assets/timer-filled.svg
  packages/wiz-ui-next/src/components/icons/timer-filled.vue
  packages/wiz-ui-react/src/components/icons/timer-filled.tsx
Labels: none

chore(icon): add changeset
  .changeset/sour-lies-appear.md
Labels: none

chore(drawer): fix lint-warning
  packages/wiz-ui-react/src/components/base/drawer/drawer.tsx
Labels: none

refactor(calendar): itemStyle
  packages/wiz-ui-react/src/components/base/calendar/components/calendar.tsx
Labels: none

chore(calender): disabledDate
  packages/wiz-ui-react/src/components/base/calendar/components/calendar.tsx
Labels: none
