Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

chore(nav-item): update changeset
  .changeset/slimy-phones-hunt.md
Labels: none

feat(search-selector): search text props
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/search-selector.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-selector/stories/search-selector.stories.tsx
Labels: none

chore(search-selector): add changeset
  .changeset/soft-buses-cheer.md
Labels: none

fix(nav-item): align icon in center
  packages/wiz-ui-next/src/components/base/navigation/item.vue
Labels: none

feat(search-selector): update search filters
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/search-selector-helper.ts
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/search-selector.tsx
Labels: none

chore(search-selector): add changeset
  .changeset/smart-zoos-fly.md
Labels: none

chore(search-selector): remove console.log
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/search-selector-helper.ts
Labels: none

[#1258] Content の有無の判定を追加
  packages/wiz-ui-next/src/components/base/tooltip/tooltip.vue
Labels: none

[#1190] 型を unknown で設定
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-input.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-popup-panel.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-input/stories/dummy-data.ts
  packages/wiz-ui-react/src/components/base/inputs/search-input/stories/search-input.stories.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/search-selector-helper.ts
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/search-selector.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/types.ts
  packages/wiz-ui-react/src/components/base/inputs/search-selector/stories/search-selector.stories.tsx
  packages/wiz-ui-react/src/components/base/inputs/selectbox/components/selectbox.tsx
  packages/wiz-ui-react/src/components/base/inputs/selectbox/stories/selectbox.stories.tsx
  packages/wiz-ui-react/src/components/base/navigation/components/navigation-item.tsx
  packages/wiz-ui-react/src/components/base/popup-button-group/components/popup-button-group.tsx
  packages/wiz-ui-react/src/components/base/popup-button-group/types.ts
Labels: none

[#1190] Option の value の 型を後で注入できるように修正
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-input.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-popup-panel.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/types.ts
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/search-selector.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/types.ts
  packages/wiz-ui-react/src/components/base/inputs/selectbox/components/selectbox.tsx
Labels: none

[#1190] add changeset
  .changeset/quiet-clocks-jam.md
Labels: none

ビルドエラーの修正
  packages/wiz-ui-react/src/components/base/navigation/stories/navigation-container.stories.tsx
  packages/wiz-ui-react/src/components/base/popup-button-group/components/button-item.tsx
  packages/wiz-ui-react/src/components/base/popup-button-group/components/group-item.tsx
  packages/wiz-ui-react/src/components/base/popup-button-group/stories/popup-button-group.stories.tsx
  packages/wiz-ui-react/src/components/custom/chat/components/chat-card.tsx
  packages/wiz-ui-react/src/components/custom/form/stories/all-input.tsx
Labels: none

React の type を unknown → T に変換
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-input.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-popup-panel.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-input/stories/dummy-data.ts
  packages/wiz-ui-react/src/components/base/inputs/search-input/stories/search-input.stories.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/search-selector-helper.ts
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/search-selector.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-selector/stories/search-selector.stories.tsx
  packages/wiz-ui-react/src/components/base/inputs/selectbox/components/selectbox.tsx
  packages/wiz-ui-react/src/components/base/popup-button-group/components/button-item.tsx
  packages/wiz-ui-react/src/components/base/popup-button-group/components/group-item.tsx
  packages/wiz-ui-react/src/components/base/popup-button-group/components/popup-button-group.tsx
  packages/wiz-ui-react/src/components/custom/chat/components/chat-card.tsx
  packages/wiz-ui-react/src/components/custom/form/stories/all-input.tsx
Labels: none

[#1190] 型エラーの修正
  packages/wiz-ui-next/src/components/custom/timeline/stories/timeline-item.stories.ts
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-input.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-popup-panel.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-input/stories/search-input.stories.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/search-selector.tsx
Labels: 🎨 story

[#1222] レビュー修正
  packages/styles/bases/search-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-popup.vue
Labels: none

fix(search-selector): popupが閉じる際アクティブにしない
  packages/wiz-ui-react/src/components/base/navigation/stories/navigation-container.stories.tsx
Labels: none

[#1222] add changeset
  .changeset/old-clouds-taste.md
Labels: none

docs(nav-container): fix stories
  packages/wiz-ui-next/src/components/base/navigation/container.stories.ts
  packages/wiz-ui-react/src/components/base/navigation/stories/navigation-container.stories.tsx
Labels: 🎨 story

docs(nav-item): add doc comment
  packages/wiz-ui-react/src/components/base/navigation/components/navigation-item.tsx
Labels: none

feat(icons): WizIDelete, WizIReviews
  packages/constants/component/icon-name.ts
  packages/icons/assets/delete.svg
  packages/icons/assets/reviews.svg
  packages/wiz-ui-next/src/components/icons/delete.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-next/src/components/icons/reviews.vue
  packages/wiz-ui-react/src/components/icons/delete.tsx
  packages/wiz-ui-react/src/components/icons/index.ts
  packages/wiz-ui-react/src/components/icons/reviews.tsx
Labels: none

chore(icon): add changeset
  .changeset/perfect-cats-sleep.md
Labels: none

docs(date-range-picker): 月を横断するように選択範囲を指定
  packages/wiz-ui-react/src/components/base/inputs/date-range-picker/stories/date-range-picker.stories.tsx
Labels: none

chore(deps): update vite to v5.2.11
  package.json
  pnpm-lock.yaml
Labels: ⬆️ dependencies

fix: build error in vue stories
  packages/wiz-ui-next/src/components/base/full-modal-view/full-modal-view.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.stories.ts
  packages/wiz-ui-next/src/components/custom/timeline/stories/timeline-item.stories.ts
Labels: 🎨 story

chore: add changeset
  .changeset/rotten-cups-compete.md
Labels: none

ci: update Node.js to 20.x
  .github/workflows/build-check.yml
  .github/workflows/bundle-analyze.yml
  .github/workflows/lint.yml
  .github/workflows/publish-library.yml
  .github/workflows/test.yml
  .github/workflows/visual-regression-test.yml
Labels: 🏭 ci

ci(deps): update playwright to 1.44.0
  package.json
  pnpm-lock.yaml
Labels: ⬆️ dependencies

chore(deps): specify the node version
  package.json
Labels: ⬆️ dependencies

ci: update pnpm/action-setup to v3
  .github/composite/prepare_node/action.yml
Labels: 🏭 ci

ci: fix ERR_PNPM_BAD_PM_VERSION 
  .github/composite/prepare_node/action.yml
Labels: 🏭 ci

ci: fix ERR_PNPM_BAD_PM_VERSION 
  .github/workflows/bundle-analyze.yml
Labels: 🏭 ci

ci: fix ERR_PNPM_BAD_PM_VERSION 
  .github/composite/prepare_node/action.yml
  .github/workflows/bundle-analyze.yml
  package.json
Labels: 🏭 ci, ⬆️ dependencies

chore: delete changeset
  .changeset/rotten-cups-compete.md
Labels: none

ci: delete comment
  .github/workflows/bundle-analyze.yml
Labels: 🏭 ci

chore: --no-cache追加
  package.json
Labels: ⬆️ dependencies

chore: update turbo
  package.json
  pnpm-lock.yaml
Labels: ⬆️ dependencies

chore: playwrightのバージョンをもとにもどす
  package.json
  pnpm-lock.yaml
Labels: ⬆️ dependencies

chore(form-control): ラベルの縦幅を修正(vue)
  packages/wiz-ui-next/src/components/custom/form/control.vue
Labels: none

feat(icon): add WizIAdjust
  packages/constants/component/icon-name.ts
  packages/icons/assets/adjust.svg
  packages/wiz-ui-next/src/components/icons/adjust.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-react/src/components/icons/adjust.tsx
  packages/wiz-ui-react/src/components/icons/index.ts
Labels: none

chore(icon): add changeset
  .changeset/slow-boats-burn.md
Labels: none

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"
