Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

[#893] add isOpen prop and remove global state
  packages/wiz-ui-next/src/components/base/navigation/container.vue
  packages/wiz-ui/src/components/base/navigation/container.vue
Labels: none

[#893] fix story
  packages/wiz-ui-next/src/components/base/navigation/container.stories.ts
  packages/wiz-ui/src/components/base/navigation/container.stories.ts
Labels: 🎨 story

feat(date-range-picker): フォーカス管理について不要な記述を削除
  packages/wiz-ui-react/src/components/base/inputs/date-range-picker/components/date-range-picker.tsx
Labels: none

refactor(date-range-picker): 月移動
  packages/wiz-ui-react/src/components/base/inputs/date-range-picker/components/date-range-picker.tsx
Labels: none

chore(date-range-picker): WizCalendarに渡すオブジェクトをメモ化
  packages/wiz-ui-react/src/components/base/inputs/date-range-picker/components/date-range-picker.tsx
Labels: none

refactor(date-range-picker): handler name
  packages/wiz-ui-react/src/components/base/inputs/date-range-picker/components/date-range-picker.tsx
Labels: none

fix(date-range-picker): export
  packages/wiz-ui-react/src/components/base/inputs/index.ts
Labels: none

docs(date-range-picker): refactor
  packages/wiz-ui-react/src/components/base/inputs/date-range-picker/stories/date-range-picker.stories.tsx
Labels: none

chore(calendar): primary時のcursorをpointerにする
  packages/styles/bases/calendar.css.ts
Labels: none

[#814] fix datepicker interaction test
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.stories.ts
  packages/wiz-ui/src/components/base/inputs/date-picker/date-picker.stories.ts
Labels: 🎨 story

[#893] add changeset
  .changeset/ninety-yaks-turn.md
Labels: none

[#893] fix typo
  packages/wiz-ui-next/src/components/base/navigation/container.vue
  packages/wiz-ui/src/components/base/navigation/container.vue
Labels: none

feat(full-modal-view): add props & styles
  packages/constants/component/name.ts
  packages/styles/bases/full-modal-view.css.ts
  packages/wiz-ui-next/src/components/base/full-modal-view/full-modal-view-container.vue
  packages/wiz-ui-next/src/components/base/full-modal-view/full-modal-view.vue
  packages/wiz-ui-next/src/components/base/full-modal-view/index.ts
  packages/wiz-ui-next/src/components/base/full-modal-view/provider.ts
  packages/wiz-ui/src/components/base/full-modal-view/full-modal-view-container.vue
  packages/wiz-ui/src/components/base/full-modal-view/full-modal-view.vue
  packages/wiz-ui/src/components/base/full-modal-view/index.ts
  packages/wiz-ui/src/components/base/full-modal-view/provider.ts
Labels: none

docs(full-modal-view): update
  packages/wiz-ui-next/src/components/base/full-modal-view/full-modal-view.stories.ts
  packages/wiz-ui/src/components/base/full-modal-view/full-modal-view.stories.ts
Labels: 🎨 story

feat(popup): sticky対応
  packages/wiz-ui-next/src/components/base/popup/popup.vue
  packages/wiz-ui/src/components/base/popup/popup.vue
Labels: none

docs(navigation): popup sticky
  packages/wiz-ui-next/src/components/base/navigation/container.stories.ts
  packages/wiz-ui/src/components/base/navigation/container.stories.ts
Labels: 🎨 story

chore(popup): add changeset
  .changeset/olive-pants-tease.md
Labels: none

docs(navigation): update popup-sticky story
  packages/wiz-ui/src/components/base/navigation/container.stories.ts
Labels: 🎨 story

refactor(date-picker): 不要なuseEffectを削除
  packages/wiz-ui-react/src/components/base/inputs/date-picker/components/date-picker.tsx
Labels: none

docs(date-picker): base/input/date-picker
  packages/wiz-ui-react/src/components/base/inputs/date-picker/stories/date-picker.stories.tsx
Labels: none

feat: react-router導入
  packages/wiz-ui-react/package.json
  packages/wiz-ui-react/src/components/base/navigation/components/navigation-item-link.tsx
  packages/wiz-ui-react/src/components/base/navigation/components/navigation-item.tsx
  packages/wiz-ui-react/src/components/base/navigation/stories/navigation-container.stories.tsx
  packages/wiz-ui-react/src/components/base/navigation/stories/navigation-item.stories.tsx
  pnpm-lock.yaml
Labels: ⬆️ dependencies

feat: changeset追加
  .changeset/orange-garlics-sin.md
Labels: none

fix: NavigationのExampleに余計なdivが含まれていたので削除
  examples/vue2/src/components/layout/navigation/index.vue
  examples/vue2/src/components/layout/navigation/nav-list.vue
  examples/vue3/src/components/layout/navigation/index.vue
  examples/vue3/src/components/layout/navigation/nav-list.vue
Labels: none

feat(vue3): timelineをvue3コンポーネントに移植
  packages/wiz-ui-next/src/components/custom/index.ts
  packages/wiz-ui-next/src/components/custom/timeline/index.ts
  packages/wiz-ui-next/src/components/custom/timeline/stories/timeline-item.stories.ts
  packages/wiz-ui-next/src/components/custom/timeline/stories/timeline.stories.ts
  packages/wiz-ui-next/src/components/custom/timeline/timeline-item.vue
  packages/wiz-ui-next/src/components/custom/timeline/timeline.vue
  packages/wiz-ui-next/src/components/custom/timeline/use-timeline.ts
Labels: 🎨 story

feat(react): timelineコンポーネントのreact移植
  packages/styles/customs/timeline.css.ts
  packages/wiz-ui-react/src/components/base/index.ts
  packages/wiz-ui-react/src/components/custom/timeline/components/timeline-item.tsx
  packages/wiz-ui-react/src/components/custom/timeline/components/timeline.tsx
  packages/wiz-ui-react/src/components/custom/timeline/components/use-timeline.ts
  packages/wiz-ui-react/src/components/custom/timeline/index.ts
  packages/wiz-ui-react/src/components/custom/timeline/stories/timeline-item.stories.tsx
  packages/wiz-ui-react/src/components/custom/timeline/stories/timeline.stories.tsx
Labels: none

fix: timelineのstorybook上でのtypoを修正
  packages/wiz-ui-next/src/components/custom/timeline/stories/timeline-item.stories.ts
  packages/wiz-ui-next/src/components/custom/timeline/stories/timeline.stories.ts
  packages/wiz-ui-react/src/components/custom/timeline/stories/timeline-item.stories.tsx
  packages/wiz-ui-react/src/components/custom/timeline/stories/timeline.stories.tsx
  packages/wiz-ui/src/components/custom/timeline/stories/timeline-item.stories.ts
  packages/wiz-ui/src/components/custom/timeline/stories/timeline.stories.ts
Labels: 🎨 story

fix: asでタグ指定できるように修正
  packages/wiz-ui-react/package.json
  packages/wiz-ui-react/src/components/base/navigation/components/navigation-item-link.tsx
  packages/wiz-ui-react/src/components/base/navigation/components/navigation-item.tsx
  packages/wiz-ui-react/src/components/base/navigation/stories/navigation-container.stories.tsx
  pnpm-lock.yaml
Labels: ⬆️ dependencies

fix: itemのstories
  packages/wiz-ui-react/src/components/base/navigation/stories/navigation-item.stories.tsx
Labels: none

fix: comment追加
  packages/wiz-ui-react/src/components/base/navigation/components/navigation-item.tsx
Labels: none

chore(example): chat cardの動作確認
  examples/vue3/package.json
  examples/vue3/src/components/layout/navigation/nav-list.vue
  examples/vue3/src/pages/chat.vue
  examples/vue3/src/router/index.ts
Labels: ⬆️ dependencies

chore: update changeset
  .changeset/cold-queens-hammer.md
Labels: none

refactor(date-picker): onChangeDateに名前を変更
  packages/wiz-ui-react/src/components/base/inputs/date-picker/components/date-picker.tsx
  packages/wiz-ui-react/src/components/base/inputs/date-picker/stories/date-picker.stories.tsx
Labels: none

chore(date-picker): fix typo
  packages/wiz-ui-react/src/components/base/inputs/date-picker/components/date-picker.tsx
Labels: none

refactor(date-picker): moveCalendar
  packages/wiz-ui-react/src/components/base/inputs/date-picker/components/date-picker.tsx
Labels: none

docs(date-picker): vrt差分固定
  packages/wiz-ui-react/src/components/base/inputs/date-picker/stories/date-picker.stories.tsx
Labels: none

refactor(date-picker): wrapperButtonRef
  packages/wiz-ui-react/src/components/base/inputs/date-picker/components/date-picker.tsx
Labels: none

fix: 型判定のためにreact-router入れる
  packages/wiz-ui-react/package.json
  packages/wiz-ui-react/src/components/base/navigation/components/navigation-item.tsx
  packages/wiz-ui-react/src/components/base/navigation/stories/navigation-item.stories.tsx
  pnpm-lock.yaml
Labels: ⬆️ dependencies

refactor: navigation-item
  packages/wiz-ui-react/src/components/base/navigation/components/navigation-item.tsx
Labels: none

fix: changeset
  .changeset/orange-garlics-sin.md
Labels: none

fix: pnpm version
  pnpm-lock.yaml
Labels: none

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"
