Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"

feat(date-picker): カレンダー初期値表示
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.vue
  packages/wiz-ui/src/components/base/inputs/date-picker/date-picker.vue
Labels: none

docs(date-picker): update
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.stories.ts
  packages/wiz-ui/src/components/base/inputs/date-picker/date-picker.stories.ts
Labels: 🎨 story

feat(date-range-picker): 初期値を表示に反映
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.vue
  packages/wiz-ui/src/components/base/inputs/date-range-picker/date-range-picker.vue
Labels: none

docs(date-range-picker): update
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.stories.ts
  packages/wiz-ui/src/components/base/inputs/date-range-picker/date-range-picker.stories.ts
Labels: 🎨 story

chore: add changeset
  .changeset/old-lions-serve.md
Labels: none

refactor(text): content
  packages/wiz-ui-react/src/components/base/text/components/text.tsx
Labels: none

refactor(text): 三項演算子でよみやすく
  packages/wiz-ui-react/src/components/base/text/components/text.tsx
Labels: none

refactor(text): isDummyプロパティにより、表示をぼかすか制御
  packages/wiz-ui-react/src/components/base/text/components/text.tsx
Labels: none

docs(text): update dummy value
  packages/wiz-ui-react/src/components/base/text/stories/text.stories.tsx
Labels: none

refactor(text): add document comment
  packages/wiz-ui-react/src/components/base/text/components/text.tsx
Labels: none

chore: ignore hooks lint errors on stories
  packages/wiz-ui-react/src/components/base/stack/stories/h-stack.stories.tsx
  packages/wiz-ui-react/src/components/base/stack/stories/stack.stories.tsx
  packages/wiz-ui-react/src/components/base/stack/stories/v-stack.stories.tsx
Labels: none

chore: add eslint-plugin-react-hooks
  .eslintrc.react.json
  package.json
  pnpm-lock.yaml
Labels: ⬆️ dependencies

feat(date-range-picker): カレンダーの開閉状態をmock
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.vue
  packages/wiz-ui/src/components/base/inputs/date-range-picker/date-range-picker.vue
Labels: none

docs(date-range-picker): カレンダーを開いた状態にする
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.stories.ts
  packages/wiz-ui/src/components/base/inputs/date-range-picker/date-range-picker.stories.ts
Labels: 🎨 story

fix(date-range-picker): isOpenの指定を強制
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.vue
  packages/wiz-ui/src/components/base/inputs/date-range-picker/date-range-picker.vue
Labels: none

feat(date-picker): カレンダーの開閉状態をmock
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.vue
  packages/wiz-ui/src/components/base/inputs/date-picker/date-picker.vue
Labels: none

docs(date-picker): カレンダーを開いておく
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.stories.ts
  packages/wiz-ui/src/components/base/inputs/date-picker/date-picker.stories.ts
Labels: 🎨 story

chore: update changeset
  .changeset/old-lions-serve.md
Labels: none

refactor(box): zIndex指定時の不要なキャストを削除
  packages/wiz-ui-react/src/components/base/box/components/box.tsx
Labels: none

refactor(box): 不要な&&...を削除
  packages/wiz-ui-react/src/components/base/box/components/box.tsx
Labels: none

fix(box): overflow style
  packages/wiz-ui-react/src/components/base/box/components/box.tsx
Labels: none

docs(box): add stories
  packages/wiz-ui-react/src/components/base/box/stories/box.stories.tsx
Labels: none

chore(box): add changeset
  .changeset/perfect-phones-count.md
Labels: none

fix(compare-graph): label position
  packages/styles/bases/compare-graph.css.ts
  packages/wiz-ui/src/components/base/graphs/compare/bar.vue
Labels: none

docs(compare-graph): 長いラベル
  packages/wiz-ui/src/components/base/graphs/compare/compare.stories.ts
Labels: 🎨 story

fix(date-picker): popupの回り込みロジックを無効化
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.vue
  packages/wiz-ui/src/components/base/inputs/date-picker/date-picker.vue
Labels: none

fix(date-range-picker): Popupの回り込み込みロジックを無効化
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.vue
  packages/wiz-ui/src/components/base/inputs/date-range-picker/date-range-picker.vue
Labels: none

fix(compare-graph): nextに対応
  packages/wiz-ui-next/src/components/base/graphs/compare/bar.vue
  packages/wiz-ui-next/src/components/base/graphs/compare/compare.stories.ts
Labels: 🎨 story

feat(text): isBlurred Propsでぼかすかを指定する
  packages/wiz-ui-react/src/components/base/text/components/text.tsx
Labels: none

docs(text): update
  packages/wiz-ui-react/src/components/base/text/stories/text.stories.tsx
Labels: none

docs(popup): update
  packages/wiz-ui-next/src/components/base/popup/popup.stories.ts
  packages/wiz-ui/src/components/base/popup/popup.stories.ts
Labels: 🎨 story

Revert "fix(date-range-picker): Popupの回り込み込みロジックを無効化"
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.vue
  packages/wiz-ui/src/components/base/inputs/date-range-picker/date-range-picker.vue
Labels: none

Revert "fix(date-picker): popupの回り込みロジックを無効化"
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.vue
  packages/wiz-ui/src/components/base/inputs/date-picker/date-picker.vue
Labels: none

docs(date-range-picker): vrtで回り込みロジックが走らないようにする
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.stories.ts
  packages/wiz-ui/src/components/base/inputs/date-range-picker/date-range-picker.stories.ts
Labels: 🎨 story

chore(a11y-autocomplete): add changeset
  .changeset/soft-scissors-clean.md
Labels: none

feat(popup): 親要素の中にfixedがあるときpopupをスクロールしない
  packages/wiz-ui-next/src/components/base/popup/popup.vue
  packages/wiz-ui/src/components/base/popup/popup.vue
Labels: none

docs(popup): update
  packages/wiz-ui-next/src/components/base/popup/popup.stories.ts
  packages/wiz-ui/src/components/base/popup/popup.stories.ts
Labels: 🎨 story

feat(compare-graph): isTilted Propsで傾けるか指定
  packages/wiz-ui-next/src/components/base/graphs/compare/bar.vue
  packages/wiz-ui-next/src/components/base/graphs/compare/compare.vue
  packages/wiz-ui/src/components/base/graphs/compare/bar.vue
  packages/wiz-ui/src/components/base/graphs/compare/compare.vue
Labels: none

docs(compare-graph): update
  packages/wiz-ui-next/src/components/base/graphs/compare/compare.stories.ts
  packages/wiz-ui/src/components/base/graphs/compare/compare.stories.ts
Labels: 🎨 story

refactor(text): children
  packages/wiz-ui-react/src/components/base/text/components/text.tsx
Labels: none
