Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

chore(avatar): add changeset
  .changeset/healthy-berries-lie.md
Labels: none

fix(number-input): disabled style
  packages/styles/bases/number-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/number-input/number-input.vue
  packages/wiz-ui-react/src/components/base/inputs/number-input/components/number-input.tsx
Labels: none

chore(number-input): add changeset
  .changeset/cool-tools-relax.md
Labels: none

feat(date-range-picker): mini
  packages/styles/bases/date-range-picker.css.ts
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.vue
  packages/wiz-ui-react/src/components/base/inputs/date-range-picker/components/date-range-picker.tsx
  packages/wiz-ui-react/src/components/base/inputs/date-range-picker/stories/date-range-picker.stories.tsx
Labels: 🎨 story

chore(date-range-picker): add changeset
  .changeset/thick-lamps-hope.md
Labels: none

feat(selectbox): mini
  packages/styles/bases/selectbox-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.vue
  packages/wiz-ui-react/src/components/base/inputs/selectbox/components/selectbox.tsx
  packages/wiz-ui-react/src/components/base/inputs/selectbox/stories/selectbox.stories.tsx
Labels: 🎨 story

chore(selectbox): add changeset
  .changeset/silent-numbers-invite.md
Labels: none

docs(icon): fix Issue Template
  .github/ISSUE_TEMPLATE/機能追加（アイコン）.md
Labels: 🏭 ci

chore(avatar): fix changeset
  .changeset/healthy-berries-lie.md
Labels: none

fix: move fontSizeMap to constants
  packages/constants/styles/font-size.ts
  packages/wiz-ui-next/src/components/base/avatar/avatar.vue
  packages/wiz-ui-react/src/components/base/avatar/components/avatar.tsx
Labels: none

fix(avatar): font size
  packages/wiz-ui-next/src/components/base/avatar/avatar.vue
  packages/wiz-ui-react/src/components/base/avatar/components/avatar.tsx
  packages/wiz-ui-react/src/components/base/avatar/stories/avatar.stories.tsx
Labels: none

fix(avatar): font size
  packages/constants/styles/font-size.ts
  packages/styles/bases/avatar.css.ts
  packages/wiz-ui-next/src/components/base/avatar/avatar.vue
  packages/wiz-ui-react/src/components/base/avatar/components/avatar.tsx
Labels: none

fix(avatar): font size to use styleVariants
  packages/styles/bases/avatar.css.ts
  packages/wiz-ui-next/src/components/base/avatar/avatar.vue
  packages/wiz-ui-react/src/components/base/avatar/components/avatar.tsx
Labels: none

fix: アイコンのビルドが通らない問題の解消
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-react/src/components/icons/index.ts
Labels: none

feat(timeline-item): disabled のスタイルを変更
  packages/styles/customs/timeline.css.ts
Labels: none

feat(timeline-item): inert を削除
  packages/wiz-ui-react/src/components/custom/timeline/components/timeline-item.tsx
Labels: none

chore: changeset
  .changeset/moody-rules-love.md
Labels: none

feat(timeline-item): disabled の opacity のかけ方を修正
  packages/styles/customs/timeline.css.ts
Labels: none

fix(icons): 不要な icon を削除
  packages/wiz-ui-react/src/components/icons/index.ts
Labels: none

fix(icons): 不要な icon を削除
  packages/wiz-ui-next/src/components/icons/index.ts
Labels: none

ci: バージョン更新
  .github/workflows/build-check.yml
  .github/workflows/bundle-analyze.yml
  .github/workflows/lint.yml
  .github/workflows/publish-library.yml
  .github/workflows/test.yml
  .github/workflows/visual-regression-test.yml
Labels: 🏭 ci

chore: analyzeのworkflowを止める
  .github/workflows/bundle-analyze.yml
Labels: 🏭 ci

chore: update icons
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-react/src/components/icons/index.ts
Labels: none

ci: ubuntuのバージョン変更
  .github/workflows/build-check.yml
  .github/workflows/bundle-analyze.yml
  .github/workflows/label-pr.yml
  .github/workflows/label-wip.yml
  .github/workflows/lint.yml
  .github/workflows/publish-library.yml
  .github/workflows/test.yml
  .github/workflows/visual-regression-test.yml
Labels: 🏭 ci

feat(form-control): borderLeftとborderColorプロパティを追加
  packages/styles/customs/form-control.css.ts
  packages/wiz-ui-next/src/components/custom/form/control.stories.ts
  packages/wiz-ui-next/src/components/custom/form/control.vue
  packages/wiz-ui-react/src/components/custom/form/components/form-control.tsx
  packages/wiz-ui-react/src/components/custom/form/stories/form-control.stories.tsx
Labels: 🎨 story

pnpm changeset
  .changeset/sour-flies-smoke.md
Labels: none

style(form-control): gapをxs2 からxs二変更
  packages/wiz-ui-react/src/components/custom/form/components/form-control.tsx
Labels: none

docs: labelのgapの変更に追従して、control-groupのlabelWidthを変更
  packages/wiz-ui-next/src/components/custom/form/group.stories.ts
  packages/wiz-ui-react/src/components/custom/form/stories/form-group.stories.tsx
Labels: 🎨 story

feat(form-control): 今後タグの位置を選択できるようにするために、textではなくWizHStackにborderを付与
  packages/styles/customs/form-control.css.ts
  packages/wiz-ui-next/src/components/custom/form/control.vue
  packages/wiz-ui-react/src/components/custom/form/components/form-control.tsx
Labels: none

fix(form-control): borderLeftTextStyleがborderLeftがFalseの場合も付与されたいので修正
  packages/wiz-ui-react/src/components/custom/form/components/form-control.tsx
Labels: none

feat(form-control, form-grpup): ラベルのタグの位置を指定できるようにする
  packages/wiz-ui-next/src/components/custom/form/control.stories.ts
  packages/wiz-ui-next/src/components/custom/form/control.vue
  packages/wiz-ui-next/src/components/custom/form/group.stories.ts
  packages/wiz-ui-next/src/components/custom/form/group.vue
  packages/wiz-ui-next/src/hooks/use-form-group-provider.ts
  packages/wiz-ui-react/src/components/custom/form/components/form-control.tsx
  packages/wiz-ui-react/src/components/custom/form/components/form-group-context.ts
  packages/wiz-ui-react/src/components/custom/form/components/form-group.tsx
  packages/wiz-ui-react/src/components/custom/form/stories/form-control.stories.tsx
  packages/wiz-ui-react/src/components/custom/form/stories/form-group.stories.tsx
Labels: 🎨 story

pnpm changeset
  .changeset/modern-kiwis-thank.md
Labels: none

fix(form-group): 重複する記述を削除
  packages/wiz-ui-next/src/components/custom/form/group.vue
Labels: none

docs(form-control, form-group): docsの修正とpropertyを正しく変更
  packages/wiz-ui-next/src/components/custom/form/control.stories.ts
  packages/wiz-ui-next/src/components/custom/form/group.stories.ts
  packages/wiz-ui-react/src/components/custom/form/stories/form-control.stories.tsx
  packages/wiz-ui-react/src/components/custom/form/stories/form-group.stories.tsx
Labels: 🎨 story

refactor: border幅の定数（xs, sm, md, lg）を追加
  examples/vue3/src/pages/chat/_components/chat-form.vue
  packages/constants/styles/border-width.ts
  packages/constants/styles/index.ts
  packages/styles/bases/calendar.css.ts
  packages/styles/bases/card-table.css.ts
  packages/styles/bases/checkbox-input.css.ts
  packages/styles/bases/checkbox-new.css.ts
  packages/styles/bases/compare-graph.css.ts
  packages/styles/bases/date-range-picker.css.ts
  packages/styles/bases/flat-table.css.ts
  packages/styles/bases/full-modal-view.css.ts
  packages/styles/bases/information-panel.css.ts
  packages/styles/bases/message-box.css.ts
  packages/styles/bases/number-input.css.ts
  packages/styles/bases/panel-switch-input.css.ts
  packages/styles/bases/radio-input.css.ts
  packages/styles/bases/search-input.css.ts
  packages/styles/bases/search-selector.css.ts
  packages/styles/bases/tag.css.ts
  packages/styles/bases/transition-graph.css.ts
  packages/styles/bases/unstyled-table.css.ts
  packages/styles/customs/schedule.css.ts
  packages/styles/customs/timeline.css.ts
  packages/wiz-ui-next/src/components/base/navigation/container.vue
  packages/wiz-ui-react/src/components/base/navigation/components/navigation-container.tsx
Labels: none

pnpm changeset
  .changeset/poor-points-drum.md
Labels: none

refactor(border-width): getFontWIDTHCssをgetFontWidthCssに変更
  packages/constants/styles/border-width.ts
Labels: none

changeset: wiz-uiの利用上のインターフェースに変更がないためminorからpatchに変更
  .changeset/poor-points-drum.md
Labels: none

feat(icon): call-bold, mail-bold, mic-bold, more-vert-bold, play-arrow-filled, smartphone-bold, sms-bold, stop-filled
  packages/constants/component/icon-name.ts
  packages/icons/assets/call-bold.svg
  packages/icons/assets/mail-bold.svg
  packages/icons/assets/mic-bold.svg
  packages/icons/assets/more-vert-bold.svg
  packages/icons/assets/play-arrow-filled.svg
  packages/icons/assets/smartphone-bold.svg
  packages/icons/assets/sms-bold.svg
  packages/icons/assets/stop-filled.svg
  packages/wiz-ui-next/src/components/icons/call-bold.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-next/src/components/icons/mail-bold.vue
  packages/wiz-ui-next/src/components/icons/mic-bold.vue
  packages/wiz-ui-next/src/components/icons/more-vert-bold.vue
  packages/wiz-ui-next/src/components/icons/play-arrow-filled.vue
  packages/wiz-ui-next/src/components/icons/smartphone-bold.vue
  packages/wiz-ui-next/src/components/icons/sms-bold.vue
  packages/wiz-ui-next/src/components/icons/stop-filled.vue
  packages/wiz-ui-react/src/components/icons/call-bold.tsx
  packages/wiz-ui-react/src/components/icons/index.ts
  packages/wiz-ui-react/src/components/icons/mail-bold.tsx
  packages/wiz-ui-react/src/components/icons/mic-bold.tsx
  packages/wiz-ui-react/src/components/icons/more-vert-bold.tsx
  packages/wiz-ui-react/src/components/icons/play-arrow-filled.tsx
  packages/wiz-ui-react/src/components/icons/smartphone-bold.tsx
  packages/wiz-ui-react/src/components/icons/sms-bold.tsx
  packages/wiz-ui-react/src/components/icons/stop-filled.tsx
Labels: none

chore: add changeset
  .changeset/late-seals-beam.md
Labels: none

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"
