Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"

fix(check-box): lineHeightを100%に設定
  packages/styles/bases/checkbox-input.css.ts
Labels: none

fix/progress-bar tooltip
  packages/wiz-ui-next/src/components/base/progress-bar/progress-bar.vue
  packages/wiz-ui/src/components/base/progress-bar/progress-bar.vue
Labels: none

fix/tooltipがcontentの中になくても、tooltipが表示されてしまう問題解消
  packages/wiz-ui-next/src/components/base/progress-bar/progress-bar.vue
  packages/wiz-ui/src/components/base/progress-bar/progress-bar.vue
Labels: none

fix:search-stories
  packages/wiz-ui-next/src/components/base/inputs/search/search.stories.ts
  packages/wiz-ui/src/components/base/inputs/search/search.stories.ts
Labels: 🎨 story

fix:search
  packages/wiz-ui-next/src/components/base/inputs/search/search.vue
  packages/wiz-ui/src/components/base/inputs/search/search.vue
Labels: none

feat(tiny-button): widthプロパティを追加
  packages/wiz-ui-next/src/components/base/buttons/tiny/tiny.vue
  packages/wiz-ui/src/components/base/buttons/tiny/tiny.vue
Labels: none

docs(tiny-button): storybookを更新
  packages/wiz-ui-next/src/components/base/buttons/tiny/tiny.stories.ts
  packages/wiz-ui/src/components/base/buttons/tiny/tiny.stories.ts
Labels: 🎨 story

fix: teleportを用いたpopup表示を仮で実装
  packages/styles/bases/popup.css.ts
  packages/wiz-ui-next/src/components/base/popup/popup.vue
Labels: none

fix: tiny-buttonのexportを追加
  packages/wiz-ui-next/src/components/base/buttons/index.ts
  packages/wiz-ui/src/components/base/buttons/index.ts
Labels: none

update: teleportを用いたdirection, gap, 逃げのロジックの実装
  packages/wiz-ui-next/src/components/base/popup/popup.vue
  packages/wiz-ui-next/src/components/base/popup/provider.ts
Labels: none

update: layerのパラメータを更新
  packages/wiz-ui-next/src/components/base/popup/popup.stories.ts
  packages/wiz-ui-next/src/components/base/popup/popup.vue
Labels: 🎨 story

Update: popup改修のvue2対応
  packages/styles/bases/popup.css.ts
  packages/wiz-ui/src/components/base/popup/popup.stories.ts
  packages/wiz-ui/src/components/base/popup/popup.vue
  packages/wiz-ui/src/components/base/popup/provider.ts
Labels: 🎨 story

fix: 逃げのロジックに使用する敷居をbodyからhtmlに変更
  packages/wiz-ui-next/src/components/base/popup/popup.vue
  packages/wiz-ui/src/components/base/popup/popup.vue
Labels: none

fix:search-popup
  packages/wiz-ui-next/src/components/base/inputs/search/search-popup.vue
  packages/wiz-ui/src/components/base/inputs/search/search-popup.vue
Labels: none

fix/upload-displayにmultiple属性を渡せるように
  packages/wiz-ui-next/src/components/base/inputs/upload/upload-display.vue
  packages/wiz-ui-next/src/components/base/inputs/upload/upload.vue
  packages/wiz-ui/src/components/base/inputs/upload/upload-display.vue
  packages/wiz-ui/src/components/base/inputs/upload/upload.vue
Labels: none

fix:search
  packages/wiz-ui-next/src/components/base/inputs/search/search.vue
  packages/wiz-ui/src/components/base/inputs/search/search.vue
Labels: none

fix:search-popup
  packages/wiz-ui-next/src/components/base/inputs/search/search-popup.vue
  packages/wiz-ui/src/components/base/inputs/search/search-popup.vue
Labels: none

fix:search-stories
  packages/wiz-ui-next/src/components/base/inputs/search/search.stories.ts
  packages/wiz-ui/src/components/base/inputs/search/search.stories.ts
Labels: 🎨 story

fix:search-input
  packages/styles/bases/search-input.css.ts
Labels: none

fix:search
  packages/wiz-ui-next/src/components/base/inputs/search/search.vue
  packages/wiz-ui/src/components/base/inputs/search/search.vue
Labels: none

fix:search-popup
  packages/wiz-ui-next/src/components/base/inputs/search/search-popup.vue
  packages/wiz-ui/src/components/base/inputs/search/search-popup.vue
Labels: none

fix/tool-tip-border-radius-0.5-change-0.25
  packages/styles/bases/tooltip.css.ts
Labels: none

Revert "fix/tool-tip-border-radius-0.5-change-0.25"
  packages/styles/bases/tooltip.css.ts
Labels: none

fix/tooltip-border-radius-0.5->0.25
  packages/styles/bases/tooltip.css.ts
Labels: none

feat(box): backdrop blur要素を追加
  packages/wiz-ui-next/src/components/base/box/box.vue
  packages/wiz-ui/src/components/base/box/box.vue
Labels: none

fix: patternsからvalueの削除
  packages/wiz-ui-next/src/components/base/popup/popup.stories.ts
Labels: 🎨 story

fix(tooltip): tooltipの位置を調整するため、親要素のblockをinline-blockに変えた
  packages/styles/bases/tooltip.css.ts
  packages/wiz-ui/src/components/base/tooltip/tooltip.stories.ts
Labels: 🎨 story

release(vue2/vue3): v0.6.3
  packages/wiz-ui-next/package.json
  packages/wiz-ui-next/src/index.ts
  packages/wiz-ui/package.json
  packages/wiz-ui/src/index.ts
Labels: ⬆️ dependencies

update: notificationsが空の時にメッセージを表示できるよう修正
  packages/wiz-ui-next/src/components/custom/notification/list/list.vue
  packages/wiz-ui-next/src/components/custom/notification/notification.vue
Labels: none

feat: 空のときのテンプレートを追加
  packages/wiz-ui-next/src/components/custom/notification/notification.stories.ts
Labels: 🎨 story

feat: notificationsが空の時のvue2対応
  packages/wiz-ui/src/components/custom/notification/list/list.vue
  packages/wiz-ui/src/components/custom/notification/notification.stories.ts
  packages/wiz-ui/src/components/custom/notification/notification.vue
Labels: 🎨 story

fix: defaultのメッセージを削除
  packages/wiz-ui-next/src/components/custom/notification/list/list.vue
  packages/wiz-ui/src/components/custom/notification/list/list.vue
Labels: none

Revert "docs(tiny-button): storybookを更新"
  packages/wiz-ui-next/src/components/base/buttons/tiny/tiny.stories.ts
  packages/wiz-ui/src/components/base/buttons/tiny/tiny.stories.ts
Labels: 🎨 story

Revert "feat(tiny-button): widthプロパティを追加"
  packages/wiz-ui-next/src/components/base/buttons/tiny/tiny.vue
  packages/wiz-ui/src/components/base/buttons/tiny/tiny.vue
Labels: none

feat(tiny-button): p,px,pyによる幅の指定
  packages/wiz-ui-next/src/components/base/buttons/tiny/tiny.vue
  packages/wiz-ui/src/components/base/buttons/tiny/tiny.vue
Labels: none

doc(tiny-button): storybookの更新
  packages/wiz-ui-next/src/components/base/buttons/tiny/tiny.stories.ts
  packages/wiz-ui/src/components/base/buttons/tiny/tiny.stories.ts
Labels: 🎨 story

fix: PropType<string>の削除
  packages/wiz-ui-next/src/components/custom/notification/notification.vue
  packages/wiz-ui/src/components/custom/notification/notification.vue
Labels: none

fix: 演算子変更
  packages/wiz-ui-next/src/components/base/buttons/tiny/tiny.vue
Labels: none

feat(snack-bar): マウント後一定時間経過で非表示にする
  packages/wiz-ui-next/src/components/base/snack-bar/index.ts
  packages/wiz-ui-next/src/components/base/snack-bar/snack-bar.stories.ts
  packages/wiz-ui-next/src/components/base/snack-bar/snack-bar.vue
  packages/wiz-ui/src/components/base/snack-bar/index.ts
  packages/wiz-ui/src/components/base/snack-bar/snack-bar.stories.ts
  packages/wiz-ui/src/components/base/snack-bar/snack-bar.vue
Labels: 🎨 story

fix(box): backdropFilterがpropsで指定されているか確認する
  packages/wiz-ui-next/src/components/base/box/box.vue
  packages/wiz-ui/src/components/base/box/box.vue
Labels: none
