Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

feat(icon): WizIArrowDownward, WziIArrowUpward
  packages/constants/component/icon-name.ts
  packages/icons/assets/arrow-downward.svg
  packages/icons/assets/arrow-upward.svg
  packages/wiz-ui-next/src/components/icons/arrow-downward.vue
  packages/wiz-ui-next/src/components/icons/arrow-upward.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-react/src/components/icons/arrow-downward.tsx
  packages/wiz-ui-react/src/components/icons/arrow-upward.tsx
  packages/wiz-ui-react/src/components/icons/index.ts
Labels: none

chore(icon): add changeset
  .changeset/clean-pugs-crash.md
Labels: none

fix(search-input): 単一選択モードで選択中アイテムに強調スタイルを適用しない
  packages/styles/bases/search-input.css.ts
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-popup-panel.tsx
Labels: none

feat(icon): WizIMail, WizIInboxCustomize
  packages/constants/component/icon-name.ts
  packages/icons/assets/inbox-customize.svg
  packages/icons/assets/mail.svg
  packages/wiz-ui-next/src/components/icons/inbox-customize.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-next/src/components/icons/mail.vue
  packages/wiz-ui-react/src/components/icons/inbox-customize.tsx
  packages/wiz-ui-react/src/components/icons/index.ts
  packages/wiz-ui-react/src/components/icons/mail.tsx
Labels: none

chore(icon): add changeset
  .changeset/quick-jeans-draw.md
Labels: none

ci: update pnpm/action-setup to v4
  .github/composite/prepare_node/action.yml
Labels: 🏭 ci

ci: test
  .github/workflows/test.yml
Labels: 🏭 ci

ci: test
  .github/workflows/test.yml
Labels: 🏭 ci

ci: test
  .github/workflows/test.yml
Labels: 🏭 ci

ci: test
  .github/workflows/test.yml
  .github/workflows/visual-regression-test.yml
Labels: 🏭 ci

fix(storybook): reference error
  packages/wiz-ui-react/.storybook/main.js
Labels: none

fix(storybook): reference error
  packages/wiz-ui-next/.storybook/main.js
Labels: none

chore(deps): update storybook to 7.6.19
  package.json
  pnpm-lock.yaml
Labels: ⬆️ dependencies

chore(deps): update storycap to 5.0.0
  package.json
  pnpm-lock.yaml
Labels: ⬆️ dependencies

feat(search-input): 複数選択機能
  packages/styles/bases/search-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-input.tsx
Labels: none

docs(search-input): update story
  packages/wiz-ui-react/src/components/base/inputs/search-input/stories/search-input.stories.tsx
Labels: none

fix(radio): フォントサイズが大きい問題の解消
  .changeset/beige-toys-lick.md
  packages/styles/bases/radio-new.css.ts
Labels: none

chore: window.getComputedStyleに変更
  .changeset/nasty-beers-attack.md
  packages/wiz-ui-next/src/components/base/snackbar/snackbar-controller.vue
  packages/wiz-ui-react/src/components/base/snackbar/components/snackbar-provider.tsx
Labels: none

chore: windowがない場合の対策を追加
  .changeset/two-pants-obey.md
  packages/wiz-ui-next/src/components/base/snackbar/snackbar-controller.vue
  packages/wiz-ui-react/src/components/base/snackbar/components/snackbar-provider.tsx
Labels: none

feat(icon): adjust bold
  packages/constants/component/icon-name.ts
  packages/icons/assets/adjust-bold.svg
  packages/wiz-ui-next/src/components/icons/adjust-bold.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-react/src/components/icons/adjust-bold.tsx
  packages/wiz-ui-react/src/components/icons/index.ts
Labels: none

chore(icon): add changeset
  .changeset/sour-otters-kiss.md
Labels: none

fix(search-selector): disabled 時に選択済みアイテムを解除可能な問題を修正
  packages/styles/bases/search-selector.css.ts
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
Labels: none

chore(search-selector): add changeset
  .changeset/pretty-trains-lay.md
Labels: none

feat(date-picker): clear button
  packages/styles/bases/date-picker-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.vue
  packages/wiz-ui-react/src/components/base/inputs/date-picker/components/date-picker.tsx
Labels: none

feat(date-range-picker): clear button
  packages/styles/bases/date-range-picker.css.ts
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.vue
  packages/wiz-ui-react/src/components/base/inputs/date-range-picker/components/date-range-picker.tsx
Labels: none

feat(date-range-picker, date-picker): formatDate, default width
  packages/styles/bases/date-range-picker.css.ts
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.vue
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.vue
  packages/wiz-ui-react/src/components/base/inputs/date-picker/components/date-picker.tsx
Labels: none

feat(calendar): item size
  packages/styles/bases/calendar.css.ts
  packages/wiz-ui-next/src/components/base/calendar/calendar.vue
  packages/wiz-ui-react/src/components/base/calendar/components/calendar.tsx
Labels: none

fix(search-input): 選択済みアイテムのラベルを表示
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-input.tsx
Labels: none

fix(search-input): disabled
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-input.tsx
Labels: none

chore: 不要な文字列を削除
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
Labels: none

chore(search-selector): fix import
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/search-selector.tsx
Labels: none

feat(search-selector): disabled items
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui-next/src/components/base/inputs/search-selector/types.ts
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/search-selector.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/types.ts
Labels: none

docs(search-selector): disabled items story
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.stories.ts
  packages/wiz-ui-react/src/components/base/inputs/search-selector/stories/search-selector.stories.tsx
Labels: 🎨 story

feat(search-selector): disabled item
  packages/styles/bases/selectbox-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.vue
  packages/wiz-ui-next/src/components/base/inputs/selectbox/types.ts
  packages/wiz-ui-react/src/components/base/inputs/selectbox/components/selectbox.tsx
  packages/wiz-ui-react/src/components/base/inputs/selectbox/stories/selectbox.stories.tsx
Labels: 🎨 story

fix(select-box): active style
  packages/styles/bases/selectbox-input.css.ts
Labels: none

fix(search-selector): active style
  packages/styles/bases/search-selector.css.ts
Labels: none

docs(search-input): PascalCase
  packages/wiz-ui-react/src/components/base/inputs/search-input/stories/search-input.stories.tsx
Labels: none

chore(search-input): remove unused code
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-popup-panel.tsx
Labels: none

fix(search-input): disabled時は解除不可
  packages/styles/bases/search-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-input.tsx
Labels: none

fix(search-input): 不要なpadding-rightを削除
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-input.tsx
Labels: none

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"
