Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"

docs(search-selector): update addable story
  packages/wiz-ui-react/src/components/base/inputs/search-selector/stories/search-selector.stories.tsx
Labels: none

chore(search-selector): update disabled style
  packages/styles/bases/search-selector.css.ts
Labels: none

chore(search-input): update disabled style
  packages/styles/bases/search-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-input.tsx
Labels: none

chore(selectbox): update disabled style
  packages/styles/bases/selectbox-input.css.ts
Labels: none

fix(search-input): icon color
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-input.tsx
Labels: none

chore(date-picker): update disabled style
  packages/styles/bases/date-picker-input.css.ts
Labels: none

chore(date-range-picker): update disabled style
  packages/styles/bases/date-range-picker.css.ts
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.vue
  packages/wiz-ui-react/src/components/base/inputs/date-range-picker/components/date-range-picker.tsx
Labels: none

chore(time-picker): update disabled style
  packages/styles/bases/time-picker-input.css.ts
  packages/wiz-ui-react/src/components/base/inputs/time-picker/components/time-picker.tsx
Labels: none

fix(search-input, vue): filter
  packages/wiz-ui-next/src/components/base/inputs/search-selector/levenshtein-distance.ts
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
Labels: none

chore(search-selector): add changeset
  .changeset/silly-walls-shave.md
Labels: none

docs(search-selector): update stories
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.stories.ts
Labels: 🎨 story

docs(date-range-picker, vue): v-bind args
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.stories.ts
Labels: 🎨 story

docs(search-input): add disabled-with-values story
  packages/wiz-ui-next/src/components/base/inputs/search-input/stories/search-input.stories.ts
  packages/wiz-ui-react/src/components/base/inputs/search-input/stories/search-input.stories.tsx
Labels: 🎨 story

docs(search-selector): add disabled-with-values story
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.stories.ts
  packages/wiz-ui-react/src/components/base/inputs/search-selector/stories/search-selector.stories.tsx
Labels: 🎨 story

chore(text-area): disabled style
  packages/styles/bases/text-area.css.ts
  packages/wiz-ui-next/src/components/base/textarea/text-area.vue
  packages/wiz-ui-react/src/components/base/text-area/components/text-area.tsx
Labels: none

fix(search-input): icon
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-input.vue
Labels: none

feat(anchor): href optional
  packages/wiz-ui-react/src/components/base/anchor/components/anchor.tsx
  packages/wiz-ui-react/src/components/base/anchor/stories/anchor.stories.tsx
Labels: none

chore(anchor): add changeset
  .changeset/thirty-taxis-search.md
Labels: none

feat(search-input): ラベルの位置を揃える
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-popup.vue
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-popup-panel.tsx
Labels: none

chore(search-input): add changeset
  .changeset/sixty-rocks-sin.md
Labels: none

feat(notification-panel): table-info layout
  packages/wiz-ui-next/src/components/custom/notification/panel/panel.vue
  packages/wiz-ui-react/src/components/custom/notification/components/notification-panel.tsx
Labels: none

chore(notification-panel): add changeset
  .changeset/thirty-falcons-perform.md
Labels: none

chore: react example
  examples/react/package.json
  examples/react/src/App.css
  examples/react/src/App.tsx
  examples/react/src/components/layout/navigation/index.tsx
  examples/react/src/index.css
  examples/react/src/main.tsx
  examples/react/src/routes/index.tsx
  pnpm-lock.yaml
Labels: ⬆️ dependencies

fix(password-input): hide default eye icon
  packages/styles/bases/base-input.css.ts
Labels: none

fix(password-input): cursor not-allowed
  packages/styles/bases/password-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/password/password.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/password/password.vue
  packages/wiz-ui-react/src/components/base/inputs/password/components/password-input.tsx
Labels: 🎨 story

chore: add changeset
  .changeset/friendly-poets-enjoy.md
Labels: none

fix(password-input): hide password when disabled
  packages/wiz-ui-next/src/components/base/inputs/password/password.vue
  packages/wiz-ui-react/src/components/base/inputs/password/components/password-input.tsx
Labels: none

chore(deps): update vue3
  package.json
  packages/wiz-ui-next/package.json
  pnpm-lock.yaml
Labels: ⬆️ dependencies

feat(popup-button-group): generics
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.stories.ts
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui-next/src/components/base/popup-button-group/types.ts
Labels: 🎨 story

feat(navigation): generics
  packages/wiz-ui-next/src/components/base/navigation/container.stories.ts
  packages/wiz-ui-next/src/components/base/navigation/item.vue
Labels: 🎨 story

feat(selectbox): generics
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.vue
  packages/wiz-ui-next/src/components/base/inputs/selectbox/types.ts
Labels: 🎨 story

feat(chat-card): generics
  examples/vue3/package.json
  examples/vue3/src/pages/chat/_components/chat-form.vue
  packages/wiz-ui-next/src/components/custom/chat/card/chat-card.stories.ts
  packages/wiz-ui-next/src/components/custom/chat/card/chat-card.vue
  packages/wiz-ui-next/src/components/custom/form/group.stories.ts
Labels: 🎨 story, ⬆️ dependencies

feat(search-selector): generics
  packages/wiz-ui-next/src/components/base/inputs/search-selector/levenshtein-distance.ts
  packages/wiz-ui-next/src/components/base/inputs/search-selector/popup-button-group/popup-button-group.vue
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui-next/src/components/base/inputs/search-selector/types.ts
Labels: 🎨 story

chore(deps): lockfile
  pnpm-lock.yaml
Labels: none

feat(search-input): generics
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-popup.vue
  packages/wiz-ui-next/src/components/base/inputs/search-input/stories/options.ts
  packages/wiz-ui-next/src/components/base/inputs/search-input/types.ts
Labels: none

fix(dialog): unmount時にスクロール固定のスタイル等を解除する
  packages/wiz-ui-next/src/components/base/dialog/dialog.vue
Labels: none

chore(dialog): add changeset
  .changeset/early-files-vanish.md
Labels: none

feat(anchor): add onClick
  packages/wiz-ui-react/src/components/base/anchor/components/anchor.tsx
Labels: none

chore(anchor): add changeset
  .changeset/metal-lamps-know.md
Labels: none

feat(icon): link-off アイコンの追加, close #1356
  .changeset/rare-teachers-poke.md
  packages/constants/component/icon-name.ts
  packages/icons/assets/link-off.svg
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-next/src/components/icons/link-off.vue
  packages/wiz-ui-react/src/components/icons/index.ts
  packages/wiz-ui-react/src/components/icons/link-off.tsx
Labels: none
