Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"

fix: BaseHeaderにNavToggleButtonを設置
  packages/wiz-ui/src/components/base/header/header.stories.ts
  packages/wiz-ui/src/components/base/header/header.vue
Labels: 🎨 story

feat: ExampleAppにlayout実装を集約
  examples/vue2/src/App.vue
  examples/vue2/src/components/header/avatar-dropdown.vue
  examples/vue2/src/components/header/index.vue
  examples/vue2/src/components/header/notification-dropdown.vue
  examples/vue2/src/components/header/title-logo.vue
  examples/vue2/src/components/navigation/footer-info.vue
  examples/vue2/src/components/navigation/index.vue
  examples/vue2/src/components/navigation/nav-list.vue
  examples/vue2/src/main.ts
  examples/vue2/src/styles/global.css
Labels: none

fix: headerとnavigationをlayout層へ移植
  examples/vue2/src/App.vue
  examples/vue2/src/components/layout/header/avatar-dropdown.vue
  examples/vue2/src/components/layout/header/index.vue
  examples/vue2/src/components/layout/header/notification-dropdown.vue
  examples/vue2/src/components/layout/header/title-logo.vue
  examples/vue2/src/components/layout/navigation/footer-info.vue
  examples/vue2/src/components/layout/navigation/index.vue
  examples/vue2/src/components/layout/navigation/nav-list.vue
Labels: none

fix: anchorにnowrap設定を追加
  examples/vue2/src/components/layout/navigation/footer-info.vue
  packages/wiz-ui/src/components/base/anchor/anchor.vue
Labels: none

chore: Custom Headerの削除
  packages/wiz-ui/src/components/custom/header/header.stories.ts
  packages/wiz-ui/src/components/custom/header/header.vue
  packages/wiz-ui/src/components/custom/header/index.ts
  packages/wiz-ui/src/components/custom/header/types.ts
  packages/wiz-ui/src/components/custom/index.ts
Labels: 🎨 story

feat: Notification Typesの共通化
  examples/vue2/src/components/layout/header/notification-dropdown.vue
  packages/wiz-ui/src/components/custom/notification/list/list.vue
  packages/wiz-ui/src/components/custom/notification/notification.vue
  packages/wiz-ui/src/components/custom/notification/panel/panel.vue
  packages/wiz-ui/src/components/custom/notification/panel/types.ts
  packages/wiz-ui/src/components/custom/notification/types.ts
Labels: none

fix: bundle時の@aliasが変な設定のされ方をしていたので修正
  packages/wiz-ui/vite.config.ts
Labels: none

fix: build scriptを並列実行させて高速化
  package.json
  packages/wiz-ui/package.json
Labels: ⬆️ dependencies

release: v0.2.0
  packages/wiz-ui/package.json
  packages/wiz-ui/src/index.ts
Labels: ⬆️ dependencies

feat: add bundle
  packages/wiz-ui/src/components/base/index.ts
Labels: none

Update issue templates
  .github/ISSUE_TEMPLATE/バグレポート.md
  .github/ISSUE_TEMPLATE/機能追加.md
Labels: 🏭 ci

release: v0.2.1
  packages/wiz-ui/package.json
  packages/wiz-ui/src/index.ts
Labels: ⬆️ dependencies

feat: create-vue-press
  docs/.npmignore
  docs/package.json
  docs/src/.vuepress/components/Foo/Bar.vue
  docs/src/.vuepress/components/OtherComponent.vue
  docs/src/.vuepress/components/demo-component.vue
  docs/src/.vuepress/config.js
  docs/src/.vuepress/enhanceApp.js
  docs/src/.vuepress/styles/index.styl
  docs/src/.vuepress/styles/palette.styl
  docs/src/config/README.md
  docs/src/guide/CONTRIBUTING.md
  docs/src/guide/README.md
  docs/src/guide/develop.md
  docs/src/guide/setup.md
  docs/src/guide/structure.md
  docs/src/guide/using-vue.md
  docs/src/index.md
Labels: 📝 docs, ⬆️ dependencies

feat: add vue-press to workspace
  package-lock.json
  package.json
Labels: ⬆️ dependencies

docs: 例としてdocsを記述
  docs/src/.vuepress/config.ts
  docs/src/.vuepress/config/sidebar.ts
  docs/src/.vuepress/enhanceApp.ts
  docs/src/component/base/button.md
  docs/src/component/custom/a.md
  docs/src/component/index.md
  docs/src/config/README.md
  docs/src/guide/README.md
  docs/src/guide/contributing.md
  docs/src/guide/develop.md
  docs/src/guide/index.md
  docs/src/guide/setup.md
  docs/src/guide/structure.md
  docs/src/guide/using-vue.md
  docs/src/index.md
Labels: 📝 docs

chore: いらないものを削除
  docs/src/.vuepress/components/Foo/Bar.vue
  docs/src/.vuepress/components/OtherComponent.vue
  docs/src/.vuepress/components/demo-component.vue
Labels: none

fix: pascal case
  examples/vue2/src/App.vue
Labels: none

feat: vuepress-plugin-wiz-ui
  packages/vuepress-plugin-wiz-ui/package.json
  packages/vuepress-plugin-wiz-ui/src/enhanceAppFiles.js
  packages/vuepress-plugin-wiz-ui/src/index.js
  packages/vuepress-plugin-wiz-ui/src/mdPlugin.js
  packages/vuepress-plugin-wiz-ui/src/util.js
Labels: ⬆️ dependencies

[#105] setup calendar components
  packages/wiz-ui/src/components/base/calendar/calendar.stories.ts
  packages/wiz-ui/src/components/base/calendar/calendar.vue
  packages/wiz-ui/src/components/base/calendar/index.ts
Labels: 🎨 story

[#105] add hover and active actions and fix props and variant names
  packages/wiz-ui/src/components/base/calendar/calendar.stories.ts
  packages/wiz-ui/src/components/base/calendar/calendar.vue
Labels: 🎨 story

docs: サンプルの構築
  .eslintrc.json
  docs/package.json
  docs/src/.vuepress/components/dialog/default.vue
  docs/src/.vuepress/config.ts
  docs/src/.vuepress/enhanceApp.ts
  docs/src/component/base/button.md
  docs/src/component/base/dialog.md
  docs/src/component/base/message-box.md
  docs/src/component/base/text-button.md
  package-lock.json
  package.json
  packages/wiz-ui/src/components/base/dialog/dialog.vue
  packages/wiz-ui/src/components/base/message-box/message-box.vue
  packages/wiz-ui/src/constants/component/index.ts
  packages/wiz-ui/src/constants/component/name.ts
  packages/wiz-ui/src/constants/index.ts
  packages/wiz-ui/src/index.ts
Labels: 📝 docs, ⬆️ dependencies

fix: npm test scriptを修正
  package.json
Labels: ⬆️ dependencies

feat: exportし忘れていたflatを追加
  packages/wiz-ui/src/components/base/tables/index.ts
Labels: none

ci: vue warning回避用にdefineOptionsを強制するCIを作成
  .github/workflows/define-component-name.yml
Labels: 🏭 ci

ci(debug): packages pathの確認
  .github/workflows/define-component-name.yml
Labels: 🏭 ci

ci: grepが動かなかったのでci削除
  .github/workflows/define-component-name.yml
Labels: 🏭 ci

feat: base inputにcomponent nameを付与
  packages/wiz-ui/src/components/base/inputs/base/base.vue
  packages/wiz-ui/src/constants/component/name.ts
Labels: none

feat: Icon Componentにdefine name optionを付与
  packages/wiz-ui/src/components/icons/add.vue
  packages/wiz-ui/src/components/icons/arrow-right.vue
  packages/wiz-ui/src/components/icons/assignment-add.vue
  packages/wiz-ui/src/components/icons/assignment.vue
  packages/wiz-ui/src/components/icons/business-center.vue
  packages/wiz-ui/src/components/icons/chat.vue
  packages/wiz-ui/src/components/icons/chevron-right.vue
  packages/wiz-ui/src/components/icons/close.vue
  packages/wiz-ui/src/components/icons/dashboard.vue
  packages/wiz-ui/src/components/icons/expand-less.vue
  packages/wiz-ui/src/components/icons/expand-more.vue
  packages/wiz-ui/src/components/icons/eye.vue
  packages/wiz-ui/src/components/icons/groups.vue
  packages/wiz-ui/src/components/icons/help.vue
  packages/wiz-ui/src/components/icons/hint.vue
  packages/wiz-ui/src/components/icons/manage-accounts.vue
  packages/wiz-ui/src/components/icons/menu.vue
  packages/wiz-ui/src/components/icons/monitoring.vue
  packages/wiz-ui/src/components/icons/notification.vue
  packages/wiz-ui/src/components/icons/open-in-new.vue
  packages/wiz-ui/src/components/icons/remove.vue
  packages/wiz-ui/src/components/icons/schedule.vue
  packages/wiz-ui/src/components/icons/send.vue
  packages/wiz-ui/src/components/icons/tab.vue
  packages/wiz-ui/src/constants/component/name.ts
Labels: none

release: v0.2.2
  packages/wiz-ui/package.json
  packages/wiz-ui/src/index.ts
Labels: ⬆️ dependencies

Update README.md
  README.md
Labels: none

feat: Icon TypeをTIconへ変更
  packages/wiz-ui/src/components/base/anchor/anchor.vue
  packages/wiz-ui/src/components/base/buttons/icon/icon.vue
  packages/wiz-ui/src/components/base/buttons/toggle/toggle.vue
  packages/wiz-ui/src/components/base/dropdown/dropdown-item.vue
  packages/wiz-ui/src/components/base/icon/icon.vue
  packages/wiz-ui/src/components/base/message-box/message-box.vue
  packages/wiz-ui/src/components/base/navigation/item.vue
  packages/wiz-ui/src/components/base/tag/tag.vue
  packages/wiz-ui/src/components/icons/index.ts
Labels: none

ci: build checkをmainにmergeする直前にかかるように
  .github/workflows/build-check.yml
Labels: 🏭 ci

fix: selectboxにexpandを追加
  packages/wiz-ui/src/components/base/inputs/selectbox/selectbox.stories.ts
  packages/wiz-ui/src/components/base/inputs/selectbox/selectbox.vue
  packages/wiz-ui/src/components/base/popup/popup-container.vue
Labels: 🎨 story

feat: edit iconを追加
  packages/wiz-ui/src/components/icons/edit-note.vue
  packages/wiz-ui/src/components/icons/index.ts
  packages/wiz-ui/src/constants/component/name.ts
Labels: none

feat: link色のicon button variant を作成
  packages/wiz-ui/src/components/base/buttons/icon/icon.stories.ts
  packages/wiz-ui/src/components/base/buttons/icon/icon.vue
Labels: 🎨 story

fix: text inputのexpandが正しく動作するように修正
  packages/wiz-ui/src/components/base/inputs/base/base.vue
  packages/wiz-ui/src/components/base/inputs/password/password.vue
  packages/wiz-ui/src/components/base/inputs/text/text.vue
Labels: none

ci: fix ci name
  .github/workflows/build-check.yml
Labels: 🏭 ci

feat: fontSizeの拡張
  packages/wiz-ui/src/constants/styles/font-size.stories.ts
  packages/wiz-ui/src/constants/styles/font-size.ts
Labels: 🎨 story

feat: Unstyled Tableを整備
  packages/wiz-ui/src/components/base/tables/index.ts
  packages/wiz-ui/src/components/base/tables/unstyled/index.ts
  packages/wiz-ui/src/components/base/tables/unstyled/table.stories.ts
  packages/wiz-ui/src/components/base/tables/unstyled/table.vue
  packages/wiz-ui/src/components/base/tables/unstyled/tbody.vue
  packages/wiz-ui/src/components/base/tables/unstyled/td.vue
  packages/wiz-ui/src/components/base/tables/unstyled/th.vue
  packages/wiz-ui/src/components/base/tables/unstyled/thead.vue
  packages/wiz-ui/src/components/base/tables/unstyled/tr.vue
  packages/wiz-ui/src/components/base/text/text.vue
  packages/wiz-ui/src/constants/component/name.ts
Labels: 🎨 story

ci: publish checkerを制作
  .github/workflows/build-check.yml
  .github/workflows/publish-check.yml
  .github/workflows/test.yml
Labels: 🏭 ci
