Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

docs: storyにfill追加
  packages/wiz-ui-react/src/components/base/tag/stories/tag.stories.tsx
Labels: none

chore: issue templateの更新
  .github/ISSUE_TEMPLATE/機能追加.md
Labels: 🏭 ci

feat(search-input): select all children
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-popup.vue
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-popup-panel.tsx
Labels: none

fix(search-input): lineHeight
  packages/styles/bases/search-input.css.ts
Labels: none

fix(search-input): checkbox padding-left
  packages/styles/bases/search-input.css.ts
Labels: none

fix(search-input): checkbox-label gap
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-popup-panel.tsx
Labels: none

feat(message-box): スタイルの変更と short の追加
  packages/styles/bases/message-box.css.ts
  packages/wiz-ui-next/src/components/base/message-box/message-box.vue
Labels: none

feat(message-box): スタイルの変更と short の追加
  packages/wiz-ui-react/src/components/base/message-box/components/message-box.tsx
Labels: none

feat(message-box): story-book に short を追加
  packages/wiz-ui-next/src/components/base/message-box/message-box.stories.ts
  packages/wiz-ui-react/src/components/base/message-box/stories/message-box.stories.tsx
Labels: 🎨 story

chore: changeset
  .changeset/busy-hoops-juggle.md
Labels: none

fix(message-box): short の場合でも body を表示するように
  packages/wiz-ui-next/src/components/base/message-box/message-box.vue
  packages/wiz-ui-react/src/components/base/message-box/components/message-box.tsx
Labels: none

fix: バージョニング修正
  .changeset/busy-hoops-juggle.md
Labels: none

fix: stories のひょうじを統一
  packages/wiz-ui-react/src/components/base/message-box/stories/message-box.stories.tsx
Labels: none

fix(wiz-ui-next): アイコンの色が変わるよう修正
  packages/wiz-ui-next/src/components/base/menu/menu-item.vue
Labels: none

fix(wiz-ui-next): menu-item に tag をつけられるように
  packages/wiz-ui-next/src/components/base/menu/menu-item.vue
  packages/wiz-ui-next/src/components/base/tag/tag.vue
  packages/wiz-ui-next/src/components/base/tag/types.ts
Labels: none

fix(menu-item): タグのスタイルを修正
  packages/styles/bases/menu.css.ts
  packages/wiz-ui-next/src/components/base/menu/menu-item.vue
Labels: none

feat(menu-item): storybook 追加
  packages/wiz-ui-next/src/components/base/menu/menu-item.stories.ts
Labels: 🎨 story

feat(wiz-tag): tanVariant を types に移す
  packages/wiz-ui-react/src/components/base/tag/components/tag.tsx
  packages/wiz-ui-react/src/components/base/tag/types/index.ts
  packages/wiz-ui-react/src/components/base/tag/types/variant.ts
Labels: none

feat(menu-item): tag を追加
  packages/wiz-ui-react/src/components/base/menu/components/menu-item.tsx
  packages/wiz-ui-react/src/components/base/menu/stories/menu-item.stories.tsx
Labels: none

chore: changeset
  .changeset/bumpy-melons-itch.md
Labels: none

fix(menu-item): selected プロパティの追加
  packages/wiz-ui-react/src/components/base/menu/components/menu-item.tsx
  packages/wiz-ui-react/src/components/base/menu/stories/menu-item.stories.tsx
Labels: none

feat(icons): add WizIErrorBold, WizIMergeTypeBold
  .changeset/rare-pans-feel.md
  packages/constants/component/icon-name.ts
  packages/icons/assets/error-bold.svg
  packages/icons/assets/merge-type-bold.svg
  packages/wiz-ui-next/src/components/icons/error-bold.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-next/src/components/icons/merge-type-bold.vue
  packages/wiz-ui-react/src/components/icons/error-bold.tsx
  packages/wiz-ui-react/src/components/icons/index.ts
  packages/wiz-ui-react/src/components/icons/merge-type-bold.tsx
Labels: none

feat(date-picker): ポップアップにユニークなIDを付与
  .changeset/gentle-houses-kick.md
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.vue
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.vue
  packages/wiz-ui-react/src/components/base/inputs/date-picker/components/date-picker.tsx
  packages/wiz-ui-react/src/components/base/inputs/date-range-picker/components/date-range-picker.tsx
Labels: none

feat(icons): add WizIRecordVoiceOverBold
  .changeset/spicy-cloths-check.md
  packages/constants/component/icon-name.ts
  packages/icons/assets/record-voice-over-bold.svg
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-next/src/components/icons/record-voice-over-bold.vue
  packages/wiz-ui-react/src/components/icons/index.ts
  packages/wiz-ui-react/src/components/icons/record-voice-over-bold.tsx
Labels: none

feat: wiz-cardにhexpandプロパティを追加
  packages/styles/bases/card.css.ts
  packages/wiz-ui-next/src/components/base/card/card.vue
  packages/wiz-ui-react/src/components/base/card/components/card.tsx
Labels: none

chore: pnpm changeset
  .changeset/fluffy-ravens-switch.md
Labels: none

feat: lineコンポーネントのsizeと色を変更できるようにする
  .changeset/hip-masks-flash.md
  packages/styles/bases/line-graph.css.ts
  packages/wiz-ui-next/src/components/base/graphs/line/line.stories.ts
  packages/wiz-ui-next/src/components/base/graphs/line/line.vue
  packages/wiz-ui-react/src/components/base/graphs/line/components/line-graph.tsx
  packages/wiz-ui-react/src/components/base/graphs/line/stories/line-graph.stories.tsx
Labels: 🎨 story

fix: サイズmdの際のlineのborderRadiusを調整
  packages/styles/bases/line-graph.css.ts
Labels: none

chore: pnpm changeset
  .changeset/long-stars-wear.md
Labels: none

Feat(icon): WizIMicFilledを追加
  .changeset/brown-seals-cheer.md
  packages/constants/component/icon-name.ts
  packages/icons/assets/mic-filled.svg
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-next/src/components/icons/mic-filled.vue
  packages/wiz-ui-react/src/components/icons/index.ts
  packages/wiz-ui-react/src/components/icons/mic-filled.tsx
Labels: none

fix childrenが存在する、なおかつ空配列の場合はdisabledに変更する
  .changeset/social-clubs-act.md
  packages/styles/bases/search-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-popup.vue
  packages/wiz-ui-next/src/components/base/inputs/search-input/stories/options.ts
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-popup-panel.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-input/stories/dummy-data.ts
Labels: none

Feat(icon): 新アイコンを12個追加
  .changeset/floppy-pandas-slide.md
  packages/constants/component/icon-name.ts
  packages/icons/assets/article-bold.svg
  packages/icons/assets/folder-bold.svg
  packages/icons/assets/folder-filled.svg
  packages/icons/assets/folder-shared-filled.svg
  packages/icons/assets/group-bold.svg
  packages/icons/assets/imagesmode-bold.svg
  packages/icons/assets/jamboard-kiosk-bold.svg
  packages/icons/assets/person-add-bold.svg
  packages/icons/assets/picture-as-pdf-bold.svg
  packages/icons/assets/star-bold.svg
  packages/icons/assets/video-camera-back-bold.svg
  packages/icons/assets/view-module-bold.svg
  packages/wiz-ui-next/src/components/icons/article-bold.vue
  packages/wiz-ui-next/src/components/icons/folder-bold.vue
  packages/wiz-ui-next/src/components/icons/folder-filled.vue
  packages/wiz-ui-next/src/components/icons/folder-shared-filled.vue
  packages/wiz-ui-next/src/components/icons/group-bold.vue
  packages/wiz-ui-next/src/components/icons/imagesmode-bold.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-next/src/components/icons/jamboard-kiosk-bold.vue
  packages/wiz-ui-next/src/components/icons/person-add-bold.vue
  packages/wiz-ui-next/src/components/icons/picture-as-pdf-bold.vue
  packages/wiz-ui-next/src/components/icons/star-bold.vue
  packages/wiz-ui-next/src/components/icons/video-camera-back-bold.vue
  packages/wiz-ui-next/src/components/icons/view-module-bold.vue
  packages/wiz-ui-react/src/components/icons/article-bold.tsx
  packages/wiz-ui-react/src/components/icons/folder-bold.tsx
  packages/wiz-ui-react/src/components/icons/folder-filled.tsx
  packages/wiz-ui-react/src/components/icons/folder-shared-filled.tsx
  packages/wiz-ui-react/src/components/icons/group-bold.tsx
  packages/wiz-ui-react/src/components/icons/imagesmode-bold.tsx
  packages/wiz-ui-react/src/components/icons/index.ts
  packages/wiz-ui-react/src/components/icons/jamboard-kiosk-bold.tsx
  packages/wiz-ui-react/src/components/icons/person-add-bold.tsx
  packages/wiz-ui-react/src/components/icons/picture-as-pdf-bold.tsx
  packages/wiz-ui-react/src/components/icons/star-bold.tsx
  packages/wiz-ui-react/src/components/icons/video-camera-back-bold.tsx
  packages/wiz-ui-react/src/components/icons/view-module-bold.tsx
Labels: none

Feat(icon): WizIFolderSharedBold
  .changeset/tired-kids-march.md
  packages/constants/component/icon-name.ts
  packages/icons/assets/folder-shared-bold.svg
  packages/wiz-ui-next/src/components/icons/folder-shared-bold.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-react/src/components/icons/folder-shared-bold.tsx
  packages/wiz-ui-react/src/components/icons/index.ts
Labels: none

Feat(icon): WizIPictureAsPdfFilled
  .changeset/busy-rings-hide.md
  packages/constants/component/icon-name.ts
  packages/icons/assets/picture-as-pdf-filled.svg
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-next/src/components/icons/picture-as-pdf-filled.vue
  packages/wiz-ui-react/src/components/icons/index.ts
  packages/wiz-ui-react/src/components/icons/picture-as-pdf-filled.tsx
Labels: none

Feat(icon): WizIDownloadBold
  .changeset/pretty-carrots-vanish.md
  packages/constants/component/icon-name.ts
  packages/icons/assets/download-bold.svg
  packages/wiz-ui-next/src/components/icons/download-bold.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-react/src/components/icons/download-bold.tsx
  packages/wiz-ui-react/src/components/icons/index.ts
Labels: none

fix(search-selector): levenshteinから部分一致にロジックを変更する
  .changeset/fast-moments-write.md
  packages/wiz-ui-next/src/components/base/inputs/search-selector/levenshtein-distance.ts
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/search-selector-helper.ts
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/search-selector.tsx
Labels: none

feat(menu-item): activeなアイテムのテキストを太文字に
  packages/styles/bases/menu.css.ts
Labels: none

feat(menu-item): transparentオプション追加
  packages/styles/bases/menu.css.ts
  packages/wiz-ui-next/src/components/base/menu/menu-item.stories.ts
  packages/wiz-ui-next/src/components/base/menu/menu-item.vue
Labels: 🎨 story

feat(menu-item): iconオプション追加
  packages/wiz-ui-next/src/components/base/menu/menu-item.stories.ts
  packages/wiz-ui-next/src/components/base/menu/menu-item.vue
Labels: 🎨 story

feat(menu-item): chevron非表示可能にする対応
  packages/wiz-ui-next/src/components/base/menu/menu-item.stories.ts
  packages/wiz-ui-next/src/components/base/menu/menu-item.vue
Labels: 🎨 story

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"
