Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"

fix: selectboxのexpand挙動のバグ修正
  packages/wiz-ui/src/components/base/inputs/selectbox/selectbox.vue
Labels: none

release: v0.2.3
  packages/wiz-ui/package.json
  packages/wiz-ui/src/index.ts
Labels: ⬆️ dependencies

feat: MoreVertIconの追加
  packages/wiz-ui/src/components/icons/index.ts
  packages/wiz-ui/src/components/icons/more-vert.vue
  packages/wiz-ui/src/constants/component/name.ts
Labels: none

feat: selectboxのoverflowを設定
  packages/wiz-ui/src/components/base/inputs/selectbox/selectbox.stories.ts
  packages/wiz-ui/src/components/base/inputs/selectbox/selectbox.vue
Labels: 🎨 story

[#105] add click and select actions in calendar
  packages/wiz-ui/src/components/base/calendar/calendar.stories.ts
  packages/wiz-ui/src/components/base/calendar/calendar.vue
Labels: 🎨 story

[#105] add index
  packages/wiz-ui/src/components/base/calendar/calendar.stories.ts
  packages/wiz-ui/src/components/base/index.ts
  packages/wiz-ui/src/components/base/inputs/index.ts
Labels: 🎨 story

fix: spacing のXY が逆になってたので修正
  packages/wiz-ui/src/utils/styles/spacing.ts
Labels: none

feat: module requireが失敗することを想定
  packages/vuepress-plugin-wiz-ui/src/index.js
Labels: none

feat: wiz-textにdummy value optionを追加
  packages/wiz-ui/src/components/base/text/text.stories.ts
  packages/wiz-ui/src/components/base/text/text.vue
Labels: 🎨 story

fix:wiz-radioの修正
  packages/wiz-ui/src/components/base/inputs/radio/index.ts
  packages/wiz-ui/src/components/base/inputs/radio/radio.stories.ts
  packages/wiz-ui/src/components/base/inputs/radio/radio.vue
Labels: 🎨 story

feat: vue3切り出しのため、stylesとconstantsをパッケージ化
  package-lock.json
  packages/constants/package.json
  packages/styles/package.json
  packages/wiz-ui/package.json
Labels: ⬆️ dependencies

feat: constantsのpackage移動
  packages/constants/component/index.ts
  packages/constants/component/name.ts
  packages/constants/index.ts
  packages/constants/styles/breakpoint.ts
  packages/constants/styles/color.ts
  packages/constants/styles/font-size.ts
  packages/constants/styles/index.ts
  packages/constants/styles/shadow.ts
  packages/constants/styles/share.ts
  packages/constants/styles/spacing.ts
  packages/constants/styles/white-space.ts
  packages/constants/styles/z-index.ts
Labels: none

chore: constants移動に伴うimport修正
  package-lock.json
  packages/wiz-ui/package.json
  packages/wiz-ui/src/components/manager/color.stories.ts
  packages/wiz-ui/src/components/manager/font-size.stories.ts
Labels: 🎨 story, ⬆️ dependencies

feat: wiz-uiのpackages aliasを追加
  packages/wiz-ui/tsconfig.json
Labels: none

refactor: いらないグローバルdな型宣言を削除
  packages/wiz-ui/src/types/components.d.ts
Labels: none

refactor: リンクインポートの削除
  package-lock.json
  packages/wiz-ui/package.json
  packages/wiz-ui/src/index.ts
Labels: ⬆️ dependencies

feat: constantsにstyle要素を集約
  packages/constants/styles/breakpoint.ts
  packages/constants/styles/color.ts
  packages/constants/styles/font-size.ts
  packages/constants/styles/shadow.ts
  packages/constants/styles/spacing.ts
  packages/constants/styles/white-space.ts
  packages/constants/styles/z-index.ts
  packages/constants/types/object.ts
Labels: none

feat: stylesにpackage aliasを追加
  packages/styles/tsconfig.json
Labels: none

refactor: constants/stylesからget系を取得するように修正
  packages/constants/styles/spacing.ts
  packages/styles/index.ts
  packages/wiz-ui/src/components/base/anchor/anchor.vue
  packages/wiz-ui/src/components/base/avatar/avatar.vue
  packages/wiz-ui/src/components/base/box/box.vue
  packages/wiz-ui/src/components/base/card/card.vue
  packages/wiz-ui/src/components/base/divider/divider.vue
  packages/wiz-ui/src/components/base/dropdown/dropdown.vue
  packages/wiz-ui/src/components/base/header/header.vue
  packages/wiz-ui/src/components/base/heading/heading.vue
  packages/wiz-ui/src/components/base/icon/icon.vue
  packages/wiz-ui/src/components/base/message-box/message-box.vue
  packages/wiz-ui/src/components/base/popup/popup.vue
  packages/wiz-ui/src/components/base/stack/h-stack.vue
  packages/wiz-ui/src/components/base/stack/stack.vue
  packages/wiz-ui/src/components/base/stack/v-stack.vue
  packages/wiz-ui/src/components/base/tab/tab.vue
  packages/wiz-ui/src/components/base/tables/unstyled/table.vue
  packages/wiz-ui/src/components/base/tag/tag.vue
  packages/wiz-ui/src/components/base/text/text.vue
  packages/wiz-ui/src/utils/styles/color.ts
  packages/wiz-ui/src/utils/styles/font-size.ts
  packages/wiz-ui/src/utils/styles/shadow.ts
  packages/wiz-ui/src/utils/styles/spacing.ts
  packages/wiz-ui/src/utils/styles/white-space.ts
  packages/wiz-ui/src/utils/styles/z-index.ts
Labels: none

fix:wiz-radio
  packages/wiz-ui/src/components/base/inputs/radio/radio.stories.ts
  packages/wiz-ui/src/components/base/inputs/radio/radio.vue
  packages/wiz-ui/src/components/base/inputs/radio/types.ts
Labels: 🎨 story

refactor: 移動したコードを削除
  packages/wiz-ui/src/hooks/use-z-index.ts
  packages/wiz-ui/src/types/styles/color.ts
  packages/wiz-ui/src/types/styles/font-size.ts
  packages/wiz-ui/src/types/styles/shadow.ts
  packages/wiz-ui/src/types/styles/spacing.ts
  packages/wiz-ui/src/types/styles/white-space.ts
  packages/wiz-ui/src/types/styles/z-index.ts
  packages/wiz-ui/src/types/utils/object.ts
  packages/wiz-ui/src/utils/object.test.ts
  packages/wiz-ui/src/utils/object.ts
  packages/wiz-ui/src/utils/styles/color.test.ts
  packages/wiz-ui/src/utils/styles/color.ts
  packages/wiz-ui/src/utils/styles/font-size.ts
  packages/wiz-ui/src/utils/styles/shadow.ts
  packages/wiz-ui/src/utils/styles/spacing.test.ts
  packages/wiz-ui/src/utils/styles/spacing.ts
  packages/wiz-ui/src/utils/styles/white-space.ts
  packages/wiz-ui/src/utils/styles/z-index.ts
Labels: ✅ test

fix:wiz-radio
  packages/wiz-ui/src/components/base/inputs/radio/radio.stories.ts
  packages/wiz-ui/src/components/base/inputs/radio/radio.vue
Labels: 🎨 story

release: v0.2.4
  packages/wiz-ui/package.json
  packages/wiz-ui/src/index.ts
Labels: ⬆️ dependencies

fix: バンドル忘れを追加
  packages/wiz-ui/src/components/base/index.ts
Labels: none

release: v0.2.5
  packages/wiz-ui/package.json
  packages/wiz-ui/src/index.ts
Labels: ⬆️ dependencies

feat:wiz-checkbox
  packages/wiz-ui/src/components/base/inputs/checkbox/checkbox.stories.ts
  packages/wiz-ui/src/components/base/inputs/checkbox/checkbox.vue
  packages/wiz-ui/src/components/base/inputs/checkbox/index.ts
  packages/wiz-ui/src/components/base/inputs/checkbox/types.ts
  packages/wiz-ui/src/constants/styles/spacing.ts
Labels: 🎨 story

fix:wiz-checkbox
  packages/wiz-ui/src/components/base/inputs/checkbox/types.ts
Labels: none

feat: tsconfigを拡張してyarnを導入しbuild成功
  package-lock.json
  package.json
  packages/constants/package.json
  packages/constants/tsconfig.json
  packages/styles/package.json
  packages/wiz-ui/package.json
  packages/wiz-ui/tsconfig.json
  tsconfig.base.json
  yarn.lock
Labels: ⬆️ dependencies

refactor: 環境調整、いらないreferenceとbuild設定を削除
  packages/constants/tsconfig.json
  packages/styles/tsconfig.json
  packages/wiz-ui/package.json
  packages/wiz-ui/tsconfig.json
  yarn.lock
Labels: ⬆️ dependencies

feat: utilsもpackage化
  .vscode/extensions.json
  packages/utils/date.ts
  packages/utils/index.ts
  packages/utils/package.json
  packages/utils/tsconfig.json
  packages/wiz-ui/src/components/custom/chat/card/chat-card.vue
  packages/wiz-ui/src/components/custom/chat/item/chat-item.vue
  packages/wiz-ui/src/components/custom/notification/panel/panel.vue
Labels: ⬆️ dependencies

refactor: providerをhooksへ移動
  packages/wiz-ui/src/components/manager/provider.vue
  packages/wiz-ui/src/hooks/use-global-provider.ts
  packages/wiz-ui/src/providers/display.ts
Labels: none

chore: yarn移行でnpm lockの削除
  package-lock.json
Labels: ⬆️ dependencies

refactor: hooksへ移動2
  packages/wiz-ui/src/components/base/header/header.stories.ts
  packages/wiz-ui/src/components/base/header/header.vue
  packages/wiz-ui/src/components/base/navigation/container.stories.ts
  packages/wiz-ui/src/components/base/navigation/container.vue
  packages/wiz-ui/src/components/base/navigation/item.stories.ts
Labels: 🎨 story

refactor: dtsのentrypointとpackageの呼び出し方法を変更
  examples/vue2/package.json
  packages/wiz-ui/vite.config.ts
Labels: ⬆️ dependencies

refactor: package scriptを修正、workspaceを正しく命名
  docs/package.json
  examples/vue2/package.json
  package.json
Labels: ⬆️ dependencies

docs: npm -> yarnの変更対応
  docs/src/guide/setup.md
Labels: 📝 docs

refactor: npm scriptをyarnに置換、サンプルテストを記述
  packages/wiz-ui/package.json
  packages/wiz-ui/src/hooks/use-z-index.test.ts
Labels: ✅ test, ⬆️ dependencies

ci: npm actionをyarn actionへ置換
  .github/workflows/build-check.yml
  .github/workflows/deploy-storybook.yml
  .github/workflows/deploy-vitest.yml
  .github/workflows/lint.yml
  .github/workflows/publish-check.yml
  .github/workflows/publish-library.yml
  .github/workflows/test.yml
Labels: 🏭 ci

ci: yarn cache dirをキャッシュして高速化
  .github/composite/prepare_node/action.yml
Labels: 🏭 ci

ci: yarn cache dir実行用のshellを選択していなかったのでbashにした
  .github/composite/prepare_node/action.yml
Labels: 🏭 ci
