Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

feat(icon-gen): アイコン生成ツールのreact対応
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/icons/scripts/build.ts
  packages/icons/scripts/utils.ts
Labels: ⬆️ dependencies

feat(icon-gen): 自動生成後lintをあてる
  packages/icons/.eslintrc.json
  packages/icons/package.json
  pnpm-lock.yaml
Labels: ⬆️ dependencies

feat(icon): WizIconを追加
  packages/wiz-ui-react/src/components/base/buttons/icon/components/icon.tsx
  packages/wiz-ui-react/src/components/base/buttons/icon/components/index.ts
  packages/wiz-ui-react/src/components/base/buttons/icon/index.ts
Labels: none

docs(icon): storybookを追加
  packages/wiz-ui-react/src/components/base/buttons/icon/stories/icon.stories.tsx
Labels: none

feat(stack): add stack, h-stack, v-stack
  packages/wiz-ui-react/src/components/base/stack/components/h-stack.tsx
  packages/wiz-ui-react/src/components/base/stack/components/index.ts
  packages/wiz-ui-react/src/components/base/stack/components/stack.tsx
  packages/wiz-ui-react/src/components/base/stack/components/v-stack.tsx
  packages/wiz-ui-react/src/components/base/stack/index.ts
Labels: none

docs(stack): storybookを追加
  packages/wiz-ui-react/src/components/base/stack/stories/h-stack.stories.tsx
  packages/wiz-ui-react/src/components/base/stack/stories/stack.stories.tsx
  packages/wiz-ui-react/src/components/base/stack/stories/v-stack.stories.tsx
Labels: none

feat(divider): add divider
  packages/wiz-ui-react/src/components/base/divider/components/divider.tsx
  packages/wiz-ui-react/src/components/base/divider/components/index.ts
  packages/wiz-ui-react/src/components/base/divider/index.ts
  packages/wiz-ui-react/src/components/base/index.ts
Labels: none

docs(divider): storybookを追加
  packages/wiz-ui-react/src/components/base/divider/stories/divider.stories.tsx
Labels: none

feat(text): WizTextのReact対応
  packages/wiz-ui-react/src/components/base/text/components/index.ts
  packages/wiz-ui-react/src/components/base/text/components/text.tsx
  packages/wiz-ui-react/src/components/base/text/index.ts
Labels: none

docs(text): storybookを追加
  packages/wiz-ui-react/src/components/base/text/stories/text.stories.tsx
Labels: none

feat(text-area): WizTextAreaのReact対応
  packages/wiz-ui-react/src/components/base/index.ts
  packages/wiz-ui-react/src/components/base/textarea/components/index.ts
  packages/wiz-ui-react/src/components/base/textarea/components/text-area.tsx
  packages/wiz-ui-react/src/components/base/textarea/index.ts
Labels: none

docs(text-area): storybookを追加
  packages/wiz-ui-react/src/components/base/textarea/stories/text-area.stories.tsx
Labels: none

chore: move regconfig to root
  regconfig.json
Labels: none

chore: move vet script to root
  package.json
  packages/wiz-ui/package.json
Labels: ⬆️ dependencies

chore: rename storycap command
  packages/wiz-ui-next/package.json
  packages/wiz-ui-react/package.json
  packages/wiz-ui/package.json
Labels: ⬆️ dependencies

chore: add storycap command to turbo
  package.json
  turbo.json
Labels: ⬆️ dependencies

feat(script): sb only build command to turbo
  package.json
  turbo.json
Labels: ⬆️ dependencies

feat(storycap): extend visual regression test, test all packages screenshots
  .github/workflows/visual-regression-test.yml
Labels: 🏭 ci

ci: add playwright to vrt
  .github/workflows/visual-regression-test.yml
Labels: 🏭 ci

fix(turbo): update storycap command dependencies
  turbo.json
Labels: none

feat(hooks): useFormControlProvider
  packages/wiz-ui-react/src/hooks/use-form-control-provider.tsx
Labels: none

chore: add clsx
  packages/wiz-ui-react/package.json
  pnpm-lock.yaml
Labels: ⬆️ dependencies

feat(text-area): useFormControl
  packages/wiz-ui-react/src/components/base/textarea/components/text-area.tsx
Labels: none

chore(changeset): @wizleap-inc/wiz-ui-react:v0.0.1
  .changeset/lucky-laws-exercise.md
Labels: none

ci: fix branch trigger
  .github/workflows/build-check.yml
  .github/workflows/deploy-storybook.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .github/workflows/visual-regression-test.yml
Labels: 🏭 ci

refactor(divider): clsxを導入
  packages/wiz-ui-react/src/components/base/divider/components/divider.tsx
Labels: none

refactor(icon): clsx
  packages/wiz-ui-react/src/components/base/buttons/icon/components/icon.tsx
Labels: none

refactor(divider): clsx
  packages/wiz-ui-react/src/components/base/divider/components/divider.tsx
Labels: none

refactor(text-area): clsx
  packages/wiz-ui-react/src/components/base/textarea/components/text-area.tsx
Labels: none

refactor(stack): clsx
  packages/wiz-ui-react/src/components/base/stack/components/stack.tsx
Labels: none

refactor(text): clsx
  packages/wiz-ui-react/src/components/base/text/components/text.tsx
Labels: none

feat(avatar): labelをariaLabelに変更
  packages/wiz-ui-next/src/components/base/avatar/avatar.stories.ts
  packages/wiz-ui-next/src/components/base/avatar/avatar.vue
  packages/wiz-ui/src/components/base/avatar/avatar.stories.ts
  packages/wiz-ui/src/components/base/avatar/avatar.vue
Labels: 🎨 story

feat(icon): labelをariaLabelに変更
  packages/wiz-ui-next/src/components/base/buttons/icon/icon.stories.ts
  packages/wiz-ui-next/src/components/base/buttons/icon/icon.vue
  packages/wiz-ui/src/components/base/buttons/icon/icon.stories.ts
  packages/wiz-ui/src/components/base/buttons/icon/icon.vue
Labels: 🎨 story

refactor(toggle-switch): labelをariaLabelに変更
  packages/wiz-ui-next/src/components/base/inputs/toggle-switch/toggle-switch.vue
  packages/wiz-ui/src/components/base/inputs/toggle-switch/toggle-switch.vue
Labels: none

refactor(nav-item): labelをariaLabelに変更
  packages/wiz-ui-next/src/components/base/navigation/container.stories.ts
  packages/wiz-ui-next/src/components/base/navigation/item.stories.ts
  packages/wiz-ui-next/src/components/base/navigation/item.vue
  packages/wiz-ui/src/components/base/navigation/container.stories.ts
  packages/wiz-ui/src/components/base/navigation/item.stories.ts
  packages/wiz-ui/src/components/base/navigation/item.vue
Labels: 🎨 story

chore(aria-labels): ARIA_LABELSを更新
  packages/constants/component/aria-label.ts
Labels: none

refactor(search-selector): ARIA_LABELSを利用
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.vue
Labels: none

refactor(snackbar): ARIA_LABELSを利用
  packages/wiz-ui-next/src/components/base/snackbar/snackbar.vue
  packages/wiz-ui/src/components/base/snackbar/snackbar.vue
Labels: none

refactor(chat-card): ARIA_LABELSを利用
  packages/wiz-ui-next/src/components/custom/chat/card/chat-card.vue
  packages/wiz-ui/src/components/custom/chat/card/chat-card.vue
Labels: none

feat(aria-label): ARIA_LABELSを更新
  packages/constants/component/aria-label.ts
Labels: none

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"
