Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"

chore: changeset
  .changeset/big-numbers-rhyme.md
Labels: none

feat: スクロールバーデザイン修正
  packages/styles/global.css
Labels: none

chore: スクロールバーデザイン確認用のデモ環境更新
  examples/react/src/pages/home/index.tsx
Labels: none

chore: add storycap viewport options
  packages/wiz-ui-next/.storybook/preview.js
  packages/wiz-ui-react/.storybook/preview.js
Labels: none

chore: temporary commit for check vrt
  packages/styles/bases/icon-button.css.ts
Labels: none

chore: temporary commit for check vrt
  packages/styles/bases/icon-button.css.ts
Labels: none

chore: temporary commit for check vrt
  packages/styles/bases/icon-button.css.ts
Labels: none

chore: temporary commit for check vrt
  packages/styles/bases/icon-button.css.ts
Labels: none

Revert "feat(icon): image, play circle, pause circle"
  packages/constants/component/icon-name.ts
  packages/icons/assets/image.svg
  packages/icons/assets/pause-circle.svg
  packages/icons/assets/play-circle.svg
  packages/wiz-ui-next/src/components/icons/image.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-next/src/components/icons/pause-circle.vue
  packages/wiz-ui-next/src/components/icons/play-circle.vue
  packages/wiz-ui-react/src/components/icons/image.tsx
  packages/wiz-ui-react/src/components/icons/index.ts
  packages/wiz-ui-react/src/components/icons/pause-circle.tsx
  packages/wiz-ui-react/src/components/icons/play-circle.tsx
Labels: none

feat(icons): image-bold, pause-circle-bold, play-circle-bold
  packages/constants/component/icon-name.ts
  packages/icons/assets/image-bold.svg
  packages/icons/assets/pause-circle-bold.svg
  packages/icons/assets/play-circle-bold.svg
  packages/wiz-ui-next/src/components/icons/image-bold.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-next/src/components/icons/pause-circle-bold.vue
  packages/wiz-ui-next/src/components/icons/play-circle-bold.vue
  packages/wiz-ui-react/src/components/icons/image-bold.tsx
  packages/wiz-ui-react/src/components/icons/index.ts
  packages/wiz-ui-react/src/components/icons/pause-circle-bold.tsx
  packages/wiz-ui-react/src/components/icons/play-circle-bold.tsx
Labels: none

feat(icon): error
  packages/constants/component/icon-name.ts
  packages/icons/assets/error-filled.svg
  packages/wiz-ui-next/src/components/icons/error-filled.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-react/src/components/icons/error-filled.tsx
  packages/wiz-ui-react/src/components/icons/index.ts
Labels: none

chore: update changeset
  .changeset/serious-pears-film.md
Labels: none

fix: VRTの画面サイズをviewportで固定
  packages/wiz-ui-next/.storybook/preview.js
  packages/wiz-ui-react/.storybook/preview.js
Labels: none

fix: PanelSwitchのBoxShadowを削除
  packages/styles/bases/panel-switch-input.css.ts
Labels: none

fix: PanelSwitchのデザイン微修正
  packages/styles/bases/panel-switch-input.css.ts
Labels: none

feat: 生成物のアイコンファイルをgit管理化から除外
  packages/wiz-ui-next/.gitignore
  packages/wiz-ui-react/.gitignore
Labels: none

feat: 必須になっていたイベントハンドラを任意に修正
  packages/wiz-ui-react/src/components/base/accordion/components/accordion.tsx
  packages/wiz-ui-react/src/components/base/dialog/components/dialog.tsx
  packages/wiz-ui-react/src/components/base/dropdown/components/dropdown.tsx
  packages/wiz-ui-react/src/components/base/full-modal-view/components/full-modal-view.tsx
  packages/wiz-ui-react/src/components/base/header/components/header.tsx
  packages/wiz-ui-react/src/components/base/information-panel/components/information-panel.tsx
  packages/wiz-ui-react/src/components/base/inputs/date-picker/components/date-picker.tsx
  packages/wiz-ui-react/src/components/base/inputs/date-range-picker/components/date-range-picker.tsx
  packages/wiz-ui-react/src/components/base/inputs/password/components/password-input.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-input.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/search-selector.tsx
  packages/wiz-ui-react/src/components/base/inputs/selectbox/components/selectbox.tsx
  packages/wiz-ui-react/src/components/base/inputs/time-picker/components/time-picker.tsx
  packages/wiz-ui-react/src/components/base/inputs/toggle-switch/components/toggle-switch.tsx
  packages/wiz-ui-react/src/components/base/pagination/components/pagination.tsx
  packages/wiz-ui-react/src/components/base/popup/components/popup.tsx
  packages/wiz-ui-react/src/components/base/show-more-less/components/show-more-less.tsx
  packages/wiz-ui-react/src/components/base/snackbar/components/snackbar.tsx
  packages/wiz-ui-react/src/components/base/tab/components/tab-pane.tsx
  packages/wiz-ui-react/src/components/base/tab/components/tab.tsx
  packages/wiz-ui-react/src/components/base/text-area/components/text-area.tsx
  packages/wiz-ui-react/src/components/custom/chat/components/chat-card.tsx
  packages/wiz-ui-react/src/components/custom/chat/components/chat-form.tsx
Labels: none

feat(text): refの追加
  packages/wiz-ui-react/src/components/base/text/components/text.tsx
  packages/wiz-ui-react/src/components/base/text/stories/text.stories.tsx
Labels: none

chore: changeset
  .changeset/four-cheetahs-shave.md
Labels: none

fix: add last line
  packages/styles/global.css
Labels: none

chore: changeset
  .changeset/tender-vans-occur.md
Labels: none

fix: add panel switch story
  packages/wiz-ui-react/src/components/base/panel-switch/stories/panel-switch.stories.tsx
Labels: none

fix: changeset
  .changeset/dry-panthers-rhyme.md
Labels: none

fix: add panel switch story
  packages/wiz-ui-next/src/components/base/panel-switch/panel-switch.stories.ts
Labels: 🎨 story

fix: changeset
  .changeset/big-numbers-rhyme.md
Labels: none

feat(snackbar): デフォルトCSSにword-breakを追加
  packages/styles/bases/snackbar.css.ts
Labels: none

chore: changeset
  .changeset/friendly-mangos-join.md
Labels: none

feat(timeline): background color
  packages/styles/customs/timeline.css.ts
  packages/wiz-ui-next/src/components/custom/timeline/timeline-item.vue
  packages/wiz-ui-react/src/components/custom/timeline/components/timeline-item.tsx
Labels: none

docs(timeline): add story
  packages/wiz-ui-next/src/components/custom/timeline/stories/timeline-item.stories.ts
  packages/wiz-ui-react/src/components/custom/timeline/stories/timeline-item.stories.tsx
Labels: 🎨 story

chore: add changeset
  .changeset/soft-rivers-count.md
Labels: none

feat(date-picker): ｘボタン押下でカレンダー選択状態をクリアする
  packages/wiz-ui-react/src/components/base/inputs/date-picker/components/date-picker.tsx
  packages/wiz-ui-react/src/components/base/inputs/date-range-picker/components/date-range-picker.tsx
Labels: none

feat(date-picker): ｘボタン押下でカレンダー選択状態をクリアする
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.vue
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.vue
Labels: none

feat: スクロールバーデザイン修正
  packages/styles/global.css
Labels: none

feat(date-picker): placeholder周りの処理修正
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.vue
Labels: none

chore: wiz-ui-nextの追加
  .changeset/olive-snails-tie.md
Labels: none

fix(icon): WizIKeepBold
  packages/constants/component/icon-name.ts
  packages/icons/assets/keep-bold.svg
  packages/icons/assets/keep.svg
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-next/src/components/icons/keep-bold.vue
  packages/wiz-ui-next/src/components/icons/keep.vue
  packages/wiz-ui-react/src/components/icons/index.ts
  packages/wiz-ui-react/src/components/icons/keep-bold.tsx
  packages/wiz-ui-react/src/components/icons/keep.tsx
Labels: none

chore(deps): update husky
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Labels: ⬆️ dependencies

docs(icon): add Issue Template
  .github/ISSUE_TEMPLATE/機能追加（アイコン）.md
Labels: 🏭 ci

fix(timeline-item): annotation position
  packages/styles/customs/timeline.css.ts
  packages/wiz-ui-next/src/components/custom/timeline/stories/timeline-item.stories.ts
  packages/wiz-ui-next/src/components/custom/timeline/timeline-item.vue
  packages/wiz-ui-react/src/components/custom/timeline/components/timeline-item.tsx
Labels: 🎨 story

fix(avatar): font size
  packages/wiz-ui-next/src/components/base/avatar/avatar.stories.ts
  packages/wiz-ui-next/src/components/base/avatar/avatar.vue
  packages/wiz-ui-react/src/components/base/avatar/components/avatar.tsx
  packages/wiz-ui-react/src/components/base/avatar/stories/avatar.stories.tsx
Labels: 🎨 story
