Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

fix(box): backdropBlurプロパティに"auto"を指定不可にする
  packages/wiz-ui-next/src/components/base/box/box.vue
  packages/wiz-ui/src/components/base/box/box.vue
Labels: none

fix(box): backdropBlurプロパティに"auto"ではなく"at"を指定不可にする
  packages/wiz-ui-next/src/components/base/box/box.vue
  packages/wiz-ui/src/components/base/box/box.vue
Labels: none

fix(tiny-button): disabledを修正
  packages/wiz-ui-next/src/components/base/buttons/tiny/tiny.vue
  packages/wiz-ui/src/components/base/buttons/tiny/tiny.vue
Labels: none

refactor(tiny-button): hover時のスタイルの当て方を変更
  packages/styles/bases/tiny-button.css.ts
  packages/wiz-ui-next/src/components/base/buttons/tiny/tiny.vue
  packages/wiz-ui/src/components/base/buttons/tiny/tiny.vue
Labels: none

docs(tiny-button): HoverのStoryを追加
  packages/wiz-ui-next/src/components/base/buttons/tiny/tiny.stories.ts
  packages/wiz-ui/src/components/base/buttons/tiny/tiny.stories.ts
Labels: 🎨 story

docs(tiny-button): Hover時の全パターンをStoryに追加
  packages/wiz-ui-next/src/components/base/buttons/tiny/tiny.stories.ts
  packages/wiz-ui/src/components/base/buttons/tiny/tiny.stories.ts
Labels: 🎨 story

docs(tiny-button): StoryBookを修正
  packages/wiz-ui-next/src/components/base/buttons/tiny/tiny.stories.ts
  packages/wiz-ui/src/components/base/buttons/tiny/tiny.stories.ts
Labels: 🎨 story

update: 変数elを削除し、直接refを見る形に修正
  packages/wiz-ui-next/src/hooks/use-click-outside.ts
Labels: none

update: popupまわりの改修
  packages/wiz-ui-next/src/components/base/popup/popup-container.vue
  packages/wiz-ui-next/src/components/base/popup/popup.vue
  packages/wiz-ui-next/src/components/base/popup/provider.ts
Labels: none

update: popup改修によるstorybook対応
  packages/wiz-ui-next/src/components/base/popup/popup.stories.ts
Labels: 🎨 story

update: popup改修に伴う各コンポーネントの変更
  packages/wiz-ui-next/src/components/base/dropdown/dropdown.vue
  packages/wiz-ui-next/src/components/base/inputs/datepicker/date-picker.vue
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.vue
  packages/wiz-ui-next/src/components/base/inputs/timepicker/time-picker.vue
Labels: none

update: popupのvue2対応
  packages/wiz-ui/src/components/base/popup/popup-container.vue
  packages/wiz-ui/src/components/base/popup/popup.stories.ts
  packages/wiz-ui/src/components/base/popup/popup.vue
  packages/wiz-ui/src/components/base/popup/provider.ts
  packages/wiz-ui/src/hooks/use-click-outside.ts
Labels: 🎨 story

update: popup改修に伴う各コンポーネントの変更 (vue2)
  packages/wiz-ui/src/components/base/dropdown/dropdown.vue
  packages/wiz-ui/src/components/base/inputs/datepicker/date-picker.vue
  packages/wiz-ui/src/components/base/inputs/selectbox/selectbox.vue
  packages/wiz-ui/src/components/base/inputs/timepicker/time-picker.vue
Labels: none

fix: popupのlayerをfloatingに変更
  packages/wiz-ui-next/src/components/base/dropdown/dropdown.vue
  packages/wiz-ui-next/src/components/base/inputs/datepicker/date-picker.vue
  packages/wiz-ui-next/src/components/base/inputs/timepicker/time-picker.vue
  packages/wiz-ui/src/components/base/dropdown/dropdown.vue
  packages/wiz-ui/src/components/base/inputs/datepicker/date-picker.vue
  packages/wiz-ui/src/components/base/inputs/timepicker/time-picker.vue
Labels: none

fix: 新しいpopup対応 & popupの表示位置がバグる問題の解消 (まだ動かない)
  packages/wiz-ui-next/src/components/base/inputs/search/search.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/search/search.vue
Labels: 🎨 story

feat(search-selector): 検索・新規追加可能なセレクタを追加
  packages/styles/bases/search-selector.css.ts
  packages/wiz-ui-next/src/components/base/inputs/index.ts
  packages/wiz-ui-next/src/components/base/inputs/search-selector/index.ts
  packages/wiz-ui-next/src/components/base/inputs/search-selector/levenshtein-distance.ts
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui-next/src/components/base/inputs/search-selector/types.ts
  packages/wiz-ui/src/components/base/inputs/index.ts
  packages/wiz-ui/src/components/base/inputs/search-selector/index.ts
  packages/wiz-ui/src/components/base/inputs/search-selector/levenshtein-distance.ts
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui/src/components/base/inputs/search-selector/types.ts
Labels: none

docs(search-selector): StoryBookを追加
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.stories.ts
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.stories.ts
Labels: 🎨 story

feat(search-selector): スタイルの修正
  packages/styles/bases/search-selector.css.ts
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.vue
Labels: none

doc(search-selector): アイテムを選択中の場合のstorybookを追加
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.stories.ts
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.stories.ts
Labels: 🎨 story

fix: blurがかかるよう修正
  packages/wiz-ui-next/src/components/base/box/box.vue
  packages/wiz-ui/src/components/base/box/box.vue
Labels: none

fix: 演算子戻す、disableはclickableに対して逆のboolとなるように
  packages/wiz-ui-next/src/components/base/buttons/tiny/tiny.vue
Labels: none

update(tiny): tinyをクリックできない問題のvue2対応
  packages/wiz-ui/src/components/base/buttons/tiny/tiny.vue
Labels: none

fix(tiny): storybookでクリックのアクションが動作しないバグの修正
  packages/wiz-ui-next/src/components/base/buttons/tiny/tiny.stories.ts
Labels: 🎨 story

update(search-input): 同じoptionsを使い回すことによるidの重複を回避するよう修正
  packages/wiz-ui-next/src/components/base/inputs/search/search.stories.ts
Labels: 🎨 story

update(search-input): 新しいpopup対応 (vue2)
  packages/wiz-ui/src/components/base/inputs/search/search.vue
Labels: none

update(search-input): idが被る問題のvue2対応
  packages/wiz-ui/src/components/base/inputs/search/search.stories.ts
Labels: 🎨 story

fix(tiny): p/px/pyをbuttonにつけるよう修正
  packages/wiz-ui-next/src/components/base/buttons/tiny/tiny.vue
  packages/wiz-ui/src/components/base/buttons/tiny/tiny.vue
Labels: none

update(tiny): ホバー時のスタイルをcss.tsに切り出し
  packages/styles/bases/tiny-button.css.ts
  packages/wiz-ui-next/src/components/base/buttons/tiny/tiny.vue
  packages/wiz-ui/src/components/base/buttons/tiny/tiny.vue
Labels: none

fix(examples): examplesのpopup対応漏れの修正
  examples/vue2/src/components/layout/header/notification-dropdown.vue
  examples/vue3/src/components/layout/header/notification-dropdown.vue
Labels: none

release: v0.7.0
  packages/wiz-ui-next/package.json
  packages/wiz-ui-next/src/index.ts
  packages/wiz-ui/package.json
  packages/wiz-ui/src/index.ts
Labels: ⬆️ dependencies

refactor(a11y): calenderのclick ev要素をbuttonにして、area-labelにそれぞれの年月日を振ってわかりやすくした
  packages/styles/bases/calendar.css.ts
  packages/wiz-ui-next/src/components/base/calendar/calendar.vue
  packages/wiz-ui/src/components/base/calendar/calendar.vue
Labels: none

refactor(a11y): calenderのclick ev要素をbuttonにして、area-labelにそれぞれの年月日を振ってわかりやすくした
  packages/styles/bases/calendar.css.ts
  packages/wiz-ui-next/src/components/base/calendar/calendar.vue
  packages/wiz-ui/src/components/base/calendar/calendar.vue
Labels: none

fix(design): calenderのスタイルをfigma準拠にした
  packages/styles/bases/calendar.css.ts
  packages/wiz-ui-next/src/components/base/calendar/calendar.vue
  packages/wiz-ui/src/components/base/calendar/calendar.vue
Labels: none

fix(design): calenderのスタイルをfigma準拠にした
  packages/styles/bases/calendar.css.ts
Labels: none

fix(design): calenderのスタイルをfigma準拠にした
  packages/styles/bases/calendar.css.ts
  packages/wiz-ui-next/src/components/base/calendar/calendar.vue
  packages/wiz-ui/src/components/base/calendar/calendar.vue
Labels: none

fix(design): calenderのスタイルをfigma準拠にした
  packages/styles/bases/calendar.css.ts
Labels: none

update(popup): layerのdefaultをpopoverに変更
  packages/wiz-ui-next/src/components/base/popup/popup.vue
  packages/wiz-ui/src/components/base/popup/popup.vue
Labels: none

update(popup): 画面サイズが変わったときにpopupの場所が追従するよう修正
  packages/wiz-ui-next/src/components/base/popup/popup.vue
  packages/wiz-ui/src/components/base/popup/popup.vue
Labels: none

release: v0.7.1
  packages/wiz-ui-next/package.json
  packages/wiz-ui-next/src/index.ts
  packages/wiz-ui/package.json
  packages/wiz-ui/src/index.ts
Labels: ⬆️ dependencies

Update(popup): スクロール時にcontrollerの座標情報を更新するよう修正
  packages/wiz-ui-next/src/components/base/popup/popup-container.vue
  packages/wiz-ui-next/src/hooks/use-scroll.ts
  packages/wiz-ui/src/components/base/popup/popup-container.vue
  packages/wiz-ui/src/hooks/use-scroll.ts
Labels: none

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"
