Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"

fix(dialog): ariaLabelへの変更に対応
  packages/wiz-ui-next/src/components/base/dialog/dialog.vue
  packages/wiz-ui/src/components/base/dialog/dialog.vue
Labels: none

fix(header): ariaLabelへの変更に対応
  packages/wiz-ui-next/src/components/base/header/header.vue
  packages/wiz-ui/src/components/base/header/header.vue
Labels: none

fix(chat-form): ariaLabelへの変更に対応
  packages/wiz-ui-next/src/components/custom/chat/form/chat-form.vue
  packages/wiz-ui/src/components/custom/chat/form/chat-form.vue
Labels: none

fix(example): avatar
  examples/vue2/src/components/layout/header/avatar-dropdown.vue
  examples/vue3/src/components/layout/header/avatar-dropdown.vue
Labels: none

fix(example): icon-button
  examples/vue2/src/components/layout/header/notification-dropdown.vue
  examples/vue3/src/components/layout/header/notification-dropdown.vue
Labels: none

fix(example): nav-item
  examples/vue2/src/components/layout/navigation/nav-list.vue
  examples/vue3/src/components/layout/navigation/nav-list.vue
Labels: none

fix(example): NotificationTabItem
  examples/vue2/src/components/layout/header/notification-dropdown.vue
Labels: none

fix(example): label
  examples/vue3/src/components/layout/navigation/nav-list.vue
Labels: none

[#506] add rowSpan and colSpan in th tag
  packages/wiz-ui-next/src/components/base/tables/card/th.vue
  packages/wiz-ui-next/src/components/base/tables/flat/th.vue
  packages/wiz-ui-next/src/components/base/tables/unstyled/th.vue
  packages/wiz-ui/src/components/base/tables/card/td.vue
  packages/wiz-ui/src/components/base/tables/card/th.vue
  packages/wiz-ui/src/components/base/tables/flat/th.vue
  packages/wiz-ui/src/components/base/tables/unstyled/th.vue
Labels: none

[#506] add rowspan and colSpan in td tag
  packages/wiz-ui-next/src/components/base/tables/card/td.vue
  packages/wiz-ui-next/src/components/base/tables/flat/td.vue
  packages/wiz-ui-next/src/components/base/tables/unstyled/td.vue
  packages/wiz-ui/src/components/base/tables/flat/td.vue
  packages/wiz-ui/src/components/base/tables/unstyled/td.vue
Labels: none

[#506] add rowSpan and colSpan story example
  packages/wiz-ui-next/src/components/base/tables/flat/table.stories.ts
  packages/wiz-ui-next/src/components/base/tables/unstyled/table.stories.ts
  packages/wiz-ui/src/components/base/tables/flat/table.stories.ts
  packages/wiz-ui/src/components/base/tables/unstyled/table.stories.ts
Labels: 🎨 story

chore(lint): eslintのmonorepo対応
  package.json
  packages/wiz-ui-next/.eslintrc.json
  packages/wiz-ui-next/package.json
  packages/wiz-ui-react/.eslintrc.json
  packages/wiz-ui-react/package.json
  packages/wiz-ui/.eslintrc.json
  packages/wiz-ui/package.json
  pnpm-lock.yaml
Labels: ⬆️ dependencies

chore(changeset): wiz-ui,wiz-ui-next,wiz-ui-react
  .changeset/old-fireants-flash.md
Labels: none

feat(constants): add gray.200
  packages/constants/styles/color.ts
Labels: none

chore: add changeset
  .changeset/brave-baboons-impress.md
Labels: none

chore: add changeset
  .changeset/brave-baboons-impress.md
Labels: none

chore(lint): 設定をvue,reactで分割
  .eslintrc.json
  .eslintrc.react.json
  .eslintrc.vue.json
  package.json
  packages/wiz-ui-next/.eslintrc.json
  packages/wiz-ui-react/.eslintrc.json
  packages/wiz-ui/.eslintrc.json
  pnpm-lock.yaml
Labels: ⬆️ dependencies

chore(lint): eslint setting
  .eslintignore
  .eslintrc.react.json
  examples/vue2/.eslintrc.json
  examples/vue3/.eslintrc.json
  packages/wiz-ui-next/package.json
  packages/wiz-ui-react/package.json
  packages/wiz-ui/package.json
Labels: ⬆️ dependencies

style(lint): warnings
  packages/wiz-ui-next/src/components/base/buttons/tiny/tiny.stories.ts
  packages/wiz-ui-next/src/components/base/navigation/container.stories.ts
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui-next/src/components/base/stack/stack.stories.ts
  packages/wiz-ui/src/components/base/buttons/tiny/tiny.stories.ts
  packages/wiz-ui/src/components/base/navigation/container.stories.ts
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui/src/components/base/stack/stack.stories.ts
Labels: 🎨 story

chore: update changeset
  .changeset/lucky-laws-exercise.md
  .changeset/old-fireants-flash.md
Labels: none

chore(snackbar): aria-labelを修正
  packages/constants/component/aria-label.ts
Labels: none

Revert "refactor(nav-item): labelをariaLabelに変更"
  packages/wiz-ui-next/src/components/base/navigation/container.stories.ts
  packages/wiz-ui-next/src/components/base/navigation/item.stories.ts
  packages/wiz-ui-next/src/components/base/navigation/item.vue
  packages/wiz-ui/src/components/base/navigation/container.stories.ts
  packages/wiz-ui/src/components/base/navigation/item.stories.ts
  packages/wiz-ui/src/components/base/navigation/item.vue
Labels: 🎨 story

Revert "fix(example): nav-item"
  examples/vue2/src/components/layout/navigation/nav-list.vue
  examples/vue3/src/components/layout/navigation/nav-list.vue
Labels: none

fix(checkbox): optionsのdisabledを反映
  packages/wiz-ui-next/src/components/base/inputs/checkbox/checkbox.vue
  packages/wiz-ui/src/components/base/inputs/checkbox/checkbox.vue
Labels: none

feat(checkbox): borderではなくoutlineをfocus時に設定
  packages/styles/bases/checkbox-input.css.ts
Labels: none

feat(checkbox): ラベルを選択不可にする
  packages/styles/bases/checkbox-input.css.ts
Labels: none

fix(checkbox): hover時のスタイルを修正
  packages/wiz-ui-next/src/components/base/inputs/checkbox/checkbox.vue
  packages/wiz-ui/src/components/base/inputs/checkbox/checkbox.vue
Labels: none

chore(checkbox): iconをmdサイズに変更
  packages/styles/bases/checkbox-input.css.ts
Labels: none

feat(compare-graph): add compare-graph
  packages/constants/component/name.ts
  packages/styles/bases/compare-graph.css.ts
  packages/wiz-ui-next/src/components/base/graphs/compare/bar.vue
  packages/wiz-ui-next/src/components/base/graphs/compare/compare.vue
  packages/wiz-ui-next/src/components/base/graphs/compare/container.vue
  packages/wiz-ui-next/src/components/base/graphs/compare/index.ts
  packages/wiz-ui-next/src/components/base/graphs/compare/types.ts
  packages/wiz-ui-next/src/components/base/graphs/index.ts
  packages/wiz-ui/src/components/base/graphs/compare/bar.vue
  packages/wiz-ui/src/components/base/graphs/compare/compare.vue
  packages/wiz-ui/src/components/base/graphs/compare/container.vue
  packages/wiz-ui/src/components/base/graphs/compare/index.ts
  packages/wiz-ui/src/components/base/graphs/compare/types.ts
  packages/wiz-ui/src/components/base/graphs/index.ts
Labels: none

docs(compare-graph): storybookを追加
  packages/wiz-ui-next/src/components/base/graphs/compare/compare.stories.ts
  packages/wiz-ui/src/components/base/graphs/compare/compare.stories.ts
Labels: 🎨 story

feat(compare-graph): バーの高さに応じてラベルの表示位置を調整する
  packages/wiz-ui-next/src/components/base/graphs/compare/bar.vue
  packages/wiz-ui/src/components/base/graphs/compare/bar.vue
Labels: none

docs(compare-stories): dummy-dataを変更
  packages/wiz-ui-next/src/components/base/graphs/compare/compare.stories.ts
  packages/wiz-ui/src/components/base/graphs/compare/compare.stories.ts
Labels: 🎨 story

feat(compare-graph): 色をカスタム可能にする
  packages/styles/bases/compare-graph.css.ts
  packages/wiz-ui-next/src/components/base/graphs/compare/bar.vue
  packages/wiz-ui-next/src/components/base/graphs/compare/compare.vue
  packages/wiz-ui-next/src/components/base/graphs/compare/types.ts
  packages/wiz-ui/src/components/base/graphs/compare/bar.vue
  packages/wiz-ui/src/components/base/graphs/compare/compare.vue
  packages/wiz-ui/src/components/base/graphs/compare/types.ts
Labels: none

docs(compare-graph): dummy-dataを変更し色を指定
  packages/wiz-ui-next/src/components/base/graphs/compare/compare.stories.ts
  packages/wiz-ui/src/components/base/graphs/compare/compare.stories.ts
Labels: 🎨 story

chore: update changeset
  .changeset/clean-mails-build.md
Labels: none

refactor(compare-graph): numberColorにプロパティ名を変更
  packages/wiz-ui-next/src/components/base/graphs/compare/bar.vue
  packages/wiz-ui-next/src/components/base/graphs/compare/compare.stories.ts
  packages/wiz-ui-next/src/components/base/graphs/compare/types.ts
  packages/wiz-ui/src/components/base/graphs/compare/bar.vue
  packages/wiz-ui/src/components/base/graphs/compare/compare.stories.ts
  packages/wiz-ui/src/components/base/graphs/compare/types.ts
Labels: 🎨 story

feat(compare-graph): 描画間隔等の設定を可能にする
  packages/wiz-ui-next/src/components/base/graphs/compare/compare.vue
  packages/wiz-ui/src/components/base/graphs/compare/compare.vue
Labels: none

docs(compare-graph): パターンを追加
  packages/wiz-ui-next/src/components/base/graphs/compare/compare.stories.ts
  packages/wiz-ui/src/components/base/graphs/compare/compare.stories.ts
Labels: 🎨 story

feat(box): WizBoxのReact対応
  packages/wiz-ui-react/src/components/base/box/components/box.tsx
  packages/wiz-ui-react/src/components/base/box/components/index.ts
  packages/wiz-ui-react/src/components/base/box/index.ts
  packages/wiz-ui-react/src/components/base/index.ts
Labels: none

chore(changeset): @wizleap-inc/wiz-ui-react
  .changeset/happy-dancers-argue.md
Labels: none
