Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

docs(selectbox/vue): update option
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.stories.ts
Labels: 🎨 story

fix(date-range-picker): clear button padding
  packages/styles/bases/date-range-picker.css.ts
Labels: none

docs(date-range-picker/vue): variant option
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.stories.ts
Labels: 🎨 story

fix(timeline-item): nowrap annotation
  packages/wiz-ui-next/src/components/custom/timeline/timeline-item.vue
  packages/wiz-ui-react/src/components/custom/timeline/components/timeline-item.tsx
Labels: none

fix(notification-panel): remove gap
  packages/wiz-ui-next/src/components/custom/notification/panel/panel.vue
  packages/wiz-ui-react/src/components/custom/notification/components/notification-panel.tsx
Labels: none

fix(notification-panel): panel width
  packages/wiz-ui-next/src/components/custom/notification/panel/panel.vue
  packages/wiz-ui-react/src/components/custom/notification/components/notification-panel.tsx
Labels: none

chore: fontをあえてInstallしないで差分を確認する
  .github/workflows/visual-regression-test.yml
Labels: 🏭 ci

install fonts
  .github/workflows/visual-regression-test.yml
Labels: 🏭 ci

chore: change readme for test
  README.md
Labels: none

chore: add diff
  packages/wiz-ui-react/src/components/base/tooltip/stories/tooltip.stories.tsx
  packages/wiz-ui-react/src/components/custom/timeline/stories/timeline.stories.tsx
Labels: none

add diff
  packages/wiz-ui-react/src/components/custom/form/components/form-control.tsx
  packages/wiz-ui-react/src/components/custom/timeline/stories/timeline-item.stories.tsx
  packages/wiz-ui-react/src/components/custom/timeline/stories/timeline.stories.tsx
Labels: none

fix: 不要な変数の削除
  packages/wiz-ui-next/src/components/custom/timeline/timeline-item.vue
Labels: none

feat(input): widthプロパティを使用可能にして、expandを非推奨にする
  packages/styles/bases/date-range-picker.css.ts
  packages/styles/bases/password-input.css.ts
  packages/styles/bases/text-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/base/base.vue
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.vue
  packages/wiz-ui-next/src/components/base/inputs/password/password.vue
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.vue
  packages/wiz-ui-next/src/components/base/inputs/text/text.vue
  packages/wiz-ui-react/src/components/base/inputs/base/components/base-input.tsx
  packages/wiz-ui-react/src/components/base/inputs/date-range-picker/components/date-range-picker.tsx
  packages/wiz-ui-react/src/components/base/inputs/password/components/password-input.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-input.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/search-selector.tsx
  packages/wiz-ui-react/src/components/base/inputs/selectbox/components/selectbox.tsx
  packages/wiz-ui-react/src/components/base/inputs/text/components/text-input.tsx
Labels: none

pnpm changeset
  .changeset/moody-paws-double.md
Labels: none

fix(password, text) widthの初期値をexppandのstyleClassのデフォルト値から、PrivateBaseInputのwidth初期値に変更
  packages/wiz-ui-next/src/components/base/inputs/password/password.vue
  packages/wiz-ui-next/src/components/base/inputs/text/text.vue
  packages/wiz-ui-react/src/components/base/inputs/password/components/password-input.tsx
  packages/wiz-ui-react/src/components/base/inputs/text/components/text-input.tsx
Labels: none

fix: 不要なquotationがあったので削除
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-input.vue
Labels: none

ci: 日によってFontが変わる現象の調査のためにSystemFontのログを表示する
  .github/workflows/visual-regression-test.yml
Labels: 🏭 ci

feat(flat-table-th): `vertical-align: top`
  packages/styles/bases/flat-table.css.ts
Labels: none

chore(flat-table-th): add changeset
  .changeset/chilled-squids-pull.md
Labels: none

chore(deps): update storybook
  package.json
  packages/wiz-ui-next/.storybook/main.js
  packages/wiz-ui-next/.storybook/preview.js
  packages/wiz-ui-next/package.json
  packages/wiz-ui-react/.storybook/main.js
  packages/wiz-ui-react/.storybook/preview.js
  packages/wiz-ui-react/package.json
  pnpm-lock.yaml
Labels: ⬆️ dependencies

fix: build error https://storybook.js.org/docs/essentials/controls
  packages/wiz-ui-next/src/components/base/calendar/calendar.stories.ts
  packages/wiz-ui-next/src/components/base/full-modal-view/full-modal-view.stories.ts
  packages/wiz-ui-next/src/components/base/graphs/circle/circle.stories.ts
  packages/wiz-ui-next/src/components/base/graphs/compare/compare.stories.ts
  packages/wiz-ui-next/src/components/base/graphs/poll/poll.stories.ts
  packages/wiz-ui-next/src/components/base/graphs/transition/transition.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/checkbox-new/checkbox-new.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/radio-new/radio-new.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.stories.ts
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.stories.ts
  packages/wiz-ui-next/src/components/base/progress-bar/progress-bar.stories.ts
  packages/wiz-ui-next/src/components/base/step-bar/step-bar.stories.ts
  packages/wiz-ui-next/src/components/base/tab/tab.stories.ts
  packages/wiz-ui-next/src/components/custom/chat/item/chat-item.stories.ts
  packages/wiz-ui-next/src/components/custom/notification/list/list.stories.ts
  packages/wiz-ui-next/src/components/custom/notification/notification.stories.ts
  packages/wiz-ui-next/src/components/custom/notification/panel/panel.stories.ts
  packages/wiz-ui-next/src/components/custom/schedule/stories/schedule.stories.ts
  packages/wiz-ui-react/src/components/custom/schedule/stories/schedule.stories.tsx
Labels: 🎨 story

chore(storybook): js to ts
  packages/wiz-ui-next/.storybook/main.ts
  packages/wiz-ui-next/.storybook/manager.ts
  packages/wiz-ui-next/.storybook/preview.js
  packages/wiz-ui-next/.storybook/preview.ts
  packages/wiz-ui-next/.storybook/wizTheme.ts
  packages/wiz-ui-next/tsconfig.json
  packages/wiz-ui-react/.storybook/main.ts
  packages/wiz-ui-react/.storybook/manager.ts
  packages/wiz-ui-react/.storybook/preview.js
  packages/wiz-ui-react/.storybook/preview.ts
  packages/wiz-ui-react/.storybook/wizTheme.ts
  packages/wiz-ui-react/tsconfig.json
Labels: none

ci: vrt
  packages/wiz-ui-next/.storybook/preview.js
  packages/wiz-ui-next/.storybook/preview.ts
  packages/wiz-ui-react/.storybook/preview.js
  packages/wiz-ui-react/.storybook/preview.ts
Labels: none

ci: fix `We detected that you use an implicit action arg while playing of your story.`
  package.json
  packages/wiz-ui-next/.storybook/preview.js
  packages/wiz-ui-react/.storybook/preview.js
  pnpm-lock.yaml
Labels: ⬆️ dependencies

chore(deps): update reg
  package.json
  pnpm-lock.yaml
  regconfig.json
Labels: ⬆️ dependencies

chore: update deps
  package.json
  pnpm-lock.yaml
Labels: ⬆️ dependencies

feat(icon): clinical-notes
  packages/constants/component/icon-name.ts
  packages/icons/assets/clinical_notes.svg
  packages/wiz-ui-next/src/components/icons/clinical_notes.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-react/src/components/icons/clinical-notes.tsx
  packages/wiz-ui-react/src/components/icons/index.ts
Labels: none

chore: pnpm changeset
  .changeset/few-squids-laugh.md
Labels: none

fix(icon): rename clinical_notesからclinical-notesに変更
  packages/icons/assets/clinical-notes.svg
  packages/wiz-ui-next/src/components/icons/clinical-notes.vue
  packages/wiz-ui-next/src/components/icons/index.ts
Labels: none

fix(icon): prefix Wizを追加
  packages/constants/component/icon-name.ts
Labels: none

chore(icon): clinical-notes.svgファイルの軽量化
  packages/icons/assets/clinical-notes.svg
Labels: none

fix: width, heightを1remに変更 → コマンド実行
  packages/constants/component/icon-name.ts
  packages/icons/assets/clinical-notes.svg
  packages/wiz-ui-next/src/components/icons/clinical-notes.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-react/src/components/icons/clinical-notes.tsx
  packages/wiz-ui-react/src/components/icons/index.ts
Labels: none

fix(vrt): wait for fonts to load
  packages/wiz-ui-next/.storybook/preview.js
  packages/wiz-ui-react/.storybook/preview.js
Labels: none

fix build error
  packages/wiz-ui-next/src/components/base/card/card.vue
  packages/wiz-ui-next/src/components/base/message-box/message-box.vue
  packages/wiz-ui-next/src/components/base/navigation/item.vue
Labels: none

chore(deps): update turbo
  package.json
  packages/wiz-ui-next/.storybook/main.ts
  packages/wiz-ui-react/.storybook/main.ts
  pnpm-lock.yaml
  turbo.json
Labels: ⬆️ dependencies

ci(deps): use pnpm@10.8.1
  .github/composite/prepare_node/action.yml
Labels: 🏭 ci

chore(deps): update
  package.json
  packages/wiz-ui-next/package.json
  packages/wiz-ui-react/package.json
  pnpm-lock.yaml
Labels: ⬆️ dependencies

fix build error
  examples/react/package.json
  examples/react/vite.config.ts
  examples/vue3/package.json
  examples/vue3/vite.config.ts
Labels: ⬆️ dependencies

storybook
  package.json
  packages/wiz-ui-next/.storybook/main.ts
  packages/wiz-ui-next/src/components/base/buttons/text/text.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/password/password.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/text/text.stories.ts
  packages/wiz-ui-next/src/components/base/textarea/text-area.stories.ts
  packages/wiz-ui-react/.storybook/main.ts
  packages/wiz-ui-react/src/components/base/inputs/date-picker/stories/date-picker.stories.tsx
  packages/wiz-ui-react/src/components/base/inputs/date-range-picker/stories/date-range-picker.stories.tsx
  packages/wiz-ui-react/src/components/base/inputs/password/stories/password-input.stories.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-input/stories/search-input.stories.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-selector/stories/search-selector.stories.tsx
  packages/wiz-ui-react/src/components/base/inputs/selectbox/stories/selectbox.stories.tsx
  packages/wiz-ui-react/src/components/base/inputs/time-picker/stories/time-picker.stories.tsx
  packages/wiz-ui-react/src/components/base/text-area/stories/text-area.stories.tsx
  packages/wiz-ui-react/src/components/custom/chat/stories/chat-card.stories.tsx
  pnpm-lock.yaml
Labels: 🎨 story, ⬆️ dependencies

fix: local storybook
  packages/wiz-ui-next/.storybook/main.ts
  packages/wiz-ui-react/.storybook/main.ts
Labels: none

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"
