Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

docs(popup): 全回り込みパターンをstoryに追加
  packages/wiz-ui-react/src/components/base/popup/stories/playground2.tsx
  packages/wiz-ui-react/src/components/base/popup/stories/wrap/positions.ts
  packages/wiz-ui-react/src/components/base/popup/stories/wrap/template.tsx
  packages/wiz-ui-react/src/components/base/popup/stories/wrap/wrapped-popup.stories.tsx
Labels: none

docs(popup): remove playground2
  packages/wiz-ui-react/src/components/base/popup/stories/popup.stories.tsx
Labels: none

refactor(popup): make wrapping logic type-safe
  packages/wiz-ui-react/src/components/base/popup/types/direction.ts
  packages/wiz-ui-react/src/components/base/popup/utils/wrap.ts
Labels: none

refactor(popup): make wrapping logic pure function
  packages/wiz-ui-react/src/components/base/popup/components/popup.tsx
  packages/wiz-ui-react/src/components/base/popup/utils/wrap.ts
Labels: none

refactor(popup): make placement func pure function
  packages/wiz-ui-react/src/components/base/popup/components/popup.tsx
  packages/wiz-ui-react/src/components/base/popup/types/placement.ts
  packages/wiz-ui-react/src/components/base/popup/utils/placement/on-portal.ts
Labels: none

test(popup): add unit test
  packages/wiz-ui-react/package.json
  packages/wiz-ui-react/src/components/base/popup/test/boundary.test.ts
  packages/wiz-ui-react/src/components/base/popup/test/place-on-portal.test.ts
  packages/wiz-ui-react/src/components/base/popup/test/wrap.test.ts
  packages/wiz-ui-react/src/components/base/popup/utils/index.ts
  packages/wiz-ui-react/src/components/base/popup/utils/wrap.ts
Labels: ✅ test, ⬆️ dependencies

refactor(portal): remove null check
  packages/wiz-ui-react/src/components/base/portal/components/portal.tsx
Labels: none

refactor(popup): early return
  packages/wiz-ui-react/src/components/base/popup/components/popup.tsx
Labels: none

refactor(popup): animation
  packages/wiz-ui-react/src/components/base/popup/hooks/use-popup-animation.ts
Labels: none

docs(popup): vrtでpopupが重ならないようにする
  packages/wiz-ui-react/src/components/base/popup/stories/wrap/template.tsx
Labels: none

feat(portal): マウント先を指定可能にする
  packages/wiz-ui-react/src/components/base/popup/components/popup.tsx
  packages/wiz-ui-react/src/components/base/portal/components/portal.tsx
Labels: none

fix(date-picker/date-range-picker): disabled border style
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.vue
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.vue
  packages/wiz-ui/src/components/base/inputs/date-picker/date-picker.vue
  packages/wiz-ui/src/components/base/inputs/date-range-picker/date-range-picker.vue
Labels: none

docs(date-picker/date-range-picker): test storyのpopupを開いた状態にする
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.stories.ts
Labels: 🎨 story

docs(date-range-picker): vrt
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.stories.ts
Labels: 🎨 story

fix: TextInputの見た目とインターフェースを整備
  packages/wiz-ui-react/src/components/base/inputs/text/components/text.tsx
  packages/wiz-ui-react/src/components/base/inputs/text/stories/text.stories.tsx
Labels: none

fix(popup): 回り込み条件
  packages/wiz-ui-react/src/components/base/popup/utils/wrap.ts
Labels: none

test(popup): fix test case
  packages/wiz-ui-react/src/components/base/popup/test/boundary.test.ts
  packages/wiz-ui-react/src/components/base/popup/test/wrap.test.ts
Labels: ✅ test

chore(test): npm script
  packages/wiz-ui-react/package.json
Labels: ⬆️ dependencies

refactor(popup): 不要なOptional Chainingを削除
  packages/wiz-ui-react/src/components/base/popup/components/popup.tsx
Labels: none

chore(popup): 回り込みはデフォルトで有効
  packages/wiz-ui-react/src/components/base/popup/components/popup.tsx
Labels: none

chore(popup): utilの引数の型名を変更
  packages/wiz-ui-react/src/components/base/popup/test/boundary.test.ts
  packages/wiz-ui-react/src/components/base/popup/test/wrap.test.ts
  packages/wiz-ui-react/src/components/base/popup/utils/wrap.ts
Labels: ✅ test

docs(popup): lint
  packages/wiz-ui-react/src/components/base/popup/stories/playground.tsx
  packages/wiz-ui-react/src/components/base/popup/stories/wrap/template.tsx
Labels: none

fix(popup): gap direction
  packages/wiz-ui-react/src/components/base/popup/test/place-on-portal.test.ts
  packages/wiz-ui-react/src/components/base/popup/utils/placement/on-portal.ts
Labels: ✅ test

docs(gap): add story
  packages/wiz-ui-react/src/components/base/popup/stories/gap-direction.tsx
  packages/wiz-ui-react/src/components/base/popup/stories/popup.stories.tsx
Labels: none

refactor(popup): 型名を単数形に
  packages/wiz-ui-react/src/components/base/popup/components/popup.tsx
  packages/wiz-ui-react/src/components/base/popup/stories/common.ts
  packages/wiz-ui-react/src/components/base/popup/types/direction.ts
  packages/wiz-ui-react/src/components/base/popup/utils/placement/on-child.ts
  packages/wiz-ui-react/src/components/base/popup/utils/placement/on-portal.ts
  packages/wiz-ui-react/src/components/base/popup/utils/wrap.ts
Labels: none

chore(popup): direction-value型のヘルパー関数をutilsに移動
  packages/wiz-ui-react/src/components/base/popup/types/direction.ts
  packages/wiz-ui-react/src/components/base/popup/utils/direction-value.ts
  packages/wiz-ui-react/src/components/base/popup/utils/wrap.ts
Labels: none

refactor(popup): direction-mapを変更
  packages/wiz-ui-react/src/components/base/popup/test/boundary.test.ts
  packages/wiz-ui-react/src/components/base/popup/test/place-on-portal.test.ts
  packages/wiz-ui-react/src/components/base/popup/test/wrap.test.ts
  packages/wiz-ui-react/src/components/base/popup/types/direction.ts
  packages/wiz-ui-react/src/components/base/popup/utils/direction-value.ts
  packages/wiz-ui-react/src/components/base/popup/utils/placement/on-child.ts
  packages/wiz-ui-react/src/components/base/popup/utils/placement/on-portal.ts
  packages/wiz-ui-react/src/components/base/popup/utils/wrap.ts
Labels: ✅ test

refactor(popup): utils
  packages/wiz-ui-react/src/components/base/popup/test/boundary.test.ts
  packages/wiz-ui-react/src/components/base/popup/test/place-on-portal.test.ts
  packages/wiz-ui-react/src/components/base/popup/test/wrap.test.ts
  packages/wiz-ui-react/src/components/base/popup/utils/wrap.ts
Labels: ✅ test

refactor(popup): wrap
  packages/wiz-ui-react/src/components/base/popup/utils/wrap.ts
Labels: none

feat(popup): gapを回り込み条件に考慮
  packages/wiz-ui-react/src/components/base/popup/components/popup.tsx
  packages/wiz-ui-react/src/components/base/popup/test/boundary.test.ts
  packages/wiz-ui-react/src/components/base/popup/test/wrap.test.ts
  packages/wiz-ui-react/src/components/base/popup/utils/wrap.ts
Labels: ✅ test

fix(popup): gapを考慮した回り込み条件
  packages/wiz-ui-react/src/components/base/popup/utils/wrap.ts
Labels: none

docs(popup): vrt
  packages/wiz-ui-react/src/components/base/popup/stories/default.tsx
Labels: none

chore(popup): remove console.log
  packages/wiz-ui-react/src/components/base/popup/components/popup.tsx
Labels: none

feat: contextによる制御を追加
  packages/wiz-ui-react/src/components/base/inputs/text/components/text.tsx
  packages/wiz-ui-react/src/components/base/inputs/text/stories/text.stories.tsx
  packages/wiz-ui-react/src/components/custom/form/form-control-context.ts
Labels: none

refactor: memoを外してforwardRef化
  packages/wiz-ui-react/src/components/base/inputs/text/components/text.tsx
Labels: none

refactor: ファイルをリネーム
  packages/wiz-ui-react/src/components/base/inputs/text/components/index.ts
  packages/wiz-ui-react/src/components/base/inputs/text/components/text-input.tsx
  packages/wiz-ui-react/src/components/base/inputs/text/stories/text.stories.tsx
Labels: none

refactor: 不要な宣言の削除
  packages/wiz-ui-react/src/components/base/inputs/text/components/text-input.tsx
Labels: none

chore: add changeset
  .changeset/healthy-balloons-try.md
Labels: none

chore: checkbox name を追加
  packages/constants/component/name.ts
Labels: none

fix: 見た目とインターフェースを整備
  packages/wiz-ui-react/src/components/base/inputs/checkbox/components/checkbox.tsx
  packages/wiz-ui-react/src/components/base/inputs/checkbox/stories/checkbox.stories.tsx
Labels: none

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"
