Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"

WizTinyButtonを追加
  packages/constants/component/name.ts
  packages/styles/bases/tiny-button.css.ts
  packages/wiz-ui-next/src/components/base/buttons/tiny/index.ts
  packages/wiz-ui-next/src/components/base/buttons/tiny/tiny.stories.ts
  packages/wiz-ui-next/src/components/base/buttons/tiny/tiny.vue
  packages/wiz-ui/src/components/base/buttons/tiny/index.ts
  packages/wiz-ui/src/components/base/buttons/tiny/tiny.stories.ts
  packages/wiz-ui/src/components/base/buttons/tiny/tiny.vue
Labels: 🎨 story

fix
  packages/wiz-ui/src/components/base/buttons/tiny/tiny.stories.ts
Labels: 🎨 story

4パターンのtinyButtonに対応
  packages/styles/bases/tiny-button.css.ts
  packages/wiz-ui-next/src/components/base/buttons/tiny/tiny.stories.ts
  packages/wiz-ui-next/src/components/base/buttons/tiny/tiny.vue
  packages/wiz-ui/src/components/base/buttons/tiny/tiny.stories.ts
  packages/wiz-ui/src/components/base/buttons/tiny/tiny.vue
Labels: 🎨 story

fix:search-stories
  packages/wiz-ui-next/src/components/base/inputs/search/search.stories.ts
  packages/wiz-ui/src/components/base/inputs/search/search.stories.ts
Labels: 🎨 story

fix:bugfix
  packages/constants/component/name.ts
Labels: none

fix:search-stories
  packages/wiz-ui-next/src/components/base/inputs/search/search.stories.ts
  packages/wiz-ui/src/components/base/inputs/search/search.stories.ts
Labels: 🎨 story

Revert "TextButtonのSizeオプションからxsを削除"
  packages/styles/bases/text-button.css.ts
  packages/wiz-ui-next/src/components/base/buttons/text/text.stories.ts
  packages/wiz-ui-next/src/components/base/buttons/text/text.vue
  packages/wiz-ui/src/components/base/buttons/text/text.stories.ts
  packages/wiz-ui/src/components/base/buttons/text/text.vue
Labels: 🎨 story

tiny-buttonを修正
  packages/styles/bases/tiny-button.css.ts
  packages/wiz-ui-next/src/components/base/buttons/tiny/tiny.stories.ts
  packages/wiz-ui-next/src/components/base/buttons/tiny/tiny.vue
  packages/wiz-ui/src/components/base/buttons/tiny/tiny.stories.ts
  packages/wiz-ui/src/components/base/buttons/tiny/tiny.vue
Labels: 🎨 story

docs(text-button): Angledの説明を修正
  packages/wiz-ui/src/components/base/buttons/text/text.stories.ts
Labels: 🎨 story

ci(storybook): extend heap memory when build
  packages/wiz-ui-next/package.json
  packages/wiz-ui/package.json
Labels: ⬆️ dependencies

fix(tiny-button): roundオプションの削除
  packages/wiz-ui-next/src/components/base/buttons/tiny/tiny.stories.ts
  packages/wiz-ui-next/src/components/base/buttons/tiny/tiny.vue
  packages/wiz-ui/src/components/base/buttons/tiny/tiny.stories.ts
  packages/wiz-ui/src/components/base/buttons/tiny/tiny.vue
Labels: 🎨 story

fix(tiny-button): 選択可能な時onClickイベントを発火
  packages/wiz-ui-next/src/components/base/buttons/tiny/tiny.vue
  packages/wiz-ui/src/components/base/buttons/tiny/tiny.vue
Labels: none

refactor(tiny-button): スタイルの指定方法を変更
  packages/styles/bases/tiny-button.css.ts
  packages/wiz-ui-next/src/components/base/buttons/tiny/tiny.vue
  packages/wiz-ui/src/components/base/buttons/tiny/tiny.vue
Labels: none

docs(tiny-button): StoryBookの修正
  packages/wiz-ui-next/src/components/base/buttons/tiny/tiny.stories.ts
  packages/wiz-ui/src/components/base/buttons/tiny/tiny.stories.ts
Labels: 🎨 story

fix(tiny-button): スタイルの修正
  packages/styles/bases/tiny-button.css.ts
Labels: none

ci(deploy-storybook): トリガーのパスフィルタを削除
  .github/workflows/deploy-storybook.yml
Labels: 🏭 ci

fix(tiny-button): デフォルトをActiveに修正
  packages/wiz-ui-next/src/components/base/buttons/tiny/tiny.vue
  packages/wiz-ui/src/components/base/buttons/tiny/tiny.vue
Labels: none

fix(tiny-button): iconの色を変更
  packages/wiz-ui-next/src/components/base/buttons/tiny/tiny.vue
  packages/wiz-ui/src/components/base/buttons/tiny/tiny.vue
Labels: none

docs(tiny-button): 設定値を変更
  packages/wiz-ui-next/src/components/base/buttons/tiny/tiny.stories.ts
  packages/wiz-ui/src/components/base/buttons/tiny/tiny.stories.ts
Labels: 🎨 story

feat(icons): カメラアイコンを追加
  packages/constants/component/name.ts
  packages/wiz-ui-next/src/components/icons/camera.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui/src/components/icons/camera.vue
  packages/wiz-ui/src/components/icons/index.ts
Labels: none

ci(storybook): build時のメモリを増設
  packages/wiz-ui-next/package.json
  packages/wiz-ui/package.json
Labels: ⬆️ dependencies

feat(wiztext): text-alignプロパティを追加
  packages/styles/bases/text.css.ts
  packages/wiz-ui-next/src/components/base/text/text.stories.ts
  packages/wiz-ui-next/src/components/base/text/text.vue
  packages/wiz-ui/src/components/base/text/text.stories.ts
  packages/wiz-ui/src/components/base/text/text.vue
Labels: 🎨 story

fix(calender): 当月以外の日付のコントラストを落とす
  packages/styles/bases/calendar.css.ts
  packages/wiz-ui/src/components/base/calendar/calendar.vue
Labels: none

fix(calender): wiz-ui-nextに当月以外の日付のコントラストを落とす変更を適用
  packages/wiz-ui-next/src/components/base/calendar/calendar.vue
Labels: none

feat(toggle-button): isActiveをmodelValueとして外部で管理
  packages/wiz-ui-next/src/components/base/buttons/toggle/toggle.vue
  packages/wiz-ui/src/components/base/buttons/toggle/toggle.vue
Labels: none

docs(toggle-button): StoryBookを更新
  packages/wiz-ui-next/src/components/base/buttons/toggle/toggle.stories.ts
  packages/wiz-ui/src/components/base/buttons/toggle/toggle.stories.ts
Labels: 🎨 story

fix(toggle-button): v-modelのrequiredをtrueにする
  packages/wiz-ui-next/src/components/base/buttons/toggle/toggle.vue
  packages/wiz-ui/src/components/base/buttons/toggle/toggle.vue
Labels: none

docs(toggle-button): StoryBookを修正
  packages/wiz-ui-next/src/components/base/buttons/toggle/toggle.stories.ts
  packages/wiz-ui/src/components/base/buttons/toggle/toggle.stories.ts
Labels: 🎨 story

fix(toggle-switch): Labelをつける
  packages/wiz-ui-next/src/components/base/inputs/toggle-switch/toggle-switch.vue
  packages/wiz-ui/src/components/base/inputs/toggle-switch/toggle-switch.vue
Labels: none

refactor(calender): dayOfWeekとして曜日名にスタイルをあてる
  packages/styles/bases/calendar.css.ts
  packages/wiz-ui-next/src/components/base/calendar/calendar.vue
  packages/wiz-ui/src/components/base/calendar/calendar.vue
Labels: none

命名の変更
  packages/wiz-ui-next/src/components/base/inputs/upload/upload.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/upload/upload.vue
  packages/wiz-ui/src/components/base/inputs/upload/upload.stories.ts
  packages/wiz-ui/src/components/base/inputs/upload/upload.vue
Labels: 🎨 story

ci
  packages/wiz-ui-next/src/components/base/inputs/upload/upload.stories.ts
  packages/wiz-ui/src/components/base/inputs/upload/upload.stories.ts
Labels: 🎨 story

release(Vue2/Vue3): v0.6.1
  packages/wiz-ui-next/package.json
  packages/wiz-ui-next/src/index.ts
  packages/wiz-ui/package.json
  packages/wiz-ui/src/index.ts
Labels: ⬆️ dependencies

fix(menu-item): アイテム外でクリックを離したとき非アクティブにする
  packages/wiz-ui-next/src/components/base/menu/menu-item.vue
  packages/wiz-ui/src/components/base/menu/menu-item.vue
Labels: none

refactor(menu-item): onMouseDownからactivateに関数名を変更
  packages/wiz-ui-next/src/components/base/menu/menu-item.vue
  packages/wiz-ui/src/components/base/menu/menu-item.vue
Labels: none

feat(icons): home, public, store-frontの追加
  packages/constants/component/name.ts
  packages/wiz-ui-next/src/components/icons/home.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-next/src/components/icons/public.vue
  packages/wiz-ui-next/src/components/icons/store-front.vue
  packages/wiz-ui/src/components/icons/home.vue
  packages/wiz-ui/src/components/icons/index.ts
  packages/wiz-ui/src/components/icons/public.vue
  packages/wiz-ui/src/components/icons/store-front.vue
Labels: none

ci: cache yarn cache dir
  .github/composite/prepare_node/action.yml
  .github/workflows/build-check.yml
  .github/workflows/deploy-storybook.yml
  .github/workflows/deploy-vitest.yml
  .github/workflows/lint.yml
  .github/workflows/publish-check-vue2.yml
  .github/workflows/publish-check-vue3.yml
  .github/workflows/publish-library-vue2.yml
  .github/workflows/publish-library-vue3.yml
  .github/workflows/test.yml
  .github/workflows/visual-regression-test.yml
Labels: 🏭 ci

ci: cache yarn cache dir
  .github/composite/prepare_node/action.yml
Labels: 🏭 ci

docs: pull request templateを修正
  .github/PULL_REQUEST_TEMPLATE.md
Labels: 🏭 ci

release(Vue2/Vue3): v0.6.2
  packages/wiz-ui-next/package.json
  packages/wiz-ui-next/src/index.ts
  packages/wiz-ui/package.json
  packages/wiz-ui/src/index.ts
Labels: ⬆️ dependencies
