Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"

[#1119] Table の Story の規格を統一
  packages/wiz-ui-next/src/components/base/tables/card/table.stories.ts
  packages/wiz-ui-next/src/components/base/tables/flat/table.stories.ts
  packages/wiz-ui-next/src/components/base/tables/unstyled/table.stories.ts
  packages/wiz-ui-react/src/components/base/tables/card/stories/card-table.stories.tsx
  packages/wiz-ui-react/src/components/base/tables/flat/stories/flat-table.stories.tsx
  packages/wiz-ui-react/src/components/base/tables/unstyled/stories/unstyled-table.stories.tsx
Labels: 🎨 story

[#1139] Labelが複数行の場合の Story を追加
  packages/wiz-ui-next/src/components/base/inputs/checkbox-new/checkbox-new.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/radio-new/radio-new.stories.ts
  packages/wiz-ui-react/src/components/base/inputs/checkbox-new/stories/checkbox-new.stories.tsx
  packages/wiz-ui-react/src/components/base/inputs/radio-new/stories/radio-new.stories.tsx
Labels: 🎨 story

[#1139] add changeset
  .changeset/brave-hornets-promise.md
Labels: none

[#1139] input の位置を調整
  packages/styles/bases/checkbox-new.css.ts
  packages/styles/bases/radio-new.css.ts
  packages/wiz-ui-next/src/components/base/inputs/checkbox-new/checkbox-new.vue
  packages/wiz-ui-next/src/components/base/inputs/radio-new/radio-new.vue
  packages/wiz-ui-react/src/components/base/inputs/checkbox-new/components/checkbox-new.tsx
  packages/wiz-ui-react/src/components/base/inputs/radio-new/components/radio-new.tsx
Labels: none

feat(icon): add domain and family-home icons
  packages/constants/component/icon-name.ts
  packages/icons/assets/domain.svg
  packages/icons/assets/family-home.svg
  packages/wiz-ui-next/src/components/icons/domain.vue
  packages/wiz-ui-next/src/components/icons/family-home.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-react/src/components/icons/domain.tsx
  packages/wiz-ui-react/src/components/icons/family-home.tsx
  packages/wiz-ui-react/src/components/icons/index.ts
Labels: none

chore(icon): add changeset
  .changeset/dirty-experts-trade.md
Labels: none

feat(textarea): add resize, min-max height width props
  packages/wiz-ui-react/src/components/base/text-area/components/text-area.tsx
Labels: none

feat(information-panel): textプロパティにコンポーネントを渡せるよう変更
  packages/wiz-ui-next/src/components/base/information-panel/information-panel.stories.ts
  packages/wiz-ui-next/src/components/base/information-panel/information-panel.vue
  packages/wiz-ui-react/src/components/base/information-panel/components/information-panel.tsx
  packages/wiz-ui-react/src/components/base/information-panel/stories/information-panel.stories.tsx
Labels: 🎨 story

chore(information-panel): add changeset
  .changeset/tough-bobcats-cough.md
Labels: none

fix(icon): import WizIDomain
  packages/wiz-ui-next/src/components/icons/index.ts
Labels: none

[#1130] Story の bgColor 修正
  packages/wiz-ui-next/src/components/base/navigation/container.stories.ts
  packages/wiz-ui-react/src/components/base/navigation/stories/navigation-container.stories.tsx
Labels: 🎨 story

[#1130] Width の default 値を設定
  packages/wiz-ui-next/src/components/base/navigation/container.vue
  packages/wiz-ui-react/src/components/base/navigation/components/navigation-container.tsx
Labels: none

feat(text-area): resize, min-max height widthのVue対応
  packages/wiz-ui-next/src/components/base/textarea/text-area.stories.ts
  packages/wiz-ui-next/src/components/base/textarea/text-area.vue
Labels: 🎨 story

chore(text): add changeset
  .changeset/ninety-seas-battle.md
Labels: none

feat(information-panel): リンク表示機能のVue対応
  packages/wiz-ui-next/src/components/base/information-panel/information-panel.stories.ts
  packages/wiz-ui-next/src/components/base/information-panel/information-panel.vue
Labels: 🎨 story

feat(icons): drafts, forward-to-inbox icon
  packages/constants/component/icon-name.ts
  packages/icons/assets/drafts.svg
  packages/icons/assets/forward-to-inbox.svg
  packages/wiz-ui-next/src/components/icons/drafts.vue
  packages/wiz-ui-next/src/components/icons/forward-to-inbox.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-react/src/components/icons/drafts.tsx
  packages/wiz-ui-react/src/components/icons/forward-to-inbox.tsx
  packages/wiz-ui-react/src/components/icons/index.ts
Labels: none

chore(icons): add changeset
  .changeset/modern-garlics-divide.md
Labels: none

feat(timeline-item): 黄色・灰色アイコンを指定可能にする
  packages/styles/customs/timeline.css.ts
  packages/wiz-ui-next/src/components/custom/timeline/stories/timeline-item.stories.ts
  packages/wiz-ui-next/src/components/custom/timeline/timeline-item.vue
  packages/wiz-ui-react/src/components/custom/timeline/components/timeline-item.tsx
  packages/wiz-ui-react/src/components/custom/timeline/stories/timeline-item.stories.tsx
Labels: 🎨 story

feat(timeline-item): annotationをカスタマイズ可能に
  packages/wiz-ui-next/src/components/custom/timeline/stories/timeline-item.stories.ts
  packages/wiz-ui-next/src/components/custom/timeline/timeline-item.vue
  packages/wiz-ui-react/src/components/custom/timeline/components/timeline-item.tsx
  packages/wiz-ui-react/src/components/custom/timeline/stories/timeline-item.stories.tsx
Labels: 🎨 story

fix(timeline-item): variant追加に伴うtag色対応
  packages/wiz-ui-next/src/components/custom/timeline/timeline-item.vue
  packages/wiz-ui-react/src/components/custom/timeline/components/timeline-item.tsx
Labels: none

chore(timeline-item): add changeset
  .changeset/three-apricots-speak.md
Labels: none

refactor(information-panel): messagesの型指定を修正
  packages/wiz-ui-react/src/components/base/information-panel/components/information-panel.tsx
  packages/wiz-ui-react/src/components/base/information-panel/stories/information-panel.stories.tsx
Labels: none

docs(text-area): add resize story
  packages/wiz-ui-next/src/components/base/textarea/text-area.stories.ts
  packages/wiz-ui-react/src/components/base/text-area/stories/text-area.stories.tsx
Labels: 🎨 story

docs(timeline-item): update comment
  packages/wiz-ui-next/src/components/custom/timeline/timeline-item.vue
Labels: none

docs(timeline-item): update with-annotation story
  packages/wiz-ui-next/src/components/custom/timeline/stories/timeline-item.stories.ts
  packages/wiz-ui-react/src/components/custom/timeline/stories/timeline-item.stories.tsx
Labels: 🎨 story

[#1140] Error 原因箇所の修正
  packages/wiz-ui-react/src/components/base/inputs/date-range-picker/components/date-range-picker.tsx
Labels: none

[#1139] Storybook 修正
  packages/wiz-ui-next/src/components/base/inputs/checkbox-new/checkbox-new.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/radio-new/radio-new.stories.ts
  packages/wiz-ui-react/src/components/base/inputs/checkbox-new/stories/checkbox-new.stories.tsx
  packages/wiz-ui-react/src/components/base/inputs/radio-new/stories/radio-new.stories.tsx
Labels: 🎨 story

chore(timeline-item): variant名を変更
  packages/styles/customs/timeline.css.ts
  packages/wiz-ui-next/src/components/custom/timeline/stories/timeline-item.stories.ts
  packages/wiz-ui-react/src/components/custom/timeline/components/timeline-item.tsx
  packages/wiz-ui-react/src/components/custom/timeline/stories/timeline-item.stories.tsx
Labels: 🎨 story

fix(timeline-item): tag color map
  packages/wiz-ui-next/src/components/custom/timeline/timeline-item.vue
Labels: none

Revert "Version Packages"
  .changeset/modern-garlics-divide.md
  .changeset/silly-cooks-applaud.md
  packages/constants/CHANGELOG.md
  packages/constants/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/wiz-ui-next/CHANGELOG.md
  packages/wiz-ui-next/package.json
  packages/wiz-ui-react/CHANGELOG.md
  packages/wiz-ui-react/package.json
Labels: ⬆️ dependencies

chore: changesetの設定ミスを修正
  .changeset/chatty-scissors-mix.md
Labels: none

feat(timeline): iconカスタマイズ機能を追加
  packages/wiz-ui-next/src/components/custom/timeline/timeline-item.vue
  packages/wiz-ui-react/src/components/custom/timeline/components/timeline-item.tsx
Labels: none

docs(timeline): add icon story
  packages/wiz-ui-next/src/components/custom/timeline/stories/timeline-item.stories.ts
  packages/wiz-ui-react/src/components/custom/timeline/stories/timeline-item.stories.tsx
Labels: 🎨 story

chore(timeline): add changeset
  .changeset/big-tables-retire.md
Labels: none

fix(timeline-item): type error
  packages/wiz-ui-next/src/components/custom/timeline/timeline-item.vue
Labels: none

[#1139] Checkbbox, Radio の margin 指定方法を修正
  packages/styles/bases/checkbox-new.css.ts
  packages/styles/bases/radio-new.css.ts
Labels: none

[#1137] Avatar の bgColor を random で生成されるように修正
  .changeset/cool-knives-play.md
  packages/wiz-ui-next/src/components/base/avatar/avatar.stories.ts
  packages/wiz-ui-next/src/components/base/avatar/avatar.vue
  packages/wiz-ui-react/src/components/base/avatar/components/avatar.tsx
  packages/wiz-ui-react/src/components/base/avatar/stories/avatar.stories.tsx
Labels: 🎨 story

feat: vueとreactのインターフェースを統一する
  packages/wiz-ui-next/src/components/base/information-panel/information-panel.stories.ts
  packages/wiz-ui-next/src/components/base/information-panel/information-panel.vue
  packages/wiz-ui-react/src/components/base/information-panel/stories/information-panel.stories.tsx
Labels: 🎨 story

fix: コンポーネントを受け付ける型をComponentに変更
  packages/wiz-ui-next/src/components/base/information-panel/information-panel.vue
Labels: none

docs: VNodeの再レンダリング時にバグる問題解消
  packages/wiz-ui-next/src/components/base/information-panel/information-panel.stories.ts
Labels: 🎨 story
