Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"

chore(button): patch → minorに変更
  .changeset/ten-jars-yell.md
Labels: none

新しいcheckboxを追加
  packages/constants/component/name.ts
  packages/styles/bases/checkbox-new.css.ts
  packages/wiz-ui-next/src/components/base/inputs/checkbox-new/checkbox-new.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/checkbox-new/checkbox-new.vue
  packages/wiz-ui-next/src/components/base/inputs/checkbox-new/index.ts
  packages/wiz-ui-next/src/components/base/inputs/index.ts
  packages/wiz-ui-react/src/components/base/inputs/checkbox-new/components/checkbox-new.tsx
  packages/wiz-ui-react/src/components/base/inputs/checkbox-new/components/index.ts
  packages/wiz-ui-react/src/components/base/inputs/checkbox-new/index.ts
  packages/wiz-ui-react/src/components/base/inputs/checkbox-new/stories/checkbox-new.stories.tsx
  packages/wiz-ui-react/src/components/base/inputs/index.ts
Labels: 🎨 story

refactor
  packages/wiz-ui-next/src/components/base/inputs/checkbox-new/checkbox-new.vue
Labels: none

chore: changeset
  .changeset/olive-dingos-jam.md
Labels: none

chore: add deprecated
  packages/wiz-ui-react/src/components/base/inputs/checkbox/components/checkbox.tsx
Labels: none

chore(search-input): tagのlineHeight指定は不要
  packages/styles/bases/search-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-popup-panel.tsx
Labels: none

fix(search-input): tag lineHeight
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-popup.vue
Labels: none

chore: pnpm-workspaceからdocsを削除
  pnpm-workspace.yaml
Labels: none

chore: update storybook & storycap
  package.json
  packages/wiz-ui-next/.storybook/main.js
  packages/wiz-ui-next/package.json
  packages/wiz-ui-react/.storybook/main.js
  packages/wiz-ui-react/package.json
  packages/wiz-ui/package.json
  pnpm-lock.yaml
Labels: ⬆️ dependencies

Revert "chore: update storybook & storycap"
  package.json
  packages/wiz-ui-next/.storybook/main.js
  packages/wiz-ui-next/package.json
  packages/wiz-ui-react/.storybook/main.js
  packages/wiz-ui-react/package.json
  packages/wiz-ui/package.json
  pnpm-lock.yaml
Labels: ⬆️ dependencies

chore: storycap command
  packages/wiz-ui-next/package.json
  packages/wiz-ui-react/package.json
  packages/wiz-ui/package.json
Labels: ⬆️ dependencies

[#1008] 検索の仕様修正
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui/src/components/base/inputs/search-input/search-input.vue
Labels: none

[#1043] feat: React 対応
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-input.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-popup-panel.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/types.ts
  packages/wiz-ui-react/src/components/base/inputs/search-input/stories/dummy-data.ts
  packages/wiz-ui-react/src/components/base/inputs/search-input/stories/search-input.stories.tsx
Labels: none

[#1043] Options の型修正
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-input.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-popup-panel.tsx
Labels: none

[#1043] Play 関数追加
  packages/wiz-ui-react/src/components/base/inputs/search-input/stories/search-input.stories.tsx
Labels: none

[#989] Notification Panel デザイン修正 (React)
  .changeset/green-stingrays-sing.md
  packages/wiz-ui-react/src/components/custom/notification/components/notification-panel.tsx
  packages/wiz-ui-react/src/components/custom/notification/stories/notification-panel.stories.tsx
Labels: none

[#979] Fade in out のバグ修正（React）
  .changeset/modern-windows-sip.md
  packages/wiz-ui-react/src/components/base/popup/components/popup.tsx
Labels: none

feat: WizRadioNewのReactを追加
  packages/constants/component/name.ts
  packages/styles/bases/radio-new.css.ts
  packages/wiz-ui-react/src/components/base/inputs/index.ts
  packages/wiz-ui-react/src/components/base/inputs/radio-new/components/index.ts
  packages/wiz-ui-react/src/components/base/inputs/radio-new/components/radio-new.tsx
  packages/wiz-ui-react/src/components/base/inputs/radio-new/index.ts
  packages/wiz-ui-react/src/components/base/inputs/radio-new/stories/radio-new.stories.tsx
Labels: none

fix: fix style
  packages/styles/bases/checkbox-new.css.ts
Labels: none

fix: icon position
  packages/styles/bases/checkbox-new.css.ts
  packages/wiz-ui-react/src/components/base/inputs/checkbox-new/components/checkbox-new.tsx
Labels: none

fix: watch input checked state
  packages/wiz-ui-next/src/components/base/inputs/checkbox-new/checkbox-new.vue
Labels: none

fix: icon position (vue)
  packages/wiz-ui-next/src/components/base/inputs/checkbox-new/checkbox-new.vue
Labels: none

chore: refactor story
  packages/wiz-ui-react/src/components/base/inputs/checkbox-new/stories/checkbox-new.stories.tsx
Labels: none

feat: WizRadioNewをVueに追加
  packages/styles/bases/radio-new.css.ts
  packages/wiz-ui-next/src/components/base/inputs/index.ts
  packages/wiz-ui-next/src/components/base/inputs/radio-new/index.ts
  packages/wiz-ui-next/src/components/base/inputs/radio-new/radio-new.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/radio-new/radio-new.vue
  packages/wiz-ui-react/src/components/base/inputs/radio-new/stories/radio-new.stories.tsx
  packages/wiz-ui-react/src/components/base/inputs/radio/components/radio.tsx
Labels: 🎨 story

chore: changeset
  .changeset/lemon-guests-kneel.md
Labels: none

fix: bordered時の高さ調整
  packages/styles/bases/checkbox-new.css.ts
Labels: none

[#998] Timepicker の 余白調整
  packages/styles/bases/time-picker-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/timepicker/time-picker.vue
  packages/wiz-ui-react/src/components/base/inputs/time-picker/components/time-picker.tsx
  packages/wiz-ui/src/components/base/inputs/timepicker/time-picker.vue
Labels: none

fix: fix style
  packages/styles/bases/checkbox-new.css.ts
  packages/wiz-ui-react/src/components/base/inputs/checkbox-new/components/checkbox-new.tsx
Labels: none

fix: fix style
  packages/styles/bases/checkbox-new.css.ts
Labels: none

fix: fix style
  packages/styles/bases/radio-new.css.ts
Labels: none

chore(deps): add serve
  package.json
  pnpm-lock.yaml
Labels: ⬆️ dependencies

Revert "chore(deps): add serve"
  package.json
  pnpm-lock.yaml
Labels: ⬆️ dependencies

ci(storycap): http-serverに戻す
  packages/wiz-ui-next/package.json
  packages/wiz-ui-react/package.json
  packages/wiz-ui/package.json
Labels: ⬆️ dependencies

ci(storycap): http://0.0.0.0:port に変更
  packages/wiz-ui-next/package.json
  packages/wiz-ui-react/package.json
  packages/wiz-ui/package.json
Labels: ⬆️ dependencies

ci(storycap): http://127.0.0.1:port に変更
  packages/wiz-ui-next/package.json
  packages/wiz-ui-react/package.json
  packages/wiz-ui/package.json
Labels: ⬆️ dependencies

Revert "chore: remove vuepress"
  packages/vuepress-plugin-wiz-ui/CHANGELOG.md
  packages/vuepress-plugin-wiz-ui/package.json
  packages/vuepress-plugin-wiz-ui/src/enhanceAppFiles.js
  packages/vuepress-plugin-wiz-ui/src/index.js
  packages/vuepress-plugin-wiz-ui/src/mdPlugin.js
  packages/vuepress-plugin-wiz-ui/src/util.js
  pnpm-lock.yaml
Labels: ⬆️ dependencies

Revert "chore: remove docs"
  docs/.npmignore
  docs/package.json
  docs/src/.vuepress/components/dialog/default.vue
  docs/src/.vuepress/config.ts
  docs/src/.vuepress/config/sidebar.ts
  docs/src/.vuepress/enhanceApp.ts
  docs/src/.vuepress/styles/index.styl
  docs/src/.vuepress/styles/palette.styl
  docs/src/component/base/dialog.md
  docs/src/component/base/message-box.md
  docs/src/component/base/text-button.md
  docs/src/component/custom/a.md
  docs/src/component/index.md
  docs/src/guide/contributing.md
  docs/src/guide/develop.md
  docs/src/guide/index.md
  docs/src/guide/setup.md
  docs/src/guide/structure.md
  docs/src/index.md
  pnpm-lock.yaml
Labels: 📝 docs, ⬆️ dependencies

Revert "chore: pnpm-workspaceからdocsを削除"
  pnpm-workspace.yaml
Labels: none

chore: update lock.yaml
  pnpm-lock.yaml
Labels: none

chore: update lock.yaml
  pnpm-lock.yaml
Labels: none
