Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

release: v0.1.4
  packages/wiz-ui/package.json
  packages/wiz-ui/src/index.ts
Labels: ⬆️ dependencies

fix:selectboxのstyle調整
  packages/wiz-ui/src/components/base/inputs/selectbox/selectbox.vue
Labels: none

Update README.md
  README.md
Labels: none

fix:selectbox
  packages/wiz-ui/src/components/base/inputs/selectbox/selectbox.stories.ts
Labels: 🎨 story

fix:selectboxの修正
  packages/wiz-ui/src/components/base/inputs/selectbox/selectbox.stories.ts
  packages/wiz-ui/src/components/base/inputs/selectbox/selectbox.vue
  packages/wiz-ui/src/components/base/stack/h-stack.vue
Labels: 🎨 story

fix:toggle-switchの修正
  packages/wiz-ui/src/components/base/inputs/toggle-switch/toggle-switch.stories.ts
  packages/wiz-ui/src/components/base/inputs/toggle-switch/toggle-switch.vue
Labels: 🎨 story

feat: outside click hookを作成
  packages/wiz-ui/src/hooks/use-click-outside.ts
Labels: none

feat: outside clickの動作環境を確保
  packages/wiz-ui/src/components/base/popup/popup.stories.ts
  packages/wiz-ui/src/components/base/popup/popup.vue
Labels: 🎨 story

feat: popupの逃げロジックを完成
  packages/wiz-ui/src/components/base/popup/index.ts
  packages/wiz-ui/src/components/base/popup/popup-container.vue
  packages/wiz-ui/src/components/base/popup/popup.stories.ts
  packages/wiz-ui/src/components/base/popup/popup.vue
  packages/wiz-ui/src/components/base/popup/provider.ts
  packages/wiz-ui/src/constants/component/name.ts
  packages/wiz-ui/src/hooks/use-click-outside.ts
Labels: 🎨 story

fix: outsideclickの挙動修正
  packages/wiz-ui/src/components/base/popup/popup-container.vue
  packages/wiz-ui/src/components/base/popup/popup.stories.ts
  packages/wiz-ui/src/components/base/popup/popup.vue
  packages/wiz-ui/src/hooks/use-click-outside.ts
Labels: 🎨 story

fix: 親でクリック監視を持つことでこノードのクリックバリデーションに対応
  packages/wiz-ui/src/components/base/popup/popup-container.vue
  packages/wiz-ui/src/components/base/popup/popup.stories.ts
  packages/wiz-ui/src/components/base/popup/popup.vue
Labels: 🎨 story

feat: popup managerの完成
  packages/wiz-ui/src/components/base/popup/popup-container.vue
  packages/wiz-ui/src/components/base/popup/popup.stories.ts
  packages/wiz-ui/src/components/base/popup/popup.vue
  packages/wiz-ui/src/components/base/popup/provider.ts
Labels: 🎨 story

fix: storybookが正常に動作するように修正
  packages/wiz-ui/src/components/base/popup/popup.stories.ts
Labels: 🎨 story

fix: popupをコミットに含めるのを忘れていたので修正
  packages/wiz-ui/src/components/base/index.ts
Labels: none

feat: Headerをpopup managerに対応
  packages/wiz-ui/src/components/base/popup/popup.vue
  packages/wiz-ui/src/components/custom/header/header.vue
Labels: none

feat: BaseHeaderに共通部分を移植
  packages/wiz-ui/src/components/base/header/header.stories.ts
  packages/wiz-ui/src/components/base/header/header.vue
  packages/wiz-ui/src/components/base/header/index.ts
  packages/wiz-ui/src/components/base/index.ts
  packages/wiz-ui/src/components/custom/header/header.stories.ts
  packages/wiz-ui/src/components/custom/header/index.ts
  packages/wiz-ui/src/constants/styles/index.ts
  packages/wiz-ui/src/constants/styles/share.ts
Labels: 🎨 story

feat: WizCustomHeaderの完成
  packages/wiz-ui/src/components/custom/header/header.stories.ts
  packages/wiz-ui/src/components/custom/header/header.vue
  packages/wiz-ui/src/components/custom/notification/list/list.stories.ts
  packages/wiz-ui/src/components/custom/notification/list/list.vue
  packages/wiz-ui/src/components/custom/notification/notification.stories.ts
  packages/wiz-ui/src/components/custom/notification/notification.vue
  packages/wiz-ui/src/components/custom/notification/panel/panel.stories.ts
  packages/wiz-ui/src/components/custom/notification/panel/panel.vue
  packages/wiz-ui/src/components/custom/notification/types.ts
Labels: 🎨 story

fix: popup-managerをfitして使えるようにする
  packages/wiz-ui/src/components/base/popup/popup-container.vue
Labels: none

fix: popup managerをselectboxに適応
  packages/wiz-ui/src/components/base/inputs/selectbox/selectbox.vue
Labels: none

feat: 逃げ演出分のstorybookの追加
  packages/wiz-ui/src/components/base/inputs/selectbox/selectbox.stories.ts
  packages/wiz-ui/src/components/base/inputs/selectbox/selectbox.vue
Labels: 🎨 story

feat: Progress Barを作成
  packages/wiz-ui/src/components/base/progress-bar/constants.ts
  packages/wiz-ui/src/components/base/progress-bar/index.ts
  packages/wiz-ui/src/components/base/progress-bar/progress-bar.stories.ts
  packages/wiz-ui/src/components/base/progress-bar/progress-bar.vue
  packages/wiz-ui/src/components/base/progress-bar/progress-line.vue
  packages/wiz-ui/src/components/base/progress-bar/progress-point.stories.ts
  packages/wiz-ui/src/components/base/progress-bar/progress-point.vue
  packages/wiz-ui/src/components/base/progress-bar/types.ts
  packages/wiz-ui/src/components/base/text/text.vue
  packages/wiz-ui/src/components/base/tooltip/tooltip.stories.ts
  packages/wiz-ui/src/components/base/tooltip/tooltip.vue
Labels: 🎨 story

feat:wiz-panel-switchの作成
  packages/wiz-ui/src/components/base/inputs/panel-switch/index.ts
  packages/wiz-ui/src/components/base/inputs/panel-switch/panel-switch.stories.ts
  packages/wiz-ui/src/components/base/inputs/panel-switch/panel-switch.vue
Labels: 🎨 story

fix:panel-switchの修正
  packages/wiz-ui/src/components/base/inputs/panel-switch/panel-switch.stories.ts
  packages/wiz-ui/src/components/base/inputs/panel-switch/panel-switch.vue
Labels: 🎨 story

fix:panel-switchの修正
  packages/wiz-ui/src/components/base/inputs/panel-switch/panel-switch.vue
Labels: none

fix:panelItemsの型定義を別ファイルに切り出した
  packages/wiz-ui/src/components/base/inputs/panel-switch/panel-switch.stories.ts
  packages/wiz-ui/src/components/base/inputs/panel-switch/panel-switch.vue
  packages/wiz-ui/src/components/base/inputs/panel-switch/types.ts
Labels: 🎨 story

feat:wiz-toggle-buttonの作成
  packages/wiz-ui/src/components/base/buttons/toggle/index.ts
  packages/wiz-ui/src/components/base/buttons/toggle/toggle.stories.ts
  packages/wiz-ui/src/components/base/buttons/toggle/toggle.vue
  packages/wiz-ui/src/components/icons/add.vue
  packages/wiz-ui/src/components/icons/index.ts
  packages/wiz-ui/src/components/icons/remove.vue
Labels: 🎨 story

feat: annotation propsを追加
  packages/wiz-ui/src/components/base/progress-bar/progress-bar.stories.ts
  packages/wiz-ui/src/components/base/progress-bar/progress-bar.vue
  packages/wiz-ui/src/components/base/progress-bar/types.ts
Labels: 🎨 story

feat: FlatTableを実装
  packages/wiz-ui/src/components/base/tables/flat/index.ts
  packages/wiz-ui/src/components/base/tables/flat/table.stories.ts
  packages/wiz-ui/src/components/base/tables/flat/table.vue
  packages/wiz-ui/src/components/base/tables/flat/tbody.vue
  packages/wiz-ui/src/components/base/tables/flat/td.vue
  packages/wiz-ui/src/components/base/tables/flat/th.vue
  packages/wiz-ui/src/components/base/tables/flat/thead.vue
  packages/wiz-ui/src/components/base/tables/flat/tr.vue
Labels: 🎨 story

fix: font-sizeをsmに統一
  packages/wiz-ui/src/components/base/tables/flat/td.vue
Labels: none

fix: icon buttonにborder分のサイズずれが発生していたので修正
  packages/wiz-ui/src/components/base/buttons/icon/icon.vue
Labels: none

fix: いらないデバッグ用のコードを削除
  packages/wiz-ui/src/components/custom/notification/panel/panel.vue
Labels: none

chore(dep): portal vueを導入
  package-lock.json
  packages/wiz-ui/package.json
Labels: ⬆️ dependencies

fix: border-boxのつけ忘れにより要素の飛び出しが出てしまっていたので修正
  packages/wiz-ui/src/components/base/message-box/message-box.vue
Labels: none

fix: default値を持つpropsの型をoptionalに変更
  packages/wiz-ui/src/components/base/inputs/selectbox/selectbox.stories.ts
  packages/wiz-ui/src/components/base/inputs/selectbox/selectbox.vue
Labels: 🎨 story

feat: export忘れによりバンドルから削ぎ落とされていた部分を追加
  packages/wiz-ui/src/components/base/inputs/index.ts
Labels: none

[#99] setup TimePicker component
  packages/wiz-ui/src/components/base/inputs/timepicker/index.ts
  packages/wiz-ui/src/components/base/inputs/timepicker/time-picker.stories.ts
  packages/wiz-ui/src/components/base/inputs/timepicker/time-picker.vue
Labels: 🎨 story

[#99] add Time select lists
  packages/wiz-ui/src/components/base/inputs/timepicker/time-picker.vue
Labels: none

[#99] add Schedule Icon
  packages/wiz-ui/src/components/base/inputs/timepicker/time-picker.vue
  packages/wiz-ui/src/components/icons/index.ts
  packages/wiz-ui/src/components/icons/schedule.vue
Labels: none

[#99] add time picker and fix popup
  packages/wiz-ui/src/components/base/inputs/timepicker/time-picker.vue
Labels: none

[#105] fix reviewed points
  packages/wiz-ui/src/components/base/inputs/timepicker/time-picker.vue
  packages/wiz-ui/src/components/icons/schedule.vue
Labels: none

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"
