Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

Revert "Version Packages"
  .changeset/serious-jars-serve.md
  .changeset/tasty-bees-develop.md
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/wiz-ui-next/CHANGELOG.md
  packages/wiz-ui-next/package.json
  packages/wiz-ui-react/CHANGELOG.md
  packages/wiz-ui-react/package.json
Labels: ⬆️ dependencies

chore: changesetのfix typo
  .changeset/gorgeous-masks-hear.md
Labels: none

[#1008] Vue での emptyMessage の表示周りの修正
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-popup.vue
  packages/wiz-ui-next/src/components/base/inputs/search-input/stories/search-input.stories.ts
Labels: 🎨 story

feat(text-button): add danger, sub-danger variants
  packages/styles/bases/text-button.css.ts
  packages/wiz-ui-next/src/components/base/buttons/text/text.vue
  packages/wiz-ui-react/src/components/base/buttons/text/components/text-button.tsx
Labels: none

docs(text-button): update icon, variants stories
  packages/wiz-ui-next/src/components/base/buttons/text/text.stories.ts
  packages/wiz-ui-react/src/components/base/buttons/text/stories/text-button.stories.tsx
Labels: 🎨 story

chore(text-button): add changeset
  .changeset/wet-rocks-wave.md
Labels: none

feat(toggle-switch): update slider style
  packages/styles/bases/toggle-switch-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/toggle-switch/toggle-switch.vue
  packages/wiz-ui-react/src/components/base/inputs/toggle-switch/components/toggle-switch.tsx
Labels: none

docs(toggle-switch): update default story
  packages/wiz-ui-react/src/components/base/inputs/toggle-switch/stories/toggle-switch.stories.tsx
Labels: none

chore(toggle-switch): add changeset
  .changeset/nasty-donuts-shave.md
Labels: none

feat(toggle-switch): add disabled property
  packages/styles/bases/toggle-switch-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/toggle-switch/toggle-switch.vue
  packages/wiz-ui-react/src/components/base/inputs/toggle-switch/components/toggle-switch.tsx
Labels: none

docs(toggle-switch): add disabled story
  packages/wiz-ui-next/src/components/base/inputs/toggle-switch/toggle-switch.stories.ts
  packages/wiz-ui-react/src/components/base/inputs/toggle-switch/stories/toggle-switch.stories.tsx
Labels: 🎨 story

chore(toggle-switch): update changeset
  .changeset/nasty-donuts-shave.md
Labels: none

chore(toggle-switch): add background-color animation
  packages/styles/bases/toggle-switch-input.css.ts
Labels: none

chore: update changeset
  .changeset/selfish-carrots-look.md
Labels: none

refactor(search-input): lint warningの解消
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-popup-panel.tsx
Labels: none

chore: changesetにwiz-uiが含まれていたのを削除
  .changeset/slow-points-hammer.md
Labels: none

[#1074] Tag のアイコンのサイズを FontSize ごとに設定した
  .changeset/chatty-scissors-mix.md
  packages/constants/styles/font-size.ts
  packages/wiz-ui-next/src/components/base/tag/tag.vue
  packages/wiz-ui-react/src/components/base/tag/components/tag.tsx
  packages/wiz-ui/src/components/base/tag/tag.vue
Labels: none

feat(icon): add demography icon
  packages/constants/component/icon-name.ts
  packages/icons/assets/demography.svg
  packages/wiz-ui-next/src/components/icons/demography.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-react/src/components/icons/demography.tsx
  packages/wiz-ui-react/src/components/icons/index.ts
Labels: none

chore(icon): add changeset
  .changeset/wise-suits-tickle.md
Labels: none

[#1119] feat: Th タグに text-align クラスを追加
  packages/wiz-ui-next/src/components/base/tables/card/th.vue
  packages/wiz-ui-next/src/components/base/tables/flat/th.vue
  packages/wiz-ui-next/src/components/base/tables/unstyled/th.vue
  packages/wiz-ui-react/src/components/base/tables/card/components/card-th.tsx
  packages/wiz-ui-react/src/components/base/tables/flat/components/flat-th.tsx
  packages/wiz-ui-react/src/components/base/tables/unstyled/components/unstyled-th.tsx
Labels: none

[#1119] feat: Table の text-align クラス名の追加、変更
  packages/styles/bases/card-table.css.ts
  packages/styles/bases/flat-table.css.ts
  packages/styles/bases/unstyled-table.css.ts
  packages/wiz-ui-next/src/components/base/tables/flat/td.vue
  packages/wiz-ui-next/src/components/base/tables/unstyled/td.vue
  packages/wiz-ui-react/src/components/base/tables/flat/components/flat-td.tsx
  packages/wiz-ui-react/src/components/base/tables/unstyled/components/unstyled-td.tsx
Labels: none

[#1119] fix: Table (Wiz-UI-Next) の Style クラスの呼び出し方を修正
  packages/wiz-ui-next/src/components/base/tables/flat/th.vue
  packages/wiz-ui-next/src/components/base/tables/unstyled/th.vue
Labels: none

[#1119] Flat Table の td に align を追加
  packages/wiz-ui-next/src/components/base/tables/card/td.vue
Labels: none

[#1074] getTagIconSize 関数の保存先の変更
  packages/constants/styles/font-size.ts
  packages/styles/bases/tag.css.ts
  packages/wiz-ui-next/src/components/base/tag/tag.vue
  packages/wiz-ui-react/src/components/base/tag/components/tag.tsx
Labels: none

[#1074] 関数名の変更
  packages/styles/bases/tag.css.ts
  packages/wiz-ui-next/src/components/base/tag/tag.vue
  packages/wiz-ui-react/src/components/base/tag/components/tag.tsx
Labels: none

[#1119] changeset 追加
  .changeset/empty-plants-brake.md
Labels: none

[#1119] Storybook 追加
  packages/wiz-ui-next/src/components/base/tables/card/table.stories.ts
  packages/wiz-ui-next/src/components/base/tables/flat/table.stories.ts
  packages/wiz-ui-next/src/components/base/tables/unstyled/table.stories.ts
  packages/wiz-ui-react/src/components/base/tables/card/stories/card-table.stories.tsx
  packages/wiz-ui-react/src/components/base/tables/flat/stories/flat-table.stories.tsx
  packages/wiz-ui-react/src/components/base/tables/unstyled/stories/unstyled-table.stories.tsx
Labels: 🎨 story

fix(card): cardの仕様をvue側と統一
  packages/wiz-ui-react/src/components/base/card/components/card.tsx
Labels: none

chore(card): changeset
  .changeset/big-chefs-compare.md
Labels: none

feat(icons): add WizIBarChart4Bars
  packages/constants/component/icon-name.ts
  packages/icons/assets/bar-chart-4-bars.svg
  packages/wiz-ui-next/src/components/icons/bar-chart-4-bars.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-react/src/components/icons/bar-chart-4-bars.tsx
  packages/wiz-ui-react/src/components/icons/index.ts
Labels: none

feat(icons): add WizILocationOn
  packages/constants/component/icon-name.ts
  packages/icons/assets/location-on.svg
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-next/src/components/icons/location-on.vue
  packages/wiz-ui-react/src/components/icons/index.ts
  packages/wiz-ui-react/src/components/icons/location-on.tsx
Labels: none

chore(icons): add changeset
  .changeset/old-laws-rule.md
Labels: none

[#1130] width の設定を修正
  packages/wiz-ui-next/src/components/base/navigation/container.vue
  packages/wiz-ui-react/src/components/base/navigation/components/navigation-container.tsx
Labels: none

[#1130] Width のStory 追加
  packages/wiz-ui-next/src/components/base/navigation/container.stories.ts
  packages/wiz-ui-react/src/components/base/navigation/stories/navigation-container.stories.tsx
Labels: 🎨 story

[#1130] Navigation の background-color を設定
  packages/wiz-ui-next/src/components/base/navigation/container.stories.ts
  packages/wiz-ui-react/src/components/base/navigation/stories/navigation-container.stories.tsx
Labels: 🎨 story

fix(search-input): computedのsetが発火しない問題の解消
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-popup.vue
Labels: none

chore(search-input): changeset
  .changeset/nervous-jokes-repair.md
Labels: none

[#1130] storybook のbgColor の指定を修正
  packages/wiz-ui-next/src/components/base/navigation/container.stories.ts
Labels: 🎨 story

[#1130] add changeset
  .changeset/silly-cooks-applaud.md
Labels: none

[#1074] tagIcon を 辞書型で管理する
  packages/styles/bases/tag.css.ts
  packages/wiz-ui-next/src/components/base/tag/tag.vue
  packages/wiz-ui-react/src/components/base/tag/components/tag.tsx
Labels: none

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"
