Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

chore: changesetの更新
  .changeset/smooth-flies-perform.md
Labels: none

refactor(show-more-less): message style
  packages/styles/bases/show-more-less.css.ts
  packages/wiz-ui-next/src/components/base/show-more-less/show-more-less.vue
  packages/wiz-ui-react/src/components/base/show-more-less/components/show-more-less.tsx
  packages/wiz-ui/src/components/base/show-more-less/show-more-less.vue
Labels: none

refactor(radio): radiosRef
  packages/wiz-ui-react/src/components/base/inputs/radio/components/radio.tsx
Labels: none

[#716] fix isPressed value and define setter function
  packages/wiz-ui-next/src/components/custom/notification/panel/panel.vue
  packages/wiz-ui/src/components/custom/notification/panel/panel.vue
Labels: none

[#716] fix notification panel props and width
  .changeset/wild-kings-train.md
  packages/wiz-ui-next/src/components/custom/notification/panel/panel.stories.ts
  packages/wiz-ui-next/src/components/custom/notification/panel/panel.vue
  packages/wiz-ui/src/components/custom/notification/panel/panel.stories.ts
  packages/wiz-ui/src/components/custom/notification/panel/panel.vue
Labels: 🎨 story

[#730] add preventDefault
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.vue
  packages/wiz-ui/src/components/base/inputs/date-picker/date-picker.vue
Labels: none

refactor
  packages/wiz-ui-react/src/components/base/popup/components/popup.tsx
  packages/wiz-ui-react/src/components/base/popup/test/popup-position.test.ts
  packages/wiz-ui-react/src/components/base/popup/types/placement.ts
  packages/wiz-ui-react/src/components/base/popup/utils/popup-position.ts
Labels: ✅ test

refactor: ポップアップの座標計算処理を整理
  packages/wiz-ui-react/src/components/base/popup/components/popup.tsx
  packages/wiz-ui-react/src/components/base/popup/components/rect.ts
  packages/wiz-ui-react/src/components/base/popup/test/popup-position.test.ts
  packages/wiz-ui-react/src/components/base/popup/utils/popup-position.ts
Labels: ✅ test

chore: 旧ファイル削除
  packages/wiz-ui-react/src/components/base/popup/components/popup.tsx
  packages/wiz-ui-react/src/components/base/popup/test/boundary.test.ts
  packages/wiz-ui-react/src/components/base/popup/test/place-on-portal.test.ts
  packages/wiz-ui-react/src/components/base/popup/test/wrap.test.ts
  packages/wiz-ui-react/src/components/base/popup/utils/direction-value.ts
  packages/wiz-ui-react/src/components/base/popup/utils/index.ts
  packages/wiz-ui-react/src/components/base/popup/utils/placement/index.ts
  packages/wiz-ui-react/src/components/base/popup/utils/placement/on-child.ts
  packages/wiz-ui-react/src/components/base/popup/utils/placement/on-portal.ts
  packages/wiz-ui-react/src/components/base/popup/utils/wrap.ts
Labels: ✅ test

refactor
  packages/wiz-ui-react/src/components/base/popup/test/popup-position.test.ts
  packages/wiz-ui-react/src/components/base/popup/utils/index.ts
  packages/wiz-ui-react/src/components/base/popup/utils/popup-position.ts
  packages/wiz-ui-react/src/components/base/popup/utils/rect.ts
Labels: ✅ test

chore: changeset
  .changeset/giant-ladybugs-talk.md
Labels: none

chore(drawer): styleを切り出す
  packages/styles/bases/drawer.css.ts
  packages/wiz-ui-next/src/components/base/drawer/drawer.vue
  packages/wiz-ui/src/components/base/drawer/drawer.vue
Labels: none

feat: anchor.tsxのReact対応
  packages/wiz-ui-react/src/components/base/anchor/components/anchor.tsx
Labels: none

feat: add changeset
  .changeset/sweet-impalas-shop.md
Labels: none

feat(drawer): offset height
  packages/wiz-ui-next/src/components/base/drawer/drawer.vue
  packages/wiz-ui/src/components/base/drawer/drawer.vue
Labels: none

docs(drawer): add with-header story
  packages/wiz-ui-next/src/components/base/drawer/drawer.stories.ts
  packages/wiz-ui/src/components/base/drawer/drawer.stories.ts
Labels: 🎨 story

fix: target, relも同列で受け取れるように修正
  packages/wiz-ui-react/src/components/base/anchor/components/anchor.tsx
  packages/wiz-ui-react/src/components/base/anchor/stories/anchor.stories.tsx
Labels: none

fix: story description
  packages/wiz-ui-react/src/components/base/anchor/stories/anchor.stories.tsx
Labels: none

feat(drawer): react対応
  packages/wiz-ui-react/src/components/base/drawer/drawer.stories.tsx
  packages/wiz-ui-react/src/components/base/drawer/drawer.tsx
  packages/wiz-ui-react/src/components/base/drawer/index.ts
  packages/wiz-ui-react/src/components/base/index.ts
Labels: none

fix(drawer): height
  packages/wiz-ui-next/src/components/base/drawer/drawer.vue
  packages/wiz-ui/src/components/base/drawer/drawer.vue
Labels: none

chore:(drawer): add changeset
  .changeset/calm-bottles-return.md
Labels: none

fix(component-name): NavigationContainerを戻す
  packages/constants/component/name.ts
Labels: none

chore:(drawer): set displayName
  packages/wiz-ui-react/src/components/base/drawer/drawer.tsx
Labels: none

docs(date-picker): placeholder storyのvrt結果を固定する
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.stories.ts
  packages/wiz-ui/src/components/base/inputs/date-picker/date-picker.stories.ts
Labels: 🎨 story

fix(popup): safari animation対応
  packages/wiz-ui-next/src/components/base/popup/popup.vue
  packages/wiz-ui/src/components/base/popup/popup.vue
Labels: none

fix(popup): fadeアニメーションのSafari対応
  .changeset/selfish-panthers-matter.md
Labels: none

refactor(drawer): styleを集約
  packages/styles/bases/drawer.css.ts
  packages/wiz-ui-next/src/components/base/drawer/drawer.vue
  packages/wiz-ui-react/src/components/base/drawer/drawer.tsx
  packages/wiz-ui/src/components/base/drawer/drawer.vue
Labels: none

chore(drawer): remove footer
  packages/styles/bases/drawer.css.ts
  packages/wiz-ui-next/src/components/base/drawer/drawer.stories.ts
  packages/wiz-ui-next/src/components/base/drawer/drawer.vue
  packages/wiz-ui-react/src/components/base/drawer/drawer.stories.tsx
  packages/wiz-ui-react/src/components/base/drawer/drawer.tsx
  packages/wiz-ui/src/components/base/drawer/drawer.stories.ts
  packages/wiz-ui/src/components/base/drawer/drawer.vue
Labels: 🎨 story

refactor(stack): nowrap
  packages/wiz-ui-react/src/components/base/stack/components/stack.tsx
  packages/wiz-ui-react/src/components/base/stack/components/types.ts
Labels: none

refactor: use nowrap
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-input.tsx
  packages/wiz-ui-react/src/components/base/inputs/selectbox/components/selectbox.tsx
  packages/wiz-ui-react/src/components/base/inputs/upload/components/upload-display.tsx
  packages/wiz-ui-react/src/components/base/tab/components/tab.tsx
  packages/wiz-ui-react/src/components/custom/chat/components/chat-card.tsx
  packages/wiz-ui-react/src/components/custom/chat/components/chat-form.tsx
  packages/wiz-ui-react/src/components/custom/notification/components/notification-panel.tsx
  packages/wiz-ui-react/src/components/custom/notification/stories/notification-list.stories.tsx
  packages/wiz-ui-react/src/components/custom/notification/stories/notification-panel.stories.tsx
Labels: none

docs(stack): add document comment
  packages/wiz-ui-react/src/components/base/stack/components/types.ts
Labels: none

chore: add changeset
  .changeset/three-masks-battle.md
Labels: none

fix(menu-item): disabled style
  packages/styles/bases/menu.css.ts
  packages/wiz-ui-next/src/components/base/menu/menu-item.vue
  packages/wiz-ui/src/components/base/menu/menu-item.vue
Labels: none

refactor(menu-item): componentStatus
  packages/wiz-ui-next/src/components/base/menu/menu-item.vue
  packages/wiz-ui/src/components/base/menu/menu-item.vue
Labels: none

fix(accordion): safariで要素を回転させるとアウトラインが狂う問題を修正
  packages/styles/bases/accordion.css.ts
Labels: none

[#717] fix typo
  packages/wiz-ui-next/src/components/base/message-box/message-box.vue
  packages/wiz-ui/src/components/base/message-box/message-box.vue
Labels: none

[#717] fix style
  packages/styles/bases/message-box.css.ts
Labels: none

fix: openInNewTab propsに戻す
  packages/wiz-ui-react/src/components/base/anchor/components/anchor.tsx
  packages/wiz-ui-react/src/components/base/anchor/stories/anchor.stories.tsx
Labels: none

fix: asを指定した場合openInNewTabを渡せないように修正
  packages/wiz-ui-react/src/components/base/anchor/components/anchor.tsx
Labels: none

fix: WizAnchor使っている場所のprops修正
  packages/wiz-ui-react/src/components/custom/chat/components/chat-item.tsx
Labels: none

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"
