Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"

fix: deviceの初期値をpcに変更
  packages/wiz-ui-next/src/components/custom/timeline/timeline.vue
  packages/wiz-ui-react/src/components/custom/timeline/components/timeline.tsx
  packages/wiz-ui/src/components/custom/timeline/timeline.vue
Labels: none

chore(drawer): マウント先をbodyにする
  packages/wiz-ui-react/src/components/base/drawer/drawer.tsx
Labels: none

docs(nav-container): ハンドラ名修正
  packages/wiz-ui-react/src/components/base/navigation/stories/navigation-container.stories.tsx
Labels: none

[#1004] fix: sticky をfixed に変更
  .changeset/lovely-needles-divide.md
  packages/wiz-ui-next/src/components/base/navigation/container.stories.ts
  packages/wiz-ui-next/src/components/base/navigation/container.vue
  packages/wiz-ui/src/components/base/navigation/container.stories.ts
  packages/wiz-ui/src/components/base/navigation/container.vue
Labels: 🎨 story

[#997] fix: message box の text color, margin 修正
  .changeset/stale-peaches-lick.md
  packages/styles/bases/message-box.css.ts
  packages/wiz-ui-next/src/components/base/message-box/message-box.stories.ts
  packages/wiz-ui-next/src/components/base/message-box/message-box.vue
  packages/wiz-ui/src/components/base/message-box/message-box.stories.ts
  packages/wiz-ui/src/components/base/message-box/message-box.vue
Labels: 🎨 story

chore(message-box): storyが正しく表示されない問題の解消
  packages/wiz-ui-next/src/components/base/message-box/message-box.stories.ts
  packages/wiz-ui/src/components/base/message-box/message-box.stories.ts
Labels: 🎨 story

[#1004] NavigationContent 追加
  .changeset/lovely-needles-divide.md
  packages/constants/component/name.ts
  packages/styles/bases/navigation.css.ts
  packages/wiz-ui-next/src/components/base/navigation/container.stories.ts
  packages/wiz-ui-next/src/components/base/navigation/content.vue
  packages/wiz-ui-next/src/components/base/navigation/index.ts
  packages/wiz-ui/src/components/base/navigation/container.stories.ts
  packages/wiz-ui/src/components/base/navigation/content.vue
  packages/wiz-ui/src/components/base/navigation/index.ts
Labels: 🎨 story

[#1004] React 対応
  packages/wiz-ui-react/src/components/base/navigation/components/index.ts
  packages/wiz-ui-react/src/components/base/navigation/components/navigation-container.tsx
  packages/wiz-ui-react/src/components/base/navigation/components/navigation-content.tsx
Labels: none

[#997] React 化
  packages/wiz-ui-react/src/components/base/navigation/components/index.ts
  packages/wiz-ui-react/src/components/base/navigation/components/navigation-content.tsx
  packages/wiz-ui-react/src/components/base/navigation/stories/navigation-container.stories.tsx
Labels: none

fix: date-pickerのbuttonのtypeを"button"に変更
  .changeset/dull-mayflies-try.md
  packages/wiz-ui-react/src/components/base/inputs/date-picker/components/date-picker.tsx
Labels: none

chore: fix lint warning
  packages/wiz-ui-next/src/components/base/card/card.vue
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-popup.vue
  packages/wiz-ui/src/components/base/card/card.vue
Labels: 🎨 story

fix: button要素にtypeを付与
  .eslintrc.react.json
  packages/wiz-ui-react/src/components/base/buttons/.eslintrc.json
  packages/wiz-ui-react/src/components/base/calendar/components/calendar.tsx
  packages/wiz-ui-react/src/components/base/dropdown/components/dropdown-item.tsx
  packages/wiz-ui-react/src/components/base/inputs/date-picker/components/date-picker.tsx
  packages/wiz-ui-react/src/components/base/inputs/date-range-picker/components/date-range-picker.tsx
  packages/wiz-ui-react/src/components/base/inputs/password/components/password-input.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/search-selector.tsx
  packages/wiz-ui-react/src/components/base/inputs/time-picker/components/time-picker.tsx
  packages/wiz-ui-react/src/components/base/snackbar/components/snackbar.tsx
  packages/wiz-ui-react/src/components/custom/chat/components/chat-card.tsx
  packages/wiz-ui-react/src/components/custom/schedule/components/card.tsx
Labels: none

feat(react): loading overlayコンポーネントを作成
  packages/constants/component/name.ts
  packages/constants/styles/z-index.ts
  packages/styles/bases/loading-overlay.css.ts
  packages/wiz-ui-react/src/components/base/index.ts
  packages/wiz-ui-react/src/components/base/loading-overlay/components/index.ts
  packages/wiz-ui-react/src/components/base/loading-overlay/components/loading-overlay.tsx
  packages/wiz-ui-react/src/components/base/loading-overlay/index.ts
  packages/wiz-ui-react/src/components/base/loading-overlay/stories/loading-overlay.stories.tsx
Labels: none

feat(vue): loading overlayコンポーネントを作成
  packages/wiz-ui/src/components/base/index.ts
  packages/wiz-ui/src/components/base/loading-overlay/index.ts
  packages/wiz-ui/src/components/base/loading-overlay/loading-overlay.stories.tsx
  packages/wiz-ui/src/components/base/loading-overlay/loading-overlay.vue
Labels: none

feat(vue3): loading overlayコンポーネントを作成
  packages/wiz-ui-next/src/components/base/index.ts
  packages/wiz-ui-next/src/components/base/loading-overlay/index.ts
  packages/wiz-ui-next/src/components/base/loading-overlay/loading-overlay.stories.tsx
  packages/wiz-ui-next/src/components/base/loading-overlay/loading-overlay.vue
Labels: none

chore: changeset
  .changeset/chatty-jars-smash.md
Labels: none

chore: popupの座標を丸める
  packages/wiz-ui-react/src/components/base/popup/utils/popup-position.ts
Labels: none

refactor
  packages/wiz-ui-react/src/components/base/popup/test/popup-position.test.ts
  packages/wiz-ui-react/src/components/base/popup/utils/popup-position.ts
Labels: ✅ test

test
  packages/wiz-ui-react/src/components/custom/timeline/stories/timeline.stories.tsx
Labels: none

test
  packages/wiz-ui-react/src/components/custom/timeline/stories/timeline.stories.tsx
Labels: none

test
  packages/wiz-ui-react/src/components/custom/timeline/stories/timeline.stories.tsx
Labels: none

[#1017] useSnackbar の設定追加
  packages/wiz-ui-next/src/components/base/snackbar/snackbar-controller.vue
  packages/wiz-ui-next/src/components/base/snackbar/snackbar.stories.ts
  packages/wiz-ui-next/src/components/base/snackbar/types.ts
  packages/wiz-ui-next/src/hooks/use-snackbar.ts
  packages/wiz-ui/src/components/base/snackbar/snackbar-controller.vue
  packages/wiz-ui/src/components/base/snackbar/snackbar.stories.ts
  packages/wiz-ui/src/components/base/snackbar/types.ts
  packages/wiz-ui/src/hooks/use-snackbar.ts
Labels: 🎨 story

[#1017] expand Property 追加
  packages/styles/bases/snackbar.css.ts
  packages/wiz-ui-next/src/components/base/snackbar/snackbar.stories.ts
  packages/wiz-ui-next/src/components/base/snackbar/snackbar.vue
  packages/wiz-ui/src/components/base/snackbar/snackbar.stories.ts
  packages/wiz-ui/src/components/base/snackbar/snackbar.vue
Labels: 🎨 story

[#965] fix comments
  packages/wiz-ui-react/src/components/base/inputs/date-picker/components/date-picker.tsx
  packages/wiz-ui-react/src/components/base/inputs/date-range-picker/components/date-range-picker.tsx
Labels: none

fix(pagination): paginationのexportし忘れ
  packages/wiz-ui-react/src/components/base/index.ts
Labels: none

fix(message-box): slotが空のときにタイトル下にmarginが入ってしまうのを解消
  .changeset/thirty-lions-clean.md
  packages/styles/bases/message-box.css.ts
  packages/wiz-ui-next/src/components/base/message-box/message-box.stories.ts
  packages/wiz-ui-next/src/components/base/message-box/message-box.vue
  packages/wiz-ui-react/src/components/base/message-box/components/message-box.tsx
  packages/wiz-ui-react/src/components/base/message-box/stories/message-box.stories.tsx
  packages/wiz-ui/src/components/base/message-box/message-box.stories.ts
  packages/wiz-ui/src/components/base/message-box/message-box.vue
Labels: 🎨 story

fix(message-box): 不要なdivの削除
  packages/wiz-ui-react/src/components/base/message-box/components/message-box.tsx
Labels: none

fix(message-box): message-box内のcolorをgray.700に変更
  packages/styles/bases/message-box.css.ts
  packages/wiz-ui-next/src/components/base/message-box/message-box.stories.ts
  packages/wiz-ui-next/src/components/base/message-box/message-box.vue
  packages/wiz-ui-react/src/components/base/message-box/components/message-box.tsx
  packages/wiz-ui/src/components/base/message-box/message-box.stories.ts
  packages/wiz-ui/src/components/base/message-box/message-box.vue
Labels: 🎨 story

feat(search-input): tag
  packages/styles/bases/search-input.css.ts
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-input-tag.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-popup-panel.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/types.ts
Labels: none

docs(search-input): add tag story
  packages/wiz-ui-react/src/components/base/inputs/search-input/stories/dummy-data.ts
  packages/wiz-ui-react/src/components/base/inputs/search-input/stories/search-input.stories.tsx
Labels: none

chore(search-input): add changeset
  .changeset/seven-kings-greet.md
Labels: none

feat(search-input): tag追加のvue対応
  packages/constants/component/name.ts
  packages/styles/bases/search-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/search-input/index.ts
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-input-tag.vue
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-popup.vue
  packages/wiz-ui-next/src/components/base/inputs/search-input/types.ts
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-popup-panel.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/types.ts
  packages/wiz-ui/src/components/base/inputs/search-input/index.ts
  packages/wiz-ui/src/components/base/inputs/search-input/search-input-tag.vue
  packages/wiz-ui/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui/src/components/base/inputs/search-input/search-popup.vue
  packages/wiz-ui/src/components/base/inputs/search-input/types.ts
Labels: none

docs(search-input): vue tag story
  packages/wiz-ui-next/src/components/base/inputs/search-input/stories/options.ts
  packages/wiz-ui-next/src/components/base/inputs/search-input/stories/search-input.stories.ts
  packages/wiz-ui/src/components/base/inputs/search-input/stories/options.ts
  packages/wiz-ui/src/components/base/inputs/search-input/stories/search-input.stories.ts
Labels: 🎨 story

chore(search-input): update changeset
  .changeset/seven-kings-greet.md
Labels: none

feat(calender, date-picker): 無効な日付を指定する機能のReact対応
  packages/wiz-ui-react/src/components/base/calendar/components/calendar-helper.ts
  packages/wiz-ui-react/src/components/base/calendar/components/calendar.tsx
  packages/wiz-ui-react/src/components/base/calendar/components/types.ts
  packages/wiz-ui-react/src/components/base/inputs/date-picker/components/date-picker.tsx
  packages/wiz-ui-react/src/components/base/inputs/date-picker/stories/date-picker.stories.tsx
Labels: none

chore: add changeset
  .changeset/tall-chefs-rest.md
Labels: none

feat(tag): add new variants
  packages/styles/bases/tag.css.ts
  packages/wiz-ui-next/src/components/base/tag/tag.stories.ts
  packages/wiz-ui-next/src/components/base/tag/tag.vue
  packages/wiz-ui-react/src/components/base/tag/components/tag.tsx
  packages/wiz-ui-react/src/components/base/tag/stories/tag.stories.tsx
  packages/wiz-ui/src/components/base/tag/tag.stories.ts
  packages/wiz-ui/src/components/base/tag/tag.vue
Labels: 🎨 story

chore(search-input): wiz-tag実装
  packages/constants/component/name.ts
  packages/styles/bases/search-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/search-input/index.ts
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-input-tag.vue
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-popup.vue
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-popup-panel.tsx
  packages/wiz-ui/src/components/base/inputs/search-input/index.ts
  packages/wiz-ui/src/components/base/inputs/search-input/search-input-tag.vue
  packages/wiz-ui/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui/src/components/base/inputs/search-input/search-popup.vue
Labels: none

fix(tag): flexShrink
  packages/styles/bases/tag.css.ts
Labels: none

chore: update changeset
  .changeset/seven-kings-greet.md
Labels: none
