Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

feat: ToggleButton - Sizeが変更できるように
  packages/styles/bases/toggle-button.css.ts
  packages/wiz-ui-next/src/components/base/buttons/toggle/toggle.stories.ts
  packages/wiz-ui-next/src/components/base/buttons/toggle/toggle.vue
  packages/wiz-ui/src/components/base/buttons/toggle/toggle.stories.ts
  packages/wiz-ui/src/components/base/buttons/toggle/toggle.vue
Labels: 🎨 story

feat: TextButton - Sizeにxsを追加
  packages/styles/bases/text-button.css.ts
  packages/wiz-ui-next/src/components/base/buttons/text/text.stories.ts
  packages/wiz-ui-next/src/components/base/buttons/text/text.vue
  packages/wiz-ui/src/components/base/buttons/text/text.stories.ts
  packages/wiz-ui/src/components/base/buttons/text/text.vue
Labels: 🎨 story

fix: ButtonのIconとTextの距離を縮めた
  packages/wiz-ui-next/src/components/base/buttons/text/text.vue
  packages/wiz-ui-next/src/components/base/buttons/toggle/toggle.vue
  packages/wiz-ui/src/components/base/buttons/text/text.vue
  packages/wiz-ui/src/components/base/buttons/toggle/toggle.vue
Labels: none

fix: Iconの重複により WizIHintの削除、WizIInfoの追加
  packages/constants/component/name.ts
  packages/wiz-ui-next/src/components/base/card/card.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-next/src/components/icons/info.vue
  packages/wiz-ui/src/components/base/card/card.vue
  packages/wiz-ui/src/components/icons/index.ts
  packages/wiz-ui/src/components/icons/info.vue
Labels: none

fix: 命名が暗黙的にstorybookにaction function認識されていたのでリネーム
  packages/wiz-ui-next/src/components/base/buttons/text/text.stories.ts
  packages/wiz-ui/src/components/base/buttons/text/text.stories.ts
Labels: 🎨 story

feat: Checkboxを一つずつdisableできるように
  packages/wiz-ui-next/src/components/base/inputs/checkbox/checkbox.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/checkbox/checkbox.vue
  packages/wiz-ui-next/src/components/base/inputs/checkbox/types.ts
  packages/wiz-ui/src/components/base/inputs/checkbox/checkbox.stories.ts
  packages/wiz-ui/src/components/base/inputs/checkbox/checkbox.vue
  packages/wiz-ui/src/components/base/inputs/checkbox/types.ts
Labels: 🎨 story

feat: Labelを一つずつdisableできるように
  packages/wiz-ui-next/src/components/base/inputs/radio/radio.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/radio/radio.vue
  packages/wiz-ui-next/src/components/base/inputs/radio/types.ts
  packages/wiz-ui/src/components/base/inputs/radio/radio.stories.ts
  packages/wiz-ui/src/components/base/inputs/radio/radio.vue
  packages/wiz-ui/src/components/base/inputs/radio/types.ts
Labels: 🎨 story

refactor: いらなくなったComponent名を削除
  packages/constants/component/name.ts
Labels: none

refactor: いらなくなったComponentを削除
  packages/wiz-ui-next/src/components/icons/hint.vue
  packages/wiz-ui/src/components/icons/hint.vue
Labels: none

fix: box props type
  packages/wiz-ui-next/src/components/base/box/box.vue
  packages/wiz-ui/src/components/base/box/box.vue
Labels: none

fix: anchor props type
  packages/wiz-ui-next/src/components/base/anchor/anchor.vue
  packages/wiz-ui/src/components/base/anchor/anchor.vue
Labels: none

fix: badge props type
  packages/wiz-ui-next/src/components/base/badge/badge.vue
  packages/wiz-ui/src/components/base/badge/badge.vue
Labels: none

fix: avatar props type
  packages/wiz-ui-next/src/components/base/avatar/avatar.vue
  packages/wiz-ui/src/components/base/avatar/avatar.vue
Labels: none

fix: icon button props type
  packages/wiz-ui-next/src/components/base/buttons/icon/icon.vue
  packages/wiz-ui/src/components/base/buttons/icon/icon.vue
Labels: none

fix: text button props type
  packages/wiz-ui-next/src/components/base/buttons/text/text.vue
  packages/wiz-ui/src/components/base/buttons/text/text.vue
Labels: none

fix: toggle button props type
  packages/wiz-ui-next/src/components/base/buttons/toggle/toggle.vue
  packages/wiz-ui/src/components/base/buttons/toggle/toggle.vue
Labels: none

fix: remove interface Props
  packages/wiz-ui-next/src/components/base/anchor/anchor.vue
  packages/wiz-ui-next/src/components/base/avatar/avatar.vue
  packages/wiz-ui-next/src/components/base/badge/badge.vue
  packages/wiz-ui-next/src/components/base/box/box.vue
  packages/wiz-ui-next/src/components/base/buttons/icon/icon.vue
  packages/wiz-ui-next/src/components/base/buttons/text/text.vue
  packages/wiz-ui-next/src/components/base/buttons/toggle/toggle.vue
  packages/wiz-ui/src/components/base/anchor/anchor.vue
  packages/wiz-ui/src/components/base/avatar/avatar.vue
  packages/wiz-ui/src/components/base/badge/badge.vue
  packages/wiz-ui/src/components/base/box/box.vue
  packages/wiz-ui/src/components/base/buttons/icon/icon.vue
  packages/wiz-ui/src/components/base/buttons/text/text.vue
  packages/wiz-ui/src/components/base/buttons/toggle/toggle.vue
Labels: none

feat: WizSkeletonを命名
  packages/constants/component/name.ts
Labels: none

feat: WizSkeletonのスタイルを定義
  packages/styles/bases/skeleton.css.ts
  packages/styles/commons/font-size.css.ts
Labels: none

fix: Vue2のshims型の修正
  packages/wiz-ui/src/shims.d.ts
Labels: none

feat: skeletonをバンドルに追加
  packages/wiz-ui-next/src/components/base/index.ts
  packages/wiz-ui-next/src/components/base/skeleton/index.ts
  packages/wiz-ui/src/components/base/index.ts
  packages/wiz-ui/src/components/base/skeleton/index.ts
Labels: none

feat: WizSkeletonを作成
  packages/wiz-ui-next/src/components/base/skeleton/skeleton.stories.ts
  packages/wiz-ui-next/src/components/base/skeleton/skeleton.vue
  packages/wiz-ui/src/components/base/skeleton/skeleton.stories.ts
  packages/wiz-ui/src/components/base/skeleton/skeleton.vue
Labels: 🎨 story

feat: WizSkeletonTextを作成
  packages/wiz-ui-next/src/components/base/skeleton/skeleton-text.stories.ts
  packages/wiz-ui-next/src/components/base/skeleton/skeleton-text.vue
  packages/wiz-ui/src/components/base/skeleton/skeleton-text.stories.ts
  packages/wiz-ui/src/components/base/skeleton/skeleton-text.vue
Labels: 🎨 story

feat: WizSkeletonCircleを作成
  packages/wiz-ui-next/src/components/base/skeleton/skeleton-circle.stories.ts
  packages/wiz-ui-next/src/components/base/skeleton/skeleton-circle.vue
  packages/wiz-ui/src/components/base/skeleton/skeleton-circle.stories.ts
  packages/wiz-ui/src/components/base/skeleton/skeleton-circle.vue
Labels: 🎨 story

release(Vue2/Vue3): v0.4.0
  packages/wiz-ui-next/package.json
  packages/wiz-ui-next/src/index.ts
  packages/wiz-ui/package.json
  packages/wiz-ui/src/index.ts
Labels: ⬆️ dependencies

refractor: paginationの扱いやすさを考慮してv-model型に
  packages/styles/bases/pagination.css.ts
  packages/wiz-ui/src/components/base/pagination/pagination.stories.ts
  packages/wiz-ui/src/components/base/pagination/pagination.vue
Labels: 🎨 story

fix: template rootにslotを書くとwarningが出るので対応
  packages/wiz-ui-next/src/components/base/skeleton/skeleton-text.vue
  packages/wiz-ui/src/components/base/skeleton/skeleton-text.vue
Labels: none

feat: vue2にもstorybookのautoDocsを設定
  packages/wiz-ui/.storybook/main.js
Labels: none

feat: paginationのoverflowバグ修正
  packages/wiz-ui-next/src/components/base/pagination/pagination.stories.ts
  packages/wiz-ui-next/src/components/base/pagination/pagination.vue
Labels: 🎨 story

feat: Vue3のpaginationをexport
  packages/wiz-ui-next/src/components/base/index.ts
  packages/wiz-ui-next/src/components/base/pagination/index.ts
Labels: none

feat: Vue2のpagination exportし忘れを修正
  packages/wiz-ui/src/components/base/index.ts
Labels: none

fix: delete comments
  packages/wiz-ui/src/components/base/anchor/anchor.vue
  packages/wiz-ui/src/components/base/avatar/avatar.vue
  packages/wiz-ui/src/components/base/badge/badge.vue
  packages/wiz-ui/src/components/base/box/box.vue
  packages/wiz-ui/src/components/base/buttons/icon/icon.vue
  packages/wiz-ui/src/components/base/buttons/text/text.vue
  packages/wiz-ui/src/components/base/buttons/toggle/toggle.vue
Labels: none

fix: divider props type
  packages/wiz-ui-next/src/components/base/divider/divider.vue
  packages/wiz-ui/src/components/base/divider/divider.vue
Labels: none

fix: calendar props type
  packages/wiz-ui-next/src/components/base/calendar/calendar.vue
  packages/wiz-ui/src/components/base/calendar/calendar.vue
Labels: none

fix: card props type
  packages/wiz-ui-next/src/components/base/card/card.vue
  packages/wiz-ui/src/components/base/card/card.vue
Labels: none

fix: dialog props type
  packages/wiz-ui-next/src/components/base/dialog/dialog.vue
  packages/wiz-ui/src/components/base/dialog/dialog.vue
Labels: none

fix: dropdown props type
  packages/wiz-ui-next/src/components/base/dropdown/dropdown-item.vue
  packages/wiz-ui-next/src/components/base/dropdown/dropdown.vue
  packages/wiz-ui/src/components/base/dropdown/dropdown-item.vue
  packages/wiz-ui/src/components/base/dropdown/dropdown.vue
Labels: none

fix: delete comments
  packages/wiz-ui/src/components/base/calendar/calendar.vue
  packages/wiz-ui/src/components/base/card/card.vue
  packages/wiz-ui/src/components/base/dialog/dialog.vue
  packages/wiz-ui/src/components/base/divider/divider.vue
  packages/wiz-ui/src/components/base/dropdown/dropdown-item.vue
  packages/wiz-ui/src/components/base/dropdown/dropdown.vue
Labels: none

fix: header props type
  packages/wiz-ui-next/src/components/base/header/header.vue
  packages/wiz-ui/src/components/base/header/header.vue
Labels: none

fix: heading props type
  packages/wiz-ui-next/src/components/base/heading/heading.vue
  packages/wiz-ui/src/components/base/heading/heading.vue
Labels: none

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"
