Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

feat: import重複整理用の設定とautofixerを定義
  .eslintrc.json
Labels: none

feat: rootから定数をexport
  packages/constants/styles/index.ts
Labels: none

refactor: lint
  packages/wiz-ui/src/components/base/buttons/toggle/toggle.stories.ts
Labels: 🎨 story

fix: バンドル対象に含め忘れていたwhite-space constantsを追加
  packages/constants/styles/index.ts
Labels: none

fix: mergeと重なったpath移動した部分のimportを解消
  packages/wiz-ui/src/components/base/inputs/radio/radio.vue
Labels: none

chore: trigger storybook
  packages/wiz-ui/src/components/base/inputs/radio/radio.stories.ts
Labels: 🎨 story

fix: headerの壊れてしまった余白部分を復元
  packages/constants/styles/spacing.ts
  packages/wiz-ui/src/components/base/header/header.vue
Labels: none

release: v0.2.6
  packages/wiz-ui/package.json
  packages/wiz-ui/src/index.ts
Labels: ⬆️ dependencies

fix: package.jsonのパス違えでciが落ちるので修正
  .github/workflows/publish-library.yml
Labels: 🏭 ci

feat: vanilla extract clientを設定
  packages/wiz-ui/.storybook/main.js
  packages/wiz-ui/package.json
  packages/wiz-ui/vite.config.ts
  yarn.lock
Labels: ⬆️ dependencies

anchorのスタイルをvanilla extract化
  packages/constants/styles/color.ts
  packages/constants/styles/font-size.ts
  packages/styles/bases/anchor.css.ts
  packages/styles/commons/color.css.ts
  packages/styles/commons/fill.css.ts
  packages/styles/commons/font-size.css.ts
  packages/styles/commons/font-weight.css.ts
  packages/styles/commons/index.ts
  packages/styles/index.ts
  packages/styles/theme.css.ts
  packages/wiz-ui/src/components/base/anchor/anchor.vue
Labels: none

fix:wiz-checkbox-storybook
  packages/wiz-ui/src/components/base/inputs/checkbox/checkbox.stories.ts
Labels: 🎨 story

refactor: anchorのスタイルをvanilla extract化
  packages/constants/styles/color.ts
  packages/constants/styles/font-size.ts
  packages/styles/bases/anchor.css.ts
  packages/styles/commons/color.css.ts
  packages/styles/commons/fill.css.ts
  packages/styles/commons/font-size.css.ts
  packages/styles/commons/font-weight.css.ts
  packages/styles/commons/index.ts
  packages/styles/index.ts
  packages/styles/theme.css.ts
  packages/wiz-ui/src/components/base/anchor/anchor.vue
Labels: none

refactor: avatarのスタイルをvanilla extract化
  packages/styles/bases/avatar.css.ts
  packages/styles/commons/background.css.ts
  packages/styles/commons/index.ts
  packages/styles/commons/size.css.ts
  packages/wiz-ui/src/components/base/anchor/anchor.stories.ts
  packages/wiz-ui/src/components/base/avatar/avatar.vue
Labels: 🎨 story

fix:wiz-checkbox
  packages/wiz-ui/src/components/base/inputs/checkbox/checkbox.vue
Labels: none

fix:wiz-checkbox
  packages/wiz-ui/src/components/base/inputs/checkbox/checkbox.vue
  packages/wiz-ui/src/constants/styles/spacing.ts
Labels: none

refactor: icon buttonのスタイルをvanilla extract化
  packages/styles/bases/avatar.css.ts
  packages/styles/bases/icon-button.css.ts
  packages/styles/commons/font-size.css.ts
  packages/styles/commons/size.css.ts
  packages/wiz-ui/src/components/base/buttons/icon/icon.vue
Labels: none

fix:wiz-checkbox
  packages/constants/styles/spacing.ts
  packages/wiz-ui/src/constants/styles/spacing.ts
Labels: none

feat: versionを追加
  packages/constants/index.ts
  packages/styles/index.ts
  packages/styles/theme.css.ts
Labels: none

feat:wiz-upload
  packages/wiz-ui/src/components/base/inputs/upload/index.ts
  packages/wiz-ui/src/components/base/inputs/upload/upload.stories.ts
  packages/wiz-ui/src/components/base/inputs/upload/upload.vue
Labels: 🎨 story

refactor: text buttonのスタイルをvanilla extract化
  packages/styles/bases/text-button.css.ts
  packages/wiz-ui/src/components/base/buttons/text/text.stories.ts
  packages/wiz-ui/src/components/base/buttons/text/text.vue
Labels: 🎨 story

refactor: toggle buttonのスタイルをvanilla extract化
  packages/styles/bases/toggle-button.css.ts
  packages/wiz-ui/src/components/base/buttons/toggle/toggle.stories.ts
  packages/wiz-ui/src/components/base/buttons/toggle/toggle.vue
Labels: 🎨 story

refactor: cardのスタイルをvanilla extract化
  packages/styles/bases/card.css.ts
  packages/styles/commons/index.ts
  packages/styles/commons/padding.css.ts
  packages/wiz-ui/src/components/base/card/card.stories.ts
  packages/wiz-ui/src/components/base/card/card.vue
  packages/wiz-ui/src/components/icons/hint.vue
Labels: 🎨 story

refactor: dialogのスタイルをvanilla extract化
  packages/styles/bases/dialog.css.ts
  packages/wiz-ui/src/components/base/card/card.vue
  packages/wiz-ui/src/components/base/dialog/dialog.vue
Labels: none

refactor: dividerのスタイルをvanilla extract化
  packages/styles/bases/divider.css.ts
  packages/styles/commons/border-color.css.ts
  packages/styles/commons/index.ts
  packages/wiz-ui/src/components/base/divider/divider.vue
Labels: none

refactor: dropdownのスタイルをvanilla extract化
  packages/styles/bases/dropdown.css.ts
  packages/wiz-ui/src/components/base/dropdown/dropdown-item.vue
  packages/wiz-ui/src/components/base/dropdown/dropdown.stories.ts
  packages/wiz-ui/src/components/base/dropdown/dropdown.vue
Labels: 🎨 story

refactor: headerのスタイルをvanilla extract化
  packages/styles/bases/header.css.ts
  packages/wiz-ui/src/components/base/header/header.vue
Labels: none

refactor: headingのスタイルをvanilla extract化
  packages/styles/bases/heading.css.ts
  packages/wiz-ui/src/components/base/heading/heading.stories.ts
  packages/wiz-ui/src/components/base/heading/heading.vue
Labels: 🎨 story

refactor: iconのスタイルをvanilla extract化
  packages/styles/bases/icon.css.ts
  packages/wiz-ui/src/components/base/icon/icon.vue
Labels: none

refactor: base-inputのスタイルをvanilla extract化
  packages/styles/bases/base-input.css.ts
  packages/wiz-ui/src/components/base/inputs/base/base.vue
Labels: none

feat: gradientをstorybook preview backgroundに追加
  packages/wiz-ui/.storybook/assets/images/gradient.png
  packages/wiz-ui/.storybook/preview.js
Labels: none

fix: デザイン変更でcardTableにborderを追加
  packages/wiz-ui/src/components/base/tables/card/tr.vue
Labels: none

fix: Buttonをデフォルトで丸角に変更
  packages/styles/bases/toggle-button.css.ts
  packages/wiz-ui/src/components/base/buttons/text/text.stories.ts
  packages/wiz-ui/src/components/base/buttons/text/text.vue
  packages/wiz-ui/src/components/base/buttons/toggle/toggle.stories.ts
  packages/wiz-ui/src/components/base/buttons/toggle/toggle.vue
Labels: 🎨 story

ci :bundle analizerを試験導入
  .github/workflows/bundle-analyze.yml
Labels: 🏭 ci

ci: npmでビルドスクリプトを実行するように修正
  .github/workflows/build-check.yml
  .github/workflows/bundle-analyze.yml
  package.json
Labels: 🏭 ci, ⬆️ dependencies

ci: storybookのビルドスクリプトを変更に対応
  .github/workflows/deploy-storybook.yml
Labels: 🏭 ci

ci: prepare nodeが入らなかったので削除
  .github/workflows/bundle-analyze.yml
Labels: 🏭 ci

ci: vitestのciエラーを修正
  .github/workflows/deploy-vitest.yml
Labels: 🏭 ci

fix: storybook deployer commentを強化
  .github/workflows/deploy-storybook.yml
  packages/wiz-ui/src/components/base/buttons/text/text.stories.ts
Labels: 🏭 ci, 🎨 story

chore: update storybook
  packages/wiz-ui/src/components/base/buttons/text/text.stories.ts
Labels: 🎨 story

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"
