Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

chore: wiz-uiのライセンスを追加
  LICENSE
  README.md
  packages/wiz-ui-next/package.json
  packages/wiz-ui-next/vite.config.ts
  packages/wiz-ui/package.json
  packages/wiz-ui/vite.config.ts
Labels: ⬆️ dependencies

release: v0.7.8
  packages/wiz-ui-next/package.json
  packages/wiz-ui-next/src/index.ts
  packages/wiz-ui/package.json
  packages/wiz-ui/src/index.ts
Labels: ⬆️ dependencies

feat(unstyled-table): dividerの追加
  packages/styles/bases/unstyled-table.css.ts
  packages/wiz-ui-next/src/components/base/tables/unstyled/table.stories.ts
  packages/wiz-ui-next/src/components/base/tables/unstyled/table.vue
  packages/wiz-ui-next/src/components/base/tables/unstyled/thead.vue
  packages/wiz-ui-next/src/components/base/tables/unstyled/tr.vue
  packages/wiz-ui/src/components/base/tables/unstyled/table.stories.ts
  packages/wiz-ui/src/components/base/tables/unstyled/table.vue
  packages/wiz-ui/src/components/base/tables/unstyled/thead.vue
  packages/wiz-ui/src/components/base/tables/unstyled/tr.vue
Labels: 🎨 story

release: v0.7.9
  packages/wiz-ui-next/package.json
  packages/wiz-ui-next/src/index.ts
  packages/wiz-ui/package.json
  packages/wiz-ui/src/index.ts
Labels: ⬆️ dependencies

feat(popup): popupが出る各方向に中間を選択できるように改善
  packages/wiz-ui-next/src/components/base/popup/popup.vue
  packages/wiz-ui/src/components/base/popup/popup.vue
Labels: none

docs(popup): 中間表示対応にともなうstoryの変更
  packages/wiz-ui-next/src/components/base/popup/popup.stories.ts
  packages/wiz-ui/src/components/base/popup/popup.stories.ts
Labels: 🎨 story

Update: popupの影を付け外しできるように改修
  packages/styles/bases/popup.css.ts
  packages/wiz-ui-next/src/components/base/popup/popup.stories.ts
  packages/wiz-ui-next/src/components/base/popup/popup.vue
  packages/wiz-ui/src/components/base/popup/popup.stories.ts
  packages/wiz-ui/src/components/base/popup/popup.vue
Labels: 🎨 story

feat(popup): popupのアニメーション表示対応
  packages/wiz-ui-next/src/components/base/popup/popup.vue
  packages/wiz-ui/src/components/base/popup/popup.vue
Labels: none

docs(popup): アニメーション表示対応に伴うstory更新
  packages/wiz-ui-next/src/components/base/popup/popup.stories.ts
  packages/wiz-ui/src/components/base/popup/popup.stories.ts
Labels: 🎨 story

fix(popup): アニメーションと実際のpopup非表示の連動がうまくいかないバグの修正
  packages/wiz-ui-next/src/components/base/popup/popup.vue
  packages/wiz-ui/src/components/base/popup/popup.vue
Labels: none

fix(popup): isOpenの初期値がtrueの時に正しく表示されないバグの修正
  packages/wiz-ui-next/src/components/base/popup/popup.vue
  packages/wiz-ui/src/components/base/popup/popup.vue
Labels: none

feat(tooltip): tooltipのpopup置き換え
  packages/styles/bases/tooltip.css.ts
  packages/wiz-ui-next/src/components/base/tooltip/tooltip.stories.ts
  packages/wiz-ui-next/src/components/base/tooltip/tooltip.vue
  packages/wiz-ui/src/components/base/tooltip/tooltip.stories.ts
  packages/wiz-ui/src/components/base/tooltip/tooltip.vue
Labels: 🎨 story

fix(tooltip): gapの追加し忘れを修正
  packages/wiz-ui-next/src/components/base/tooltip/tooltip.vue
  packages/wiz-ui/src/components/base/tooltip/tooltip.vue
Labels: none

fix(icons): rename
  packages/icons/auto-renew.svg
Labels: none

feat(icons): yarn build:iconsでicon関連ファイルを生成
  package.json
  packages/constants/component/icon-name.ts
  packages/constants/component/name.ts
  packages/icons/build.js
Labels: ⬆️ dependencies

fix(icons): ディレクトリの指定
  package.json
  packages/icons/build.js
Labels: ⬆️ dependencies

feat(icons): 自動生成前にicons配下のvueファイルを削除する
  packages/icons/build.js
Labels: none

chore(icons): 自動生成コマンド実行
  packages/constants/component/icon-name.ts
  packages/wiz-ui-next/src/components/icons/auto-renew.vue
  packages/wiz-ui-next/src/components/icons/calendar.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui/src/components/icons/auto-renew.vue
  packages/wiz-ui/src/components/icons/calendar.vue
  packages/wiz-ui/src/components/icons/index.ts
Labels: none

fix(icons): 自動生成されたファイルのみフォーマットする
  package.json
Labels: ⬆️ dependencies

feat(search-selector): 開閉状態を外部から制御可能にする
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.vue
Labels: none

docs(search-selector): storybookを更新
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.stories.ts
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.stories.ts
Labels: 🎨 story

feat(search): popupの開閉状態を外部から制御可能にする
  packages/wiz-ui-next/src/components/base/inputs/search/search.vue
  packages/wiz-ui/src/components/base/inputs/search/search.vue
Labels: none

docs(search): storybookを更新
  packages/wiz-ui-next/src/components/base/inputs/search/search.stories.ts
  packages/wiz-ui/src/components/base/inputs/search/search.stories.ts
Labels: 🎨 story

fix(progress-bar): tooltipのpopup化に伴うUIバグの修正
  packages/styles/bases/progress-bar.css.ts
  packages/wiz-ui-next/src/components/base/progress-bar/progress-bar.vue
  packages/wiz-ui/src/components/base/progress-bar/progress-bar.vue
Labels: none

docs(popup): shadowのページが表示されないバグの修正
  packages/wiz-ui/src/components/base/popup/popup.stories.ts
Labels: 🎨 story

fix(tooltip): gapの値の設定ミスを修正
  packages/wiz-ui/src/components/base/tooltip/tooltip.vue
Labels: none

fix(popup-button-group): hover時のアイコンの色を緑色にする
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.vue
Labels: none

fix(tooltip): tooltipからinline-blockが消えていたところを修正
  packages/styles/bases/tooltip.css.ts
Labels: none

docs(search-selector): 説明を追加
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.stories.ts
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.stories.ts
Labels: 🎨 story

fix(date-picker): popupの回り込みが効かないバグの修正
  packages/styles/bases/date-picker-input.css.ts
Labels: none

fix(date-picker): selectorとdropdownの間のマージンを削除（figma上には存在しなかったため）
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.vue
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.vue
  packages/wiz-ui/src/components/base/inputs/date-picker/date-picker.vue
  packages/wiz-ui/src/components/base/inputs/date-range-picker/date-range-picker.vue
Labels: none

chore: licenseをcc-by-nc-sa-4.0に変更
  LICENSE
  README.md
  packages/wiz-ui-next/package.json
  packages/wiz-ui/package.json
Labels: ⬆️ dependencies

feat(nav-item): popupを外部から開閉制御可能にする
  packages/wiz-ui-next/src/components/base/navigation/item.vue
  packages/wiz-ui/src/components/base/navigation/item.vue
Labels: none

docs(nav-container): popupが開いているパターンを追加
  packages/wiz-ui-next/src/components/base/navigation/container.stories.ts
  packages/wiz-ui/src/components/base/navigation/container.stories.ts
Labels: 🎨 story

chore(icons): フォルダ整理に伴いパスを修正
  package.json
  packages/icons/scripts/build.js
Labels: ⬆️ dependencies

chore(icons): アイコン生成スクリプトの呼び出し方を変更
  package.json
  packages/icons/index.ts
  packages/icons/package.json
Labels: ⬆️ dependencies

refactor(icons): コメント追加
  packages/icons/scripts/build.js
Labels: none

refactor(icons): インデント修正等
  packages/icons/scripts/build.js
Labels: none

release: v1.0.0
  packages/wiz-ui-next/package.json
  packages/wiz-ui-next/src/index.ts
  packages/wiz-ui/package.json
  packages/wiz-ui/src/index.ts
Labels: ⬆️ dependencies

feat(popup): 回り込み時にイベントを受け取れるよう改修
  packages/wiz-ui-next/src/components/base/popup/popup.stories.ts
  packages/wiz-ui-next/src/components/base/popup/popup.vue
  packages/wiz-ui/src/components/base/popup/popup.stories.ts
  packages/wiz-ui/src/components/base/popup/popup.vue
Labels: 🎨 story

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"
