Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

feat: 1594 WizAccordionのalignプロパティ対応
  packages/styles/bases/accordion.css.ts
  packages/wiz-ui-next/src/components/base/accordion/accordion.stories.ts
  packages/wiz-ui-next/src/components/base/accordion/accordion.vue
  packages/wiz-ui-react/src/components/base/accordion/components/accordion.tsx
  packages/wiz-ui-react/src/components/base/accordion/stories/accordion.stories.tsx
Labels: 🎨 story

feat: 1594 WizAccordionのiconPositionプロパティ対応
  packages/wiz-ui-next/src/components/base/accordion/accordion.stories.ts
  packages/wiz-ui-next/src/components/base/accordion/accordion.vue
  packages/wiz-ui-react/src/components/base/accordion/components/accordion.tsx
  packages/wiz-ui-react/src/components/base/accordion/stories/accordion.stories.tsx
Labels: 🎨 story

feat: UnstyledDialogの追加
  packages/constants/component/name.ts
  packages/wiz-ui-next/src/components/base/dialogs/dialog/dialog.stories.ts
  packages/wiz-ui-next/src/components/base/dialogs/dialog/dialog.vue
  packages/wiz-ui-next/src/components/base/dialogs/dialog/index.ts
  packages/wiz-ui-next/src/components/base/dialogs/index.ts
  packages/wiz-ui-next/src/components/base/dialogs/unstyled/dialog.stories.ts
  packages/wiz-ui-next/src/components/base/dialogs/unstyled/dialog.vue
  packages/wiz-ui-next/src/components/base/dialogs/unstyled/index.ts
  packages/wiz-ui-next/src/components/base/index.ts
  packages/wiz-ui-react/src/components/base/dialogs/dialog/components/dialog.tsx
  packages/wiz-ui-react/src/components/base/dialogs/dialog/components/index.ts
  packages/wiz-ui-react/src/components/base/dialogs/dialog/index.ts
  packages/wiz-ui-react/src/components/base/dialogs/dialog/stories/dialog.stories.tsx
  packages/wiz-ui-react/src/components/base/dialogs/index.ts
  packages/wiz-ui-react/src/components/base/dialogs/unstyled/components/dialog.tsx
  packages/wiz-ui-react/src/components/base/dialogs/unstyled/components/index.ts
  packages/wiz-ui-react/src/components/base/dialogs/unstyled/index.ts
  packages/wiz-ui-react/src/components/base/dialogs/unstyled/stories/dialog.stories.tsx
  packages/wiz-ui-react/src/components/base/index.ts
Labels: 🎨 story

chore: changeset
  .changeset/lovely-walls-tease.md
Labels: none

chore: changeset
  .changeset/dark-shoes-march.md
Labels: none

fix: typo
  .changeset/lovely-walls-tease.md
Labels: none

feat: ダイアログのprops,emit周りをdefineModelに置き換え
  packages/wiz-ui-next/src/components/base/dialogs/unstyled/dialog.vue
Labels: none

feat: add expand-less-bold icon
  .changeset/expand-less-bold-icon.md
  packages/constants/component/icon-name.ts
  packages/icons/assets/expand-less-bold.svg
  packages/wiz-ui-next/src/components/icons/expand-less-bold.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-react/src/components/icons/expand-less-bold.tsx
  packages/wiz-ui-react/src/components/icons/index.ts
Labels: none

feat: add flexible components
  packages/wiz-ui-react/src/components/base/inputs/flexbles/checkbox/check-box.tsx
  packages/wiz-ui-react/src/components/base/inputs/flexbles/checkbox/index.ts
  packages/wiz-ui-react/src/components/base/inputs/flexbles/index.ts
  packages/wiz-ui-react/src/components/base/inputs/flexbles/textarea/index.ts
  packages/wiz-ui-react/src/components/base/inputs/flexbles/textarea/text-area.tsx
  packages/wiz-ui-react/src/components/base/inputs/index.ts
  packages/wiz-ui-react/src/components/base/inputs/tmpChackBox.tsx
Labels: none

feat(accordion): add iconWeight and iconColor props with align between support
  .changeset/twelve-teeth-grab.md
  packages/wiz-ui-next/src/components/base/accordion/accordion.stories.ts
  packages/wiz-ui-next/src/components/base/accordion/accordion.vue
  packages/wiz-ui-react/src/components/base/accordion/components/accordion.tsx
  packages/wiz-ui-react/src/components/base/accordion/stories/accordion.stories.tsx
Labels: 🎨 story

feat: ShowMoreLessにbgColorプロパティを追加
  packages/wiz-ui-next/src/components/base/show-more-less/show-more-less.stories.ts
  packages/wiz-ui-next/src/components/base/show-more-less/show-more-less.vue
  packages/wiz-ui-react/src/components/base/show-more-less/components/show-more-less.tsx
  packages/wiz-ui-react/src/components/base/show-more-less/stories/show-more-less.stories.tsx
Labels: 🎨 story

chore: pnpm changeset
  .changeset/chilly-readers-warn.md
Labels: none

Fix(VoiceInput): 背景色が一部transparentだったので白に統一
  .changeset/spotty-parks-behave.md
  packages/styles/customs/voice-input.css.ts
Labels: none

hotfix: ShowMoreLessのBgColorが正しく動いていないバグを修正
  .changeset/afraid-lands-own.md
  packages/styles/bases/show-more-less.css.ts
  packages/wiz-ui-next/src/components/base/show-more-less/show-more-less.vue
  packages/wiz-ui-react/src/components/base/show-more-less/components/show-more-less.tsx
Labels: none

feat: make textarea component I/F standard
  packages/wiz-ui-react/src/components/base/text-area/components/text-area.tsx
  packages/wiz-ui-react/src/components/base/text-area/stories/text-area.stories.tsx
  packages/wiz-ui-react/src/components/custom/chat/components/chat-form.tsx
Labels: none

Create grumpy-pianos-wait.md
  .changeset/grumpy-pianos-wait.md
Labels: none

fix: japanize message
  .changeset/grumpy-pianos-wait.md
Labels: none

Revert "feat: make textarea component I/F standard"
  .changeset/grumpy-pianos-wait.md
  packages/wiz-ui-react/src/components/base/text-area/components/text-area.tsx
  packages/wiz-ui-react/src/components/base/text-area/stories/text-area.stories.tsx
  packages/wiz-ui-react/src/components/custom/chat/components/chat-form.tsx
Labels: none

Reapply "feat: make textarea component I/F standard"
  .changeset/grumpy-pianos-wait.md
  packages/wiz-ui-react/src/components/base/text-area/components/text-area.tsx
  packages/wiz-ui-react/src/components/base/text-area/stories/text-area.stories.tsx
  packages/wiz-ui-react/src/components/custom/chat/components/chat-form.tsx
Labels: none

make checkbox flexible
  .changeset/grumpy-pianos-wait.md
  packages/wiz-ui-react/src/components/base/inputs/checkbox-new/components/checkbox-new.tsx
  packages/wiz-ui-react/src/components/base/inputs/checkbox-new/stories/checkbox-new.stories.tsx
Labels: none

fix release message
  .changeset/grumpy-pianos-wait.md
Labels: none

refactor(navigation-item): linkAttrsを使ってリンク属性を整理
  .changeset/major-weeks-deny.md
  packages/wiz-ui-next/src/components/base/navigation/item.vue
Labels: none

use typeof operator
  packages/wiz-ui-react/src/components/base/snackbar/components/snackbar-provider.tsx
Labels: none

Create blue-cherries-matter.md
  .changeset/blue-cherries-matter.md
Labels: none

refactor(wiz-ui-react): ESMのみをサポートする形式に変更
  packages/wiz-ui-react/package.json
  packages/wiz-ui-react/vite.config.ts
Labels: ⬆️ dependencies

refactor(search-selector): インポートを整理し、SearchSelectorOption型をエクスポート
  examples/react/src/pages/home/selects/search-selector.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/index.ts
Labels: none

Create fair-lemons-flash.md
  .changeset/fair-lemons-flash.md
Labels: none

feat: add icons (bookmark, category, circle-bold, menu-bold)
  packages/constants/component/icon-name.ts
  packages/icons/assets/bookmark-bold.svg
  packages/icons/assets/bookmark-filled.svg
  packages/icons/assets/category-bold.svg
  packages/icons/assets/category-filled.svg
  packages/icons/assets/circle-bold.svg
  packages/icons/assets/menu-bold.svg
  packages/wiz-ui-next/src/components/icons/bookmark-bold.vue
  packages/wiz-ui-next/src/components/icons/bookmark-filled.vue
  packages/wiz-ui-next/src/components/icons/category-bold.vue
  packages/wiz-ui-next/src/components/icons/category-filled.vue
  packages/wiz-ui-next/src/components/icons/circle-bold.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-next/src/components/icons/menu-bold.vue
  packages/wiz-ui-react/src/components/icons/bookmark-bold.tsx
  packages/wiz-ui-react/src/components/icons/bookmark-filled.tsx
  packages/wiz-ui-react/src/components/icons/category-bold.tsx
  packages/wiz-ui-react/src/components/icons/category-filled.tsx
  packages/wiz-ui-react/src/components/icons/circle-bold.tsx
  packages/wiz-ui-react/src/components/icons/index.ts
  packages/wiz-ui-react/src/components/icons/menu-bold.tsx
Labels: none

chore: changeset
  .changeset/strong-clocks-ask.md
Labels: none

feat: change disabled style(checkbox, radio)
  packages/styles/bases/checkbox-new.css.ts
  packages/styles/bases/radio-new.css.ts
  packages/wiz-ui-next/src/components/base/inputs/checkbox-new/checkbox-new.vue
  packages/wiz-ui-next/src/components/base/inputs/radio-new/radio-new.vue
  packages/wiz-ui-react/src/components/base/inputs/checkbox-new/components/checkbox-new.tsx
  packages/wiz-ui-react/src/components/base/inputs/radio-new/components/radio-new.tsx
Labels: none

chore: changeset
  .changeset/blue-teams-flash.md
Labels: none

fix: icon に fill が入っているのを修正
  packages/icons/assets/bookmark-bold.svg
  packages/icons/assets/bookmark-filled.svg
  packages/icons/assets/category-bold.svg
  packages/icons/assets/category-filled.svg
  packages/icons/assets/circle-bold.svg
  packages/icons/assets/menu-bold.svg
  packages/wiz-ui-next/src/components/icons/bookmark-bold.vue
  packages/wiz-ui-next/src/components/icons/bookmark-filled.vue
  packages/wiz-ui-next/src/components/icons/category-bold.vue
  packages/wiz-ui-next/src/components/icons/category-filled.vue
  packages/wiz-ui-next/src/components/icons/circle-bold.vue
  packages/wiz-ui-next/src/components/icons/menu-bold.vue
  packages/wiz-ui-react/src/components/icons/bookmark-bold.tsx
  packages/wiz-ui-react/src/components/icons/bookmark-filled.tsx
  packages/wiz-ui-react/src/components/icons/category-bold.tsx
  packages/wiz-ui-react/src/components/icons/category-filled.tsx
  packages/wiz-ui-react/src/components/icons/circle-bold.tsx
  packages/wiz-ui-react/src/components/icons/menu-bold.tsx
Labels: none

chore: changeset
  .changeset/eager-numbers-drum.md
Labels: none

feat: アイコンついk
  packages/constants/component/icon-name.ts
  packages/icons/assets/call.svg
  packages/icons/assets/flag-2-bold.svg
  packages/icons/assets/flag-2-filled.svg
  packages/wiz-ui-next/src/components/icons/call.vue
  packages/wiz-ui-next/src/components/icons/flag-2-bold.vue
  packages/wiz-ui-next/src/components/icons/flag-2-filled.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-react/src/components/icons/call.tsx
  packages/wiz-ui-react/src/components/icons/flag-2-bold.tsx
  packages/wiz-ui-react/src/components/icons/flag-2-filled.tsx
  packages/wiz-ui-react/src/components/icons/index.ts
Labels: none

chore: changeset
  .changeset/wide-shirts-tan.md
Labels: none

feat: タグアイコンのサイズを調整
  packages/styles/bases/tag.css.ts
Labels: none

chore: changeset
  .changeset/crazy-states-smell.md
Labels: none

feat: fullscreen の icon を追加
  packages/constants/component/icon-name.ts
  packages/icons/assets/fullscreen-bold.svg
  packages/wiz-ui-next/src/components/icons/fullscreen-bold.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-react/src/components/icons/fullscreen-bold.tsx
  packages/wiz-ui-react/src/components/icons/index.ts
Labels: none

chore: changeset
  .changeset/better-carrots-chew.md
Labels: none

feat: DatePickerの適用ボタンを削除し日付選択時に即時適用するように変更
  .changeset/curly-donuts-applaud.md
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.vue
  packages/wiz-ui-react/src/components/base/inputs/date-picker/components/date-picker.tsx
Labels: 🎨 story

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"
