Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"

fix: stories
  packages/wiz-ui-react/src/components/base/navigation/components/navigation-item.tsx
  packages/wiz-ui-react/src/components/base/navigation/stories/navigation-item.stories.tsx
Labels: none

feat(example3): chat
  examples/vue3/package.json
  examples/vue3/src/pages/chat/_components/chat-form.vue
  examples/vue3/src/pages/chat/_components/chat-log.vue
  examples/vue3/src/pages/chat/_components/index.ts
  examples/vue3/src/pages/chat/_components/template.ts
  examples/vue3/src/pages/chat/index.vue
  examples/vue3/src/router/index.ts
  pnpm-lock.yaml
Labels: ⬆️ dependencies

fix(text-button): nowarp
  packages/styles/bases/text-button.css.ts
Labels: none

chore(text-button): add changeset
  .changeset/twenty-mangos-shake.md
Labels: none

feat(tab): tabを中央寄せにするオプションを追加
  packages/wiz-ui-next/src/components/base/tab/tab.vue
  packages/wiz-ui-react/src/components/base/tab/components/tab.tsx
  packages/wiz-ui/src/components/base/tab/tab.vue
Labels: none

docs(tab): update
  packages/wiz-ui-next/src/components/base/tab/tab.stories.ts
  packages/wiz-ui-react/src/components/base/tab/stories/tab.stories.tsx
  packages/wiz-ui/src/components/base/tab/tab.stories.ts
Labels: 🎨 story

chore(tab): add changeset
  .changeset/perfect-ads-chew.md
Labels: none

feat(nav-mobile): スマホグローバルナビ
  packages/wiz-ui-next/src/components/base/navigation/container-mobile.vue
  packages/wiz-ui-next/src/components/base/navigation/index.ts
  packages/wiz-ui/src/components/base/navigation/container-mobile.vue
  packages/wiz-ui/src/components/base/navigation/index.ts
Labels: none

docs(nav-mobile): add story
  packages/wiz-ui-next/src/components/base/navigation/container-mobile.stories.ts
  packages/wiz-ui/src/components/base/navigation/container-mobile.stories.ts
Labels: 🎨 story

[#717] fix bug
  packages/wiz-ui-next/src/components/base/message-box/message-box.stories.ts
  packages/wiz-ui-next/src/components/base/message-box/message-box.vue
  packages/wiz-ui/src/components/base/message-box/message-box.stories.ts
  packages/wiz-ui/src/components/base/message-box/message-box.vue
Labels: 🎨 story

fix: ComponentPropsを仕様
  packages/wiz-ui-react/src/components/base/navigation/components/navigation-item.tsx
Labels: none

fix: react-router削除
  packages/wiz-ui-react/package.json
  packages/wiz-ui-react/src/components/base/navigation/components/navigation-item.tsx
  packages/wiz-ui-react/src/components/base/navigation/stories/navigation-container.stories.tsx
  packages/wiz-ui-react/src/components/base/navigation/stories/navigation-item.stories.tsx
  pnpm-lock.yaml
Labels: ⬆️ dependencies

fix: props修正
  packages/wiz-ui-react/src/components/base/navigation/components/navigation-item.tsx
Labels: none

fix: docsコメント
  packages/wiz-ui-react/src/components/base/navigation/components/navigation-item.tsx
Labels: none

feat: tablesディレクトリをexport
  packages/wiz-ui-react/src/components/base/index.ts
Labels: none

feat: add changeset
  .changeset/purple-scissors-sing.md
Labels: none

docs(nav-mobile): fix nav-item icon
  packages/wiz-ui-next/src/components/base/navigation/container-mobile.stories.ts
  packages/wiz-ui/src/components/base/navigation/container-mobile.stories.ts
Labels: 🎨 story

docs(date-picker): disabled storyの日付を固定
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.stories.ts
  packages/wiz-ui/src/components/base/inputs/date-picker/date-picker.stories.ts
Labels: 🎨 story

chore(circle-graph): update color contrast
  packages/styles/bases/circle-graph.css.ts
Labels: none

chore(circle-graph): add changeset
  .changeset/sour-balloons-raise.md
Labels: none

[#893] fix: remove isMenuOpen global state in header
  packages/wiz-ui-next/src/components/base/header/header.stories.ts
  packages/wiz-ui-next/src/components/base/header/header.vue
  packages/wiz-ui/src/components/base/header/header.stories.ts
  packages/wiz-ui/src/components/base/header/header.vue
Labels: 🎨 story

[#893] fix: remove useMenu global states
  packages/wiz-ui-next/src/hooks/use-global-provider.ts
  packages/wiz-ui-next/src/hooks/use-menu.ts
  packages/wiz-ui/src/hooks/use-global-provider.ts
  packages/wiz-ui/src/hooks/use-menu.ts
Labels: none

[#893] fix changeset
  .changeset/ninety-yaks-turn.md
Labels: none

chore(radio): update focused, hover style
  packages/styles/bases/radio-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/radio/radio.vue
  packages/wiz-ui-react/src/components/base/inputs/radio/components/radio.tsx
  packages/wiz-ui/src/components/base/inputs/radio/radio.vue
Labels: none

chore(radio): add changeset
  .changeset/strange-houses-add.md
Labels: none

chore(checkbox): update focused, hover style
  packages/styles/bases/checkbox-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/checkbox/checkbox.vue
  packages/wiz-ui-react/src/components/base/inputs/checkbox/components/checkbox.tsx
  packages/wiz-ui/src/components/base/inputs/checkbox/checkbox.vue
Labels: none

chore(checkbox): add changeset
  .changeset/sour-bananas-hope.md
Labels: none

feat(show-more-less): mobile対応
  packages/styles/bases/show-more-less.css.ts
  packages/wiz-ui-next/src/components/base/show-more-less/show-more-less.vue
  packages/wiz-ui-react/src/components/base/show-more-less/components/show-more-less.tsx
  packages/wiz-ui/src/components/base/show-more-less/show-more-less.vue
Labels: none

chore(show-more-less): add changeset
  .changeset/chatty-beds-rescue.md
Labels: none

docs(show-more-less): update stories
  packages/wiz-ui-next/src/components/base/show-more-less/show-more-less.stories.ts
  packages/wiz-ui-react/src/components/base/show-more-less/stories/show-more-less.stories.tsx
  packages/wiz-ui/src/components/base/show-more-less/show-more-less.stories.ts
Labels: 🎨 story

feat(drawer): change component name
  packages/constants/component/name.ts
  packages/wiz-ui-next/src/components/base/drawer/drawer.stories.ts
  packages/wiz-ui-next/src/components/base/drawer/drawer.vue
  packages/wiz-ui-next/src/components/base/drawer/index.ts
  packages/wiz-ui-next/src/components/base/index.ts
  packages/wiz-ui-next/src/components/base/navigation/index.ts
  packages/wiz-ui/src/components/base/drawer/drawer.stories.ts
  packages/wiz-ui/src/components/base/drawer/drawer.vue
  packages/wiz-ui/src/components/base/drawer/index.ts
  packages/wiz-ui/src/components/base/index.ts
  packages/wiz-ui/src/components/base/navigation/index.ts
Labels: 🎨 story

fix: propsの型修正
  packages/wiz-ui-react/src/components/base/navigation/components/navigation-item.tsx
  packages/wiz-ui-react/src/components/base/navigation/stories/navigation-container.stories.tsx
  packages/wiz-ui-react/src/components/base/navigation/stories/navigation-item.stories.tsx
Labels: none

fix: ドキュメンテーションコメント
  packages/wiz-ui-react/src/components/base/navigation/components/navigation-item.tsx
Labels: none

[#935] feat: change color
  packages/styles/bases/menu.css.ts
  packages/wiz-ui-next/src/components/base/menu/menu-item.stories.ts
  packages/wiz-ui-next/src/components/base/menu/menu-item.vue
  packages/wiz-ui/src/components/base/menu/menu-item.stories.ts
  packages/wiz-ui/src/components/base/menu/menu-item.vue
Labels: 🎨 story

[#935] feat: change color
  packages/wiz-ui-next/src/components/base/menu/menu-item.vue
  packages/wiz-ui/src/components/base/menu/menu-item.vue
Labels: none

[#935] add changeset
  .changeset/hot-drinks-fly.md
Labels: none

fix: href と as を同時に指定できないように修正
  packages/wiz-ui-react/src/components/base/navigation/components/navigation-item.tsx
Labels: none

test commit
  packages/wiz-ui-react/src/components/base/navigation/components/navigation-item.tsx
Labels: none

fix(show-more-less): mobileのスタイルを修正
  packages/styles/bases/show-more-less.css.ts
  packages/wiz-ui-next/src/components/base/show-more-less/show-more-less.vue
  packages/wiz-ui-react/src/components/base/show-more-less/components/show-more-less.tsx
  packages/wiz-ui/src/components/base/show-more-less/show-more-less.vue
Labels: none

feat: tagのアイコンサイズのreact版対応
  packages/wiz-ui-react/src/components/base/tag/components/tag.tsx
Labels: none
