Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

fix: workspace optionのつけ忘れ
  .github/workflows/publish-library.yml
Labels: 🏭 ci

ci: Release note自動作成用のCI作成
  .github/workflows/publish-library.yml
Labels: 🏭 ci

fix:selectboxの修正
  packages/wiz-ui/src/components/atoms/inputs/selectbox/selectbox.stories.ts
  packages/wiz-ui/src/components/atoms/inputs/selectbox/selectbox.vue
  packages/wiz-ui/src/components/icons/index.ts
Labels: 🎨 story

fix: inputが二重発火して上書きされる問題の解消
  packages/wiz-ui/src/components/organisms/chat-card/chat-card.vue
Labels: none

fix: playgroundの監視体制強化
  packages/wiz-ui/src/components/organisms/chat-card/chat-card.stories.ts
Labels: 🎨 story

fix: float位置を動的に変更
  packages/wiz-ui/src/components/organisms/chat-card/chat-card.vue
Labels: none

update: v0.1.1
  packages/wiz-ui/package.json
Labels: ⬆️ dependencies

chore: remove release note ci
  .github/workflows/publish-library.yml
Labels: 🏭 ci

fix: headerを消すlogicの条件分岐をsubHeaderAreaがある時に変更
  packages/wiz-ui/src/components/molecules/card/card.vue
Labels: none

fix: chatのmessageをConditionalに持つように修正
  packages/wiz-ui/src/components/molecules/chat-item/chat-item.vue
  packages/wiz-ui/src/types/components/chat.ts
Labels: none

fix: chat-cardをより型厳格に、投稿時（message更新時）にスクロール位置を下従属
  packages/wiz-ui/src/components/organisms/chat-card/chat-card.stories.ts
  packages/wiz-ui/src/components/organisms/chat-card/chat-card.vue
Labels: 🎨 story

refactor: font-sizeのfilenameをsnakeに修正
  packages/wiz-ui/src/components/atoms/anchor/anchor.stories.ts
  packages/wiz-ui/src/components/atoms/anchor/anchor.vue
  packages/wiz-ui/src/components/atoms/heading/heading.stories.ts
  packages/wiz-ui/src/components/atoms/heading/heading.vue
  packages/wiz-ui/src/components/atoms/icon/icon.vue
  packages/wiz-ui/src/components/atoms/tag/tag.stories.ts
  packages/wiz-ui/src/components/atoms/tag/tag.vue
  packages/wiz-ui/src/components/atoms/text/text.stories.ts
  packages/wiz-ui/src/components/atoms/text/text.vue
  packages/wiz-ui/src/constants/styles/font-size.stories.ts
  packages/wiz-ui/src/constants/styles/font-size.ts
  packages/wiz-ui/src/constants/styles/index.ts
  packages/wiz-ui/src/types/styles/font-size.ts
  packages/wiz-ui/src/types/styles/fontSize.ts
  packages/wiz-ui/src/utils/styles/font-size.ts
  packages/wiz-ui/src/utils/styles/fontSize.ts
Labels: 🎨 story

feat: z-indexを整備、floating cardにpopper z-indexを付与
  packages/wiz-ui/src/components/organisms/chat-card/chat-card.vue
  packages/wiz-ui/src/constants/styles/z-index.ts
  packages/wiz-ui/src/hooks/index.ts
  packages/wiz-ui/src/hooks/use-z-index.ts
  packages/wiz-ui/src/utils/styles/z-index.ts
Labels: none

fix: chat-item.vueの仕様変更に伴うstoryの修正
  packages/wiz-ui/src/components/molecules/chat-item/chat-item.stories.ts
Labels: 🎨 story

fix: マウントした瞬間は開いてて、終了後に閉じるアニメーションがかかっていたので最初から閉じるように修正
  packages/wiz-ui/src/components/organisms/chat-card/chat-card.vue
Labels: none

ci: mainにマージされた時に、latestを更新する処理を追加
  .github/workflows/deploy-storybook.yml
Labels: 🏭 ci

ci: 通常デプロイ時のactionにmainブランチを避ける処理を追加
  .github/workflows/deploy-storybook.yml
Labels: 🏭 ci

feat: Messageの型拡張、時刻と既読/未読のプロパティ追加
  packages/wiz-ui/src/types/components/chat.ts
Labels: none

refactor: chat itemのstoryの命名修正
  packages/wiz-ui/src/components/molecules/chat-item/chat-item.stories.ts
Labels: 🎨 story

feat: stackにreverseが必要になったので追加
  packages/wiz-ui/src/components/atoms/stack/h-stack.vue
  packages/wiz-ui/src/components/atoms/stack/stack.stories.ts
  packages/wiz-ui/src/components/atoms/stack/stack.vue
  packages/wiz-ui/src/components/atoms/stack/v-stack.vue
Labels: 🎨 story

fix: align stretch効かないバグの解消
  packages/wiz-ui/src/components/atoms/stack/stack.vue
Labels: none

fix: 既読/未読のステータス表示ロジックを作成
  packages/wiz-ui/src/components/molecules/chat-item/chat-item.vue
  packages/wiz-ui/src/components/organisms/chat-card/chat-card.vue
  packages/wiz-ui/src/types/components/chat.ts
  packages/wiz-ui/src/utils/date.ts
Labels: none

feat: storyにread statusやtimestampを追加し記法修正
  packages/wiz-ui/src/components/molecules/chat-item/chat-item.stories.ts
Labels: 🎨 story

fix: リロード時にanimationが発火してしまう問題を解消
  packages/wiz-ui/src/components/organisms/chat-card/chat-card.vue
Labels: none

fix: よく考えたら未読の方いらないので削除
  packages/wiz-ui/src/components/molecules/chat-item/chat-item.vue
Labels: none

fix: chat-item更新によるcontent増加に伴うダミーデータ拡張
  packages/wiz-ui/src/components/organisms/chat-card/chat-card.stories.ts
Labels: 🎨 story

feat: chat cardに未読件数表示部分を追加
  packages/wiz-ui/src/components/organisms/chat-card/chat-card.stories.ts
  packages/wiz-ui/src/components/organisms/chat-card/chat-card.vue
Labels: 🎨 story

feat: storyにchat cardのパターンを追加
  packages/wiz-ui/src/components/organisms/chat-card/chat-card.stories.ts
Labels: 🎨 story

fix: unread countを表示せず新着赤マークだけにした
  packages/wiz-ui/src/components/organisms/chat-card/chat-card.stories.ts
  packages/wiz-ui/src/components/organisms/chat-card/chat-card.vue
Labels: 🎨 story

release: 0.1.2
  packages/wiz-ui/package.json
Labels: ⬆️ dependencies

ci: mainマージのトリガーを設定ミスってたので修正
  .github/workflows/deploy-storybook.yml
Labels: 🏭 ci

feat: component/base層を作成
  packages/wiz-ui/src/components/base/index.ts
Labels: none

feat: component/custom層を作成
  packages/wiz-ui/src/components/customs/index.ts
Labels: none

refactor: customとbaseにコンポーネントを全て振り分け
  packages/wiz-ui/src/components/base/card/card.stories.ts
  packages/wiz-ui/src/components/base/card/card.vue
  packages/wiz-ui/src/components/base/card/index.ts
  packages/wiz-ui/src/components/base/index.ts
  packages/wiz-ui/src/components/base/message-box/index.ts
  packages/wiz-ui/src/components/base/message-box/message-box.stories.ts
  packages/wiz-ui/src/components/base/message-box/message-box.vue
  packages/wiz-ui/src/components/base/tables/card/index.ts
  packages/wiz-ui/src/components/base/tables/card/table.stories.ts
  packages/wiz-ui/src/components/base/tables/card/table.vue
  packages/wiz-ui/src/components/base/tables/card/tbody.vue
  packages/wiz-ui/src/components/base/tables/card/td.vue
  packages/wiz-ui/src/components/base/tables/card/th.vue
  packages/wiz-ui/src/components/base/tables/card/thead.vue
  packages/wiz-ui/src/components/base/tables/card/tr.vue
  packages/wiz-ui/src/components/base/tables/index.ts
  packages/wiz-ui/src/components/custom/chat/card/chat-card.stories.ts
  packages/wiz-ui/src/components/custom/chat/card/chat-card.vue
  packages/wiz-ui/src/components/custom/chat/card/index.ts
  packages/wiz-ui/src/components/custom/chat/form/chat-form.stories.ts
  packages/wiz-ui/src/components/custom/chat/form/chat-form.vue
  packages/wiz-ui/src/components/custom/chat/form/index.ts
  packages/wiz-ui/src/components/custom/chat/index.ts
  packages/wiz-ui/src/components/custom/chat/item/chat-item.stories.ts
  packages/wiz-ui/src/components/custom/chat/item/chat-item.vue
  packages/wiz-ui/src/components/custom/chat/item/index.ts
  packages/wiz-ui/src/components/custom/index.ts
  packages/wiz-ui/src/components/customs/index.ts
  packages/wiz-ui/src/components/index.ts
  packages/wiz-ui/src/components/molecules/index.ts
  packages/wiz-ui/src/components/organisms/index.ts
Labels: 🎨 story

refactor: 全ての移動前のimportを移動後に修正
  packages/wiz-ui/src/components/base/buttons/icon/icon.stories.ts
  packages/wiz-ui/src/components/base/card/card.stories.ts
  packages/wiz-ui/src/components/base/card/card.vue
  packages/wiz-ui/src/components/base/divider/divider.stories.ts
  packages/wiz-ui/src/components/base/inputs/password/password.vue
  packages/wiz-ui/src/components/base/inputs/text/text.vue
  packages/wiz-ui/src/components/base/message-box/message-box.stories.ts
  packages/wiz-ui/src/components/base/tables/card/table.stories.ts
  packages/wiz-ui/src/components/custom/chat/card/chat-card.stories.ts
  packages/wiz-ui/src/components/custom/chat/card/chat-card.vue
  packages/wiz-ui/src/components/custom/chat/form/chat-form.stories.ts
  packages/wiz-ui/src/components/custom/chat/form/chat-form.vue
  packages/wiz-ui/src/components/custom/chat/item/chat-item.stories.ts
  packages/wiz-ui/src/components/custom/chat/item/chat-item.vue
Labels: 🎨 story

feat: icon追加
  packages/wiz-ui/src/components/icons/assignment-add.vue
  packages/wiz-ui/src/components/icons/assignment.vue
  packages/wiz-ui/src/components/icons/business-center.vue
  packages/wiz-ui/src/components/icons/chat.vue
  packages/wiz-ui/src/components/icons/dashboard.vue
  packages/wiz-ui/src/components/icons/groups.vue
  packages/wiz-ui/src/components/icons/help.vue
  packages/wiz-ui/src/components/icons/index.ts
  packages/wiz-ui/src/components/icons/manage-accounts.vue
  packages/wiz-ui/src/components/icons/monitoring.vue
  packages/wiz-ui/src/components/icons/tab.vue
Labels: none

feat: navigation itemを作成
  packages/wiz-ui/src/components/base/index.ts
  packages/wiz-ui/src/components/base/navigation/index.ts
  packages/wiz-ui/src/components/base/navigation/item/index.ts
  packages/wiz-ui/src/components/base/navigation/item/item.stories.ts
  packages/wiz-ui/src/components/base/navigation/item/item.vue
  packages/wiz-ui/src/components/base/navigation/provider.ts
Labels: 🎨 story

feat: navigation containerを作成
  packages/wiz-ui/src/components/base/navigation/container/container.stories.ts
  packages/wiz-ui/src/components/base/navigation/container/container.vue
  packages/wiz-ui/src/components/base/navigation/container/index.ts
  packages/wiz-ui/src/components/base/navigation/index.ts
  packages/wiz-ui/src/components/base/navigation/item/item.stories.ts
  packages/wiz-ui/src/components/base/navigation/item/item.vue
Labels: 🎨 story

refactor: 管理方法を同階層に変更
  packages/wiz-ui/src/components/base/navigation/container.stories.ts
  packages/wiz-ui/src/components/base/navigation/container.vue
  packages/wiz-ui/src/components/base/navigation/container/index.ts
  packages/wiz-ui/src/components/base/navigation/index.ts
  packages/wiz-ui/src/components/base/navigation/item.stories.ts
  packages/wiz-ui/src/components/base/navigation/item.vue
  packages/wiz-ui/src/components/base/navigation/item/index.ts
Labels: 🎨 story

feat: global providerの導入、開閉アニメーションの導入
  packages/wiz-ui/src/components/base/navigation/container.stories.ts
  packages/wiz-ui/src/components/base/navigation/container.vue
  packages/wiz-ui/src/components/base/navigation/item.stories.ts
  packages/wiz-ui/src/components/base/navigation/item.vue
  packages/wiz-ui/src/components/base/navigation/provider.ts
  packages/wiz-ui/src/providers/display.ts
  packages/wiz-ui/src/providers/index.ts
Labels: 🎨 story

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"
