Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

feat(popup-button-group): 外枠のborderRadiusを指定可能にする
  packages/styles/bases/popup-button-group.css.ts
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.vue
Labels: none

fix(popup-button-group): 日本語・英語のlabelの高さをそろえる
  packages/styles/bases/popup-button-group.css.ts
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.vue
Labels: none

docs(popup-button-group): storybookを更新
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.stories.ts
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.stories.ts
Labels: 🎨 story

feat(popup-button-group): tabキーで選択可能にする
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.vue
Labels: none

fix(popup-button-group): @mousedown→@click
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.vue
Labels: none

fix(popup-button-group): iconの色の反転
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.vue
Labels: none

feat(search-selector): buttonGroupを用いてスタイルを修正
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.vue
Labels: none

fix(popup-button-group): gapを修正
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.vue
Labels: none

feat(popup-button-group): keyを設定
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.vue
Labels: none

refactor(search-selector): PopupButtonGroupに置き換え
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.vue
Labels: none

chore: storycapをrootから各パッケージに移動
  package.json
  packages/wiz-ui-next/package.json
  packages/wiz-ui/package.json
Labels: ⬆️ dependencies

[#442] fix: add ellipsis in search select label
  packages/styles/bases/search-selector.css.ts
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.stories.ts
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.stories.ts
Labels: 🎨 story

fix: SBのaction命名をonClick -> onDateSelected
  packages/wiz-ui-next/src/components/base/inputs/range-datepicker/range-date-picker.stories.ts
  packages/wiz-ui/src/components/base/inputs/range-datepicker/range-date-picker.stories.ts
Labels: 🎨 story

fix: cursor not-allowed when disabled
  packages/styles/bases/range-date-picker.css.ts
Labels: none

fix: オプションを選択したときに、ドロップダウンが自動的に閉じるように
  packages/wiz-ui-next/src/components/base/inputs/range-datepicker/range-date-picker.vue
  packages/wiz-ui/src/components/base/inputs/range-datepicker/range-date-picker.vue
Labels: none

refactor: rename datepicker to date-picker
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.vue
  packages/wiz-ui-next/src/components/base/inputs/date-picker/index.ts
  packages/wiz-ui-next/src/components/base/inputs/index.ts
  packages/wiz-ui/src/components/base/inputs/date-picker/date-picker.stories.ts
  packages/wiz-ui/src/components/base/inputs/date-picker/date-picker.vue
  packages/wiz-ui/src/components/base/inputs/date-picker/index.ts
  packages/wiz-ui/src/components/base/inputs/index.ts
Labels: 🎨 story

refactor: rename range-datepicker to date-range-picker
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/index.ts
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/range-date-picker.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/range-date-picker.vue
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/types.ts
  packages/wiz-ui-next/src/components/base/inputs/index.ts
  packages/wiz-ui-next/src/components/custom/form/group.stories.ts
  packages/wiz-ui/src/components/base/inputs/date-range-picker/index.ts
  packages/wiz-ui/src/components/base/inputs/date-range-picker/range-date-picker.stories.ts
  packages/wiz-ui/src/components/base/inputs/date-range-picker/range-date-picker.vue
  packages/wiz-ui/src/components/base/inputs/date-range-picker/types.ts
  packages/wiz-ui/src/components/base/inputs/index.ts
  packages/wiz-ui/src/components/custom/form/group.stories.ts
Labels: 🎨 story

refactor: rename range-datepicker to date-range-picker
  MIGRATION.md
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.vue
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/index.ts
  packages/wiz-ui/src/components/base/inputs/date-range-picker/date-range-picker.stories.ts
  packages/wiz-ui/src/components/base/inputs/date-range-picker/date-range-picker.vue
  packages/wiz-ui/src/components/base/inputs/date-range-picker/index.ts
Labels: 🎨 story

refactor: DateRangePickerSelectBoxOption型の命名変更
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.vue
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/types.ts
  packages/wiz-ui-next/src/components/custom/form/group.stories.ts
  packages/wiz-ui/src/components/base/inputs/date-range-picker/date-range-picker.stories.ts
  packages/wiz-ui/src/components/base/inputs/date-range-picker/date-range-picker.vue
  packages/wiz-ui/src/components/base/inputs/date-range-picker/types.ts
  packages/wiz-ui/src/components/custom/form/group.stories.ts
Labels: 🎨 story

refactor: rename rangeDatePicker to dateRangePicker
  packages/styles/bases/date-range-picker.css.ts
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.vue
  packages/wiz-ui/src/components/base/inputs/date-range-picker/date-range-picker.stories.ts
  packages/wiz-ui/src/components/base/inputs/date-range-picker/date-range-picker.vue
Labels: 🎨 story

refactor: css.ts file rename
  packages/styles/bases/date-range-picker.css.ts
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.vue
  packages/wiz-ui/src/components/base/inputs/date-range-picker/date-range-picker.vue
Labels: none

fix: renamed action handler
  packages/wiz-ui/src/components/base/inputs/date-range-picker/date-range-picker.stories.ts
Labels: 🎨 story

[#411]feat: add storybook
  packages/wiz-ui-next/src/components/base/tables/card/table.stories.ts
  packages/wiz-ui-next/src/components/base/tables/flat/table.stories.ts
  packages/wiz-ui-next/src/components/base/tables/unstyled/table.stories.ts
  packages/wiz-ui/src/components/base/tables/card/table.stories.ts
  packages/wiz-ui/src/components/base/tables/flat/table.stories.ts
  packages/wiz-ui/src/components/base/tables/unstyled/table.stories.ts
Labels: 🎨 story

chore: SBのエラー修正・renameし忘れ
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.stories.ts
Labels: 🎨 story

docs(popup-button-group): console.logを削除
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.stories.ts
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.stories.ts
Labels: 🎨 story

docs(popup-button-group): console.log削除
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.stories.ts
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.stories.ts
Labels: 🎨 story

feat(popup): mouseleaveイベントを取得可能にする
  packages/wiz-ui-next/src/components/base/popup/popup.vue
  packages/wiz-ui/src/components/base/popup/popup.vue
Labels: none

feat(nav-item): NavItem⇄Popup間のカーソル移動以外で，Popupを消す
  packages/wiz-ui-next/src/components/base/navigation/item.vue
  packages/wiz-ui/src/components/base/navigation/item.vue
Labels: none

feat(text): 打消し線Optionの追加
  packages/styles/bases/text.css.ts
  packages/wiz-ui-next/src/components/base/text/text.vue
  packages/wiz-ui/src/components/base/text/text.vue
Labels: none

docs(text): storybookを更新
  packages/wiz-ui-next/src/components/base/text/text.stories.ts
  packages/wiz-ui/src/components/base/text/text.stories.ts
Labels: 🎨 story

refactor(table): table-layoutをcss.tsに切り出し
  packages/styles/bases/card-table.css.ts
  packages/styles/bases/flat-table.css.ts
  packages/styles/bases/unstyled-table.css.ts
  packages/wiz-ui-next/src/components/base/tables/card/table.vue
  packages/wiz-ui-next/src/components/base/tables/flat/table.vue
  packages/wiz-ui-next/src/components/base/tables/unstyled/table.vue
Labels: none

feat(table): tableのwidthを指定できるようにpropsを追加
  packages/wiz-ui-next/src/components/base/tables/card/table.vue
  packages/wiz-ui-next/src/components/base/tables/flat/table.vue
  packages/wiz-ui-next/src/components/base/tables/unstyled/table.vue
Labels: none

docs(table): fixedを使ったstoryの更新
  packages/wiz-ui-next/src/components/base/tables/card/table.stories.ts
  packages/wiz-ui-next/src/components/base/tables/flat/table.stories.ts
  packages/wiz-ui-next/src/components/base/tables/unstyled/table.stories.ts
Labels: 🎨 story

feat(table): vue2のtable-layout切り出し、width追加、story更新
  packages/wiz-ui/src/components/base/tables/card/table.stories.ts
  packages/wiz-ui/src/components/base/tables/card/table.vue
  packages/wiz-ui/src/components/base/tables/flat/table.stories.ts
  packages/wiz-ui/src/components/base/tables/flat/table.vue
  packages/wiz-ui/src/components/base/tables/unstyled/table.stories.ts
  packages/wiz-ui/src/components/base/tables/unstyled/table.vue
Labels: 🎨 story

feat(accordion): accordionを追加
  packages/constants/component/name.ts
  packages/wiz-ui-next/src/components/base/accordion/accordion.vue
  packages/wiz-ui-next/src/components/base/accordion/index.ts
  packages/wiz-ui-next/src/components/base/index.ts
  packages/wiz-ui/src/components/base/accordion/accordion.vue
  packages/wiz-ui/src/components/base/accordion/index.ts
  packages/wiz-ui/src/components/base/index.ts
Labels: none

docs(accordion): storybookを更新
  packages/wiz-ui-next/src/components/base/accordion/accordion.stories.ts
  packages/wiz-ui/src/components/base/accordion/accordion.stories.ts
Labels: 🎨 story

feat(accordion): スタイルを修正
  packages/styles/bases/accordion.css.ts
  packages/wiz-ui-next/src/components/base/accordion/accordion.vue
  packages/wiz-ui/src/components/base/accordion/accordion.vue
Labels: none

docs(accordion): storybookを更新
  packages/wiz-ui-next/src/components/base/accordion/accordion.stories.ts
  packages/wiz-ui/src/components/base/accordion/accordion.stories.ts
Labels: 🎨 story

feat(accordion): 開閉アイコンに回転アニメーションを付与する
  packages/styles/bases/accordion.css.ts
  packages/wiz-ui-next/src/components/base/accordion/accordion.vue
  packages/wiz-ui/src/components/base/accordion/accordion.vue
Labels: none

fix(nav-item): 境界にカーソルが乗るとPopupが消える問題の修正
  packages/wiz-ui-next/src/components/base/navigation/item.vue
  packages/wiz-ui/src/components/base/navigation/item.vue
Labels: none

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"
