Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

fix(text): type error
  packages/wiz-ui-react/src/components/base/text/components/text.tsx
Labels: none

fix(search-selector, select-box): dropdown max-height
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.vue
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/search-selector.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-selector/stories/search-selector.stories.tsx
  packages/wiz-ui-react/src/components/base/inputs/selectbox/components/selectbox.tsx
  packages/wiz-ui-react/src/components/base/inputs/selectbox/stories/selectbox.stories.tsx
Labels: 🎨 story

refactor(search-input): checkbox click handler
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-popup.vue
Labels: none

fix(search-input): dropdown font color
  packages/styles/bases/search-input.css.ts
Labels: none

fix(search-selector): 44px height
  packages/styles/bases/search-selector.css.ts
Labels: none

fix(search-selector): more/less icon color
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/search-selector.tsx
Labels: none

feat(icon-gen): style対応
  packages/icons/scripts/utils.ts
Labels: none

chore(icon-gen): update changeset
  .changeset/six-weeks-return.md
Labels: none

[#1081] Popup Button Group の不要なプロパティを削除
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui-react/src/components/base/popup-button-group/components/button-item.tsx
  packages/wiz-ui-react/src/components/base/popup-button-group/components/popup-button-group.tsx
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.vue
Labels: none

[#1081] 選択肢の余白の設定を gap で設定
  packages/styles/bases/popup-button-group.css.ts
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui-react/src/components/base/popup-button-group/components/button-item.tsx
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.vue
Labels: none

fix(checkbox): 44px height
  packages/styles/bases/checkbox-new.css.ts
Labels: none

fix(radio): 44px height
  packages/styles/bases/radio-new.css.ts
Labels: none

chore: add changeset
  .changeset/angry-snakes-deny.md
Labels: none

docs(search-selector): vue-reactで表示を統一
  packages/wiz-ui-react/src/components/base/inputs/search-selector/stories/search-selector.stories.tsx
Labels: none

chore(search-input): checkboxにwidth:100%を適用
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-popup-panel.tsx
Labels: none

[#1094] display:none の表示方法を修正
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.vue
  packages/wiz-ui/src/components/base/inputs/selectbox/selectbox.vue
Labels: none

[#1094] add changeset
  .changeset/rare-cows-occur.md
Labels: none

[#1096] checkbox, search Input での色の修正
  packages/styles/bases/checkbox-input.css.ts
  packages/styles/bases/search-input.css.ts
Labels: none

[#1081] props の消し忘れを削除
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/search-selector.tsx
Labels: none

chore(search-input): add changeset
  .changeset/popular-clouds-accept.md
Labels: none

[#1081] padding-right の設定修正
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui-react/src/components/base/popup-button-group/components/button-item.tsx
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.vue
Labels: none

[#1045] Vue2 example の削除
  examples/vue2/.eslintrc.json
  examples/vue2/CHANGELOG.md
  examples/vue2/index.html
  examples/vue2/package.json
  examples/vue2/src/App.vue
  examples/vue2/src/components/layout/header/avatar-dropdown.vue
  examples/vue2/src/components/layout/header/index.vue
  examples/vue2/src/components/layout/header/notification-dropdown.vue
  examples/vue2/src/components/layout/header/title-logo.vue
  examples/vue2/src/components/layout/navigation/footer-info.vue
  examples/vue2/src/components/layout/navigation/index.vue
  examples/vue2/src/main.ts
  examples/vue2/src/pages/about.vue
  examples/vue2/src/pages/breakpoint/_components/DisplayBreakpoint.vue
  examples/vue2/src/pages/breakpoint/_components/ReProvideBreakpoint.vue
  examples/vue2/src/pages/breakpoint/index.vue
  examples/vue2/src/pages/contact.vue
  examples/vue2/src/pages/help.vue
  examples/vue2/src/pages/home.vue
  examples/vue2/src/router/index.ts
  examples/vue2/src/shims.d.ts
  examples/vue2/src/styles/global.css
  examples/vue2/tsconfig.json
  examples/vue2/vite.config.ts
Labels: ⬆️ dependencies

fix(time-picker): `width:100%`が反映されない問題を修正
  packages/wiz-ui-react/src/components/base/inputs/time-picker/components/time-picker.tsx
  packages/wiz-ui-react/src/components/base/inputs/time-picker/stories/time-picker.stories.tsx
Labels: none

docs(date-picker): add expand story
  packages/wiz-ui-react/src/components/base/inputs/date-picker/stories/date-picker.stories.tsx
Labels: none

chore: add changeset
  .changeset/selfish-carrots-look.md
Labels: none

refactor(search-input): rename an argument
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-popup-panel.tsx
Labels: none

[#1081] padding-right 再修正
  packages/styles/bases/popup-button-group.css.ts
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui-react/src/components/base/popup-button-group/components/button-item.tsx
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.vue
Labels: none

feat(popup-container): add width property
  packages/styles/bases/popup.css.ts
  packages/wiz-ui-next/src/components/base/popup/popup-container.vue
  packages/wiz-ui/src/components/base/popup/popup-container.vue
Labels: none

fix(time-picker): `width:100%`が反映されない問題を修正
  packages/wiz-ui-next/src/components/base/inputs/timepicker/time-picker.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/timepicker/time-picker.vue
Labels: 🎨 story

fix(date-picker): `width:100%`が反映されない問題を修正
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.vue
Labels: 🎨 story

chore: update changeset
  .changeset/selfish-carrots-look.md
Labels: none

fix style
  packages/styles/bases/checkbox-new.css.ts
  packages/styles/bases/radio-new.css.ts
Labels: none

[#1045] vue2 lint の削除
  packages/icons/package.json
Labels: ⬆️ dependencies

refactor(time-picker):timePickerBoxStyleをtimePickerStyleに統合
  packages/styles/bases/time-picker-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/timepicker/time-picker.vue
  packages/wiz-ui-react/src/components/base/inputs/time-picker/components/time-picker.tsx
  packages/wiz-ui/src/components/base/inputs/timepicker/time-picker.vue
Labels: none

refactor(date-picker): classで`width:100%`を指定
  packages/styles/bases/date-picker-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.vue
Labels: none

[#1081] popup button group の Color 修正
  packages/styles/bases/popup-button-group.css.ts
Labels: none

[#1081] Radio の Color 修正
  packages/styles/bases/radio-input.css.ts
Labels: none

[#1081] gray.400 から gray.500 に変更
  packages/styles/bases/radio-input.css.ts
  packages/styles/bases/search-input.css.ts
Labels: none

[#1096] gray.800 以外の修正を削除
  packages/styles/bases/checkbox-input.css.ts
  packages/styles/bases/radio-input.css.ts
  packages/styles/bases/search-input.css.ts
Labels: none

chore(input): changesetの修正
  .changeset/gorgeous-masks-hear.md
  .changeset/perfect-seals-search.md
  .changeset/rare-cows-occur.md
Labels: none

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"
