Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

chore(search-input): デザインシステム上の数値でpaddingを定義
  packages/styles/bases/search-input.css.ts
Labels: none

chore(search-input): 先頭Itemのpaddingを修正
  packages/styles/bases/search-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-popup.vue
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-popup-panel.tsx
Labels: none

chore(search-input): add changeset
  .changeset/angry-spoons-thank.md
Labels: none

chore(search-selector): PopupButtonGroupを切り出し，新Dropdownデザイン対応
  packages/styles/bases/search-selector.css.ts
  packages/wiz-ui-next/src/components/base/inputs/search-selector/popup-button-group/index.ts
  packages/wiz-ui-next/src/components/base/inputs/search-selector/popup-button-group/popup-button-group.vue
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/popup-button-group/components/button-item.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/popup-button-group/components/divider-item.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/popup-button-group/components/group-item.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/popup-button-group/components/index.ts
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/popup-button-group/components/popup-button-group.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/popup-button-group/index.ts
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/popup-button-group/types.ts
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/search-selector.tsx
Labels: none

chore(popup-button-group): search-selector新デザイン対応のために変更されたpopup-button-groupを元に戻す
  packages/styles/bases/popup-button-group.css.ts
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui-react/src/components/base/popup-button-group/components/button-item.tsx
  packages/wiz-ui-react/src/components/base/popup-button-group/components/popup-button-group.tsx
Labels: none

[#1222] 子popup のpadding の高さ修正
  packages/styles/bases/search-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-popup.vue
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-popup-panel.tsx
Labels: none

[#1222] 選択したコンポーネントを色付けするように修正
  packages/styles/bases/search-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-popup-panel.tsx
Labels: none

[#1258] React にて、content が空の場合、popup を表示しないように修正
  packages/wiz-ui-react/src/components/base/tooltip/components/tooltip.tsx
Labels: none

[#1258] add changeset
  .changeset/blue-kangaroos-play.md
Labels: none

[#1259] DummyText にてuser-select: none を適用
  packages/styles/bases/text.css.ts
Labels: none

[#1259] add changeset
  .changeset/old-socks-cheat.md
Labels: none

[#1190] Option の value の 型を後で注入できるように修正
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-input.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-popup-panel.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/types.ts
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/search-selector.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/types.ts
  packages/wiz-ui-react/src/components/base/inputs/selectbox/components/selectbox.tsx
Labels: none

[#1190] 型を unknown で設定
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-input.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-popup-panel.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-input/stories/dummy-data.ts
  packages/wiz-ui-react/src/components/base/inputs/search-input/stories/search-input.stories.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/search-selector-helper.ts
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/search-selector.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/types.ts
  packages/wiz-ui-react/src/components/base/inputs/search-selector/stories/search-selector.stories.tsx
  packages/wiz-ui-react/src/components/base/inputs/selectbox/components/selectbox.tsx
  packages/wiz-ui-react/src/components/base/inputs/selectbox/stories/selectbox.stories.tsx
  packages/wiz-ui-react/src/components/base/navigation/components/navigation-item.tsx
  packages/wiz-ui-react/src/components/base/popup-button-group/components/popup-button-group.tsx
  packages/wiz-ui-react/src/components/base/popup-button-group/types.ts
Labels: none

ビルドエラーの修正
  packages/wiz-ui-react/src/components/base/navigation/stories/navigation-container.stories.tsx
  packages/wiz-ui-react/src/components/base/popup-button-group/components/button-item.tsx
  packages/wiz-ui-react/src/components/base/popup-button-group/components/group-item.tsx
  packages/wiz-ui-react/src/components/base/popup-button-group/stories/popup-button-group.stories.tsx
  packages/wiz-ui-react/src/components/custom/chat/components/chat-card.tsx
  packages/wiz-ui-react/src/components/custom/chat/stories/chat-card.stories.tsx
  packages/wiz-ui-react/src/components/custom/form/stories/all-input.tsx
Labels: none

[#1190] add changeset
  .changeset/quiet-clocks-jam.md
Labels: none

React の type を unknown → T に変換
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-input.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-popup-panel.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-input/stories/dummy-data.ts
  packages/wiz-ui-react/src/components/base/inputs/search-input/stories/search-input.stories.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/search-selector-helper.ts
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/search-selector.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-selector/stories/search-selector.stories.tsx
  packages/wiz-ui-react/src/components/base/inputs/selectbox/components/selectbox.tsx
  packages/wiz-ui-react/src/components/base/popup-button-group/components/button-item.tsx
  packages/wiz-ui-react/src/components/base/popup-button-group/components/group-item.tsx
  packages/wiz-ui-react/src/components/base/popup-button-group/components/popup-button-group.tsx
  packages/wiz-ui-react/src/components/custom/chat/components/chat-card.tsx
  packages/wiz-ui-react/src/components/custom/chat/stories/chat-card.stories.tsx
  packages/wiz-ui-react/src/components/custom/form/stories/all-input.tsx
Labels: none

docs(poll-graph): 0%での表示パターンを追加
  packages/wiz-ui-next/src/components/base/graphs/poll/poll.stories.ts
  packages/wiz-ui-react/src/components/base/graphs/poll/stories/poll-graph.stories.tsx
Labels: 🎨 story

fix(poll-graph): 0%での表示をVue版と揃える
  packages/wiz-ui-react/src/components/base/graphs/poll/components/bar.tsx
Labels: none

chore(poll-graph): add changeset
  .changeset/tricky-jokes-film.md
Labels: none

feat(form-control): add direction property
  packages/wiz-ui-next/src/components/custom/form/control.vue
  packages/wiz-ui-react/src/components/custom/form/components/form-control.tsx
Labels: none

docs(form-control): direction property
  packages/wiz-ui-next/src/components/custom/form/control.stories.ts
  packages/wiz-ui-react/src/components/custom/form/stories/form-control.stories.tsx
Labels: 🎨 story

chore(form-control): add changeset
  .changeset/tall-dancers-move.md
Labels: none

docs(form-group): form group with vertical alignment
  packages/wiz-ui-react/src/components/custom/form/stories/all-input.tsx
  packages/wiz-ui-react/src/components/custom/form/stories/form-group.stories.tsx
Labels: none

refactor(form-control): error display
  packages/wiz-ui-react/src/components/custom/form/components/form-control.tsx
Labels: none

[#1190] 型エラーの修正
  packages/wiz-ui-next/src/components/custom/timeline/stories/timeline-item.stories.ts
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-input.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-popup-panel.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-input/stories/search-input.stories.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/search-selector.tsx
Labels: 🎨 story

refactor(form-control): error display
  packages/wiz-ui-next/src/components/custom/form/control.vue
  packages/wiz-ui-react/src/components/custom/form/components/form-control.tsx
Labels: none

chore(deps): update Vue to 3.4.21
  examples/vue3/package.json
  packages/wiz-ui-next/package.json
  packages/wiz-ui-next/src/components/custom/timeline/stories/timeline-item.stories.ts
  pnpm-lock.yaml
Labels: 🎨 story, ⬆️ dependencies

chore(deps): update eslint-plugin-vue to 9.23.0
  package.json
  pnpm-lock.yaml
Labels: ⬆️ dependencies

feat(selectbox): generic component
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.vue
  packages/wiz-ui-next/src/components/base/inputs/selectbox/types.ts
Labels: 🎨 story

feat(chat-card): generic component
  packages/wiz-ui-next/src/components/custom/chat/card/chat-card.stories.ts
  packages/wiz-ui-next/src/components/custom/chat/card/chat-card.vue
  packages/wiz-ui-next/src/components/custom/form/group.stories.ts
Labels: 🎨 story

feat(search-selector): generic component
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui-next/src/components/base/inputs/search-selector/types.ts
  packages/wiz-ui-next/src/components/base/popup-button-group/types.ts
Labels: 🎨 story

feat(search-input): generic component
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-popup.vue
  packages/wiz-ui-next/src/components/base/inputs/search-input/stories/options.ts
  packages/wiz-ui-next/src/components/base/inputs/search-input/stories/search-input.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/search-input/types.ts
Labels: 🎨 story

chore: add changeset
  .changeset/eleven-kangaroos-grow.md
Labels: none

fix(form-control): direction
  packages/wiz-ui-next/src/components/custom/form/control.vue
Labels: none

feat(popup-button-group): generics
  packages/wiz-ui-next/src/components/base/navigation/container.stories.ts
  packages/wiz-ui-next/src/components/base/navigation/item.vue
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.stories.ts
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.vue
Labels: 🎨 story

fix(example): generics
  examples/vue3/src/pages/chat/_components/chat-form.vue
Labels: none

chore(deps): update @vitejs/plugin-vue, vue-tsc
  examples/vue3/package.json
  packages/wiz-ui-next/package.json
  pnpm-lock.yaml
Labels: ⬆️ dependencies

refactor(search-input): props, emits
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-input.vue
Labels: none

refactor(popup-button-group): props
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.vue
Labels: none

feat(nav-item): generics
  packages/wiz-ui-next/src/components/base/navigation/item.vue
Labels: none

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"
