Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"

fix(search-selector): option選択時にセレクターの高さが小さくなるバグの修正
  packages/styles/bases/search-selector.css.ts
Labels: none

fix(search-selector): disable時に機能してしまうバグの修正
  packages/styles/bases/search-selector.css.ts
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.vue
Labels: none

feat(search-selector): disable時のstorybookを追加
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.stories.ts
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.stories.ts
Labels: 🎨 story

feat(search-selector): single select時、すでにoptionを選択しているときにinputをクリックした場合は、ドロップダウンの開閉になるように変更
  packages/styles/bases/search-selector.css.ts
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.vue
Labels: none

feat(step-bar): step-barを追加
  packages/constants/component/name.ts
  packages/styles/bases/step-bar.css.ts
  packages/wiz-ui-next/src/components/base/step-bar/index.ts
  packages/wiz-ui-next/src/components/base/step-bar/step-bar.vue
  packages/wiz-ui-next/src/components/base/step-bar/step-line.vue
  packages/wiz-ui-next/src/components/base/step-bar/step-point.vue
  packages/wiz-ui-next/src/components/base/step-bar/types.ts
  packages/wiz-ui/src/components/base/step-bar/index.ts
  packages/wiz-ui/src/components/base/step-bar/step-bar.vue
  packages/wiz-ui/src/components/base/step-bar/step-line.vue
  packages/wiz-ui/src/components/base/step-bar/step-point.vue
  packages/wiz-ui/src/components/base/step-bar/types.ts
Labels: none

docs(step-bar): storybookを更新
  packages/wiz-ui-next/src/components/base/step-bar/step-bar.stories.ts
  packages/wiz-ui-next/src/components/base/step-bar/step-point.stories.ts
  packages/wiz-ui/src/components/base/step-bar/step-bar.stories.ts
  packages/wiz-ui/src/components/base/step-bar/step-point.stories.ts
Labels: 🎨 story

feat(step-bar): スタイルの修正
  packages/styles/bases/step-bar.css.ts
  packages/wiz-ui-next/src/components/base/step-bar/step-bar.vue
  packages/wiz-ui/src/components/base/step-bar/step-bar.vue
Labels: none

feat(step-bar): step-lineの色を修正
  packages/styles/bases/step-bar.css.ts
Labels: none

fix(step-point): storiesの編集
  packages/wiz-ui-next/src/components/base/step-bar/step-point.stories.ts
  packages/wiz-ui/src/components/base/step-bar/step-point.stories.ts
Labels: 🎨 story

refactor(step-bar): コンポーネントの呼び出し方を統一
  packages/wiz-ui-next/src/components/base/step-bar/step-bar.vue
  packages/wiz-ui-next/src/components/base/step-bar/step-point.vue
  packages/wiz-ui/src/components/base/step-bar/step-bar.vue
  packages/wiz-ui/src/components/base/step-bar/step-point.vue
Labels: none

release: v0.7.3
  packages/wiz-ui-next/package.json
  packages/wiz-ui-next/src/index.ts
  packages/wiz-ui/package.json
  packages/wiz-ui/src/index.ts
Labels: ⬆️ dependencies

fix(navigation): zIndexの追加
  packages/styles/bases/navigation.css.ts
Labels: none

release: v0.7.4
  packages/wiz-ui-next/package.json
  packages/wiz-ui-next/src/index.ts
  packages/wiz-ui/package.json
  packages/wiz-ui/src/index.ts
Labels: ⬆️ dependencies

[#411]feat: add disabled action in nav item
  packages/styles/bases/navigation.css.ts
  packages/wiz-ui-next/src/components/base/navigation/item.stories.ts
  packages/wiz-ui-next/src/components/base/navigation/item.vue
  packages/wiz-ui/src/components/base/navigation/item.stories.ts
  packages/wiz-ui/src/components/base/navigation/item.vue
Labels: 🎨 story

[#411]feat: add tooltip action
  packages/wiz-ui-next/src/components/base/navigation/item.stories.ts
  packages/wiz-ui-next/src/components/base/navigation/item.vue
  packages/wiz-ui/src/components/base/navigation/item.stories.ts
  packages/wiz-ui/src/components/base/navigation/item.vue
Labels: 🎨 story

[#411]feat: fix disabled icon color
  packages/styles/bases/navigation.css.ts
Labels: none

feat(popup-button-group): 選択Popup系のButtonGroupを追加
  packages/constants/component/name.ts
  packages/styles/bases/popup-button-group.css.ts
  packages/wiz-ui-next/src/components/base/index.ts
  packages/wiz-ui-next/src/components/base/popup-button-group/index.ts
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui-next/src/components/base/popup-button-group/types.ts
  packages/wiz-ui/src/components/base/index.ts
  packages/wiz-ui/src/components/base/popup-button-group/index.ts
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui/src/components/base/popup-button-group/types.ts
Labels: none

docs(popup-button-group): storybookを更新
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.stories.ts
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.stories.ts
Labels: 🎨 story

refactor(popup-button-group): 不要なスタイルを削除
  packages/styles/bases/popup-button-group.css.ts
Labels: none

feat(popup-button-group): ネストしたButtonGroupのスタイルを調整
  packages/styles/bases/popup-button-group.css.ts
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.vue
Labels: none

feat(popup-button-group): iconの色をカスタマイズ可能にする
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui-next/src/components/base/popup-button-group/types.ts
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui/src/components/base/popup-button-group/types.ts
Labels: none

docs(popup-button-group): storybookを更新
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.stories.ts
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.stories.ts
Labels: 🎨 story

feat(popup-button-group): ネストしたグループの区切り線の表示切替に対応
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui-next/src/components/base/popup-button-group/types.ts
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui/src/components/base/popup-button-group/types.ts
Labels: none

docs(popup-button-group): storybookを更新
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.stories.ts
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.stories.ts
Labels: 🎨 story

feat(popup-button-group): ボタン周りのスタイルの調整
  packages/styles/bases/popup-button-group.css.ts
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.vue
Labels: none

[#411]feat: fix navicon position in storybook
  packages/wiz-ui-next/src/components/base/navigation/item.stories.ts
  packages/wiz-ui/src/components/base/navigation/item.stories.ts
Labels: 🎨 story

feat(nav-item): hover,click時にポップアップを表示する機能を追加
  packages/styles/bases/navigation.css.ts
  packages/wiz-ui-next/src/components/base/navigation/item.vue
  packages/wiz-ui/src/components/base/navigation/item.vue
Labels: none

docs(nav-container): ポップアップを表示するstorybookを追加
  packages/wiz-ui-next/src/components/base/navigation/container.stories.ts
  packages/wiz-ui/src/components/base/navigation/container.stories.ts
Labels: 🎨 story

[#439] feat: set not-allowed cursor in case of disabled
  packages/styles/bases/navigation.css.ts
Labels: none

[#433] add a condition of the same in the Nth charactor between the words
  packages/wiz-ui-next/src/components/base/inputs/search-selector/levenshtein-distance.ts
  packages/wiz-ui/src/components/base/inputs/search-selector/levenshtein-distance.ts
Labels: none

fix(popup): layer="base"を指定可能にする
  packages/wiz-ui-next/src/components/base/popup/popup.vue
  packages/wiz-ui/src/components/base/popup/popup.vue
Labels: none

fix(nav-item): popupがnav-containerよりも低くする
  packages/wiz-ui-next/src/components/base/navigation/item.vue
  packages/wiz-ui/src/components/base/navigation/item.vue
Labels: none

docs(nav-container): storybookを更新
  packages/wiz-ui-next/src/components/base/navigation/container.stories.ts
  packages/wiz-ui/src/components/base/navigation/container.stories.ts
Labels: 🎨 story

fix(nav-item): ホバーしたままpopupにカーソルを合わせても非表示にしない
  packages/wiz-ui-next/src/components/base/navigation/item.vue
  packages/wiz-ui/src/components/base/navigation/item.vue
Labels: none

fix(calender): date-pickerやdate-picker-multipleで使えるように拡張
  packages/styles/bases/calendar.css.ts
  packages/wiz-ui-next/src/components/base/calendar/calendar.vue
  packages/wiz-ui/src/components/base/calendar/calendar.vue
Labels: none

docs(calender): calenderの拡張にともなってstoryを更新
  packages/wiz-ui-next/src/components/base/calendar/calendar.stories.ts
  packages/wiz-ui-next/src/components/base/calendar/calendar.vue
  packages/wiz-ui/src/components/base/calendar/calendar.stories.ts
  packages/wiz-ui/src/components/base/calendar/calendar.vue
Labels: 🎨 story

fix(date-picker): style修正、a11y矯正
  packages/styles/bases/date-picker-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/datepicker/date-picker.vue
  packages/wiz-ui/src/components/base/inputs/datepicker/date-picker.vue
Labels: none

feat: iconにcurrentColorを設定できるinherit colorを追加
  packages/styles/bases/icon.css.ts
  packages/wiz-ui-next/src/components/base/icon/icon.vue
  packages/wiz-ui/src/components/base/icon/icon.vue
Labels: none

chore: developのwiz-iconの変更のみ取り込み
  packages/styles/bases/icon.css.ts
  packages/wiz-ui-next/src/components/base/icon/icon.vue
  packages/wiz-ui/src/components/base/icon/icon.vue
Labels: none

feat: monthSelectorのarea-label追加
  packages/constants/component/area-label.ts
Labels: none
