Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"

refactor: StorybookのTitle修正
  packages/wiz-ui/src/components/base/anchor/anchor.stories.ts
  packages/wiz-ui/src/components/base/buttons/icon/icon.stories.ts
  packages/wiz-ui/src/components/base/buttons/text/text.stories.ts
  packages/wiz-ui/src/components/base/card/card.stories.ts
  packages/wiz-ui/src/components/base/divider/divider.stories.ts
  packages/wiz-ui/src/components/base/heading/heading.stories.ts
  packages/wiz-ui/src/components/base/inputs/password/password.stories.ts
  packages/wiz-ui/src/components/base/inputs/text/text.stories.ts
  packages/wiz-ui/src/components/base/message-box/message-box.stories.ts
  packages/wiz-ui/src/components/base/stack/stack.stories.ts
  packages/wiz-ui/src/components/base/tables/card/table.stories.ts
  packages/wiz-ui/src/components/base/tag/tag.stories.ts
  packages/wiz-ui/src/components/base/text/text.stories.ts
  packages/wiz-ui/src/components/base/textarea/text-area.stories.ts
  packages/wiz-ui/src/components/base/tooltip/tooltip.stories.ts
  packages/wiz-ui/src/components/custom/chat/card/chat-card.stories.ts
  packages/wiz-ui/src/components/custom/chat/form/chat-form.stories.ts
  packages/wiz-ui/src/components/custom/chat/item/chat-item.stories.ts
Labels: 🎨 story

feat: badgeを追加
  packages/wiz-ui/src/components/base/icon/icon.stories.ts
  packages/wiz-ui/src/components/base/icon/icon.vue
  packages/wiz-ui/src/components/icons/index.ts
  packages/wiz-ui/src/components/icons/notification.vue
Labels: 🎨 story

feat: wiz avatar
  packages/wiz-ui/.storybook/assets/images/avatar-1.png
  packages/wiz-ui/.storybook/assets/images/avatar-2.png
  packages/wiz-ui/.storybook/assets/images/avatar-3.png
  packages/wiz-ui/.storybook/main.js
  packages/wiz-ui/src/components/base/avatar/avatar.stories.ts
  packages/wiz-ui/src/components/base/avatar/avatar.vue
  packages/wiz-ui/src/components/base/avatar/index.ts
  packages/wiz-ui/src/components/base/index.ts
Labels: 🎨 story

chore: storybookのvariant一部命名を修正
  packages/wiz-ui/src/components/base/avatar/avatar.stories.ts
Labels: 🎨 story

feat: wiz textにmax lineを設けoverflowすると3点ドットで省略するように
  packages/wiz-ui/src/components/base/text/text.stories.ts
  packages/wiz-ui/src/components/base/text/text.vue
Labels: 🎨 story

feat: stackにposition props追加
  packages/wiz-ui/src/components/base/stack/h-stack.vue
  packages/wiz-ui/src/components/base/stack/stack.stories.ts
  packages/wiz-ui/src/components/base/stack/stack.vue
  packages/wiz-ui/src/components/base/stack/v-stack.vue
Labels: 🎨 story

feat: NotificationCardの実装
  packages/wiz-ui/src/components/base/box/box.vue
  packages/wiz-ui/src/components/custom/notification/card/card.stories.ts
  packages/wiz-ui/src/components/custom/notification/card/card.vue
  packages/wiz-ui/src/components/custom/notification/card/index.ts
  packages/wiz-ui/src/components/icons/chevron-right.vue
  packages/wiz-ui/src/components/icons/index.ts
  packages/wiz-ui/src/utils/date.ts
  packages/wiz-ui/src/utils/styles/shadow.ts
Labels: 🎨 story

fix: BaseMessageにもusernameを持たせる
  packages/wiz-ui/src/types/components/chat.ts
Labels: none

refactor: message typesの移動
  packages/wiz-ui/src/components/custom/chat/card/chat-card.vue
  packages/wiz-ui/src/components/custom/chat/form/chat-form.vue
  packages/wiz-ui/src/components/custom/chat/index.ts
  packages/wiz-ui/src/components/custom/chat/item/chat-item.stories.ts
  packages/wiz-ui/src/components/custom/chat/item/chat-item.vue
  packages/wiz-ui/src/components/custom/chat/types.ts
Labels: 🎨 story

fix: chatの既未読表示やtimestamp、usernameの表示非表示をすべて外部に委託するように変更
  packages/wiz-ui/src/components/custom/chat/card/chat-card.stories.ts
  packages/wiz-ui/src/components/custom/chat/card/chat-card.vue
  packages/wiz-ui/src/components/custom/chat/item/chat-item.stories.ts
  packages/wiz-ui/src/components/custom/chat/item/chat-item.vue
  packages/wiz-ui/src/components/custom/chat/types.ts
Labels: 🎨 story

fix: timeを必須プロパティに
  packages/wiz-ui/src/components/custom/chat/item/chat-item.stories.ts
  packages/wiz-ui/src/components/custom/chat/item/chat-item.vue
  packages/wiz-ui/src/components/custom/chat/types.ts
Labels: 🎨 story

feat: 日付表示をついか
  packages/wiz-ui/src/components/custom/chat/card/chat-card.stories.ts
  packages/wiz-ui/src/components/custom/chat/card/chat-card.vue
  packages/wiz-ui/src/utils/date.ts
Labels: 🎨 story

feat: Notification cardに既読ステータス等のデザイン要件を追加
  packages/wiz-ui/src/components/base/box/box.vue
  packages/wiz-ui/src/components/custom/notification/card/card.stories.ts
  packages/wiz-ui/src/components/custom/notification/card/card.vue
  packages/wiz-ui/src/components/custom/notification/card/index.ts
  packages/wiz-ui/src/components/custom/notification/card/types.ts
Labels: 🎨 story

refactor: dead code削除
  packages/wiz-ui/src/components/custom/chat/form/chat-form.vue
Labels: none

feat: notification list コンポーネントの作成
  packages/wiz-ui/src/components/custom/index.ts
  packages/wiz-ui/src/components/custom/notification/card/card.vue
  packages/wiz-ui/src/components/custom/notification/card/index.ts
  packages/wiz-ui/src/components/custom/notification/index.ts
  packages/wiz-ui/src/components/custom/notification/list/index.ts
  packages/wiz-ui/src/components/custom/notification/list/list.stories.ts
  packages/wiz-ui/src/components/custom/notification/list/list.vue
  packages/wiz-ui/src/components/custom/notification/types.ts
Labels: 🎨 story

refactor: cardをpanelに命名変更
  packages/wiz-ui/src/components/custom/notification/card/index.ts
  packages/wiz-ui/src/components/custom/notification/index.ts
  packages/wiz-ui/src/components/custom/notification/list/list.vue
  packages/wiz-ui/src/components/custom/notification/panel/index.ts
  packages/wiz-ui/src/components/custom/notification/panel/panel.stories.ts
  packages/wiz-ui/src/components/custom/notification/panel/panel.vue
Labels: 🎨 story

feat: tabの実装v1
  packages/wiz-ui/src/components/base/index.ts
  packages/wiz-ui/src/components/base/tab/index.ts
  packages/wiz-ui/src/components/base/tab/provider.ts
  packages/wiz-ui/src/components/base/tab/tab-pane.stories.ts
  packages/wiz-ui/src/components/base/tab/tab-pane.vue
  packages/wiz-ui/src/components/base/tab/tab.stories.ts
  packages/wiz-ui/src/components/base/tab/tab.vue
Labels: 🎨 story

release: 0.1.3
  packages/wiz-ui/package.json
Labels: ⬆️ dependencies

feat: tabがtab-paneを内包する形にして内部透明性を高めた
  .eslintrc.json
  index.html
  package-lock.json
  packages/wiz-ui/package.json
  packages/wiz-ui/src/components/base/tab/index.ts
  packages/wiz-ui/src/components/base/tab/provider.ts
  packages/wiz-ui/src/components/base/tab/tab-pane.stories.ts
  packages/wiz-ui/src/components/base/tab/tab-pane.vue
  packages/wiz-ui/src/components/base/tab/tab.stories.ts
  packages/wiz-ui/src/components/base/tab/tab.vue
  packages/wiz-ui/src/constants/component/name.ts
  packages/wiz-ui/src/constants/styles/z-index.ts
  packages/wiz-ui/src/hooks/use-z-index.ts
  packages/wiz-ui/src/shims.d.ts
  packages/wiz-ui/src/types/shims-vue.d.ts
  packages/wiz-ui/src/types/vite-env.d.ts
  packages/wiz-ui/tsconfig.json
  packages/wiz-ui/tsconfig.node.json
  packages/wiz-ui/vite.config.ts
Labels: 🎨 story, ⬆️ dependencies

docs: format dateにJSDOCを追加
  packages/wiz-ui/src/utils/date.ts
Labels: none

fix: tab-paneの通知のtextのFWをnormal固定に
  packages/wiz-ui/src/components/base/tab/tab-pane.vue
Labels: none

feat: Notificationを作成
  packages/wiz-ui/src/components/base/tab/tab.vue
  packages/wiz-ui/src/components/base/tab/types.ts
  packages/wiz-ui/src/components/custom/notification/index.ts
  packages/wiz-ui/src/components/custom/notification/list/list.stories.ts
  packages/wiz-ui/src/components/custom/notification/list/list.vue
  packages/wiz-ui/src/components/custom/notification/notification.stories.ts
  packages/wiz-ui/src/components/custom/notification/notification.vue
  packages/wiz-ui/src/components/custom/notification/panel/panel.stories.ts
  packages/wiz-ui/src/components/custom/notification/panel/panel.vue
  packages/wiz-ui/src/components/custom/notification/types.ts
Labels: 🎨 story

fix: 軽微なデザイン修正、エラーが出ていたtext.vueにname optionの付与
  packages/wiz-ui/src/components/base/stack/h-stack.vue
  packages/wiz-ui/src/components/base/stack/v-stack.vue
  packages/wiz-ui/src/components/base/text/text.vue
  packages/wiz-ui/src/components/custom/notification/panel/panel.vue
  packages/wiz-ui/src/constants/component/name.ts
Labels: none

fix: WizButtonIconのtransparent時の要件を修正
  packages/wiz-ui/src/components/base/buttons/icon/icon.vue
Labels: none

feat: WizIMenuの追加
  packages/wiz-ui/src/components/icons/index.ts
  packages/wiz-ui/src/components/icons/menu.vue
Labels: none

feat: WizHeaderを準備
  packages/wiz-ui/src/components/custom/header/index.ts
  packages/wiz-ui/src/constants/component/name.ts
Labels: none

fix: zIndexに新しい層を追加
  packages/wiz-ui/src/components/custom/chat/card/chat-card.vue
  packages/wiz-ui/src/constants/styles/z-index.ts
Labels: none

feat: WizHeaderを作成
  packages/wiz-ui/src/components/base/divider/divider.vue
  packages/wiz-ui/src/components/custom/chat/card/chat-card.vue
  packages/wiz-ui/src/components/custom/chat/types.ts
  packages/wiz-ui/src/components/custom/header/header.stories.ts
  packages/wiz-ui/src/components/custom/header/header.vue
  packages/wiz-ui/src/components/custom/index.ts
  packages/wiz-ui/src/components/index.ts
  packages/wiz-ui/src/components/manager/index.ts
  packages/wiz-ui/src/components/manager/provider.vue
  packages/wiz-ui/src/index.ts
Labels: 🎨 story

feat: Playground環境にLayout UIを整備
  examples/vue2/package.json
  examples/vue2/src/App.vue
  examples/vue2/src/main.ts
  examples/vue2/src/pages/about.vue
  examples/vue2/src/pages/contact.vue
  examples/vue2/src/pages/help.vue
  examples/vue2/src/pages/home.vue
  examples/vue2/src/router/index.ts
  examples/vue2/src/shims.d.ts
  examples/vue2/src/vite-env.d.ts
  examples/vue2/tsconfig.json
  examples/vue2/tsconfig.node.json
  package-lock.json
Labels: ⬆️ dependencies

feat: WizIconのvariant=transparentにpadding0要件追加、色変更
  packages/wiz-ui/src/components/base/buttons/icon/icon.vue
Labels: none

fix: Notification部分のUI調整
  packages/wiz-ui/src/components/base/box/box.vue
  packages/wiz-ui/src/components/custom/header/header.stories.ts
  packages/wiz-ui/src/components/custom/header/header.vue
  packages/wiz-ui/src/components/custom/notification/list/list.stories.ts
  packages/wiz-ui/src/components/custom/notification/list/list.vue
  packages/wiz-ui/src/components/custom/notification/notification.vue
  packages/wiz-ui/src/components/custom/notification/panel/panel.vue
  packages/wiz-ui/src/utils/styles/spacing.ts
Labels: 🎨 story

fix:selectboxコンポーネントのstyle調整
  packages/wiz-ui/src/components/base/inputs/selectbox/index.ts
  packages/wiz-ui/src/components/base/inputs/selectbox/selectbox.stories.ts
  packages/wiz-ui/src/components/base/inputs/selectbox/selectbox.vue
Labels: 🎨 story

fix:selectboxのstorybook調整
  packages/wiz-ui/src/components/base/inputs/selectbox/selectbox.stories.ts
  packages/wiz-ui/src/components/base/inputs/selectbox/selectbox.vue
Labels: 🎨 story

feat:wiz-toggle-switchの作成
  packages/wiz-ui/src/components/base/inputs/toggle-switch/index.ts
  packages/wiz-ui/src/components/base/inputs/toggle-switch/toggle-switch.stories.ts
  packages/wiz-ui/src/components/base/inputs/toggle-switch/toggle-switch.vue
Labels: 🎨 story

feat: dev scriptsを並列実行
  package-lock.json
  package.json
Labels: ⬆️ dependencies

feat: Popup Managerを簡易的に作成
  packages/wiz-ui/src/components/base/popup/index.ts
  packages/wiz-ui/src/components/base/popup/popup.stories.ts
  packages/wiz-ui/src/components/base/popup/popup.vue
Labels: 🎨 story

fix: z-indexの型エラー修正
  packages/wiz-ui/src/components/custom/chat/card/chat-card.vue
  packages/wiz-ui/src/constants/styles/z-index.ts
Labels: none

feat: formRowsを設定できるように追加
  packages/wiz-ui/src/components/custom/chat/card/chat-card.vue
  packages/wiz-ui/src/components/custom/chat/form/chat-form.vue
Labels: none

feat: FormRowの設定をstorybookに追加
  packages/wiz-ui/src/components/custom/chat/card/chat-card.stories.ts
Labels: 🎨 story

feat: z-indexの修正、typingUsernameの追加
  packages/wiz-ui/src/components/custom/chat/card/chat-card.stories.ts
  packages/wiz-ui/src/components/custom/chat/card/chat-card.vue
Labels: 🎨 story
