Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

feat(select-box): add dropdownHeight prop
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.vue
  packages/wiz-ui-react/src/components/base/inputs/selectbox/components/selectbox.tsx
Labels: none

docs(select-box): add dropdownHeight story
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.stories.ts
  packages/wiz-ui-react/src/components/base/inputs/selectbox/stories/selectbox.stories.tsx
Labels: 🎨 story

chore(select-box): add changeset
  .changeset/tasty-bees-develop.md
Labels: none

feat(pagination): 表示ページ数を制御するpropを追加
  packages/wiz-ui-next/src/components/base/pagination/pagination.vue
  packages/wiz-ui-react/src/components/base/pagination/components/pagination.tsx
Labels: none

docs(pagination): add story
  packages/wiz-ui-next/src/components/base/pagination/pagination.stories.ts
  packages/wiz-ui-react/src/components/base/pagination/stories/pagination.stories.tsx
Labels: 🎨 story

fix(pagination): icon color
  packages/styles/bases/pagination.css.ts
Labels: none

chore(pagination): add changeset
  .changeset/early-coins-explain.md
Labels: none

chore(pagination): 表示幅は0以上
  packages/wiz-ui-next/src/components/base/pagination/pagination.vue
  packages/wiz-ui-react/src/components/base/pagination/components/pagination.tsx
Labels: none

fix(selectbox): dropdownHeightはoptional
  packages/wiz-ui-react/src/components/base/inputs/selectbox/components/selectbox.tsx
Labels: none

feat: define base props
  packages/wiz-ui-react/src/types/base-props.ts
  packages/wiz-ui-react/src/types/index.ts
Labels: none

feat(accordion, anchor): className, style props
  packages/wiz-ui-react/src/components/base/accordion/components/accordion.tsx
  packages/wiz-ui-react/src/components/base/anchor/components/anchor.tsx
Labels: none

feat(avator, badge, box): className, style props
  packages/wiz-ui-react/src/components/base/avatar/components/avatar.tsx
  packages/wiz-ui-react/src/components/base/badge/components/badge.tsx
  packages/wiz-ui-react/src/components/base/box/components/box.tsx
Labels: none

[#902] feat: exLabel を表示
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.stories.ts
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.vue
Labels: 🎨 story

feat(buttons): className, style props
  packages/wiz-ui-react/src/components/base/buttons/icon/components/icon-button.tsx
  packages/wiz-ui-react/src/components/base/buttons/text/components/text-button.tsx
  packages/wiz-ui-react/src/components/base/buttons/tiny/components/tiny-button.tsx
  packages/wiz-ui-react/src/components/base/buttons/toggle/components/toggle-button.tsx
Labels: none

feat(class, style): calender, card, dialog, divider, drawer, dropdown, bar
  packages/wiz-ui-react/src/components/base/calendar/components/calendar.tsx
  packages/wiz-ui-react/src/components/base/card/components/card.tsx
  packages/wiz-ui-react/src/components/base/dialog/components/dialog.tsx
  packages/wiz-ui-react/src/components/base/divider/components/divider.tsx
  packages/wiz-ui-react/src/components/base/divider/stories/divider.stories.tsx
  packages/wiz-ui-react/src/components/base/drawer/drawer.tsx
  packages/wiz-ui-react/src/components/base/dropdown/components/dropdown-item.tsx
  packages/wiz-ui-react/src/components/base/dropdown/components/dropdown.tsx
  packages/wiz-ui-react/src/components/base/graphs/circle/components/bar.tsx
Labels: none

feat(class, style): graphs
  packages/wiz-ui-react/src/components/base/graphs/circle/components/circle-graph.tsx
  packages/wiz-ui-react/src/components/base/graphs/compare/components/bar.tsx
  packages/wiz-ui-react/src/components/base/graphs/compare/components/compare-graph.tsx
  packages/wiz-ui-react/src/components/base/graphs/line/components/line-graph.tsx
  packages/wiz-ui-react/src/components/base/graphs/meter/components/meter-graph.tsx
  packages/wiz-ui-react/src/components/base/graphs/poll/components/bar.tsx
  packages/wiz-ui-react/src/components/base/graphs/poll/components/poll-graph.tsx
Labels: none

feat(class, style): row, bar, transition-graph, header, heading, icon, information-panel, base-input, checkbox-new
  packages/wiz-ui-react/src/components/base/graphs/poll/components/row.tsx
  packages/wiz-ui-react/src/components/base/graphs/transition/components/bar.tsx
  packages/wiz-ui-react/src/components/base/graphs/transition/components/transition-graph.tsx
  packages/wiz-ui-react/src/components/base/header/components/header.tsx
  packages/wiz-ui-react/src/components/base/heading/components/heading.tsx
  packages/wiz-ui-react/src/components/base/icon/components/icon.tsx
  packages/wiz-ui-react/src/components/base/information-panel/components/information-panel.tsx
  packages/wiz-ui-react/src/components/base/inputs/base/components/base-input.tsx
  packages/wiz-ui-react/src/components/base/inputs/checkbox-new/components/checkbox-new.tsx
Labels: none

feat(class, style): date-picker, date-range-picker, panel-switch, password, radio, search-input
  packages/wiz-ui-react/src/components/base/inputs/date-picker/components/date-picker.tsx
  packages/wiz-ui-react/src/components/base/inputs/date-range-picker/components/date-range-picker.tsx
  packages/wiz-ui-react/src/components/base/inputs/panel-switch/components/panel-switch.tsx
  packages/wiz-ui-react/src/components/base/inputs/password/components/password-input.tsx
  packages/wiz-ui-react/src/components/base/inputs/radio-new/components/radio-new.tsx
  packages/wiz-ui-react/src/components/base/inputs/radio/components/radio.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-input.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-popup-panel.tsx
Labels: none

feat(class, style): search-selector, selectbox, text-input, time-picker, toggle-switch, loading-overlay, menu-item
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/search-selector.tsx
  packages/wiz-ui-react/src/components/base/inputs/selectbox/components/selectbox.tsx
  packages/wiz-ui-react/src/components/base/inputs/text/components/text-input.tsx
  packages/wiz-ui-react/src/components/base/inputs/time-picker/components/time-picker.tsx
  packages/wiz-ui-react/src/components/base/inputs/toggle-switch/components/toggle-switch.tsx
  packages/wiz-ui-react/src/components/base/loading-overlay/components/loading-overlay.tsx
  packages/wiz-ui-react/src/components/base/menu/components/menu-item.tsx
Labels: none

feat(class, style): nav, pagination, popup-button-group
  packages/wiz-ui-react/src/components/base/navigation/components/navigation-container.tsx
  packages/wiz-ui-react/src/components/base/navigation/components/navigation-item.tsx
  packages/wiz-ui-react/src/components/base/pagination/components/pagination.tsx
  packages/wiz-ui-react/src/components/base/popup-button-group/components/button-item.tsx
  packages/wiz-ui-react/src/components/base/popup-button-group/components/group-item.tsx
  packages/wiz-ui-react/src/components/base/popup-button-group/components/popup-button-group.tsx
  packages/wiz-ui-react/src/components/base/popup/components/popup.tsx
Labels: none

feat(class, style): nav, progress, show-more-less, skeleton, snackbar
  packages/wiz-ui-react/src/components/base/navigation/components/navigation-item.tsx
  packages/wiz-ui-react/src/components/base/progress-bar/components/progress-bar.tsx
  packages/wiz-ui-react/src/components/base/progress-bar/components/progress-line.tsx
  packages/wiz-ui-react/src/components/base/progress-bar/components/progress-point.tsx
  packages/wiz-ui-react/src/components/base/show-more-less/components/show-more-less.tsx
  packages/wiz-ui-react/src/components/base/skeleton/components/skeleton-circle.tsx
  packages/wiz-ui-react/src/components/base/skeleton/components/skeleton.tsx
  packages/wiz-ui-react/src/components/base/snackbar/components/snackbar.tsx
Labels: none

[#902] feat: showExLabel の判定を追加
  packages/styles/bases/popup-button-group.css.ts
  packages/styles/bases/search-selector.css.ts
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.stories.ts
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.vue
Labels: 🎨 story

[#1081] changeset 追加
  .changeset/gorgeous-masks-hear.md
Labels: none

feat(class, style): step, tab-pane, card-table, flat-table
  packages/wiz-ui-react/src/components/base/step-bar/components/step-bar.tsx
  packages/wiz-ui-react/src/components/base/step-bar/components/step-line.tsx
  packages/wiz-ui-react/src/components/base/step-bar/components/step-point.tsx
  packages/wiz-ui-react/src/components/base/tab/components/tab-pane.tsx
  packages/wiz-ui-react/src/components/base/tables/card/components/card-table.tsx
  packages/wiz-ui-react/src/components/base/tables/card/components/card-td.tsx
  packages/wiz-ui-react/src/components/base/tables/card/components/card-th.tsx
  packages/wiz-ui-react/src/components/base/tables/card/components/card-tr.tsx
  packages/wiz-ui-react/src/components/base/tables/flat/components/flat-table.tsx
  packages/wiz-ui-react/src/components/base/tables/flat/components/flat-td.tsx
  packages/wiz-ui-react/src/components/base/tables/flat/components/flat-th.tsx
  packages/wiz-ui-react/src/components/base/tables/flat/components/flat-thead.tsx
Labels: none

feat(class, style): unstyled-table, tag, text, text-area, tooltip, chat-card, card, notification
  packages/wiz-ui-react/src/components/base/tables/unstyled/components/unstyled-table.tsx
  packages/wiz-ui-react/src/components/base/tables/unstyled/components/unstyled-td.tsx
  packages/wiz-ui-react/src/components/base/tables/unstyled/components/unstyled-th.tsx
  packages/wiz-ui-react/src/components/base/tables/unstyled/components/unstyled-thead.tsx
  packages/wiz-ui-react/src/components/base/tables/unstyled/components/unstyled-tr.tsx
  packages/wiz-ui-react/src/components/base/tag/components/tag.tsx
  packages/wiz-ui-react/src/components/base/text-area/components/text-area.tsx
  packages/wiz-ui-react/src/components/base/text/components/text.tsx
  packages/wiz-ui-react/src/components/base/tooltip/components/tooltip.tsx
  packages/wiz-ui-react/src/components/custom/chat/components/chat-card.tsx
  packages/wiz-ui-react/src/components/custom/notification/components/notification-list.tsx
  packages/wiz-ui-react/src/components/custom/notification/components/notification-panel.tsx
  packages/wiz-ui-react/src/components/custom/notification/components/notification.tsx
  packages/wiz-ui-react/src/components/custom/schedule/components/card.tsx
Labels: none

feat(class, style): grid, schedule, sheet
  packages/wiz-ui-react/src/components/custom/schedule/components/grid.tsx
  packages/wiz-ui-react/src/components/custom/schedule/components/schedule.tsx
  packages/wiz-ui-react/src/components/custom/schedule/components/sheet.tsx
Labels: none

feat(class, style): stacks
  packages/wiz-ui-react/src/components/base/stack/components/stack.tsx
  packages/wiz-ui-react/src/components/base/stack/components/types.ts
Labels: none

feat(class, style): checkbox upload, message-box, tab
  packages/wiz-ui-react/src/components/base/inputs/checkbox/components/checkbox.tsx
  packages/wiz-ui-react/src/components/base/inputs/upload/components/upload-display.tsx
  packages/wiz-ui-react/src/components/base/inputs/upload/components/upload-input.tsx
  packages/wiz-ui-react/src/components/base/message-box/components/message-box.tsx
  packages/wiz-ui-react/src/components/base/tab/components/tab.tsx
Labels: none

feat(class, style): skeleton-text, chat, form
  packages/wiz-ui-react/src/components/base/skeleton/components/skeleton-text.tsx
  packages/wiz-ui-react/src/components/custom/chat/components/chat-form.tsx
  packages/wiz-ui-react/src/components/custom/chat/components/chat-item.tsx
  packages/wiz-ui-react/src/components/custom/form/components/form-control.tsx
  packages/wiz-ui-react/src/components/custom/form/components/form-group.tsx
Labels: none

feat(class, style): bar, search-input, nav-container
  packages/wiz-ui-react/src/components/base/graphs/poll/components/bar.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-input.tsx
  packages/wiz-ui-react/src/components/base/navigation/components/navigation-container.tsx
Labels: none

chore(class, style): add changeset
  .changeset/fast-deers-design.md
Labels: none

[#1081] React 追加
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/search-selector.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-selector/stories/search-selector.stories.tsx
  packages/wiz-ui-react/src/components/base/popup-button-group/components/button-item.tsx
  packages/wiz-ui-react/src/components/base/popup-button-group/components/popup-button-group.tsx
Labels: none

refactor
  packages/wiz-ui-react/src/components/base/inputs/time-picker/components/time-picker.tsx
Labels: none

[#1081] maxWidth の設定を削除
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.vue
Labels: none

[#1081] showExlabel の仕様を一部修正、および Story 追加
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.stories.ts
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui-react/src/components/base/inputs/search-selector/stories/search-selector.stories.tsx
  packages/wiz-ui-react/src/components/base/popup-button-group/components/button-item.tsx
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.stories.ts
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.vue
Labels: 🎨 story

[#1084] ActiveOption の型周りの修正
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-popup-panel.tsx
Labels: none

chore: pnpm install --no-frozen-lockfile
  pnpm-lock.yaml
Labels: none

Revert "chore(deps): wiz-ui-vue2の依存関係を固定"
  packages/wiz-ui/package.json
  pnpm-lock.yaml
Labels: ⬆️ dependencies

chore: lockファイルをもとに戻す
  pnpm-lock.yaml
Labels: none

chore: update vite
  package.json
  pnpm-lock.yaml
Labels: ⬆️ dependencies

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"
