Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

[#99] fix storybook comment
  packages/wiz-ui/src/components/base/inputs/timepicker/time-picker.stories.ts
Labels: 🎨 story

[#99] fix popup layer
  packages/wiz-ui/src/components/base/inputs/timepicker/time-picker.stories.ts
  packages/wiz-ui/src/components/base/inputs/timepicker/time-picker.vue
Labels: 🎨 story

[#99] add comments in storybook file
  packages/wiz-ui/src/components/base/inputs/timepicker/time-picker.stories.ts
Labels: 🎨 story

[#99] refactor import components
  packages/wiz-ui/src/components/base/inputs/timepicker/time-picker.vue
Labels: none

[#99] fix timepicker input style
  packages/wiz-ui/src/components/base/inputs/timepicker/time-picker.vue
Labels: none

[#99] fix selector item style
  packages/wiz-ui/src/components/base/inputs/timepicker/time-picker.stories.ts
  packages/wiz-ui/src/components/base/inputs/timepicker/time-picker.vue
Labels: 🎨 story

[#99] fix timepicker name and icon
  packages/wiz-ui/src/components/base/inputs/timepicker/time-picker.vue
  packages/wiz-ui/src/components/icons/index.ts
  packages/wiz-ui/src/components/icons/schedule.vue
Labels: none

[#99] fix popup style
  packages/wiz-ui/src/components/base/inputs/timepicker/time-picker.vue
Labels: none

[#105] add default value
  packages/wiz-ui/src/components/base/inputs/timepicker/time-picker.stories.ts
  packages/wiz-ui/src/components/base/inputs/timepicker/time-picker.vue
Labels: 🎨 story

fix:toggle-buttonの修正
  packages/wiz-ui/src/components/base/buttons/toggle/toggle.vue
  packages/wiz-ui/src/components/icons/add.vue
  packages/wiz-ui/src/components/icons/remove.vue
Labels: none

[#99] remove Wiz component classes
  packages/wiz-ui/src/components/base/inputs/timepicker/time-picker.stories.ts
  packages/wiz-ui/src/components/base/inputs/timepicker/time-picker.vue
Labels: 🎨 story

fix:storybook更新
  packages/wiz-ui/src/components/base/buttons/toggle/toggle.stories.ts
Labels: 🎨 story

[#99] refactor schedule icon
  packages/wiz-ui/src/components/icons/schedule.vue
Labels: none

fix:hover時のopacityを0.9に修正
  packages/wiz-ui/src/components/base/buttons/toggle/toggle.stories.ts
  packages/wiz-ui/src/components/base/buttons/toggle/toggle.vue
Labels: 🎨 story

fix:propsのisActiveの削除
  packages/wiz-ui/src/components/base/buttons/toggle/toggle.vue
Labels: none

[#99] refactor scroll bar
  packages/wiz-ui/src/components/base/inputs/timepicker/time-picker.stories.ts
  packages/wiz-ui/src/components/base/inputs/timepicker/time-picker.vue
Labels: 🎨 story

[#105] fix icon components
  packages/wiz-ui/src/components/base/inputs/timepicker/time-picker.stories.ts
  packages/wiz-ui/src/components/base/inputs/timepicker/time-picker.vue
Labels: 🎨 story

feat: Dialogを作成
  packages/wiz-ui/src/components/base/dialog/dialog.stories.ts
  packages/wiz-ui/src/components/base/dialog/dialog.vue
  packages/wiz-ui/src/components/base/dialog/index.ts
Labels: 🎨 story

fix: Option型を外部切り出し
  packages/wiz-ui/src/components/base/inputs/selectbox/selectbox.vue
  packages/wiz-ui/src/components/base/inputs/selectbox/types.ts
Labels: none

fix: story error
  packages/wiz-ui/src/components/base/inputs/selectbox/selectbox.stories.ts
Labels: 🎨 story

add: WizTextにwhiteSpaceプロパティの追加
  packages/wiz-ui/src/components/base/text/text.vue
  packages/wiz-ui/src/constants/styles/white-space.ts
  packages/wiz-ui/src/types/styles/white-space.ts
Labels: none

update: 既存で使っていた部分の書き換え
  packages/wiz-ui/src/components/base/progress-bar/progress-bar.vue
Labels: none

add: WizChatCardのWizTextにwhiteSpace: preLineを追加
  packages/wiz-ui/src/components/custom/chat/item/chat-item.vue
Labels: none

fix: white-space周りの修正
  packages/wiz-ui/src/components/base/text/text.stories.ts
  packages/wiz-ui/src/components/base/text/text.vue
  packages/wiz-ui/src/constants/styles/white-space.ts
  packages/wiz-ui/src/utils/styles/white-space.ts
Labels: 🎨 story

feat: WizDialog
  packages/wiz-ui/src/components/base/buttons/text/text.vue
  packages/wiz-ui/src/components/base/card/card.vue
  packages/wiz-ui/src/components/base/dialog/dialog.stories.ts
  packages/wiz-ui/src/components/base/dialog/dialog.vue
  packages/wiz-ui/src/constants/component/name.ts
Labels: 🎨 story

feat: sticky header
  examples/vue2/src/App.vue
  examples/vue2/src/pages/home.vue
  packages/wiz-ui/src/components/base/avatar/avatar.vue
  packages/wiz-ui/src/components/base/header/header.stories.ts
  packages/wiz-ui/src/components/base/header/header.vue
  packages/wiz-ui/src/components/base/navigation/container.stories.ts
  packages/wiz-ui/src/components/base/navigation/container.vue
  packages/wiz-ui/src/components/custom/header/header.stories.ts
  packages/wiz-ui/src/components/custom/header/header.vue
  packages/wiz-ui/src/components/custom/header/types.ts
Labels: 🎨 story

release: v0.1.5
  packages/wiz-ui/package.json
  packages/wiz-ui/src/index.ts
Labels: ⬆️ dependencies

fix: WizHeaderとWizNotificationのデザインバグ修正
  examples/vue2/src/pages/about.vue
  packages/wiz-ui/src/components/base/navigation/container.vue
  packages/wiz-ui/src/components/base/navigation/item.vue
  packages/wiz-ui/src/components/custom/header/header.vue
Labels: none

release: v0.1.6
  packages/wiz-ui/package.json
  packages/wiz-ui/src/index.ts
Labels: ⬆️ dependencies

fix: jump to external link
  packages/wiz-ui/src/components/base/navigation/item.stories.ts
  packages/wiz-ui/src/components/base/navigation/item.vue
Labels: 🎨 story

release: v0.1.7
  packages/wiz-ui/package.json
  packages/wiz-ui/src/index.ts
Labels: ⬆️ dependencies

fix: toggle buttonをバンドルに含める
  packages/wiz-ui/src/components/base/buttons/index.ts
Labels: none

release: v0.1.8
  packages/wiz-ui/package.json
  packages/wiz-ui/src/index.ts
Labels: ⬆️ dependencies

feat: avatarにxlサイズを追加
  packages/wiz-ui/src/components/base/buttons/icon/icon.vue
Labels: none

feat: OpenInNewアイコンを追加
  packages/wiz-ui/src/components/icons/index.ts
  packages/wiz-ui/src/components/icons/open-in-new.vue
Labels: none

fix: WizIconのcolorが指定されていないときは親要素のcolorを継承するように変更
  packages/wiz-ui/src/components/base/icon/icon.vue
Labels: none

feat: 一旦HeaderのAvatarにDropdownを設定
  packages/wiz-ui/src/components/custom/header/header.vue
Labels: none

feat: Dropdownを実装
  packages/wiz-ui/src/components/base/dropdown/dropdown-item.stories.ts
  packages/wiz-ui/src/components/base/dropdown/dropdown-item.vue
  packages/wiz-ui/src/components/base/dropdown/dropdown.stories.ts
  packages/wiz-ui/src/components/base/dropdown/dropdown.vue
  packages/wiz-ui/src/components/base/dropdown/index.ts
  packages/wiz-ui/src/components/base/dropdown/types.ts
Labels: 🎨 story

fix: dropdownをバンドルに含める
  packages/wiz-ui/src/components/base/index.ts
Labels: none

fix: WizAnchorの重複表現部分を削除、その他リファクタリング
  packages/wiz-ui/src/components/base/anchor/anchor.vue
Labels: none

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"
