Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

fix(anchor): href optional
  packages/wiz-ui-react/src/components/base/anchor/components/anchor.tsx
Labels: none

refactor(nav-item): tooltip content
  packages/wiz-ui-react/src/components/base/navigation/components/navigation-item.tsx
Labels: none

fix(notification-panel): remove gap
  packages/wiz-ui-next/src/components/custom/notification/panel/panel.vue
  packages/wiz-ui-react/src/components/custom/notification/components/notification-panel.tsx
Labels: none

docs(notification-panel): 縦が揃うか確認するstoryを追加
  packages/wiz-ui-next/src/components/custom/notification/panel/panel.stories.ts
  packages/wiz-ui-react/src/components/custom/notification/stories/notification-panel.stories.tsx
Labels: 🎨 story

fix(example): nav link
  examples/react/src/components/layout/navigation/index.tsx
Labels: none

fix(notification-panel): title gap
  packages/wiz-ui-next/src/components/custom/notification/panel/panel.vue
  packages/wiz-ui-react/src/components/custom/notification/components/notification-panel.tsx
Labels: none

fix(search-input): popup panel style
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-popup.vue
Labels: none

chore: add changeset
  .changeset/hungry-planets-thank.md
Labels: none

fix(anchor): props.as === undefinedを追加
  packages/wiz-ui-react/src/components/base/anchor/components/anchor.tsx
Labels: none

fix(selectbox): story
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.stories.ts
Labels: 🎨 story

fix(search-input): keep popup open when input is clicked
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-input.tsx
Labels: none

fix(navigation-item): as コンポーネント利用時に backgroundColor をつけない
  .changeset/serious-pots-complain.md
  packages/wiz-ui-react/src/components/base/navigation/components/navigation-item.tsx
Labels: none

docs(nav): itemのasをbuttonからaに変更
  packages/wiz-ui-react/src/components/base/navigation/stories/navigation-container.stories.tsx
Labels: none

fix(navigation-item): 不要なスタイルの削除
  packages/wiz-ui-react/src/components/base/navigation/components/navigation-item.tsx
Labels: none

feat(nav-item): href optional
  packages/wiz-ui-react/src/components/base/navigation/components/navigation-item.tsx
  packages/wiz-ui-react/src/components/base/navigation/stories/navigation-item.stories.tsx
Labels: none

fix(search-input, react): display message when no search results found
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-input.tsx
Labels: none

docs(anchor): onClick
  packages/wiz-ui-next/src/components/base/anchor/anchor.stories.ts
  packages/wiz-ui-react/src/components/base/anchor/stories/anchor.stories.tsx
Labels: 🎨 story

chore: add changeset
  .changeset/tame-ways-admire.md
Labels: none

feat(calendar): today design
  packages/styles/bases/calendar.css.ts
  packages/wiz-ui-react/src/components/base/calendar/components/calendar.tsx
  packages/wiz-ui-react/src/components/base/calendar/stories/calendar.stories.tsx
  packages/wiz-ui-react/src/components/base/inputs/date-picker/components/date-picker.tsx
  packages/wiz-ui-react/src/components/base/inputs/date-picker/stories/date-picker.stories.tsx
  packages/wiz-ui-react/src/components/base/inputs/date-range-picker/components/date-range-picker.tsx
  packages/wiz-ui-react/src/components/base/inputs/date-range-picker/stories/date-range-picker.stories.tsx
Labels: none

feat(calendar): キャンセル・適用ボタンを追加
  packages/constants/component/aria-label.ts
  packages/wiz-ui-react/src/components/base/inputs/date-picker/components/date-picker.tsx
  packages/wiz-ui-react/src/components/base/inputs/date-range-picker/components/date-range-picker.tsx
Labels: none

chore: add changeset
  .changeset/olive-snails-tie.md
Labels: none

feat(calendar): today Styleの修正
  packages/styles/bases/calendar.css.ts
  packages/wiz-ui-react/src/components/base/calendar/components/calendar.tsx
Labels: none

feat(calendar): today design
  packages/wiz-ui-next/src/components/base/calendar/calendar.stories.ts
  packages/wiz-ui-next/src/components/base/calendar/calendar.vue
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.vue
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.vue
Labels: 🎨 story

feat(calendar): キャンセル・適用ボタンを追加
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.vue
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.vue
Labels: none

test(date-picker,date-range-picker): テストが落ちていたのを修正
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.stories.ts
Labels: 🎨 story

feat(selects, vue): `T = number`
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-popup.vue
  packages/wiz-ui-next/src/components/base/inputs/search-input/stories/options.ts
  packages/wiz-ui-next/src/components/base/inputs/search-input/types.ts
  packages/wiz-ui-next/src/components/base/inputs/search-selector/popup-button-group/popup-button-group.vue
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui-next/src/components/base/inputs/search-selector/types.ts
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.vue
  packages/wiz-ui-next/src/components/base/inputs/selectbox/types.ts
  packages/wiz-ui-next/src/components/base/navigation/container.stories.ts
  packages/wiz-ui-next/src/components/base/navigation/item.vue
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.stories.ts
  packages/wiz-ui-next/src/components/base/popup-button-group/types.ts
  packages/wiz-ui-next/src/components/custom/chat/card/chat-card.stories.ts
  packages/wiz-ui-next/src/components/custom/chat/card/chat-card.vue
  packages/wiz-ui-next/src/components/custom/form/group.stories.ts
Labels: 🎨 story

feat(selects, react): generics
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-input.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-popup-panel.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/types.ts
  packages/wiz-ui-react/src/components/base/inputs/search-input/stories/dummy-data.ts
  packages/wiz-ui-react/src/components/base/inputs/search-input/stories/search-input.stories.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/popup-button-group/components/button-item.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/popup-button-group/components/group-item.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/popup-button-group/components/popup-button-group.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/popup-button-group/types.ts
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/search-selector-helper.ts
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/search-selector.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/types.ts
  packages/wiz-ui-react/src/components/base/inputs/search-selector/stories/search-selector.stories.tsx
  packages/wiz-ui-react/src/components/base/inputs/selectbox/components/selectbox.tsx
  packages/wiz-ui-react/src/components/base/inputs/selectbox/stories/selectbox.stories.tsx
  packages/wiz-ui-react/src/components/custom/chat/components/chat-card.tsx
  packages/wiz-ui-react/src/components/custom/chat/stories/chat-card.stories.tsx
Labels: none

chore: vite-plugin-dtsのバージョンを上げる
  package.json
  pnpm-lock.yaml
Labels: ⬆️ dependencies

fix: exampleがbuildできない問題の解消
  examples/vue3/src/pages/chat/_components/chat-form.vue
Labels: none

chore: add changeset
  .changeset/six-queens-tickle.md
Labels: none

feat(icons): add counters, tune, cloud-upload icons
  packages/constants/component/icon-name.ts
  packages/icons/assets/cloud-upload.svg
  packages/icons/assets/counter-1.svg
  packages/icons/assets/counter-2.svg
  packages/icons/assets/counter-3.svg
  packages/icons/assets/counter-4.svg
  packages/icons/assets/counter-5.svg
  packages/icons/assets/counter-6.svg
  packages/icons/assets/counter-7.svg
  packages/icons/assets/counter-8.svg
  packages/icons/assets/counter-9.svg
  packages/icons/assets/tune.svg
  packages/wiz-ui-next/src/components/icons/cloud-upload.vue
  packages/wiz-ui-next/src/components/icons/counter-1.vue
  packages/wiz-ui-next/src/components/icons/counter-2.vue
  packages/wiz-ui-next/src/components/icons/counter-3.vue
  packages/wiz-ui-next/src/components/icons/counter-4.vue
  packages/wiz-ui-next/src/components/icons/counter-5.vue
  packages/wiz-ui-next/src/components/icons/counter-6.vue
  packages/wiz-ui-next/src/components/icons/counter-7.vue
  packages/wiz-ui-next/src/components/icons/counter-8.vue
  packages/wiz-ui-next/src/components/icons/counter-9.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-next/src/components/icons/tune.vue
  packages/wiz-ui-react/src/components/icons/cloud-upload.tsx
  packages/wiz-ui-react/src/components/icons/counter-1.tsx
  packages/wiz-ui-react/src/components/icons/counter-2.tsx
  packages/wiz-ui-react/src/components/icons/counter-3.tsx
  packages/wiz-ui-react/src/components/icons/counter-4.tsx
  packages/wiz-ui-react/src/components/icons/counter-5.tsx
  packages/wiz-ui-react/src/components/icons/counter-6.tsx
  packages/wiz-ui-react/src/components/icons/counter-7.tsx
  packages/wiz-ui-react/src/components/icons/counter-8.tsx
  packages/wiz-ui-react/src/components/icons/counter-9.tsx
  packages/wiz-ui-react/src/components/icons/index.ts
  packages/wiz-ui-react/src/components/icons/tune.tsx
Labels: none

chore: add changeset
  .changeset/shaggy-books-shave.md
Labels: none

chore(infomation-panel): update close button position
  packages/styles/bases/information-panel.css.ts
  packages/wiz-ui-next/src/components/base/information-panel/information-panel.vue
  packages/wiz-ui-react/src/components/base/information-panel/components/information-panel.tsx
Labels: none

chore: add changeset
  .changeset/lovely-cars-explode.md
Labels: none

chore(selects/generics): `T=number`
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/types.ts
  packages/wiz-ui-react/src/components/base/inputs/search-input/stories/dummy-data.ts
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/types.ts
  packages/wiz-ui-react/src/components/base/inputs/search-selector/stories/search-selector.stories.tsx
  packages/wiz-ui-react/src/components/base/inputs/selectbox/components/selectbox.tsx
Labels: none

feat(icons): filled counter
  packages/constants/component/icon-name.ts
  packages/icons/assets/counter-1-filled.svg
  packages/icons/assets/counter-2-filled.svg
  packages/icons/assets/counter-3-filled.svg
  packages/icons/assets/counter-4-filled.svg
  packages/icons/assets/counter-5-filled.svg
  packages/icons/assets/counter-6-filled.svg
  packages/icons/assets/counter-7-filled.svg
  packages/icons/assets/counter-8-filled.svg
  packages/icons/assets/counter-9-filled.svg
  packages/wiz-ui-next/src/components/icons/counter-1-filled.vue
  packages/wiz-ui-next/src/components/icons/counter-2-filled.vue
  packages/wiz-ui-next/src/components/icons/counter-3-filled.vue
  packages/wiz-ui-next/src/components/icons/counter-4-filled.vue
  packages/wiz-ui-next/src/components/icons/counter-5-filled.vue
  packages/wiz-ui-next/src/components/icons/counter-6-filled.vue
  packages/wiz-ui-next/src/components/icons/counter-7-filled.vue
  packages/wiz-ui-next/src/components/icons/counter-8-filled.vue
  packages/wiz-ui-next/src/components/icons/counter-9-filled.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-react/src/components/icons/counter-1-filled.tsx
  packages/wiz-ui-react/src/components/icons/counter-2-filled.tsx
  packages/wiz-ui-react/src/components/icons/counter-3-filled.tsx
  packages/wiz-ui-react/src/components/icons/counter-4-filled.tsx
  packages/wiz-ui-react/src/components/icons/counter-5-filled.tsx
  packages/wiz-ui-react/src/components/icons/counter-6-filled.tsx
  packages/wiz-ui-react/src/components/icons/counter-7-filled.tsx
  packages/wiz-ui-react/src/components/icons/counter-8-filled.tsx
  packages/wiz-ui-react/src/components/icons/counter-9-filled.tsx
  packages/wiz-ui-react/src/components/icons/index.ts
Labels: none

chore: add changeset
  .changeset/forty-maps-attend.md
Labels: none

chore: update react examples
  examples/react/src/pages/home/index.tsx
  examples/react/src/pages/home/selects/search-input.tsx
  examples/react/src/pages/home/selects/search-selector.tsx
  examples/react/src/pages/home/selects/selectbox.tsx
  examples/react/src/routes/index.tsx
Labels: none

wip: number-input
  packages/constants/component/name.ts
  packages/styles/bases/number-input.css.ts
  packages/wiz-ui-react/src/components/base/inputs/number-input/components/index.ts
  packages/wiz-ui-react/src/components/base/inputs/number-input/components/number-input.tsx
  packages/wiz-ui-react/src/components/base/inputs/number-input/index.ts
  packages/wiz-ui-react/src/components/base/inputs/number-input/stories/number-input.stories.tsx
Labels: none

feat(number-input): react
  packages/styles/bases/number-input.css.ts
  packages/wiz-ui-react/src/components/base/inputs/number-input/components/number-input.tsx
  packages/wiz-ui-react/src/components/base/inputs/number-input/stories/number-input.stories.tsx
Labels: none

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"
