Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

feat(WizTooltip): props追加
  packages/wiz-ui-react/src/components/base/tooltip/components/tooltip.tsx
  packages/wiz-ui-react/src/components/base/tooltip/stories/text.stories.tsx
  packages/wiz-ui-react/src/components/base/tooltip/stories/tooltip.stories.tsx
Labels: none

feat(WizTooltip): ドキュメントコメント追加
  packages/wiz-ui-react/src/components/base/tooltip/components/tooltip.tsx
Labels: none

feat(WizTooltip): storiesパラメータ追加
  packages/wiz-ui-react/src/components/base/tooltip/stories/tooltip.stories.tsx
Labels: none

feat(WizTooltip): changeset追加
  .changeset/afraid-tips-nail.md
Labels: none

fix(WizTooltip): コメント修正
  packages/wiz-ui-react/src/components/base/tooltip/components/tooltip.tsx
Labels: none

fix: Bodyスタイルを適切にクリンナップ
  packages/wiz-ui-react/src/components/base/dialog/components/dialog.tsx
Labels: none

chore: add changeset
  .changeset/brown-terms-search.md
Labels: none

fix(popup): null checkではない
  packages/wiz-ui-next/src/components/base/popup/popup.vue
  packages/wiz-ui/src/components/base/popup/popup.vue
Labels: none

fix(WizTooltip): WizPopupに渡す関数をメモ化
  packages/wiz-ui-react/src/components/base/tooltip/components/tooltip.tsx
Labels: none

fix(WizTooltip): anchorとpopupを並列配置
  packages/wiz-ui-react/src/components/base/tooltip/components/tooltip.tsx
Labels: none

feat(WizPopupButtonGroup): コンポーネント追加
  packages/wiz-ui-react/src/components/base/index.ts
  packages/wiz-ui-react/src/components/base/popup-button-group/components/index.ts
  packages/wiz-ui-react/src/components/base/popup-button-group/components/popup-button-group.tsx
  packages/wiz-ui-react/src/components/base/popup-button-group/index.ts
  packages/wiz-ui-react/src/components/base/popup-button-group/stories/popup-button-group.stories.tsx
Labels: none

feat(WizPopupButtonGroup): コンポーネント分割
  packages/wiz-ui-react/src/components/base/popup-button-group/components/button-item.tsx
  packages/wiz-ui-react/src/components/base/popup-button-group/components/divider-item.tsx
  packages/wiz-ui-react/src/components/base/popup-button-group/components/group-item.tsx
  packages/wiz-ui-react/src/components/base/popup-button-group/components/popup-button-group.tsx
  packages/wiz-ui-react/src/components/base/popup-button-group/types.ts
Labels: none

feat(WizPopupButtonGroup): key名付与
  packages/wiz-ui-react/src/components/base/popup-button-group/components/popup-button-group.tsx
Labels: none

fix: アイコンのSVGをコピーして代用
  packages/wiz-ui-react/src/components/base/inputs/checkbox/components/checkbox.tsx
Labels: none

feat(WizPopupButtonGroup): ButtonItemのメソッド追加
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui-react/src/components/base/popup-button-group/components/button-item.tsx
Labels: none

fix(WizPopupButtonGroup): 不要変更削除
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.vue
Labels: none

feat: dropdownをReact対応
  packages/wiz-ui-react/src/components/base/dropdown/components/dropdown-item.tsx
  packages/wiz-ui-react/src/components/base/dropdown/components/dropdown.tsx
  packages/wiz-ui-react/src/components/base/dropdown/components/index.ts
  packages/wiz-ui-react/src/components/base/dropdown/index.ts
  packages/wiz-ui-react/src/components/base/dropdown/stories/dropdown-item.stories.tsx
  packages/wiz-ui-react/src/components/base/dropdown/stories/dropdown.stories.tsx
  packages/wiz-ui-react/src/components/base/index.ts
Labels: none

chore: add changeset
  .changeset/wet-dolls-grin.md
Labels: none

feat(WizPopupButtonGroup): story追加
  packages/wiz-ui-react/src/components/base/popup-button-group/stories/popup-button-group.stories.tsx
  packages/wiz-ui-react/src/components/base/popup-button-group/types.ts
Labels: none

feat(WizPopupButtonGroup): changeset追加
  .changeset/large-teachers-rest.md
Labels: none

chore: fix export
  packages/wiz-ui-react/src/components/base/index.ts
Labels: none

chore: update changeset
  .changeset/slow-toes-serve.md
Labels: none

fix(WizPopupButtonGroup): comment
  packages/wiz-ui-react/src/components/base/popup-button-group/types.ts
Labels: none

fix(WizPopupButtonGroup): key
  packages/wiz-ui-react/src/components/base/popup-button-group/components/popup-button-group.tsx
Labels: none

feat(WizNavigation): ファイル群追加
  packages/wiz-ui-react/src/components/base/index.ts
  packages/wiz-ui-react/src/components/base/navigation/components/container.tsx
  packages/wiz-ui-react/src/components/base/navigation/components/index.ts
  packages/wiz-ui-react/src/components/base/navigation/components/item.tsx
  packages/wiz-ui-react/src/components/base/navigation/index.ts
  packages/wiz-ui-react/src/components/base/navigation/stories/container.stories.tsx
  packages/wiz-ui-react/src/components/base/navigation/stories/item.stories.tsx
Labels: none

fix(input): エラー時のボーダー色
  packages/styles/commons/input.css.ts
Labels: none

refactor: time-picker
  packages/constants/component/aria-label.ts
  packages/styles/bases/time-picker-input.css.ts
  packages/wiz-ui-react/src/components/base/inputs/time-picker/components/time-picker.tsx
  packages/wiz-ui-react/src/components/base/inputs/time-picker/types/time.ts
Labels: none

docs(time-picker): remove argTypes
  packages/wiz-ui-react/src/components/base/inputs/time-picker/stories/time-picker.stories.tsx
Labels: none

docs(time-picker): interaction tests
  packages/wiz-ui-react/src/components/base/inputs/time-picker/stories/time-picker.stories.tsx
Labels: none

docs(time-picker): fix interaction test
  packages/wiz-ui-react/src/components/base/inputs/time-picker/stories/time-picker.stories.tsx
Labels: none

fix(time-picker): remove :active
  packages/styles/bases/time-picker-input.css.ts
Labels: none

test: VRTのfalse positiveを避ける
  regconfig.json
Labels: none

test: VRTのキャプチャをアニメーション分ディレイ
  packages/wiz-ui-next/src/components/base/tooltip/tooltip.stories.ts
  packages/wiz-ui-react/src/components/base/tooltip/stories/tooltip.stories.tsx
Labels: 🎨 story

fix(date-range-picker): disabled時の文字色
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.vue
  packages/wiz-ui/src/components/base/inputs/date-range-picker/date-range-picker.vue
Labels: none

docs(date-range-picker): add new disabled pattern
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.stories.ts
  packages/wiz-ui/src/components/base/inputs/date-range-picker/date-range-picker.stories.ts
Labels: 🎨 story

chore(date-range-picker): add changeset
  .changeset/serious-pigs-rule.md
Labels: none

feat(WizNavigation): Itemのベース実装
  packages/wiz-ui-react/src/components/base/navigation/components/item.tsx
Labels: none

fix(WizPopupButtonGroup): button-itemのstateの型修正
  packages/wiz-ui-react/src/components/base/popup-button-group/components/button-item.tsx
  packages/wiz-ui-react/src/components/base/popup-button-group/components/divider-item.tsx
Labels: none

fix: ポップアップの座標計算をウィンドウサイズ基準に変更
  packages/wiz-ui-react/src/components/base/popup/components/popup.tsx
  packages/wiz-ui-react/src/components/base/popup/test/wrap.test.ts
  packages/wiz-ui-react/src/components/base/popup/utils/wrap.ts
Labels: ✅ test

fix(WizPopupButtonGroup): button-itemの関数名、引数修正
  packages/wiz-ui-react/src/components/base/popup-button-group/components/button-item.tsx
Labels: none

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"
