Repository Wizleap-Inc/wiz-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏭 ci, ✅ test, 🎨 story, 📝 docs, ⬆️ dependencies

.github/labeler.yml:

🏭 ci:
  - ".github/**/*"

✅ test:
  - "**/*.test.ts"

🎨 story:
  - "**/*.stories.ts"

📝 docs:
  - "docs/**/*.md"

⬆️ dependencies:
  - "**/package.json"
  - "**/package-lock.json"

refactor(popup): portalのwrapperとして実装
  packages/constants/component/error-message.ts
  packages/constants/component/name.ts
  packages/wiz-ui-react/src/components/base/popup/components/index.ts
  packages/wiz-ui-react/src/components/base/popup/components/popup-close.tsx
  packages/wiz-ui-react/src/components/base/popup/components/popup-content.tsx
  packages/wiz-ui-react/src/components/base/popup/components/popup-context.ts
  packages/wiz-ui-react/src/components/base/popup/components/popup-trigger.tsx
  packages/wiz-ui-react/src/components/base/popup/components/popup.tsx
  packages/wiz-ui-react/src/components/base/popup/index.ts
  packages/wiz-ui-react/src/components/base/popup/utils/fade-animation.ts
  packages/wiz-ui-react/src/components/base/popup/utils/index.ts
  packages/wiz-ui-react/src/components/base/popup/utils/placement.ts
Labels: none

[#695] set fontsize to icon in tag
  packages/wiz-ui-next/src/components/base/tag/tag.vue
  packages/wiz-ui/src/components/base/tag/tag.vue
Labels: none

refactor(popup): direction
  packages/wiz-ui-react/src/components/base/popup/components/popup.tsx
  packages/wiz-ui-react/src/components/base/popup/types/direction.ts
  packages/wiz-ui-react/src/components/base/popup/utils/placement.ts
Labels: none

fix(popup): 回り込みロジック(bottom系)
  packages/wiz-ui-react/src/components/base/popup/utils/placement.ts
Labels: none

feat(popup): isDirectionFixed Propsで回り込みするか指定
  packages/wiz-ui-react/src/components/base/popup/components/popup.tsx
Labels: none

docs(popup): update
  packages/wiz-ui-react/src/components/base/popup/stories/common.ts
  packages/wiz-ui-react/src/components/base/popup/stories/default.tsx
  packages/wiz-ui-react/src/components/base/popup/stories/gap.tsx
  packages/wiz-ui-react/src/components/base/popup/stories/playground.tsx
  packages/wiz-ui-react/src/components/base/popup/stories/playground2.tsx
  packages/wiz-ui-react/src/components/base/popup/stories/popup.stories.tsx
Labels: none

chore(popup): remove console.log
  packages/wiz-ui-react/src/components/base/popup/stories/playground2.tsx
  packages/wiz-ui-react/src/components/base/popup/utils/placement.ts
Labels: none

[#660] add tooltip props
  packages/wiz-ui-next/src/components/base/tooltip/tooltip.stories.ts
  packages/wiz-ui-next/src/components/base/tooltip/tooltip.vue
  packages/wiz-ui/src/components/base/tooltip/tooltip.stories.ts
  packages/wiz-ui/src/components/base/tooltip/tooltip.vue
Labels: 🎨 story

chore(popup): lint
  packages/wiz-ui-react/src/components/base/popup/components/popup.tsx
  packages/wiz-ui-react/src/components/base/popup/stories/playground.tsx
Labels: none

docs(popup): update
  packages/wiz-ui-react/src/components/base/popup/stories/default.tsx
Labels: none

docs(date-range-picker): vrt
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.stories.ts
  packages/wiz-ui/src/components/base/inputs/date-range-picker/date-range-picker.stories.ts
Labels: 🎨 story

docs(date-range-picker): vrt
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.stories.ts
  packages/wiz-ui/src/components/base/inputs/date-range-picker/date-range-picker.stories.ts
Labels: 🎨 story

docs(date-range-picker): vrt
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.stories.ts
  packages/wiz-ui/src/components/base/inputs/date-range-picker/date-range-picker.stories.ts
Labels: 🎨 story

fix: overflowスタイルの算出方法を調整
  packages/wiz-ui-react/src/components/base/box/components/box.tsx
Labels: none

chore: React.memoを外す
  packages/wiz-ui-react/src/components/base/box/components/box.tsx
Labels: none

fix: linear-gradient()が効くようにbackgroundに変更
  packages/wiz-ui-react/src/components/base/box/components/box.tsx
Labels: none

docs: Storyの見栄えを調整
  packages/wiz-ui-react/src/components/base/box/stories/box.stories.tsx
Labels: none

refactor: props の調整
  packages/wiz-ui-react/src/components/base/card/components/card.tsx
Labels: none

refactor: delete underscore
  packages/wiz-ui-react/src/components/base/box/components/box.tsx
Labels: none

refactor: WizStackを使うように変更
  .changeset/chilled-experts-flow.md
  packages/styles/bases/card.css.ts
  packages/wiz-ui-react/src/components/base/card/components/card.tsx
  packages/wiz-ui-react/src/components/base/index.ts
Labels: none

fix: 各エリアの指定をProps経由に変更
  packages/wiz-ui-react/src/components/base/card/components/card.tsx
  packages/wiz-ui-react/src/components/base/card/stories/card.stories.tsx
  packages/wiz-ui-react/src/components/base/stack/components/stack.tsx
Labels: none

refactor: delete underscore
  packages/wiz-ui-react/src/components/base/card/components/card.tsx
Labels: none

refactor: reduce diff
  packages/wiz-ui-react/src/components/base/stack/components/stack.tsx
Labels: none

refactor(date-range-picker): 初期値について、startだけが空の状態を許容しない
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/types.ts
  packages/wiz-ui/src/components/base/inputs/date-range-picker/types.ts
Labels: none

fix(date-range-picker): model valueが書き換えられる問題を修正
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.vue
  packages/wiz-ui/src/components/base/inputs/date-range-picker/date-range-picker.vue
Labels: none

refactor(date-range-picker): 選択状態の管理
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.vue
  packages/wiz-ui/src/components/base/inputs/date-range-picker/date-range-picker.vue
Labels: none

docs(date-range-picker): update
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.stories.ts
  packages/wiz-ui/src/components/base/inputs/date-range-picker/date-range-picker.stories.ts
Labels: 🎨 story

chore(box): add document comment
  packages/wiz-ui-react/src/components/base/box/components/box.tsx
Labels: none

chore(portal): portalの子要素をrootにマウントする
  packages/wiz-ui-react/src/components/base/portal/components/portal.tsx
Labels: none

feat(portal): document.bodyに子要素をマウントする
  packages/wiz-ui-react/src/components/base/portal/components/portal.tsx
Labels: none

feat(popup): portal使用の切り替え機能を追加
  packages/wiz-ui-react/src/components/base/popup/components/popup.tsx
  packages/wiz-ui-react/src/components/base/popup/utils/placement.ts
Labels: none

docs(popup): Portalを使わない時、座標計算が狂わないようにする
  packages/wiz-ui-react/src/components/base/popup/stories/default.tsx
Labels: none

docs(popup): 入れ子のパターンを追加
  packages/wiz-ui-react/src/components/base/popup/stories/nest.tsx
  packages/wiz-ui-react/src/components/base/popup/stories/popup.stories.tsx
Labels: none

chore(popup): remove underscore
  packages/wiz-ui-react/src/components/base/popup/components/popup.tsx
Labels: none

chore(popup): remove memo
  packages/wiz-ui-react/src/components/base/popup/components/popup.tsx
Labels: none

[#701] fix: meter graph position
  packages/wiz-ui-next/src/components/base/graphs/meter/meter.vue
  packages/wiz-ui/src/components/base/graphs/meter/meter.vue
Labels: none

[#701] add changeset
  .changeset/rich-ladybugs-confess.md
Labels: none

refactor: WizStackを使うように変更
  .changeset/nasty-wolves-press.md
  packages/styles/bases/text-button.css.ts
  packages/wiz-ui-react/src/components/base/buttons/text/components/text-button.tsx
  packages/wiz-ui-react/src/components/base/index.ts
  packages/wiz-ui-react/src/components/base/stack/components/stack.tsx
  packages/wiz-ui-react/src/components/base/stack/components/types.ts
Labels: none

chore: _とReact.memoを削除
  packages/wiz-ui-react/src/components/base/buttons/text/components/text-button.tsx
Labels: none

fix: react-router-domを外す
  packages/wiz-ui-react/package.json
  packages/wiz-ui-react/src/components/base/anchor/components/anchor.tsx
  packages/wiz-ui-react/src/components/base/anchor/stories/anchor.stories.tsx
  pnpm-lock.yaml
Labels: ⬆️ dependencies
