Repository Wizleap-Inc/wiz-ui, pull requests merged in 2022-12, with the labels that each got.

#171 fix: package.jsonのパス違えでciが落ちるので修正
  .github/workflows/publish-library.yml
Labels: 🏭 ci

#167 WizCheckbox
  packages/wiz-ui/src/components/base/inputs/checkbox/checkbox.stories.ts
  packages/wiz-ui/src/components/base/inputs/checkbox/checkbox.vue
  packages/wiz-ui/src/components/base/inputs/checkbox/index.ts
  packages/wiz-ui/src/components/base/inputs/checkbox/types.ts
Labels: 📦 component, 🎨 story

#173 Feat: Vanilla Extract
  packages/constants/index.ts
  packages/constants/styles/color.ts
  packages/constants/styles/font-size.ts
  packages/styles/bases/anchor.css.ts
  packages/styles/bases/avatar.css.ts
  packages/styles/bases/icon-button.css.ts
  packages/styles/commons/background.css.ts
  packages/styles/commons/color.css.ts
  packages/styles/commons/fill.css.ts
  packages/styles/commons/font-size.css.ts
  packages/styles/commons/font-weight.css.ts
  packages/styles/commons/index.ts
  packages/styles/commons/size.css.ts
  packages/styles/index.ts
  packages/wiz-ui/.storybook/main.js
  packages/wiz-ui/package.json
  packages/wiz-ui/src/components/base/anchor/anchor.stories.ts
  packages/wiz-ui/src/components/base/anchor/anchor.vue
  packages/wiz-ui/src/components/base/avatar/avatar.vue
  packages/wiz-ui/src/components/base/buttons/icon/icon.vue
  packages/wiz-ui/vite.config.ts
  yarn.lock
Labels: ⬆️ dependencies, 🚧 wip, ♻️ refactor, 🌎 environment

#176 Feat: 一部VanillaExtractへの置き換え
  packages/styles/bases/base-input.css.ts
  packages/styles/bases/card.css.ts
  packages/styles/bases/dialog.css.ts
  packages/styles/bases/divider.css.ts
  packages/styles/bases/dropdown.css.ts
  packages/styles/bases/header.css.ts
  packages/styles/bases/heading.css.ts
  packages/styles/bases/icon.css.ts
  packages/styles/bases/text-button.css.ts
  packages/styles/bases/toggle-button.css.ts
  packages/styles/commons/border-color.css.ts
  packages/styles/commons/index.ts
  packages/styles/commons/padding.css.ts
  packages/wiz-ui/.storybook/assets/images/gradient.png
  packages/wiz-ui/.storybook/preview.js
  packages/wiz-ui/src/components/base/buttons/text/text.stories.ts
  packages/wiz-ui/src/components/base/buttons/text/text.vue
  packages/wiz-ui/src/components/base/buttons/toggle/toggle.stories.ts
  packages/wiz-ui/src/components/base/buttons/toggle/toggle.vue
  packages/wiz-ui/src/components/base/card/card.stories.ts
  packages/wiz-ui/src/components/base/card/card.vue
  packages/wiz-ui/src/components/base/dialog/dialog.vue
  packages/wiz-ui/src/components/base/divider/divider.vue
  packages/wiz-ui/src/components/base/dropdown/dropdown-item.vue
  packages/wiz-ui/src/components/base/dropdown/dropdown.stories.ts
  packages/wiz-ui/src/components/base/dropdown/dropdown.vue
  packages/wiz-ui/src/components/base/header/header.vue
  packages/wiz-ui/src/components/base/heading/heading.stories.ts
  packages/wiz-ui/src/components/base/heading/heading.vue
  packages/wiz-ui/src/components/base/icon/icon.vue
  packages/wiz-ui/src/components/base/inputs/base/base.vue
  packages/wiz-ui/src/components/base/tables/card/tr.vue
  packages/wiz-ui/src/components/icons/hint.vue
Labels: ⚠️ bug: design, ♻️ refactor, 🎨 story

#179 ci :Bundle Analizerを導入
  .github/workflows/build-check.yml
  .github/workflows/bundle-analyze.yml
  .github/workflows/deploy-storybook.yml
  package.json
Labels: 🏭 ci

#180 ci: vitestのciエラーを修正
  .github/workflows/deploy-storybook.yml
  .github/workflows/deploy-vitest.yml
  packages/wiz-ui/src/components/base/heading/heading.stories.ts
  packages/wiz-ui/src/hooks/use-z-index.test.ts
Labels: 🏭 ci

#182 Feat: WizBadge
  packages/constants/component/name.ts
  packages/constants/styles/font-size.ts
  packages/styles/bases/badge.css.ts
  packages/styles/bases/header.css.ts
  packages/styles/bases/icon.css.ts
  packages/styles/commons/index.ts
  packages/styles/commons/offset.css.ts
  packages/wiz-ui/src/components/base/badge/badge.stories.ts
  packages/wiz-ui/src/components/base/badge/badge.vue
  packages/wiz-ui/src/components/base/badge/index.ts
  packages/wiz-ui/src/components/base/icon/icon.stories.ts
  packages/wiz-ui/src/components/base/icon/icon.vue
  packages/wiz-ui/src/components/base/index.ts
Labels: 📦 component, 🎨 story

#185 WizUnstyledTable: 双方向spacingに対応
  packages/constants/styles/spacing.ts
  packages/wiz-ui/src/components/base/tables/unstyled/table.stories.ts
  packages/wiz-ui/src/components/base/tables/unstyled/table.vue
Labels: 📦 component, ⚠️ bug: design, 🎨 story

#187 Release: v0.3.1
  packages/wiz-ui/package.json
  packages/wiz-ui/src/components/base/inputs/index.ts
  packages/wiz-ui/src/index.ts
Labels: ⚠️ bug: logic, 💎 release

#194 Fix: px py 入れ替えに対応、デザインのバグ修正
  packages/constants/styles/spacing.ts
  packages/wiz-ui/src/components/base/stack/stack.vue
  packages/wiz-ui/src/components/base/tab/tab-pane.vue
  packages/wiz-ui/src/components/base/tables/unstyled/table.vue
  packages/wiz-ui/src/components/base/text/text.stories.ts
  packages/wiz-ui/src/components/base/text/text.vue
  packages/wiz-ui/src/components/custom/chat/card/chat-card.vue
  packages/wiz-ui/src/components/custom/chat/item/chat-item.vue
  packages/wiz-ui/src/components/custom/notification/panel/panel.vue
Labels: 📦 component, ⚠️ bug: design, 🎨 story

#195 Release: v0.3.2
  packages/constants/styles/spacing.ts
  packages/wiz-ui/package.json
  packages/wiz-ui/src/components/base/stack/stack.vue
  packages/wiz-ui/src/components/base/tab/tab-pane.vue
  packages/wiz-ui/src/components/base/tables/unstyled/table.vue
  packages/wiz-ui/src/components/base/text/text.stories.ts
  packages/wiz-ui/src/components/base/text/text.vue
  packages/wiz-ui/src/components/custom/chat/card/chat-card.vue
  packages/wiz-ui/src/components/custom/chat/item/chat-item.vue
  packages/wiz-ui/src/components/custom/notification/panel/panel.vue
  packages/wiz-ui/src/index.ts
Labels: 📦 component, ⚠️ bug: design, 💎 release, 🎨 story

#196 Ci: Wiz UIにVRTを追加
  .github/workflows/deploy-storybook.yml
  .github/workflows/deploy-vitest.yml
  .github/workflows/publish-library.yml
  .github/workflows/test.yml
  .github/workflows/visual-regression-test.yml
  .gitignore
  package.json
  packages/wiz-ui/package.json
  packages/wiz-ui/regconfig.json
  packages/wiz-ui/src/components/custom/chat/card/chat-card.stories.ts
  packages/wiz-ui/src/components/custom/chat/item/chat-item.stories.ts
  packages/wiz-ui/src/components/custom/notification/list/list.stories.ts
  packages/wiz-ui/src/components/custom/notification/notification.stories.ts
  yarn.lock
Labels: 🏭 ci

#200 release: v0.3.3
  .github/workflows/deploy-storybook.yml
  .github/workflows/deploy-vitest.yml
  .github/workflows/publish-library.yml
  .github/workflows/test.yml
  .github/workflows/visual-regression-test.yml
  .gitignore
  package.json
  packages/wiz-ui/package.json
  packages/wiz-ui/regconfig.json
  packages/wiz-ui/src/components/base/tables/unstyled/table.vue
  packages/wiz-ui/src/components/custom/chat/card/chat-card.stories.ts
  packages/wiz-ui/src/components/custom/chat/item/chat-item.stories.ts
  packages/wiz-ui/src/components/custom/notification/list/list.stories.ts
  packages/wiz-ui/src/components/custom/notification/notification.stories.ts
  packages/wiz-ui/src/index.ts
  yarn.lock
Labels: ⬆️ dependencies, ⚠️ bug: design, 💎 release, 🏭 ci, 🎨 story

#201 Release: v0.3.4
  packages/styles/commons/font-size.css.ts
  packages/wiz-ui/package.json
  packages/wiz-ui/src/components/base/heading/heading.stories.ts
  packages/wiz-ui/src/index.ts
Labels: ⬆️ dependencies, ⚠️ bug: design, 💎 release, 🎨 story

#203 fix: popup containerのデザイン修正
  packages/wiz-ui/src/components/base/popup/popup-container.vue
  packages/wiz-ui/src/components/base/text/text.vue
Labels: ⚠️ bug: design

#206 Chore: Migration v7 beta storybook
  index.html
  packages/constants/styles/font-weight.ts
  packages/constants/styles/index.ts
  packages/styles/commons/font-weight.css.ts
  packages/wiz-ui/.storybook/main.js
  packages/wiz-ui/package.json
  packages/wiz-ui/src/components/base/anchor/anchor.stories.ts
  packages/wiz-ui/src/components/base/anchor/anchor.vue
  packages/wiz-ui/src/components/base/calendar/calendar.stories.ts
  packages/wiz-ui/src/components/base/calendar/calendar.vue
  packages/wiz-ui/src/components/base/inputs/datepicker/date-picker.stories.ts
  packages/wiz-ui/src/components/base/inputs/datepicker/date-picker.vue
  yarn.lock
Labels: 📝 docs, 🎨 story, 🌎 environment

#211 refactor: font-sizeからimportantを削除
  packages/styles/bases/heading.css.ts
  packages/styles/commons/font-size.css.ts
  packages/wiz-ui/src/components/base/heading/heading.vue
Labels: ⚠️ bug: design, ♻️ refactor

#212 Feat: 残りコンポーネントのvanilla-extract置き換え (input系全部, message-box, navigation)
  packages/styles/bases/checkbox-input.css.ts
  packages/styles/bases/date-picker-input.css.ts
  packages/styles/bases/message-box.css.ts
  packages/styles/bases/navigation.css.ts
  packages/styles/bases/panel-switch-input.css.ts
  packages/styles/bases/password-input.css.ts
  packages/styles/bases/radio-input.css.ts
  packages/styles/bases/selectbox-input.css.ts
  packages/styles/bases/time-picker-input.css.ts
  packages/styles/bases/toggle-switch-input.css.ts
  packages/wiz-ui/src/components/base/inputs/checkbox/checkbox.vue
  packages/wiz-ui/src/components/base/inputs/datepicker/date-picker.vue
  packages/wiz-ui/src/components/base/inputs/panel-switch/panel-switch.vue
  packages/wiz-ui/src/components/base/inputs/password/password.vue
  packages/wiz-ui/src/components/base/inputs/radio/radio.vue
  packages/wiz-ui/src/components/base/inputs/radio/types.ts
  packages/wiz-ui/src/components/base/inputs/selectbox/selectbox.vue
  packages/wiz-ui/src/components/base/inputs/timepicker/time-picker.vue
  packages/wiz-ui/src/components/base/inputs/toggle-switch/toggle-switch.vue
  packages/wiz-ui/src/components/base/message-box/message-box.vue
  packages/wiz-ui/src/components/base/navigation/container.vue
  packages/wiz-ui/src/components/base/navigation/item.vue
Labels: 📦 component, ♻️ refactor

#213 refactor: vanilla extract式のスタイルに変更
  packages/styles/bases/card-table.css.ts
  packages/styles/bases/flat-table.css.ts
  packages/styles/bases/icon.css.ts
  packages/styles/bases/popup.css.ts
  packages/styles/bases/progress-bar.css.ts
  packages/styles/bases/tab.css.ts
  packages/styles/bases/tag.css.ts
  packages/styles/bases/unstyled-table.css.ts
  packages/styles/commons/border-spacing.css.ts
  packages/styles/commons/index.ts
  packages/styles/commons/margin.css.ts
  packages/styles/commons/z-index.css.ts
  packages/wiz-ui/package.json
  packages/wiz-ui/src/components/base/icon/icon.vue
  packages/wiz-ui/src/components/base/popup/popup-container.vue
  packages/wiz-ui/src/components/base/popup/popup.vue
  packages/wiz-ui/src/components/base/progress-bar/constants.ts
  packages/wiz-ui/src/components/base/progress-bar/progress-bar.vue
  packages/wiz-ui/src/components/base/progress-bar/progress-line.vue
  packages/wiz-ui/src/components/base/progress-bar/progress-point.vue
  packages/wiz-ui/src/components/base/tab/tab-pane.vue
  packages/wiz-ui/src/components/base/tab/tab.vue
  packages/wiz-ui/src/components/base/tables/card/table.vue
  packages/wiz-ui/src/components/base/tables/card/td.vue
  packages/wiz-ui/src/components/base/tables/card/th.vue
  packages/wiz-ui/src/components/base/tables/card/tr.vue
  packages/wiz-ui/src/components/base/tables/flat/table.vue
  packages/wiz-ui/src/components/base/tables/flat/td.vue
  packages/wiz-ui/src/components/base/tables/flat/th.vue
  packages/wiz-ui/src/components/base/tables/unstyled/table.vue
  packages/wiz-ui/src/components/base/tables/unstyled/td.vue
  packages/wiz-ui/src/components/base/tables/unstyled/th.vue
  packages/wiz-ui/src/components/base/tag/tag.vue
Labels: ♻️ refactor

#216 refactor: vanilla extract式のスタイルに変更
  packages/styles/bases/calendar.css.ts
  packages/styles/bases/stack.css.ts
  packages/styles/bases/text-area.css.ts
  packages/styles/bases/text.css.ts
  packages/styles/bases/tooltip.css.ts
  packages/styles/commons/gap.css.ts
  packages/styles/commons/index.ts
  packages/styles/commons/line-height.css.ts
  packages/styles/commons/white-space.css.ts
  packages/styles/customs/chat-card.css.ts
  packages/wiz-ui/src/components/base/calendar/calendar.vue
  packages/wiz-ui/src/components/base/inputs/selectbox/selectbox.vue
  packages/wiz-ui/src/components/base/inputs/timepicker/time-picker.vue
  packages/wiz-ui/src/components/base/stack/stack.vue
  packages/wiz-ui/src/components/base/text/text.vue
  packages/wiz-ui/src/components/base/textarea/text-area.vue
  packages/wiz-ui/src/components/base/tooltip/tooltip.vue
  packages/wiz-ui/src/components/custom/chat/card/chat-card.vue
Labels: ♻️ refactor
