Repository Wizleap-Inc/wiz-ui, pull requests merged in 2023-09, with the labels that each got.

#1038 [React] TextButtonのsub時のアイコン色を修正
  packages/wiz-ui-react/src/components/base/buttons/text/components/text-button.tsx
Labels: 🚧 wip

#1042 Feat(Tooltip): hover → isOpenに変える
  .changeset/perfect-cooks-shave.md
  packages/wiz-ui-next/src/components/base/tooltip/tooltip.stories.ts
  packages/wiz-ui-next/src/components/base/tooltip/tooltip.vue
  packages/wiz-ui-react/src/components/base/tooltip/components/tooltip.tsx
  packages/wiz-ui-react/src/components/base/tooltip/stories/tooltip.stories.tsx
  packages/wiz-ui/src/components/base/tooltip/tooltip.stories.ts
  packages/wiz-ui/src/components/base/tooltip/tooltip.vue
Labels: 🎨 story

#1039 Feat(tab): badge color (緑/赤)を指定する機能を追加
  .changeset/ten-cats-tickle.md
  packages/styles/bases/tab.css.ts
  packages/wiz-ui-next/src/components/base/tab/tab-pane.stories.ts
  packages/wiz-ui-next/src/components/base/tab/tab-pane.vue
  packages/wiz-ui-react/src/components/base/tab/components/tab-pane.tsx
  packages/wiz-ui-react/src/components/base/tab/stories/tab-pane.stories.tsx
  packages/wiz-ui/src/components/base/tab/tab-pane.stories.ts
  packages/wiz-ui/src/components/base/tab/tab-pane.vue
Labels: 📦 component, 🎨 story

#906 fix(text-button): padding, fontSize
  .changeset/loud-ads-tan.md
  packages/styles/bases/text-button.css.ts
Labels: 📦 component, ⚠️ bug: design

#1037 Feat(date-picker, calender): 無効な日付を指定する機能のReact対応
  .changeset/tall-chefs-rest.md
  packages/wiz-ui-react/src/components/base/calendar/components/calendar-helper.ts
  packages/wiz-ui-react/src/components/base/calendar/components/calendar.tsx
  packages/wiz-ui-react/src/components/base/calendar/components/types.ts
  packages/wiz-ui-react/src/components/base/calendar/tests/calendar-helper.test.ts
  packages/wiz-ui-react/src/components/base/inputs/date-picker/components/date-picker.tsx
  packages/wiz-ui-react/src/components/base/inputs/date-picker/stories/date-picker.stories.tsx
Labels: 📦 component

#1018 Snackbar に expand Property を追加
  .changeset/tasty-mayflies-pay.md
  packages/styles/bases/snackbar.css.ts
  packages/wiz-ui-next/src/components/base/snackbar/snackbar-controller.vue
  packages/wiz-ui-next/src/components/base/snackbar/snackbar.stories.ts
  packages/wiz-ui-next/src/components/base/snackbar/snackbar.vue
  packages/wiz-ui-next/src/components/base/snackbar/types.ts
  packages/wiz-ui-next/src/hooks/use-snackbar.ts
  packages/wiz-ui-react/src/components/base/snackbar/components/snackbar-context.tsx
  packages/wiz-ui-react/src/components/base/snackbar/components/snackbar-provider.tsx
  packages/wiz-ui-react/src/components/base/snackbar/components/snackbar.tsx
  packages/wiz-ui-react/src/components/base/snackbar/stories/snackbar.stories.tsx
  packages/wiz-ui/src/components/base/snackbar/snackbar-controller.vue
  packages/wiz-ui/src/components/base/snackbar/snackbar.stories.ts
  packages/wiz-ui/src/components/base/snackbar/snackbar.vue
  packages/wiz-ui/src/components/base/snackbar/types.ts
  packages/wiz-ui/src/hooks/use-snackbar.ts
Labels: 🎨 story

#1067 WizCheckBoxNew コンポーネントを追加
  .changeset/olive-dingos-jam.md
  packages/constants/component/name.ts
  packages/styles/bases/checkbox-new.css.ts
  packages/wiz-ui-next/src/components/base/inputs/checkbox-new/checkbox-new.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/checkbox-new/checkbox-new.vue
  packages/wiz-ui-next/src/components/base/inputs/checkbox-new/index.ts
  packages/wiz-ui-next/src/components/base/inputs/checkbox/index.ts
  packages/wiz-ui-next/src/components/base/inputs/index.ts
  packages/wiz-ui-react/src/components/base/inputs/checkbox-new/components/checkbox-new.tsx
  packages/wiz-ui-react/src/components/base/inputs/checkbox-new/components/index.ts
  packages/wiz-ui-react/src/components/base/inputs/checkbox-new/index.ts
  packages/wiz-ui-react/src/components/base/inputs/checkbox-new/stories/checkbox-new.stories.tsx
  packages/wiz-ui-react/src/components/base/inputs/checkbox/components/checkbox.tsx
  packages/wiz-ui-react/src/components/base/inputs/index.ts
Labels: 🎨 story, 👀 Review Priority: High

#1068 WizRadioNew コンポーネントを追加
  .changeset/lemon-guests-kneel.md
  packages/constants/component/name.ts
  packages/styles/bases/radio-new.css.ts
  packages/wiz-ui-next/src/components/base/inputs/index.ts
  packages/wiz-ui-next/src/components/base/inputs/radio-new/index.ts
  packages/wiz-ui-next/src/components/base/inputs/radio-new/radio-new.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/radio-new/radio-new.vue
  packages/wiz-ui-next/src/components/base/inputs/radio/index.ts
  packages/wiz-ui-react/src/components/base/inputs/index.ts
  packages/wiz-ui-react/src/components/base/inputs/radio-new/components/index.ts
  packages/wiz-ui-react/src/components/base/inputs/radio-new/components/radio-new.tsx
  packages/wiz-ui-react/src/components/base/inputs/radio-new/index.ts
  packages/wiz-ui-react/src/components/base/inputs/radio-new/stories/radio-new.stories.tsx
  packages/wiz-ui-react/src/components/base/inputs/radio/components/radio.tsx
Labels: 🎨 story, 👀 Review Priority: High

#1036 Feat(search-input, tag): tag機能を追加
  .changeset/seven-kings-greet.md
  packages/styles/bases/search-input.css.ts
  packages/styles/bases/tag.css.ts
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-popup.vue
  packages/wiz-ui-next/src/components/base/inputs/search-input/stories/options.ts
  packages/wiz-ui-next/src/components/base/inputs/search-input/stories/search-input.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/search-input/types.ts
  packages/wiz-ui-next/src/components/base/tag/tag.stories.ts
  packages/wiz-ui-next/src/components/base/tag/tag.vue
  packages/wiz-ui-react/src/components/base/inputs/checkbox/components/checkbox.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-popup-panel.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/types.ts
  packages/wiz-ui-react/src/components/base/inputs/search-input/stories/dummy-data.ts
  packages/wiz-ui-react/src/components/base/inputs/search-input/stories/search-input.stories.tsx
  packages/wiz-ui-react/src/components/base/stack/components/stack.tsx
  packages/wiz-ui-react/src/components/base/stack/components/types.ts
  packages/wiz-ui-react/src/components/base/tag/components/tag.tsx
  packages/wiz-ui-react/src/components/base/tag/stories/tag.stories.tsx
  packages/wiz-ui/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui/src/components/base/inputs/search-input/search-popup.vue
  packages/wiz-ui/src/components/base/inputs/search-input/stories/options.ts
  packages/wiz-ui/src/components/base/inputs/search-input/stories/search-input.stories.ts
  packages/wiz-ui/src/components/base/inputs/search-input/types.ts
  packages/wiz-ui/src/components/base/tag/tag.stories.ts
  packages/wiz-ui/src/components/base/tag/tag.vue
Labels: 📦 component, 👀 Review Priority: High
