Repository Wizleap-Inc/wiz-ui, pull requests merged in 2023-05, with the labels that each got.

#546 Feat(WizUnstyledTable): add row variant in unstyled table header
  packages/styles/bases/unstyled-table.css.ts
  packages/wiz-ui-next/src/components/base/tables/unstyled/table.stories.ts
  packages/wiz-ui-next/src/components/base/tables/unstyled/th.vue
  packages/wiz-ui/src/components/base/tables/unstyled/table.stories.ts
  packages/wiz-ui/src/components/base/tables/unstyled/th.vue
Labels: 🎨 story, 👀 Review Priority: High

#692 Feat(tag): variant変更・新規タグ追加
  .changeset/rotten-ligers-sip.md
  packages/styles/bases/tag.css.ts
  packages/wiz-ui-next/src/components/base/tag/tag.stories.ts
  packages/wiz-ui-next/src/components/base/tag/tag.vue
  packages/wiz-ui/src/components/base/tag/tag.stories.ts
  packages/wiz-ui/src/components/base/tag/tag.vue
Labels: 📦 component, 🎨 story, 👀 Review Priority: High

#563 Feat/add colspan rowspan
  packages/wiz-ui-next/src/components/base/tables/card/table.stories.ts
  packages/wiz-ui-next/src/components/base/tables/card/td.vue
  packages/wiz-ui-next/src/components/base/tables/card/th.vue
  packages/wiz-ui-next/src/components/base/tables/flat/table.stories.ts
  packages/wiz-ui-next/src/components/base/tables/flat/td.vue
  packages/wiz-ui-next/src/components/base/tables/flat/th.vue
  packages/wiz-ui-next/src/components/base/tables/unstyled/table.stories.ts
  packages/wiz-ui-next/src/components/base/tables/unstyled/td.vue
  packages/wiz-ui-next/src/components/base/tables/unstyled/th.vue
  packages/wiz-ui/src/components/base/tables/card/table.stories.ts
  packages/wiz-ui/src/components/base/tables/card/td.vue
  packages/wiz-ui/src/components/base/tables/card/th.vue
  packages/wiz-ui/src/components/base/tables/flat/table.stories.ts
  packages/wiz-ui/src/components/base/tables/flat/td.vue
  packages/wiz-ui/src/components/base/tables/flat/th.vue
  packages/wiz-ui/src/components/base/tables/unstyled/table.stories.ts
  packages/wiz-ui/src/components/base/tables/unstyled/td.vue
  packages/wiz-ui/src/components/base/tables/unstyled/th.vue
Labels: 🎨 story, 👀 Review Priority: High

#668 feat: scheduleコンポーネントの作成
  .changeset/honest-grapes-push.md
  packages/constants/component/custom/schedule.ts
  packages/constants/component/name.ts
  packages/styles/customs/schedule.css.ts
  packages/utils/date.ts
  packages/wiz-ui-next/src/components/custom/index.ts
  packages/wiz-ui-next/src/components/custom/schedule/components/card.vue
  packages/wiz-ui-next/src/components/custom/schedule/components/grid.vue
  packages/wiz-ui-next/src/components/custom/schedule/components/index.ts
  packages/wiz-ui-next/src/components/custom/schedule/components/schedule.vue
  packages/wiz-ui-next/src/components/custom/schedule/components/sheet.vue
  packages/wiz-ui-next/src/components/custom/schedule/components/time.ts
  packages/wiz-ui-next/src/components/custom/schedule/index.ts
  packages/wiz-ui-next/src/components/custom/schedule/stories/card.stories.ts
  packages/wiz-ui-next/src/components/custom/schedule/stories/schedule.stories.ts
  packages/wiz-ui-next/src/components/custom/schedule/stories/sheet.stories.ts
  packages/wiz-ui-next/src/components/custom/schedule/tests/time.test.ts
  packages/wiz-ui-next/src/components/custom/schedule/types.ts
  packages/wiz-ui-react/src/components/custom/index.ts
  packages/wiz-ui-react/src/components/custom/schedule/components/card.tsx
  packages/wiz-ui-react/src/components/custom/schedule/components/grid.tsx
  packages/wiz-ui-react/src/components/custom/schedule/components/index.ts
  packages/wiz-ui-react/src/components/custom/schedule/components/schedule.tsx
  packages/wiz-ui-react/src/components/custom/schedule/components/sheet.tsx
  packages/wiz-ui-react/src/components/custom/schedule/components/time.ts
  packages/wiz-ui-react/src/components/custom/schedule/index.ts
  packages/wiz-ui-react/src/components/custom/schedule/stories/card.stories.tsx
  packages/wiz-ui-react/src/components/custom/schedule/stories/schedule.stories.tsx
  packages/wiz-ui-react/src/components/custom/schedule/stories/sheet.stories.tsx
  packages/wiz-ui-react/src/components/custom/schedule/tests/time.test.ts
  packages/wiz-ui-react/src/components/custom/schedule/types.ts
  packages/wiz-ui-react/src/components/index.ts
  packages/wiz-ui/src/components/base/inputs/date-range-picker/date-range-picker.stories.ts
  packages/wiz-ui/src/components/custom/index.ts
  packages/wiz-ui/src/components/custom/schedule/components/card.vue
  packages/wiz-ui/src/components/custom/schedule/components/grid.vue
  packages/wiz-ui/src/components/custom/schedule/components/index.ts
  packages/wiz-ui/src/components/custom/schedule/components/schedule.vue
  packages/wiz-ui/src/components/custom/schedule/components/sheet.vue
  packages/wiz-ui/src/components/custom/schedule/components/time.ts
  packages/wiz-ui/src/components/custom/schedule/index.ts
  packages/wiz-ui/src/components/custom/schedule/stories/card.stories.ts
  packages/wiz-ui/src/components/custom/schedule/stories/schedule.stories.ts
  packages/wiz-ui/src/components/custom/schedule/stories/sheet.stories.ts
  packages/wiz-ui/src/components/custom/schedule/tests/time.test.ts
  packages/wiz-ui/src/components/custom/schedule/types.ts
Labels: 📦 component

#693 Feat/popup placement
  .changeset/rotten-actors-melt.md
  packages/wiz-ui-next/src/components/base/popup/popup.stories.ts
  packages/wiz-ui-next/src/components/base/popup/popup.vue
  packages/wiz-ui/src/components/base/popup/popup.stories.ts
  packages/wiz-ui/src/components/base/popup/popup.vue
Labels: 📦 component, 🎨 story, 👀 Review Priority: High

#694 Feat/date picker year
  .changeset/cyan-lies-shave.md
  packages/constants/component/aria-label.ts
  packages/constants/component/icon-name.ts
  packages/icons/assets/arrow-drop-down.svg
  packages/icons/assets/arrow-drop-up.svg
  packages/styles/bases/date-picker-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.vue
  packages/wiz-ui-next/src/components/icons/arrow-drop-down.vue
  packages/wiz-ui-next/src/components/icons/arrow-drop-up.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-react/src/components/icons/arrow-drop-down.tsx
  packages/wiz-ui-react/src/components/icons/arrow-drop-up.tsx
  packages/wiz-ui-react/src/components/icons/index.ts
  packages/wiz-ui/src/components/base/inputs/date-picker/date-picker.stories.ts
  packages/wiz-ui/src/components/base/inputs/date-picker/date-picker.vue
  packages/wiz-ui/src/components/icons/arrow-drop-down.vue
  packages/wiz-ui/src/components/icons/arrow-drop-up.vue
  packages/wiz-ui/src/components/icons/index.ts
Labels: 📦 component, 👀 Review Priority: High

#705 Fix/show more less export
  .changeset/curly-apples-shop.md
  packages/wiz-ui-next/src/components/base/index.ts
Labels: 👀 Review Priority: High

#708 chore: eslint-plugin-react-hooks を設定
  .eslintrc.react.json
  package.json
  packages/wiz-ui-react/src/components/base/stack/stories/h-stack.stories.tsx
  packages/wiz-ui-react/src/components/base/stack/stories/stack.stories.tsx
  packages/wiz-ui-react/src/components/base/stack/stories/v-stack.stories.tsx
  pnpm-lock.yaml
Labels: ⬆️ dependencies

#556 Feat/react text
  .changeset/four-guests-jog.md
  packages/wiz-ui-react/src/components/base/text/components/index.ts
  packages/wiz-ui-react/src/components/base/text/components/text.tsx
  packages/wiz-ui-react/src/components/base/text/index.ts
  packages/wiz-ui-react/src/components/base/text/stories/text.stories.tsx
Labels: 📦 component, 🔽 Low Priority

#573 Feat/react box
  .changeset/perfect-phones-count.md
  packages/wiz-ui-react/src/components/base/box/components/box.tsx
  packages/wiz-ui-react/src/components/base/box/components/index.ts
  packages/wiz-ui-react/src/components/base/box/index.ts
  packages/wiz-ui-react/src/components/base/box/stories/box.stories.tsx
  packages/wiz-ui-react/src/components/base/index.ts
Labels: 📦 component, 🔽 Low Priority

#575 Feat/react card
  .changeset/chilled-experts-flow.md
  packages/wiz-ui-react/src/components/base/card/components/card.tsx
  packages/wiz-ui-react/src/components/base/card/components/index.ts
  packages/wiz-ui-react/src/components/base/card/index.ts
  packages/wiz-ui-react/src/components/base/card/stories/card.stories.tsx
  packages/wiz-ui-react/src/components/base/index.ts
Labels: 📦 component, 🔽 Low Priority

#590 Feat/react icon button
  .changeset/ten-lions-draw.md
  packages/wiz-ui-react/src/components/base/buttons/icon/components/icon-button.tsx
  packages/wiz-ui-react/src/components/base/buttons/icon/components/index.ts
  packages/wiz-ui-react/src/components/base/buttons/icon/index.ts
  packages/wiz-ui-react/src/components/base/buttons/icon/stories/icon-button.stories.tsx
Labels: 📦 component, 🎨 story, 🔽 Low Priority

#592 Feat/react toggle switch
  .changeset/angry-pumas-melt.md
  packages/wiz-ui-react/src/components/base/inputs/index.ts
  packages/wiz-ui-react/src/components/base/inputs/toggle-switch/components/index.ts
  packages/wiz-ui-react/src/components/base/inputs/toggle-switch/components/toggle-switch.tsx
  packages/wiz-ui-react/src/components/base/inputs/toggle-switch/index.ts
  packages/wiz-ui-react/src/components/base/inputs/toggle-switch/stories/toggle-switch.stories.tsx
Labels: 📦 component, 🔽 Low Priority

#608 Fix/snackbar lifecycle
  .changeset/soft-bobcats-thank.md
  packages/wiz-ui-next/src/components/base/snackbar/snackbar-controller.vue
  packages/wiz-ui-next/src/components/base/snackbar/snackbar.stories.ts
  packages/wiz-ui-next/src/components/manager/provider.vue
  packages/wiz-ui-next/src/hooks/use-global-provider.ts
  packages/wiz-ui-next/src/hooks/use-menu.ts
  packages/wiz-ui-next/src/hooks/use-snackbar.ts
  packages/wiz-ui/src/components/base/snackbar/snackbar-controller.vue
  packages/wiz-ui/src/components/base/snackbar/snackbar.stories.ts
  packages/wiz-ui/src/components/manager/provider.vue
  packages/wiz-ui/src/hooks/use-global-provider.ts
  packages/wiz-ui/src/hooks/use-menu.ts
  packages/wiz-ui/src/hooks/use-snackbar.ts
Labels: 📦 component, ⚠️ bug: logic, 🎨 story, 👀 Review Priority: High

#673 Feat/compare graph label
  .changeset/seven-trains-help.md
  packages/styles/bases/compare-graph.css.ts
  packages/wiz-ui-next/src/components/base/graphs/compare/bar.vue
  packages/wiz-ui-next/src/components/base/graphs/compare/compare.stories.ts
  packages/wiz-ui-next/src/components/base/graphs/compare/compare.vue
  packages/wiz-ui/src/components/base/graphs/compare/bar.vue
  packages/wiz-ui/src/components/base/graphs/compare/compare.stories.ts
  packages/wiz-ui/src/components/base/graphs/compare/compare.vue
Labels: 📦 component, 🎨 story, 👀 Review Priority: High

#727 Feat/flat table font size
  .changeset/young-gifts-laugh.md
  packages/wiz-ui-next/src/components/base/tables/flat/table.stories.ts
  packages/wiz-ui-next/src/components/base/tables/flat/td.vue
  packages/wiz-ui-next/src/components/base/tables/flat/th.vue
  packages/wiz-ui/src/components/base/tables/flat/table.stories.ts
  packages/wiz-ui/src/components/base/tables/flat/td.vue
  packages/wiz-ui/src/components/base/tables/flat/th.vue
Labels: 📦 component, 🎨 story, 👀 Review Priority: High

#699 Fix/fixed popup
  .changeset/fresh-weeks-cough.md
  packages/styles/bases/popup.css.ts
  packages/wiz-ui-next/src/components/base/popup/popup.stories.ts
  packages/wiz-ui-next/src/components/base/popup/popup.vue
  packages/wiz-ui/src/components/base/popup/popup.stories.ts
  packages/wiz-ui/src/components/base/popup/popup.vue
Labels: 📦 component, 🎨 story, 👀 Review Priority: High

#586 Feat/react anchor
  .changeset/stale-garlics-juggle.md
  packages/wiz-ui-react/src/components/base/anchor/components/anchor.tsx
  packages/wiz-ui-react/src/components/base/anchor/components/index.ts
  packages/wiz-ui-react/src/components/base/anchor/index.ts
  packages/wiz-ui-react/src/components/base/anchor/stories/anchor.stories.tsx
  packages/wiz-ui-react/src/components/base/index.ts
Labels: ⬆️ dependencies, 📦 component, 🔽 Low Priority

#580 Feat/react tiny button
  .changeset/grumpy-poets-refuse.md
  packages/wiz-ui-react/src/components/base/buttons/index.ts
  packages/wiz-ui-react/src/components/base/buttons/tiny/components/index.ts
  packages/wiz-ui-react/src/components/base/buttons/tiny/components/tiny-button.tsx
  packages/wiz-ui-react/src/components/base/buttons/tiny/index.ts
  packages/wiz-ui-react/src/components/base/buttons/tiny/stories/tiny-button.stories.tsx
Labels: 📦 component, 🎨 story, 🔽 Low Priority

#602 Feat/react tag
  .changeset/popular-knives-grab.md
  packages/wiz-ui-react/src/components/base/index.ts
  packages/wiz-ui-react/src/components/base/tag/components/index.ts
  packages/wiz-ui-react/src/components/base/tag/components/tag.tsx
  packages/wiz-ui-react/src/components/base/tag/index.ts
  packages/wiz-ui-react/src/components/base/tag/stories/tag.stories.tsx
Labels: 📦 component, 🎨 story, 🔽 Low Priority

#738 Bug(snackbar): snackbarが使えない
  .changeset/cyan-drinks-drive.md
  packages/wiz-ui-next/src/components/base/snackbar/snackbar.stories.ts
  packages/wiz-ui-next/src/components/manager/provider.vue
  packages/wiz-ui-next/src/hooks/index.ts
  packages/wiz-ui-next/src/hooks/use-global-provider.ts
  packages/wiz-ui-next/src/hooks/use-snackbar.ts
  packages/wiz-ui-next/src/index.ts
  packages/wiz-ui/src/components/base/snackbar/snackbar.stories.ts
  packages/wiz-ui/src/components/manager/provider.vue
  packages/wiz-ui/src/hooks/index.ts
  packages/wiz-ui/src/hooks/use-global-provider.ts
  packages/wiz-ui/src/hooks/use-snackbar.ts
  packages/wiz-ui/src/index.ts
Labels: ⚠️ bug: design, 🎨 story

#600 Feat/react avatar
  .changeset/nasty-peaches-fry.md
  packages/wiz-ui-react/.storybook/assets/images/avatar-1.png
  packages/wiz-ui-react/.storybook/assets/images/avatar-2.png
  packages/wiz-ui-react/.storybook/assets/images/avatar-3.png
  packages/wiz-ui-react/src/components/base/avatar/components/avatar.tsx
  packages/wiz-ui-react/src/components/base/avatar/components/index.ts
  packages/wiz-ui-react/src/components/base/avatar/index.ts
  packages/wiz-ui-react/src/components/base/avatar/stories/avatar.stories.tsx
  packages/wiz-ui-react/src/components/base/index.ts
Labels: 📦 component, 🎨 story, 🔽 Low Priority

#604 Feat/react panel switch
  .changeset/red-pants-bake.md
  packages/wiz-ui-react/src/components/base/index.ts
  packages/wiz-ui-react/src/components/base/inputs/index.ts
  packages/wiz-ui-react/src/components/base/inputs/panel-switch/components/index.ts
  packages/wiz-ui-react/src/components/base/inputs/panel-switch/components/panel-switch.tsx
  packages/wiz-ui-react/src/components/base/inputs/panel-switch/components/type.ts
  packages/wiz-ui-react/src/components/base/inputs/panel-switch/index.ts
  packages/wiz-ui-react/src/components/base/inputs/panel-switch/stories/panel-switch.stories.tsx
Labels: 📦 component, 🔽 Low Priority

#628 Feat/react menu
  .changeset/brown-icons-end.md
  packages/constants/component/name.ts
  packages/wiz-ui-react/src/components/base/index.ts
  packages/wiz-ui-react/src/components/base/menu/components/index.ts
  packages/wiz-ui-react/src/components/base/menu/components/menu-item.tsx
  packages/wiz-ui-react/src/components/base/menu/index.ts
  packages/wiz-ui-react/src/components/base/menu/stories/menu-item.stories.tsx
Labels: 📦 component

#630 Feat/react message box
  .changeset/lazy-suns-bathe.md
  packages/wiz-ui-react/src/components/base/index.ts
  packages/wiz-ui-react/src/components/base/message-box/components/index.ts
  packages/wiz-ui-react/src/components/base/message-box/components/message-box.tsx
  packages/wiz-ui-react/src/components/base/message-box/index.ts
  packages/wiz-ui-react/src/components/base/message-box/stories/message-box.stories.tsx
Labels: 📦 component

#632 Feat/react pagination
  .changeset/tricky-geckos-rhyme.md
  packages/constants/component/aria-label.ts
  packages/constants/component/name.ts
  packages/wiz-ui-react/src/components/base/pagination/components/index.ts
  packages/wiz-ui-react/src/components/base/pagination/components/pagination.tsx
  packages/wiz-ui-react/src/components/base/pagination/components/private-div-button.tsx
  packages/wiz-ui-react/src/components/base/pagination/index.ts
  packages/wiz-ui-react/src/components/base/pagination/stories/pagination.stories.tsx
Labels: 📦 component

#634 Feat/react skeleton
  .changeset/heavy-mirrors-swim.md
  packages/wiz-ui-react/src/components/base/skeleton/components/index.ts
  packages/wiz-ui-react/src/components/base/skeleton/components/skeleton-circle.tsx
  packages/wiz-ui-react/src/components/base/skeleton/components/skeleton-text.tsx
  packages/wiz-ui-react/src/components/base/skeleton/components/skeleton.tsx
  packages/wiz-ui-react/src/components/base/skeleton/index.ts
  packages/wiz-ui-react/src/components/base/skeleton/stories/skeleton-circle.stories.tsx
  packages/wiz-ui-react/src/components/base/skeleton/stories/skeleton-text.stories.tsx
  packages/wiz-ui-react/src/components/base/skeleton/stories/skeleton.stories.tsx
Labels: 📦 component, 🚧 wip

#542 feat(checkbox): キーボード操作を可能にする
  .changeset/pink-apricots-reply.md
  packages/styles/bases/checkbox-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/checkbox/checkbox.vue
  packages/wiz-ui/src/components/base/inputs/checkbox/checkbox.vue
Labels: 📦 component, 👀 Review Priority: High

#777 Add a hideClose prop in dialog
  .changeset/loud-ties-type.md
  packages/wiz-ui-next/src/components/base/dialog/dialog.stories.ts
  packages/wiz-ui-next/src/components/base/dialog/dialog.vue
  packages/wiz-ui/src/components/base/dialog/dialog.stories.ts
  packages/wiz-ui/src/components/base/dialog/dialog.vue
Labels: 🎨 story, 👀 Review Priority: High

#706 Feat(date-picker/date-range-picker): カレンダーに初期値を反映する
  .changeset/old-lions-serve.md
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.vue
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.vue
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/types.ts
  packages/wiz-ui/src/components/base/inputs/date-picker/date-picker.stories.ts
  packages/wiz-ui/src/components/base/inputs/date-picker/date-picker.vue
  packages/wiz-ui/src/components/base/inputs/date-range-picker/date-range-picker.stories.ts
  packages/wiz-ui/src/components/base/inputs/date-range-picker/date-range-picker.vue
  packages/wiz-ui/src/components/base/inputs/date-range-picker/types.ts
Labels: 📦 component, 🎨 story, 👀 Review Priority: High
