Repository Wizleap-Inc/wiz-ui, pull requests merged in 2023-03, with the labels that each got.

#399 Feat(WizTinyButton): p/px/pyでspacingを指定する
  packages/wiz-ui-next/src/components/base/buttons/tiny/tiny.stories.ts
  packages/wiz-ui-next/src/components/base/buttons/tiny/tiny.vue
  packages/wiz-ui/src/components/base/buttons/tiny/tiny.stories.ts
  packages/wiz-ui/src/components/base/buttons/tiny/tiny.vue
Labels: 📦 component, 🎨 story

#405 fix(tiny-button): disabledを修正
  packages/styles/bases/tiny-button.css.ts
  packages/wiz-ui-next/src/components/base/buttons/tiny/tiny.stories.ts
  packages/wiz-ui-next/src/components/base/buttons/tiny/tiny.vue
  packages/wiz-ui/src/components/base/buttons/tiny/tiny.stories.ts
  packages/wiz-ui/src/components/base/buttons/tiny/tiny.vue
Labels: ⚠️ bug: design

#406 bug: useClickOutside問題の解消
  packages/wiz-ui-next/src/components/base/dropdown/dropdown.vue
  packages/wiz-ui-next/src/components/base/inputs/datepicker/date-picker.vue
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.vue
  packages/wiz-ui-next/src/components/base/inputs/timepicker/time-picker.vue
  packages/wiz-ui-next/src/components/base/popup/popup-container.vue
  packages/wiz-ui-next/src/components/base/popup/popup.stories.ts
  packages/wiz-ui-next/src/components/base/popup/popup.vue
  packages/wiz-ui-next/src/components/base/popup/provider.ts
  packages/wiz-ui-next/src/hooks/use-click-outside.ts
  packages/wiz-ui/src/components/base/dropdown/dropdown.vue
  packages/wiz-ui/src/components/base/inputs/datepicker/date-picker.vue
  packages/wiz-ui/src/components/base/inputs/selectbox/selectbox.vue
  packages/wiz-ui/src/components/base/inputs/timepicker/time-picker.vue
  packages/wiz-ui/src/components/base/popup/popup-container.vue
  packages/wiz-ui/src/components/base/popup/popup.stories.ts
  packages/wiz-ui/src/components/base/popup/popup.vue
  packages/wiz-ui/src/components/base/popup/provider.ts
  packages/wiz-ui/src/hooks/use-click-outside.ts
Labels: 📦 component, ⚠️ bug: logic, 🎨 story, 🔼 High Priority

#331 WizSearchInput
  packages/constants/component/name.ts
  packages/styles/bases/search-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/index.ts
  packages/wiz-ui-next/src/components/base/inputs/search/index.ts
  packages/wiz-ui-next/src/components/base/inputs/search/search-popup.vue
  packages/wiz-ui-next/src/components/base/inputs/search/search.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/search/search.vue
  packages/wiz-ui-next/src/components/base/inputs/search/types.ts
  packages/wiz-ui/src/components/base/inputs/index.ts
  packages/wiz-ui/src/components/base/inputs/search/index.ts
  packages/wiz-ui/src/components/base/inputs/search/search-popup.vue
  packages/wiz-ui/src/components/base/inputs/search/search.stories.ts
  packages/wiz-ui/src/components/base/inputs/search/search.vue
  packages/wiz-ui/src/components/base/inputs/search/types.ts
Labels: 🎨 story

#408 feat: search-inputの新しいpopup対応
  examples/vue2/src/components/layout/header/notification-dropdown.vue
  examples/vue3/src/components/layout/header/notification-dropdown.vue
  packages/wiz-ui-next/src/components/base/inputs/search/search.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/search/search.vue
  packages/wiz-ui/src/components/base/inputs/search/search.stories.ts
  packages/wiz-ui/src/components/base/inputs/search/search.vue
Labels: 📦 component, 🎨 story

#412 Release: v0.7.0
  examples/vue2/src/components/layout/header/notification-dropdown.vue
  examples/vue3/src/components/layout/header/notification-dropdown.vue
  packages/constants/component/name.ts
  packages/styles/bases/popup.css.ts
  packages/styles/bases/search-input.css.ts
  packages/styles/bases/tiny-button.css.ts
  packages/styles/bases/tooltip.css.ts
  packages/wiz-ui-next/package.json
  packages/wiz-ui-next/src/components/base/box/box.vue
  packages/wiz-ui-next/src/components/base/buttons/tiny/tiny.stories.ts
  packages/wiz-ui-next/src/components/base/buttons/tiny/tiny.vue
  packages/wiz-ui-next/src/components/base/dropdown/dropdown.vue
  packages/wiz-ui-next/src/components/base/inputs/datepicker/date-picker.vue
  packages/wiz-ui-next/src/components/base/inputs/index.ts
  packages/wiz-ui-next/src/components/base/inputs/search/index.ts
  packages/wiz-ui-next/src/components/base/inputs/search/search-popup.vue
  packages/wiz-ui-next/src/components/base/inputs/search/search.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/search/search.vue
  packages/wiz-ui-next/src/components/base/inputs/search/types.ts
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.vue
  packages/wiz-ui-next/src/components/base/inputs/timepicker/time-picker.vue
  packages/wiz-ui-next/src/components/base/inputs/upload/upload-display.vue
  packages/wiz-ui-next/src/components/base/inputs/upload/upload.vue
  packages/wiz-ui-next/src/components/base/popup/popup-container.vue
  packages/wiz-ui-next/src/components/base/popup/popup.stories.ts
  packages/wiz-ui-next/src/components/base/popup/popup.vue
  packages/wiz-ui-next/src/components/base/popup/provider.ts
  packages/wiz-ui-next/src/components/custom/notification/list/list.vue
  packages/wiz-ui-next/src/components/custom/notification/notification.stories.ts
  packages/wiz-ui-next/src/components/custom/notification/notification.vue
  packages/wiz-ui-next/src/hooks/use-click-outside.ts
  packages/wiz-ui-next/src/index.ts
  packages/wiz-ui/package.json
  packages/wiz-ui/src/components/base/box/box.vue
  packages/wiz-ui/src/components/base/buttons/tiny/tiny.stories.ts
  packages/wiz-ui/src/components/base/buttons/tiny/tiny.vue
  packages/wiz-ui/src/components/base/dropdown/dropdown.vue
  packages/wiz-ui/src/components/base/inputs/datepicker/date-picker.vue
  packages/wiz-ui/src/components/base/inputs/index.ts
  packages/wiz-ui/src/components/base/inputs/search/index.ts
  packages/wiz-ui/src/components/base/inputs/search/search-popup.vue
  packages/wiz-ui/src/components/base/inputs/search/search.stories.ts
  packages/wiz-ui/src/components/base/inputs/search/search.vue
  packages/wiz-ui/src/components/base/inputs/search/types.ts
  packages/wiz-ui/src/components/base/inputs/selectbox/selectbox.vue
  packages/wiz-ui/src/components/base/inputs/timepicker/time-picker.vue
  packages/wiz-ui/src/components/base/inputs/upload/upload-display.vue
  packages/wiz-ui/src/components/base/inputs/upload/upload.vue
  packages/wiz-ui/src/components/base/popup/popup-container.vue
  packages/wiz-ui/src/components/base/popup/popup.stories.ts
  packages/wiz-ui/src/components/base/popup/popup.vue
  packages/wiz-ui/src/components/base/popup/provider.ts
  packages/wiz-ui/src/components/custom/notification/list/list.vue
  packages/wiz-ui/src/components/custom/notification/notification.stories.ts
  packages/wiz-ui/src/components/custom/notification/notification.vue
  packages/wiz-ui/src/hooks/use-click-outside.ts
  packages/wiz-ui/src/index.ts
Labels: 🎨 story

#419 update(popup): layerのdefaultをpopoverに変更
  packages/wiz-ui-next/src/components/base/popup/popup.vue
  packages/wiz-ui/src/components/base/popup/popup.vue
Labels: 📦 component, ⚠️ bug: logic

#420 Bug(popup): 画面幅が変わったときにpopupが追従しない
  packages/wiz-ui-next/src/components/base/popup/popup.vue
  packages/wiz-ui/src/components/base/popup/popup.vue
Labels: 📦 component, ⚠️ bug: logic

#424 Bug(popup): ダイアログに縦に長いpopupを乗せたときに突き抜ける & Controllerに追従しない
  packages/styles/bases/popup.css.ts
  packages/wiz-ui-next/src/components/base/popup/popup-container.vue
  packages/wiz-ui-next/src/components/base/popup/popup.stories.ts
  packages/wiz-ui-next/src/components/base/popup/popup.vue
  packages/wiz-ui-next/src/hooks/use-scroll.ts
  packages/wiz-ui/src/components/base/popup/popup-container.vue
  packages/wiz-ui/src/components/base/popup/popup.stories.ts
  packages/wiz-ui/src/components/base/popup/popup.vue
  packages/wiz-ui/src/hooks/use-scroll.ts
Labels: 📦 component, ⚠️ bug: logic, 🎨 story

#425 feat(snackbar): snackbarの実装
  packages/constants/component/name.ts
  packages/styles/bases/snackbar.css.ts
  packages/wiz-ui-next/src/components/base/index.ts
  packages/wiz-ui-next/src/components/base/snackbar/index.ts
  packages/wiz-ui-next/src/components/base/snackbar/snackbar-controller.vue
  packages/wiz-ui-next/src/components/base/snackbar/snackbar.stories.ts
  packages/wiz-ui-next/src/components/base/snackbar/snackbar.vue
  packages/wiz-ui-next/src/components/base/snackbar/types.ts
  packages/wiz-ui-next/src/hooks/use-snackbar.ts
  packages/wiz-ui-next/src/index.ts
  packages/wiz-ui/src/components/base/index.ts
  packages/wiz-ui/src/components/base/snackbar/index.ts
  packages/wiz-ui/src/components/base/snackbar/snackbar-controller.vue
  packages/wiz-ui/src/components/base/snackbar/snackbar.stories.ts
  packages/wiz-ui/src/components/base/snackbar/snackbar.vue
  packages/wiz-ui/src/components/base/snackbar/types.ts
  packages/wiz-ui/src/hooks/use-snackbar.ts
  packages/wiz-ui/src/index.ts
Labels: 📦 component, 🎨 story

#426 Release: v0.7.2
  packages/constants/component/name.ts
  packages/styles/bases/popup.css.ts
  packages/styles/bases/snackbar.css.ts
  packages/wiz-ui-next/package.json
  packages/wiz-ui-next/src/components/base/index.ts
  packages/wiz-ui-next/src/components/base/popup/popup-container.vue
  packages/wiz-ui-next/src/components/base/popup/popup.stories.ts
  packages/wiz-ui-next/src/components/base/popup/popup.vue
  packages/wiz-ui-next/src/components/base/snackbar/index.ts
  packages/wiz-ui-next/src/components/base/snackbar/snackbar-controller.vue
  packages/wiz-ui-next/src/components/base/snackbar/snackbar.stories.ts
  packages/wiz-ui-next/src/components/base/snackbar/snackbar.vue
  packages/wiz-ui-next/src/components/base/snackbar/types.ts
  packages/wiz-ui-next/src/hooks/use-scroll.ts
  packages/wiz-ui-next/src/hooks/use-snackbar.ts
  packages/wiz-ui-next/src/index.ts
  packages/wiz-ui/package.json
  packages/wiz-ui/src/components/base/index.ts
  packages/wiz-ui/src/components/base/popup/popup-container.vue
  packages/wiz-ui/src/components/base/popup/popup.stories.ts
  packages/wiz-ui/src/components/base/popup/popup.vue
  packages/wiz-ui/src/components/base/snackbar/index.ts
  packages/wiz-ui/src/components/base/snackbar/snackbar-controller.vue
  packages/wiz-ui/src/components/base/snackbar/snackbar.stories.ts
  packages/wiz-ui/src/components/base/snackbar/snackbar.vue
  packages/wiz-ui/src/components/base/snackbar/types.ts
  packages/wiz-ui/src/hooks/use-scroll.ts
  packages/wiz-ui/src/hooks/use-snackbar.ts
  packages/wiz-ui/src/index.ts
Labels: 🎨 story

#430 Bug(snackbar): close buttonにpaddingが残っている
  packages/styles/bases/snackbar.css.ts
Labels: 📦 component, ⚠️ bug: design

#434 Feat/step bar
  packages/constants/component/name.ts
  packages/styles/bases/step-bar.css.ts
  packages/wiz-ui-next/src/components/base/step-bar/index.ts
  packages/wiz-ui-next/src/components/base/step-bar/step-bar.stories.ts
  packages/wiz-ui-next/src/components/base/step-bar/step-bar.vue
  packages/wiz-ui-next/src/components/base/step-bar/step-line.vue
  packages/wiz-ui-next/src/components/base/step-bar/step-point.stories.ts
  packages/wiz-ui-next/src/components/base/step-bar/step-point.vue
  packages/wiz-ui-next/src/components/base/step-bar/types.ts
  packages/wiz-ui/src/components/base/step-bar/index.ts
  packages/wiz-ui/src/components/base/step-bar/step-bar.stories.ts
  packages/wiz-ui/src/components/base/step-bar/step-bar.vue
  packages/wiz-ui/src/components/base/step-bar/step-line.vue
  packages/wiz-ui/src/components/base/step-bar/step-point.stories.ts
  packages/wiz-ui/src/components/base/step-bar/step-point.vue
  packages/wiz-ui/src/components/base/step-bar/types.ts
Labels: 📦 component, 🎨 story

#435 Release: v0.7.3
  packages/constants/component/name.ts
  packages/styles/bases/search-selector.css.ts
  packages/styles/bases/snackbar.css.ts
  packages/styles/bases/step-bar.css.ts
  packages/wiz-ui-next/package.json
  packages/wiz-ui-next/src/components/base/inputs/index.ts
  packages/wiz-ui-next/src/components/base/inputs/search-selector/index.ts
  packages/wiz-ui-next/src/components/base/inputs/search-selector/levenshtein-distance.ts
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui-next/src/components/base/inputs/search-selector/types.ts
  packages/wiz-ui-next/src/components/base/step-bar/index.ts
  packages/wiz-ui-next/src/components/base/step-bar/step-bar.stories.ts
  packages/wiz-ui-next/src/components/base/step-bar/step-bar.vue
  packages/wiz-ui-next/src/components/base/step-bar/step-line.vue
  packages/wiz-ui-next/src/components/base/step-bar/step-point.stories.ts
  packages/wiz-ui-next/src/components/base/step-bar/step-point.vue
  packages/wiz-ui-next/src/components/base/step-bar/types.ts
  packages/wiz-ui-next/src/components/icons/add-circle.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-next/src/index.ts
  packages/wiz-ui/package.json
  packages/wiz-ui/src/components/base/inputs/index.ts
  packages/wiz-ui/src/components/base/inputs/search-selector/index.ts
  packages/wiz-ui/src/components/base/inputs/search-selector/levenshtein-distance.ts
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.stories.ts
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui/src/components/base/inputs/search-selector/types.ts
  packages/wiz-ui/src/components/base/step-bar/index.ts
  packages/wiz-ui/src/components/base/step-bar/step-bar.stories.ts
  packages/wiz-ui/src/components/base/step-bar/step-bar.vue
  packages/wiz-ui/src/components/base/step-bar/step-line.vue
  packages/wiz-ui/src/components/base/step-bar/step-point.stories.ts
  packages/wiz-ui/src/components/base/step-bar/step-point.vue
  packages/wiz-ui/src/components/base/step-bar/types.ts
  packages/wiz-ui/src/components/icons/add-circle.vue
  packages/wiz-ui/src/components/icons/index.ts
  packages/wiz-ui/src/index.ts
Labels: 🎨 story

#438 Release: v0.7.4
  packages/styles/bases/navigation.css.ts
  packages/wiz-ui-next/package.json
  packages/wiz-ui-next/src/index.ts
  packages/wiz-ui/package.json
  packages/wiz-ui/src/index.ts
Labels: ⬆️ dependencies

#444 [#433] 検索精度の向上
  packages/wiz-ui-next/src/components/base/inputs/search-selector/levenshtein-distance.ts
  packages/wiz-ui/src/components/base/inputs/search-selector/levenshtein-distance.ts
Labels: ⚠️ bug: logic

#461 Feat/text line through
  packages/styles/bases/text.css.ts
  packages/wiz-ui-next/src/components/base/text/text.stories.ts
  packages/wiz-ui-next/src/components/base/text/text.vue
  packages/wiz-ui/src/components/base/text/text.stories.ts
  packages/wiz-ui/src/components/base/text/text.vue
Labels: 📦 component, 🎨 story

#465 Bug(snackbar): 同一ページで複数個所からuseSnackbarを使うと出ない
  packages/wiz-ui-next/src/hooks/use-snackbar.ts
  packages/wiz-ui/src/hooks/use-snackbar.ts
Labels: ⚠️ bug: logic

#460 Feat: table-layout 機能を追加
  packages/styles/bases/card-table.css.ts
  packages/styles/bases/flat-table.css.ts
  packages/styles/bases/unstyled-table.css.ts
  packages/wiz-ui-next/src/components/base/tables/card/table.stories.ts
  packages/wiz-ui-next/src/components/base/tables/card/table.vue
  packages/wiz-ui-next/src/components/base/tables/flat/table.stories.ts
  packages/wiz-ui-next/src/components/base/tables/flat/table.vue
  packages/wiz-ui-next/src/components/base/tables/unstyled/table.stories.ts
  packages/wiz-ui-next/src/components/base/tables/unstyled/table.vue
  packages/wiz-ui/src/components/base/tables/card/table.stories.ts
  packages/wiz-ui/src/components/base/tables/card/table.vue
  packages/wiz-ui/src/components/base/tables/flat/table.stories.ts
  packages/wiz-ui/src/components/base/tables/flat/table.vue
  packages/wiz-ui/src/components/base/tables/unstyled/table.stories.ts
  packages/wiz-ui/src/components/base/tables/unstyled/table.vue
Labels: 🎨 story

#439 [Feat]: WizNavItem に disabled 属性と tooltip 機能を追加
  packages/styles/bases/navigation.css.ts
  packages/wiz-ui-next/src/components/base/navigation/item.stories.ts
  packages/wiz-ui-next/src/components/base/navigation/item.vue
  packages/wiz-ui/src/components/base/navigation/item.stories.ts
  packages/wiz-ui/src/components/base/navigation/item.vue
Labels: 🎨 story

#441 Feat/popup button group
  packages/constants/component/name.ts
  packages/styles/bases/popup-button-group.css.ts
  packages/wiz-ui-next/src/components/base/index.ts
  packages/wiz-ui-next/src/components/base/popup-button-group/index.ts
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.stories.ts
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui-next/src/components/base/popup-button-group/types.ts
  packages/wiz-ui/src/components/base/index.ts
  packages/wiz-ui/src/components/base/popup-button-group/index.ts
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.stories.ts
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui/src/components/base/popup-button-group/types.ts
Labels: 📦 component, 🎨 story

#457 Feat/search selector icon space
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.vue
Labels: 📦 component, 🎨 story

#471 fix: reg suitの差分検出が厳格すぎるので緩和
  packages/wiz-ui/regconfig.json
Labels: 🌎 environment

#459 fix: Search Select のラベルに ellipsis を適用する
  packages/styles/bases/search-selector.css.ts
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.stories.ts
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.stories.ts
Labels: 🎨 story

#462 Feat/accordion
  packages/constants/component/name.ts
  packages/styles/bases/accordion.css.ts
  packages/wiz-ui-next/src/components/base/accordion/accordion.stories.ts
  packages/wiz-ui-next/src/components/base/accordion/accordion.vue
  packages/wiz-ui-next/src/components/base/accordion/animation-configuration.ts
  packages/wiz-ui-next/src/components/base/accordion/index.ts
  packages/wiz-ui-next/src/components/base/index.ts
  packages/wiz-ui/src/components/base/accordion/accordion.stories.ts
  packages/wiz-ui/src/components/base/accordion/accordion.vue
  packages/wiz-ui/src/components/base/accordion/animation-configuration.ts
  packages/wiz-ui/src/components/base/accordion/index.ts
  packages/wiz-ui/src/components/base/index.ts
Labels: 📦 component, 🎨 story

#477 Release: v0.7.6
  packages/constants/component/name.ts
  packages/styles/bases/accordion.css.ts
  packages/styles/bases/popup-button-group.css.ts
  packages/styles/bases/search-selector.css.ts
  packages/wiz-ui-next/package.json
  packages/wiz-ui-next/src/components/base/accordion/accordion.stories.ts
  packages/wiz-ui-next/src/components/base/accordion/accordion.vue
  packages/wiz-ui-next/src/components/base/accordion/animation-configuration.ts
  packages/wiz-ui-next/src/components/base/accordion/index.ts
  packages/wiz-ui-next/src/components/base/index.ts
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui-next/src/components/base/popup-button-group/index.ts
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.stories.ts
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui-next/src/components/base/popup-button-group/types.ts
  packages/wiz-ui-next/src/index.ts
  packages/wiz-ui/package.json
  packages/wiz-ui/regconfig.json
  packages/wiz-ui/src/components/base/accordion/accordion.stories.ts
  packages/wiz-ui/src/components/base/accordion/accordion.vue
  packages/wiz-ui/src/components/base/accordion/animation-configuration.ts
  packages/wiz-ui/src/components/base/accordion/index.ts
  packages/wiz-ui/src/components/base/index.ts
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.stories.ts
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui/src/components/base/popup-button-group/index.ts
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.stories.ts
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui/src/components/base/popup-button-group/types.ts
  packages/wiz-ui/src/index.ts
Labels: ⬆️ dependencies, 🎨 story

#482 fix(date-picker): placeholderが表示されるようにする
  packages/wiz-ui/src/components/base/inputs/date-picker/date-picker.stories.ts
Labels: ⚠️ bug: logic, 🎨 story

#481 Feat/skeleton radius
  packages/styles/bases/skeleton.css.ts
  packages/wiz-ui-next/src/components/base/skeleton/skeleton.stories.ts
  packages/wiz-ui-next/src/components/base/skeleton/skeleton.vue
  packages/wiz-ui/src/components/base/skeleton/skeleton.stories.ts
  packages/wiz-ui/src/components/base/skeleton/skeleton.vue
Labels: 📦 component, 🎨 story

#475 Radio, Checkbox のコンポーネントに打ち消し線を追加
  packages/styles/bases/checkbox-input.css.ts
  packages/styles/bases/radio-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/checkbox/checkbox.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/checkbox/checkbox.vue
  packages/wiz-ui-next/src/components/base/inputs/radio/radio.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/radio/radio.vue
  packages/wiz-ui/src/components/base/inputs/checkbox/checkbox.stories.ts
  packages/wiz-ui/src/components/base/inputs/checkbox/checkbox.vue
  packages/wiz-ui/src/components/base/inputs/radio/radio.stories.ts
  packages/wiz-ui/src/components/base/inputs/radio/radio.vue
Labels: 🎨 story

#485 Feat(popup): body要素以外もscrollイベントが発火できるようにした
  packages/wiz-ui-next/src/components/base/popup/popup-container.vue
  packages/wiz-ui-next/src/components/base/popup/popup.vue
  packages/wiz-ui-next/src/hooks/use-scroll.ts
  packages/wiz-ui/src/components/base/popup/popup-container.vue
  packages/wiz-ui/src/components/base/popup/popup.vue
  packages/wiz-ui/src/hooks/use-scroll.ts
Labels: ⚠️ bug: logic

#484 Feat(selectbox): 開いた状態のselectboxのStoryを追加する
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.vue
  packages/wiz-ui/src/components/base/inputs/selectbox/selectbox.stories.ts
  packages/wiz-ui/src/components/base/inputs/selectbox/selectbox.vue
Labels: 🚧 wip, 🎨 story

#488 Bug(WizChatCard): セレクタを入れると引っ込めた時にその分はみ出す
  packages/wiz-ui-next/src/components/custom/chat/card/chat-card.vue
  packages/wiz-ui/src/components/custom/chat/card/chat-card.vue
Labels: 📦 component, ⚠️ bug: design, ⚠️ bug: logic

#491 Release: v0.7.8
  packages/styles/bases/checkbox-input.css.ts
  packages/styles/bases/radio-input.css.ts
  packages/styles/bases/skeleton.css.ts
  packages/wiz-ui-next/package.json
  packages/wiz-ui-next/src/components/base/inputs/checkbox/checkbox.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/checkbox/checkbox.vue
  packages/wiz-ui-next/src/components/base/inputs/radio/radio.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/radio/radio.vue
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.vue
  packages/wiz-ui-next/src/components/base/popup/popup-container.vue
  packages/wiz-ui-next/src/components/base/popup/popup.vue
  packages/wiz-ui-next/src/components/base/skeleton/skeleton.stories.ts
  packages/wiz-ui-next/src/components/base/skeleton/skeleton.vue
  packages/wiz-ui-next/src/components/custom/chat/card/chat-card.vue
  packages/wiz-ui-next/src/hooks/use-scroll.ts
  packages/wiz-ui-next/src/index.ts
  packages/wiz-ui/package.json
  packages/wiz-ui/src/components/base/inputs/checkbox/checkbox.stories.ts
  packages/wiz-ui/src/components/base/inputs/checkbox/checkbox.vue
  packages/wiz-ui/src/components/base/inputs/date-picker/date-picker.stories.ts
  packages/wiz-ui/src/components/base/inputs/radio/radio.stories.ts
  packages/wiz-ui/src/components/base/inputs/radio/radio.vue
  packages/wiz-ui/src/components/base/inputs/search/search-popup.vue
  packages/wiz-ui/src/components/base/inputs/selectbox/selectbox.stories.ts
  packages/wiz-ui/src/components/base/inputs/selectbox/selectbox.vue
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui/src/components/base/popup/popup-container.vue
  packages/wiz-ui/src/components/base/popup/popup.vue
  packages/wiz-ui/src/components/base/skeleton/skeleton.stories.ts
  packages/wiz-ui/src/components/base/skeleton/skeleton.vue
  packages/wiz-ui/src/components/custom/chat/card/chat-card.vue
  packages/wiz-ui/src/hooks/use-scroll.ts
  packages/wiz-ui/src/index.ts
Labels: ⬆️ dependencies, 🎨 story

#492 Feat(Unstyled Table): dividerを持つことのできるパラメータの追加
  packages/styles/bases/unstyled-table.css.ts
  packages/wiz-ui-next/src/components/base/tables/unstyled/table.stories.ts
  packages/wiz-ui-next/src/components/base/tables/unstyled/table.vue
  packages/wiz-ui-next/src/components/base/tables/unstyled/thead.vue
  packages/wiz-ui-next/src/components/base/tables/unstyled/tr.vue
  packages/wiz-ui/src/components/base/tables/unstyled/table.stories.ts
  packages/wiz-ui/src/components/base/tables/unstyled/table.vue
  packages/wiz-ui/src/components/base/tables/unstyled/thead.vue
  packages/wiz-ui/src/components/base/tables/unstyled/tr.vue
Labels: 📦 component, 🎨 story

#493 Release: v0.7.9
  packages/styles/bases/unstyled-table.css.ts
  packages/wiz-ui-next/package.json
  packages/wiz-ui-next/src/components/base/tables/unstyled/table.stories.ts
  packages/wiz-ui-next/src/components/base/tables/unstyled/table.vue
  packages/wiz-ui-next/src/components/base/tables/unstyled/thead.vue
  packages/wiz-ui-next/src/components/base/tables/unstyled/tr.vue
  packages/wiz-ui-next/src/index.ts
  packages/wiz-ui/package.json
  packages/wiz-ui/src/components/base/tables/unstyled/table.stories.ts
  packages/wiz-ui/src/components/base/tables/unstyled/table.vue
  packages/wiz-ui/src/components/base/tables/unstyled/thead.vue
  packages/wiz-ui/src/components/base/tables/unstyled/tr.vue
  packages/wiz-ui/src/index.ts
Labels: ⬆️ dependencies, 🎨 story

#501 Bug(datepicker): popupの回り込みがきかない
  packages/styles/bases/date-picker-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.vue
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.vue
  packages/wiz-ui/src/components/base/inputs/date-picker/date-picker.vue
  packages/wiz-ui/src/components/base/inputs/date-range-picker/date-range-picker.vue
Labels: 📦 component, ⚠️ bug: design

#495 Feat(tooltip): TooltipをPopupManager実装に変える
  packages/styles/bases/popup.css.ts
  packages/styles/bases/progress-bar.css.ts
  packages/styles/bases/tooltip.css.ts
  packages/wiz-ui-next/src/components/base/popup/popup.stories.ts
  packages/wiz-ui-next/src/components/base/popup/popup.vue
  packages/wiz-ui-next/src/components/base/progress-bar/progress-bar.vue
  packages/wiz-ui-next/src/components/base/tooltip/tooltip.stories.ts
  packages/wiz-ui-next/src/components/base/tooltip/tooltip.vue
  packages/wiz-ui/src/components/base/popup/popup.stories.ts
  packages/wiz-ui/src/components/base/popup/popup.vue
  packages/wiz-ui/src/components/base/progress-bar/progress-bar.vue
  packages/wiz-ui/src/components/base/tooltip/tooltip.stories.ts
  packages/wiz-ui/src/components/base/tooltip/tooltip.vue
Labels: 🎨 story

#490 Chore: wiz-uiのライセンス設定
  LICENSE
  README.md
  packages/wiz-ui-next/package.json
  packages/wiz-ui-next/vite.config.ts
  packages/wiz-ui/package.json
  packages/wiz-ui/vite.config.ts
Labels: ⬆️ dependencies

#502 Release: v1.0.0
  LICENSE
  README.md
  package.json
  packages/styles/bases/date-picker-input.css.ts
  packages/styles/bases/popup.css.ts
  packages/styles/bases/progress-bar.css.ts
  packages/styles/bases/tooltip.css.ts
  packages/wiz-ui-next/package.json
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.vue
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.vue
  packages/wiz-ui-next/src/components/base/popup/popup.stories.ts
  packages/wiz-ui-next/src/components/base/popup/popup.vue
  packages/wiz-ui-next/src/components/base/progress-bar/progress-bar.vue
  packages/wiz-ui-next/src/components/base/tooltip/tooltip.stories.ts
  packages/wiz-ui-next/src/components/base/tooltip/tooltip.vue
  packages/wiz-ui-next/src/index.ts
  packages/wiz-ui-next/vite.config.ts
  packages/wiz-ui/package.json
  packages/wiz-ui/src/components/base/inputs/date-picker/date-picker.vue
  packages/wiz-ui/src/components/base/inputs/date-range-picker/date-range-picker.vue
  packages/wiz-ui/src/components/base/popup/popup.stories.ts
  packages/wiz-ui/src/components/base/popup/popup.vue
  packages/wiz-ui/src/components/base/progress-bar/progress-bar.vue
  packages/wiz-ui/src/components/base/tooltip/tooltip.stories.ts
  packages/wiz-ui/src/components/base/tooltip/tooltip.vue
  packages/wiz-ui/src/index.ts
  packages/wiz-ui/vite.config.ts
  third-parties/material-icons-material-symbols-license
  yarn.lock
Labels: ⬆️ dependencies, 🎨 story

#505 Release: 1.0.1
  packages/wiz-ui-next/package.json
  packages/wiz-ui-next/src/components/base/popup/popup.stories.ts
  packages/wiz-ui-next/src/components/base/popup/popup.vue
  packages/wiz-ui-next/src/components/base/tooltip/tooltip.vue
  packages/wiz-ui-next/src/index.ts
  packages/wiz-ui/package.json
  packages/wiz-ui/src/components/base/popup/popup.stories.ts
  packages/wiz-ui/src/components/base/popup/popup.vue
  packages/wiz-ui/src/components/base/tooltip/tooltip.vue
  packages/wiz-ui/src/index.ts
Labels: ⬆️ dependencies, 🎨 story

#508 Bug(tooltip): 最初から画面外にあるtooltipの表示位置が回り込み済みのものとなってしまう
  packages/wiz-ui-next/src/components/base/popup/popup.vue
  packages/wiz-ui-next/src/components/base/popup/provider.ts
  packages/wiz-ui/src/components/base/popup/popup.vue
  packages/wiz-ui/src/components/base/popup/provider.ts
Labels: 📦 component, ⚠️ bug: design, ⚠️ bug: logic

#509 Release: 1.0.2
  README.md
  packages/wiz-ui-next/package.json
  packages/wiz-ui-next/src/components/base/popup/popup.vue
  packages/wiz-ui-next/src/components/base/popup/provider.ts
  packages/wiz-ui-next/src/index.ts
  packages/wiz-ui/package.json
  packages/wiz-ui/src/components/base/popup/popup.vue
  packages/wiz-ui/src/components/base/popup/provider.ts
  packages/wiz-ui/src/index.ts
Labels: ⬆️ dependencies

#520 Release: v1.0.3
  .changeset/README.md
  .changeset/bright-moons-allow.md
  .changeset/config.json
  .github/workflows/release.yml
  package.json
  packages/styles/bases/dialog.css.ts
  packages/wiz-ui-next/package.json
  packages/wiz-ui-next/src/components/base/dialog/dialog.vue
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.vue
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.vue
  packages/wiz-ui-next/src/index.ts
  packages/wiz-ui/package.json
  packages/wiz-ui/src/components/base/dialog/dialog.vue
  packages/wiz-ui/src/components/base/inputs/date-picker/date-picker.vue
  packages/wiz-ui/src/components/base/inputs/date-range-picker/date-range-picker.vue
  packages/wiz-ui/src/index.ts
  yarn.lock
Labels: ⬆️ dependencies, 💎 release, 🏭 ci

#522 Revert "Version Packages"
  .changeset/bright-moons-allow.md
  packages/wiz-ui-next/CHANGELOG.md
  packages/wiz-ui-next/package.json
  packages/wiz-ui/CHANGELOG.md
  packages/wiz-ui/package.json
Labels: ⬆️ dependencies

#526 Fix(changeset): ChangesetのCI修正
  .changeset/bright-moons-allow.md
  .github/workflows/publish-check-vue3.yml
  .github/workflows/publish-library-vue2.yml
  .github/workflows/publish-library-vue3.yml
  .github/workflows/publish-library.yml
  .github/workflows/release.yml
  package.json
Labels: ⬆️ dependencies, 🏭 ci

#498 Feat/search selector toggle
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.stories.ts
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.vue
Labels: 📦 component, 🎨 story

#468 Feat/search selector unselect backspace
  packages/constants/component/name.ts
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.vue
Labels: 📦 component

#476 Feat/button group disable
  packages/styles/bases/popup-button-group.css.ts
  packages/styles/bases/search-selector.css.ts
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.stories.ts
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui-next/src/components/base/popup-button-group/types.ts
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.stories.ts
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui/src/components/base/popup-button-group/types.ts
Labels: 📦 component, 🎨 story

#530 Feat: pnpm化
  .github/ISSUE_TEMPLATE/バグレポート.md
  .github/ISSUE_TEMPLATE/機能追加.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/composite/prepare_node/action.yml
  .github/workflows/build-check.yml
  .github/workflows/deploy-storybook.yml
  .github/workflows/deploy-vitest.yml
  .github/workflows/lint.yml
  .github/workflows/publish-library.yml
  .github/workflows/test.yml
  .github/workflows/visual-regression-test.yml
  .gitignore
  MIGRATION.md
  README.md
  docs/package.json
  docs/src/component/base/dialog.md
  docs/src/component/index.md
  docs/src/guide/contributing.md
  docs/src/guide/develop.md
  docs/src/guide/index.md
  docs/src/guide/setup.md
  docs/src/index.md
  examples/vue2/package.json
  examples/vue3/package.json
  package.json
  packages/styles/package.json
  packages/vuepress-plugin-wiz-ui/package.json
  packages/wiz-ui-next/package.json
  packages/wiz-ui-next/src/components/base/anchor/anchor.stories.ts
  packages/wiz-ui-next/src/components/base/anchor/anchor.vue
  packages/wiz-ui-next/src/components/base/graphs/circle/circle.stories.ts
  packages/wiz-ui-next/src/components/base/graphs/poll/poll.stories.ts
  packages/wiz-ui-next/src/components/base/graphs/transition/transition.stories.ts
  packages/wiz-ui-next/src/components/custom/form/control.stories.ts
  packages/wiz-ui-next/tsconfig.json
  packages/wiz-ui-react/package.json
  packages/wiz-ui/package.json
  packages/wiz-ui/src/components/base/anchor/anchor.stories.ts
  packages/wiz-ui/src/components/base/anchor/anchor.vue
  packages/wiz-ui/src/components/base/navigation/container.stories.ts
  packages/wiz-ui/src/components/base/navigation/item.stories.ts
  packages/wiz-ui/src/components/base/navigation/item.vue
  packages/wiz-ui/src/components/custom/form/control.stories.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
  yarn.lock
Labels: ⬆️ dependencies, 📝 docs, 🚧 wip, 🏭 ci, 🌎 environment
