Repository Wizleap-Inc/wiz-ui, pull requests merged in 2023-01, with the labels that each got.

#215 Feature: WizMenuItem
  packages/styles/bases/menu.css.ts
  packages/wiz-ui/src/components/base/index.ts
  packages/wiz-ui/src/components/base/menu/index.ts
  packages/wiz-ui/src/components/base/menu/menu-item.stories.ts
  packages/wiz-ui/src/components/base/menu/menu-item.vue
Labels: 🎨 story

#217 refactor: 不要なimportの削除
  packages/wiz-ui/src/components/base/menu/menu-item.vue
Labels: ♻️ refactor

#224 Feat: WizForm
  packages/styles/bases/base-input.css.ts
  packages/styles/bases/date-picker-input.css.ts
  packages/styles/bases/selectbox-input.css.ts
  packages/styles/bases/text-area.css.ts
  packages/styles/bases/time-picker-input.css.ts
  packages/styles/commons/index.ts
  packages/styles/commons/input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/base/base.vue
  packages/wiz-ui-next/src/components/base/inputs/datepicker/date-picker.vue
  packages/wiz-ui-next/src/components/base/inputs/datepicker/index.ts
  packages/wiz-ui-next/src/components/base/inputs/index.ts
  packages/wiz-ui-next/src/components/base/inputs/password/password.vue
  packages/wiz-ui-next/src/components/base/inputs/radio/radio.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/radio/radio.vue
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.vue
  packages/wiz-ui-next/src/components/base/inputs/selectbox/types.ts
  packages/wiz-ui-next/src/components/base/inputs/text/text.vue
  packages/wiz-ui-next/src/components/base/inputs/timepicker/time-picker.vue
  packages/wiz-ui-next/src/components/base/textarea/text-area.vue
  packages/wiz-ui-next/src/components/custom/form/control.stories.ts
  packages/wiz-ui-next/src/components/custom/form/control.vue
  packages/wiz-ui-next/src/components/custom/form/group.stories.ts
  packages/wiz-ui-next/src/components/custom/form/group.vue
  packages/wiz-ui-next/src/components/custom/form/index.ts
  packages/wiz-ui-next/src/components/custom/index.ts
  packages/wiz-ui-next/src/hooks/use-form-control-provider.ts
  packages/wiz-ui-next/src/hooks/use-form-group-provider.ts
  packages/wiz-ui/src/components/base/inputs/base/base.vue
  packages/wiz-ui/src/components/base/inputs/datepicker/date-picker.vue
  packages/wiz-ui/src/components/base/inputs/datepicker/index.ts
  packages/wiz-ui/src/components/base/inputs/index.ts
  packages/wiz-ui/src/components/base/inputs/password/password.stories.ts
  packages/wiz-ui/src/components/base/inputs/password/password.vue
  packages/wiz-ui/src/components/base/inputs/radio/radio.stories.ts
  packages/wiz-ui/src/components/base/inputs/radio/radio.vue
  packages/wiz-ui/src/components/base/inputs/selectbox/selectbox.stories.ts
  packages/wiz-ui/src/components/base/inputs/selectbox/selectbox.vue
  packages/wiz-ui/src/components/base/inputs/selectbox/types.ts
  packages/wiz-ui/src/components/base/inputs/text/text.stories.ts
  packages/wiz-ui/src/components/base/inputs/text/text.vue
  packages/wiz-ui/src/components/base/inputs/timepicker/time-picker.vue
  packages/wiz-ui/src/components/base/textarea/text-area.vue
  packages/wiz-ui/src/components/custom/form/control.stories.ts
  packages/wiz-ui/src/components/custom/form/control.vue
  packages/wiz-ui/src/components/custom/form/group.stories.ts
  packages/wiz-ui/src/components/custom/form/group.vue
  packages/wiz-ui/src/components/custom/form/index.ts
  packages/wiz-ui/src/components/custom/index.ts
  packages/wiz-ui/src/hooks/use-form-control-provider.ts
  packages/wiz-ui/src/hooks/use-form-group-provider.ts
Labels: 📦 component, ⚠️ bug: design, ♻️ refactor, 🎨 story

#226 Feat(Button/Icon): サイズ・Icon追加、見た目調整
  packages/constants/component/name.ts
  packages/styles/bases/text-button.css.ts
  packages/styles/bases/toggle-button.css.ts
  packages/wiz-ui-next/src/components/base/buttons/text/text.stories.ts
  packages/wiz-ui-next/src/components/base/buttons/text/text.vue
  packages/wiz-ui-next/src/components/base/buttons/toggle/toggle.stories.ts
  packages/wiz-ui-next/src/components/base/buttons/toggle/toggle.vue
  packages/wiz-ui-next/src/components/base/card/card.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-next/src/components/icons/info.vue
  packages/wiz-ui/src/components/base/buttons/text/text.stories.ts
  packages/wiz-ui/src/components/base/buttons/text/text.vue
  packages/wiz-ui/src/components/base/buttons/toggle/toggle.stories.ts
  packages/wiz-ui/src/components/base/buttons/toggle/toggle.vue
  packages/wiz-ui/src/components/base/card/card.vue
  packages/wiz-ui/src/components/icons/index.ts
  packages/wiz-ui/src/components/icons/info.vue
Labels: 📦 component, ⚠️ bug: design, ♻️ refactor, 🎨 story

#227 Feat(Radio/Checkbox): OptionひとつずつDisabledが設定できるように修正
  packages/constants/component/name.ts
  packages/wiz-ui-next/src/components/base/inputs/checkbox/checkbox.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/checkbox/checkbox.vue
  packages/wiz-ui-next/src/components/base/inputs/checkbox/types.ts
  packages/wiz-ui-next/src/components/base/inputs/radio/radio.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/radio/radio.vue
  packages/wiz-ui-next/src/components/base/inputs/radio/types.ts
  packages/wiz-ui-next/src/components/icons/hint.vue
  packages/wiz-ui/src/components/base/inputs/checkbox/checkbox.stories.ts
  packages/wiz-ui/src/components/base/inputs/checkbox/checkbox.vue
  packages/wiz-ui/src/components/base/inputs/checkbox/types.ts
  packages/wiz-ui/src/components/base/inputs/radio/radio.stories.ts
  packages/wiz-ui/src/components/base/inputs/radio/radio.vue
  packages/wiz-ui/src/components/base/inputs/radio/types.ts
  packages/wiz-ui/src/components/icons/hint.vue
Labels: ⚠️ bug: design, ⚠️ bug: logic, ♻️ refactor, 🎨 story

#231 Feat: Wiz Skeleton
  packages/constants/component/name.ts
  packages/styles/bases/skeleton.css.ts
  packages/styles/commons/font-size.css.ts
  packages/wiz-ui-next/src/components/base/index.ts
  packages/wiz-ui-next/src/components/base/skeleton/index.ts
  packages/wiz-ui-next/src/components/base/skeleton/skeleton-circle.stories.ts
  packages/wiz-ui-next/src/components/base/skeleton/skeleton-circle.vue
  packages/wiz-ui-next/src/components/base/skeleton/skeleton-text.stories.ts
  packages/wiz-ui-next/src/components/base/skeleton/skeleton-text.vue
  packages/wiz-ui-next/src/components/base/skeleton/skeleton.stories.ts
  packages/wiz-ui-next/src/components/base/skeleton/skeleton.vue
  packages/wiz-ui/src/components/base/index.ts
  packages/wiz-ui/src/components/base/skeleton/index.ts
  packages/wiz-ui/src/components/base/skeleton/skeleton-circle.stories.ts
  packages/wiz-ui/src/components/base/skeleton/skeleton-circle.vue
  packages/wiz-ui/src/components/base/skeleton/skeleton-text.stories.ts
  packages/wiz-ui/src/components/base/skeleton/skeleton-text.vue
  packages/wiz-ui/src/components/base/skeleton/skeleton.stories.ts
  packages/wiz-ui/src/components/base/skeleton/skeleton.vue
  packages/wiz-ui/src/shims.d.ts
Labels: 📦 component, ⚠️ bug: logic, 🎨 story

#214 WizPagination
  packages/styles/bases/pagination.css.ts
  packages/wiz-ui-next/src/components/base/index.ts
  packages/wiz-ui-next/src/components/base/pagination/index.ts
  packages/wiz-ui-next/src/components/base/pagination/pagination.stories.ts
  packages/wiz-ui-next/src/components/base/pagination/pagination.vue
  packages/wiz-ui-next/src/components/base/skeleton/skeleton-text.vue
  packages/wiz-ui/.storybook/main.js
  packages/wiz-ui/src/components/base/index.ts
  packages/wiz-ui/src/components/base/pagination/index.ts
  packages/wiz-ui/src/components/base/pagination/pagination.stories.ts
  packages/wiz-ui/src/components/base/pagination/pagination.vue
  packages/wiz-ui/src/components/base/skeleton/skeleton-text.vue
Labels: 📦 component, 🎨 story

#244 Refactor: 残りのdefinePropsの書き換え
  packages/wiz-ui-next/src/components/base/box/box.vue
  packages/wiz-ui-next/src/components/base/calendar/calendar.vue
  packages/wiz-ui-next/src/components/base/heading/heading.vue
  packages/wiz-ui-next/src/components/base/inputs/base/base.vue
  packages/wiz-ui-next/src/components/base/inputs/timepicker/time-picker.vue
  packages/wiz-ui-next/src/components/base/skeleton/skeleton-circle.stories.ts
  packages/wiz-ui-next/src/components/base/skeleton/skeleton-text.stories.ts
  packages/wiz-ui-next/src/components/base/tables/unstyled/table.vue
  packages/wiz-ui-next/src/components/custom/chat/card/chat-card.vue
  packages/wiz-ui-next/src/components/custom/chat/form/chat-form.vue
  packages/wiz-ui-next/src/components/custom/chat/item/chat-item.vue
  packages/wiz-ui-next/src/components/custom/form/control.stories.ts
  packages/wiz-ui-next/src/components/custom/form/group.stories.ts
  packages/wiz-ui-next/src/components/custom/notification/list/list.vue
  packages/wiz-ui-next/src/components/custom/notification/notification.vue
  packages/wiz-ui-next/src/components/custom/notification/panel/panel.vue
  packages/wiz-ui/src/components/base/heading/heading.vue
  packages/wiz-ui/src/components/base/inputs/datepicker/date-picker.vue
  packages/wiz-ui/src/components/base/skeleton/skeleton-circle.stories.ts
  packages/wiz-ui/src/components/base/skeleton/skeleton-text.stories.ts
  packages/wiz-ui/src/components/custom/chat/card/chat-card.vue
  packages/wiz-ui/src/components/custom/chat/form/chat-form.vue
  packages/wiz-ui/src/components/custom/chat/item/chat-item.vue
  packages/wiz-ui/src/components/custom/form/control.stories.ts
  packages/wiz-ui/src/components/custom/form/group.stories.ts
  packages/wiz-ui/src/components/custom/notification/list/list.vue
  packages/wiz-ui/src/components/custom/notification/notification.vue
  packages/wiz-ui/src/components/custom/notification/panel/panel.vue
Labels: ♻️ refactor, 🎨 story

#245 Feat: add icons
  packages/constants/component/name.ts
  packages/wiz-ui-next/package.json
  packages/wiz-ui-next/src/components/icons/autorenew.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-next/src/components/icons/note-add.vue
  packages/wiz-ui-next/src/components/icons/task.vue
  packages/wiz-ui/package.json
  packages/wiz-ui/src/components/icons/autorenew.vue
  packages/wiz-ui/src/components/icons/index.ts
  packages/wiz-ui/src/components/icons/note-add.vue
  packages/wiz-ui/src/components/icons/task.vue
Labels: 📦 component

#246 feat: Navigationがactiveの時太字に変更
  packages/styles/bases/navigation.css.ts
  packages/wiz-ui-next/src/components/base/navigation/item.vue
  packages/wiz-ui/src/components/base/navigation/item.vue
Labels: 📦 component, ⚠️ bug: design

#250 feat(icon): CircleCheck
  packages/constants/component/name.ts
  packages/wiz-ui-next/src/components/icons/circle-check.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui/src/components/icons/circle-check.vue
  packages/wiz-ui/src/components/icons/index.ts
Labels: 📦 component

#249 NotificationListのWizBoxのscrollの修正
  packages/wiz-ui-next/src/components/base/box/box.vue
  packages/wiz-ui-next/src/components/custom/notification/list/list.vue
  packages/wiz-ui/src/components/base/box/box.vue
  packages/wiz-ui/src/components/custom/notification/list/list.vue
Labels: ⚠️ bug: design

#251 fix: Badgeのpointer eventsを外して子要素のクリックがきくように
  packages/styles/bases/badge.css.ts
  packages/wiz-ui-next/src/components/base/badge/badge.stories.ts
  packages/wiz-ui/src/components/base/badge/badge.stories.ts
Labels: ⚠️ bug: logic, 🎨 story

#252 refactor: OptionAPIのバンドルを削除
  .gitignore
  package.json
  packages/wiz-ui-next/vite.config.ts
  packages/wiz-ui/vite.config.ts
  yarn.lock
Labels: ♻️ refactor

#205 WizUpload,WizUploadDisplay
  packages/constants/component/name.ts
  packages/styles/bases/upload-display.css.ts
  packages/styles/bases/upload.css.ts
  packages/wiz-ui-next/src/components/base/inputs/index.ts
  packages/wiz-ui-next/src/components/base/inputs/upload/index.ts
  packages/wiz-ui-next/src/components/base/inputs/upload/upload-display.vue
  packages/wiz-ui-next/src/components/base/inputs/upload/upload.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/upload/upload.vue
  packages/wiz-ui-next/src/components/icons/attach-file.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui/src/components/base/inputs/index.ts
  packages/wiz-ui/src/components/base/inputs/upload/index.ts
  packages/wiz-ui/src/components/base/inputs/upload/upload-display.vue
  packages/wiz-ui/src/components/base/inputs/upload/upload.stories.ts
  packages/wiz-ui/src/components/base/inputs/upload/upload.vue
  packages/wiz-ui/src/components/icons/attach-file.vue
  packages/wiz-ui/src/components/icons/index.ts
Labels: 📦 component

#269 Fix: tag / tab / navigation
  packages/styles/bases/pagination.css.ts
  packages/styles/bases/tab.css.ts
  packages/wiz-ui-next/src/components/base/navigation/item.vue
  packages/wiz-ui-next/src/components/base/pagination/pagination.stories.ts
  packages/wiz-ui-next/src/components/base/pagination/pagination.vue
  packages/wiz-ui/src/components/base/navigation/item.vue
  packages/wiz-ui/src/components/base/pagination/pagination.stories.ts
  packages/wiz-ui/src/components/base/pagination/pagination.vue
Labels: 📦 component, ⚠️ bug: design, ⚠️ bug: logic, 🎨 story

#270 Release: v0.4.2
  .gitignore
  package.json
  packages/constants/component/name.ts
  packages/styles/bases/badge.css.ts
  packages/styles/bases/pagination.css.ts
  packages/styles/bases/tab.css.ts
  packages/styles/bases/upload-display.css.ts
  packages/styles/bases/upload.css.ts
  packages/wiz-ui-next/package.json
  packages/wiz-ui-next/src/components/base/badge/badge.stories.ts
  packages/wiz-ui-next/src/components/base/box/box.vue
  packages/wiz-ui-next/src/components/base/inputs/index.ts
  packages/wiz-ui-next/src/components/base/inputs/upload/index.ts
  packages/wiz-ui-next/src/components/base/inputs/upload/upload-display.vue
  packages/wiz-ui-next/src/components/base/inputs/upload/upload.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/upload/upload.vue
  packages/wiz-ui-next/src/components/base/navigation/item.vue
  packages/wiz-ui-next/src/components/base/pagination/pagination.stories.ts
  packages/wiz-ui-next/src/components/base/pagination/pagination.vue
  packages/wiz-ui-next/src/components/custom/notification/list/list.vue
  packages/wiz-ui-next/src/components/icons/attach-file.vue
  packages/wiz-ui-next/src/components/icons/circle-check.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-next/src/index.ts
  packages/wiz-ui-next/vite.config.ts
  packages/wiz-ui/package.json
  packages/wiz-ui/src/components/base/badge/badge.stories.ts
  packages/wiz-ui/src/components/base/box/box.vue
  packages/wiz-ui/src/components/base/inputs/index.ts
  packages/wiz-ui/src/components/base/inputs/upload/index.ts
  packages/wiz-ui/src/components/base/inputs/upload/upload-display.vue
  packages/wiz-ui/src/components/base/inputs/upload/upload.stories.ts
  packages/wiz-ui/src/components/base/inputs/upload/upload.vue
  packages/wiz-ui/src/components/base/navigation/item.vue
  packages/wiz-ui/src/components/base/pagination/pagination.stories.ts
  packages/wiz-ui/src/components/base/pagination/pagination.vue
  packages/wiz-ui/src/components/custom/notification/list/list.vue
  packages/wiz-ui/src/components/icons/attach-file.vue
  packages/wiz-ui/src/components/icons/circle-check.vue
  packages/wiz-ui/src/components/icons/index.ts
  packages/wiz-ui/src/index.ts
  packages/wiz-ui/vite.config.ts
  yarn.lock
Labels: ⬆️ dependencies, 📦 component, ⚠️ bug: design, ⚠️ bug: logic, 💎 release, 🎨 story

#272 WizCheckbox
  packages/constants/component/name.ts
  packages/styles/bases/checkbox-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/checkbox/checkbox.vue
  packages/wiz-ui-next/src/components/icons/check.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui/src/components/base/inputs/checkbox/checkbox.vue
  packages/wiz-ui/src/components/icons/check.vue
  packages/wiz-ui/src/components/icons/index.ts
Labels: 📦 component, ♻️ refactor

#276 fix:wiz-boxのpropsにmin/maxの設定を追加
  packages/wiz-ui-next/src/components/base/box/box.vue
  packages/wiz-ui/src/components/base/box/box.vue
Labels: ⚠️ bug: design

#278 Fix: selectbox table tag
  packages/styles/bases/popup.css.ts
  packages/styles/bases/tag.css.ts
  packages/styles/commons/border-spacing.css.ts
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.vue
  packages/wiz-ui-next/src/components/base/tag/tag.stories.ts
  packages/wiz-ui-next/src/components/base/tag/tag.vue
  packages/wiz-ui/src/components/base/inputs/selectbox/selectbox.vue
  packages/wiz-ui/src/components/base/tag/tag.stories.ts
  packages/wiz-ui/src/components/base/tag/tag.vue
Labels: 📦 component, ⚠️ bug: design, 🎨 story

#281 Fix: uploadへcustom header、Cardへgapの拡張
  packages/wiz-ui-next/src/components/base/card/card.stories.ts
  packages/wiz-ui-next/src/components/base/card/card.vue
  packages/wiz-ui-next/src/components/base/inputs/upload/upload.vue
  packages/wiz-ui/src/components/base/card/card.stories.ts
  packages/wiz-ui/src/components/base/card/card.vue
  packages/wiz-ui/src/components/base/inputs/upload/upload.vue
Labels: 📦 component, ⚠️ bug: design, ⚠️ bug: logic, 🎨 story

#280 fix:checkboxのサイズ調整
  packages/styles/bases/checkbox-input.css.ts
Labels: ⚠️ bug: design

#240 ドキュメントの追加 (a~b)
  packages/wiz-ui-next/src/components/base/avatar/avatar.stories.ts
  packages/wiz-ui-next/src/components/base/badge/badge.stories.ts
  packages/wiz-ui-next/src/components/base/buttons/icon/icon.stories.ts
  packages/wiz-ui-next/src/components/base/buttons/text/text.stories.ts
  packages/wiz-ui-next/src/components/base/buttons/toggle/toggle.stories.ts
  packages/wiz-ui/src/components/base/avatar/avatar.stories.ts
  packages/wiz-ui/src/components/base/badge/badge.stories.ts
  packages/wiz-ui/src/components/base/buttons/icon/icon.stories.ts
  packages/wiz-ui/src/components/base/buttons/text/text.stories.ts
  packages/wiz-ui/src/components/base/buttons/toggle/toggle.stories.ts
Labels: 🚧 wip, 🎨 story

#283 feat(selectbox): optionの右側にvalueに含まれないlabelの追加
  packages/styles/bases/selectbox-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.vue
  packages/wiz-ui-next/src/components/base/inputs/selectbox/types.ts
  packages/wiz-ui/src/components/base/inputs/selectbox/selectbox.stories.ts
  packages/wiz-ui/src/components/base/inputs/selectbox/selectbox.vue
  packages/wiz-ui/src/components/base/inputs/selectbox/types.ts
Labels: 📦 component, 🎨 story

#282 fix: title/hint propsの廃止、汎用性を持たせるように
  packages/styles/bases/card.css.ts
  packages/styles/bases/tag.css.ts
  packages/wiz-ui-next/src/components/base/card/card.stories.ts
  packages/wiz-ui-next/src/components/base/card/card.vue
  packages/wiz-ui-next/src/components/base/tag/tag.stories.ts
  packages/wiz-ui-next/src/components/base/tag/tag.vue
  packages/wiz-ui-next/src/components/custom/chat/card/chat-card.vue
  packages/wiz-ui/src/components/base/badge/badge.stories.ts
  packages/wiz-ui/src/components/base/card/card.stories.ts
  packages/wiz-ui/src/components/base/card/card.vue
  packages/wiz-ui/src/components/base/tag/tag.stories.ts
  packages/wiz-ui/src/components/base/tag/tag.vue
  packages/wiz-ui/src/components/custom/chat/card/chat-card.vue
Labels: ⚠️ bug: logic

#284 Release: v0.5.0
  packages/constants/component/name.ts
  packages/styles/bases/card.css.ts
  packages/styles/bases/checkbox-input.css.ts
  packages/styles/bases/navigation.css.ts
  packages/styles/bases/popup.css.ts
  packages/styles/bases/radio-input.css.ts
  packages/styles/bases/selectbox-input.css.ts
  packages/styles/bases/tag.css.ts
  packages/styles/commons/border-spacing.css.ts
  packages/styles/commons/gap.css.ts
  packages/wiz-ui-next/package.json
  packages/wiz-ui-next/src/components/base/avatar/avatar.stories.ts
  packages/wiz-ui-next/src/components/base/badge/badge.stories.ts
  packages/wiz-ui-next/src/components/base/box/box.vue
  packages/wiz-ui-next/src/components/base/buttons/icon/icon.stories.ts
  packages/wiz-ui-next/src/components/base/buttons/text/text.stories.ts
  packages/wiz-ui-next/src/components/base/buttons/toggle/toggle.stories.ts
  packages/wiz-ui-next/src/components/base/card/card.stories.ts
  packages/wiz-ui-next/src/components/base/card/card.vue
  packages/wiz-ui-next/src/components/base/inputs/checkbox/checkbox.vue
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.vue
  packages/wiz-ui-next/src/components/base/inputs/selectbox/types.ts
  packages/wiz-ui-next/src/components/base/inputs/upload/upload.vue
  packages/wiz-ui-next/src/components/base/tag/tag.stories.ts
  packages/wiz-ui-next/src/components/base/tag/tag.vue
  packages/wiz-ui-next/src/components/custom/chat/card/chat-card.vue
  packages/wiz-ui-next/src/components/icons/check.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-next/src/index.ts
  packages/wiz-ui/package.json
  packages/wiz-ui/src/components/base/avatar/avatar.stories.ts
  packages/wiz-ui/src/components/base/badge/badge.stories.ts
  packages/wiz-ui/src/components/base/box/box.vue
  packages/wiz-ui/src/components/base/buttons/icon/icon.stories.ts
  packages/wiz-ui/src/components/base/buttons/text/text.stories.ts
  packages/wiz-ui/src/components/base/buttons/toggle/toggle.stories.ts
  packages/wiz-ui/src/components/base/card/card.stories.ts
  packages/wiz-ui/src/components/base/card/card.vue
  packages/wiz-ui/src/components/base/inputs/checkbox/checkbox.vue
  packages/wiz-ui/src/components/base/inputs/selectbox/selectbox.stories.ts
  packages/wiz-ui/src/components/base/inputs/selectbox/selectbox.vue
  packages/wiz-ui/src/components/base/inputs/selectbox/types.ts
  packages/wiz-ui/src/components/base/inputs/upload/upload.vue
  packages/wiz-ui/src/components/base/tag/tag.stories.ts
  packages/wiz-ui/src/components/base/tag/tag.vue
  packages/wiz-ui/src/components/custom/chat/card/chat-card.vue
  packages/wiz-ui/src/components/icons/check.vue
  packages/wiz-ui/src/components/icons/index.ts
  packages/wiz-ui/src/index.ts
Labels: 📦 component, ⚠️ bug: design, ⚠️ bug: logic, ♻️ refactor, 💎 release, 🎨 story

#288 Fix: paginationのlength5未満の処理とPaginationガタガタ問題の修正
  packages/styles/bases/pagination.css.ts
  packages/wiz-ui-next/src/components/base/pagination/pagination.vue
  packages/wiz-ui/src/components/base/pagination/pagination.vue
Labels: ⚠️ bug: design, ⚠️ bug: logic

#289 feat(icon): DownloadとUploadを追加
  packages/constants/component/name.ts
  packages/wiz-ui-next/src/components/icons/download.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-next/src/components/icons/upload.vue
  packages/wiz-ui/src/components/icons/download.vue
  packages/wiz-ui/src/components/icons/index.ts
  packages/wiz-ui/src/components/icons/upload.vue
Labels: 📦 component

#290 fix(header): z-indexをbaseLayerからfloating Layerに
  packages/wiz-ui-next/src/components/base/header/header.vue
  packages/wiz-ui/src/components/base/header/header.vue
Labels: ⚠️ bug: design

#292 feat(table): Tableの列を結合できるようにした
  packages/wiz-ui-next/src/components/base/tables/card/table.stories.ts
  packages/wiz-ui-next/src/components/base/tables/card/th.vue
  packages/wiz-ui/src/components/base/tables/card/table.stories.ts
  packages/wiz-ui/src/components/base/tables/card/th.vue
Labels: 📦 component, 🎨 story

#291 Release: v0.5.1
  packages/constants/component/name.ts
  packages/styles/bases/pagination.css.ts
  packages/wiz-ui-next/package.json
  packages/wiz-ui-next/src/components/base/header/header.vue
  packages/wiz-ui-next/src/components/base/pagination/pagination.vue
  packages/wiz-ui-next/src/components/base/tables/card/table.stories.ts
  packages/wiz-ui-next/src/components/base/tables/card/th.vue
  packages/wiz-ui-next/src/components/icons/download.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-next/src/components/icons/upload.vue
  packages/wiz-ui-next/src/index.ts
  packages/wiz-ui/package.json
  packages/wiz-ui/src/components/base/header/header.vue
  packages/wiz-ui/src/components/base/pagination/pagination.vue
  packages/wiz-ui/src/components/base/tables/card/table.stories.ts
  packages/wiz-ui/src/components/base/tables/card/th.vue
  packages/wiz-ui/src/components/icons/download.vue
  packages/wiz-ui/src/components/icons/index.ts
  packages/wiz-ui/src/components/icons/upload.vue
  packages/wiz-ui/src/index.ts
Labels: ⚠️ bug: design, ⚠️ bug: logic, 💎 release

#293 Fix/WizTooltip
  packages/constants/component/name.ts
  packages/styles/bases/tooltip.css.ts
  packages/wiz-ui-next/src/components/base/tooltip/tooltip.stories.ts
  packages/wiz-ui-next/src/components/base/tooltip/tooltip.vue
  packages/wiz-ui-next/src/components/icons/change-history.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui/src/components/base/tooltip/tooltip.stories.ts
  packages/wiz-ui/src/components/base/tooltip/tooltip.vue
  packages/wiz-ui/src/components/icons/change-history.vue
  packages/wiz-ui/src/components/icons/index.ts
Labels: ⚠️ bug: design

#297 Release: v0.5.2
  packages/constants/component/name.ts
  packages/styles/bases/selectbox-input.css.ts
  packages/styles/bases/tooltip.css.ts
  packages/wiz-ui-next/package.json
  packages/wiz-ui-next/src/components/base/tooltip/tooltip.stories.ts
  packages/wiz-ui-next/src/components/base/tooltip/tooltip.vue
  packages/wiz-ui-next/src/components/icons/change-history.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-next/src/index.ts
  packages/wiz-ui/package.json
  packages/wiz-ui/src/components/base/tooltip/tooltip.stories.ts
  packages/wiz-ui/src/components/base/tooltip/tooltip.vue
  packages/wiz-ui/src/components/icons/change-history.vue
  packages/wiz-ui/src/components/icons/index.ts
  packages/wiz-ui/src/index.ts
Labels: 📦 component, ⚠️ bug: design, ⚠️ bug: logic, ♻️ refactor, 💎 release, 🎨 story

#301 Feat: circle graph
  packages/constants/component/name.ts
  packages/styles/bases/circle-graph.css.ts
  packages/wiz-ui-next/src/components/base/graphs/circle/bar.vue
  packages/wiz-ui-next/src/components/base/graphs/circle/circle.stories.ts
  packages/wiz-ui-next/src/components/base/graphs/circle/circle.vue
  packages/wiz-ui-next/src/components/base/graphs/circle/index.ts
  packages/wiz-ui-next/src/components/base/graphs/circle/types.ts
  packages/wiz-ui-next/src/components/base/graphs/index.ts
  packages/wiz-ui-next/src/components/base/index.ts
  packages/wiz-ui/src/components/base/graphs/circle/bar.vue
  packages/wiz-ui/src/components/base/graphs/circle/circle.stories.ts
  packages/wiz-ui/src/components/base/graphs/circle/circle.vue
  packages/wiz-ui/src/components/base/graphs/circle/index.ts
  packages/wiz-ui/src/components/base/graphs/circle/types.ts
  packages/wiz-ui/src/components/base/graphs/index.ts
  packages/wiz-ui/src/components/base/index.ts
Labels: 📦 component, 🎨 story

#304 Feat: poll graph
  packages/styles/bases/poll-graph.css.ts
  packages/wiz-ui-next/src/components/base/graphs/index.ts
  packages/wiz-ui-next/src/components/base/graphs/poll/bar.vue
  packages/wiz-ui-next/src/components/base/graphs/poll/index.ts
  packages/wiz-ui-next/src/components/base/graphs/poll/poll.stories.ts
  packages/wiz-ui-next/src/components/base/graphs/poll/poll.vue
  packages/wiz-ui-next/src/components/base/graphs/poll/row.vue
  packages/wiz-ui-next/src/components/base/graphs/poll/types.ts
  packages/wiz-ui/src/components/base/graphs/index.ts
  packages/wiz-ui/src/components/base/graphs/poll/bar.vue
  packages/wiz-ui/src/components/base/graphs/poll/index.ts
  packages/wiz-ui/src/components/base/graphs/poll/poll.stories.ts
  packages/wiz-ui/src/components/base/graphs/poll/poll.vue
  packages/wiz-ui/src/components/base/graphs/poll/row.vue
  packages/wiz-ui/src/components/base/graphs/poll/types.ts
Labels: 📦 component, 🎨 story

#307 Feat: transition graph
  packages/styles/bases/transition-graph.css.ts
  packages/wiz-ui-next/src/components/base/graphs/index.ts
  packages/wiz-ui-next/src/components/base/graphs/poll/poll.stories.ts
  packages/wiz-ui-next/src/components/base/graphs/transition/bar.vue
  packages/wiz-ui-next/src/components/base/graphs/transition/container.vue
  packages/wiz-ui-next/src/components/base/graphs/transition/index.ts
  packages/wiz-ui-next/src/components/base/graphs/transition/transition.stories.ts
  packages/wiz-ui-next/src/components/base/graphs/transition/transition.vue
  packages/wiz-ui-next/src/components/base/graphs/transition/types.ts
  packages/wiz-ui/src/components/base/graphs/index.ts
  packages/wiz-ui/src/components/base/graphs/transition/bar.vue
  packages/wiz-ui/src/components/base/graphs/transition/container.vue
  packages/wiz-ui/src/components/base/graphs/transition/index.ts
  packages/wiz-ui/src/components/base/graphs/transition/transition.stories.ts
  packages/wiz-ui/src/components/base/graphs/transition/transition.vue
  packages/wiz-ui/src/components/base/graphs/transition/types.ts
Labels: 📦 component, 🎨 story

#311 feat: meter graph
  packages/constants/component/name.ts
  packages/styles/bases/meter-graph.css.ts
  packages/styles/commons/background.css.ts
  packages/wiz-ui-next/src/components/base/graphs/index.ts
  packages/wiz-ui-next/src/components/base/graphs/meter/index.ts
  packages/wiz-ui-next/src/components/base/graphs/meter/meter.stories.ts
  packages/wiz-ui-next/src/components/base/graphs/meter/meter.vue
  packages/wiz-ui-next/src/components/base/graphs/poll/poll.vue
  packages/wiz-ui-next/src/components/base/graphs/transition/transition.vue
  packages/wiz-ui/src/components/base/graphs/index.ts
  packages/wiz-ui/src/components/base/graphs/meter/index.ts
  packages/wiz-ui/src/components/base/graphs/meter/meter.stories.ts
  packages/wiz-ui/src/components/base/graphs/meter/meter.vue
  packages/wiz-ui/src/components/base/graphs/poll/poll.vue
  packages/wiz-ui/src/components/base/graphs/transition/transition.vue
Labels: 📦 component, 🎨 story

#313 feat: add location icon
  packages/constants/component/name.ts
  packages/wiz-ui-next/package.json
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-next/src/components/icons/pin-drop.vue
  packages/wiz-ui/package.json
  packages/wiz-ui/src/components/icons/index.ts
  packages/wiz-ui/src/components/icons/pin-drop.vue
Labels: 📦 component

#314 feat: seplate progress bar
  packages/constants/component/name.ts
  packages/styles/bases/line-graph.css.ts
  packages/styles/bases/upload-display.css.ts
  packages/wiz-ui-next/src/components/base/graphs/index.ts
  packages/wiz-ui-next/src/components/base/graphs/line/index.ts
  packages/wiz-ui-next/src/components/base/graphs/line/line.stories.ts
  packages/wiz-ui-next/src/components/base/graphs/line/line.vue
  packages/wiz-ui-next/src/components/base/inputs/upload/upload-display.vue
  packages/wiz-ui/src/components/base/graphs/index.ts
  packages/wiz-ui/src/components/base/graphs/line/index.ts
  packages/wiz-ui/src/components/base/graphs/line/line.stories.ts
  packages/wiz-ui/src/components/base/graphs/line/line.vue
  packages/wiz-ui/src/components/base/inputs/upload/upload-display.vue
Labels: 📦 component, 🎨 story
