Repository Wizleap-Inc/wiz-ui, pull requests merged in 2023-04, with the labels that each got.

#537 ci(publish): fix node-auth in publishing library action
  .github/workflows/bundle-analyze.yml
  .github/workflows/publish-library.yml
Labels: ⚠️ bug: logic, 🏭 ci, 🌎 environment

#539 refactor(icons): rewrite in typescript
  packages/icons/package.json
  packages/icons/scripts/build.js
  packages/icons/scripts/build.ts
  packages/icons/scripts/constants.ts
  packages/icons/scripts/types.ts
  packages/icons/scripts/utils.ts
  packages/icons/tsconfig.json
  pnpm-lock.yaml
Labels: ⬆️ dependencies

#499 Feat/search toggle
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui-next/src/components/base/inputs/search/search.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/search/search.vue
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.stories.ts
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui/src/components/base/inputs/search/search.stories.ts
  packages/wiz-ui/src/components/base/inputs/search/search.vue
  pnpm-lock.yaml
Labels: 📦 component, 🎨 story

#443 Feat/nav item popup list
  packages/styles/bases/navigation.css.ts
  packages/wiz-ui-next/src/components/base/navigation/container.stories.ts
  packages/wiz-ui-next/src/components/base/navigation/item.vue
  packages/wiz-ui-next/src/components/base/popup/popup.vue
  packages/wiz-ui-next/src/components/base/tooltip/tooltip.vue
  packages/wiz-ui/src/components/base/navigation/container.stories.ts
  packages/wiz-ui/src/components/base/navigation/item.vue
  packages/wiz-ui/src/components/base/popup/popup.vue
  packages/wiz-ui/src/components/base/tooltip/tooltip.vue
  pnpm-lock.yaml
Labels: 📦 component, 🎨 story

#560 Feat: VRTを拡張
  .github/workflows/visual-regression-test.yml
  package.json
  packages/wiz-ui-next/package.json
  packages/wiz-ui-react/package.json
  packages/wiz-ui/package.json
  regconfig.json
  turbo.json
Labels: ⬆️ dependencies, 🏭 ci, 🌎 environment

#561 chore: add clsx
  .changeset/lucky-laws-exercise.md
  packages/wiz-ui-react/package.json
  pnpm-lock.yaml
Labels: ⬆️ dependencies

#562 ci: fix branch trigger
  .github/workflows/build-check.yml
  .github/workflows/deploy-storybook.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .github/workflows/visual-regression-test.yml
Labels: 🏭 ci

#544 Fix/a11y hover media
  packages/styles/bases/anchor.css.ts
  packages/styles/bases/calendar.css.ts
  packages/styles/bases/card-table.css.ts
  packages/styles/bases/date-picker-input.css.ts
  packages/styles/bases/date-range-picker.css.ts
  packages/styles/bases/dropdown.css.ts
  packages/styles/bases/icon-button.css.ts
  packages/styles/bases/navigation.css.ts
  packages/styles/bases/pagination.css.ts
  packages/styles/bases/popup-button-group.css.ts
  packages/styles/bases/search-input.css.ts
  packages/styles/bases/search-selector.css.ts
  packages/styles/bases/selectbox-input.css.ts
  packages/styles/bases/text-button.css.ts
  packages/styles/bases/time-picker-input.css.ts
  packages/styles/bases/toggle-button.css.ts
Labels: 📦 component

#569 feat(constants): gray.200の追加
  .changeset/brave-baboons-impress.md
  packages/constants/styles/color.ts
Labels: 📦 component

#554 Feat/react divider
  packages/wiz-ui-react/src/components/base/divider/components/divider.tsx
  packages/wiz-ui-react/src/components/base/divider/components/index.ts
  packages/wiz-ui-react/src/components/base/divider/index.ts
  packages/wiz-ui-react/src/components/base/divider/stories/divider.stories.tsx
  packages/wiz-ui-react/src/components/base/index.ts
Labels: 📦 component, 🔽 Low Priority

#610 Chore(icon): react icon
  packages/wiz-ui-react/src/components/base/buttons/index.ts
  packages/wiz-ui-react/src/components/base/icon/components/icon.tsx
  packages/wiz-ui-react/src/components/base/icon/components/index.ts
  packages/wiz-ui-react/src/components/base/icon/index.ts
  packages/wiz-ui-react/src/components/base/icon/stories/icon.stories.tsx
  packages/wiz-ui-react/src/components/base/index.ts
  packages/wiz-ui-react/src/components/index.ts
Labels: ♻️ refactor, 🔽 Low Priority, 👀 Review Priority: High

#571 Feat/compare graph
  .changeset/clean-mails-build.md
  packages/constants/component/name.ts
  packages/styles/bases/compare-graph.css.ts
  packages/wiz-ui-next/src/components/base/graphs/compare/bar.vue
  packages/wiz-ui-next/src/components/base/graphs/compare/compare.stories.ts
  packages/wiz-ui-next/src/components/base/graphs/compare/compare.vue
  packages/wiz-ui-next/src/components/base/graphs/compare/container.vue
  packages/wiz-ui-next/src/components/base/graphs/compare/index.ts
  packages/wiz-ui-next/src/components/base/graphs/compare/types.ts
  packages/wiz-ui-next/src/components/base/graphs/index.ts
  packages/wiz-ui/src/components/base/graphs/compare/bar.vue
  packages/wiz-ui/src/components/base/graphs/compare/compare.stories.ts
  packages/wiz-ui/src/components/base/graphs/compare/compare.vue
  packages/wiz-ui/src/components/base/graphs/compare/container.vue
  packages/wiz-ui/src/components/base/graphs/compare/index.ts
  packages/wiz-ui/src/components/base/graphs/compare/types.ts
  packages/wiz-ui/src/components/base/graphs/index.ts
Labels: 📦 component, 🎨 story

#647 release: wiz-ui-constants
  .changeset/green-cars-fry.md
Labels: 💎 release

#649 chore: changeset
  .changeset/bright-bulldogs-act.md
Labels: 💎 release

#638 feat(icon): add warning icon
  .changeset/breezy-moose-vanish.md
  packages/constants/component/icon-name.ts
  packages/icons/assets/warning.svg
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-next/src/components/icons/warning.vue
  packages/wiz-ui-react/src/components/icons/index.ts
  packages/wiz-ui-react/src/components/icons/warning.tsx
  packages/wiz-ui/src/components/icons/index.ts
  packages/wiz-ui/src/components/icons/warning.vue
Labels: 📦 component, 🎨 story, 👀 Review Priority: High

#578 feat(base-input): PrivateBaseInputのReact対応
  .changeset/moody-vans-collect.md
  packages/wiz-ui-react/src/components/base/inputs/base/components/base.tsx
  packages/wiz-ui-react/src/components/base/inputs/base/components/index.ts
  packages/wiz-ui-react/src/components/base/inputs/base/index.ts
  packages/wiz-ui-react/src/components/base/inputs/index.ts
Labels: 📦 component, 🔽 Low Priority, 👀 Review Priority: High

#552 Feat/react stack
  .changeset/heavy-monkeys-design.md
  packages/wiz-ui-react/src/components/base/stack/components/h-stack.tsx
  packages/wiz-ui-react/src/components/base/stack/components/index.ts
  packages/wiz-ui-react/src/components/base/stack/components/stack.tsx
  packages/wiz-ui-react/src/components/base/stack/components/types.ts
  packages/wiz-ui-react/src/components/base/stack/components/v-stack.tsx
  packages/wiz-ui-react/src/components/base/stack/index.ts
  packages/wiz-ui-react/src/components/base/stack/stories/fixture.ts
  packages/wiz-ui-react/src/components/base/stack/stories/h-stack.stories.tsx
  packages/wiz-ui-react/src/components/base/stack/stories/stack.stories.tsx
  packages/wiz-ui-react/src/components/base/stack/stories/v-stack.stories.tsx
Labels: 📦 component, 🎨 story, 🔽 Low Priority, 👀 Review Priority: High

#654 chore(changeset): warning icon
  .changeset/breezy-moose-vanish.md
Labels: 👀 Review Priority: High

#622 fix(tiny-button): paddingの上書きを回避
  .changeset/rude-cycles-knock.md
  packages/styles/bases/tiny-button.css.ts
  packages/wiz-ui-next/src/components/base/buttons/tiny/tiny.vue
  packages/wiz-ui/src/components/base/buttons/tiny/tiny.vue
Labels: ⚠️ bug: design, 👀 Review Priority: High

#657 feat(icon): WizIHistoryを追加
  .changeset/lucky-lobsters-carry.md
  packages/constants/component/icon-name.ts
  packages/icons/assets/history.svg
  packages/wiz-ui-next/src/components/icons/history.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-react/src/components/icons/history.tsx
  packages/wiz-ui-react/src/components/icons/index.ts
  packages/wiz-ui/src/components/icons/history.vue
  packages/wiz-ui/src/components/icons/index.ts
  pnpm-lock.yaml
Labels: 📦 component, 👀 Review Priority: High

#662 feat(packages): private packageにそれぞれbuild項目を追加
  .changeset/angry-elephants-clap.md
  package.json
  packages/constants/package.json
  packages/constants/tsconfig.json
  packages/constants/vite.config.ts
  packages/styles/package.json
  packages/styles/tsconfig.json
  packages/styles/vite.config.ts
  packages/utils/package.json
  packages/utils/tsconfig.json
  packages/utils/vite.config.ts
  pnpm-lock.yaml
  turbo.json
Labels: ⬆️ dependencies, ⚠️ bug: logic

#665 fix(dep): avoid using "postinstall"
  .changeset/sharp-boats-add.md
  package.json
  packages/constants/package.json
  packages/styles/package.json
  packages/utils/package.json
  turbo.json
Labels: ⬆️ dependencies, ⚠️ bug: logic, 🌎 environment

#669 chore(env): storybook build commandの整理・最適化
  .github/workflows/deploy-storybook.yml
  .github/workflows/visual-regression-test.yml
  docs/package.json
  examples/vue2/package.json
  examples/vue3/package.json
  packages/icons/package-lock.json
  packages/styles/package.json
  packages/vuepress-plugin-wiz-ui/package.json
  packages/wiz-ui-next/package.json
  packages/wiz-ui-react/package.json
  packages/wiz-ui/package.json
  pnpm-lock.yaml
  turbo.json
Labels: ⬆️ dependencies, 🏭 ci, 🌎 environment

#671 chore(vercel): add vercel config for storybook deploy
  .github/workflows/deploy-storybook.yml
  .gitignore
  packages/wiz-ui-next/vercel.json
  packages/wiz-ui-react/vercel.json
  packages/wiz-ui/vercel.json
Labels: 🌎 environment

#672 ci(vrt): setup main as upstream
  .github/workflows/visual-regression-test.yml
  package.json
  turbo.json
Labels: 🏭 ci, 🌎 environment

#689 fix(react): import react from external
  packages/wiz-ui-react/vite.config.ts
Labels: ⚠️ bug: logic

#690 fix(vrt): thw way to detach
  .github/workflows/visual-regression-test.yml
Labels: 🏭 ci, 🌎 environment
