Repository Wizleap-Inc/wiz-ui, pull requests merged in 2023-02, with the labels that each got.

#330 ドキュメントの追加、checkboxのoptionsにkeyを追加
  packages/wiz-ui-next/src/components/base/inputs/checkbox/checkbox.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/checkbox/checkbox.vue
  packages/wiz-ui-next/src/components/base/inputs/checkbox/types.ts
  packages/wiz-ui-next/src/components/custom/form/group.stories.ts
  packages/wiz-ui/src/components/base/inputs/checkbox/checkbox.stories.ts
  packages/wiz-ui/src/components/base/inputs/checkbox/checkbox.vue
  packages/wiz-ui/src/components/base/inputs/checkbox/types.ts
  packages/wiz-ui/src/components/custom/form/group.stories.ts
Labels: ⚠️ bug: logic, 🎨 story

#332 feat: tooltipの位置を選択できるようにする機能の追加、リファクタリング
  packages/styles/bases/tooltip.css.ts
  packages/wiz-ui-next/src/components/base/tooltip/tooltip.stories.ts
  packages/wiz-ui-next/src/components/base/tooltip/tooltip.vue
  packages/wiz-ui/src/components/base/tooltip/tooltip.stories.ts
  packages/wiz-ui/src/components/base/tooltip/tooltip.vue
Labels: 📦 component, ⚠️ bug: design, 🎨 story

#298 Feat/add doc ctod
  packages/wiz-ui-next/src/components/base/calendar/calendar.stories.ts
  packages/wiz-ui-next/src/components/base/card/card.stories.ts
  packages/wiz-ui-next/src/components/base/dialog/dialog.stories.ts
  packages/wiz-ui-next/src/components/base/dropdown/dropdown-item.stories.ts
  packages/wiz-ui-next/src/components/base/dropdown/dropdown.stories.ts
  packages/wiz-ui/src/components/base/badge/badge.stories.ts
  packages/wiz-ui/src/components/base/calendar/calendar.stories.ts
  packages/wiz-ui/src/components/base/card/card.stories.ts
  packages/wiz-ui/src/components/base/dialog/dialog.stories.ts
  packages/wiz-ui/src/components/base/dropdown/dropdown-item.stories.ts
  packages/wiz-ui/src/components/base/dropdown/dropdown.stories.ts
Labels: 🚧 wip, 🎨 story

#341 feat(icon): content-copy, descriptionの追加
  packages/constants/component/name.ts
  packages/wiz-ui-next/src/components/icons/content-copy.vue
  packages/wiz-ui-next/src/components/icons/description.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui/src/components/icons/content-copy.vue
  packages/wiz-ui/src/components/icons/description.vue
  packages/wiz-ui/src/components/icons/index.ts
Labels: 📦 component

#342 Feat(WizChatCard): Chatの下部にSelect Boxを設置
  MIGRATION.md
  packages/styles/bases/selectbox-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.vue
  packages/wiz-ui-next/src/components/custom/chat/card/chat-card.stories.ts
  packages/wiz-ui-next/src/components/custom/chat/card/chat-card.vue
  packages/wiz-ui/src/components/base/inputs/selectbox/selectbox.vue
  packages/wiz-ui/src/components/custom/chat/card/chat-card.stories.ts
  packages/wiz-ui/src/components/custom/chat/card/chat-card.vue
Labels: 📦 component, 🎨 story

#343 Feat(ChatCard): 既読件数表示、既読Tooltip表示
  packages/wiz-ui-next/src/components/base/tooltip/tooltip.vue
  packages/wiz-ui-next/src/components/custom/chat/card/chat-card.stories.ts
  packages/wiz-ui-next/src/components/custom/chat/item/chat-item.stories.ts
  packages/wiz-ui-next/src/components/custom/chat/item/chat-item.vue
  packages/wiz-ui-next/src/components/custom/chat/types.ts
  packages/wiz-ui/src/components/base/tooltip/tooltip.vue
  packages/wiz-ui/src/components/custom/chat/card/chat-card.stories.ts
  packages/wiz-ui/src/components/custom/chat/item/chat-item.stories.ts
  packages/wiz-ui/src/components/custom/chat/item/chat-item.vue
  packages/wiz-ui/src/components/custom/chat/types.ts
Labels: 📦 component, 🎨 story

#344 Feat(ChatCard): URLをリンク化する処理の追加、長い英文字の折り返し処理
  packages/styles/bases/anchor.css.ts
  packages/utils/index.ts
  packages/utils/linkify.ts
  packages/wiz-ui-next/src/components/base/text/text.vue
  packages/wiz-ui-next/src/components/custom/chat/card/chat-card.stories.ts
  packages/wiz-ui-next/src/components/custom/chat/item/chat-item.stories.ts
  packages/wiz-ui-next/src/components/custom/chat/item/chat-item.vue
  packages/wiz-ui/src/components/base/text/text.vue
  packages/wiz-ui/src/components/custom/chat/card/chat-card.stories.ts
  packages/wiz-ui/src/components/custom/chat/item/chat-item.stories.ts
  packages/wiz-ui/src/components/custom/chat/item/chat-item.vue
Labels: 📦 component, 🎨 story

#347 ci: node_modulesのキャッシュ管理方法をaction/cacheに変更
  .github/composite/prepare_node/action.yml
  packages/wiz-ui-next/src/components/base/textarea/text-area.vue
  packages/wiz-ui/src/components/base/textarea/text-area.stories.ts
  packages/wiz-ui/src/components/base/textarea/text-area.vue
Labels: 🏭 ci

#349 radioのoptionのkeyを指定できるように
  packages/wiz-ui-next/src/components/base/inputs/radio/radio.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/radio/radio.vue
  packages/wiz-ui-next/src/components/base/inputs/radio/types.ts
  packages/wiz-ui-next/src/components/custom/form/group.stories.ts
  packages/wiz-ui/src/components/base/inputs/radio/radio.stories.ts
  packages/wiz-ui/src/components/base/inputs/radio/radio.vue
  packages/wiz-ui/src/components/base/inputs/radio/types.ts
  packages/wiz-ui/src/components/custom/form/group.stories.ts
Labels: 🎨 story

#357 Feat(tiny-button): Textボタンから新しいコンポーネントを切り出して作成
  .github/workflows/deploy-storybook.yml
  packages/constants/component/name.ts
  packages/styles/bases/tiny-button.css.ts
  packages/wiz-ui-next/src/components/base/buttons/tiny/index.ts
  packages/wiz-ui-next/src/components/base/buttons/tiny/tiny.stories.ts
  packages/wiz-ui-next/src/components/base/buttons/tiny/tiny.vue
  packages/wiz-ui/src/components/base/buttons/text/text.stories.ts
  packages/wiz-ui/src/components/base/buttons/tiny/index.ts
  packages/wiz-ui/src/components/base/buttons/tiny/tiny.stories.ts
  packages/wiz-ui/src/components/base/buttons/tiny/tiny.vue
Labels: 🎨 story

#360 feat(icons): カメラアイコンを追加
  packages/constants/component/name.ts
  packages/wiz-ui-next/src/components/icons/camera.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui/src/components/icons/camera.vue
  packages/wiz-ui/src/components/icons/index.ts
Labels: 📦 component

#350 Feat/form control for
  packages/wiz-ui-next/src/components/base/text/text.stories.ts
  packages/wiz-ui-next/src/components/base/text/text.vue
  packages/wiz-ui-next/src/components/custom/form/control.stories.ts
  packages/wiz-ui-next/src/components/custom/form/control.vue
  packages/wiz-ui/src/components/base/text/text.stories.ts
  packages/wiz-ui/src/components/base/text/text.vue
  packages/wiz-ui/src/components/custom/form/control.stories.ts
  packages/wiz-ui/src/components/custom/form/control.vue
Labels: 🚧 wip, 🎨 story

#364 feat(toggle-button): アクティブかどうかをv-modelで制御する
  packages/wiz-ui-next/src/components/base/buttons/toggle/toggle.stories.ts
  packages/wiz-ui-next/src/components/base/buttons/toggle/toggle.vue
  packages/wiz-ui/src/components/base/buttons/toggle/toggle.stories.ts
  packages/wiz-ui/src/components/base/buttons/toggle/toggle.vue
Labels: 🎨 story

#361 feat(wiztext): text-alignプロパティを追加
  packages/styles/bases/text.css.ts
  packages/wiz-ui-next/src/components/base/text/text.stories.ts
  packages/wiz-ui-next/src/components/base/text/text.vue
  packages/wiz-ui/src/components/base/text/text.stories.ts
  packages/wiz-ui/src/components/base/text/text.vue
Labels: 🎨 story

#352 アップロード後のレスポンスを受け取れるハンドラを受け付けられるよにする
  packages/wiz-ui-next/src/components/base/inputs/upload/upload.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/upload/upload.vue
  packages/wiz-ui/src/components/base/inputs/upload/upload.stories.ts
  packages/wiz-ui/src/components/base/inputs/upload/upload.vue
Labels: 🎨 story

#366 Release(Vue2/Vue3): v0.6.1
  .github/composite/prepare_node/action.yml
  .github/workflows/deploy-storybook.yml
  README.md
  packages/constants/component/name.ts
  packages/styles/bases/text.css.ts
  packages/styles/bases/tiny-button.css.ts
  packages/wiz-ui-next/package.json
  packages/wiz-ui-next/src/components/base/buttons/tiny/index.ts
  packages/wiz-ui-next/src/components/base/buttons/tiny/tiny.stories.ts
  packages/wiz-ui-next/src/components/base/buttons/tiny/tiny.vue
  packages/wiz-ui-next/src/components/base/buttons/toggle/toggle.stories.ts
  packages/wiz-ui-next/src/components/base/buttons/toggle/toggle.vue
  packages/wiz-ui-next/src/components/base/inputs/radio/radio.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/radio/radio.vue
  packages/wiz-ui-next/src/components/base/inputs/radio/types.ts
  packages/wiz-ui-next/src/components/base/inputs/toggle-switch/toggle-switch.vue
  packages/wiz-ui-next/src/components/base/inputs/upload/upload.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/upload/upload.vue
  packages/wiz-ui-next/src/components/base/text/text.stories.ts
  packages/wiz-ui-next/src/components/base/text/text.vue
  packages/wiz-ui-next/src/components/base/textarea/text-area.vue
  packages/wiz-ui-next/src/components/custom/form/control.stories.ts
  packages/wiz-ui-next/src/components/custom/form/control.vue
  packages/wiz-ui-next/src/components/custom/form/group.stories.ts
  packages/wiz-ui-next/src/components/icons/camera.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-next/src/index.ts
  packages/wiz-ui/package.json
  packages/wiz-ui/src/components/base/buttons/text/text.stories.ts
  packages/wiz-ui/src/components/base/buttons/tiny/index.ts
  packages/wiz-ui/src/components/base/buttons/tiny/tiny.stories.ts
  packages/wiz-ui/src/components/base/buttons/tiny/tiny.vue
  packages/wiz-ui/src/components/base/buttons/toggle/toggle.stories.ts
  packages/wiz-ui/src/components/base/buttons/toggle/toggle.vue
  packages/wiz-ui/src/components/base/inputs/radio/radio.stories.ts
  packages/wiz-ui/src/components/base/inputs/radio/radio.vue
  packages/wiz-ui/src/components/base/inputs/radio/types.ts
  packages/wiz-ui/src/components/base/inputs/toggle-switch/toggle-switch.vue
  packages/wiz-ui/src/components/base/inputs/upload/upload.stories.ts
  packages/wiz-ui/src/components/base/inputs/upload/upload.vue
  packages/wiz-ui/src/components/base/text/text.stories.ts
  packages/wiz-ui/src/components/base/text/text.vue
  packages/wiz-ui/src/components/base/textarea/text-area.stories.ts
  packages/wiz-ui/src/components/base/textarea/text-area.vue
  packages/wiz-ui/src/components/custom/form/control.stories.ts
  packages/wiz-ui/src/components/custom/form/control.vue
  packages/wiz-ui/src/components/custom/form/group.stories.ts
  packages/wiz-ui/src/components/icons/camera.vue
  packages/wiz-ui/src/components/icons/index.ts
  packages/wiz-ui/src/index.ts
Labels: ⬆️ dependencies, 📦 component, ⚠️ bug: design, 💎 release, 🏭 ci, 🎨 story

#370 feat(icons): home, public, store-frontの追加
  packages/constants/component/name.ts
  packages/wiz-ui-next/src/components/icons/home.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-next/src/components/icons/public.vue
  packages/wiz-ui-next/src/components/icons/store-front.vue
  packages/wiz-ui/src/components/icons/home.vue
  packages/wiz-ui/src/components/icons/index.ts
  packages/wiz-ui/src/components/icons/public.vue
  packages/wiz-ui/src/components/icons/store-front.vue
Labels: 📦 component

#371 ci: cache yarn cache dir
  .github/PULL_REQUEST_TEMPLATE.md
  .github/composite/prepare_node/action.yml
  .github/workflows/build-check.yml
  .github/workflows/deploy-storybook.yml
  .github/workflows/deploy-vitest.yml
  .github/workflows/lint.yml
  .github/workflows/publish-check-vue2.yml
  .github/workflows/publish-check-vue3.yml
  .github/workflows/publish-library-vue2.yml
  .github/workflows/publish-library-vue3.yml
  .github/workflows/test.yml
  .github/workflows/visual-regression-test.yml
Labels: ♻️ refactor, 🏭 ci

#372 Release(Vue2/Vue3): v0.6.2
  .github/PULL_REQUEST_TEMPLATE.md
  .github/composite/prepare_node/action.yml
  .github/workflows/build-check.yml
  .github/workflows/deploy-storybook.yml
  .github/workflows/deploy-vitest.yml
  .github/workflows/lint.yml
  .github/workflows/publish-check-vue2.yml
  .github/workflows/publish-check-vue3.yml
  .github/workflows/publish-library-vue2.yml
  .github/workflows/publish-library-vue3.yml
  .github/workflows/test.yml
  .github/workflows/visual-regression-test.yml
  packages/constants/component/name.ts
  packages/styles/bases/calendar.css.ts
  packages/wiz-ui-next/package.json
  packages/wiz-ui-next/src/components/base/calendar/calendar.vue
  packages/wiz-ui-next/src/components/base/menu/menu-item.vue
  packages/wiz-ui-next/src/components/icons/home.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-next/src/components/icons/public.vue
  packages/wiz-ui-next/src/components/icons/store-front.vue
  packages/wiz-ui-next/src/index.ts
  packages/wiz-ui/package.json
  packages/wiz-ui/src/components/base/calendar/calendar.vue
  packages/wiz-ui/src/components/base/menu/menu-item.vue
  packages/wiz-ui/src/components/icons/home.vue
  packages/wiz-ui/src/components/icons/index.ts
  packages/wiz-ui/src/components/icons/public.vue
  packages/wiz-ui/src/components/icons/store-front.vue
  packages/wiz-ui/src/index.ts
Labels: 📦 component, ⚠️ bug: logic, 💎 release, 🏭 ci

#381 fix(check-box): lineHeightを100%に設定
  packages/styles/bases/checkbox-input.css.ts
Labels: ⚠️ bug: design

#395 Release: v0.6.3
  packages/styles/bases/checkbox-input.css.ts
  packages/styles/bases/tooltip.css.ts
  packages/wiz-ui-next/package.json
  packages/wiz-ui-next/src/components/base/buttons/index.ts
  packages/wiz-ui-next/src/components/base/progress-bar/progress-bar.vue
  packages/wiz-ui-next/src/index.ts
  packages/wiz-ui/package.json
  packages/wiz-ui/src/components/base/buttons/index.ts
  packages/wiz-ui/src/components/base/progress-bar/progress-bar.vue
  packages/wiz-ui/src/components/base/tooltip/tooltip.stories.ts
  packages/wiz-ui/src/index.ts
Labels: 📦 component, ⚠️ bug: design, 💎 release

#396 Feat(Notification): notificationsが空の時にメッセージを出せるようにする
  packages/wiz-ui-next/src/components/custom/notification/list/list.vue
  packages/wiz-ui-next/src/components/custom/notification/notification.stories.ts
  packages/wiz-ui-next/src/components/custom/notification/notification.vue
  packages/wiz-ui/src/components/custom/notification/list/list.vue
  packages/wiz-ui/src/components/custom/notification/notification.stories.ts
  packages/wiz-ui/src/components/custom/notification/notification.vue
Labels: 📦 component, 🎨 story

#390 feat/upload-displayにmultiple属性を渡せるように
  packages/wiz-ui-next/src/components/base/inputs/upload/upload-display.vue
  packages/wiz-ui-next/src/components/base/inputs/upload/upload.vue
  packages/wiz-ui/src/components/base/inputs/upload/upload-display.vue
  packages/wiz-ui/src/components/base/inputs/upload/upload.vue
Labels: ⚠️ bug: design, ⚠️ bug: logic

#397 feat(box): backdrop blur要素を追加
  packages/wiz-ui-next/src/components/base/box/box.vue
  packages/wiz-ui/src/components/base/box/box.vue
Labels: 📦 component

#401 tinyButtonのクリックが反応するように
  packages/wiz-ui-next/src/components/base/buttons/tiny/tiny.stories.ts
  packages/wiz-ui-next/src/components/base/buttons/tiny/tiny.vue
  packages/wiz-ui/src/components/base/buttons/tiny/tiny.vue
Labels: ⚠️ bug: logic
