Repository Wizleap-Inc/wiz-ui, pull requests merged in 2023-12, with the labels that each got.

#1133 NavigationContainerで任意のwidthを指定したい
  .changeset/silly-cooks-applaud.md
  packages/wiz-ui-next/src/components/base/navigation/container.stories.ts
  packages/wiz-ui-next/src/components/base/navigation/container.vue
  packages/wiz-ui-react/src/components/base/navigation/components/navigation-container.tsx
  packages/wiz-ui-react/src/components/base/navigation/stories/navigation-container.stories.tsx
Labels: 🎨 story

#1158 Revert "Version Packages"
  .changeset/modern-garlics-divide.md
  .changeset/silly-cooks-applaud.md
  packages/constants/CHANGELOG.md
  packages/constants/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/wiz-ui-next/CHANGELOG.md
  packages/wiz-ui-next/package.json
  packages/wiz-ui-react/CHANGELOG.md
  packages/wiz-ui-react/package.json
Labels: ⬆️ dependencies

#1160 Feat(timeline): iconを差し替えられるようにする
  .changeset/big-tables-retire.md
  packages/wiz-ui-next/src/components/custom/timeline/stories/timeline-item.stories.ts
  packages/wiz-ui-next/src/components/custom/timeline/timeline-item.vue
  packages/wiz-ui-react/src/components/custom/timeline/components/timeline-item.tsx
  packages/wiz-ui-react/src/components/custom/timeline/stories/timeline-item.stories.tsx
Labels: 🎨 story

#1153 Feat/timeline-variant
  .changeset/three-apricots-speak.md
  packages/styles/customs/timeline.css.ts
  packages/wiz-ui-next/src/components/custom/timeline/stories/timeline-item.stories.ts
  packages/wiz-ui-next/src/components/custom/timeline/timeline-item.vue
  packages/wiz-ui-react/src/components/custom/timeline/components/timeline-item.tsx
  packages/wiz-ui-react/src/components/custom/timeline/stories/timeline-item.stories.tsx
Labels: 🎨 story

#1147 Feat(information-panel): リンクを表示できるようにする
  .changeset/tough-bobcats-cough.md
  packages/wiz-ui-next/src/components/base/information-panel/information-panel.stories.ts
  packages/wiz-ui-next/src/components/base/information-panel/information-panel.vue
  packages/wiz-ui-react/src/components/base/information-panel/components/information-panel.tsx
  packages/wiz-ui-react/src/components/base/information-panel/stories/information-panel.stories.tsx
Labels: 🎨 story

#1167 Fix(information-panel): コンポーネントを受け付ける型を修正 & storyのバグ修正
  .changeset/strange-scissors-beam.md
  packages/wiz-ui-next/src/components/base/information-panel/information-panel.stories.ts
  packages/wiz-ui-next/src/components/base/information-panel/information-panel.vue
Labels: 🎨 story

#1169 Feat(icon): WizIInfoFilled
  .changeset/sharp-steaks-leave.md
  packages/constants/component/icon-name.ts
  packages/icons/assets/info-filled.svg
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-next/src/components/icons/info-filled.vue
  packages/wiz-ui-react/src/components/icons/index.ts
  packages/wiz-ui-react/src/components/icons/info-filled.tsx
Labels: 📦 component

#1142 (checkbox-new, radio-new): チェックボックスとラベルの複数行でのInput の位置を修正
  .changeset/brave-hornets-promise.md
  packages/styles/bases/checkbox-new.css.ts
  packages/styles/bases/radio-new.css.ts
  packages/wiz-ui-next/src/components/base/inputs/checkbox-new/checkbox-new.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/checkbox-new/checkbox-new.vue
  packages/wiz-ui-next/src/components/base/inputs/radio-new/radio-new.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/radio-new/radio-new.vue
  packages/wiz-ui-react/src/components/base/inputs/checkbox-new/components/checkbox-new.tsx
  packages/wiz-ui-react/src/components/base/inputs/checkbox-new/stories/checkbox-new.stories.tsx
  packages/wiz-ui-react/src/components/base/inputs/radio-new/components/radio-new.tsx
  packages/wiz-ui-react/src/components/base/inputs/radio-new/stories/radio-new.stories.tsx
Labels: 🎨 story

#1176 Feat(icon): WizIChevronRightBold を追加
  .changeset/kind-boats-talk.md
  packages/constants/component/icon-name.ts
  packages/icons/assets/chevron-right-bold.svg
  packages/wiz-ui-next/src/components/icons/chevron-right-bold.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-react/src/components/icons/chevron-right-bold.tsx
  packages/wiz-ui-react/src/components/icons/index.ts
Labels: 📦 component
