Repository Wizleap-Inc/wiz-ui, pull requests merged in 2023-06, with the labels that each got.

#760 Information Panel の追加
  .changeset/fresh-poets-study.md
  packages/constants/component/name.ts
  packages/styles/bases/information-panel.css.ts
  packages/wiz-ui-next/src/components/base/information-panel/index.ts
  packages/wiz-ui-next/src/components/base/information-panel/information-panel.stories.ts
  packages/wiz-ui-next/src/components/base/information-panel/information-panel.vue
  packages/wiz-ui/src/components/base/information-panel/index.ts
  packages/wiz-ui/src/components/base/information-panel/information-panel.stories.ts
  packages/wiz-ui/src/components/base/information-panel/information-panel.vue
Labels: 🎨 story, 👀 Review Priority: High

#810 Revert "Revert "Information Panel の追加""
  .changeset/fresh-poets-study.md
  packages/constants/component/name.ts
  packages/styles/bases/information-panel.css.ts
  packages/wiz-ui-next/src/components/base/information-panel/index.ts
  packages/wiz-ui-next/src/components/base/information-panel/information-panel.stories.ts
  packages/wiz-ui-next/src/components/base/information-panel/information-panel.vue
  packages/wiz-ui/src/components/base/information-panel/index.ts
  packages/wiz-ui/src/components/base/information-panel/information-panel.stories.ts
  packages/wiz-ui/src/components/base/information-panel/information-panel.vue
Labels: 🎨 story

#613 Feat/react popup
  .changeset/bright-snails-carry.md
  packages/constants/component/error-message.ts
  packages/constants/component/index.ts
  packages/wiz-ui-react/package.json
  packages/wiz-ui-react/src/components/base/index.ts
  packages/wiz-ui-react/src/components/base/popup/components/index.ts
  packages/wiz-ui-react/src/components/base/popup/components/popup.tsx
  packages/wiz-ui-react/src/components/base/popup/hooks/use-popup-animation.ts
  packages/wiz-ui-react/src/components/base/popup/index.ts
  packages/wiz-ui-react/src/components/base/popup/stories/common.ts
  packages/wiz-ui-react/src/components/base/popup/stories/default.tsx
  packages/wiz-ui-react/src/components/base/popup/stories/gap-direction.tsx
  packages/wiz-ui-react/src/components/base/popup/stories/gap.tsx
  packages/wiz-ui-react/src/components/base/popup/stories/playground.tsx
  packages/wiz-ui-react/src/components/base/popup/stories/popup.stories.tsx
  packages/wiz-ui-react/src/components/base/popup/stories/wrap/positions.ts
  packages/wiz-ui-react/src/components/base/popup/stories/wrap/template.tsx
  packages/wiz-ui-react/src/components/base/popup/stories/wrap/wrapped-popup.stories.tsx
  packages/wiz-ui-react/src/components/base/popup/test/boundary.test.ts
  packages/wiz-ui-react/src/components/base/popup/test/place-on-portal.test.ts
  packages/wiz-ui-react/src/components/base/popup/test/wrap.test.ts
  packages/wiz-ui-react/src/components/base/popup/types/direction.ts
  packages/wiz-ui-react/src/components/base/popup/types/placement.ts
  packages/wiz-ui-react/src/components/base/popup/utils/direction-value.ts
  packages/wiz-ui-react/src/components/base/popup/utils/index.ts
  packages/wiz-ui-react/src/components/base/popup/utils/placement/index.ts
  packages/wiz-ui-react/src/components/base/popup/utils/placement/on-child.ts
  packages/wiz-ui-react/src/components/base/popup/utils/placement/on-portal.ts
  packages/wiz-ui-react/src/components/base/popup/utils/wrap.ts
  packages/wiz-ui-react/src/components/base/portal/components/index.ts
  packages/wiz-ui-react/src/components/base/portal/components/portal.tsx
  packages/wiz-ui-react/src/components/base/portal/index.ts
  packages/wiz-ui-react/src/hooks/use-click-outside.ts
  pnpm-lock.yaml
Labels: ⬆️ dependencies, 📦 component, 👀 Review Priority: High

#765 Feat/search input
  .changeset/beige-stingrays-care.md
  packages/styles/bases/search-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/index.ts
  packages/wiz-ui-next/src/components/base/inputs/search-input/index.ts
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-popup.vue
  packages/wiz-ui-next/src/components/base/inputs/search-input/search.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/search-input/types.ts
  packages/wiz-ui/src/components/base/inputs/index.ts
  packages/wiz-ui/src/components/base/inputs/search-input/index.ts
  packages/wiz-ui/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui/src/components/base/inputs/search-input/search-popup.vue
  packages/wiz-ui/src/components/base/inputs/search-input/search.stories.ts
  packages/wiz-ui/src/components/base/inputs/search-input/types.ts
Labels: 🎨 story, 👀 Review Priority: High

#762 popupを用いるコンポーネントに、回り込みロジックを止めるpropsを拡張する
  .changeset/tough-ravens-fly.md
  packages/wiz-ui-next/src/components/base/dropdown/dropdown.stories.ts
  packages/wiz-ui-next/src/components/base/dropdown/dropdown.vue
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.vue
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.vue
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui-next/src/components/base/inputs/search-input/search.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.vue
  packages/wiz-ui-next/src/components/base/inputs/timepicker/time-picker.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/timepicker/time-picker.vue
  packages/wiz-ui-next/src/components/base/navigation/item.vue
  packages/wiz-ui-next/src/components/base/tooltip/tooltip.stories.ts
  packages/wiz-ui-next/src/components/base/tooltip/tooltip.vue
  packages/wiz-ui/src/components/base/dropdown/dropdown.stories.ts
  packages/wiz-ui/src/components/base/dropdown/dropdown.vue
  packages/wiz-ui/src/components/base/inputs/date-picker/date-picker.stories.ts
  packages/wiz-ui/src/components/base/inputs/date-picker/date-picker.vue
  packages/wiz-ui/src/components/base/inputs/date-range-picker/date-range-picker.stories.ts
  packages/wiz-ui/src/components/base/inputs/date-range-picker/date-range-picker.vue
  packages/wiz-ui/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui/src/components/base/inputs/search-input/search.stories.ts
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.stories.ts
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui/src/components/base/inputs/selectbox/selectbox.stories.ts
  packages/wiz-ui/src/components/base/inputs/selectbox/selectbox.vue
  packages/wiz-ui/src/components/base/inputs/timepicker/time-picker.stories.ts
  packages/wiz-ui/src/components/base/inputs/timepicker/time-picker.vue
  packages/wiz-ui/src/components/base/navigation/item.vue
  packages/wiz-ui/src/components/base/tooltip/tooltip.stories.ts
  packages/wiz-ui/src/components/base/tooltip/tooltip.vue
Labels: 🎨 story, 👀 Review Priority: High

#819 Feat(dropdown-item): disabledプロパティを追加
  .changeset/fifty-bulldogs-cover.md
  packages/styles/bases/dropdown.css.ts
  packages/wiz-ui-next/src/components/base/dropdown/dropdown-item.stories.ts
  packages/wiz-ui-next/src/components/base/dropdown/dropdown-item.vue
  packages/wiz-ui-next/src/components/base/dropdown/dropdown.stories.ts
  packages/wiz-ui/src/components/base/dropdown/dropdown-item.stories.ts
  packages/wiz-ui/src/components/base/dropdown/dropdown-item.vue
  packages/wiz-ui/src/components/base/dropdown/dropdown.stories.ts
Labels: 📦 component, 🎨 story, 👀 Review Priority: High

#820 Feat(menu-item): fontSizeプロパティを追加
  .changeset/tall-peas-sit.md
  packages/wiz-ui-next/src/components/base/menu/menu-item.stories.ts
  packages/wiz-ui-next/src/components/base/menu/menu-item.vue
  packages/wiz-ui/src/components/base/menu/menu-item.stories.ts
  packages/wiz-ui/src/components/base/menu/menu-item.vue
Labels: 📦 component, 🎨 story, 👀 Review Priority: High

#582 Feat/react toggle button
  .changeset/fresh-islands-flash.md
  packages/wiz-ui-react/src/components/base/buttons/index.ts
  packages/wiz-ui-react/src/components/base/buttons/toggle/components/index.ts
  packages/wiz-ui-react/src/components/base/buttons/toggle/components/toggle-button.tsx
  packages/wiz-ui-react/src/components/base/buttons/toggle/index.ts
  packages/wiz-ui-react/src/components/base/buttons/toggle/stories/toggle-button.stories.tsx
Labels: 📦 component, 🎨 story, 🔽 Low Priority

#787 Feat: WizFormGroupでラベルのサイズと色を一括指定できるようにする
  .changeset/shiny-apricots-complain.md
  packages/wiz-ui-next/src/components/custom/form/control.vue
  packages/wiz-ui-next/src/components/custom/form/group.stories.ts
  packages/wiz-ui-next/src/components/custom/form/group.vue
  packages/wiz-ui-next/src/hooks/use-form-group-provider.ts
  packages/wiz-ui/src/components/custom/form/control.vue
  packages/wiz-ui/src/components/custom/form/group.stories.ts
  packages/wiz-ui/src/components/custom/form/group.vue
  packages/wiz-ui/src/hooks/use-form-group-provider.ts
Labels: 🎨 story, 👀 Review Priority: High

#761 ToggleSwitch に default color を設定
  .changeset/chilly-brooms-think.md
  packages/styles/bases/toggle-switch-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/toggle-switch/toggle-switch.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/toggle-switch/toggle-switch.vue
  packages/wiz-ui/src/components/base/inputs/toggle-switch/toggle-switch.stories.ts
  packages/wiz-ui/src/components/base/inputs/toggle-switch/toggle-switch.vue
Labels: 👀 Review Priority: High

#759 disabled color in datetimepicker
  .changeset/silent-ties-cheer.md
  packages/styles/bases/date-picker-input.css.ts
  packages/styles/bases/time-picker-input.css.ts
  packages/wiz-ui-next/src/components/base/dropdown/dropdown.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/search-input/search.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/timepicker/time-picker.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/timepicker/time-picker.vue
  packages/wiz-ui-next/src/components/base/tooltip/tooltip.stories.ts
  packages/wiz-ui/src/components/base/dropdown/dropdown.stories.ts
  packages/wiz-ui/src/components/base/inputs/date-picker/date-picker.stories.ts
  packages/wiz-ui/src/components/base/inputs/timepicker/time-picker.stories.ts
  packages/wiz-ui/src/components/base/inputs/timepicker/time-picker.vue
Labels: 🎨 story, 👀 Review Priority: High

#584 Feat/react text input
  .changeset/healthy-balloons-try.md
  packages/wiz-ui-react/src/components/base/inputs/base/components/base-input.tsx
  packages/wiz-ui-react/src/components/base/inputs/base/components/index.ts
  packages/wiz-ui-react/src/components/base/inputs/index.ts
  packages/wiz-ui-react/src/components/base/inputs/text/components/index.ts
  packages/wiz-ui-react/src/components/base/inputs/text/components/text-input.tsx
  packages/wiz-ui-react/src/components/base/inputs/text/index.ts
  packages/wiz-ui-react/src/components/base/inputs/text/stories/text.stories.tsx
  packages/wiz-ui-react/src/components/custom/form/form-control-context.ts
Labels: 📦 component, 🔽 Low Priority

#798 Feat(date-picker/date-range-picker): 同じ日付選択・リセット機能
  .changeset/silly-llamas-retire.md
  packages/constants/component/aria-label.ts
  packages/constants/component/icon-name.ts
  packages/icons/assets/cancel.svg
  packages/styles/bases/date-picker-input.css.ts
  packages/styles/bases/date-range-picker.css.ts
  packages/utils/date.ts
  packages/wiz-ui-next/src/components/base/calendar/calendar.vue
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.vue
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.vue
  packages/wiz-ui-next/src/components/icons/cancel.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-react/src/components/icons/cancel.tsx
  packages/wiz-ui-react/src/components/icons/index.ts
  packages/wiz-ui/src/components/base/calendar/calendar.vue
  packages/wiz-ui/src/components/base/inputs/date-picker/date-picker.stories.ts
  packages/wiz-ui/src/components/base/inputs/date-picker/date-picker.vue
  packages/wiz-ui/src/components/base/inputs/date-range-picker/date-range-picker.stories.ts
  packages/wiz-ui/src/components/base/inputs/date-range-picker/date-range-picker.vue
  packages/wiz-ui/src/components/icons/cancel.vue
  packages/wiz-ui/src/components/icons/index.ts
Labels: 📦 component, 🎨 story, 👀 Review Priority: High

#594 Feat/react radio
  .changeset/spotty-seas-wink.md
  packages/constants/component/name.ts
  packages/wiz-ui-react/src/components/base/inputs/index.ts
  packages/wiz-ui-react/src/components/base/inputs/radio/components/index.ts
  packages/wiz-ui-react/src/components/base/inputs/radio/components/radio.tsx
  packages/wiz-ui-react/src/components/base/inputs/radio/components/types.ts
  packages/wiz-ui-react/src/components/base/inputs/radio/index.ts
  packages/wiz-ui-react/src/components/base/inputs/radio/stories/radio.stories.tsx
Labels: 📦 component, 🎨 story

#598 Feat/react badge
  .changeset/polite-ravens-sleep.md
  packages/wiz-ui-react/src/components/base/badge/components/badge.tsx
  packages/wiz-ui-react/src/components/base/badge/components/index.ts
  packages/wiz-ui-react/src/components/base/badge/index.ts
  packages/wiz-ui-react/src/components/base/badge/stories/badge.stories.tsx
  packages/wiz-ui-react/src/components/base/buttons/index.ts
  packages/wiz-ui-react/src/components/base/index.ts
Labels: 📦 component, 🔽 Low Priority

#636 Feat/react step bar
  .changeset/nervous-kings-punch.md
  packages/wiz-ui-react/src/components/base/index.ts
  packages/wiz-ui-react/src/components/base/step-bar/components/index.ts
  packages/wiz-ui-react/src/components/base/step-bar/components/step-bar.tsx
  packages/wiz-ui-react/src/components/base/step-bar/components/step-line.tsx
  packages/wiz-ui-react/src/components/base/step-bar/components/step-point.tsx
  packages/wiz-ui-react/src/components/base/step-bar/components/types.ts
  packages/wiz-ui-react/src/components/base/step-bar/index.ts
  packages/wiz-ui-react/src/components/base/step-bar/stories/step-bar.stories.tsx
  packages/wiz-ui-react/src/components/base/step-bar/stories/step-point.stories.tsx
Labels: 📦 component

#640 Feat/react tab
  .changeset/beige-vans-design.md
  packages/wiz-ui-react/src/components/base/index.ts
  packages/wiz-ui-react/src/components/base/tab/components/index.ts
  packages/wiz-ui-react/src/components/base/tab/components/tab-pane.tsx
  packages/wiz-ui-react/src/components/base/tab/components/tab.tsx
  packages/wiz-ui-react/src/components/base/tab/components/types.ts
  packages/wiz-ui-react/src/components/base/tab/index.ts
  packages/wiz-ui-react/src/components/base/tab/stories/tab-pane.stories.tsx
  packages/wiz-ui-react/src/components/base/tab/stories/tab.stories.tsx
Labels: 📦 component

#642 Feat/react tables
  .changeset/violet-forks-film.md
  packages/wiz-ui-react/src/components/base/tables/card/components/card-table.tsx
  packages/wiz-ui-react/src/components/base/tables/card/components/card-tbody.tsx
  packages/wiz-ui-react/src/components/base/tables/card/components/card-td.tsx
  packages/wiz-ui-react/src/components/base/tables/card/components/card-th.tsx
  packages/wiz-ui-react/src/components/base/tables/card/components/card-thead.tsx
  packages/wiz-ui-react/src/components/base/tables/card/components/card-tr.tsx
  packages/wiz-ui-react/src/components/base/tables/card/components/index.ts
  packages/wiz-ui-react/src/components/base/tables/card/index.ts
  packages/wiz-ui-react/src/components/base/tables/card/stories/card-table.stories.tsx
  packages/wiz-ui-react/src/components/base/tables/flat/components/flat-table.tsx
  packages/wiz-ui-react/src/components/base/tables/flat/components/flat-tbody.tsx
  packages/wiz-ui-react/src/components/base/tables/flat/components/flat-td.tsx
  packages/wiz-ui-react/src/components/base/tables/flat/components/flat-th.tsx
  packages/wiz-ui-react/src/components/base/tables/flat/components/flat-thead.tsx
  packages/wiz-ui-react/src/components/base/tables/flat/components/flat-tr.tsx
  packages/wiz-ui-react/src/components/base/tables/flat/components/index.ts
  packages/wiz-ui-react/src/components/base/tables/flat/index.ts
  packages/wiz-ui-react/src/components/base/tables/flat/stories/flat-table.stories.tsx
  packages/wiz-ui-react/src/components/base/tables/index.ts
  packages/wiz-ui-react/src/components/base/tables/unstyled/components/index.ts
  packages/wiz-ui-react/src/components/base/tables/unstyled/components/unstyled-table.tsx
  packages/wiz-ui-react/src/components/base/tables/unstyled/components/unstyled-tbody.tsx
  packages/wiz-ui-react/src/components/base/tables/unstyled/components/unstyled-td.tsx
  packages/wiz-ui-react/src/components/base/tables/unstyled/components/unstyled-th.tsx
  packages/wiz-ui-react/src/components/base/tables/unstyled/components/unstyled-thead.tsx
  packages/wiz-ui-react/src/components/base/tables/unstyled/components/unstyled-tr.tsx
  packages/wiz-ui-react/src/components/base/tables/unstyled/index.ts
  packages/wiz-ui-react/src/components/base/tables/unstyled/stories/unstyled-table.stories.tsx
Labels: 📦 component

#768 WizCalendarのReact対応
  .changeset/small-colts-wonder.md
  packages/constants/component/name.ts
  packages/wiz-ui-react/src/components/base/calendar/components/calendar-helper.ts
  packages/wiz-ui-react/src/components/base/calendar/components/calendar.tsx
  packages/wiz-ui-react/src/components/base/calendar/components/index.ts
  packages/wiz-ui-react/src/components/base/calendar/components/types.ts
  packages/wiz-ui-react/src/components/base/calendar/index.ts
  packages/wiz-ui-react/src/components/base/calendar/stories/calendar.stories.tsx
  packages/wiz-ui-react/src/components/base/calendar/tests/calendar-helper.test.ts
  packages/wiz-ui-react/src/components/base/index.ts
Labels: ⬆️ dependencies, ✅ test

#776 WizDialog の React 対応
  .changeset/thin-dragons-remember.md
  packages/wiz-ui-react/package.json
  packages/wiz-ui-react/src/components/base/dialog/components/dialog.tsx
  packages/wiz-ui-react/src/components/base/dialog/components/index.ts
  packages/wiz-ui-react/src/components/base/dialog/index.ts
  packages/wiz-ui-react/src/components/base/dialog/stories/dialog.stories.tsx
  packages/wiz-ui-react/src/components/base/index.ts
  pnpm-lock.yaml
Labels: ⬆️ dependencies

#818 Message box で icon の幅が変化するバグの修正
  .changeset/twelve-students-reflect.md
  packages/styles/bases/message-box.css.ts
  packages/wiz-ui-next/src/components/base/message-box/message-box.stories.ts
  packages/wiz-ui/src/components/base/message-box/message-box.stories.ts
Labels: 🎨 story

#835 [React] Dialogのクリンナップ処理を修正
  .changeset/brown-terms-search.md
  packages/wiz-ui-react/src/components/base/dialog/components/dialog.tsx
Labels: 🚧 wip

#836 Fix(popup): fixedされたpopupの位置計算にスクロール量が算入される
  .changeset/mighty-drinks-reply.md
  packages/wiz-ui-next/src/components/base/popup/popup.stories.ts
  packages/wiz-ui-next/src/components/base/popup/popup.vue
  packages/wiz-ui/src/components/base/popup/popup.stories.ts
  packages/wiz-ui/src/components/base/popup/popup.vue
Labels: 📦 component, ⚠️ bug: design, 🎨 story, 👀 Review Priority: High

#588 Feat/react checkbox
  .changeset/witty-pumas-protect.md
  packages/constants/component/name.ts
  packages/wiz-ui-react/src/components/base/inputs/checkbox/components/checkbox.tsx
  packages/wiz-ui-react/src/components/base/inputs/checkbox/components/index.ts
  packages/wiz-ui-react/src/components/base/inputs/checkbox/components/types.ts
  packages/wiz-ui-react/src/components/base/inputs/checkbox/index.ts
  packages/wiz-ui-react/src/components/base/inputs/checkbox/stories/checkbox.stories.tsx
  packages/wiz-ui-react/src/components/base/inputs/index.ts
Labels: 📦 component

#841 test: VRTでのフレーキーな差分検出を回避
  packages/wiz-ui-next/src/components/base/tooltip/tooltip.stories.ts
  packages/wiz-ui-react/src/components/base/tooltip/stories/tooltip.stories.tsx
  regconfig.json
Labels: 🚧 wip

#847 fix: [React] いくつかの微修正
  .changeset/tender-toes-speak.md
  packages/wiz-ui-react/src/components/base/popup/components/popup.tsx
  packages/wiz-ui-react/src/components/base/popup/test/wrap.test.ts
  packages/wiz-ui-react/src/components/base/popup/utils/wrap.ts
  packages/wiz-ui-react/src/components/base/stack/stories/h-stack.stories.tsx
  packages/wiz-ui-react/src/components/base/stack/stories/stack.stories.tsx
  packages/wiz-ui-react/src/components/base/stack/stories/v-stack.stories.tsx
Labels: ✅ test

#646 Feat(time-picker): react化
  .changeset/purple-timers-pretend.md
  packages/constants/component/aria-label.ts
  packages/styles/bases/time-picker-input.css.ts
  packages/styles/commons/input.css.ts
  packages/wiz-ui-react/src/components/base/inputs/index.ts
  packages/wiz-ui-react/src/components/base/inputs/time-picker/components/index.ts
  packages/wiz-ui-react/src/components/base/inputs/time-picker/components/time-picker.tsx
  packages/wiz-ui-react/src/components/base/inputs/time-picker/index.ts
  packages/wiz-ui-react/src/components/base/inputs/time-picker/stories/time-picker.stories.tsx
  packages/wiz-ui-react/src/components/base/inputs/time-picker/types/time.ts
Labels: 📦 component, 📝 docs, 🎨 story

#873 time-pickerのfontSizeをxsに
  .changeset/ten-apples-reply.md
  packages/styles/bases/time-picker-input.css.ts
Labels: 🔼 High Priority, 👀 Review Priority: High

#846 Fix(date-range-picker): disabed font color
  .changeset/serious-pigs-rule.md
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.vue
  packages/wiz-ui/src/components/base/inputs/date-range-picker/date-range-picker.stories.ts
  packages/wiz-ui/src/components/base/inputs/date-range-picker/date-range-picker.vue
Labels: 📦 component, ⚠️ bug: design, 🎨 story, 👀 Review Priority: High

#852 WizSearchSelector : 検索時に該当した文字のみ抽出
  .changeset/rare-cameras-raise.md
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.vue
Labels: 👀 Review Priority: High

#858 Fix(search-input): scroll量を子要素の表示位置に反映する
  .changeset/moody-pens-joke.md
  packages/styles/bases/search-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-popup.vue
  packages/wiz-ui-next/src/components/base/inputs/search-input/search.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/search-input/stories/options.ts
  packages/wiz-ui-next/src/components/base/inputs/search-input/stories/search-input.stories.ts
  packages/wiz-ui/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui/src/components/base/inputs/search-input/search-popup.vue
  packages/wiz-ui/src/components/base/inputs/search-input/search.stories.ts
  packages/wiz-ui/src/components/base/inputs/search-input/stories/options.ts
  packages/wiz-ui/src/components/base/inputs/search-input/stories/search-input.stories.ts
Labels: ⚠️ bug: design, 🚧 wip, 🎨 story

#884 Fix/information panel
  .changeset/shiny-bats-tie.md
  packages/styles/bases/information-panel.css.ts
  packages/wiz-ui-next/src/components/base/information-panel/information-panel.stories.ts
  packages/wiz-ui-next/src/components/base/information-panel/information-panel.vue
  packages/wiz-ui/src/components/base/information-panel/information-panel.stories.ts
  packages/wiz-ui/src/components/base/information-panel/information-panel.vue
Labels: 🎨 story

#596 Feat/react password input
  .changeset/slow-guests-punch.md
  packages/wiz-ui-react/src/components/base/inputs/index.ts
  packages/wiz-ui-react/src/components/base/inputs/password/components/index.ts
  packages/wiz-ui-react/src/components/base/inputs/password/components/password-input.tsx
  packages/wiz-ui-react/src/components/base/inputs/password/index.ts
  packages/wiz-ui-react/src/components/base/inputs/password/stories/password-input.stories.tsx
  packages/wiz-ui-react/src/components/base/text-area/stories/text-area.stories.tsx
Labels: 📦 component, 🔽 Low Priority

#859 feat(popup): 回り込みの挙動改善
  .changeset/small-seas-draw.md
  packages/wiz-ui-react/src/components/base/popup/components/popup.tsx
  packages/wiz-ui-react/src/components/base/popup/utils/index.ts
  packages/wiz-ui-react/src/components/base/popup/utils/wrap.ts
Labels: 📦 component

#899 fix(search-input): 検索結果が空のときの表示
  .changeset/late-cherries-travel.md
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui/src/components/base/inputs/search-input/search-input.vue
Labels: ⚠️ bug: design, 👀 Review Priority: High

#644 Feat/react progress bar
  .changeset/proud-adults-nail.md
  packages/wiz-ui-react/src/components/base/index.ts
  packages/wiz-ui-react/src/components/base/progress-bar/components/index.ts
  packages/wiz-ui-react/src/components/base/progress-bar/components/progress-bar.tsx
  packages/wiz-ui-react/src/components/base/progress-bar/components/progress-line.tsx
  packages/wiz-ui-react/src/components/base/progress-bar/components/progress-point.tsx
  packages/wiz-ui-react/src/components/base/progress-bar/components/progress.tsx
  packages/wiz-ui-react/src/components/base/progress-bar/index.ts
  packages/wiz-ui-react/src/components/base/progress-bar/stories/progress-bar.stories.tsx
  packages/wiz-ui-react/src/components/base/progress-bar/stories/progress-point.stories.tsx
  packages/wiz-ui-react/src/components/base/progress-bar/types/index.ts
  packages/wiz-ui-react/src/components/base/progress-bar/types/progress-item.ts
Labels: 📦 component
