Repository Wizleap-Inc/wiz-ui, pull requests merged in 2023-07, with the labels that each got.

#790 ラジオボタンの a11y 対応
  .changeset/young-timers-divide.md
  packages/styles/bases/radio-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/radio/radio.vue
  packages/wiz-ui/src/components/base/inputs/radio/radio.vue
Labels: 📦 component, 🚧 wip, 👀 Review Priority: High

#900 feat(date-range-picker): react対応
  .changeset/metal-elephants-cheer.md
  packages/constants/component/name.ts
  packages/styles/bases/calendar.css.ts
  packages/wiz-ui-react/src/components/base/calendar/components/calendar.tsx
  packages/wiz-ui-react/src/components/base/inputs/date-range-picker/components/date-range-picker.tsx
  packages/wiz-ui-react/src/components/base/inputs/date-range-picker/components/index.ts
  packages/wiz-ui-react/src/components/base/inputs/date-range-picker/index.ts
  packages/wiz-ui-react/src/components/base/inputs/date-range-picker/stories/date-range-picker.stories.tsx
  packages/wiz-ui-react/src/components/base/inputs/date-range-picker/types/date-range.ts
  packages/wiz-ui-react/src/components/base/inputs/date-range-picker/types/index.ts
  packages/wiz-ui-react/src/components/base/inputs/index.ts
Labels: 📦 component

#918 Feat(popup): sticky対応
  .changeset/olive-pants-tease.md
  packages/wiz-ui-next/src/components/base/navigation/container.stories.ts
  packages/wiz-ui-next/src/components/base/popup/popup.vue
  packages/wiz-ui/src/components/base/navigation/container.stories.ts
  packages/wiz-ui/src/components/base/popup/popup.vue
Labels: 📦 component, 🎨 story

#905 Fix(radio): lineHeightを修正
  .changeset/late-kids-fix.md
  packages/styles/bases/radio-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/radio/radio.stories.ts
  packages/wiz-ui/src/components/base/inputs/radio/radio.stories.ts
Labels: 🎨 story

#930 Fix(text-button): whitespace nowrap
  .changeset/twenty-mangos-shake.md
  packages/styles/bases/text-button.css.ts
Labels: ⚠️ bug: design

#931 Feat(tab): タブを中央寄せにするオプションを追加
  .changeset/perfect-ads-chew.md
  packages/wiz-ui-next/src/components/base/tab/tab.stories.ts
  packages/wiz-ui-next/src/components/base/tab/tab.vue
  packages/wiz-ui-react/src/components/base/tab/components/tab.tsx
  packages/wiz-ui-react/src/components/base/tab/stories/tab.stories.tsx
  packages/wiz-ui/src/components/base/tab/tab.stories.ts
  packages/wiz-ui/src/components/base/tab/tab.vue
Labels: 📦 component, 🎨 story

#929 chore(example): chat画面をwiz-uiで組み立てる
  examples/vue3/package.json
  examples/vue3/src/components/layout/navigation/nav-list.vue
  examples/vue3/src/pages/chat/_components/chat-form.vue
  examples/vue3/src/pages/chat/_components/chat-log.vue
  examples/vue3/src/pages/chat/_components/index.ts
  examples/vue3/src/pages/chat/_components/template.ts
  examples/vue3/src/pages/chat/index.vue
  examples/vue3/src/router/index.ts
  pnpm-lock.yaml
Labels: ⬆️ dependencies, 🚧 wip

#919 Fix Navigationのreact-router対応
  .changeset/orange-garlics-sin.md
  packages/wiz-ui-react/src/components/base/navigation/components/navigation-item.tsx
  packages/wiz-ui-react/src/components/base/navigation/stories/navigation-container.stories.tsx
  packages/wiz-ui-react/src/components/base/navigation/stories/navigation-item.stories.tsx
Labels: ⬆️ dependencies, 📦 component

#920 fix: NavigationのExampleに余計なdivが含まれていたので削除
  examples/vue2/src/components/layout/navigation/index.vue
  examples/vue2/src/components/layout/navigation/nav-list.vue
  examples/vue3/src/components/layout/navigation/index.vue
  examples/vue3/src/components/layout/navigation/nav-list.vue
Labels: 📝 docs, 🔽 Low Priority
