Repository Wizleap-Inc/wiz-ui, pull requests merged in 2023-11, with the labels that each got.

#1113 Revert "Version Packages"
  .changeset/serious-jars-serve.md
  .changeset/tasty-bees-develop.md
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/wiz-ui-next/CHANGELOG.md
  packages/wiz-ui-next/package.json
  packages/wiz-ui-react/CHANGELOG.md
  packages/wiz-ui-react/package.json
Labels: ⬆️ dependencies

#1121 Feat(toggle-switch): 新デザイン対応
  .changeset/nasty-donuts-shave.md
  packages/styles/bases/toggle-switch-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/toggle-switch/toggle-switch.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/toggle-switch/toggle-switch.vue
  packages/wiz-ui-react/src/components/base/inputs/toggle-switch/components/toggle-switch.tsx
  packages/wiz-ui-react/src/components/base/inputs/toggle-switch/stories/toggle-switch.stories.tsx
Labels: 📦 component

#1120 Feat(text-button): danger, sub-danger variantを追加
  .changeset/wet-rocks-wave.md
  packages/styles/bases/text-button.css.ts
  packages/wiz-ui-next/src/components/base/buttons/text/text.stories.ts
  packages/wiz-ui-next/src/components/base/buttons/text/text.vue
  packages/wiz-ui-react/src/components/base/buttons/text/components/text-button.tsx
  packages/wiz-ui-react/src/components/base/buttons/text/stories/text-button.stories.tsx
Labels: 📦 component, 🎨 story

#1110 Fix(time-picker): `width:100%`が反映されない問題を修正
  .changeset/selfish-carrots-look.md
  packages/styles/bases/date-picker-input.css.ts
  packages/styles/bases/popup.css.ts
  packages/styles/bases/time-picker-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.vue
  packages/wiz-ui-next/src/components/base/inputs/timepicker/time-picker.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/timepicker/time-picker.vue
  packages/wiz-ui-next/src/components/base/popup/popup-container.vue
  packages/wiz-ui-react/src/components/base/inputs/date-picker/stories/date-picker.stories.tsx
  packages/wiz-ui-react/src/components/base/inputs/time-picker/components/time-picker.tsx
  packages/wiz-ui-react/src/components/base/inputs/time-picker/stories/time-picker.stories.tsx
Labels: ⚠️ bug: design

#1124 Feat(icon): add demography icon
  .changeset/wise-suits-tickle.md
  packages/constants/component/icon-name.ts
  packages/icons/assets/demography.svg
  packages/wiz-ui-next/src/components/icons/demography.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-react/src/components/icons/demography.tsx
  packages/wiz-ui-react/src/components/icons/index.ts
Labels: 📦 component
