Repository Wizleap-Inc/wiz-ui, pull requests merged in 2023-10, with the labels that each got.

#1061 Timepicker の 時・分を固定にする
  .changeset/thirty-ears-brush.md
  packages/styles/bases/time-picker-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/timepicker/time-picker.vue
  packages/wiz-ui-react/src/components/base/inputs/time-picker/components/time-picker.tsx
  packages/wiz-ui/src/components/base/inputs/timepicker/time-picker.vue
Labels: 🎨 story

#1083 chore(deps): wiz-ui-vue2の依存関係を固定
  packages/wiz-ui/package.json
  pnpm-lock.yaml
Labels: ⬆️ dependencies

#1093 Revert "chore(deps): wiz-ui-vue2の依存関係を固定"
  packages/wiz-ui/package.json
  pnpm-lock.yaml
Labels: ⬆️ dependencies

#1089 依存パッケージ更新
  docs/.npmignore
  docs/package.json
  docs/src/.vuepress/components/dialog/default.vue
  docs/src/.vuepress/config.ts
  docs/src/.vuepress/config/sidebar.ts
  docs/src/.vuepress/enhanceApp.ts
  docs/src/.vuepress/styles/index.styl
  docs/src/.vuepress/styles/palette.styl
  docs/src/component/base/dialog.md
  docs/src/component/base/message-box.md
  docs/src/component/base/text-button.md
  docs/src/component/custom/a.md
  docs/src/component/index.md
  docs/src/guide/contributing.md
  docs/src/guide/develop.md
  docs/src/guide/index.md
  docs/src/guide/setup.md
  docs/src/guide/structure.md
  docs/src/index.md
  package.json
  packages/vuepress-plugin-wiz-ui/CHANGELOG.md
  packages/vuepress-plugin-wiz-ui/package.json
  packages/vuepress-plugin-wiz-ui/src/enhanceAppFiles.js
  packages/vuepress-plugin-wiz-ui/src/index.js
  packages/vuepress-plugin-wiz-ui/src/mdPlugin.js
  packages/vuepress-plugin-wiz-ui/src/util.js
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.vue
  packages/wiz-ui-react/src/components/custom/timeline/stories/timeline-item.stories.tsx
  packages/wiz-ui-react/src/components/custom/timeline/stories/timeline.stories.tsx
  packages/wiz-ui/src/components/base/inputs/date-picker/date-picker.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: ⬆️ dependencies, 📝 docs

#1064 Feat(date-picker): 年の表示形式をカスタマイズ可能にする
  .changeset/violet-penguins-grab.md
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.vue
  packages/wiz-ui-react/src/components/base/inputs/date-picker/components/date-picker.tsx
  packages/wiz-ui-react/src/components/base/inputs/date-picker/stories/date-picker.stories.tsx
Labels: 🎨 story

#1085 Feat(pagination): 表示ページ数を制御するPropを追加
  .changeset/early-coins-explain.md
  packages/styles/bases/pagination.css.ts
  packages/wiz-ui-next/src/components/base/pagination/pagination.stories.ts
  packages/wiz-ui-next/src/components/base/pagination/pagination.vue
  packages/wiz-ui-react/src/components/base/pagination/components/pagination.tsx
  packages/wiz-ui-react/src/components/base/pagination/stories/pagination.stories.tsx
Labels: 📦 component, 🎨 story

#1040 Feat(drawer): スライドインアニメーションの方向指定
  .changeset/ten-clocks-allow.md
  packages/styles/bases/drawer.css.ts
  packages/wiz-ui-next/src/components/base/drawer/drawer.stories.ts
  packages/wiz-ui-next/src/components/base/drawer/drawer.vue
  packages/wiz-ui-react/src/components/base/drawer/drawer.stories.tsx
  packages/wiz-ui-react/src/components/base/drawer/drawer.tsx
  packages/wiz-ui/src/components/base/drawer/drawer.vue
Labels: 📦 component, 👀 Review Priority: High

#1087 SearchSelector: exLabelを付与できるようにする
  .changeset/gorgeous-masks-hear.md
  packages/styles/bases/popup-button-group.css.ts
  packages/styles/bases/search-selector.css.ts
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.vue
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/search-selector.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-selector/stories/search-selector.stories.tsx
  packages/wiz-ui-react/src/components/base/popup-button-group/components/button-item.tsx
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.stories.ts
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui/src/components/base/popup-button-group/popup-button-group.vue
Labels: 🎨 story
