Repository Wizleap-Inc/wiz-ui, pull requests merged in 2023-08, with the labels that each got.

#945 MenuItem の色の修正
  .changeset/hot-drinks-fly.md
  packages/styles/bases/menu.css.ts
  packages/wiz-ui-next/src/components/base/menu/menu-item.stories.ts
  packages/wiz-ui-next/src/components/base/menu/menu-item.vue
  packages/wiz-ui/src/components/base/menu/menu-item.stories.ts
  packages/wiz-ui/src/components/base/menu/menu-item.vue
Labels: 🎨 story

#917 サイドバーの開閉状況を props で取得するようにする
  .changeset/ninety-yaks-turn.md
  packages/wiz-ui-next/src/components/base/header/header.stories.ts
  packages/wiz-ui-next/src/components/base/header/header.vue
  packages/wiz-ui-next/src/components/base/navigation/container.stories.ts
  packages/wiz-ui-next/src/components/base/navigation/container.vue
  packages/wiz-ui-next/src/hooks/use-global-provider.ts
  packages/wiz-ui-next/src/hooks/use-menu.ts
  packages/wiz-ui/src/components/base/header/header.stories.ts
  packages/wiz-ui/src/components/base/header/header.vue
  packages/wiz-ui/src/components/base/navigation/container.stories.ts
  packages/wiz-ui/src/components/base/navigation/container.vue
  packages/wiz-ui/src/hooks/use-global-provider.ts
  packages/wiz-ui/src/hooks/use-menu.ts
Labels: 📦 component, 🎨 story, 👀 Review Priority: High, reviewed

#969 fix: headerの仕様をreactと合わせる
  .changeset/yellow-moons-remember.md
  packages/wiz-ui-next/src/components/base/header/header.stories.ts
  packages/wiz-ui-next/src/components/base/header/header.vue
  packages/wiz-ui/src/components/base/header/header.stories.ts
  packages/wiz-ui/src/components/base/header/header.vue
Labels: 🎨 story

#975 Feat(search-input): アイコンを外側から受け付けられるようにする
  .changeset/five-mirrors-shave.md
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui-next/src/components/base/inputs/search-input/stories/search-input.stories.ts
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-input.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-input/stories/search-input.stories.tsx
  packages/wiz-ui/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui/src/components/base/inputs/search-input/stories/search-input.stories.ts
Labels: 🎨 story, 👀 Review Priority: High

#907 Feat(calendar, date-picker): 無効な日付をクリック不可にする
  .changeset/tame-chicken-punch.md
  packages/styles/bases/calendar.css.ts
  packages/wiz-ui-next/src/components/base/calendar/calendar.vue
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.vue
  packages/wiz-ui/src/components/base/calendar/calendar.vue
  packages/wiz-ui/src/components/base/inputs/date-picker/date-picker.stories.ts
  packages/wiz-ui/src/components/base/inputs/date-picker/date-picker.vue
Labels: 📦 component, 🎨 story, 👀 Review Priority: High

#947 Feat(show-more-less): mobile用スタイルに対応
  .changeset/chatty-beds-rescue.md
  packages/styles/bases/show-more-less.css.ts
  packages/wiz-ui-next/src/components/base/show-more-less/show-more-less.stories.ts
  packages/wiz-ui-next/src/components/base/show-more-less/show-more-less.vue
  packages/wiz-ui-react/src/components/base/show-more-less/components/show-more-less.tsx
  packages/wiz-ui-react/src/components/base/show-more-less/stories/show-more-less.stories.tsx
  packages/wiz-ui/src/components/base/show-more-less/show-more-less.stories.ts
  packages/wiz-ui/src/components/base/show-more-less/show-more-less.vue
Labels: 📦 component, 🎨 story, 👀 Review Priority: High

#741 [#716] Notification Panel のデザイン修正
  .changeset/wild-kings-train.md
  packages/wiz-ui-next/src/components/custom/notification/panel/panel.stories.ts
  packages/wiz-ui-next/src/components/custom/notification/panel/panel.vue
  packages/wiz-ui/src/components/custom/notification/panel/panel.stories.ts
  packages/wiz-ui/src/components/custom/notification/panel/panel.vue
Labels: 🎨 story, 👀 Review Priority: High, reviewed

#977 Feat(icons): WizIContract, WizILocationCity, WizISettings, WizISmartphone, WizICircleを追加
  .changeset/thick-papayas-invent.md
  packages/constants/component/icon-name.ts
  packages/icons/assets/circle.svg
  packages/icons/assets/contract.svg
  packages/icons/assets/location-city.svg
  packages/icons/assets/settings.svg
  packages/icons/assets/smartphone.svg
  packages/wiz-ui-next/src/components/icons/circle.vue
  packages/wiz-ui-next/src/components/icons/contract.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-next/src/components/icons/location-city.vue
  packages/wiz-ui-next/src/components/icons/settings.vue
  packages/wiz-ui-next/src/components/icons/smartphone.vue
  packages/wiz-ui-react/src/components/icons/circle.tsx
  packages/wiz-ui-react/src/components/icons/contract.tsx
  packages/wiz-ui-react/src/components/icons/index.ts
  packages/wiz-ui-react/src/components/icons/location-city.tsx
  packages/wiz-ui-react/src/components/icons/settings.tsx
  packages/wiz-ui-react/src/components/icons/smartphone.tsx
  packages/wiz-ui/src/components/icons/circle.vue
  packages/wiz-ui/src/components/icons/contract.vue
  packages/wiz-ui/src/components/icons/index.ts
  packages/wiz-ui/src/components/icons/location-city.vue
  packages/wiz-ui/src/components/icons/settings.vue
  packages/wiz-ui/src/components/icons/smartphone.vue
Labels: 📦 component, 👀 Review Priority: High

#910 Feat(full modal view): WizFullModalViewを追加
  .changeset/silly-crews-explain.md
  packages/constants/component/name.ts
  packages/styles/bases/full-modal-view.css.ts
  packages/wiz-ui-next/src/components/base/full-modal-view/full-modal-view.stories.ts
  packages/wiz-ui-next/src/components/base/full-modal-view/full-modal-view.vue
  packages/wiz-ui-next/src/components/base/full-modal-view/index.ts
  packages/wiz-ui-next/src/components/base/index.ts
  packages/wiz-ui/src/components/base/full-modal-view/full-modal-view.stories.ts
  packages/wiz-ui/src/components/base/full-modal-view/full-modal-view.vue
  packages/wiz-ui/src/components/base/full-modal-view/index.ts
  packages/wiz-ui/src/components/base/index.ts
Labels: 📝 docs, 🎨 story, 👀 Review Priority: High

#980 Feat(popup): vue版の変更に追従
  .changeset/rude-eggs-thank.md
  packages/wiz-ui-react/src/components/base/popup/components/popup.tsx
  packages/wiz-ui-react/src/components/base/popup/stories/fixed.tsx
  packages/wiz-ui-react/src/components/base/popup/stories/popup.stories.tsx
Labels: 📦 component, ⚠️ bug: design, ⚠️ bug: logic

#981 [#976] 左右のキーボードを押したときにスクロールがおまけで付いてくるバグの修正
  .changeset/friendly-experts-doubt.md
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.vue
  packages/wiz-ui/src/components/base/inputs/date-range-picker/date-range-picker.vue
Labels: reviewed

#510 Feat/button aria label
  .changeset/rare-rocks-smell.md
  examples/vue2/src/components/layout/header/avatar-dropdown.vue
  examples/vue2/src/components/layout/header/notification-dropdown.vue
  examples/vue3/src/components/layout/header/avatar-dropdown.vue
  examples/vue3/src/components/layout/header/notification-dropdown.vue
  packages/constants/component/aria-label.ts
  packages/wiz-ui-next/src/components/base/avatar/avatar.stories.ts
  packages/wiz-ui-next/src/components/base/avatar/avatar.vue
  packages/wiz-ui-next/src/components/base/buttons/icon/icon.stories.ts
  packages/wiz-ui-next/src/components/base/buttons/icon/icon.vue
  packages/wiz-ui-next/src/components/base/dialog/dialog.vue
  packages/wiz-ui-next/src/components/base/full-modal-view/full-modal-view.vue
  packages/wiz-ui-next/src/components/base/header/header.vue
  packages/wiz-ui-next/src/components/base/information-panel/information-panel.vue
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui-next/src/components/base/inputs/toggle-switch/toggle-switch.vue
  packages/wiz-ui-next/src/components/base/navigation/item.vue
  packages/wiz-ui-next/src/components/base/snackbar/snackbar.vue
  packages/wiz-ui-next/src/components/custom/chat/card/chat-card.vue
  packages/wiz-ui-next/src/components/custom/chat/form/chat-form.vue
  packages/wiz-ui/src/components/base/avatar/avatar.stories.ts
  packages/wiz-ui/src/components/base/avatar/avatar.vue
  packages/wiz-ui/src/components/base/buttons/icon/icon.stories.ts
  packages/wiz-ui/src/components/base/buttons/icon/icon.vue
  packages/wiz-ui/src/components/base/dialog/dialog.vue
  packages/wiz-ui/src/components/base/full-modal-view/full-modal-view.vue
  packages/wiz-ui/src/components/base/header/header.vue
  packages/wiz-ui/src/components/base/information-panel/information-panel.vue
  packages/wiz-ui/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui/src/components/base/inputs/toggle-switch/toggle-switch.vue
  packages/wiz-ui/src/components/base/navigation/item.vue
  packages/wiz-ui/src/components/base/snackbar/snackbar.vue
  packages/wiz-ui/src/components/custom/chat/card/chat-card.vue
  packages/wiz-ui/src/components/custom/chat/form/chat-form.vue
Labels: 📦 component, 🎨 story

#744 Accordion の開くアニメーション、Focus の修正
  .changeset/few-pugs-dream.md
  packages/styles/bases/accordion.css.ts
  packages/wiz-ui-next/src/components/base/accordion/accordion.vue
  packages/wiz-ui/src/components/base/accordion/accordion.vue
Labels: reviewed

#731 card table での hover のバグ修正
  .changeset/dull-gifts-do.md
  packages/styles/bases/card-table.css.ts
  packages/wiz-ui-next/src/components/base/tables/card/hooks/use-is-safari.ts
  packages/wiz-ui-next/src/components/base/tables/card/table.stories.ts
  packages/wiz-ui-next/src/components/base/tables/card/table.vue
  packages/wiz-ui-next/src/components/base/tables/card/td.vue
  packages/wiz-ui-next/src/components/base/tables/card/th.vue
  packages/wiz-ui-next/src/components/base/tables/card/tr.vue
  packages/wiz-ui-react/src/components/base/tables/card/components/card-table.tsx
  packages/wiz-ui-react/src/components/base/tables/card/components/card-td.tsx
  packages/wiz-ui-react/src/components/base/tables/card/components/card-th.tsx
  packages/wiz-ui-react/src/components/base/tables/card/components/card-tr.tsx
  packages/wiz-ui-react/src/components/base/tables/card/hooks/use-is-safari.ts
  packages/wiz-ui/src/components/base/tables/card/hooks/use-is-safari.ts
  packages/wiz-ui/src/components/base/tables/card/table.vue
  packages/wiz-ui/src/components/base/tables/card/td.vue
  packages/wiz-ui/src/components/base/tables/card/th.vue
  packages/wiz-ui/src/components/base/tables/card/tr.vue
Labels: 🔼 High Priority, 👀 Review Priority: High

#932 Feat(drawer): スマホグローバルナビ
  .changeset/calm-bottles-return.md
  packages/constants/component/name.ts
  packages/styles/bases/drawer.css.ts
  packages/wiz-ui-next/src/components/base/drawer/drawer.stories.ts
  packages/wiz-ui-next/src/components/base/drawer/drawer.vue
  packages/wiz-ui-next/src/components/base/drawer/index.ts
  packages/wiz-ui-next/src/components/base/index.ts
  packages/wiz-ui-next/src/components/base/navigation/index.ts
  packages/wiz-ui-react/src/components/base/drawer/drawer.stories.tsx
  packages/wiz-ui-react/src/components/base/drawer/drawer.tsx
  packages/wiz-ui-react/src/components/base/drawer/index.ts
  packages/wiz-ui-react/src/components/base/index.ts
  packages/wiz-ui/src/components/base/drawer/drawer.stories.ts
  packages/wiz-ui/src/components/base/drawer/drawer.vue
  packages/wiz-ui/src/components/base/drawer/index.ts
  packages/wiz-ui/src/components/base/index.ts
  packages/wiz-ui/src/components/base/navigation/index.ts
Labels: 🎨 story, 👀 Review Priority: High

#926 feat: timeline
  .changeset/brown-apes-kick.md
  .changeset/eleven-spiders-give.md
  packages/constants/component/name.ts
  packages/styles/bases/menu.css.ts
  packages/styles/bases/message-box.css.ts
  packages/styles/bases/text.css.ts
  packages/styles/customs/timeline.css.ts
  packages/wiz-ui-next/src/components/base/menu/menu-item.stories.ts
  packages/wiz-ui-next/src/components/base/menu/menu-item.vue
  packages/wiz-ui-next/src/components/base/text/text.vue
  packages/wiz-ui-next/src/components/custom/index.ts
  packages/wiz-ui-next/src/components/custom/timeline/index.ts
  packages/wiz-ui-next/src/components/custom/timeline/stories/timeline-item.stories.ts
  packages/wiz-ui-next/src/components/custom/timeline/stories/timeline.stories.ts
  packages/wiz-ui-next/src/components/custom/timeline/timeline-item.vue
  packages/wiz-ui-next/src/components/custom/timeline/timeline.vue
  packages/wiz-ui-next/src/components/custom/timeline/use-timeline.ts
  packages/wiz-ui-react/src/components/base/index.ts
  packages/wiz-ui-react/src/components/base/menu/components/menu-item.tsx
  packages/wiz-ui-react/src/components/base/menu/stories/menu-item.stories.tsx
  packages/wiz-ui-react/src/components/base/text/components/text.tsx
  packages/wiz-ui-react/src/components/custom/timeline/components/timeline-item.tsx
  packages/wiz-ui-react/src/components/custom/timeline/components/timeline.tsx
  packages/wiz-ui-react/src/components/custom/timeline/components/use-timeline.ts
  packages/wiz-ui-react/src/components/custom/timeline/index.ts
  packages/wiz-ui-react/src/components/custom/timeline/stories/timeline-item.stories.tsx
  packages/wiz-ui-react/src/components/custom/timeline/stories/timeline.stories.tsx
  packages/wiz-ui/src/components/base/menu/menu-item.stories.ts
  packages/wiz-ui/src/components/base/menu/menu-item.vue
  packages/wiz-ui/src/components/base/text/text.vue
  packages/wiz-ui/src/components/custom/index.ts
  packages/wiz-ui/src/components/custom/timeline/index.ts
  packages/wiz-ui/src/components/custom/timeline/stories/timeline-item.stories.ts
  packages/wiz-ui/src/components/custom/timeline/stories/timeline.stories.ts
  packages/wiz-ui/src/components/custom/timeline/timeline-item.vue
  packages/wiz-ui/src/components/custom/timeline/timeline.vue
  packages/wiz-ui/src/components/custom/timeline/use-timeline.ts
Labels: 📦 component, 🎨 story, 👀 Review Priority: High

#943 feat(circle-graph): 色を変更
  .changeset/sour-balloons-raise.md
  packages/styles/bases/circle-graph.css.ts
Labels: 📦 component

#1015 eslint warning を解消
  packages/wiz-ui-next/src/components/base/card/card.vue
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-popup.vue
  packages/wiz-ui/src/components/base/card/card.vue
Labels: 🎨 story

#1022 chore: [React] popupの座標の小数点を丸める
  packages/wiz-ui-react/src/components/base/popup/test/popup-position.test.ts
  packages/wiz-ui-react/src/components/base/popup/utils/popup-position.ts
Labels: ✅ test

#1023 test/fix-vrt
  packages/wiz-ui-react/src/components/custom/timeline/stories/timeline.stories.tsx
Labels: 🚧 wip

#1020 feat: loading component
  .changeset/chatty-jars-smash.md
  packages/constants/component/name.ts
  packages/constants/styles/z-index.ts
  packages/styles/bases/loading-overlay.css.ts
  packages/wiz-ui-next/src/components/base/index.ts
  packages/wiz-ui-next/src/components/base/loading-overlay/index.ts
  packages/wiz-ui-next/src/components/base/loading-overlay/loading-overlay.stories.tsx
  packages/wiz-ui-next/src/components/base/loading-overlay/loading-overlay.vue
  packages/wiz-ui-react/src/components/base/index.ts
  packages/wiz-ui-react/src/components/base/loading-overlay/components/index.ts
  packages/wiz-ui-react/src/components/base/loading-overlay/components/loading-overlay.tsx
  packages/wiz-ui-react/src/components/base/loading-overlay/index.ts
  packages/wiz-ui-react/src/components/base/loading-overlay/stories/loading-overlay.stories.tsx
  packages/wiz-ui/src/components/base/index.ts
  packages/wiz-ui/src/components/base/loading-overlay/index.ts
  packages/wiz-ui/src/components/base/loading-overlay/loading-overlay.stories.tsx
  packages/wiz-ui/src/components/base/loading-overlay/loading-overlay.vue
Labels: 📦 component

#728 Chore/base input padding
  .changeset/tasty-crabs-speak.md
  packages/styles/bases/base-input.css.ts
Labels: 📦 component
