Repository Wizleap-Inc/wiz-ui, pull requests merged in 2024-06, with the labels that each got.

#1312 cd(storybook): reference error
  package.json
  packages/wiz-ui-next/.storybook/main.js
  pnpm-lock.yaml
Labels: ⬆️ dependencies

#1273 Feat/1222 search input 2
  packages/styles/bases/search-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui-next/src/components/base/inputs/search-input/stories/search-input.stories.ts
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-input.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-input/stories/search-input.stories.tsx
Labels: 🎨 story, 🔼 High Priority

#1240 fix: SearchSelector, SelectBox のデザイン変更
  .changeset/sour-chicken-drum.md
  packages/styles/bases/search-selector.css.ts
  packages/styles/bases/selectbox-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/search-selector/popup-button-group/index.ts
  packages/wiz-ui-next/src/components/base/inputs/search-selector/popup-button-group/popup-button-group.vue
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.vue
  packages/wiz-ui-next/src/components/base/inputs/search-selector/types.ts
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.vue
  packages/wiz-ui-next/src/components/base/inputs/selectbox/types.ts
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/popup-button-group/components/button-item.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/popup-button-group/components/divider-item.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/popup-button-group/components/group-item.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/popup-button-group/components/index.ts
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/popup-button-group/components/popup-button-group.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/popup-button-group/index.ts
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/popup-button-group/types.ts
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/search-selector.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-selector/components/types.ts
  packages/wiz-ui-react/src/components/base/inputs/search-selector/stories/search-selector.stories.tsx
  packages/wiz-ui-react/src/components/base/inputs/selectbox/components/selectbox.tsx
  packages/wiz-ui-react/src/components/base/inputs/selectbox/stories/selectbox.stories.tsx
Labels: 🔼 High Priority

#1254 Feat/1222 search inputの1択パターンの実装
  .changeset/old-clouds-taste.md
  packages/styles/bases/search-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-popup.vue
  packages/wiz-ui-next/src/components/base/inputs/search-input/stories/search-input.stories.ts
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-input.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-popup-panel.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-input/stories/search-input.stories.tsx
Labels: 🎨 story, 🔼 High Priority

#1331 feat(search-input): 選択した要素のアイテムの親階層がわかるようにする
  .changeset/itchy-carrots-design.md
  packages/wiz-ui-next/src/components/base/inputs/search-input/search-input.vue
  packages/wiz-ui-next/src/components/base/inputs/search-input/stories/options.ts
  packages/wiz-ui-next/src/components/base/inputs/search-input/stories/search-input.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/search-input/types.ts
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/search-input.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-input/components/types.ts
  packages/wiz-ui-react/src/components/base/inputs/search-input/stories/dummy-data.ts
  packages/wiz-ui-react/src/components/base/inputs/search-input/stories/search-input.stories.tsx
Labels: 🎨 story
