Repository Wizleap-Inc/wiz-ui, pull requests merged in 2025-04, with the labels that each got.

#1452 Feat(icons): call-bold, mail-bold, mic-bold, more-vert-bold, play-arrow-filled, smartphone-bold, sms-bold, stop-filled
  .changeset/late-seals-beam.md
  packages/constants/component/icon-name.ts
  packages/icons/assets/call-bold.svg
  packages/icons/assets/mail-bold.svg
  packages/icons/assets/mic-bold.svg
  packages/icons/assets/more-vert-bold.svg
  packages/icons/assets/play-arrow-filled.svg
  packages/icons/assets/smartphone-bold.svg
  packages/icons/assets/sms-bold.svg
  packages/icons/assets/stop-filled.svg
  packages/wiz-ui-next/src/components/icons/call-bold.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-next/src/components/icons/mail-bold.vue
  packages/wiz-ui-next/src/components/icons/mic-bold.vue
  packages/wiz-ui-next/src/components/icons/more-vert-bold.vue
  packages/wiz-ui-next/src/components/icons/play-arrow-filled.vue
  packages/wiz-ui-next/src/components/icons/smartphone-bold.vue
  packages/wiz-ui-next/src/components/icons/sms-bold.vue
  packages/wiz-ui-next/src/components/icons/stop-filled.vue
  packages/wiz-ui-react/src/components/icons/call-bold.tsx
  packages/wiz-ui-react/src/components/icons/index.ts
  packages/wiz-ui-react/src/components/icons/mail-bold.tsx
  packages/wiz-ui-react/src/components/icons/mic-bold.tsx
  packages/wiz-ui-react/src/components/icons/more-vert-bold.tsx
  packages/wiz-ui-react/src/components/icons/play-arrow-filled.tsx
  packages/wiz-ui-react/src/components/icons/smartphone-bold.tsx
  packages/wiz-ui-react/src/components/icons/sms-bold.tsx
  packages/wiz-ui-react/src/components/icons/stop-filled.tsx
Labels: 🚧 wip

#1433 Feat(selectbox): mini
  .changeset/silent-numbers-invite.md
  packages/styles/bases/selectbox-input.css.ts
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/selectbox/selectbox.vue
  packages/wiz-ui-react/src/components/base/inputs/selectbox/components/selectbox.tsx
  packages/wiz-ui-react/src/components/base/inputs/selectbox/stories/selectbox.stories.tsx
Labels: ➡️ Middle Priority

#1393 Feat/timeline-item-header-content
  .changeset/healthy-dolls-train.md
  packages/styles/customs/timeline.css.ts
  packages/wiz-ui-next/src/components/custom/timeline/stories/timeline-item.stories.ts
  packages/wiz-ui-next/src/components/custom/timeline/timeline-item.vue
  packages/wiz-ui-react/src/components/custom/timeline/components/timeline-item.tsx
  packages/wiz-ui-react/src/components/custom/timeline/stories/timeline-item.stories.tsx
Labels: 🎨 story

#1434 Feat(date-range-picker): mini
  .changeset/thick-lamps-hope.md
  packages/styles/bases/date-range-picker.css.ts
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.vue
  packages/wiz-ui-react/src/components/base/inputs/date-range-picker/components/date-range-picker.tsx
  packages/wiz-ui-react/src/components/base/inputs/date-range-picker/stories/date-range-picker.stories.tsx
Labels: 🎨 story, ➡️ Middle Priority

#1429 chore(deps): update husky
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Labels: ⬆️ dependencies

#1459 マージしない: VRTでFontの差分が出る現象の調査
  .github/workflows/visual-regression-test.yml
Labels: 🚧 wip, 🏭 ci

#1463 chore(deps): update storybook
  package.json
  packages/wiz-ui-next/.storybook/main.ts
  packages/wiz-ui-next/.storybook/manager.ts
  packages/wiz-ui-next/.storybook/preview.js
  packages/wiz-ui-next/.storybook/wizTheme.ts
  packages/wiz-ui-next/package.json
  packages/wiz-ui-next/src/components/base/calendar/calendar.stories.ts
  packages/wiz-ui-next/src/components/base/full-modal-view/full-modal-view.stories.ts
  packages/wiz-ui-next/src/components/base/graphs/circle/circle.stories.ts
  packages/wiz-ui-next/src/components/base/graphs/compare/compare.stories.ts
  packages/wiz-ui-next/src/components/base/graphs/poll/poll.stories.ts
  packages/wiz-ui-next/src/components/base/graphs/transition/transition.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/checkbox-new/checkbox-new.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/radio-new/radio-new.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/search-selector/search-selector.stories.ts
  packages/wiz-ui-next/src/components/base/popup-button-group/popup-button-group.stories.ts
  packages/wiz-ui-next/src/components/base/progress-bar/progress-bar.stories.ts
  packages/wiz-ui-next/src/components/base/step-bar/step-bar.stories.ts
  packages/wiz-ui-next/src/components/base/tab/tab.stories.ts
  packages/wiz-ui-next/src/components/custom/chat/item/chat-item.stories.ts
  packages/wiz-ui-next/src/components/custom/notification/list/list.stories.ts
  packages/wiz-ui-next/src/components/custom/notification/notification.stories.ts
  packages/wiz-ui-next/src/components/custom/notification/panel/panel.stories.ts
  packages/wiz-ui-next/src/components/custom/schedule/stories/schedule.stories.ts
  packages/wiz-ui-next/tsconfig.json
  packages/wiz-ui-react/.storybook/main.ts
  packages/wiz-ui-react/.storybook/manager.ts
  packages/wiz-ui-react/.storybook/preview.js
  packages/wiz-ui-react/.storybook/wizTheme.ts
  packages/wiz-ui-react/package.json
  packages/wiz-ui-react/src/components/custom/schedule/stories/schedule.stories.tsx
  packages/wiz-ui-react/tsconfig.json
  pnpm-lock.yaml
  regconfig.json
Labels: ⬆️ dependencies

#1470 feat(icon): clinical-notes
  .changeset/few-squids-laugh.md
  packages/constants/component/icon-name.ts
  packages/icons/assets/clinical-notes.svg
  packages/wiz-ui-next/src/components/icons/clinical-notes.vue
  packages/wiz-ui-next/src/components/icons/index.ts
  packages/wiz-ui-react/src/components/icons/clinical-notes.tsx
  packages/wiz-ui-react/src/components/icons/index.ts
Labels: 🚧 wip

#1469 chore: update deps
  .github/composite/prepare_node/action.yml
  examples/react/package.json
  examples/react/vite.config.ts
  examples/vue3/package.json
  examples/vue3/vite.config.ts
  package.json
  packages/icons/package.json
  packages/wiz-ui-next/.storybook/main.ts
  packages/wiz-ui-next/.storybook/preview.js
  packages/wiz-ui-next/package.json
  packages/wiz-ui-next/src/components/base/buttons/text/text.stories.ts
  packages/wiz-ui-next/src/components/base/card/card.vue
  packages/wiz-ui-next/src/components/base/inputs/date-picker/date-picker.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/date-range-picker/date-range-picker.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/password/password.stories.ts
  packages/wiz-ui-next/src/components/base/inputs/text/text.stories.ts
  packages/wiz-ui-next/src/components/base/message-box/message-box.vue
  packages/wiz-ui-next/src/components/base/navigation/item.vue
  packages/wiz-ui-next/src/components/base/textarea/text-area.stories.ts
  packages/wiz-ui-next/vite.config.ts
  packages/wiz-ui-react/.storybook/main.ts
  packages/wiz-ui-react/.storybook/preview.js
  packages/wiz-ui-react/package.json
  packages/wiz-ui-react/src/components/base/inputs/date-picker/stories/date-picker.stories.tsx
  packages/wiz-ui-react/src/components/base/inputs/date-range-picker/stories/date-range-picker.stories.tsx
  packages/wiz-ui-react/src/components/base/inputs/password/stories/password-input.stories.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-input/stories/search-input.stories.tsx
  packages/wiz-ui-react/src/components/base/inputs/search-selector/stories/search-selector.stories.tsx
  packages/wiz-ui-react/src/components/base/inputs/selectbox/stories/selectbox.stories.tsx
  packages/wiz-ui-react/src/components/base/inputs/time-picker/stories/time-picker.stories.tsx
  packages/wiz-ui-react/src/components/base/text-area/stories/text-area.stories.tsx
  packages/wiz-ui-react/src/components/custom/chat/stories/chat-card.stories.tsx
  packages/wiz-ui-react/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Labels: ⬆️ dependencies

#1475 feat(form-control): label suffix
  .changeset/tasty-emus-ring.md
  packages/wiz-ui-next/src/components/custom/form/control.stories.ts
  packages/wiz-ui-next/src/components/custom/form/control.vue
  packages/wiz-ui-react/src/components/custom/form/components/form-control.tsx
  packages/wiz-ui-react/src/components/custom/form/stories/form-control.stories.tsx
Labels: 🎨 story
